<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Alt_Test_State</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>993.49359555341414</real>
					<key>controlPoint1Y</key>
					<real>389.48803653180732</real>
					<key>controlPoint2X</key>
					<real>977.43048432096975</real>
					<key>controlPoint2Y</key>
					<real>479.07856666214764</real>
					<key>dstPointX</key>
					<real>981.19390796594519</real>
					<key>dstPointY</key>
					<real>514.11439391780243</real>
					<key>srcPointX</key>
					<real>961.60764676925351</real>
					<key>srcPointY</key>
					<real>374.48940928950515</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>921</real>
			<key>y</key>
			<real>366.04296875</real>
		</dict>
		<key>Colors_Learned</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>908.78642584664544</real>
					<key>controlPoint1Y</key>
					<real>511.9569945397364</real>
					<key>controlPoint2X</key>
					<real>869.45120565805314</real>
					<key>controlPoint2Y</key>
					<real>411.73406015143263</real>
					<key>dstPointX</key>
					<real>893.24589316404354</real>
					<key>dstPointY</key>
					<real>381.61415134586832</real>
					<key>srcPointX</key>
					<real>944.33042585705755</real>
					<key>srcPointY</key>
					<real>526.44906558645266</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1031.6027096871508</real>
					<key>controlPoint1Y</key>
					<real>469.05394894189948</real>
					<key>controlPoint2X</key>
					<real>1062.397290312849</real>
					<key>controlPoint2Y</key>
					<real>365.94605105810047</real>
					<key>dstPointX</key>
					<real>1087.1260788393467</real>
					<key>dstPointY</key>
					<real>318.71811887224845</real>
					<key>srcPointX</key>
					<real>1006.8739211606533</real>
					<key>srcPointY</key>
					<real>516.28188112775149</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>986</real>
			<key>y</key>
			<real>534</real>
		</dict>
		<key>Control_State</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>519.47230750151948</real>
					<key>controlPoint1Y</key>
					<real>189.62728214816693</real>
					<key>controlPoint2X</key>
					<real>757.52769249848052</real>
					<key>controlPoint2Y</key>
					<real>306.37271785183299</real>
					<key>dstPointX</key>
					<real>879.47677484973269</real>
					<key>dstPointY</key>
					<real>358.16255401708901</real>
					<key>srcPointX</key>
					<real>397.52322515026736</real>
					<key>srcPointY</key>
					<real>137.83744598291099</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>351.63948149572781</real>
					<key>controlPoint1Y</key>
					<real>177.0542913976106</real>
					<key>controlPoint2X</key>
					<real>351.37099918277164</real>
					<key>controlPoint2Y</key>
					<real>231.0752501464074</real>
					<key>dstPointX</key>
					<real>349.73144077474433</real>
					<key>dstPointY</key>
					<real>258.0368773006341</real>
					<key>srcPointX</key>
					<real>353.26855922525567</real>
					<key>srcPointY</key>
					<real>150.09202894936593</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>566.31391702473388</real>
					<key>controlPoint1Y</key>
					<real>173.5097229032624</real>
					<key>controlPoint2X</key>
					<real>897.44494309578113</real>
					<key>controlPoint2Y</key>
					<real>258.66445384848782</real>
					<key>dstPointX</key>
					<real>1064.1201681612201</real>
					<key>dstPointY</key>
					<real>296.56533614395312</real>
					<key>srcPointX</key>
					<real>399.87983183877986</real>
					<key>srcPointY</key>
					<real>134.56357010604691</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>356</real>
			<key>y</key>
			<real>129.95703125</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>134.99823886689339</real>
					<key>controlPoint1Y</key>
					<real>118.89429996307661</real>
					<key>controlPoint2X</key>
					<real>157.4246917920421</real>
					<key>controlPoint2Y</key>
					<real>66.965062391697899</real>
					<key>dstPointX</key>
					<real>178.83743935649284</real>
					<key>dstPointY</key>
					<real>51.487252960220893</real>
					<key>srcPointX</key>
					<real>113.75110616332518</real>
					<key>srcPointY</key>
					<real>134.5986845397791</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>75.6953125</real>
			<key>y</key>
			<real>147.3046875</real>
		</dict>
		<key>Restart_FSMs</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>136.7113953399994</real>
					<key>controlPoint1Y</key>
					<real>265.2346239589678</real>
					<key>controlPoint2X</key>
					<real>119.64311912552611</real>
					<key>controlPoint2Y</key>
					<real>193.4294133003348</real>
					<key>dstPointX</key>
					<real>99.930836189545715</real>
					<key>dstPointY</key>
					<real>163.27179518819412</real>
					<key>srcPointX</key>
					<real>153.89728881045428</real>
					<key>srcPointY</key>
					<real>296.90007981180588</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>175.6953125</real>
			<key>y</key>
			<real>315.3046875</real>
		</dict>
		<key>Say_IP</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>351.37099918277164</real>
					<key>controlPoint1Y</key>
					<real>231.0752501464074</real>
					<key>controlPoint2X</key>
					<real>351.63948149572781</real>
					<key>controlPoint2Y</key>
					<real>177.0542913976106</real>
					<key>dstPointX</key>
					<real>353.26855922525567</real>
					<key>dstPointY</key>
					<real>150.09202894936593</real>
					<key>srcPointX</key>
					<real>349.73144077474433</real>
					<key>srcPointY</key>
					<real>258.0368773006341</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>513.03444399025386</real>
					<key>controlPoint1Y</key>
					<real>299.66626906663708</real>
					<key>controlPoint2X</key>
					<real>755.08662403255573</real>
					<key>controlPoint2Y</key>
					<real>343.43156697616195</real>
					<key>dstPointX</key>
					<real>876.51969626810262</real>
					<key>dstPointY</key>
					<real>362.84030263237941</real>
					<key>srcPointX</key>
					<real>391.48030373189738</real>
					<key>srcPointY</key>
					<real>281.03079111762059</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>347</real>
			<key>y</key>
			<real>278</real>
		</dict>
		<key>Spacing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>901.13807146083104</real>
					<key>controlPoint1Y</key>
					<real>655.35778410965509</real>
					<key>controlPoint2X</key>
					<real>410.36742229313256</real>
					<key>controlPoint2Y</key>
					<real>485.70655790465599</real>
					<key>dstPointX</key>
					<real>211.08279275666857</real>
					<key>dstPointY</key>
					<real>327.38716578093988</real>
					<key>srcPointX</key>
					<real>1136.016154136536</real>
					<key>srcPointY</key>
					<real>753.39695878229998</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1176.73828125</real>
			<key>y</key>
			<real>760.60546875</real>
		</dict>
		<key>Start_Default_Machines</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>297.55488992201856</real>
					<key>controlPoint1Y</key>
					<real>62.844491471646336</real>
					<key>controlPoint2X</key>
					<real>302.83635955642649</real>
					<key>controlPoint2Y</key>
					<real>107.14809594524192</real>
					<key>dstPointX</key>
					<real>319.23644615308569</real>
					<key>dstPointY</key>
					<real>118.59524229802689</real>
					<key>srcPointX</key>
					<real>281.06049145404762</real>
					<key>srcPointY</key>
					<real>51.533663951973111</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>135</real>
			<key>x</key>
			<real>228</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<key>Start_GC</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1133.0965580842453</real>
					<key>controlPoint1Y</key>
					<real>425.70482514948873</real>
					<key>controlPoint2X</key>
					<real>1197.8273281234212</real>
					<key>controlPoint2Y</key>
					<real>636.13372417208564</real>
					<key>dstPointX</key>
					<real>1183.1061607262418</real>
					<key>dstPointY</key>
					<real>741.56392765080477</real>
					<key>srcPointX</key>
					<real>1115.4567366509248</real>
					<key>srcPointY</key>
					<real>320.72350645468248</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1108</real>
			<key>y</key>
			<real>301</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
