<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Alt_Test_State</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1001.8022405487629</real>
					<key>controlPoint1Y</key>
					<real>470.22972809893304</real>
					<key>controlPoint2X</key>
					<real>1090.3417696470776</real>
					<key>controlPoint2Y</key>
					<real>660.08130568348088</real>
					<key>dstPointX</key>
					<real>1150.8352759685001</real>
					<key>dstPointY</key>
					<real>744.72819014911681</real>
					<key>srcPointX</key>
					<real>945.396624723066</real>
					<key>srcPointY</key>
					<real>382.80567042530078</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>921</real>
			<key>y</key>
			<real>366.04296875</real>
		</dict>
		<key>Control_State</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>519.25097168428431</real>
					<key>controlPoint1Y</key>
					<real>190.18606608573717</real>
					<key>controlPoint2X</key>
					<real>757.7490283157158</real>
					<key>controlPoint2Y</key>
					<real>305.8139339142628</real>
					<key>dstPointX</key>
					<real>879.47677484973269</real>
					<key>dstPointY</key>
					<real>358.07661651708901</real>
					<key>srcPointX</key>
					<real>397.52322515026736</real>
					<key>srcPointY</key>
					<real>137.92338348291099</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>351.64768417071451</real>
					<key>controlPoint1Y</key>
					<real>177.11921161052703</real>
					<key>controlPoint2X</key>
					<real>351.36969580903366</real>
					<key>controlPoint2Y</key>
					<real>231.096683403432</real>
					<key>dstPointX</key>
					<real>349.73144077474433</real>
					<key>dstPointY</key>
					<real>258.0368773006341</real>
					<key>srcPointX</key>
					<real>353.26855922525567</real>
					<key>srcPointY</key>
					<real>150.17796644936593</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>566.14496668252195</real>
					<key>controlPoint1Y</key>
					<real>174.28878372753559</real>
					<key>controlPoint2X</key>
					<real>897.4499069929966</real>
					<key>controlPoint2Y</key>
					<real>258.66558260703016</real>
					<key>dstPointX</key>
					<real>1064.1201681612201</real>
					<key>dstPointY</key>
					<real>296.56533614395312</real>
					<key>srcPointX</key>
					<real>399.87983183877986</real>
					<key>srcPointY</key>
					<real>134.64950760604691</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>356</real>
			<key>y</key>
			<real>129.95703125</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>135.31666845129848</real>
					<key>controlPoint1Y</key>
					<real>117.99700365716812</real>
					<key>controlPoint2X</key>
					<real>158.6237066081604</real>
					<key>controlPoint2Y</key>
					<real>67.136316062334586</real>
					<key>dstPointX</key>
					<real>179.83743935649284</real>
					<key>dstPointY</key>
					<real>51.487252960220893</real>
					<key>srcPointX</key>
					<real>114.36048116332518</real>
					<key>srcPointY</key>
					<real>133.9893095397791</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>75.6953125</real>
			<key>y</key>
			<real>147.3046875</real>
		</dict>
		<key>Restart_FSMs</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>138.12318589036298</real>
					<key>controlPoint1Y</key>
					<real>264.20273697356873</real>
					<key>controlPoint2X</key>
					<real>121.12903280424933</real>
					<key>controlPoint2Y</key>
					<real>192.22855712327194</real>
					<key>dstPointX</key>
					<real>100.54021118954572</real>
					<key>dstPointY</key>
					<real>162.66242018819412</real>
					<key>srcPointX</key>
					<real>154.50666381045428</real>
					<key>srcPointY</key>
					<real>296.29070481180588</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>175.6953125</real>
			<key>y</key>
			<real>315.3046875</real>
		</dict>
		<key>Say_IP</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>351.36969580903366</real>
					<key>controlPoint1Y</key>
					<real>231.096683403432</real>
					<key>controlPoint2X</key>
					<real>351.64768417071451</real>
					<key>controlPoint2Y</key>
					<real>177.11921161052703</real>
					<key>dstPointX</key>
					<real>353.26855922525567</real>
					<key>dstPointY</key>
					<real>150.17796644936593</real>
					<key>srcPointX</key>
					<real>349.73144077474433</real>
					<key>srcPointY</key>
					<real>258.0368773006341</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>513.03091204838756</real>
					<key>controlPoint1Y</key>
					<real>299.66572758426037</real>
					<key>controlPoint2X</key>
					<real>755.17345267516589</real>
					<key>controlPoint2Y</key>
					<real>342.8320057061427</real>
					<key>dstPointX</key>
					<real>876.51969626810262</real>
					<key>dstPointY</key>
					<real>362.75436513237941</real>
					<key>srcPointX</key>
					<real>391.48030373189738</real>
					<key>srcPointY</key>
					<real>281.03079111762059</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>347</real>
			<key>y</key>
			<real>278</real>
		</dict>
		<key>Spacing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>898.41699182975719</real>
					<key>controlPoint1Y</key>
					<real>663.95546296465477</real>
					<key>controlPoint2X</key>
					<real>416.14543940519729</real>
					<key>controlPoint2Y</key>
					<real>478.57629507286697</real>
					<key>dstPointX</key>
					<real>211.69216775666857</real>
					<key>dstPointY</key>
					<real>326.77779078093988</real>
					<key>srcPointX</key>
					<real>1136.539591636536</real>
					<key>srcPointY</key>
					<real>754.18602128229998</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1176.73828125</real>
			<key>y</key>
			<real>760.60546875</real>
		</dict>
		<key>Start_Default_Machines</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>298.65334140107359</real>
					<key>controlPoint1Y</key>
					<real>62.699564302391849</real>
					<key>controlPoint2X</key>
					<real>302.7958792707592</real>
					<key>controlPoint2Y</key>
					<real>107.29224830346823</real>
					<key>dstPointX</key>
					<real>319.23644615308569</real>
					<key>dstPointY</key>
					<real>118.68117979802689</real>
					<key>srcPointX</key>
					<real>282.06049145404762</real>
					<key>srcPointY</key>
					<real>51.533663951973111</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>135</real>
			<key>x</key>
			<real>228</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<key>Start_GC</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1133.1322732167487</real>
					<key>controlPoint1Y</key>
					<real>425.91737955213614</real>
					<key>controlPoint2X</key>
					<real>1200.2781539699372</real>
					<key>controlPoint2Y</key>
					<real>636.99170161567895</real>
					<key>dstPointX</key>
					<real>1183.6295982262418</real>
					<key>dstPointY</key>
					<real>742.35299015080477</real>
					<key>srcPointX</key>
					<real>1115.4567366509248</real>
					<key>srcPointY</key>
					<real>320.72350645468248</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1108</real>
			<key>y</key>
			<real>301</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
