<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Alt_Test_State</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1178.21484375</real>
					<key>controlPoint1Y</key>
					<real>370.92578125</real>
					<key>controlPoint2X</key>
					<real>977.43275662084852</real>
					<key>controlPoint2Y</key>
					<real>479.09972077965796</real>
					<key>dstPointX</key>
					<real>981.19390796594519</real>
					<key>dstPointY</key>
					<real>514.11439391780243</real>
					<key>srcPointX</key>
					<real>961.60764676925351</real>
					<key>srcPointY</key>
					<real>374.57534678950515</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>921</real>
			<key>y</key>
			<real>366.04296875</real>
		</dict>
		<key>Colors_Learned</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>905.02734375</real>
					<key>controlPoint1Y</key>
					<real>540.91015625</real>
					<key>controlPoint2X</key>
					<real>869.54417080309906</real>
					<key>controlPoint2Y</key>
					<real>411.86744697413951</real>
					<key>dstPointX</key>
					<real>893.24589316404354</real>
					<key>dstPointY</key>
					<real>381.70008884586832</real>
					<key>srcPointX</key>
					<real>944.33042585705755</real>
					<key>srcPointY</key>
					<real>526.44906558645266</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1031.6027096871508</real>
					<key>controlPoint1Y</key>
					<real>469.05394894189948</real>
					<key>controlPoint2X</key>
					<real>1062.397290312849</real>
					<key>controlPoint2Y</key>
					<real>365.94605105810047</real>
					<key>dstPointX</key>
					<real>1087.1260788393467</real>
					<key>dstPointY</key>
					<real>318.71811887224845</real>
					<key>srcPointX</key>
					<real>1006.8739211606533</real>
					<key>srcPointY</key>
					<real>516.28188112775149</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>986</real>
			<key>y</key>
			<real>534</real>
		</dict>
		<key>Control_State</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>519.69249565730263</real>
					<key>controlPoint1Y</key>
					<real>189.06595479177452</real>
					<key>controlPoint2X</key>
					<real>757.30750434269737</real>
					<key>controlPoint2Y</key>
					<real>306.93404520822537</real>
					<key>dstPointX</key>
					<real>879.47677484973269</real>
					<key>dstPointY</key>
					<real>358.24849151708901</real>
					<key>srcPointX</key>
					<real>397.52322515026736</real>
					<key>srcPointY</key>
					<real>137.75150848291099</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>351.6312087152603</real>
					<key>controlPoint1Y</key>
					<real>176.98936517294649</real>
					<key>controlPoint2X</key>
					<real>351.37230255762125</real>
					<key>controlPoint2Y</key>
					<real>231.05381687110258</real>
					<key>dstPointX</key>
					<real>349.73144077474433</real>
					<key>dstPointY</key>
					<real>258.0368773006341</real>
					<key>srcPointX</key>
					<real>353.26855922525567</real>
					<key>srcPointY</key>
					<real>150.00609144936593</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>566.48029275732335</real>
					<key>controlPoint1Y</key>
					<real>172.7285819749342</real>
					<key>controlPoint2X</key>
					<real>897.43997671330146</real>
					<key>controlPoint2Y</key>
					<real>258.66332452481225</real>
					<key>dstPointX</key>
					<real>1064.1201681612201</real>
					<key>dstPointY</key>
					<real>296.56533614395312</real>
					<key>srcPointX</key>
					<real>399.87983183877986</real>
					<key>srcPointY</key>
					<real>134.47763260604691</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>356</real>
			<key>y</key>
			<real>129.95703125</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>134.69030592658197</real>
					<key>controlPoint1Y</key>
					<real>119.81502639437855</real>
					<key>controlPoint2X</key>
					<real>156.22998065559551</real>
					<key>controlPoint2Y</key>
					<real>66.797519849863392</real>
					<key>dstPointX</key>
					<real>177.83743935649284</real>
					<key>dstPointY</key>
					<real>51.487252960220893</real>
					<key>srcPointX</key>
					<real>113.14173116332518</real>
					<key>srcPointY</key>
					<real>135.2080595397791</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>75.6953125</real>
			<key>y</key>
			<real>147.3046875</real>
		</dict>
		<key>Restart_FSMs</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>135.27887417406765</real>
					<key>controlPoint1Y</key>
					<real>266.3047993879606</real>
					<key>controlPoint2X</key>
					<real>118.17315753805136</real>
					<key>controlPoint2Y</key>
					<real>194.58409469921747</real>
					<key>dstPointX</key>
					<real>99.321461189545715</real>
					<key>dstPointY</key>
					<real>163.88117018819412</real>
					<key>srcPointX</key>
					<real>153.28791381045428</real>
					<key>srcPointY</key>
					<real>297.50945481180588</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>175.6953125</real>
			<key>y</key>
			<real>315.3046875</real>
		</dict>
		<key>Say_IP</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>351.37230255762125</real>
					<key>controlPoint1Y</key>
					<real>231.05381687110258</real>
					<key>controlPoint2X</key>
					<real>351.6312087152603</real>
					<key>controlPoint2Y</key>
					<real>176.98936517294649</real>
					<key>dstPointX</key>
					<real>353.26855922525567</real>
					<key>dstPointY</key>
					<real>150.00609144936593</real>
					<key>srcPointX</key>
					<real>349.73144077474433</real>
					<key>srcPointY</key>
					<real>258.0368773006341</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>513.03797953949402</real>
					<key>controlPoint1Y</key>
					<real>299.66681110206065</real>
					<key>controlPoint2X</key>
					<real>755.00185734025035</real>
					<key>controlPoint2Y</key>
					<real>344.03220374759036</real>
					<key>dstPointX</key>
					<real>876.51969626810262</real>
					<key>dstPointY</key>
					<real>362.92624013237941</real>
					<key>srcPointX</key>
					<real>391.48030373189738</real>
					<key>srcPointY</key>
					<real>281.03079111762059</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>347</real>
			<key>y</key>
			<real>278</real>
		</dict>
		<key>Start_Default_Machines</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>296.45254118550343</real>
					<key>controlPoint1Y</key>
					<real>62.992315949545912</real>
					<key>controlPoint2X</key>
					<real>302.87684509984445</real>
					<key>controlPoint2Y</key>
					<real>107.00437309989032</real>
					<key>dstPointX</key>
					<real>319.23644615308569</real>
					<key>dstPointY</key>
					<real>118.50930479802689</real>
					<key>srcPointX</key>
					<real>280.06049145404762</real>
					<key>srcPointY</key>
					<real>51.533663951973111</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>135</real>
			<key>x</key>
			<real>228</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<key>Start_GC</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1108</real>
			<key>y</key>
			<real>301</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
