<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>291.24086715347084</real>
					<key>controlPoint1Y</key>
					<real>406.84611449014653</real>
					<key>controlPoint2X</key>
					<real>431.99989257388268</real>
					<key>controlPoint2Y</key>
					<real>350.73278495042274</real>
					<key>dstPointX</key>
					<real>506.05359693833265</real>
					<key>dstPointY</key>
					<real>336.7009181612338</real>
					<key>srcPointX</key>
					<real>218.978647013678</real>
					<key>srcPointY</key>
					<real>428.27077215730696</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>292.86165118986207</real>
					<key>controlPoint1Y</key>
					<real>429.53127555326478</real>
					<key>controlPoint2X</key>
					<real>435.76442327519982</real>
					<key>controlPoint2Y</key>
					<real>406.36357384503276</real>
					<key>dstPointX</key>
					<real>507.3264052048458</real>
					<key>dstPointY</key>
					<real>395.90244800785024</real>
					<key>srcPointX</key>
					<real>220.62372055615074</real>
					<key>srcPointY</key>
					<real>433.02895896367482</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>292.63835093379441</real>
					<key>controlPoint1Y</key>
					<real>449.52042589852721</real>
					<key>controlPoint2X</key>
					<real>439.66667340493018</real>
					<key>controlPoint2Y</key>
					<real>464.29053882259416</real>
					<key>dstPointX</key>
					<real>513.37137258321548</real>
					<key>dstPointY</key>
					<real>462.47274985473518</real>
					<key>srcPointX</key>
					<real>219.92859719724575</real>
					<key>srcPointY</key>
					<real>437.31474077791034</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>290.1652563613203</real>
					<key>controlPoint1Y</key>
					<real>469.58303720802337</real>
					<key>controlPoint2X</key>
					<real>439.19163400350646</real>
					<key>controlPoint2Y</key>
					<real>521.48556951880335</real>
					<key>dstPointX</key>
					<real>516.85906346537126</real>
					<key>dstPointY</key>
					<real>529.87970586229858</real>
					<key>srcPointX</key>
					<real>217.36709411335352</real>
					<key>srcPointY</key>
					<real>441.24368828315158</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>286.09448023191834</real>
					<key>controlPoint1Y</key>
					<real>489.93021646951945</real>
					<key>controlPoint2X</key>
					<real>433.35932164514173</real>
					<key>controlPoint2Y</key>
					<real>590.57375878280129</real>
					<key>dstPointX</key>
					<real>518.46346951496287</real>
					<key>dstPointY</key>
					<real>599.80478657233402</real>
					<key>srcPointX</key>
					<real>213.50474803458928</real>
					<key>srcPointY</key>
					<real>444.55777286969163</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>175.3046875</real>
			<key>y</key>
			<real>434</real>
		</dict>
		<key>Delay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>208.09749332323693</real>
					<key>controlPoint1Y</key>
					<real>315.03317193185296</real>
					<key>controlPoint2X</key>
					<real>180.94287175615747</real>
					<key>controlPoint2Y</key>
					<real>379.82727844605427</real>
					<key>dstPointX</key>
					<real>178.61635087446518</real>
					<key>dstPointY</key>
					<real>413.78436760958482</real>
					<key>srcPointX</key>
					<real>208.48615259691283</real>
					<key>srcPointY</key>
					<real>280.99869606043842</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>209</real>
			<key>y</key>
			<real>261</real>
		</dict>
		<key>Done</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>742.88858263912653</real>
					<key>controlPoint1Y</key>
					<real>283.22603288820301</real>
					<key>controlPoint2X</key>
					<real>379.86957988691051</real>
					<key>controlPoint2Y</key>
					<real>255.16307942117223</real>
					<key>dstPointX</key>
					<real>253.96402667205984</real>
					<key>dstPointY</key>
					<real>260.20045624932561</real>
					<key>srcPointX</key>
					<real>735.60330758742555</real>
					<key>srcPointY</key>
					<real>409.02153464827177</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>732.9140625</real>
			<key>y</key>
			<real>429</real>
		</dict>
		<key>FallingBack</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>619.09378787259402</real>
					<key>controlPoint1Y</key>
					<real>404.37097416070526</real>
					<key>controlPoint2X</key>
					<real>663.84202355415687</real>
					<key>controlPoint2Y</key>
					<real>427.60808224732642</real>
					<key>dstPointX</key>
					<real>688.15735736409374</real>
					<key>dstPointY</key>
					<real>428.3730193239773</real>
					<key>srcPointX</key>
					<real>595.57905129894039</real>
					<key>srcPointY</key>
					<real>398.13577160653188</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>552</real>
			<key>y</key>
			<real>393</real>
		</dict>
		<key>FallingLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>627.50943719720601</real>
					<key>controlPoint1Y</key>
					<real>505.36712055120319</real>
					<key>controlPoint2X</key>
					<real>677.38914455310919</real>
					<key>controlPoint2Y</key>
					<real>464.95707862418942</real>
					<key>dstPointX</key>
					<real>700.38837938707422</real>
					<key>dstPointY</key>
					<real>442.90018978791437</real>
					<key>srcPointX</key>
					<real>600.12171058696401</real>
					<key>srcPointY</key>
					<real>521.65771842870004</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>560.95703125</real>
			<key>y</key>
			<real>532</real>
		</dict>
		<key>FallingRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>625.61410776590856</real>
					<key>controlPoint1Y</key>
					<real>457.02582378315674</real>
					<key>controlPoint2X</key>
					<real>670.71518890776406</real>
					<key>controlPoint2Y</key>
					<real>446.02170180201921</real>
					<key>dstPointX</key>
					<real>691.66303782785837</real>
					<key>dstPointY</key>
					<real>436.95329996513414</real>
					<key>srcPointX</key>
					<real>602.93665980085325</real>
					<key>srcPointY</key>
					<real>459.62998200540886</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>556.6953125</real>
			<key>y</key>
			<real>462</real>
		</dict>
		<key>Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>624.81803610832173</real>
					<key>controlPoint1Y</key>
					<real>345.3295273268609</real>
					<key>controlPoint2X</key>
					<real>664.06291306840319</real>
					<key>controlPoint2Y</key>
					<real>406.04208638941128</real>
					<key>dstPointX</key>
					<real>693.09055675149693</real>
					<key>dstPointY</key>
					<real>420.29230891121369</real>
					<key>srcPointX</key>
					<real>593.39663274189377</real>
					<key>srcPointY</key>
					<real>337.68960912063852</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>333.0859375</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>179.08384321611257</real>
					<key>controlPoint1Y</key>
					<real>198.23040587714962</real>
					<key>controlPoint2X</key>
					<real>201.19231334225475</real>
					<key>controlPoint2Y</key>
					<real>221.34873140402971</real>
					<key>dstPointX</key>
					<real>203.59954154601002</real>
					<key>dstPointY</key>
					<real>241.203334204767</real>
					<key>srcPointX</key>
					<real>180.94274512285853</real>
					<key>srcPointY</key>
					<real>178.31698116664097</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>185</real>
			<key>y</key>
			<real>159.0859375</real>
		</dict>
		<key>StandingUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>628.47207213389822</real>
					<key>controlPoint1Y</key>
					<real>553.96510147082358</real>
					<key>controlPoint2X</key>
					<real>711.31508702969779</real>
					<key>controlPoint2Y</key>
					<real>494.28093302506301</real>
					<key>dstPointX</key>
					<real>722.35064676031152</real>
					<key>dstPointY</key>
					<real>448.59448152381873</real>
					<key>srcPointX</key>
					<real>595.63934720973714</real>
					<key>srcPointY</key>
					<real>587.59615264972467</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>564.04296875</real>
			<key>y</key>
			<real>602</real>
		</dict>
	</dict>
</dict>
</plist>
