<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>GC_Running</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>439.01174247723407</real>
					<key>controlPoint1Y</key>
					<real>389.69937109491076</real>
					<key>controlPoint2X</key>
					<real>291.55612785123657</real>
					<key>controlPoint2Y</key>
					<real>283.56454236053207</real>
					<key>dstPointX</key>
					<real>220.1211610445601</real>
					<key>dstPointY</key>
					<real>308.22933855516584</real>
					<key>srcPointX</key>
					<real>488.99996652856441</real>
					<key>srcPointY</key>
					<real>446.37815116459632</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>398.79629858685473</real>
					<key>controlPoint1Y</key>
					<real>479.23546088851083</real>
					<key>controlPoint2X</key>
					<real>212.83529452642685</real>
					<key>controlPoint2Y</key>
					<real>408.77305894769665</real>
					<key>dstPointX</key>
					<real>188.99829072363525</real>
					<key>dstPointY</key>
					<real>333.2929782575855</real>
					<key>srcPointX</key>
					<real>476.73426085757114</real>
					<key>srcPointY</key>
					<real>465.41086800595627</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>519.6953125</real>
			<key>y</key>
			<real>462.3046875</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>153.41508136437321</real>
					<key>controlPoint1Y</key>
					<real>102.95045966803883</real>
					<key>controlPoint2X</key>
					<real>269.58902678111207</real>
					<key>controlPoint2Y</key>
					<real>61.658966131916983</real>
					<key>dstPointX</key>
					<real>310.89673916938921</real>
					<key>dstPointY</key>
					<real>90.713735972041675</real>
					<key>srcPointX</key>
					<real>113.5762237733762</real>
					<key>srcPointY</key>
					<real>133.98869703840995</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>75.6953125</real>
			<key>y</key>
			<real>147.3046875</real>
		</dict>
		<key>Restart_FSMs</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>130.95439773960445</real>
					<key>controlPoint1Y</key>
					<real>267.61645413869093</real>
					<key>controlPoint2X</key>
					<real>120.08473448199226</real>
					<key>controlPoint2Y</key>
					<real>192.67617346286394</real>
					<key>dstPointX</key>
					<real>99.925524530899651</real>
					<key>dstPointY</key>
					<real>162.77320016932256</real>
					<key>srcPointX</key>
					<real>150.69196755251085</real>
					<key>srcPointY</key>
					<real>297.79939461053903</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>175.6953125</real>
			<key>y</key>
			<real>315.3046875</real>
		</dict>
		<key>Start_Default_Machines</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>427.59203599831625</real>
					<key>controlPoint1Y</key>
					<real>30.569405254530764</real>
					<key>controlPoint2X</key>
					<real>633.47607148045563</real>
					<key>controlPoint2Y</key>
					<real>222.35231801603419</real>
					<key>dstPointX</key>
					<real>597.67549812475943</real>
					<key>dstPointY</key>
					<real>287.62538145862936</real>
					<key>srcPointX</key>
					<real>378.24646767284747</real>
					<key>srcPointY</key>
					<real>86.312285969597269</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>313.93251596373324</real>
					<key>controlPoint1Y</key>
					<real>184.55070546287158</real>
					<key>controlPoint2X</key>
					<real>494.26620050481307</real>
					<key>controlPoint2Y</key>
					<real>244.78099623834933</real>
					<key>dstPointX</key>
					<real>542.59250842247775</real>
					<key>dstPointY</key>
					<real>291.94352648310405</real>
					<key>srcPointX</key>
					<real>334.17849428239839</real>
					<key>srcPointY</key>
					<real>120.13147962181941</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>346.6953125</real>
			<key>y</key>
			<real>102.3046875</real>
		</dict>
		<key>Start_GC</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>569.23420410127233</real>
					<key>controlPoint1Y</key>
					<real>355.35569480046945</real>
					<key>controlPoint2X</key>
					<real>553.64213277257227</real>
					<key>controlPoint2Y</key>
					<real>415.28400033032472</real>
					<key>dstPointX</key>
					<real>540.56124949868126</real>
					<key>dstPointY</key>
					<real>442.78661464982667</real>
					<key>srcPointX</key>
					<real>571.62892965327319</real>
					<key>srcPointY</key>
					<real>324.99505266030661</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>574.6953125</real>
			<key>y</key>
			<real>306.3046875</real>
		</dict>
	</dict>
</dict>
</plist>
