<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>GC_Running</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>436.7530198386749</real>
					<key>controlPoint1Y</key>
					<real>391.80720499875576</real>
					<key>controlPoint2X</key>
					<real>291.51870023981644</real>
					<key>controlPoint2Y</key>
					<real>285.89724537915816</real>
					<key>dstPointX</key>
					<real>219.5117860445601</real>
					<key>dstPointY</key>
					<real>308.83871355516584</real>
					<key>srcPointX</key>
					<real>488.39059152856441</real>
					<key>srcPointY</key>
					<real>446.98752616459632</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>398.60073112776934</real>
					<key>controlPoint1Y</key>
					<real>482.0030701873327</real>
					<key>controlPoint2X</key>
					<real>210.52625028319721</real>
					<key>controlPoint2Y</key>
					<real>409.89829887232219</real>
					<key>dstPointX</key>
					<real>188.38891572363525</real>
					<key>dstPointY</key>
					<real>333.9023532575855</real>
					<key>srcPointX</key>
					<real>476.12488585757114</real>
					<key>srcPointY</key>
					<real>466.02024300595627</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>519.6953125</real>
			<key>y</key>
			<real>462.3046875</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>153.27489773043089</real>
					<key>controlPoint1Y</key>
					<real>104.17163710937291</real>
					<key>controlPoint2X</key>
					<real>268.02807208453066</real>
					<key>controlPoint2Y</key>
					<real>63.67064298631108</real>
					<key>dstPointX</key>
					<real>310.28736416938921</real>
					<key>dstPointY</key>
					<real>91.323110972041675</real>
					<key>srcPointX</key>
					<real>112.9668487733762</real>
					<key>srcPointY</key>
					<real>134.59807203840995</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>75.6953125</real>
			<key>y</key>
			<real>147.3046875</real>
		</dict>
		<key>Restart_FSMs</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>129.51550079045862</real>
					<key>controlPoint1Y</key>
					<real>268.78485538405971</real>
					<key>controlPoint2X</key>
					<real>118.59491249646496</real>
					<key>controlPoint2Y</key>
					<real>193.86061408530315</real>
					<key>dstPointX</key>
					<real>99.316149530899651</real>
					<key>dstPointY</key>
					<real>163.38257516932256</real>
					<key>srcPointX</key>
					<real>150.08259255251085</real>
					<key>srcPointY</key>
					<real>298.40876961053903</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>175.6953125</real>
			<key>y</key>
			<real>315.3046875</real>
		</dict>
		<key>Start_Default_Machines</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>427.53206810218904</real>
					<key>controlPoint1Y</key>
					<real>31.670006780034385</real>
					<key>controlPoint2X</key>
					<real>633.04534712015516</real>
					<key>controlPoint2Y</key>
					<real>223.05999673934247</real>
					<key>dstPointX</key>
					<real>597.06612312475943</real>
					<key>dstPointY</key>
					<real>288.23475645862936</real>
					<key>srcPointX</key>
					<real>377.63709267284747</real>
					<key>srcPointY</key>
					<real>86.921660969597269</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>313.07546299618906</real>
					<key>controlPoint1Y</key>
					<real>185.08171526311838</real>
					<key>controlPoint2X</key>
					<real>492.1990694183765</real>
					<key>controlPoint2Y</key>
					<real>246.9318179002266</real>
					<key>dstPointX</key>
					<real>541.98313342247775</real>
					<key>dstPointY</key>
					<real>292.55290148310405</real>
					<key>srcPointX</key>
					<real>333.56911928239839</real>
					<key>srcPointY</key>
					<real>120.74085462181941</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>346.6953125</real>
			<key>y</key>
			<real>102.3046875</real>
		</dict>
		<key>Start_GC</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>568.28244863473958</real>
					<key>controlPoint1Y</key>
					<real>355.93611986954119</real>
					<key>controlPoint2X</key>
					<real>553.05564989704487</real>
					<key>controlPoint2Y</key>
					<real>415.90427504448286</real>
					<key>dstPointX</key>
					<real>539.95187449868126</real>
					<key>dstPointY</key>
					<real>443.39598964982667</real>
					<key>srcPointX</key>
					<real>571.01955465327319</real>
					<key>srcPointY</key>
					<real>325.60442766030661</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>574.6953125</real>
			<key>y</key>
			<real>306.3046875</real>
		</dict>
	</dict>
</dict>
</plist>
