<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>GC_Running</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>456.23330703118057</real>
					<key>controlPoint1Y</key>
					<real>414.2634642245294</real>
					<key>controlPoint2X</key>
					<real>263.09688291608313</real>
					<key>controlPoint2Y</key>
					<real>295.75784716772131</real>
					<key>dstPointX</key>
					<real>219.2070985445601</real>
					<key>dstPointY</key>
					<real>309.14340105516584</real>
					<key>srcPointX</key>
					<real>488.08590402856441</real>
					<key>srcPointY</key>
					<real>447.29221366459632</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>427.42003536303838</real>
					<key>controlPoint1Y</key>
					<real>476.98560576261883</real>
					<key>controlPoint2X</key>
					<real>201.43057518172884</real>
					<key>controlPoint2Y</key>
					<real>381.93649495202965</real>
					<key>dstPointX</key>
					<real>188.08422822363525</real>
					<key>dstPointY</key>
					<real>334.2070407575855</real>
					<key>srcPointX</key>
					<real>475.82019835757114</real>
					<key>srcPointY</key>
					<real>466.32493050595627</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>519.6953125</real>
			<key>y</key>
			<real>462.3046875</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>156.53070162564291</real>
					<key>controlPoint1Y</key>
					<real>102.33379492903573</real>
					<key>controlPoint2X</key>
					<real>263.76421015860234</real>
					<key>controlPoint2Y</key>
					<real>62.489513660536417</real>
					<key>dstPointX</key>
					<real>309.98267666938921</real>
					<key>dstPointY</key>
					<real>91.627798472041675</real>
					<key>srcPointX</key>
					<real>112.6621612733762</real>
					<key>srcPointY</key>
					<real>134.90275953840995</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>75.6953125</real>
			<key>y</key>
			<real>147.3046875</real>
		</dict>
		<key>Restart_FSMs</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>127.14130852836354</real>
					<key>controlPoint1Y</key>
					<real>267.079379931522</real>
					<key>controlPoint2X</key>
					<real>119.33806995846879</real>
					<key>controlPoint2Y</key>
					<real>196.85289776536624</real>
					<key>dstPointX</key>
					<real>99.011462030899651</real>
					<key>dstPointY</key>
					<real>163.68726266932256</real>
					<key>srcPointX</key>
					<real>149.77790505251085</real>
					<key>srcPointY</key>
					<real>298.71345711053903</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>175.6953125</real>
			<key>y</key>
			<real>315.3046875</real>
		</dict>
		<key>Start_Default_Machines</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>413.74345816616579</real>
					<key>controlPoint1Y</key>
					<real>47.324155984226913</real>
					<key>controlPoint2X</key>
					<real>622.93583772763213</real>
					<key>controlPoint2Y</key>
					<real>241.28639728670652</real>
					<key>dstPointX</key>
					<real>596.76143562475943</real>
					<key>dstPointY</key>
					<real>288.53944395862936</real>
					<key>srcPointX</key>
					<real>377.33240517284747</real>
					<key>srcPointY</key>
					<real>87.226348469597269</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>319.08497344205841</real>
					<key>controlPoint1Y</key>
					<real>165.28286818771821</real>
					<key>controlPoint2X</key>
					<real>506.93287913870489</real>
					<key>controlPoint2Y</key>
					<real>262.02345781064412</real>
					<key>dstPointX</key>
					<real>541.67844592247775</real>
					<key>dstPointY</key>
					<real>292.85758898310405</real>
					<key>srcPointX</key>
					<real>333.26443178239839</real>
					<key>srcPointY</key>
					<real>121.04554212181941</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>346.6953125</real>
			<key>y</key>
			<real>102.3046875</real>
		</dict>
		<key>Start_GC</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>567.81479028880869</real>
					<key>controlPoint1Y</key>
					<real>356.22565941938456</real>
					<key>controlPoint2X</key>
					<real>552.7629692995904</real>
					<key>controlPoint2Y</key>
					<real>416.21468878725193</real>
					<key>dstPointX</key>
					<real>539.64718699868126</real>
					<key>dstPointY</key>
					<real>443.70067714982667</real>
					<key>srcPointX</key>
					<real>570.71486715327319</real>
					<key>srcPointY</key>
					<real>325.90911516030661</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>574.6953125</real>
			<key>y</key>
			<real>306.3046875</real>
		</dict>
	</dict>
</dict>
</plist>
