<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>314.78882878302909</real>
					<key>controlPoint1Y</key>
					<real>410.95102919990217</real>
					<key>controlPoint2X</key>
					<real>439.05075488254118</real>
					<key>controlPoint2Y</key>
					<real>350.1582566677406</real>
					<key>dstPointX</key>
					<real>506.05359693833265</real>
					<key>dstPointY</key>
					<real>336.8727931612338</real>
					<key>srcPointX</key>
					<real>249.283334513678</real>
					<key>srcPointY</key>
					<real>430.31374090730696</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>315.70327385312646</real>
					<key>controlPoint1Y</key>
					<real>432.06135019948118</real>
					<key>controlPoint2X</key>
					<real>443.16355165292322</real>
					<key>controlPoint2Y</key>
					<real>405.28194906386153</real>
					<key>dstPointX</key>
					<real>507.3264052048458</real>
					<key>dstPointY</key>
					<real>395.90244800785024</real>
					<key>srcPointX</key>
					<real>250.92840805615074</real>
					<key>srcPointY</key>
					<real>435.07192771367482</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>315.34867907656871</real>
					<key>controlPoint1Y</key>
					<real>450.47912654768436</real>
					<key>controlPoint2X</key>
					<real>447.72366627820861</real>
					<key>controlPoint2Y</key>
					<real>464.09734215824949</real>
					<key>dstPointX</key>
					<real>513.76199758321548</real>
					<key>dstPointY</key>
					<real>462.47274985473518</real>
					<key>srcPointX</key>
					<real>250.23328469724575</real>
					<key>srcPointY</key>
					<real>439.35770952791034</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>313.42498693016222</real>
					<key>controlPoint1Y</key>
					<real>469.15601836604981</real>
					<key>controlPoint2X</key>
					<real>446.52155365684956</real>
					<key>controlPoint2Y</key>
					<real>522.30181345167432</real>
					<key>dstPointX</key>
					<real>516.77312596537126</real>
					<key>dstPointY</key>
					<real>529.87970586229858</real>
					<key>srcPointX</key>
					<real>247.67178161335352</real>
					<key>srcPointY</key>
					<real>443.28665703315158</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>310.32626422715612</real>
					<key>controlPoint1Y</key>
					<real>488.56215508204724</real>
					<key>controlPoint2X</key>
					<real>440.36337708398423</real>
					<key>controlPoint2Y</key>
					<real>591.30811412324226</real>
					<key>dstPointX</key>
					<real>518.54940701496287</real>
					<key>dstPointY</key>
					<real>599.80478657233402</real>
					<key>srcPointX</key>
					<real>243.80943553458928</real>
					<key>srcPointY</key>
					<real>446.60074161969163</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>206</real>
			<key>y</key>
			<real>436.04296875</real>
		</dict>
		<key>Delay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>208.10113156172349</real>
					<key>controlPoint1Y</key>
					<real>314.71457528854165</real>
					<key>controlPoint2X</key>
					<real>211.08653141290301</real>
					<key>controlPoint2Y</key>
					<real>382.17886844168316</real>
					<key>dstPointX</key>
					<real>208.92103837446518</real>
					<key>dstPointY</key>
					<real>415.82733635958482</real>
					<key>srcPointX</key>
					<real>208.48615259691283</real>
					<key>srcPointY</key>
					<real>280.99869606043842</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>209</real>
			<key>y</key>
			<real>261</real>
		</dict>
		<key>Done</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>742.23495610376779</real>
					<key>controlPoint1Y</key>
					<real>283.24017061881779</real>
					<key>controlPoint2X</key>
					<real>379.8285603406365</real>
					<key>controlPoint2Y</key>
					<real>255.16472057921987</real>
					<key>dstPointX</key>
					<real>253.96402667205984</real>
					<key>dstPointY</key>
					<real>260.20045624932561</real>
					<key>srcPointX</key>
					<real>735.43143258742555</real>
					<key>srcPointY</key>
					<real>409.02153464827177</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>732.9140625</real>
			<key>y</key>
			<real>429</real>
		</dict>
		<key>FallingBack</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>619.05431400770215</real>
					<key>controlPoint1Y</key>
					<real>404.36050721192925</real>
					<key>controlPoint2X</key>
					<real>663.7108749077978</real>
					<key>controlPoint2Y</key>
					<real>427.61227925981552</real>
					<key>dstPointX</key>
					<real>687.98548236409374</real>
					<key>dstPointY</key>
					<real>428.3730193239773</real>
					<key>srcPointX</key>
					<real>595.57905129894039</real>
					<key>srcPointY</key>
					<real>398.13577160653188</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>552</real>
			<key>y</key>
			<real>393</real>
		</dict>
		<key>FallingLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>627.39323088486128</real>
					<key>controlPoint1Y</key>
					<real>505.34930064154423</real>
					<key>controlPoint2X</key>
					<real>677.17165574655883</real>
					<key>controlPoint2Y</key>
					<real>464.88495585489562</real>
					<key>dstPointX</key>
					<real>700.21650438707422</real>
					<key>dstPointY</key>
					<real>442.90018978791437</real>
					<key>srcPointX</key>
					<real>600.03577308696401</real>
					<key>srcPointY</key>
					<real>521.65771842870004</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>560.95703125</real>
			<key>y</key>
			<real>532</real>
		</dict>
		<key>FallingRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>625.98899930980508</real>
					<key>controlPoint1Y</key>
					<real>457.02148658716658</real>
					<key>controlPoint2X</key>
					<real>670.54353767964051</real>
					<key>controlPoint2Y</key>
					<real>445.98405594024376</real>
					<key>dstPointX</key>
					<real>691.49116282785837</real>
					<key>dstPointY</key>
					<real>436.95329996513414</real>
					<key>srcPointX</key>
					<real>603.32728480085325</real>
					<key>srcPointY</key>
					<real>459.62998200540886</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>556.6953125</real>
			<key>y</key>
			<real>462</real>
		</dict>
		<key>Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>624.69411511932105</real>
					<key>controlPoint1Y</key>
					<real>345.75017176657246</real>
					<key>controlPoint2X</key>
					<real>663.92124128772582</real>
					<key>controlPoint2Y</key>
					<real>406.11795733907701</real>
					<key>dstPointX</key>
					<real>692.91868175149693</real>
					<key>dstPointY</key>
					<real>420.29230891121369</real>
					<key>srcPointX</key>
					<real>593.39663274189377</real>
					<key>srcPointY</key>
					<real>337.86148412063852</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>333.0859375</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>179.1000973653874</real>
					<key>controlPoint1Y</key>
					<real>198.40379149774077</real>
					<key>controlPoint2X</key>
					<real>201.19231334225475</real>
					<key>controlPoint2Y</key>
					<real>221.34873140402971</real>
					<key>dstPointX</key>
					<real>203.59954154601002</real>
					<key>dstPointY</key>
					<real>241.203334204767</real>
					<key>srcPointX</key>
					<real>180.94274512285853</real>
					<key>srcPointY</key>
					<real>178.48885616664097</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>185</real>
			<key>y</key>
			<real>159.0859375</real>
		</dict>
		<key>StandingUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>628.57323899870778</real>
					<key>controlPoint1Y</key>
					<real>554.04064390422354</real>
					<key>controlPoint2X</key>
					<real>710.98548721844759</real>
					<key>controlPoint2Y</key>
					<real>494.19788763898276</real>
					<key>dstPointX</key>
					<real>722.17877176031152</real>
					<key>dstPointY</key>
					<real>448.59448152381873</real>
					<key>srcPointX</key>
					<real>595.72528470973714</real>
					<key>srcPointY</key>
					<real>587.59615264972467</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>564.04296875</real>
			<key>y</key>
			<real>602</real>
		</dict>
	</dict>
</dict>
</plist>
