<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>284.2524606590556</real>
					<key>controlPoint1Y</key>
					<real>408.77257555883824</real>
					<key>controlPoint2X</key>
					<real>438.99146060773546</real>
					<key>controlPoint2Y</key>
					<real>349.78901008303239</real>
					<key>dstPointX</key>
					<real>506.05359693833265</real>
					<key>dstPointY</key>
					<real>336.7868556612338</real>
					<key>srcPointX</key>
					<real>218.783334513678</real>
					<key>srcPointY</key>
					<real>428.27077215730696</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>285.19503964069094</real>
					<key>controlPoint1Y</key>
					<real>429.87939536923983</real>
					<key>controlPoint2X</key>
					<real>443.16515769755858</real>
					<key>controlPoint2Y</key>
					<real>405.28171428787323</real>
					<key>dstPointX</key>
					<real>507.3264052048458</real>
					<key>dstPointY</key>
					<real>395.90244800785024</real>
					<key>srcPointX</key>
					<real>220.42840805615074</real>
					<key>srcPointY</key>
					<real>433.02895896367482</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>284.94790931832586</real>
					<key>controlPoint1Y</key>
					<real>448.31056775099535</real>
					<key>controlPoint2X</key>
					<real>447.45184276446815</real>
					<key>controlPoint2Y</key>
					<real>464.11076708834202</real>
					<key>dstPointX</key>
					<real>513.56668508321548</real>
					<key>dstPointY</key>
					<real>462.47274985473518</real>
					<key>srcPointX</key>
					<real>219.73328469724575</real>
					<key>srcPointY</key>
					<real>437.31474077791034</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>282.98945537238848</real>
					<key>controlPoint1Y</key>
					<real>466.98571468548897</real>
					<key>controlPoint2X</key>
					<real>446.55187068281015</real>
					<key>controlPoint2Y</key>
					<real>522.29307792549719</real>
					<key>dstPointX</key>
					<real>516.81609471537126</real>
					<key>dstPointY</key>
					<real>529.87970586229858</real>
					<key>srcPointX</key>
					<real>217.17178161335352</real>
					<key>srcPointY</key>
					<real>441.24368828315158</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>279.89947805251654</real>
					<key>controlPoint1Y</key>
					<real>486.39510004162184</real>
					<key>controlPoint2X</key>
					<real>440.32367422056791</real>
					<key>controlPoint2Y</key>
					<real>591.31649382237856</real>
					<key>dstPointX</key>
					<real>518.50643826496287</real>
					<key>dstPointY</key>
					<real>599.80478657233402</real>
					<key>srcPointX</key>
					<real>213.30943553458928</real>
					<key>srcPointY</key>
					<real>444.55777286969163</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>175.3046875</real>
			<key>y</key>
			<real>434</real>
		</dict>
		<key>Delay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>208.10125422431119</real>
					<key>controlPoint1Y</key>
					<real>314.703833857257</real>
					<key>controlPoint2X</key>
					<real>180.58125909988624</real>
					<key>controlPoint2Y</key>
					<real>380.14632505242611</real>
					<key>dstPointX</key>
					<real>178.42103837446518</real>
					<key>dstPointY</key>
					<real>413.78436760958482</real>
					<key>srcPointX</key>
					<real>208.48615259691283</real>
					<key>srcPointY</key>
					<real>280.99869606043842</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>209</real>
			<key>y</key>
			<real>261</real>
		</dict>
		<key>Done</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>742.5617686835468</real>
					<key>controlPoint1Y</key>
					<real>283.23287272146092</real>
					<key>controlPoint2X</key>
					<real>379.84906995414417</real>
					<key>controlPoint2Y</key>
					<real>255.16390000658268</real>
					<key>dstPointX</key>
					<real>253.96402667205984</real>
					<key>dstPointY</key>
					<real>260.20045624932561</real>
					<key>srcPointX</key>
					<real>735.51737008742555</real>
					<key>srcPointY</key>
					<real>409.02153464827177</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>732.9140625</real>
			<key>y</key>
			<real>429</real>
		</dict>
		<key>FallingBack</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>619.07405005251326</real>
					<key>controlPoint1Y</key>
					<real>404.36574045095068</real>
					<key>controlPoint2X</key>
					<real>663.77644997919549</real>
					<key>controlPoint2Y</key>
					<real>427.61018479099869</real>
					<key>dstPointX</key>
					<real>688.07141986409374</real>
					<key>dstPointY</key>
					<real>428.3730193239773</real>
					<key>srcPointX</key>
					<real>595.57905129894039</real>
					<key>srcPointY</key>
					<real>398.13577160653188</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>552</real>
			<key>y</key>
			<real>393</real>
		</dict>
		<key>FallingLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>627.45134095086632</real>
					<key>controlPoint1Y</key>
					<real>505.35821627866756</real>
					<key>controlPoint2X</key>
					<real>677.28033346767768</real>
					<key>controlPoint2Y</key>
					<real>464.92098624296716</real>
					<key>dstPointX</key>
					<real>700.30244188707422</real>
					<key>dstPointY</key>
					<real>442.90018978791437</real>
					<key>srcPointX</key>
					<real>600.07874183696401</real>
					<key>srcPointY</key>
					<real>521.65771842870004</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>560.95703125</real>
			<key>y</key>
			<real>532</real>
		</dict>
		<key>FallingRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>625.74299219740692</real>
					<key>controlPoint1Y</key>
					<real>457.04432728997881</real>
					<key>controlPoint2X</key>
					<real>670.68491441060814</real>
					<key>controlPoint2Y</key>
					<real>445.97884142638856</real>
					<key>dstPointX</key>
					<real>691.57710032785837</real>
					<key>dstPointY</key>
					<real>436.95329996513414</real>
					<key>srcPointX</key>
					<real>603.13197230085325</real>
					<key>srcPointY</key>
					<real>459.62998200540886</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>556.6953125</real>
			<key>y</key>
			<real>462</real>
		</dict>
		<key>Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>624.75628744563289</real>
					<key>controlPoint1Y</key>
					<real>345.5401780692344</real>
					<key>controlPoint2X</key>
					<real>663.99203463525691</real>
					<key>controlPoint2Y</key>
					<real>406.0800825354558</real>
					<key>dstPointX</key>
					<real>693.00461925149693</real>
					<key>dstPointY</key>
					<real>420.29230891121369</real>
					<key>srcPointX</key>
					<real>593.39663274189377</real>
					<key>srcPointY</key>
					<real>337.77554662063852</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>333.0859375</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>179.09200582403324</real>
					<key>controlPoint1Y</key>
					<real>198.31710366246202</real>
					<key>controlPoint2X</key>
					<real>201.19231334225475</real>
					<key>controlPoint2Y</key>
					<real>221.34873140402971</real>
					<key>dstPointX</key>
					<real>203.59954154601002</real>
					<key>dstPointY</key>
					<real>241.203334204767</real>
					<key>srcPointX</key>
					<real>180.94274512285853</real>
					<key>srcPointY</key>
					<real>178.40291866664097</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>185</real>
			<key>y</key>
			<real>159.0859375</real>
		</dict>
		<key>StandingUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>628.52268449209396</real>
					<key>controlPoint1Y</key>
					<real>554.00289432533384</real>
					<key>controlPoint2X</key>
					<real>711.15019332992188</real>
					<key>controlPoint2Y</key>
					<real>494.23946312994258</real>
					<key>dstPointX</key>
					<real>722.26470926031152</real>
					<key>dstPointY</key>
					<real>448.59448152381873</real>
					<key>srcPointX</key>
					<real>595.68231595973714</real>
					<key>srcPointY</key>
					<real>587.59615264972467</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>564.04296875</real>
			<key>y</key>
			<real>602</real>
		</dict>
	</dict>
</dict>
</plist>
