<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>314.86087079503687</real>
					<key>controlPoint1Y</key>
					<real>411.30862599055962</real>
					<key>controlPoint2X</key>
					<real>439.17263101792463</real>
					<key>controlPoint2Y</key>
					<real>350.89450370773579</real>
					<key>dstPointX</key>
					<real>506.05359693833265</real>
					<key>dstPointY</key>
					<real>337.0446681612338</real>
					<key>srcPointX</key>
					<real>249.283334513678</real>
					<key>srcPointY</key>
					<real>430.39967840730696</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>315.71885610426284</real>
					<key>controlPoint1Y</key>
					<real>432.4254035465907</real>
					<key>controlPoint2X</key>
					<real>443.1603344020042</real>
					<key>controlPoint2Y</key>
					<real>405.28241937038189</real>
					<key>dstPointX</key>
					<real>507.3264052048458</real>
					<key>dstPointY</key>
					<real>395.90244800785024</real>
					<key>srcPointX</key>
					<real>250.92840805615074</real>
					<key>srcPointY</key>
					<real>435.15786521367482</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>315.14955638377978</real>
					<key>controlPoint1Y</key>
					<real>450.81482683220179</real>
					<key>controlPoint2X</key>
					<real>447.26733218038373</real>
					<key>controlPoint2Y</key>
					<real>464.0710515646615</real>
					<key>dstPointX</key>
					<real>513.15262258321548</real>
					<key>dstPointY</key>
					<real>462.47274985473518</real>
					<key>srcPointX</key>
					<real>250.23328469724575</real>
					<key>srcPointY</key>
					<real>439.44364702791034</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>313.29556367717305</real>
					<key>controlPoint1Y</key>
					<real>469.49553470641678</real>
					<key>controlPoint2X</key>
					<real>446.46092524971243</real>
					<key>controlPoint2Y</key>
					<real>522.31923428833682</real>
					<key>dstPointX</key>
					<real>516.68718846537126</real>
					<key>dstPointY</key>
					<real>529.87970586229858</real>
					<key>srcPointX</key>
					<real>247.67178161335352</real>
					<key>srcPointY</key>
					<real>443.37259453315158</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>310.17968456917635</real>
					<key>controlPoint1Y</key>
					<real>488.89504523573737</real>
					<key>controlPoint2X</key>
					<real>440.4427822511953</real>
					<key>controlPoint2Y</key>
					<real>591.29130704125498</real>
					<key>dstPointX</key>
					<real>518.63534451496287</real>
					<key>dstPointY</key>
					<real>599.80478657233402</real>
					<key>srcPointX</key>
					<real>243.80943553458928</real>
					<key>srcPointY</key>
					<real>446.68667911969163</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>206</real>
			<key>y</key>
			<real>436.04296875</real>
		</dict>
		<key>Delay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>208.10088623654687</real>
					<key>controlPoint1Y</key>
					<real>314.73605815121778</real>
					<key>controlPoint2X</key>
					<real>211.09714330646136</real>
					<key>controlPoint2Y</key>
					<real>382.24396144697789</real>
					<key>dstPointX</key>
					<real>208.92103837446518</real>
					<key>dstPointY</key>
					<real>415.91327385958482</real>
					<key>srcPointX</key>
					<real>208.48615259691283</real>
					<key>srcPointY</key>
					<real>280.99869606043842</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>209</real>
			<key>y</key>
			<real>261</real>
		</dict>
		<key>Done</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>741.58134553908462</real>
					<key>controlPoint1Y</key>
					<real>283.25614142434199</real>
					<key>controlPoint2X</key>
					<real>379.78754207202167</real>
					<key>controlPoint2Y</key>
					<real>255.16636168614943</real>
					<key>dstPointX</key>
					<real>253.96402667205984</real>
					<key>dstPointY</key>
					<real>260.20045624932561</real>
					<key>srcPointX</key>
					<real>735.25955758742555</real>
					<key>srcPointY</key>
					<real>409.02153464827177</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>732.9140625</real>
			<key>y</key>
			<real>429</real>
		</dict>
		<key>FallingBack</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>619.01484726182855</real>
					<key>controlPoint1Y</key>
					<real>404.3500421508428</real>
					<key>controlPoint2X</key>
					<real>663.57972024651383</real>
					<key>controlPoint2Y</key>
					<real>427.61644415625705</real>
					<key>dstPointX</key>
					<real>687.81360736409374</real>
					<key>dstPointY</key>
					<real>428.3730193239773</real>
					<key>srcPointX</key>
					<real>595.57905129894039</real>
					<key>srcPointY</key>
					<real>398.13577160653188</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>552</real>
			<key>y</key>
			<real>393</real>
		</dict>
		<key>FallingLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>627.27696912708518</real>
					<key>controlPoint1Y</key>
					<real>505.3314352227232</real>
					<key>controlPoint2X</key>
					<real>676.95469799008879</real>
					<key>controlPoint2Y</key>
					<real>464.81308140275803</real>
					<key>dstPointX</key>
					<real>700.04462938707422</real>
					<key>dstPointY</key>
					<real>442.90018978791437</real>
					<key>srcPointX</key>
					<real>599.94983558696401</real>
					<key>srcPointY</key>
					<real>521.65771842870004</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>560.95703125</real>
			<key>y</key>
			<real>532</real>
		</dict>
		<key>FallingRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>625.48089532928589</real>
					<key>controlPoint1Y</key>
					<real>456.97490563636649</real>
					<key>controlPoint2X</key>
					<real>670.26077406159914</real>
					<key>controlPoint2Y</key>
					<real>445.99442482044662</real>
					<key>dstPointX</key>
					<real>691.31928782785837</real>
					<key>dstPointY</key>
					<real>436.95329996513414</real>
					<key>srcPointX</key>
					<real>602.71790980085325</real>
					<key>srcPointY</key>
					<real>459.62998200540886</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>556.6953125</real>
			<key>y</key>
			<real>462</real>
		</dict>
		<key>Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>624.56852483963746</real>
					<key>controlPoint1Y</key>
					<real>346.16817199297719</real>
					<key>controlPoint2X</key>
					<real>663.77990752038988</real>
					<key>controlPoint2Y</key>
					<real>406.1933448940872</real>
					<key>dstPointX</key>
					<real>692.74680675149693</real>
					<key>dstPointY</key>
					<real>420.29230891121369</real>
					<key>srcPointX</key>
					<real>593.39663274189377</real>
					<key>srcPointY</key>
					<real>338.03335912063852</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>333.0859375</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>179.11607091305305</real>
					<key>controlPoint1Y</key>
					<real>198.57713800450284</real>
					<key>controlPoint2X</key>
					<real>201.19231334225475</real>
					<key>controlPoint2Y</key>
					<real>221.34873140402971</real>
					<key>dstPointX</key>
					<real>203.59954154601002</real>
					<key>dstPointY</key>
					<real>241.203334204767</real>
					<key>srcPointX</key>
					<real>180.94274512285853</real>
					<key>srcPointY</key>
					<real>178.66073116664097</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>185</real>
			<key>y</key>
			<real>159.0859375</real>
		</dict>
		<key>StandingUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>628.67417517896718</real>
					<key>controlPoint1Y</key>
					<real>554.11601320125828</real>
					<key>controlPoint2X</key>
					<real>710.65663944379423</real>
					<key>controlPoint2Y</key>
					<real>494.11442302417021</real>
					<key>dstPointX</key>
					<real>722.00689676031152</real>
					<key>dstPointY</key>
					<real>448.59448152381873</real>
					<key>srcPointX</key>
					<real>595.81122220973714</real>
					<key>srcPointY</key>
					<real>587.59615264972467</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>564.04296875</real>
			<key>y</key>
			<real>602</real>
		</dict>
	</dict>
</dict>
</plist>
