<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Alt_Test_State</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1002.2479513521523</real>
					<key>controlPoint1Y</key>
					<real>470.15872911919797</real>
					<key>controlPoint2X</key>
					<real>1088.9100120729445</real>
					<key>controlPoint2Y</key>
					<real>661.98395935301755</real>
					<key>dstPointX</key>
					<real>1151.3587134685001</real>
					<key>dstPointY</key>
					<real>745.51725264911681</real>
					<key>srcPointX</key>
					<real>945.396624723066</real>
					<key>srcPointY</key>
					<real>382.71973292530078</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>921</real>
			<key>y</key>
			<real>366.04296875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Control_State</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>518.91687198511011</real>
					<key>controlPoint1Y</key>
					<real>190.97649364713985</real>
					<key>controlPoint2X</key>
					<real>758.08312801488989</real>
					<key>controlPoint2Y</key>
					<real>305.02350635286018</real>
					<key>dstPointX</key>
					<real>879.47677484973269</real>
					<key>dstPointY</key>
					<real>357.99067901708901</real>
					<key>srcPointX</key>
					<real>397.52322515026736</real>
					<key>srcPointY</key>
					<real>138.00932098291099</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>406.0611858029697</real>
					<key>controlPoint1Y</key>
					<real>175.99546844259484</real>
					<key>controlPoint2X</key>
					<real>421.05619954307326</real>
					<key>controlPoint2Y</key>
					<real>261.8314844676604</real>
					<key>dstPointX</key>
					<real>387.9282110880967</real>
					<key>dstPointY</key>
					<real>269.68661306111079</real>
					<key>srcPointX</key>
					<real>382.72564492137047</real>
					<key>srcPointY</key>
					<real>146.09072981203207</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>575.88676848012119</real>
					<key>controlPoint1Y</key>
					<real>185.41044496960893</real>
					<key>controlPoint2X</key>
					<real>907.45734817846358</real>
					<key>controlPoint2Y</key>
					<real>268.66727468510845</real>
					<key>dstPointX</key>
					<real>1064.1201681612201</real>
					<key>dstPointY</key>
					<real>296.56533614395312</real>
					<key>srcPointX</key>
					<real>399.87983183877986</real>
					<key>srcPointY</key>
					<real>134.73544510604691</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>356</real>
			<key>y</key>
			<real>129.95703125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>135.5088688902685</real>
					<key>controlPoint1Y</key>
					<real>116.99523681743935</real>
					<key>controlPoint2X</key>
					<real>159.93084444190967</real>
					<key>controlPoint2Y</key>
					<real>67.400255578441971</real>
					<key>dstPointX</key>
					<real>180.83743935649284</real>
					<key>dstPointY</key>
					<real>51.487252960220893</real>
					<key>srcPointX</key>
					<real>114.96985616332518</real>
					<key>srcPointY</key>
					<real>133.3799345397791</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>75.6953125</real>
			<key>y</key>
			<real>147.3046875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Restart_FSMs</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>139.89542917886203</real>
					<key>controlPoint1Y</key>
					<real>263.02571664670756</real>
					<key>controlPoint2X</key>
					<real>123.07773537729857</real>
					<key>controlPoint2Y</key>
					<real>190.63997055531806</real>
					<key>dstPointX</key>
					<real>101.14958618954572</real>
					<key>dstPointY</key>
					<real>162.05304518819412</real>
					<key>srcPointX</key>
					<real>155.11603881045428</real>
					<key>srcPointY</key>
					<real>295.68132981180588</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>175.6953125</real>
			<key>y</key>
			<real>315.3046875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Say_IP</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>273.47296669913288</real>
					<key>controlPoint1Y</key>
					<real>261.08826830102754</real>
					<key>controlPoint2X</key>
					<real>293.70627139061446</real>
					<key>controlPoint2Y</key>
					<real>161.43707744548573</real>
					<key>dstPointX</key>
					<real>319.87645514544948</real>
					<key>dstPointY</key>
					<real>141.92643713123039</real>
					<key>srcPointX</key>
					<real>304.3853308324118</real>
					<key>srcPointY</key>
					<real>271.57489535292785</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>518.02562090010167</real>
					<key>controlPoint1Y</key>
					<real>304.66491639776353</real>
					<key>controlPoint2X</key>
					<real>760.30753243282368</real>
					<key>controlPoint2Y</key>
					<real>346.9777029267313</real>
					<key>dstPointX</key>
					<real>876.51969626810262</real>
					<key>dstPointY</key>
					<real>362.66842763237941</real>
					<key>srcPointX</key>
					<real>391.48030373189738</real>
					<key>srcPointY</key>
					<real>281.03079111762059</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>347</real>
			<key>y</key>
			<real>278</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Spacing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>894.30227061522987</real>
					<key>controlPoint1Y</key>
					<real>677.46121761610516</real>
					<key>controlPoint2X</key>
					<real>424.23268521196826</real>
					<key>controlPoint2Y</key>
					<real>467.68299518342451</real>
					<key>dstPointX</key>
					<real>212.30154275666857</real>
					<key>dstPointY</key>
					<real>326.16841578093988</real>
					<key>srcPointX</key>
					<real>1137.063029136536</real>
					<key>srcPointY</key>
					<real>754.97508378229998</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1176.73828125</real>
			<key>y</key>
			<real>760.60546875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Start_Default_Machines</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>299.7940893110466</real>
					<key>controlPoint1Y</key>
					<real>62.487508152081048</real>
					<key>controlPoint2X</key>
					<real>302.73517550295708</real>
					<key>controlPoint2Y</key>
					<real>107.46631790456787</real>
					<key>dstPointX</key>
					<real>319.23644615308569</real>
					<key>dstPointY</key>
					<real>118.76711729802689</real>
					<key>srcPointX</key>
					<real>283.06049145404762</real>
					<key>srcPointY</key>
					<real>51.533663951973111</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>135</real>
			<key>x</key>
			<real>228</real>
			<key>y</key>
			<real>40</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Start_GC</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1133.1858737437724</real>
					<key>controlPoint1Y</key>
					<real>426.23637677276832</real>
					<key>controlPoint2X</key>
					<real>1203.9928807646002</real>
					<key>controlPoint2Y</key>
					<real>638.00562388478613</real>
					<key>dstPointX</key>
					<real>1184.1530357262418</real>
					<key>dstPointY</key>
					<real>743.14205265080477</real>
					<key>srcPointX</key>
					<real>1115.4567366509248</real>
					<key>srcPointY</key>
					<real>320.72350645468248</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1108</real>
			<key>y</key>
			<real>301</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
