<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>319.30082271416586</real>
					<key>controlPoint1Y</key>
					<real>256.03951280423735</real>
					<key>controlPoint2X</key>
					<real>355.18168192494693</real>
					<key>controlPoint2Y</key>
					<real>126.18629213609907</real>
					<key>dstPointX</key>
					<real>387.68952425736654</real>
					<key>dstPointY</key>
					<real>68.286256470795166</real>
					<key>srcPointX</key>
					<real>290.95891324263346</real>
					<key>srcPointY</key>
					<real>316.08874352920486</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>422.90941739217709</real>
					<key>controlPoint1Y</key>
					<real>354.41375009241432</real>
					<key>controlPoint2X</key>
					<real>638.66183837926701</real>
					<key>controlPoint2Y</key>
					<real>375.21805562901756</real>
					<key>dstPointX</key>
					<real>746.26068285953681</real>
					<key>dstPointY</key>
					<real>386.85036314039814</real>
					<key>srcPointX</key>
					<real>316.21587964046324</real>
					<key>srcPointY</key>
					<real>336.26682435960186</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>273.1171875</real>
			<key>y</key>
			<real>332.9140625</real>
		</dict>
		<key>FollowBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>673.41293093595061</real>
					<key>controlPoint1Y</key>
					<real>302.85234243163359</real>
					<key>controlPoint2X</key>
					<real>532.60983658915177</real>
					<key>controlPoint2Y</key>
					<real>126.2821364833801</real>
					<key>dstPointX</key>
					<real>441.08155181900577</real>
					<key>dstPointY</key>
					<real>63.405661729591358</real>
					<key>srcPointX</key>
					<real>757.09032318099423</real>
					<key>srcPointY</key>
					<real>375.85215077040863</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>791</real>
			<key>y</key>
			<real>389</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>163.66380157638213</real>
					<key>controlPoint1Y</key>
					<real>216.91147650767746</real>
					<key>controlPoint2X</key>
					<real>205.03436547334374</real>
					<key>controlPoint2Y</key>
					<real>294.29653205387331</real>
					<key>dstPointX</key>
					<real>238.16193765114878</real>
					<key>dstPointY</key>
					<real>320.67220480237933</real>
					<key>srcPointX</key>
					<real>132.31462484885122</real>
					<key>srcPointY</key>
					<real>188.44498269762067</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>175</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>167.0390625</real>
			<key>y</key>
			<real>419</real>
		</dict>
		<key>SeekBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>567.40708857265338</real>
					<key>controlPoint1Y</key>
					<real>10.053889729757401</real>
					<key>controlPoint2X</key>
					<real>874.90313542567651</real>
					<key>controlPoint2Y</key>
					<real>266.66566449713798</real>
					<key>dstPointX</key>
					<real>813.66260180152426</real>
					<key>dstPointY</key>
					<real>371.7214170700754</real>
					<key>srcPointX</key>
					<real>451.47219524718849</real>
					<key>srcPointY</key>
					<real>46.744687170672321</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>407</real>
			<key>y</key>
			<real>53.3046875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
