<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>319.72624926763694</real>
					<key>controlPoint1Y</key>
					<real>256.12497406554792</real>
					<key>controlPoint2X</key>
					<real>357.2429660317913</real>
					<key>controlPoint2Y</key>
					<real>128.05723771844282</real>
					<key>dstPointX</key>
					<real>387.68952425736654</real>
					<key>dstPointY</key>
					<real>69.505006470795166</real>
					<key>srcPointX</key>
					<real>291.42766324263346</real>
					<key>srcPointY</key>
					<real>315.74499352920486</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>423.59923426028115</real>
					<key>controlPoint1Y</key>
					<real>352.01954855447048</real>
					<key>controlPoint2X</key>
					<real>638.76750072837126</real>
					<key>controlPoint2Y</key>
					<real>375.2294785856775</real>
					<key>dstPointX</key>
					<real>746.26068285953681</real>
					<key>dstPointY</key>
					<real>386.85036314039814</real>
					<key>srcPointX</key>
					<real>316.68462964046324</real>
					<key>srcPointY</key>
					<real>335.92307435960186</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>273.1171875</real>
			<key>y</key>
			<real>332.9140625</real>
		</dict>
		<key>FollowBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>673.57411812858959</real>
					<key>controlPoint1Y</key>
					<real>302.99296146687846</real>
					<key>controlPoint2X</key>
					<real>529.00533756086679</real>
					<key>controlPoint2Y</key>
					<real>132.09904305976067</real>
					<key>dstPointX</key>
					<real>441.08155181900577</real>
					<key>dstPointY</key>
					<real>64.624411729591358</real>
					<key>srcPointX</key>
					<real>757.09032318099423</real>
					<key>srcPointY</key>
					<real>375.85215077040863</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>791</real>
			<key>y</key>
			<real>389</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>163.66862680368646</real>
					<key>controlPoint1Y</key>
					<real>216.91585803591934</real>
					<key>controlPoint2X</key>
					<real>206.03462262334347</real>
					<key>controlPoint2Y</key>
					<real>293.28847096703203</real>
					<key>dstPointX</key>
					<real>238.63068765114878</real>
					<key>dstPointY</key>
					<real>320.32845480237933</real>
					<key>srcPointX</key>
					<real>132.31462484885122</real>
					<key>srcPointY</key>
					<real>188.44498269762067</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>175</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>167.0390625</real>
			<key>y</key>
			<real>419</real>
		</dict>
		<key>SeekBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>569.11209755621951</real>
					<key>controlPoint1Y</key>
					<real>17.986803437509774</real>
					<key>controlPoint2X</key>
					<real>874.80081976003771</real>
					<key>controlPoint2Y</key>
					<real>266.84118304045541</real>
					<key>dstPointX</key>
					<real>813.66260180152426</real>
					<key>dstPointY</key>
					<real>371.7214170700754</real>
					<key>srcPointX</key>
					<real>451.47219524718849</real>
					<key>srcPointY</key>
					<real>47.963437170672321</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>407</real>
			<key>y</key>
			<real>53.3046875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
