<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>319.40786329962407</real>
					<key>controlPoint1Y</key>
					<real>256.06117045263602</real>
					<key>controlPoint2X</key>
					<real>355.7171124818293</real>
					<key>controlPoint2Y</key>
					<real>126.6723810263241</real>
					<key>dstPointX</key>
					<real>387.68952425736654</real>
					<key>dstPointY</key>
					<real>68.590943970795166</real>
					<key>srcPointX</key>
					<real>291.07610074263346</real>
					<key>srcPointY</key>
					<real>316.00280602920486</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>423.08603934384655</real>
					<key>controlPoint1Y</key>
					<real>353.81246904509715</real>
					<key>controlPoint2X</key>
					<real>638.68826242857563</real>
					<key>controlPoint2Y</key>
					<real>375.22091228299684</real>
					<key>dstPointX</key>
					<real>746.26068285953681</real>
					<key>dstPointY</key>
					<real>386.85036314039814</real>
					<key>srcPointX</key>
					<real>316.33306714046324</real>
					<key>srcPointY</key>
					<real>336.18088685960186</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>273.1171875</real>
			<key>y</key>
			<real>332.9140625</real>
		</dict>
		<key>FollowBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>673.45325769992246</real>
					<key>controlPoint1Y</key>
					<real>302.88752333249442</real>
					<key>controlPoint2X</key>
					<real>531.7065667302212</real>
					<key>controlPoint2Y</key>
					<real>127.78922446769673</real>
					<key>dstPointX</key>
					<real>441.08155181900577</real>
					<key>dstPointY</key>
					<real>63.710349229591358</real>
					<key>srcPointX</key>
					<real>757.09032318099423</real>
					<key>srcPointY</key>
					<real>375.85215077040863</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>791</real>
			<key>y</key>
			<real>389</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>163.6649733405975</real>
					<key>controlPoint1Y</key>
					<real>216.91254052345926</real>
					<key>controlPoint2X</key>
					<real>205.28348052659433</real>
					<key>controlPoint2Y</key>
					<real>294.04321482284126</real>
					<key>dstPointX</key>
					<real>238.27912515114878</real>
					<key>dstPointY</key>
					<real>320.58626730237933</real>
					<key>srcPointX</key>
					<real>132.31462484885122</real>
					<key>srcPointY</key>
					<real>188.44498269762067</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>175</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>167.0390625</real>
			<key>y</key>
			<real>419</real>
		</dict>
		<key>SeekBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>567.86327770324692</real>
					<key>controlPoint1Y</key>
					<real>12.008393020839875</real>
					<key>controlPoint2X</key>
					<real>874.87753648232456</real>
					<key>controlPoint2Y</key>
					<real>266.7095784884076</real>
					<key>dstPointX</key>
					<real>813.66260180152426</real>
					<key>dstPointY</key>
					<real>371.7214170700754</real>
					<key>srcPointX</key>
					<real>451.47219524718849</real>
					<key>srcPointY</key>
					<real>47.049374670672321</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>407</real>
			<key>y</key>
			<real>53.3046875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
