<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>319.93629909375244</real>
					<key>controlPoint1Y</key>
					<real>256.1665618191999</real>
					<key>controlPoint2X</key>
					<real>358.19712177979824</real>
					<key>controlPoint2Y</key>
					<real>128.92569843375117</real>
					<key>dstPointX</key>
					<real>387.68952425736654</real>
					<key>dstPointY</key>
					<real>70.114381470795166</real>
					<key>srcPointX</key>
					<real>291.66203824263346</real>
					<key>srcPointY</key>
					<real>315.57311852920486</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>423.92773763765859</real>
					<key>controlPoint1Y</key>
					<real>350.83362916950966</real>
					<key>controlPoint2X</key>
					<real>638.82029801319038</real>
					<key>controlPoint2Y</key>
					<real>375.23518640025253</real>
					<key>dstPointX</key>
					<real>746.26068285953681</real>
					<key>dstPointY</key>
					<real>386.85036314039814</real>
					<key>srcPointX</key>
					<real>316.91900464046324</real>
					<key>srcPointY</key>
					<real>335.75119935960186</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>273.1171875</real>
			<key>y</key>
			<real>332.9140625</real>
		</dict>
		<key>FollowBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>673.65459157231737</real>
					<key>controlPoint1Y</key>
					<real>303.06316616388062</real>
					<key>controlPoint2X</key>
					<real>527.21986102547351</real>
					<key>controlPoint2Y</key>
					<real>134.80353070048352</real>
					<key>dstPointX</key>
					<real>441.08155181900577</real>
					<key>dstPointY</key>
					<real>65.233786729591358</real>
					<key>srcPointX</key>
					<real>757.09032318099423</real>
					<key>srcPointY</key>
					<real>375.85215077040863</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>791</real>
			<key>y</key>
			<real>389</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>163.67117756082337</real>
					<key>controlPoint1Y</key>
					<real>216.91817424067585</real>
					<key>controlPoint2X</key>
					<real>206.53841901620507</real>
					<key>controlPoint2Y</key>
					<real>292.78973588632738</real>
					<key>dstPointX</key>
					<real>238.86506265114878</real>
					<key>dstPointY</key>
					<real>320.15657980237933</real>
					<key>srcPointX</key>
					<real>132.31462484885122</real>
					<key>srcPointY</key>
					<real>188.44498269762067</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>175</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>167.0390625</real>
			<key>y</key>
			<real>419</real>
		</dict>
		<key>SeekBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>569.83704324076393</real>
					<key>controlPoint1Y</key>
					<real>22.060680804644488</real>
					<key>controlPoint2X</key>
					<real>874.74974220263869</real>
					<key>controlPoint2Y</key>
					<real>266.92880460275376</real>
					<key>dstPointX</key>
					<real>813.66260180152426</real>
					<key>dstPointY</key>
					<real>371.7214170700754</real>
					<key>srcPointX</key>
					<real>451.47219524718849</real>
					<key>srcPointY</key>
					<real>48.572812170672321</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>407</real>
			<key>y</key>
			<real>53.3046875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
