<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>ChangeKickoff</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>384.04137462205136</real>
					<key>controlPoint1Y</key>
					<real>95.240776425914575</real>
					<key>controlPoint2X</key>
					<real>423.14734368355545</real>
					<key>controlPoint2Y</key>
					<real>142.47091801314187</real>
					<key>dstPointX</key>
					<real>413.78910849739941</real>
					<key>dstPointY</key>
					<real>164.43973016755157</real>
					<key>srcPointX</key>
					<real>389.79394864019355</real>
					<key>srcPointY</key>
					<real>72.065074377412486</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>400.5</real>
			<key>y</key>
			<real>51.9609375</real>
		</dict>
		<key>ChangeTeam</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>256.75559221147597</real>
					<key>controlPoint1Y</key>
					<real>110.1143298578456</real>
					<key>controlPoint2X</key>
					<real>339.3158590962754</real>
					<key>controlPoint2Y</key>
					<real>139.14138807665535</real>
					<key>dstPointX</key>
					<real>367.14950417284143</real>
					<key>dstPointY</key>
					<real>169.16751965728136</real>
					<key>srcPointX</key>
					<real>230.80200687670822</real>
					<key>srcPointY</key>
					<real>78.449021013366547</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>205.5</real>
			<key>y</key>
			<real>65.0390625</real>
		</dict>
		<key>Finished</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>113.92258777146239</real>
					<key>controlPoint1Y</key>
					<real>434.24276441023068</real>
					<key>controlPoint2X</key>
					<real>73.488376619104329</real>
					<key>controlPoint2Y</key>
					<real>380.20497968267847</real>
					<key>dstPointX</key>
					<real>79.995685291562623</real>
					<key>dstPointY</key>
					<real>351.56757683647487</real>
					<key>srcPointX</key>
					<real>132.89256010520569</real>
					<key>srcPointY</key>
					<real>456.66119561295795</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>330.27159671137684</real>
					<key>controlPoint1Y</key>
					<real>480.03527792092729</real>
					<key>controlPoint2X</key>
					<real>564.04439420215817</real>
					<key>controlPoint2Y</key>
					<real>535.90721375537237</real>
					<key>dstPointX</key>
					<real>675.15383439538323</real>
					<key>dstPointY</key>
					<real>577.67454121177605</real>
					<key>srcPointX</key>
					<real>211.72116560461677</real>
					<key>srcPointY</key>
					<real>474.06764628822395</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>236.7922947990283</real>
					<key>controlPoint1Y</key>
					<real>463.65279278916893</real>
					<key>controlPoint2X</key>
					<real>279.44573242346638</real>
					<key>controlPoint2Y</key>
					<real>436.14699374702684</real>
					<key>dstPointX</key>
					<real>303.13290358952179</real>
					<key>dstPointY</key>
					<real>438.28242886723496</real>
					<key>srcPointX</key>
					<real>213.49990891047824</real>
					<key>srcPointY</key>
					<real>468.45975863276504</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.23476385750000001</real>
				<key>green</key>
				<real>0.23476385750000001</real>
				<key>red</key>
				<real>0.23476385750000001</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.54102667950466043</real>
				<key>green</key>
				<real>0.57799092703633326</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>163.5</real>
			<key>y</key>
			<real>473.5</real>
		</dict>
		<key>GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>168.81305580404347</real>
					<key>controlPoint1Y</key>
					<real>332.50307059453837</real>
					<key>controlPoint2X</key>
					<real>163.4555371226343</real>
					<key>controlPoint2Y</key>
					<real>209.72144245618819</real>
					<key>dstPointX</key>
					<real>196.54856786030967</real>
					<key>dstPointY</key>
					<real>213.78979215132989</real>
					<key>srcPointX</key>
					<real>135.47235919131379</real>
					<key>srcPointY</key>
					<real>332.18985816725785</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.3261279628</real>
				<key>red</key>
				<real>0.54600890840000005</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>90</real>
			<key>y</key>
			<real>332.45703125</real>
		</dict>
		<key>GetUpPlay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>620.21240339293161</real>
					<key>controlPoint1Y</key>
					<real>654.31942821681946</real>
					<key>controlPoint2X</key>
					<real>777.49548687323249</real>
					<key>controlPoint2Y</key>
					<real>634.24940065037708</real>
					<key>dstPointX</key>
					<real>748.31386212082941</real>
					<key>dstPointY</key>
					<real>600.20113579625274</real>
					<key>srcPointX</key>
					<real>575.74506217879207</real>
					<key>srcPointY</key>
					<real>648.53089402309161</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.3261279628</real>
				<key>red</key>
				<real>0.54600890840000005</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>531.5</real>
			<key>y</key>
			<real>646.45703125</real>
		</dict>
		<key>GetUpReady</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>683.42235203984103</real>
					<key>controlPoint1Y</key>
					<real>41.180505937393498</real>
					<key>controlPoint2X</key>
					<real>886.98718995884258</real>
					<key>controlPoint2Y</key>
					<real>111.14981011552358</real>
					<key>dstPointX</key>
					<real>842.47091412713849</real>
					<key>dstPointY</key>
					<real>152.39393742769414</real>
					<key>srcPointX</key>
					<real>623.09465346523939</real>
					<key>srcPointY</key>
					<real>47.764246238993167</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.32612796280242817</real>
				<key>red</key>
				<real>0.54600890837104066</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>576.95703125</real>
			<key>y</key>
			<real>50.5</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>68.794430542922754</real>
					<key>controlPoint1Y</key>
					<real>166.40375928154148</real>
					<key>controlPoint2X</key>
					<real>77.058929348089563</real>
					<key>controlPoint2Y</key>
					<real>263.83614167115172</real>
					<key>dstPointX</key>
					<real>83.81963120744399</real>
					<key>dstPointY</key>
					<real>312.30671244776664</real>
					<key>srcPointX</key>
					<real>63.180368792555996</real>
					<key>srcPointY</key>
					<real>117.78703755223336</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.68684601239999998</real>
				<key>green</key>
				<real>0.68684601239999998</real>
				<key>red</key>
				<real>0.68684601239999998</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>57</real>
			<key>y</key>
			<real>94.30859375</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>461.7043846335481</real>
					<key>controlPoint1Y</key>
					<real>177.86880982338758</real>
					<key>controlPoint2X</key>
					<real>486.83025813089154</real>
					<key>controlPoint2Y</key>
					<real>136.56529925576402</real>
					<key>dstPointX</key>
					<real>506.67779110711729</real>
					<key>dstPointY</key>
					<real>133.77218127775012</real>
					<key>srcPointX</key>
					<real>441.82220889288271</real>
					<key>srcPointY</key>
					<real>180.40359997224991</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>480.46812437391992</real>
					<key>controlPoint1Y</key>
					<real>263.84698783875666</real>
					<key>controlPoint2X</key>
					<real>282.7561032624975</real>
					<key>controlPoint2Y</key>
					<real>410.41970854684257</real>
					<key>dstPointX</key>
					<real>213.62980277388738</real>
					<key>dstPointY</key>
					<real>457.86163341435667</real>
					<key>srcPointX</key>
					<real>426.80298379555779</real>
					<key>srcPointY</key>
					<real>199.43243714498016</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>457.92739978606289</real>
					<key>controlPoint1Y</key>
					<real>208.05705084104824</real>
					<key>controlPoint2X</key>
					<real>547.77664308005421</real>
					<key>controlPoint2Y</key>
					<real>213.03554514108561</real>
					<key>dstPointX</key>
					<real>530.5122728372271</real>
					<key>dstPointY</key>
					<real>231.49794678177801</real>
					<key>srcPointX</key>
					<real>436.60312201923932</real>
					<key>srcPointY</key>
					<real>194.48524433096969</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>427.20456347790048</real>
					<key>controlPoint1Y</key>
					<real>139.74969272461868</real>
					<key>controlPoint2X</key>
					<real>474.29281252797495</real>
					<key>controlPoint2Y</key>
					<real>68.531606292128146</real>
					<key>dstPointX</key>
					<real>448.25367490604879</real>
					<key>dstPointY</key>
					<real>59.380634422560931</real>
					<key>srcPointX</key>
					<real>415.42389225893305</real>
					<key>srcPointY</key>
					<real>164.70951563828964</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>370.4117483055</real>
					<key>controlPoint1Y</key>
					<real>125.64188030558051</real>
					<key>controlPoint2X</key>
					<real>290.84555116199346</real>
					<key>controlPoint2Y</key>
					<real>74.968459211219823</real>
					<key>dstPointX</key>
					<real>250.46100027007367</real>
					<key>dstPointY</key>
					<real>68.275105171125432</real>
					<key>srcPointX</key>
					<real>382.84015088586352</real>
					<key>srcPointY</key>
					<real>164.64505643712803</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.23476385750000001</real>
				<key>green</key>
				<real>0.23476385750000001</real>
				<key>red</key>
				<real>0.23476385750000001</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.54160859747863899</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.58140735301418844</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>395.5</real>
			<key>y</key>
			<real>183.0390625</real>
		</dict>
		<key>OurGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>697.55602811653796</real>
					<key>controlPoint1Y</key>
					<real>306.33159230428498</real>
					<key>controlPoint2X</key>
					<real>734.06209329558203</real>
					<key>controlPoint2Y</key>
					<real>206.01589778405318</real>
					<key>dstPointX</key>
					<real>774.90034465730628</real>
					<key>dstPointY</key>
					<real>177.10113795843952</real>
					<key>srcPointX</key>
					<real>663.10804829020788</real>
					<key>srcPointY</key>
					<real>342.62432981388935</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>626</real>
			<key>y</key>
			<real>360.1953125</real>
		</dict>
		<key>Penalised</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>411.94786429766174</real>
					<key>controlPoint1Y</key>
					<real>422.43844041071969</real>
					<key>controlPoint2X</key>
					<real>448.05532692349095</real>
					<key>controlPoint2Y</key>
					<real>397.50243186441043</real>
					<key>dstPointX</key>
					<real>468.64882434199217</real>
					<key>dstPointY</key>
					<real>390.66185527388819</real>
					<key>srcPointX</key>
					<real>392.04964198871517</real>
					<key>srcPointY</key>
					<real>431.09559773632941</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.67240410110000004</real>
				<key>green</key>
				<real>0.68004945729999999</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>345.91796875</real>
			<key>y</key>
			<real>440</real>
		</dict>
		<key>PenalisedStance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>440.5692686298006</real>
					<key>controlPoint1Y</key>
					<real>300.24546620965288</real>
					<key>controlPoint2X</key>
					<real>360.17095527610553</real>
					<key>controlPoint2Y</key>
					<real>371.26173692158511</real>
					<key>dstPointX</key>
					<real>352.75297383863239</real>
					<key>dstPointY</key>
					<real>420.19966996141216</real>
					<key>srcPointX</key>
					<real>471.60112444876114</real>
					<key>srcPointY</key>
					<real>261.68419466359853</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>499.6953125</real>
			<key>y</key>
			<real>246</real>
		</dict>
		<key>Play</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>561.04557527087661</real>
					<key>controlPoint1Y</key>
					<real>534.42938723917132</real>
					<key>controlPoint2X</key>
					<real>273.26117750533882</real>
					<key>controlPoint2Y</key>
					<real>577.90607343188378</real>
					<key>dstPointX</key>
					<real>190.35941334271126</real>
					<key>dstPointY</key>
					<real>485.98925998952518</real>
					<key>srcPointX</key>
					<real>676.91416243270305</real>
					<key>srcPointY</key>
					<real>577.97101793664865</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>659.555266298368</real>
					<key>controlPoint1Y</key>
					<real>488.02823600791629</real>
					<key>controlPoint2X</key>
					<real>415.48214885938825</real>
					<key>controlPoint2Y</key>
					<real>529.35930372607595</real>
					<key>dstPointX</key>
					<real>369.25871291308295</real>
					<key>dstPointY</key>
					<real>456.33159525417886</real>
					<key>srcPointX</key>
					<real>697.61579234625265</real>
					<key>srcPointY</key>
					<real>565.62365206000584</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>776.03245117392885</real>
					<key>controlPoint1Y</key>
					<real>520.06647444207476</real>
					<key>controlPoint2X</key>
					<real>722.66201710321343</real>
					<key>controlPoint2Y</key>
					<real>345.28089572758262</real>
					<key>dstPointX</key>
					<real>667.68870598336571</real>
					<key>dstPointY</key>
					<real>356.28960335522322</real>
					<key>srcPointX</key>
					<real>745.39587319034308</real>
					<key>srcPointY</key>
					<real>567.02024605380063</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>814.82417481437631</real>
					<key>controlPoint1Y</key>
					<real>495.17611989684849</real>
					<key>controlPoint2X</key>
					<real>712.5239115049518</real>
					<key>controlPoint2Y</key>
					<real>249.89037027293438</real>
					<key>dstPointX</key>
					<real>780.21660340401331</real>
					<key>dstPointY</key>
					<real>179.39634511348191</real>
					<key>srcPointX</key>
					<real>750.6254289700604</real>
					<key>srcPointY</key>
					<real>568.86620845521372</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>788.53591585517142</real>
					<key>controlPoint1Y</key>
					<real>574.73591541026622</real>
					<key>controlPoint2X</key>
					<real>838.88997518900931</real>
					<key>controlPoint2Y</key>
					<real>592.27206291202708</real>
					<key>dstPointX</key>
					<real>860.64766014593124</real>
					<key>dstPointY</key>
					<real>604.45776408573806</real>
					<key>srcPointX</key>
					<real>764.23891774846561</real>
					<key>srcPointY</key>
					<real>580.35232447499664</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>624.27207088610817</real>
					<key>controlPoint1Y</key>
					<real>507.59629880739726</real>
					<key>controlPoint2X</key>
					<real>368.42474001136708</real>
					<key>controlPoint2Y</key>
					<real>544.491742463479</real>
					<key>dstPointX</key>
					<real>353.21681967872053</real>
					<key>dstPointY</key>
					<real>458.199700914495</real>
					<key>srcPointX</key>
					<real>685.77006484909703</real>
					<key>srcPointY</key>
					<real>570.01099270285658</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>630.66237250106667</real>
					<key>controlPoint1Y</key>
					<real>606.11877605980578</real>
					<key>controlPoint2X</key>
					<real>449.8172840383794</real>
					<key>controlPoint2Y</key>
					<real>614.52658263439253</real>
					<key>dstPointX</key>
					<real>491.75817826891841</real>
					<key>dstPointY</key>
					<real>636.59090242733316</real>
					<key>srcPointX</key>
					<real>675.68492855779812</real>
					<key>srcPointY</key>
					<real>591.32545787554147</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.80660056020000004</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.85832498049999995</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>718.5390625</real>
			<key>y</key>
			<real>585</real>
		</dict>
		<key>Ready</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>683.57649020561234</real>
					<key>controlPoint1Y</key>
					<real>181.44064709791343</real>
					<key>controlPoint2X</key>
					<real>518.6837093534532</real>
					<key>controlPoint2Y</key>
					<real>208.37678253416263</real>
					<key>dstPointX</key>
					<real>440.01537244158231</real>
					<key>dstPointY</key>
					<real>188.05371879853681</real>
					<key>srcPointX</key>
					<real>763.98556576125077</real>
					<key>srcPointY</key>
					<real>169.77382574976656</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>963.1172043450606</real>
					<key>controlPoint1Y</key>
					<real>148.49741316919938</real>
					<key>controlPoint2X</key>
					<real>981.98995430472235</real>
					<key>controlPoint2Y</key>
					<real>499.89434088663586</real>
					<key>dstPointX</key>
					<real>928.25060065428397</real>
					<key>dstPointY</key>
					<real>595.11491119028221</real>
					<key>srcPointX</key>
					<real>854.87775273308353</real>
					<key>srcPointY</key>
					<real>163.96015078118148</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>823.36883161845856</real>
					<key>controlPoint1Y</key>
					<real>281.3889139459676</real>
					<key>controlPoint2X</key>
					<real>827.25690901957489</real>
					<key>controlPoint2Y</key>
					<real>505.37519197114557</real>
					<key>dstPointX</key>
					<real>754.60091451481321</real>
					<key>dstPointY</key>
					<real>570.76069873867004</real>
					<key>srcPointX</key>
					<real>811.69433841014484</real>
					<key>srcPointY</key>
					<real>184.34323273834772</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>667.20937708772021</real>
					<key>controlPoint1Y</key>
					<real>226.60886183078651</real>
					<key>controlPoint2X</key>
					<real>450.39783049819221</real>
					<key>controlPoint2Y</key>
					<real>331.67119198074636</real>
					<key>dstPointX</key>
					<real>377.63617038351492</real>
					<key>dstPointY</key>
					<real>422.45656368921505</real>
					<key>srcPointX</key>
					<real>771.41054236175933</real>
					<key>srcPointY</key>
					<real>174.85598698869663</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>781.99642370381196</real>
					<key>controlPoint1Y</key>
					<real>81.963514552641726</real>
					<key>controlPoint2X</key>
					<real>501.87170893581282</real>
					<key>controlPoint2Y</key>
					<real>104.56891594882106</real>
					<key>dstPointX</key>
					<real>550.01392519127739</real>
					<key>dstPointY</key>
					<real>60.88348025926031</real>
					<key>srcPointX</key>
					<real>796.1578431207347</real>
					<key>srcPointY</key>
					<real>145.41069319340295</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.85811410830000001</real>
				<key>red</key>
				<real>0.77118627299999998</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>807</real>
			<key>y</key>
			<real>166.6953125</real>
		</dict>
		<key>ReadyFromInitial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>638.67401167699427</real>
					<key>controlPoint1Y</key>
					<real>134.67869729430419</real>
					<key>controlPoint2X</key>
					<real>720.31565135778726</real>
					<key>controlPoint2Y</key>
					<real>156.82870054975476</real>
					<key>dstPointX</key>
					<real>762.00216247387141</real>
					<key>dstPointY</key>
					<real>163.70236849117157</real>
					<key>srcPointX</key>
					<real>596.49783752612859</real>
					<key>srcPointY</key>
					<real>132.19216275882846</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>550.5</real>
			<key>y</key>
			<real>130.5390625</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>89</real>
			<key>y</key>
			<real>605.5</real>
		</dict>
		<key>Set</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>841.07049459120401</real>
					<key>controlPoint1Y</key>
					<real>498.61591252144268</real>
					<key>controlPoint2X</key>
					<real>846.77497143899416</real>
					<key>controlPoint2Y</key>
					<real>283.65144145399233</real>
					<key>dstPointX</key>
					<real>818.04768266014798</real>
					<key>dstPointY</key>
					<real>184.02772982048879</real>
					<key>srcPointX</key>
					<real>882.28883603641316</real>
					<key>srcPointY</key>
					<real>593.75365145150579</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>833.33433980460472</real>
					<key>controlPoint1Y</key>
					<real>614.85972090222515</real>
					<key>controlPoint2X</key>
					<real>785.63041286781549</real>
					<key>controlPoint2Y</key>
					<real>597.90908167550594</real>
					<key>dstPointX</key>
					<real>761.68570210289363</real>
					<key>dstPointY</key>
					<real>590.7065636778633</real>
					<key>srcPointX</key>
					<real>858.33872589593375</real>
					<key>srcPointY</key>
					<real>614.93792140019048</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>821.55290491803908</real>
					<key>controlPoint1Y</key>
					<real>759.90601596909369</real>
					<key>controlPoint2X</key>
					<real>259.54892373213323</real>
					<key>controlPoint2Y</key>
					<real>585.24056405021531</real>
					<key>dstPointX</key>
					<real>327.62074313817698</real>
					<key>dstPointY</key>
					<real>455.56138742030646</real>
					<key>srcPointX</key>
					<real>887.2133548623392</real>
					<key>srcPointY</key>
					<real>628.98937546158527</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.76952280900000003</real>
				<key>green</key>
				<real>0.98405000149999999</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>903</real>
			<key>y</key>
			<real>614.6953125</real>
		</dict>
		<key>Unpenalise</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>621.02618993606643</real>
					<key>controlPoint1Y</key>
					<real>510.00313562108624</real>
					<key>controlPoint2X</key>
					<real>707.33929000824298</real>
					<key>controlPoint2Y</key>
					<real>532.33692965106104</real>
					<key>dstPointX</key>
					<real>712.28574643001298</real>
					<key>dstPointY</key>
					<real>565.18395217757029</real>
					<key>srcPointX</key>
					<real>611.40256531132172</real>
					<key>srcPointY</key>
					<real>478.21036648923047</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.49384898190045246</real>
				<key>red</key>
				<real>0.0049709780451328012</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>598.54296875</real>
			<key>y</key>
			<real>460.5</real>
		</dict>
		<key>Wait_Chest_Release</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>504.78893767578973</real>
					<key>controlPoint1Y</key>
					<real>499.24628651460165</real>
					<key>controlPoint2X</key>
					<real>566.72370603915738</real>
					<key>controlPoint2Y</key>
					<real>494.96518240743035</real>
					<key>dstPointX</key>
					<real>577.38688365087489</real>
					<key>dstPointY</key>
					<real>476.57059857838192</real>
					<key>srcPointX</key>
					<real>492.54743338123967</real>
					<key>srcPointY</key>
					<real>481.86210854641934</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>468.5</real>
			<key>y</key>
			<real>467.5</real>
		</dict>
		<key>Wait_Unpenalise</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>548.36405283648833</real>
					<key>controlPoint1Y</key>
					<real>416.87559337697644</real>
					<key>controlPoint2X</key>
					<real>581.06742258250176</real>
					<key>controlPoint2Y</key>
					<real>420.50960311201612</real>
					<key>dstPointX</key>
					<real>586.40473481137542</real>
					<key>dstPointY</key>
					<real>439.78427815912175</real>
					<key>srcPointX</key>
					<real>535.9333436436732</real>
					<key>srcPointY</key>
					<real>401.20787277174281</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>490.98480666346751</real>
					<key>controlPoint1Y</key>
					<real>422.55805019430181</real>
					<key>controlPoint2X</key>
					<real>495.21160526851327</real>
					<key>controlPoint2Y</key>
					<real>426.49241134172507</real>
					<key>dstPointX</key>
					<real>488.00187766060571</real>
					<key>dstPointY</key>
					<real>445.14770088168598</real>
					<key>srcPointX</key>
					<real>496.11530983939429</real>
					<key>srcPointY</key>
					<real>403.22729911831397</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.020020871525449426</real>
				<key>red</key>
				<real>0.56633554864253388</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>507.38671875</real>
			<key>y</key>
			<real>385.5</real>
		</dict>
		<key>WalkStance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>252.7562794564175</real>
					<key>controlPoint1Y</key>
					<real>266.6862296237947</real>
					<key>controlPoint2X</key>
					<real>353.1712866617504</real>
					<key>controlPoint2Y</key>
					<real>225.47187690704371</real>
					<key>dstPointX</key>
					<real>371.79337027848584</real>
					<key>dstPointY</key>
					<real>198.55223511399882</real>
					<key>srcPointX</key>
					<real>245.94163269156462</real>
					<key>srcPointY</key>
					<real>234.67045691775468</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>236.5</real>
			<key>y</key>
			<real>216.0390625</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
