<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>ChangeKickoff</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>383.5262439436512</real>
					<key>controlPoint1Y</key>
					<real>95.21743478472375</real>
					<key>controlPoint2X</key>
					<real>422.67146364017816</real>
					<key>controlPoint2Y</key>
					<real>142.49971338958699</real>
					<key>dstPointX</key>
					<real>413.28910849739941</real>
					<key>dstPointY</key>
					<real>164.47879266755157</real>
					<key>srcPointX</key>
					<real>389.29394864019355</real>
					<key>srcPointY</key>
					<real>72.026011877412486</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>400.5</real>
			<key>y</key>
			<real>51.9609375</real>
		</dict>
		<key>ChangeTeam</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>256.21055348167653</real>
					<key>controlPoint1Y</key>
					<real>110.19025360885844</real>
					<key>controlPoint2X</key>
					<real>338.77354764433034</real>
					<key>controlPoint2Y</key>
					<real>139.21972797806021</real>
					<key>dstPointX</key>
					<real>366.64950417284143</real>
					<key>dstPointY</key>
					<real>169.20658215728136</real>
					<key>srcPointX</key>
					<real>230.30200687670822</real>
					<key>srcPointY</key>
					<real>78.488083513366547</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>205.5</real>
			<key>y</key>
			<real>65.0390625</real>
		</dict>
		<key>Finished</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>113.41637709227672</real>
					<key>controlPoint1Y</key>
					<real>434.7354247219277</real>
					<key>controlPoint2X</key>
					<real>73.472626100150549</real>
					<key>controlPoint2Y</key>
					<real>380.66828837694186</real>
					<key>dstPointX</key>
					<real>79.995685291562623</real>
					<key>dstPointY</key>
					<real>352.02460808647487</real>
					<key>srcPointX</key>
					<real>132.39256010520569</real>
					<key>srcPointY</key>
					<real>457.16119561295795</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>329.7811172592194</real>
					<key>controlPoint1Y</key>
					<real>480.53575716947944</real>
					<key>controlPoint2X</key>
					<real>563.58680503704909</real>
					<key>controlPoint2Y</key>
					<real>535.87122990991736</real>
					<key>dstPointX</key>
					<real>674.69289689538323</real>
					<key>dstPointY</key>
					<real>577.67454121177605</real>
					<key>srcPointX</key>
					<real>211.22116560461677</real>
					<key>srcPointY</key>
					<real>474.56764628822395</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>236.27328404566663</real>
					<key>controlPoint1Y</key>
					<real>464.15671613315385</real>
					<key>controlPoint2X</key>
					<real>279.38267005148475</real>
					<key>controlPoint2Y</key>
					<real>436.15277915687511</real>
					<key>dstPointX</key>
					<real>303.05087233952179</real>
					<key>dstPointY</key>
					<real>438.28242886723496</real>
					<key>srcPointX</key>
					<real>212.99990891047824</real>
					<key>srcPointY</key>
					<real>468.95975863276504</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.23476385750000001</real>
				<key>green</key>
				<real>0.23476385750000001</real>
				<key>red</key>
				<real>0.23476385750000001</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.54102667950466043</real>
				<key>green</key>
				<real>0.57799092703633326</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>163.5</real>
			<key>y</key>
			<real>473.5</real>
		</dict>
		<key>GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>168.7953777301538</real>
					<key>controlPoint1Y</key>
					<real>332.88908703880992</real>
					<key>controlPoint2X</key>
					<real>162.9650401292308</real>
					<key>controlPoint2Y</key>
					<real>209.8335552764774</real>
					<key>dstPointX</key>
					<real>196.04856786030967</real>
					<key>dstPointY</key>
					<real>213.82885465132989</real>
					<key>srcPointX</key>
					<real>135.47235919131379</real>
					<key>srcPointY</key>
					<real>332.64688941725785</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.3261279628</real>
				<key>red</key>
				<real>0.54600890840000005</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>90</real>
			<key>y</key>
			<real>332.45703125</real>
		</dict>
		<key>GetUpPlay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>619.731306942007</real>
					<key>controlPoint1Y</key>
					<real>654.68060248195491</real>
					<key>controlPoint2X</key>
					<real>777.06116747254271</real>
					<key>controlPoint2Y</key>
					<real>634.23510553903066</real>
					<key>dstPointX</key>
					<real>747.85292462082941</real>
					<key>dstPointY</key>
					<real>600.20113579625274</real>
					<key>srcPointX</key>
					<real>575.24506217879207</real>
					<key>srcPointY</key>
					<real>648.98792527309161</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.3261279628</real>
				<key>red</key>
				<real>0.54600890840000005</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>531.5</real>
			<key>y</key>
			<real>646.45703125</real>
		</dict>
		<key>GetUpReady</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>683.40914688787632</real>
					<key>controlPoint1Y</key>
					<real>41.671111725969553</real>
					<key>controlPoint2X</key>
					<real>887.28543905758545</real>
					<key>controlPoint2Y</key>
					<real>111.12400834551295</real>
					<key>dstPointX</key>
					<real>842.47091412713849</real>
					<key>dstPointY</key>
					<real>152.08924992769414</real>
					<key>srcPointX</key>
					<real>623.05168471523939</real>
					<key>srcPointY</key>
					<real>48.264246238993167</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.32612796280242817</real>
				<key>red</key>
				<real>0.54600890837104066</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>576.95703125</real>
			<key>y</key>
			<real>50.5</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>68.843632081124511</real>
					<key>controlPoint1Y</key>
					<real>166.74379830843915</real>
					<key>controlPoint2X</key>
					<real>77.068281432189622</real>
					<key>controlPoint2Y</key>
					<real>264.25461073961628</real>
					<key>dstPointX</key>
					<real>83.81963120744399</real>
					<key>dstPointY</key>
					<real>312.76374369776664</real>
					<key>srcPointX</key>
					<real>63.180368792555996</real>
					<key>srcPointY</key>
					<real>118.09563130223336</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.68684601239999998</real>
				<key>green</key>
				<real>0.68684601239999998</real>
				<key>red</key>
				<real>0.68684601239999998</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>57</real>
			<key>y</key>
			<real>94.30859375</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>461.20913451364203</real>
					<key>controlPoint1Y</key>
					<real>177.94541145646039</real>
					<key>controlPoint2X</key>
					<real>486.33572530716287</real>
					<key>controlPoint2Y</key>
					<real>136.14293904238465</real>
					<key>dstPointX</key>
					<real>506.17779110711729</real>
					<key>dstPointY</key>
					<real>133.31124377775012</real>
					<key>srcPointX</key>
					<real>441.32220889288271</real>
					<key>srcPointY</key>
					<real>180.44266247224991</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>479.88807156271264</real>
					<key>controlPoint1Y</key>
					<real>263.9428576789856</real>
					<key>controlPoint2X</key>
					<real>282.24988769395503</real>
					<key>controlPoint2Y</key>
					<real>410.92397434052333</real>
					<key>dstPointX</key>
					<real>213.12980277388738</real>
					<key>dstPointY</key>
					<real>458.36163341435667</real>
					<key>srcPointX</key>
					<real>426.30298379555779</real>
					<key>srcPointY</key>
					<real>199.47149964498016</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>457.44179091669952</real>
					<key>controlPoint1Y</key>
					<real>208.15146282035704</real>
					<key>controlPoint2X</key>
					<real>547.5593576453407</real>
					<key>controlPoint2Y</key>
					<real>213.06010069168622</real>
					<key>dstPointX</key>
					<real>530.2075853372271</real>
					<key>dstPointY</key>
					<real>231.49794678177801</real>
					<key>srcPointX</key>
					<real>436.10312201923932</real>
					<key>srcPointY</key>
					<real>194.52430683096969</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>426.73314502047407</real>
					<key>controlPoint1Y</key>
					<real>139.78163458826617</real>
					<key>controlPoint2X</key>
					<real>473.82553887314521</real>
					<key>controlPoint2Y</key>
					<real>68.455551859846466</real>
					<key>dstPointX</key>
					<real>447.75367490604879</real>
					<key>dstPointY</key>
					<real>59.341571922560931</real>
					<key>srcPointX</key>
					<real>414.92389225893305</real>
					<key>srcPointY</key>
					<real>164.74857813828964</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>369.88769251004129</real>
					<key>controlPoint1Y</key>
					<real>125.68861638303187</real>
					<key>controlPoint2X</key>
					<real>290.33260290381213</real>
					<key>controlPoint2Y</key>
					<real>75.085182353699111</real>
					<key>dstPointX</key>
					<real>249.96100027007367</real>
					<key>dstPointY</key>
					<real>68.314167671125432</real>
					<key>srcPointX</key>
					<real>382.34015088586352</real>
					<key>srcPointY</key>
					<real>164.68411893712803</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.23476385750000001</real>
				<key>green</key>
				<real>0.23476385750000001</real>
				<key>red</key>
				<real>0.23476385750000001</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.54160859747863899</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.58140735301418844</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>395.5</real>
			<key>y</key>
			<real>183.0390625</real>
		</dict>
		<key>OurGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>697.760385835904</real>
					<key>controlPoint1Y</key>
					<real>306.72197462364329</real>
					<key>controlPoint2X</key>
					<real>734.32573791334107</real>
					<key>controlPoint2Y</key>
					<real>206.08001918953616</real>
					<key>dstPointX</key>
					<real>774.90034465730628</real>
					<key>dstPointY</key>
					<real>176.79645045843952</real>
					<key>srcPointX</key>
					<real>663.10804829020788</real>
					<key>srcPointY</key>
					<real>342.81964231388935</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>626</real>
			<key>y</key>
			<real>360.1953125</real>
		</dict>
		<key>Penalised</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>411.85382015932896</real>
					<key>controlPoint1Y</key>
					<real>422.42822712463243</real>
					<key>controlPoint2X</key>
					<real>448.44260950575784</real>
					<key>controlPoint2Y</key>
					<real>397.98209901982284</real>
					<key>dstPointX</key>
					<real>469.03554309199217</real>
					<key>dstPointY</key>
					<real>391.16185527388819</real>
					<key>srcPointX</key>
					<real>391.96761073871517</real>
					<key>srcPointY</key>
					<real>431.09559773632941</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.67240410110000004</real>
				<key>green</key>
				<real>0.68004945729999999</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>345.91796875</real>
			<key>y</key>
			<real>440</real>
		</dict>
		<key>PenalisedStance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>440.36868572057489</real>
					<key>controlPoint1Y</key>
					<real>300.38224700720332</real>
					<key>controlPoint2X</key>
					<real>360.00695919713422</real>
					<key>controlPoint2Y</key>
					<real>371.20734493451903</real>
					<key>dstPointX</key>
					<real>352.67094258863239</real>
					<key>dstPointY</key>
					<real>420.19966996141216</real>
					<key>srcPointX</key>
					<real>471.29643694876114</real>
					<key>srcPointY</key>
					<real>261.68419466359853</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>499.6953125</real>
			<key>y</key>
			<real>246</real>
		</dict>
		<key>Play</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>560.58897858627427</real>
					<key>controlPoint1Y</key>
					<real>534.39056870811919</real>
					<key>controlPoint2X</key>
					<real>272.76760545492937</real>
					<key>controlPoint2Y</key>
					<real>578.41320038086121</real>
					<key>dstPointX</key>
					<real>189.85941334271126</real>
					<key>dstPointY</key>
					<real>486.48925998952518</real>
					<key>srcPointX</key>
					<real>676.45322493270305</real>
					<key>srcPointY</key>
					<real>577.97101793664865</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>659.13777097202899</real>
					<key>controlPoint1Y</key>
					<real>487.97496244528367</real>
					<key>controlPoint2X</key>
					<real>415.29886947919289</real>
					<key>controlPoint2Y</key>
					<real>529.45725050757608</real>
					<key>dstPointX</key>
					<real>369.17668166308295</real>
					<key>dstPointY</key>
					<real>456.33159525417886</real>
					<key>srcPointX</key>
					<real>697.15485484625265</real>
					<key>srcPointY</key>
					<real>565.62365206000584</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>775.58006053825352</real>
					<key>controlPoint1Y</key>
					<real>520.12277770138621</real>
					<key>controlPoint2X</key>
					<real>722.72924946202738</real>
					<key>controlPoint2Y</key>
					<real>346.04294341782946</real>
					<key>dstPointX</key>
					<real>667.68870598336571</real>
					<key>dstPointY</key>
					<real>356.48491585522322</real>
					<key>srcPointX</key>
					<real>744.93493569034308</real>
					<key>srcPointY</key>
					<real>567.02024605380063</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>814.37578654256265</real>
					<key>controlPoint1Y</key>
					<real>495.25263996872411</real>
					<key>controlPoint2X</key>
					<real>713.11028986119993</real>
					<key>controlPoint2Y</key>
					<real>250.07609649199009</real>
					<key>dstPointX</key>
					<real>780.21660340401331</real>
					<key>dstPointY</key>
					<real>179.09165761348191</real>
					<key>srcPointX</key>
					<real>750.1644914700604</real>
					<key>srcPointY</key>
					<real>568.86620845521372</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>788.07820090190523</real>
					<key>controlPoint1Y</key>
					<real>574.74001656356438</real>
					<key>controlPoint2X</key>
					<real>838.79204328468791</real>
					<key>controlPoint2Y</key>
					<real>592.13930384304331</real>
					<key>dstPointX</key>
					<real>860.64766014593124</real>
					<key>dstPointY</key>
					<real>604.15307658573806</real>
					<key>srcPointX</key>
					<real>763.77798024846561</real>
					<key>srcPointY</key>
					<real>580.35232447499664</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>623.8277204002668</real>
					<key>controlPoint1Y</key>
					<real>507.53969672499761</real>
					<key>controlPoint2X</key>
					<real>368.17989175682169</real>
					<key>controlPoint2Y</key>
					<real>544.54940321512652</real>
					<key>dstPointX</key>
					<real>353.13478842872053</real>
					<key>dstPointY</key>
					<real>458.199700914495</real>
					<key>srcPointX</key>
					<real>685.30912734909703</real>
					<key>srcPointY</key>
					<real>570.01099270285658</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>630.19885296734265</real>
					<key>controlPoint1Y</key>
					<real>606.13297820630896</real>
					<key>controlPoint2X</key>
					<real>449.35274532216965</real>
					<key>controlPoint2Y</key>
					<real>614.90159294220894</real>
					<key>dstPointX</key>
					<real>491.25817826891841</real>
					<key>dstPointY</key>
					<real>637.04793367733316</real>
					<key>srcPointX</key>
					<real>675.22399105779812</real>
					<key>srcPointY</key>
					<real>591.32545787554147</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.80660056020000004</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.85832498049999995</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>718.5390625</real>
			<key>y</key>
			<real>585</real>
		</dict>
		<key>Ready</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>683.69926642853966</real>
					<key>controlPoint1Y</key>
					<real>181.93838339094728</real>
					<key>controlPoint2X</key>
					<real>518.14339046809027</real>
					<key>controlPoint2Y</key>
					<real>208.5624348411763</real>
					<key>dstPointX</key>
					<real>439.51537244158231</real>
					<key>dstPointY</key>
					<real>188.09278129853681</real>
					<key>srcPointX</key>
					<real>763.98556576125077</real>
					<key>srcPointY</key>
					<real>169.46913824976656</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>963.25207627102031</real>
					<key>controlPoint1Y</key>
					<real>149.1681882643559</real>
					<key>controlPoint2X</key>
					<real>982.39279699325766</real>
					<key>controlPoint2Y</key>
					<real>499.81813078086913</real>
					<key>dstPointX</key>
					<real>928.25060065428397</real>
					<key>dstPointY</key>
					<real>594.81022369028221</real>
					<key>srcPointX</key>
					<real>854.87775273308353</real>
					<key>srcPointY</key>
					<real>163.65546328118148</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>823.23477162919528</real>
					<key>controlPoint1Y</key>
					<real>281.05017561023084</real>
					<key>controlPoint2X</key>
					<real>826.79462605882884</real>
					<key>controlPoint2Y</key>
					<real>505.44806597451679</real>
					<key>dstPointX</key>
					<real>754.13997701481321</real>
					<key>dstPointY</key>
					<real>570.76069873867004</real>
					<key>srcPointX</key>
					<real>811.69433841014484</real>
					<key>srcPointY</key>
					<real>184.03854523834772</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>667.73219926642264</real>
					<key>controlPoint1Y</key>
					<real>227.32471200552035</real>
					<key>controlPoint2X</key>
					<real>450.19535118520639</real>
					<key>controlPoint2Y</key>
					<real>331.5858521957619</real>
					<key>dstPointX</key>
					<real>377.55413913351492</real>
					<key>dstPointY</key>
					<real>422.45656368921505</real>
					<key>srcPointX</key>
					<real>771.41054236175933</real>
					<key>srcPointY</key>
					<real>174.55129948869663</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>781.86766268151769</real>
					<key>controlPoint1Y</key>
					<real>81.661149165969221</real>
					<key>controlPoint2X</key>
					<real>501.77497166704325</real>
					<key>controlPoint2Y</key>
					<real>105.04818143095986</real>
					<key>dstPointX</key>
					<real>549.97095644127739</real>
					<key>dstPointY</key>
					<real>61.38348025926031</real>
					<key>srcPointX</key>
					<real>796.1578431207347</real>
					<key>srcPointY</key>
					<real>145.10600569340295</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.85811410830000001</real>
				<key>red</key>
				<real>0.77118627299999998</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>807</real>
			<key>y</key>
			<real>166.6953125</real>
		</dict>
		<key>ReadyFromInitial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>638.17647067800362</real>
					<key>controlPoint1Y</key>
					<real>134.29938350594637</real>
					<key>controlPoint2X</key>
					<real>720.24483939106597</real>
					<key>controlPoint2Y</key>
					<real>156.92014285536007</real>
					<key>dstPointX</key>
					<real>762.00216247387141</real>
					<key>dstPointY</key>
					<real>163.39768099117157</real>
					<key>srcPointX</key>
					<real>595.99783752612859</real>
					<key>srcPointY</key>
					<real>131.73122525882846</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>550.5</real>
			<key>y</key>
			<real>130.5390625</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>89</real>
			<key>y</key>
			<real>605.5</real>
		</dict>
		<key>Set</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>840.74921606971986</real>
					<key>controlPoint1Y</key>
					<real>498.45106390502377</real>
					<key>controlPoint2X</key>
					<real>846.47381545016765</real>
					<key>controlPoint2Y</key>
					<real>283.43310206785259</real>
					<key>dstPointX</key>
					<real>818.04768266014798</real>
					<key>dstPointY</key>
					<real>183.72304232048879</real>
					<key>srcPointX</key>
					<real>882.28883603641316</real>
					<key>srcPointY</key>
					<real>593.44896395150579</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>833.33253258310913</real>
					<key>controlPoint1Y</key>
					<real>614.80108095884134</real>
					<key>controlPoint2X</key>
					<real>785.17344430480011</real>
					<key>controlPoint2Y</key>
					<real>597.90368929639646</real>
					<key>dstPointX</key>
					<real>761.22476460289363</real>
					<key>dstPointY</key>
					<real>590.7065636778633</real>
					<key>srcPointX</key>
					<real>858.33872589593375</real>
					<key>srcPointY</key>
					<real>614.63323390019048</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>373.98046875</real>
					<key>controlPoint1Y</key>
					<real>800.46875</real>
					<key>controlPoint2X</key>
					<real>259.21317709563692</real>
					<key>controlPoint2Y</key>
					<real>585.14553399360011</real>
					<key>dstPointX</key>
					<real>327.53871188817698</real>
					<key>dstPointY</key>
					<real>455.56138742030646</real>
					<key>srcPointX</key>
					<real>887.2133548623392</real>
					<key>srcPointY</key>
					<real>628.68468796158527</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.76952280900000003</real>
				<key>green</key>
				<real>0.98405000149999999</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>903</real>
			<key>y</key>
			<real>614.6953125</real>
		</dict>
		<key>Unpenalise</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>620.59947245573767</real>
					<key>controlPoint1Y</key>
					<real>510.4931690239589</real>
					<key>controlPoint2X</key>
					<real>706.9066073137493</real>
					<key>controlPoint2Y</key>
					<real>532.33343686431385</real>
					<key>dstPointX</key>
					<real>711.82480893001298</real>
					<key>dstPointY</key>
					<real>565.18395217757029</real>
					<key>srcPointX</key>
					<real>610.94553406132172</real>
					<key>srcPointY</key>
					<real>478.71036648923047</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.49384898190045246</real>
				<key>red</key>
				<real>0.0049709780451328012</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>598.54296875</real>
			<key>y</key>
			<real>460.5</real>
		</dict>
		<key>Wait_Chest_Release</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>504.29511052556381</real>
					<key>controlPoint1Y</key>
					<real>499.75505258750098</real>
					<key>controlPoint2X</key>
					<real>566.27718498956403</real>
					<key>controlPoint2Y</key>
					<real>495.48365847813221</real>
					<key>dstPointX</key>
					<real>576.92985240087489</real>
					<key>dstPointY</key>
					<real>477.07059857838192</real>
					<key>srcPointX</key>
					<real>492.04743338123967</real>
					<key>srcPointY</key>
					<real>482.36210854641934</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>468.5</real>
			<key>y</key>
			<real>467.5</real>
		</dict>
		<key>Wait_Unpenalise</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>548.72083568548362</real>
					<key>controlPoint1Y</key>
					<real>417.3992978748085</real>
					<key>controlPoint2X</key>
					<real>580.62730899201551</real>
					<key>controlPoint2Y</key>
					<real>421.00492646809425</real>
					<key>dstPointX</key>
					<real>585.94770356137542</real>
					<key>dstPointY</key>
					<real>440.28427815912175</real>
					<key>srcPointX</key>
					<real>536.3200623936732</real>
					<key>srcPointY</key>
					<real>401.70787277174281</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>491.32169528856139</real>
					<key>controlPoint1Y</key>
					<real>423.04475616866824</real>
					<key>controlPoint2X</key>
					<real>494.71160526851327</real>
					<key>controlPoint2Y</key>
					<real>426.99241134172507</real>
					<key>dstPointX</key>
					<real>487.50187766060571</real>
					<key>dstPointY</key>
					<real>445.64770088168598</real>
					<key>srcPointX</key>
					<real>496.50202858939429</real>
					<key>srcPointY</key>
					<real>403.72729911831397</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.020020871525449426</real>
				<key>red</key>
				<real>0.56633554864253388</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>507.38671875</real>
			<key>y</key>
			<real>385.5</real>
		</dict>
		<key>WalkStance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>252.24266638594173</real>
					<key>controlPoint1Y</key>
					<real>266.72818667893972</real>
					<key>controlPoint2X</key>
					<real>352.70288041696432</real>
					<key>controlPoint2Y</key>
					<real>225.53276749229616</real>
					<key>dstPointX</key>
					<real>371.29337027848584</real>
					<key>dstPointY</key>
					<real>198.59129761399882</real>
					<key>srcPointX</key>
					<real>245.44163269156462</real>
					<key>srcPointY</key>
					<real>234.70951941775468</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>236.5</real>
			<key>y</key>
			<real>216.0390625</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
