<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>ChangeKickoff</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>386.31459898719493</real>
					<key>controlPoint1Y</key>
					<real>95.478317465723109</real>
					<key>controlPoint2X</key>
					<real>425.22667717512508</real>
					<key>controlPoint2Y</key>
					<real>142.67202632922925</real>
					<key>dstPointX</key>
					<real>415.28910849739941</real>
					<key>dstPointY</key>
					<real>164.32254266755157</real>
					<key>srcPointX</key>
					<real>391.29394864019355</real>
					<key>srcPointY</key>
					<real>72.182261877412486</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>400.5</real>
			<key>y</key>
			<real>51.9609375</real>
		</dict>
		<key>ChangeTeam</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>259.294698511739</real>
					<key>controlPoint1Y</key>
					<real>109.11616352461502</real>
					<key>controlPoint2X</key>
					<real>341.75169132179286</real>
					<key>controlPoint2Y</key>
					<real>138.18306729990729</real>
					<key>dstPointX</key>
					<real>368.64950417284143</real>
					<key>dstPointY</key>
					<real>169.05033215728136</real>
					<key>srcPointX</key>
					<real>232.30200687670822</real>
					<key>srcPointY</key>
					<real>78.331833513366547</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>205.5</real>
			<key>y</key>
			<real>65.0390625</real>
		</dict>
		<key>Finished</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>116.87599471599586</real>
					<key>controlPoint1Y</key>
					<real>431.41487322244143</real>
					<key>controlPoint2X</key>
					<real>72.991414405660265</real>
					<key>controlPoint2Y</key>
					<real>378.86106191585435</real>
					<key>dstPointX</key>
					<real>79.995685291562623</real>
					<key>dstPointY</key>
					<real>350.19648308647487</real>
					<key>srcPointX</key>
					<real>134.39256010520569</real>
					<key>srcPointY</key>
					<real>455.16119561295795</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>331.95193605611718</real>
					<key>controlPoint1Y</key>
					<real>470.22107851557206</real>
					<key>controlPoint2X</key>
					<real>565.82991098262551</real>
					<key>controlPoint2Y</key>
					<real>534.70337813860044</real>
					<key>dstPointX</key>
					<real>676.53664689538323</real>
					<key>dstPointY</key>
					<real>577.67454121177605</real>
					<key>srcPointX</key>
					<real>213.22116560461677</real>
					<key>srcPointY</key>
					<real>472.56764628822395</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>237.57891733803962</real>
					<key>controlPoint1Y</key>
					<real>460.94286579491558</real>
					<key>controlPoint2X</key>
					<real>280.10750819214689</real>
					<key>controlPoint2Y</key>
					<real>436.17235449469183</real>
					<key>dstPointX</key>
					<real>303.37899733952179</real>
					<key>dstPointY</key>
					<real>438.28242886723496</real>
					<key>srcPointX</key>
					<real>214.99990891047824</real>
					<key>srcPointY</key>
					<real>466.95975863276504</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.23476385750000001</real>
				<key>green</key>
				<real>0.23476385750000001</real>
				<key>red</key>
				<real>0.23476385750000001</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.54102667950466043</real>
				<key>green</key>
				<real>0.57799092703633326</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>163.5</real>
			<key>y</key>
			<real>473.5</real>
		</dict>
		<key>GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>168.65236541521205</real>
					<key>controlPoint1Y</key>
					<real>328.8794509411228</real>
					<key>controlPoint2X</key>
					<real>165.10828635126637</real>
					<key>controlPoint2Y</key>
					<real>209.2441055961616</real>
					<key>dstPointX</key>
					<real>198.04856786030967</real>
					<key>dstPointY</key>
					<real>213.67260465132989</real>
					<key>srcPointX</key>
					<real>135.47235919131379</real>
					<key>srcPointY</key>
					<real>330.81876441725785</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.3261279628</real>
				<key>red</key>
				<real>0.54600890840000005</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>90</real>
			<key>y</key>
			<real>332.45703125</real>
		</dict>
		<key>GetUpPlay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>621.89311745921486</real>
					<key>controlPoint1Y</key>
					<real>649.73491796507062</real>
					<key>controlPoint2X</key>
					<real>779.56822186653301</real>
					<key>controlPoint2Y</key>
					<real>633.48432579659573</real>
					<key>dstPointX</key>
					<real>749.69667462082941</real>
					<key>dstPointY</key>
					<real>600.20113579625274</real>
					<key>srcPointX</key>
					<real>577.24506217879207</real>
					<key>srcPointY</key>
					<real>647.15980027309161</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.3261279628</real>
				<key>red</key>
				<real>0.54600890840000005</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>531.5</real>
			<key>y</key>
			<real>646.45703125</real>
		</dict>
		<key>GetUpReady</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>683.15814734767343</real>
					<key>controlPoint1Y</key>
					<real>35.365541320579155</real>
					<key>controlPoint2X</key>
					<real>888.46348580921028</real>
					<key>controlPoint2Y</key>
					<real>113.36278852960446</real>
					<key>dstPointX</key>
					<real>842.47091412713849</real>
					<key>dstPointY</key>
					<real>153.30799992769414</real>
					<key>srcPointX</key>
					<real>623.22355971523939</real>
					<key>srcPointY</key>
					<real>46.264246238993167</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.32612796280242817</real>
				<key>red</key>
				<real>0.54600890837104066</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>576.95703125</real>
			<key>y</key>
			<real>50.5</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>69.005395692526065</real>
					<key>controlPoint1Y</key>
					<real>165.34165191358136</real>
					<key>controlPoint2X</key>
					<real>77.505693286449471</real>
					<key>controlPoint2Y</key>
					<real>262.51647078138944</real>
					<key>dstPointX</key>
					<real>83.81963120744399</real>
					<key>dstPointY</key>
					<real>310.93561869776664</real>
					<key>srcPointX</key>
					<real>63.180368792555996</real>
					<key>srcPointY</key>
					<real>116.86125630223336</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.68684601239999998</real>
				<key>green</key>
				<real>0.68684601239999998</real>
				<key>red</key>
				<real>0.68684601239999998</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>57</real>
			<key>y</key>
			<real>94.30859375</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>463.15779386325482</real>
					<key>controlPoint1Y</key>
					<real>177.72719992086837</real>
					<key>controlPoint2X</key>
					<real>488.63801854010984</real>
					<key>controlPoint2Y</key>
					<real>139.4208217196184</real>
					<key>dstPointX</key>
					<real>508.17779110711729</real>
					<key>dstPointY</key>
					<real>135.15499377775012</real>
					<key>srcPointX</key>
					<real>443.32220889288271</real>
					<key>srcPointY</key>
					<real>180.28641247224991</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>483.5128889487907</real>
					<key>controlPoint1Y</key>
					<real>262.05612925198164</real>
					<key>controlPoint2X</key>
					<real>282.56099707617204</real>
					<key>controlPoint2Y</key>
					<real>406.98972200861135</real>
					<key>dstPointX</key>
					<real>215.12980277388738</real>
					<key>dstPointY</key>
					<real>456.36163341435667</real>
					<key>srcPointX</key>
					<real>428.30298379555779</real>
					<key>srcPointY</key>
					<real>199.31524964498016</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>459.59866408172837</real>
					<key>controlPoint1Y</key>
					<real>207.42684433017763</real>
					<key>controlPoint2X</key>
					<real>548.87386180291412</real>
					<key>controlPoint2Y</key>
					<real>213.38237117019844</real>
					<key>dstPointX</key>
					<real>531.4263353372271</real>
					<key>dstPointY</key>
					<real>231.49794678177801</real>
					<key>srcPointX</key>
					<real>438.10312201923932</real>
					<key>srcPointY</key>
					<real>194.36805683096969</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>429.34422551409074</real>
					<key>controlPoint1Y</key>
					<real>140.0072181441416</real>
					<key>controlPoint2X</key>
					<real>475.7837394181675</real>
					<key>controlPoint2Y</key>
					<real>68.504933173593116</real>
					<key>dstPointX</key>
					<real>449.75367490604879</real>
					<key>dstPointY</key>
					<real>59.497821922560931</real>
					<key>srcPointX</key>
					<real>416.92389225893305</real>
					<key>srcPointY</key>
					<real>164.59232813828964</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>373.28302021202194</real>
					<key>controlPoint1Y</key>
					<real>125.11400335267037</real>
					<key>controlPoint2X</key>
					<real>292.41590279652036</real>
					<key>controlPoint2Y</key>
					<real>74.412020374455608</real>
					<key>dstPointX</key>
					<real>251.96100027007367</real>
					<key>dstPointY</key>
					<real>68.157917671125432</real>
					<key>srcPointX</key>
					<real>384.34015088586352</real>
					<key>srcPointY</key>
					<real>164.52786893712803</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.23476385750000001</real>
				<key>green</key>
				<real>0.23476385750000001</real>
				<key>red</key>
				<real>0.23476385750000001</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.54160859747863899</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.58140735301418844</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>395.5</real>
			<key>y</key>
			<real>183.0390625</real>
		</dict>
		<key>OurGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>696.74087209087338</real>
					<key>controlPoint1Y</key>
					<real>305.4095710145794</real>
					<key>controlPoint2X</key>
					<real>735.53970652931594</real>
					<key>controlPoint2Y</key>
					<real>208.40561922391208</real>
					<key>dstPointX</key>
					<real>774.90034465730628</real>
					<key>dstPointY</key>
					<real>178.01520045843952</real>
					<key>srcPointX</key>
					<real>663.10804829020788</real>
					<key>srcPointY</key>
					<real>342.03839231388935</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>626</real>
			<key>y</key>
			<real>360.1953125</real>
		</dict>
		<key>Penalised</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>412.08784053714152</real>
					<key>controlPoint1Y</key>
					<real>422.53038249771078</real>
					<key>controlPoint2X</key>
					<real>446.50400639685682</real>
					<key>controlPoint2Y</key>
					<real>394.1352140963013</real>
					<key>dstPointX</key>
					<real>467.48866809199217</real>
					<key>dstPointY</key>
					<real>389.16185527388819</real>
					<key>srcPointX</key>
					<real>392.29573573871517</real>
					<key>srcPointY</key>
					<real>431.09559773632941</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.67240410110000004</real>
				<key>green</key>
				<real>0.68004945729999999</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>345.91796875</real>
			<key>y</key>
			<real>440</real>
		</dict>
		<key>PenalisedStance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>442.03958086283075</real>
					<key>controlPoint1Y</key>
					<real>300.813695354272</real>
					<key>controlPoint2X</key>
					<real>360.69653396405698</real>
					<key>controlPoint2Y</key>
					<real>371.20345171953738</real>
					<key>dstPointX</key>
					<real>352.99906758863239</real>
					<key>dstPointY</key>
					<real>420.19966996141216</real>
					<key>srcPointX</key>
					<real>472.51518694876114</real>
					<key>srcPointY</key>
					<real>261.68419466359853</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>499.6953125</real>
			<key>y</key>
			<real>246</real>
		</dict>
		<key>Play</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>562.88232951740542</real>
					<key>controlPoint1Y</key>
					<real>533.12651780319402</real>
					<key>controlPoint2X</key>
					<real>282.62467096844881</real>
					<key>controlPoint2Y</key>
					<real>568.710620562077</real>
					<key>dstPointX</key>
					<real>191.85941334271126</real>
					<key>dstPointY</key>
					<real>484.48925998952518</real>
					<key>srcPointX</key>
					<real>678.29697493270305</real>
					<key>srcPointY</key>
					<real>577.97101793664865</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>662.84679549546377</real>
					<key>controlPoint1Y</key>
					<real>486.82401981797949</real>
					<key>controlPoint2X</key>
					<real>416.22114299567278</real>
					<key>controlPoint2Y</key>
					<real>529.36528118385604</real>
					<key>dstPointX</key>
					<real>369.50480666308295</real>
					<key>dstPointY</key>
					<real>456.33159525417886</real>
					<key>srcPointX</key>
					<real>698.99860484625265</real>
					<key>srcPointY</key>
					<real>565.62365206000584</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>778.66042742545915</real>
					<key>controlPoint1Y</key>
					<real>520.59046799057467</real>
					<key>controlPoint2X</key>
					<real>722.55500872821494</real>
					<key>controlPoint2Y</key>
					<real>342.98130089521635</real>
					<key>dstPointX</key>
					<real>667.68870598336571</real>
					<key>dstPointY</key>
					<real>355.70366585522322</real>
					<key>srcPointX</key>
					<real>746.77868569034308</real>
					<key>srcPointY</key>
					<real>567.02024605380063</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>817.58764066683057</real>
					<key>controlPoint1Y</key>
					<real>496.74483222941365</real>
					<key>controlPoint2X</key>
					<real>715.235044160999</real>
					<key>controlPoint2Y</key>
					<real>252.97090214840341</real>
					<key>dstPointX</key>
					<real>780.21660340401331</real>
					<key>dstPointY</key>
					<real>180.31040761348191</real>
					<key>srcPointX</key>
					<real>752.0082414700604</real>
					<key>srcPointY</key>
					<real>568.86620845521372</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>789.68227709357018</real>
					<key>controlPoint1Y</key>
					<real>574.95553564472345</real>
					<key>controlPoint2X</key>
					<real>838.69448785174563</real>
					<key>controlPoint2Y</key>
					<real>594.14269169538113</real>
					<key>dstPointX</key>
					<real>860.64766014593124</real>
					<key>dstPointY</key>
					<real>605.37182658573806</real>
					<key>srcPointX</key>
					<real>765.62173024846561</real>
					<key>srcPointY</key>
					<real>580.35232447499664</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>626.8091827153728</real>
					<key>controlPoint1Y</key>
					<real>506.10860502056966</real>
					<key>controlPoint2X</key>
					<real>369.22131763956645</real>
					<key>controlPoint2Y</key>
					<real>544.66674278752919</real>
					<key>dstPointX</key>
					<real>353.46291342872053</real>
					<key>dstPointY</key>
					<real>458.199700914495</real>
					<key>srcPointX</key>
					<real>687.15287734909703</real>
					<key>srcPointY</key>
					<real>570.01099270285658</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>632.29568020534577</real>
					<key>controlPoint1Y</key>
					<real>606.52159879787723</real>
					<key>controlPoint2X</key>
					<real>453.18370588078585</real>
					<key>controlPoint2Y</key>
					<real>610.13003397288469</real>
					<key>dstPointX</key>
					<real>493.25817826891841</real>
					<key>dstPointY</key>
					<real>635.21980867733316</real>
					<key>srcPointX</key>
					<real>677.06774105779812</real>
					<key>srcPointY</key>
					<real>591.32545787554147</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.80660056020000004</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.85832498049999995</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>718.5390625</real>
			<key>y</key>
			<real>585</real>
		</dict>
		<key>Ready</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>684.5871466240319</real>
					<key>controlPoint1Y</key>
					<real>186.00433097134558</real>
					<key>controlPoint2X</key>
					<real>520.07234749861766</real>
					<key>controlPoint2Y</key>
					<real>207.10692641760582</real>
					<key>dstPointX</key>
					<real>441.51537244158231</real>
					<key>dstPointY</key>
					<real>187.93653129853681</real>
					<key>srcPointX</key>
					<real>763.98556576125077</real>
					<key>srcPointY</key>
					<real>170.68788824976656</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>963.67454826379389</real>
					<key>controlPoint1Y</key>
					<real>154.00533928396661</real>
					<key>controlPoint2X</key>
					<real>983.91957884959436</real>
					<key>controlPoint2Y</key>
					<real>501.92350091420718</real>
					<key>dstPointX</key>
					<real>928.25060065428397</real>
					<key>dstPointY</key>
					<real>596.02897369028221</real>
					<key>srcPointX</key>
					<real>854.87775273308353</real>
					<key>srcPointY</key>
					<real>164.87421328118148</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>822.7606865882309</real>
					<key>controlPoint1Y</key>
					<real>282.09598230175601</real>
					<key>controlPoint2X</key>
					<real>829.65387925686809</real>
					<key>controlPoint2Y</key>
					<real>506.94139098000034</real>
					<key>dstPointX</key>
					<real>755.98372701481321</real>
					<key>dstPointY</key>
					<real>570.76069873867004</real>
					<key>srcPointX</key>
					<real>811.69433841014484</real>
					<key>srcPointY</key>
					<real>185.25729523834772</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>669.81062296231403</real>
					<key>controlPoint1Y</key>
					<real>232.10222917615692</real>
					<key>controlPoint2X</key>
					<real>450.87785133669581</real>
					<key>controlPoint2Y</key>
					<real>332.08232875924784</real>
					<key>dstPointX</key>
					<real>377.88226413351492</real>
					<key>dstPointY</key>
					<real>422.45656368921505</real>
					<key>srcPointX</key>
					<real>771.41054236175933</real>
					<key>srcPointY</key>
					<real>175.77004948869663</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>781.36417855135119</real>
					<key>controlPoint1Y</key>
					<real>82.851138471512769</real>
					<key>controlPoint2X</key>
					<real>498.9046858108124</real>
					<key>controlPoint2Y</key>
					<real>99.662569461645788</real>
					<key>dstPointX</key>
					<real>550.14283144127739</real>
					<key>dstPointY</key>
					<real>59.38348025926031</real>
					<key>srcPointX</key>
					<real>796.1578431207347</real>
					<key>srcPointY</key>
					<real>146.32475569340295</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.85811410830000001</real>
				<key>red</key>
				<real>0.77118627299999998</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>807</real>
			<key>y</key>
			<real>166.6953125</real>
		</dict>
		<key>ReadyFromInitial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>639.54246894334437</real>
					<key>controlPoint1Y</key>
					<real>138.69642144128866</real>
					<key>controlPoint2X</key>
					<real>720.43721755607373</real>
					<key>controlPoint2Y</key>
					<real>159.6625472044243</real>
					<key>dstPointX</key>
					<real>762.00216247387141</real>
					<key>dstPointY</key>
					<real>164.61643099117157</real>
					<key>srcPointX</key>
					<real>597.99783752612859</real>
					<key>srcPointY</key>
					<real>133.57497525882846</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>550.5</real>
			<key>y</key>
			<real>130.5390625</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>89</real>
			<key>y</key>
			<real>605.5</real>
		</dict>
		<key>Set</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>839.5270007934356</real>
					<key>controlPoint1Y</key>
					<real>500.21366963962294</real>
					<key>controlPoint2X</key>
					<real>845.41594067511676</real>
					<key>controlPoint2Y</key>
					<real>284.94738963106329</real>
					<key>dstPointX</key>
					<real>818.04768266014798</real>
					<key>dstPointY</key>
					<real>184.94179232048879</real>
					<key>srcPointX</key>
					<real>882.28883603641316</real>
					<key>srcPointY</key>
					<real>594.66771395150579</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>833.636085237575</real>
					<key>controlPoint1Y</key>
					<real>616.9122775942119</real>
					<key>controlPoint2X</key>
					<real>786.80684527884296</real>
					<key>controlPoint2Y</key>
					<real>597.62294531372333</real>
					<key>dstPointX</key>
					<real>763.06851460289363</real>
					<key>dstPointY</key>
					<real>590.7065636778633</real>
					<key>srcPointX</key>
					<real>858.33872589593375</real>
					<key>srcPointY</key>
					<real>615.85198390019048</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>824.82627383681324</real>
					<key>controlPoint1Y</key>
					<real>762.42111116011665</real>
					<key>controlPoint2X</key>
					<real>260.50857381719152</real>
					<key>controlPoint2Y</key>
					<real>585.6227036711357</real>
					<key>dstPointX</key>
					<real>327.86683688817698</real>
					<key>dstPointY</key>
					<real>455.56138742030646</real>
					<key>srcPointX</key>
					<real>887.2133548623392</real>
					<key>srcPointY</key>
					<real>629.90343796158527</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.76952280900000003</real>
				<key>green</key>
				<real>0.98405000149999999</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>903</real>
			<key>y</key>
			<real>614.6953125</real>
		</dict>
		<key>Unpenalise</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>624.28496034454588</real>
					<key>controlPoint1Y</key>
					<real>508.13307270672942</real>
					<key>controlPoint2X</key>
					<real>709.69526116833288</real>
					<key>controlPoint2Y</key>
					<real>531.95581006638042</real>
					<key>dstPointX</key>
					<real>713.66855893001298</real>
					<key>dstPointY</key>
					<real>565.18395217757029</real>
					<key>srcPointX</key>
					<real>612.77365906132172</real>
					<key>srcPointY</key>
					<real>476.71036648923047</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.49384898190045246</real>
				<key>red</key>
				<real>0.0049709780451328012</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>598.54296875</real>
			<key>y</key>
			<real>460.5</real>
		</dict>
		<key>Wait_Chest_Release</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>507.63622640030616</real>
					<key>controlPoint1Y</key>
					<real>496.67290495764274</real>
					<key>controlPoint2X</key>
					<real>567.87627470931318</real>
					<key>controlPoint2Y</key>
					<real>493.29931004726717</real>
					<key>dstPointX</key>
					<real>578.75797740087489</real>
					<key>dstPointY</key>
					<real>475.07059857838192</real>
					<key>srcPointX</key>
					<real>494.04743338123967</real>
					<key>srcPointY</key>
					<real>480.36210854641934</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>468.5</real>
			<key>y</key>
			<real>467.5</real>
		</dict>
		<key>Wait_Unpenalise</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>547.63032595500499</real>
					<key>controlPoint1Y</key>
					<real>415.02759822668213</real>
					<key>controlPoint2X</key>
					<real>583.29807126404603</real>
					<key>controlPoint2Y</key>
					<real>418.79197994710444</real>
					<key>dstPointX</key>
					<real>587.77582856137542</real>
					<key>dstPointY</key>
					<real>438.28427815912175</real>
					<key>srcPointX</key>
					<real>534.7731873936732</real>
					<key>srcPointY</key>
					<real>399.70787277174281</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>488.85909223890718</real>
					<key>controlPoint1Y</key>
					<real>420.77560707495667</real>
					<key>controlPoint2X</key>
					<real>496.77193336973426</real>
					<key>controlPoint2Y</key>
					<real>425.01583865628919</real>
					<key>dstPointX</key>
					<real>489.50187766060571</real>
					<key>dstPointY</key>
					<real>443.64770088168598</real>
					<key>srcPointX</key>
					<real>494.95515358939429</real>
					<key>srcPointY</key>
					<real>401.72729911831397</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.020020871525449426</real>
				<key>red</key>
				<real>0.56633554864253388</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>507.38671875</real>
			<key>y</key>
			<real>385.5</real>
		</dict>
		<key>WalkStance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>255.38443001232667</real>
					<key>controlPoint1Y</key>
					<real>266.3079711675087</real>
					<key>controlPoint2X</key>
					<real>355.38064516040316</real>
					<key>controlPoint2Y</key>
					<real>225.83182463865165</real>
					<key>dstPointX</key>
					<real>373.29337027848584</real>
					<key>dstPointY</key>
					<real>198.43504761399882</real>
					<key>srcPointX</key>
					<real>247.44163269156462</real>
					<key>srcPointY</key>
					<real>234.55326941775468</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>236.5</real>
			<key>y</key>
			<real>216.0390625</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
