<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>24.1484375</real>
					<key>controlPoint1Y</key>
					<real>23</real>
					<key>controlPoint2X</key>
					<real>44.544198859684087</real>
					<key>controlPoint2Y</key>
					<real>41.399336426307599</real>
					<key>dstPointX</key>
					<real>60.692021304842036</real>
					<key>dstPointY</key>
					<real>53.199668213153799</real>
					<key>srcPointX</key>
					<real>24.1484375</real>
					<key>srcPointY</key>
					<real>23</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>26.30859375</real>
			<key>y</key>
			<real>23</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Quiet</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>430.078125</real>
					<key>controlPoint1Y</key>
					<real>53.5625</real>
					<key>controlPoint2X</key>
					<real>533.484375</real>
					<key>controlPoint2Y</key>
					<real>47.4375</real>
					<key>dstPointX</key>
					<real>625</real>
					<key>dstPointY</key>
					<real>80.33203125</real>
					<key>srcPointX</key>
					<real>345.6484375</real>
					<key>srcPointY</key>
					<real>86.984375</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>415.77353705604816</real>
					<key>controlPoint1Y</key>
					<real>115.8515625</real>
					<key>controlPoint2X</key>
					<real>554.87490044395179</real>
					<key>controlPoint2Y</key>
					<real>116.32421875</real>
					<key>dstPointX</key>
					<real>625</real>
					<key>dstPointY</key>
					<real>116.32421875</real>
					<key>srcPointX</key>
					<real>345.6484375</real>
					<key>srcPointY</key>
					<real>115.8515625</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>3.96875</real>
					<key>controlPoint1Y</key>
					<real>271.11328125</real>
					<key>controlPoint2X</key>
					<real>156.16796875</real>
					<key>controlPoint2Y</key>
					<real>387.92578125</real>
					<key>dstPointX</key>
					<real>215.42578125</real>
					<key>dstPointY</key>
					<real>430</real>
					<key>srcPointX</key>
					<real>216.3359375</real>
					<key>srcPointY</key>
					<real>234</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>405.00390625</real>
					<key>controlPoint1Y</key>
					<real>278.69921875</real>
					<key>controlPoint2X</key>
					<real>224.12109375</real>
					<key>controlPoint2Y</key>
					<real>378.02077780951419</real>
					<key>dstPointX</key>
					<real>224.12109375</real>
					<key>dstPointY</key>
					<real>430</real>
					<key>srcPointX</key>
					<real>293.796875</real>
					<key>srcPointY</key>
					<real>234</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>415.7266505195069</real>
					<key>controlPoint1Y</key>
					<real>245.02129778857736</real>
					<key>controlPoint2X</key>
					<real>553.32444897118398</real>
					<key>controlPoint2Y</key>
					<real>325.89453125</real>
					<key>dstPointX</key>
					<real>629.5</real>
					<key>dstPointY</key>
					<real>325.89453125</real>
					<key>srcPointX</key>
					<real>343.79386633330608</real>
					<key>srcPointY</key>
					<real>220.50938114676035</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92182197398190047</real>
				<key>green</key>
				<real>0.92182197398190047</real>
				<key>red</key>
				<real>0.92182197398190047</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>200.30859375</real>
			<key>y</key>
			<real>140</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>558.63719638843293</real>
					<key>controlPoint1Y</key>
					<real>270.03857491811715</real>
					<key>controlPoint2X</key>
					<real>417.10673135735385</real>
					<key>controlPoint2Y</key>
					<real>229.97853208074673</real>
					<key>dstPointX</key>
					<real>344.58922265913543</real>
					<key>dstPointY</key>
					<real>217.41429328557524</real>
					<key>srcPointX</key>
					<real>630.08443299348335</real>
					<key>srcPointY</key>
					<real>287.70044191456543</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.9980924880955292</real>
				<key>red</key>
				<real>0.7805750696521474</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>774.5</real>
			<key>y</key>
			<real>367.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>410.33920565801805</real>
					<key>controlPoint1Y</key>
					<real>400.89471580968933</real>
					<key>controlPoint2X</key>
					<real>359.00595621412657</real>
					<key>controlPoint2Y</key>
					<real>277.48107828186289</real>
					<key>dstPointX</key>
					<real>334.35211917761154</real>
					<key>dstPointY</key>
					<real>231.61624906287776</real>
					<key>srcPointX</key>
					<real>372.22517703254488</real>
					<key>srcPointY</key>
					<real>436.37309037570242</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.86751474739494239</real>
				<key>green</key>
				<real>0.7826385340160249</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>233.45703125</real>
			<key>y</key>
			<real>525</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Whistle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>414.765625</real>
					<key>controlPoint1Y</key>
					<real>213.2578125</real>
					<key>controlPoint2X</key>
					<real>415.77392225046958</real>
					<key>controlPoint2Y</key>
					<real>187.68359375</real>
					<key>dstPointX</key>
					<real>345.6484375</real>
					<key>dstPointY</key>
					<real>187.68359375</real>
					<key>srcPointX</key>
					<real>625</real>
					<key>srcPointY</key>
					<real>188.7265625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.82758948381406572</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.87846896686799403</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>770</real>
			<key>y</key>
			<real>146</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
