<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>134.37890625</real>
					<key>controlPoint1Y</key>
					<real>-12.215855772558896</real>
					<key>controlPoint2X</key>
					<real>530.69921875</real>
					<key>controlPoint2Y</key>
					<real>10.284144227441104</real>
					<key>dstPointX</key>
					<real>530.69921875</real>
					<key>dstPointY</key>
					<real>98</real>
					<key>srcPointX</key>
					<real>134.37890625</real>
					<key>srcPointY</key>
					<real>75.5</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>143.56640625</real>
					<key>controlPoint1Y</key>
					<real>299.62808866937593</real>
					<key>controlPoint2X</key>
					<real>155.703125</real>
					<key>controlPoint2Y</key>
					<real>385.32894258062407</real>
					<key>dstPointX</key>
					<real>155.703125</real>
					<key>dstPointY</key>
					<real>420.45703125</real>
					<key>srcPointX</key>
					<real>143.56640625</real>
					<key>srcPointY</key>
					<real>264.5</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.81549726112249021</real>
				<key>red</key>
				<real>0.7811458140956683</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>246</real>
			<key>internalHeight</key>
			<real>34</real>
			<key>onEntryHeight</key>
			<real>158.5</real>
			<key>onExitHeight</key>
			<real>6.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>312.5</real>
			<key>x</key>
			<real>161.75</real>
			<key>y</key>
			<real>193.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>17.0234375</real>
					<key>controlPoint1Y</key>
					<real>24.16796875</real>
					<key>controlPoint2X</key>
					<real>32.62890625</real>
					<key>controlPoint2Y</key>
					<real>55.5</real>
					<key>dstPointX</key>
					<real>32.62890625</real>
					<key>dstPointY</key>
					<real>75.5</real>
					<key>srcPointX</key>
					<real>17.0234375</real>
					<key>srcPointY</key>
					<real>24.16796875</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>18</real>
			<key>y</key>
			<real>24</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Quiet</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>759.76953125</real>
					<key>controlPoint1Y</key>
					<real>106.5625</real>
					<key>controlPoint2X</key>
					<real>811.984375</real>
					<key>controlPoint2Y</key>
					<real>60.4375</real>
					<key>dstPointX</key>
					<real>903.5</real>
					<key>dstPointY</key>
					<real>93.33203125</real>
					<key>srcPointX</key>
					<real>675.33984375</real>
					<key>srcPointY</key>
					<real>139.984375</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>745.4649433060481</real>
					<key>controlPoint1Y</key>
					<real>168.8515625</real>
					<key>controlPoint2X</key>
					<real>833.37490044395179</real>
					<key>controlPoint2Y</key>
					<real>129.32421875</real>
					<key>dstPointX</key>
					<real>903.5</real>
					<key>dstPointY</key>
					<real>129.32421875</real>
					<key>srcPointX</key>
					<real>675.33984375</real>
					<key>srcPointY</key>
					<real>168.8515625</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>333.66015625</real>
					<key>controlPoint1Y</key>
					<real>324.11328125</real>
					<key>controlPoint2X</key>
					<real>485.7109375</real>
					<key>controlPoint2Y</key>
					<real>440.92578125</real>
					<key>dstPointX</key>
					<real>544.96875</real>
					<key>dstPointY</key>
					<real>483</real>
					<key>srcPointX</key>
					<real>546.02734375</real>
					<key>srcPointY</key>
					<real>287</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>734.6953125</real>
					<key>controlPoint1Y</key>
					<real>331.69921875</real>
					<key>controlPoint2X</key>
					<real>553.6640625</real>
					<key>controlPoint2Y</key>
					<real>431.02077780951419</real>
					<key>dstPointX</key>
					<real>553.6640625</real>
					<key>dstPointY</key>
					<real>483</real>
					<key>srcPointX</key>
					<real>623.48828125</real>
					<key>srcPointY</key>
					<real>287</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>745.41805676950685</real>
					<key>controlPoint1Y</key>
					<real>298.02129778857739</real>
					<key>controlPoint2X</key>
					<real>831.82444897118398</real>
					<key>controlPoint2Y</key>
					<real>338.89453125</real>
					<key>dstPointX</key>
					<real>908</real>
					<key>dstPointY</key>
					<real>338.89453125</real>
					<key>srcPointX</key>
					<real>673.48527258330614</real>
					<key>srcPointY</key>
					<real>273.50938114676035</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92182197398190047</real>
				<key>green</key>
				<real>0.92182197398190047</real>
				<key>red</key>
				<real>0.92182197398190047</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>530</real>
			<key>y</key>
			<real>193</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Retry</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>247.1640625</real>
					<key>controlPoint1Y</key>
					<real>385.33203125</real>
					<key>controlPoint2X</key>
					<real>233.1640625</real>
					<key>controlPoint2Y</key>
					<real>299.625</real>
					<key>dstPointX</key>
					<real>233.1640625</real>
					<key>dstPointY</key>
					<real>264.5</real>
					<key>srcPointX</key>
					<real>247.1640625</real>
					<key>srcPointY</key>
					<real>420.45703125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>153</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>168</real>
			<key>y</key>
			<real>515.54296875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>837.13719638843293</real>
					<key>controlPoint1Y</key>
					<real>283.03857491811715</real>
					<key>controlPoint2X</key>
					<real>746.79813760735385</real>
					<key>controlPoint2Y</key>
					<real>282.97853208074673</real>
					<key>dstPointX</key>
					<real>674.28062890913543</real>
					<key>dstPointY</key>
					<real>270.41429328557524</real>
					<key>srcPointX</key>
					<real>908.58443299348335</real>
					<key>srcPointY</key>
					<real>300.70044191456543</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.9980924880955292</real>
				<key>red</key>
				<real>0.7805750696521474</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>1053</real>
			<key>y</key>
			<real>380.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>739.88217440801805</real>
					<key>controlPoint1Y</key>
					<real>453.89471580968933</real>
					<key>controlPoint2X</key>
					<real>688.69736246412663</real>
					<key>controlPoint2Y</key>
					<real>330.48107828186289</real>
					<key>dstPointX</key>
					<real>664.04352542761148</real>
					<key>dstPointY</key>
					<real>284.61624906287773</real>
					<key>srcPointX</key>
					<real>701.76814578254493</real>
					<key>srcPointY</key>
					<real>489.37309037570242</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.86751474739494239</real>
				<key>green</key>
				<real>0.7826385340160249</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>563</real>
			<key>y</key>
			<real>578</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Whistle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>693.265625</real>
					<key>controlPoint1Y</key>
					<real>226.2578125</real>
					<key>controlPoint2X</key>
					<real>745.46532850046958</real>
					<key>controlPoint2Y</key>
					<real>240.68359375</real>
					<key>dstPointX</key>
					<real>675.33984375</real>
					<key>dstPointY</key>
					<real>240.68359375</real>
					<key>srcPointX</key>
					<real>903.5</real>
					<key>srcPointY</key>
					<real>201.7265625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.82758948381406572</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.87846896686799403</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>1048.5</real>
			<key>y</key>
			<real>159</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
