<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FollowBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>359.84980491709103</real>
					<key>controlPoint1Y</key>
					<real>284.64671956937701</real>
					<key>controlPoint2X</key>
					<real>366.3703592285529</real>
					<key>controlPoint2Y</key>
					<real>218.05005742408906</real>
					<key>dstPointX</key>
					<real>378.95219600037314</real>
					<key>dstPointY</key>
					<real>191.11993602469724</real>
					<key>srcPointX</key>
					<real>375.42321492441386</real>
					<key>srcPointY</key>
					<real>309.96475574682427</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>440.73481999378032</real>
					<key>controlPoint1Y</key>
					<real>367.41651154682881</real>
					<key>controlPoint2X</key>
					<real>446.60590746108983</real>
					<key>controlPoint2Y</key>
					<real>436.45990613842764</real>
					<key>dstPointX</key>
					<real>428.74962354461854</real>
					<key>dstPointY</key>
					<real>459.25538136608895</real>
					<key>srcPointX</key>
					<real>424.39420018158648</real>
					<key>srcPointY</key>
					<real>343.51118347307317</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>398.9609375</real>
			<key>y</key>
			<real>327</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>109.56165742340167</real>
					<key>controlPoint1Y</key>
					<real>265.46990840271144</real>
					<key>controlPoint2X</key>
					<real>283.16750729518492</real>
					<key>controlPoint2Y</key>
					<real>325.50194382454703</real>
					<key>dstPointX</key>
					<real>354.00611836199505</real>
					<key>dstPointY</key>
					<real>326.67020690505774</real>
					<key>srcPointX</key>
					<real>103.10256183660577</real>
					<key>srcPointY</key>
					<real>194.91671045463318</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>175</real>
		</dict>
		<key>Kick</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>348.81470406137788</real>
					<key>controlPoint1Y</key>
					<real>439.66382830908731</real>
					<key>controlPoint2X</key>
					<real>352.8687941004136</real>
					<key>controlPoint2Y</key>
					<real>365.87725739816943</real>
					<key>dstPointX</key>
					<real>371.13842191862375</real>
					<key>dstPointY</key>
					<real>342.70551506068983</real>
					<key>srcPointX</key>
					<real>369.4819707367181</real>
					<key>srcPointY</key>
					<real>460.72500186947644</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>401</real>
			<key>y</key>
			<real>474.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>96.95703125</real>
			<key>y</key>
			<real>474</real>
		</dict>
		<key>SeekBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>437.35164268696599</real>
					<key>controlPoint1Y</key>
					<real>215.59677827454558</real>
					<key>controlPoint2X</key>
					<real>439.34834413471492</real>
					<key>controlPoint2Y</key>
					<real>284.81983877612049</real>
					<key>dstPointX</key>
					<real>423.19930875371386</real>
					<key>dstPointY</key>
					<real>310.13807148476707</real>
					<key>srcPointX</key>
					<real>421.60152744232175</real>
					<key>srcPointY</key>
					<real>190.02847522161633</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>398.3046875</real>
			<key>y</key>
			<real>172.91796875</real>
		</dict>
	</dict>
</dict>
</plist>
