<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FollowBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>359.9075997618076</real>
					<key>controlPoint1Y</key>
					<real>284.63520664007689</real>
					<key>controlPoint2X</key>
					<real>365.94812271904709</real>
					<key>controlPoint2Y</key>
					<real>218.07685622173781</real>
					<key>dstPointX</key>
					<real>378.64750850037314</real>
					<key>dstPointY</key>
					<real>191.20196727469724</real>
					<key>srcPointX</key>
					<real>375.46227742441386</real>
					<key>srcPointY</key>
					<real>309.96475574682427</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>440.79100121435766</real>
					<key>controlPoint1Y</key>
					<real>367.40480095251831</real>
					<key>controlPoint2X</key>
					<real>446.63614350252737</real>
					<key>controlPoint2Y</key>
					<real>436.52659195041622</real>
					<key>dstPointX</key>
					<real>428.74962354461854</real>
					<key>dstPointY</key>
					<real>459.29835011608895</real>
					<key>srcPointX</key>
					<real>424.43326268158648</real>
					<key>srcPointY</key>
					<real>343.51118347307317</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>398.9609375</real>
			<key>y</key>
			<real>327</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>109.56165742340167</real>
					<key>controlPoint1Y</key>
					<real>265.46990840271144</real>
					<key>controlPoint2X</key>
					<real>283.20658653942462</real>
					<key>controlPoint2Y</key>
					<real>325.50092896445733</real>
					<key>dstPointX</key>
					<real>354.04518086199505</real>
					<key>dstPointY</key>
					<real>326.67020690505774</real>
					<key>srcPointX</key>
					<real>103.10256183660577</real>
					<key>srcPointY</key>
					<real>194.91671045463318</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>175</real>
		</dict>
		<key>Kick</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>348.78298673569566</real>
					<key>controlPoint1Y</key>
					<real>439.73796812551842</real>
					<key>controlPoint2X</key>
					<real>352.92366465867173</real>
					<key>controlPoint2Y</key>
					<real>365.88971243177963</real>
					<key>dstPointX</key>
					<real>371.17748441862375</real>
					<key>dstPointY</key>
					<real>342.70551506068983</real>
					<key>srcPointX</key>
					<real>369.4819707367181</real>
					<key>srcPointY</key>
					<real>460.76797061947644</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>401</real>
			<key>y</key>
			<real>474.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>96.95703125</real>
			<key>y</key>
			<real>474</real>
		</dict>
		<key>SeekBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>436.84405664030419</real>
					<key>controlPoint1Y</key>
					<real>215.80269018908152</real>
					<key>controlPoint2X</key>
					<real>439.40592292688677</real>
					<key>controlPoint2Y</key>
					<real>284.83165877728737</real>
					<key>dstPointX</key>
					<real>423.23837125371386</real>
					<key>dstPointY</key>
					<real>310.13807148476707</real>
					<key>srcPointX</key>
					<real>421.29683994232175</real>
					<key>srcPointY</key>
					<real>190.11050647161633</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>398.3046875</real>
			<key>y</key>
			<real>172.91796875</real>
		</dict>
	</dict>
</dict>
</plist>
