<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FollowBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>359.97740336742623</real>
					<key>controlPoint1Y</key>
					<real>284.64324324870768</real>
					<key>controlPoint2X</key>
					<real>366.03754025291619</real>
					<key>controlPoint2Y</key>
					<real>218.08318482571133</real>
					<key>dstPointX</key>
					<real>378.84282100037314</real>
					<key>dstPointY</key>
					<real>191.28399852469724</real>
					<key>srcPointX</key>
					<real>375.50133992441386</real>
					<key>srcPointY</key>
					<real>309.96475574682427</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>440.8530210088702</real>
					<key>controlPoint1Y</key>
					<real>367.40164155488583</real>
					<key>controlPoint2X</key>
					<real>446.67286630496483</real>
					<key>controlPoint2Y</key>
					<real>436.58525259578346</real>
					<key>dstPointX</key>
					<real>428.74962354461854</real>
					<key>dstPointY</key>
					<real>459.34131886608895</real>
					<key>srcPointX</key>
					<real>424.47232518158648</real>
					<key>srcPointY</key>
					<real>343.51118347307317</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>398.9609375</real>
			<key>y</key>
			<real>327</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>109.56244568016928</real>
					<key>controlPoint1Y</key>
					<real>265.47851859201916</real>
					<key>controlPoint2X</key>
					<real>283.23702081082291</real>
					<key>controlPoint2Y</key>
					<real>325.49976951916614</real>
					<key>dstPointX</key>
					<real>354.08424336199505</real>
					<key>dstPointY</key>
					<real>326.67020690505774</real>
					<key>srcPointX</key>
					<real>103.10256183660577</real>
					<key>srcPointY</key>
					<real>194.91671045463318</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>175</real>
		</dict>
		<key>Kick</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>348.74357562345114</real>
					<key>controlPoint1Y</key>
					<real>439.80450929849525</real>
					<key>controlPoint2X</key>
					<real>352.97183623062307</real>
					<key>controlPoint2Y</key>
					<real>365.91072284067218</real>
					<key>dstPointX</key>
					<real>371.21654691862375</real>
					<key>dstPointY</key>
					<real>342.70551506068983</real>
					<key>srcPointX</key>
					<real>369.4819707367181</real>
					<key>srcPointY</key>
					<real>460.81093936947644</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>401</real>
			<key>y</key>
			<real>474.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>170.5</real>
			<key>y</key>
			<real>387.5</real>
		</dict>
		<key>SeekBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>436.82566789706425</real>
					<key>controlPoint1Y</key>
					<real>215.9904528113164</real>
					<key>controlPoint2X</key>
					<real>439.45310601803317</real>
					<key>controlPoint2Y</key>
					<real>284.85968652896867</real>
					<key>dstPointX</key>
					<real>423.27743375371386</real>
					<key>dstPointY</key>
					<real>310.13807148476707</real>
					<key>srcPointX</key>
					<real>421.49215244232175</real>
					<key>srcPointY</key>
					<real>190.19253772161633</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>398.3046875</real>
			<key>y</key>
			<real>172.91796875</real>
		</dict>
	</dict>
</dict>
</plist>
