<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Back_GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>610.06540194651734</real>
					<key>controlPoint1Y</key>
					<real>134.89759382388658</real>
					<key>controlPoint2X</key>
					<real>829.18556022504072</real>
					<key>controlPoint2Y</key>
					<real>133.55379552427456</real>
					<key>dstPointX</key>
					<real>886.14365087502517</real>
					<key>dstPointY</key>
					<real>209.98339036720969</real>
					<key>srcPointX</key>
					<real>519.75243574345336</real>
					<key>srcPointY</key>
					<real>104.41357843956948</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>477</real>
			<key>y</key>
			<real>97.9140625</real>
		</dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>229.63032136472648</real>
					<key>controlPoint1Y</key>
					<real>219.05656736220379</real>
					<key>controlPoint2X</key>
					<real>356.63159447420145</real>
					<key>controlPoint2Y</key>
					<real>106.90264481060072</real>
					<key>dstPointX</key>
					<real>432.02707739329441</real>
					<key>dstPointY</key>
					<real>99.865583190868364</real>
					<key>srcPointX</key>
					<real>153.91082821119804</real>
					<key>srcPointY</key>
					<real>219.80318467777155</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>223.64934455321628</real>
					<key>controlPoint1Y</key>
					<real>217.82763339033431</real>
					<key>controlPoint2X</key>
					<real>364.41164754789963</real>
					<key>controlPoint2Y</key>
					<real>229.68719358958325</real>
					<key>dstPointX</key>
					<real>433.06210985335247</real>
					<key>dstPointY</key>
					<real>217.47407872759914</real>
					<key>srcPointX</key>
					<real>153.94141822587889</real>
					<key>srcPointY</key>
					<real>219.51617019091657</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>224.56229026764703</real>
					<key>controlPoint1Y</key>
					<real>243.13219916493748</real>
					<key>controlPoint2X</key>
					<real>361.92621374304139</real>
					<key>controlPoint2Y</key>
					<real>303.01568221282173</real>
					<key>dstPointX</key>
					<real>434.79108924890181</real>
					<key>dstPointY</key>
					<real>317.18040615943789</real>
					<key>srcPointX</key>
					<real>152.605242439005</real>
					<key>srcPointY</key>
					<real>224.90823815875396</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>109</real>
			<key>y</key>
			<real>219.95703125</real>
		</dict>
		<key>DummyState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>350.79980379177556</real>
					<key>controlPoint1Y</key>
					<real>415.79790373066493</real>
					<key>controlPoint2X</key>
					<real>61.690775912738985</real>
					<key>controlPoint2Y</key>
					<real>337.3442471708853</real>
					<key>dstPointX</key>
					<real>94.661476041495504</real>
					<key>dstPointY</key>
					<real>239.0069351074381</real>
					<key>srcPointX</key>
					<real>439.46703777845767</real>
					<key>srcPointY</key>
					<real>469.60697014140237</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>478.04296875</real>
			<key>y</key>
			<real>480</real>
		</dict>
		<key>Front_GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>609.00396089398623</real>
					<key>controlPoint1Y</key>
					<real>217.19791167183828</real>
					<key>controlPoint2X</key>
					<real>783.10469760896706</real>
					<key>controlPoint2Y</key>
					<real>209.2329330925912</real>
					<key>dstPointX</key>
					<real>868.65173283613103</real>
					<key>dstPointY</key>
					<real>222.86022379011291</real>
					<key>srcPointX</key>
					<real>522.41716709093112</real>
					<key>srcPointY</key>
					<real>214.60456888315645</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>476.78515625</real>
			<key>y</key>
			<real>213.93359375</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>98.294577924515224</real>
					<key>controlPoint1Y</key>
					<real>111.08946840353245</real>
					<key>controlPoint2X</key>
					<real>98.895359128544101</real>
					<key>controlPoint2Y</key>
					<real>170.90070695778195</real>
					<key>dstPointX</key>
					<real>102.90879459141496</real>
					<key>dstPointY</key>
					<real>200.22185887913724</real>
					<key>srcPointX</key>
					<real>102.5407916995575</real>
					<key>srcPointY</key>
					<real>81.801121185116926</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>109.04296875</real>
			<key>y</key>
			<real>62</real>
		</dict>
		<key>RollToSide</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>610.62648348257915</real>
					<key>controlPoint1Y</key>
					<real>293.90702188440366</real>
					<key>controlPoint2X</key>
					<real>804.38731446818429</real>
					<key>controlPoint2Y</key>
					<real>292.28597216451942</real>
					<key>dstPointX</key>
					<real>877.0243304402627</real>
					<key>dstPointY</key>
					<real>237.95875192813796</real>
					<key>srcPointX</key>
					<real>522.67763647058405</real>
					<key>srcPointY</key>
					<real>316.10123863564201</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>479</real>
			<key>y</key>
			<real>321.04296875</real>
		</dict>
		<key>Standing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1010.8605009384352</real>
					<key>controlPoint1Y</key>
					<real>338.4655424824906</real>
					<key>controlPoint2X</key>
					<real>641.61012743472543</real>
					<key>controlPoint2Y</key>
					<real>464.21163169034236</real>
					<key>dstPointX</key>
					<real>522.62690145429406</real>
					<key>dstPointY</key>
					<real>477.74416388620108</real>
					<key>srcPointX</key>
					<real>939.75367555008722</real>
					<key>srcPointY</key>
					<real>242.11225050171103</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>912.953125</real>
			<key>y</key>
			<real>226</real>
		</dict>
	</dict>
</dict>
</plist>
