<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Back_GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>615.32232023700203</real>
					<key>controlPoint1Y</key>
					<real>291.59592922992954</real>
					<key>controlPoint2X</key>
					<real>799.67767976299797</real>
					<key>controlPoint2Y</key>
					<real>342.40407077007046</real>
					<key>dstPointX</key>
					<real>893.03139087107536</real>
					<key>dstPointY</key>
					<real>362.74256992215692</real>
					<key>srcPointX</key>
					<real>521.96860912892464</real>
					<key>srcPointY</key>
					<real>271.25743007784308</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>478</real>
			<key>y</key>
			<real>267</real>
		</dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>310.80733340614233</real>
					<key>controlPoint1Y</key>
					<real>239.68790181031321</real>
					<key>controlPoint2X</key>
					<real>392.19266659385767</real>
					<key>controlPoint2Y</key>
					<real>258.31209818968682</real>
					<key>dstPointX</key>
					<real>433.44875776940552</real>
					<key>dstPointY</key>
					<real>264.18253013561457</real>
					<key>srcPointX</key>
					<real>269.55124223059448</real>
					<key>srcPointY</key>
					<real>233.81746986438543</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>310.34181345321474</real>
					<key>controlPoint1Y</key>
					<real>262.08784296258733</real>
					<key>controlPoint2X</key>
					<real>390.65818654678526</real>
					<key>controlPoint2Y</key>
					<real>323.91215703741273</real>
					<key>dstPointX</key>
					<real>435.65479586886607</real>
					<key>dstPointY</key>
					<real>346.14155765867974</real>
					<key>srcPointX</key>
					<real>265.34520413113393</real>
					<key>srcPointY</key>
					<real>239.85844234132026</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>346.00420956725975</real>
					<key>controlPoint1Y</key>
					<real>182.98508117450891</real>
					<key>controlPoint2X</key>
					<real>497.99579043274031</real>
					<key>controlPoint2Y</key>
					<real>87.014918825491165</real>
					<key>dstPointX</key>
					<real>578.54752919059024</real>
					<key>dstPointY</key>
					<real>47.761279633848488</real>
					<key>srcPointX</key>
					<real>265.45247080940982</real>
					<key>srcPointY</key>
					<real>222.23872036615151</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>307.1334304801527</real>
					<key>controlPoint1Y</key>
					<real>290.9939553934085</real>
					<key>controlPoint2X</key>
					<real>387.8665695198473</real>
					<key>controlPoint2Y</key>
					<real>401.0060446065915</real>
					<key>dstPointX</key>
					<real>437.19171352047806</real>
					<key>dstPointY</key>
					<real>447.3112818316734</real>
					<key>srcPointX</key>
					<real>257.80828647952194</real>
					<key>srcPointY</key>
					<real>244.6887181683266</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>224.82421875</real>
			<key>y</key>
			<real>231.25</real>
		</dict>
		<key>Default</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>609.31427197828475</real>
					<key>controlPoint1Y</key>
					<real>437.89133201636486</real>
					<key>controlPoint2X</key>
					<real>797.68572802171536</real>
					<key>controlPoint2Y</key>
					<real>390.1086679836352</real>
					<key>dstPointX</key>
					<real>892.88480306721226</real>
					<key>dstPointY</key>
					<real>370.94654152908117</real>
					<key>srcPointX</key>
					<real>514.11519693278774</real>
					<key>srcPointY</key>
					<real>457.05345847091883</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>469.9921875</real>
			<key>y</key>
			<real>461.32421875</real>
		</dict>
		<key>Front_GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>613.75141172448332</real>
					<key>controlPoint1Y</key>
					<real>357.93518118457087</real>
					<key>controlPoint2X</key>
					<real>799.24858827551668</real>
					<key>controlPoint2Y</key>
					<real>364.06481881542913</real>
					<key>dstPointX</key>
					<real>892.01523780901425</real>
					<key>dstPointY</key>
					<real>366.47956891174567</real>
					<key>srcPointX</key>
					<real>520.98476219098575</real>
					<key>srcPointY</key>
					<real>355.52043108825433</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>476</real>
			<key>y</key>
			<real>355</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>83.447544704155746</real>
					<key>controlPoint1Y</key>
					<real>76.482952827421983</real>
					<key>controlPoint2X</key>
					<real>83.55245529584424</real>
					<key>controlPoint2Y</key>
					<real>129.517047172578</real>
					<key>dstPointX</key>
					<real>84.459807035579914</real>
					<key>dstPointY</key>
					<real>156.01171797285934</real>
					<key>srcPointX</key>
					<real>82.540192964420086</real>
					<key>srcPointY</key>
					<real>49.988282027140642</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>80.95703125</real>
			<key>y</key>
			<real>29.9609375</real>
		</dict>
		<key>RollToSide</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>567.00679342554577</real>
					<key>controlPoint1Y</key>
					<real>101.81153245338592</real>
					<key>controlPoint2X</key>
					<real>529.99320657445423</real>
					<key>controlPoint2Y</key>
					<real>204.18846754661408</real>
					<key>dstPointX</key>
					<real>501.66861860301162</real>
					<key>dstPointY</key>
					<real>249.98992894724461</real>
					<key>srcPointX</key>
					<real>595.33138139698838</real>
					<key>srcPointY</key>
					<real>56.0100710527554</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>619</real>
			<key>y</key>
			<real>39</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>937</real>
			<key>y</key>
			<real>367.0390625</real>
		</dict>
		<key>Stiffness</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>146.44052940039742</real>
					<key>controlPoint1Y</key>
					<real>190.71711839301321</real>
					<key>controlPoint2X</key>
					<real>164.55947059960258</real>
					<key>controlPoint2Y</key>
					<real>216.28288160698679</real>
					<key>dstPointX</key>
					<real>183.15655656895564</real>
					<key>dstPointY</key>
					<real>223.6414408034934</real>
					<key>srcPointX</key>
					<real>127.84344343104436</real>
					<key>srcPointY</key>
					<real>183.3585591965066</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>86.171875</real>
			<key>y</key>
			<real>175.546875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
