<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Back_GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>609.94608273521942</real>
					<key>controlPoint1Y</key>
					<real>135.35118160896863</real>
					<key>controlPoint2X</key>
					<real>829.29324267455581</real>
					<key>controlPoint2Y</key>
					<real>133.50189981781415</real>
					<key>dstPointX</key>
					<real>886.19052587502517</real>
					<key>dstPointY</key>
					<real>209.98339036720969</real>
					<key>srcPointX</key>
					<real>519.75243574345336</real>
					<key>srcPointY</key>
					<real>104.49951593956948</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>477</real>
			<key>y</key>
			<real>97.9140625</real>
		</dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>229.62749868368627</real>
					<key>controlPoint1Y</key>
					<real>219.26255947008684</real>
					<key>controlPoint2X</key>
					<real>356.66649525062746</real>
					<key>controlPoint2Y</key>
					<real>107.30933480004275</real>
					<key>dstPointX</key>
					<real>432.02707739329441</real>
					<key>dstPointY</key>
					<real>99.951520690868364</real>
					<key>srcPointX</key>
					<real>153.91082821119804</real>
					<key>srcPointY</key>
					<real>219.84615342777155</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>223.70646720864346</real>
					<key>controlPoint1Y</key>
					<real>218.01929968260328</real>
					<key>controlPoint2X</key>
					<real>364.62505323804555</real>
					<key>controlPoint2Y</key>
					<real>230.04847205550067</real>
					<key>dstPointX</key>
					<real>433.27695360335247</real>
					<key>dstPointY</key>
					<real>217.54048497759914</real>
					<key>srcPointX</key>
					<real>153.94141822587889</real>
					<key>srcPointY</key>
					<real>219.55913894091657</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>224.51771220546868</real>
					<key>controlPoint1Y</key>
					<real>243.32331926819049</real>
					<key>controlPoint2X</key>
					<real>361.96276633427152</real>
					<key>controlPoint2Y</key>
					<real>302.82055220690006</real>
					<key>dstPointX</key>
					<real>434.79108924890181</real>
					<key>dstPointY</key>
					<real>317.13743740943789</real>
					<key>srcPointX</key>
					<real>152.605242439005</real>
					<key>srcPointY</key>
					<real>224.95120690875396</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>109</real>
			<key>y</key>
			<real>219.95703125</real>
		</dict>
		<key>DummyState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>350.74299737345984</real>
					<key>controlPoint1Y</key>
					<real>415.8494520367538</real>
					<key>controlPoint2X</key>
					<real>61.762379195809253</real>
					<key>controlPoint2Y</key>
					<real>337.39548153833147</real>
					<key>dstPointX</key>
					<real>94.661476041495504</real>
					<key>dstPointY</key>
					<real>239.0499038574381</real>
					<key>srcPointX</key>
					<real>439.42406902845767</real>
					<key>srcPointY</key>
					<real>469.60697014140237</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>478.04296875</real>
			<key>y</key>
			<real>480</real>
		</dict>
		<key>Front_GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>609.16790855767636</real>
					<key>controlPoint1Y</key>
					<real>217.53393750216856</real>
					<key>controlPoint2X</key>
					<real>783.19566239678068</real>
					<key>controlPoint2Y</key>
					<real>209.22554490262721</real>
					<key>dstPointX</key>
					<real>868.69860783613103</real>
					<key>dstPointY</key>
					<real>222.86022379011291</real>
					<key>srcPointX</key>
					<real>522.63201084093112</real>
					<key>srcPointY</key>
					<real>214.67097513315645</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>476.78515625</real>
			<key>y</key>
			<real>213.93359375</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>98.222393326399626</real>
					<key>controlPoint1Y</key>
					<real>111.09610557528512</real>
					<key>controlPoint2X</key>
					<real>98.885317858617327</real>
					<key>controlPoint2Y</key>
					<real>170.93417738296284</real>
					<key>dstPointX</key>
					<real>102.90879459141496</real>
					<key>dstPointY</key>
					<real>200.26482762913724</real>
					<key>srcPointX</key>
					<real>102.4978229495575</real>
					<key>srcPointY</key>
					<real>81.801121185116926</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>109.04296875</real>
			<key>y</key>
			<real>62</real>
		</dict>
		<key>RollToSide</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>610.58897961447485</real>
					<key>controlPoint1Y</key>
					<real>293.67892714749007</real>
					<key>controlPoint2X</key>
					<real>804.46087564693732</real>
					<key>controlPoint2Y</key>
					<real>292.33686555907514</real>
					<key>dstPointX</key>
					<real>877.0712054402627</real>
					<key>dstPointY</key>
					<real>237.95875192813796</real>
					<key>srcPointX</key>
					<real>522.67763647058405</real>
					<key>srcPointY</key>
					<real>316.05826988564201</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>479</real>
			<key>y</key>
			<real>321.04296875</real>
		</dict>
		<key>Standing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1010.9995847858928</real>
					<key>controlPoint1Y</key>
					<real>338.42174661158845</real>
					<key>controlPoint2X</key>
					<real>641.58512394643151</real>
					<key>controlPoint2Y</key>
					<real>464.19654416899044</real>
					<key>dstPointX</key>
					<real>522.58393270429406</real>
					<key>dstPointY</key>
					<real>477.74416388620108</real>
					<key>srcPointX</key>
					<real>939.80055055008722</real>
					<key>srcPointY</key>
					<real>242.11225050171103</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>912.953125</real>
			<key>y</key>
			<real>226</real>
		</dict>
	</dict>
</dict>
</plist>
