<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>END</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>886.74889722624607</real>
					<key>controlPoint1Y</key>
					<real>90.619722027203295</real>
					<key>controlPoint2X</key>
					<real>762.6026484026977</real>
					<key>controlPoint2Y</key>
					<real>70.550583851474869</real>
					<key>dstPointX</key>
					<real>701.92510390228551</real>
					<key>dstPointY</key>
					<real>67.100439170363671</real>
					<key>srcPointX</key>
					<real>947.42644172665837</real>
					<key>srcPointY</key>
					<real>94.069866708314478</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>215</real>
			<key>internalHeight</key>
			<real>56</real>
			<key>onEntryHeight</key>
			<real>56</real>
			<key>onExitHeight</key>
			<real>56</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>313</real>
			<key>x</key>
			<real>1098.3984375</real>
			<key>y</key>
			<real>164.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>GAME_OVER</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1084.2461631786148</real>
					<key>controlPoint1Y</key>
					<real>487.72653907311008</real>
					<key>controlPoint2X</key>
					<real>1107.1868526872929</real>
					<key>controlPoint2Y</key>
					<real>338.28179290534854</real>
					<key>dstPointX</key>
					<real>1117.00390625</real>
					<key>dstPointY</key>
					<real>266</real>
					<key>srcPointX</key>
					<real>1220.5234375</real>
					<key>srcPointY</key>
					<real>559</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>294</real>
			<key>internalHeight</key>
			<real>82</real>
			<key>onEntryHeight</key>
			<real>82</real>
			<key>onExitHeight</key>
			<real>83</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>457</real>
			<key>x</key>
			<real>1150.5</real>
			<key>y</key>
			<real>701</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>454.82465188901892</real>
					<key>controlPoint1Y</key>
					<real>119.74511077137807</real>
					<key>controlPoint2X</key>
					<real>416.58005818985595</real>
					<key>controlPoint2Y</key>
					<real>140.82336822795151</real>
					<key>dstPointX</key>
					<real>382</real>
					<key>dstPointY</key>
					<real>106.8984375</real>
					<key>srcPointX</key>
					<real>488.09765625</real>
					<key>srcPointY</key>
					<real>161.05078125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>168</real>
			<key>internalHeight</key>
			<real>40</real>
			<key>onEntryHeight</key>
			<real>41</real>
			<key>onExitHeight</key>
			<real>40</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>385</real>
			<key>x</key>
			<real>676.80078125</real>
			<key>y</key>
			<real>107</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>START_SONAR</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>8.122769321068958</real>
					<key>controlPoint1Y</key>
					<real>18.276230972405145</real>
					<key>controlPoint2X</key>
					<real>-6.0406002048704472</real>
					<key>controlPoint2Y</key>
					<real>-19.157495159099881</real>
					<key>dstPointX</key>
					<real>-0.296875</real>
					<key>dstPointY</key>
					<real>0.0</real>
					<key>srcPointX</key>
					<real>0.0</real>
					<key>srcPointY</key>
					<real>0.0</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>-1</real>
			<key>y</key>
			<real>-1</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>172</real>
			<key>internalHeight</key>
			<real>41</real>
			<key>onEntryHeight</key>
			<real>42</real>
			<key>onExitHeight</key>
			<real>42</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>187</real>
			<key>y</key>
			<real>840</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TURN_LEFT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1186.1171875</real>
					<key>controlPoint1Y</key>
					<real>928.3046875</real>
					<key>controlPoint2X</key>
					<real>1089.1171875</real>
					<key>controlPoint2Y</key>
					<real>827.4453125</real>
					<key>dstPointX</key>
					<real>1092.40625</real>
					<key>dstPointY</key>
					<real>786</real>
					<key>srcPointX</key>
					<real>889.109375</real>
					<key>srcPointY</key>
					<real>895.359375</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>514.32480351541778</real>
					<key>controlPoint1Y</key>
					<real>642.31050202277845</real>
					<key>controlPoint2X</key>
					<real>408.21365434206734</real>
					<key>controlPoint2Y</key>
					<real>580.74229174690629</real>
					<key>dstPointX</key>
					<real>294.38671875</real>
					<key>dstPointY</key>
					<real>703</real>
					<key>srcPointX</key>
					<real>502.109375</real>
					<key>srcPointY</key>
					<real>923.5</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>360</real>
			<key>internalHeight</key>
			<real>104</real>
			<key>onEntryHeight</key>
			<real>104</real>
			<key>onExitHeight</key>
			<real>105</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>398</real>
			<key>x</key>
			<real>697.296875</real>
			<key>y</key>
			<real>782</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TURN_RIGHT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>441.56363101698605</real>
					<key>controlPoint1Y</key>
					<real>399.07977978908718</real>
					<key>controlPoint2X</key>
					<real>383.34153436761585</real>
					<key>controlPoint2Y</key>
					<real>433.6505908179472</real>
					<key>dstPointX</key>
					<real>366.0779446412094</real>
					<key>dstPointY</key>
					<real>402.66017620382172</real>
					<key>srcPointX</key>
					<real>493</real>
					<key>srcPointY</key>
					<real>316.12109375</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1042.33203125</real>
					<key>controlPoint1Y</key>
					<real>315.015625</real>
					<key>controlPoint2X</key>
					<real>1087.52734375</real>
					<key>controlPoint2Y</key>
					<real>482.23828125</real>
					<key>dstPointX</key>
					<real>1035.03515625</real>
					<key>dstPointY</key>
					<real>559</real>
					<key>srcPointX</key>
					<real>876</real>
					<key>srcPointY</key>
					<real>269.23046875</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>365</real>
			<key>internalHeight</key>
			<real>106</real>
			<key>onEntryHeight</key>
			<real>106</real>
			<key>onExitHeight</key>
			<real>106</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>394</real>
			<key>x</key>
			<real>685</real>
			<key>y</key>
			<real>388.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WALK_ABOUT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>381.65969250846138</real>
					<key>controlPoint1Y</key>
					<real>646.1899611544153</real>
					<key>controlPoint2X</key>
					<real>473.53393917539177</real>
					<key>controlPoint2Y</key>
					<real>708.08005842284615</real>
					<key>dstPointX</key>
					<real>502.109375</real>
					<key>dstPointY</key>
					<real>885.75390625</real>
					<key>srcPointX</key>
					<real>365.80289499873516</real>
					<key>srcPointY</key>
					<real>690.1100147719178</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>414.20368555798655</real>
					<key>controlPoint1Y</key>
					<real>500.75932369139741</real>
					<key>controlPoint2X</key>
					<real>460.3323400697858</real>
					<key>controlPoint2Y</key>
					<real>476.6476335081374</real>
					<key>dstPointX</key>
					<real>493.08437104534772</real>
					<key>dstPointY</key>
					<real>546.83513578261011</real>
					<key>srcPointX</key>
					<real>367.10234736213647</real>
					<key>srcPointY</key>
					<real>409.53014726901773</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>518.93577759357299</real>
					<key>controlPoint1Y</key>
					<real>579.19469061450661</real>
					<key>controlPoint2X</key>
					<real>776.19032723349983</real>
					<key>controlPoint2Y</key>
					<real>644.89473795674701</real>
					<key>dstPointX</key>
					<real>926.6015625</real>
					<key>dstPointY</key>
					<real>615.1953125</real>
					<key>srcPointX</key>
					<real>367.109375</real>
					<key>srcPointY</key>
					<real>586.296875</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>325</real>
			<key>internalHeight</key>
			<real>93</real>
			<key>onEntryHeight</key>
			<real>92</real>
			<key>onExitHeight</key>
			<real>93</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>372</real>
			<key>x</key>
			<real>188.296875</real>
			<key>y</key>
			<real>546.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
