<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>CalcLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1301</real>
					<key>controlPoint1Y</key>
					<real>361</real>
					<key>controlPoint2X</key>
					<real>1366</real>
					<key>controlPoint2Y</key>
					<real>312</real>
					<key>dstPointX</key>
					<real>1449.1701378687192</real>
					<key>dstPointY</key>
					<real>303.06063339640633</real>
					<key>srcPointX</key>
					<real>1328.1930530821583</real>
					<key>srcPointY</key>
					<real>430.29392144688853</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1225</real>
					<key>controlPoint1Y</key>
					<real>590</real>
					<key>controlPoint2X</key>
					<real>1485</real>
					<key>controlPoint2Y</key>
					<real>599</real>
					<key>dstPointX</key>
					<real>1560.9195228435919</real>
					<key>dstPointY</key>
					<real>518.20090475513848</real>
					<key>srcPointX</key>
					<real>1318.9978283075729</real>
					<key>srcPointY</key>
					<real>470.32929567794895</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1353</real>
			<key>y</key>
			<real>452</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>CalcRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1526</real>
					<key>controlPoint1Y</key>
					<real>363</real>
					<key>controlPoint2X</key>
					<real>1477</real>
					<key>controlPoint2Y</key>
					<real>447</real>
					<key>dstPointX</key>
					<real>1402.9594017374068</real>
					<key>dstPointY</key>
					<real>450.99275399722967</real>
					<key>srcPointX</key>
					<real>1518.9633383639978</real>
					<key>srcPointY</key>
					<real>323.92086997347906</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1643</real>
					<key>controlPoint1Y</key>
					<real>316</real>
					<key>controlPoint2X</key>
					<real>1652</real>
					<key>controlPoint2Y</key>
					<real>432</real>
					<key>dstPointX</key>
					<real>1629.1819191290776</real>
					<key>dstPointY</key>
					<real>482.06854397136385</real>
					<key>srcPointX</key>
					<real>1548.7309204445389</real>
					<key>srcPointY</key>
					<real>303.59015210648641</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1499</real>
			<key>y</key>
			<real>301</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Debounce</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>378</real>
					<key>controlPoint1Y</key>
					<real>902</real>
					<key>controlPoint2X</key>
					<real>646</real>
					<key>controlPoint2Y</key>
					<real>949</real>
					<key>dstPointX</key>
					<real>753.27864045000422</real>
					<key>dstPointY</key>
					<real>1013.8196601125011</real>
					<key>srcPointX</key>
					<real>322.04341789858887</real>
					<key>srcPointY</key>
					<real>652.26394488392168</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>442</real>
					<key>controlPoint1Y</key>
					<real>414</real>
					<key>controlPoint2X</key>
					<real>599</real>
					<key>controlPoint2Y</key>
					<real>237</real>
					<key>dstPointX</key>
					<real>756.50817490036525</real>
					<key>dstPointY</key>
					<real>135.33350264019495</real>
					<key>srcPointX</key>
					<real>336.24923734599616</real>
					<key>srcPointY</key>
					<real>606.72220912104854</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>310</real>
			<key>y</key>
			<real>628</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>EndOfTheLine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>365</real>
					<key>controlPoint1Y</key>
					<real>134</real>
					<key>controlPoint2X</key>
					<real>600</real>
					<key>controlPoint2Y</key>
					<real>153</real>
					<key>dstPointX</key>
					<real>750.55318235658513</real>
					<key>dstPointY</key>
					<real>126.7085113232561</real>
					<key>srcPointX</key>
					<real>312.46795676824263</real>
					<key>srcPointY</key>
					<real>122.63734976237079</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>398</real>
					<key>controlPoint1Y</key>
					<real>49</real>
					<key>controlPoint2X</key>
					<real>599</real>
					<key>controlPoint2Y</key>
					<real>49</real>
					<key>dstPointX</key>
					<real>753</real>
					<key>dstPointY</key>
					<real>49</real>
					<key>srcPointX</key>
					<real>307.38772657244647</real>
					<key>srcPointY</key>
					<real>107.49207088862497</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>275.18654271358821</real>
					<key>controlPoint1Y</key>
					<real>303.63077074335979</real>
					<key>controlPoint2X</key>
					<real>246</real>
					<key>controlPoint2Y</key>
					<real>497</real>
					<key>dstPointX</key>
					<real>288.05179580244055</real>
					<key>dstPointY</key>
					<real>605.53738476656031</real>
					<key>srcPointX</key>
					<real>266.29308132876815</real>
					<key>srcPointY</key>
					<real>143.94571914859401</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>263</real>
			<key>y</key>
			<real>119</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>FollowLine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>950</real>
					<key>controlPoint1Y</key>
					<real>127</real>
					<key>controlPoint2X</key>
					<real>950</real>
					<key>controlPoint2Y</key>
					<real>50</real>
					<key>dstPointX</key>
					<real>852.99884311479752</real>
					<key>dstPointY</key>
					<real>49.1700640922272</real>
					<key>srcPointX</key>
					<real>849.98223169808853</real>
					<key>srcPointY</key>
					<real>123.66642975597452</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>516</real>
					<key>controlPoint1Y</key>
					<real>184</real>
					<key>controlPoint2X</key>
					<real>376</real>
					<key>controlPoint2Y</key>
					<real>207</real>
					<key>dstPointX</key>
					<real>302.44880553550058</real>
					<key>dstPointY</key>
					<real>134.36059684568164</real>
					<key>srcPointX</key>
					<real>751.11492291646221</real>
					<key>srcPointY</key>
					<real>128.24998186988699</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>530</real>
					<key>controlPoint1Y</key>
					<real>233</real>
					<key>controlPoint2X</key>
					<real>353</real>
					<key>controlPoint2Y</key>
					<real>340</real>
					<key>dstPointX</key>
					<real>317.38343505936496</real>
					<key>dstPointY</key>
					<real>603.27407794073122</real>
					<key>srcPointX</key>
					<real>753.69538201152261</real>
					<key>srcPointY</key>
					<real>132.43242218283797</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>800</real>
			<key>y</key>
			<real>123</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1101</real>
					<key>controlPoint1Y</key>
					<real>49</real>
					<key>controlPoint2X</key>
					<real>998</real>
					<key>controlPoint2Y</key>
					<real>51</real>
					<key>dstPointX</key>
					<real>852.99737035868122</real>
					<key>dstPointY</key>
					<real>49.256396771070158</real>
					<key>srcPointX</key>
					<real>1150</real>
					<key>srcPointY</key>
					<real>49</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1148</real>
					<key>controlPoint1Y</key>
					<real>102</real>
					<key>controlPoint2X</key>
					<real>1147</real>
					<key>controlPoint2Y</key>
					<real>150</real>
					<key>dstPointX</key>
					<real>1161.4360283686765</real>
					<key>dstPointY</key>
					<real>184.46989066187342</real>
					<key>srcPointX</key>
					<real>1164.9829664935962</real>
					<key>srcPointY</key>
					<real>66.845218998455792</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1315.8006462717099</real>
					<key>controlPoint1Y</key>
					<real>61.820062268419292</real>
					<key>controlPoint2X</key>
					<real>1381.9003231358549</real>
					<key>controlPoint2Y</key>
					<real>71.910031134209646</real>
					<key>dstPointX</key>
					<real>1415.6090135513255</real>
					<key>dstPointY</key>
					<real>81.109933881447034</real>
					<key>srcPointX</key>
					<real>1249.6963813526434</real>
					<key>srcPointY</key>
					<real>51.7508944205765</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1291.481787643633</real>
					<key>controlPoint1Y</key>
					<real>99.751818527199248</real>
					<key>controlPoint2X</key>
					<real>1339.2408938218166</real>
					<key>controlPoint2Y</key>
					<real>138.37590926359962</real>
					<key>dstPointX</key>
					<real>1366.8514108777547</real>
					<key>dstPointY</key>
					<real>162.25750377855928</real>
					<key>srcPointX</key>
					<real>1243.7223422241493</real>
					<key>srcPointY</key>
					<real>61.128033542524264</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1109.1608767671162</real>
					<key>controlPoint1Y</key>
					<real>102.02453843927806</real>
					<key>controlPoint2X</key>
					<real>1061.5804383835582</real>
					<key>controlPoint2Y</key>
					<real>142.51226921963902</real>
					<key>dstPointX</key>
					<real>1052.1912106515506</real>
					<key>dstPointY</key>
					<real>165.47543070109683</real>
					<key>srcPointX</key>
					<real>1156.8183083687873</real>
					<key>srcPointY</key>
					<real>61.602990794518277</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1200</real>
			<key>y</key>
			<real>49</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Junction</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1068</real>
					<key>controlPoint1Y</key>
					<real>561</real>
					<key>controlPoint2X</key>
					<real>1072</real>
					<key>controlPoint2Y</key>
					<real>524</real>
					<key>dstPointX</key>
					<real>828.06750022465258</real>
					<key>dstPointY</key>
					<real>143.68946248177517</real>
					<key>srcPointX</key>
					<real>1062.3017763194218</real>
					<key>srcPointY</key>
					<real>604.04452466496843</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1048</real>
			<key>y</key>
			<real>628</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Landmark</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>867</real>
					<key>controlPoint1Y</key>
					<real>985</real>
					<key>controlPoint2X</key>
					<real>1158</real>
					<key>controlPoint2Y</key>
					<real>880</real>
					<key>dstPointX</key>
					<real>1068.0027774379591</real>
					<key>dstPointY</key>
					<real>650.9122723380259</real>
					<key>srcPointX</key>
					<real>841.25700007325065</real>
					<key>srcPointY</key>
					<real>1012.4617391092027</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>898</real>
					<key>controlPoint1Y</key>
					<real>938</real>
					<key>controlPoint2X</key>
					<real>961</real>
					<key>controlPoint2Y</key>
					<real>852</real>
					<key>dstPointX</key>
					<real>942.37409214900458</real>
					<key>dstPointY</key>
					<real>654.85517618914628</real>
					<key>srcPointX</key>
					<real>835.72215392888575</real>
					<key>srcPointY</key>
					<real>1008.5908630409347</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>821</real>
					<key>controlPoint1Y</key>
					<real>960</real>
					<key>controlPoint2X</key>
					<real>900</real>
					<key>controlPoint2Y</key>
					<real>767</real>
					<key>dstPointX</key>
					<real>847.43646560633204</real>
					<key>dstPointY</key>
					<real>656.52316320535783</real>
					<key>srcPointX</key>
					<real>814.67893252194267</real>
					<key>srcPointY</key>
					<real>1001.4319431755157</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>803</real>
					<key>controlPoint1Y</key>
					<real>910</real>
					<key>controlPoint2X</key>
					<real>804</real>
					<key>controlPoint2Y</key>
					<real>753</real>
					<key>dstPointX</key>
					<real>742.42780970904448</real>
					<key>dstPointY</key>
					<real>648.21140776720085</real>
					<key>srcPointX</key>
					<real>800.1718612138153</real>
					<key>srcPointY</key>
					<real>1000.0235960411235</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>760</real>
					<key>controlPoint1Y</key>
					<real>879</real>
					<key>controlPoint2X</key>
					<real>684</real>
					<key>controlPoint2Y</key>
					<real>732</real>
					<key>dstPointX</key>
					<real>629.08170491177543</real>
					<key>dstPointY</key>
					<real>647.17527190129101</real>
					<key>srcPointX</key>
					<real>785.40589029359307</real>
					<key>srcPointY</key>
					<real>1000.8060524061131</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>720</real>
					<key>controlPoint1Y</key>
					<real>857</real>
					<key>controlPoint2X</key>
					<real>542</real>
					<key>controlPoint2Y</key>
					<real>694</real>
					<key>dstPointX</key>
					<real>518.44346247155818</real>
					<key>dstPointY</key>
					<real>645.43777680059964</real>
					<key>srcPointX</key>
					<real>776.94443467726853</real>
					<key>srcPointY</key>
					<real>1002.3247758062892</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>798</real>
			<key>y</key>
			<real>1025</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>LeftCrossing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>960</real>
					<key>controlPoint1Y</key>
					<real>547</real>
					<key>controlPoint2X</key>
					<real>940</real>
					<key>controlPoint2Y</key>
					<real>472</real>
					<key>dstPointX</key>
					<real>818.61537543920497</real>
					<key>dstPointY</key>
					<real>146.20273581529474</real>
					<key>srcPointX</key>
					<real>950.35224909687497</real>
					<key>srcPointY</key>
					<real>605.90789836868214</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>937</real>
			<key>y</key>
			<real>630</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>LeftTurn</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>707</real>
					<key>controlPoint1Y</key>
					<real>578</real>
					<key>controlPoint2X</key>
					<real>741</real>
					<key>controlPoint2Y</key>
					<real>306</real>
					<key>dstPointX</key>
					<real>784.65745906481425</real>
					<key>dstPointY</key>
					<real>146.79394060287277</real>
					<key>srcPointX</key>
					<real>707.04273896907841</real>
					<key>srcPointY</key>
					<real>603.17807903782693</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<true/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<true/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>713</real>
			<key>y</key>
			<real>628</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>OdometryTestState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1189.3710514716588</real>
					<key>controlPoint1Y</key>
					<real>267.29376248935591</real>
					<key>controlPoint2X</key>
					<real>1187.1855257358295</real>
					<key>controlPoint2Y</key>
					<real>306.64688124467796</real>
					<key>dstPointX</key>
					<real>1315.4010106369751</real>
					<key>dstPointY</key>
					<real>435.52034588591778</real>
					<key>srcPointX</key>
					<real>1190.6391581662444</real>
					<key>srcPointY</key>
					<real>227.90473377944929</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1273.8961181691132</real>
					<key>controlPoint1Y</key>
					<real>223.58696610317119</real>
					<key>controlPoint2X</key>
					<real>1304.4480590845567</real>
					<key>controlPoint2Y</key>
					<real>237.79348305158558</real>
					<key>dstPointX</key>
					<real>1451.4466540862877</real>
					<key>dstPointY</key>
					<real>293.27537553646096</real>
					<key>srcPointX</key>
					<real>1243.3800592171726</real>
					<key>srcPointY</key>
					<real>209.31208899934998</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1195</real>
			<key>y</key>
			<real>203</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>RightCrossing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>847</real>
					<key>controlPoint1Y</key>
					<real>523</real>
					<key>controlPoint2X</key>
					<real>820</real>
					<key>controlPoint2Y</key>
					<real>418</real>
					<key>dstPointX</key>
					<real>803.38206678683957</real>
					<key>dstPointY</key>
					<real>147.94274255294192</real>
					<key>srcPointX</key>
					<real>832.89265162935851</real>
					<key>srcPointY</key>
					<real>610.60046035023697</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>822</real>
			<key>y</key>
			<real>635</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>RightTurn</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>608</real>
					<key>controlPoint1Y</key>
					<real>527</real>
					<key>controlPoint2X</key>
					<real>708</real>
					<key>controlPoint2Y</key>
					<real>278</real>
					<key>dstPointX</key>
					<real>774.47947174950878</real>
					<key>dstPointY</key>
					<real>144.4982710805769</real>
					<key>srcPointX</key>
					<real>602.41353267113061</real>
					<key>srcPointY</key>
					<real>603.14696364617294</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>597</real>
			<key>y</key>
			<real>628</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SearchForLine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>649</real>
					<key>controlPoint1Y</key>
					<real>51</real>
					<key>controlPoint2X</key>
					<real>651</real>
					<key>controlPoint2Y</key>
					<real>126</real>
					<key>dstPointX</key>
					<real>750.01013159830734</real>
					<key>dstPointY</key>
					<real>123.50325370874187</real>
					<key>srcPointX</key>
					<real>753.00421602935103</real>
					<key>srcPointY</key>
					<real>49.324647947861365</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>803</real>
			<key>y</key>
			<real>49</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>State_1</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1552.2513846593274</real>
					<key>controlPoint1Y</key>
					<real>111.13825556637521</real>
					<key>controlPoint2X</key>
					<real>1591.6256923296635</real>
					<key>controlPoint2Y</key>
					<real>130.06912778318761</real>
					<key>dstPointX</key>
					<real>1676.5555176176733</real>
					<key>dstPointY</key>
					<real>102.18732831496055</real>
					<key>srcPointX</key>
					<real>1512.8969250102125</real>
					<key>srcPointY</key>
					<real>92.174339247730231</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1465</real>
			<key>y</key>
			<real>85</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>State_2</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1725</real>
			<key>y</key>
			<real>96</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>State_3</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1013</real>
			<key>y</key>
			<real>181</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>StopState</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1599</real>
			<key>y</key>
			<real>502</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TCross</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>498</real>
					<key>controlPoint1Y</key>
					<real>468</real>
					<key>controlPoint2X</key>
					<real>607</real>
					<key>controlPoint2Y</key>
					<real>275</real>
					<key>dstPointX</key>
					<real>760.71942088325716</real>
					<key>dstPointY</key>
					<real>138.46800006669665</real>
					<key>srcPointX</key>
					<real>490.47260700368366</real>
					<key>srcPointY</key>
					<real>601.06036788263521</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>467.5324033827921</real>
					<key>controlPoint1Y</key>
					<real>615.51192797839951</real>
					<key>controlPoint2X</key>
					<real>478.76620169139602</real>
					<key>controlPoint2Y</key>
					<real>624.75596398919981</real>
					<key>dstPointX</key>
					<real>437.56110822312786</real>
					<key>dstPointY</key>
					<real>622.26516466645694</real>
					<key>srcPointX</key>
					<real>442.98165615566569</real>
					<key>srcPointY</key>
					<real>614.14266677112903</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>487</real>
			<key>y</key>
			<real>626</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TestStop</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>2148</real>
			<key>y</key>
			<real>497</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TestTurn</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1757.2185300422168</real>
					<key>controlPoint1Y</key>
					<real>285.35500107270019</real>
					<key>controlPoint2X</key>
					<real>1798.6092650211085</real>
					<key>controlPoint2Y</key>
					<real>319.67750053635012</real>
					<key>dstPointX</key>
					<real>1918.2695945983394</real>
					<key>dstPointY</key>
					<real>374.10802031327592</real>
					<key>srcPointX</key>
					<real>1715.9224468295731</real>
					<key>srcPointY</key>
					<real>250.94590583111349</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1672</real>
			<key>y</key>
			<real>239</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TestY</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>2058.1421950000372</real>
					<key>controlPoint1Y</key>
					<real>428.45893553475338</real>
					<key>controlPoint2X</key>
					<real>2106.5710975000188</real>
					<key>controlPoint2Y</key>
					<real>462.72946776737672</real>
					<key>dstPointX</key>
					<real>2109.4732250145289</real>
					<key>dstPointY</key>
					<real>481.06507288047032</real>
					<key>srcPointX</key>
					<real>2009.9339125826814</real>
					<key>srcPointY</key>
					<real>393.96521203638986</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1965</real>
			<key>y</key>
			<real>383</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TestZ</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1499.4569581133326</real>
					<key>controlPoint1Y</key>
					<real>188.99615995708791</real>
					<key>controlPoint2X</key>
					<real>1537.7284790566664</real>
					<key>controlPoint2Y</key>
					<real>200.49807997854396</real>
					<key>dstPointX</key>
					<real>1623.9369323652443</real>
					<key>dstPointY</key>
					<real>232.10903617886265</real>
					<key>srcPointX</key>
					<real>1461.1840757891021</real>
					<key>srcPointY</key>
					<real>177.49796311600775</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1412</real>
			<key>y</key>
			<real>173</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
