<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>GoToGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>195.31939543014056</real>
					<key>controlPoint1Y</key>
					<real>126.79366420056769</real>
					<key>controlPoint2X</key>
					<real>339.31259427465159</real>
					<key>controlPoint2Y</key>
					<real>-1.0348415801415953</real>
					<key>dstPointX</key>
					<real>361.54865970595597</real>
					<key>dstPointY</key>
					<real>51.630001518800213</real>
					<key>srcPointX</key>
					<real>171.61715614539492</real>
					<key>srcPointY</key>
					<real>178.81512282477456</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>154</real>
			<key>y</key>
			<real>195.6953125</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>40.159363277824653</real>
					<key>controlPoint1Y</key>
					<real>347.82505072542119</real>
					<key>controlPoint2X</key>
					<real>47.892519318685679</real>
					<key>controlPoint2Y</key>
					<real>333.59282673503645</real>
					<key>dstPointX</key>
					<real>52.155911583799039</real>
					<key>dstPointY</key>
					<real>314.0525225819847</real>
					<key>srcPointX</key>
					<real>42.705105886007587</real>
					<key>srcPointY</key>
					<real>367.66236895578896</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.97555503690000001</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.94478844500000003</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>48</real>
			<key>y</key>
			<real>385.6953125</real>
		</dict>
		<key>SeekGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>682.22292910646229</real>
					<key>controlPoint1Y</key>
					<real>172.74474164185403</real>
					<key>controlPoint2X</key>
					<real>509.43730103552122</real>
					<key>controlPoint2Y</key>
					<real>254.6722872365516</real>
					<key>dstPointX</key>
					<real>448.30445462677403</real>
					<key>dstPointY</key>
					<real>241.99209785190851</real>
					<key>srcPointX</key>
					<real>662.18850513475979</real>
					<key>srcPointY</key>
					<real>113.61239880827469</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>648.3046875</real>
			<key>y</key>
			<real>95</real>
		</dict>
		<key>Suspending</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>478.38290818211465</real>
					<key>controlPoint1Y</key>
					<real>69.581245345911128</real>
					<key>controlPoint2X</key>
					<real>645.30604685870333</real>
					<key>controlPoint2Y</key>
					<real>18.861363677718927</real>
					<key>dstPointX</key>
					<real>646.80136922302643</real>
					<key>dstPointY</key>
					<real>75.000001998929164</real>
					<key>srcPointX</key>
					<real>422.22522529161631</real>
					<key>srcPointY</key>
					<real>69.893261215910513</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>379.3046875</real>
			<key>y</key>
			<real>70</real>
		</dict>
		<key>Suspending_Scanner</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>318.54610175960522</real>
					<key>controlPoint1Y</key>
					<real>228.75745338335165</real>
					<key>controlPoint2X</key>
					<real>233.95739664367261</real>
					<key>controlPoint2Y</key>
					<real>221.2312654558624</real>
					<key>dstPointX</key>
					<real>195.84244927813813</real>
					<key>dstPointY</key>
					<real>204.27373826320746</real>
					<key>srcPointX</key>
					<real>359.79745865816494</real>
					<key>srcPointY</key>
					<real>234.9729578033278</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>405</real>
			<key>y</key>
			<real>238.0390625</real>
		</dict>
		<key>check_ifVisible</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>105.51590757100031</real>
					<key>controlPoint1Y</key>
					<real>265.32976842557554</real>
					<key>controlPoint2X</key>
					<real>110.85221805128539</real>
					<key>controlPoint2Y</key>
					<real>226.97540911418292</real>
					<key>dstPointX</key>
					<real>123.82002940499473</real>
					<key>dstPointY</key>
					<real>211.74925172978001</real>
					<key>srcPointX</key>
					<real>91.817549667719902</real>
					<key>srcPointY</key>
					<real>279.90217353776052</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>393.41796875</real>
					<key>controlPoint1Y</key>
					<real>471.4296875</real>
					<key>controlPoint2X</key>
					<real>841.23024426034294</real>
					<key>controlPoint2Y</key>
					<real>133.99506331290763</real>
					<key>dstPointX</key>
					<real>690.98397089052901</real>
					<key>dstPointY</key>
					<real>99.398937345168278</real>
					<key>srcPointX</key>
					<real>103.86896996991638</real>
					<key>srcPointY</key>
					<real>288.49508848432151</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>62.3671875</real>
			<key>y</key>
			<real>293.85546875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
