<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>GoToGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>194.34073965399156</real>
					<key>controlPoint1Y</key>
					<real>125.37477751279394</real>
					<key>controlPoint2X</key>
					<real>341.2029711597113</real>
					<key>controlPoint2Y</key>
					<real>-1.5056232443286746</real>
					<key>dstPointX</key>
					<real>362.46272220595597</real>
					<key>dstPointY</key>
					<real>51.630001518800213</real>
					<key>srcPointX</key>
					<real>171.61715614539492</real>
					<key>srcPointY</key>
					<real>177.90106032477456</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>154</real>
			<key>y</key>
			<real>195.6953125</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>40.27841095152128</real>
					<key>controlPoint1Y</key>
					<real>346.8960735412038</real>
					<key>controlPoint2X</key>
					<real>49.371907009931952</real>
					<key>controlPoint2Y</key>
					<real>333.23785766396941</real>
					<key>dstPointX</key>
					<real>53.257474083799039</real>
					<key>dstPointY</key>
					<real>313.6189288319847</real>
					<key>srcPointX</key>
					<real>42.705105886007587</real>
					<key>srcPointY</key>
					<real>366.74830645578896</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.97555503690000001</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.94478844500000003</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>48</real>
			<key>y</key>
			<real>385.6953125</real>
		</dict>
		<key>SeekGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>684.25796616566049</real>
					<key>controlPoint1Y</key>
					<real>172.27418591872822</real>
					<key>controlPoint2X</key>
					<real>509.71261704273587</real>
					<key>controlPoint2Y</key>
					<real>255.1767164107182</real>
					<key>dstPointX</key>
					<real>448.89039212677403</real>
					<key>dstPointY</key>
					<real>241.41397285190851</real>
					<key>srcPointX</key>
					<real>663.10256763475979</real>
					<key>srcPointY</key>
					<real>113.61239880827469</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>648.3046875</real>
			<key>y</key>
			<real>95</real>
		</dict>
		<key>Suspending</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>479.29700620935773</real>
					<key>controlPoint1Y</key>
					<real>69.587706561941943</real>
					<key>controlPoint2X</key>
					<real>647.36030674994799</real>
					<key>controlPoint2Y</key>
					<real>18.842575172316153</real>
					<key>dstPointX</key>
					<real>647.71543172302643</real>
					<key>dstPointY</key>
					<real>75.000001998929164</real>
					<key>srcPointX</key>
					<real>423.13928779161631</real>
					<key>srcPointY</key>
					<real>69.893261215910513</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>379.3046875</real>
			<key>y</key>
			<real>70</real>
		</dict>
		<key>Suspending_Scanner</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>318.87948423250168</real>
					<key>controlPoint1Y</key>
					<real>228.94214487356916</real>
					<key>controlPoint2X</key>
					<real>234.76574643787211</real>
					<key>controlPoint2Y</key>
					<real>218.76368332642261</real>
					<key>dstPointX</key>
					<real>195.84244927813813</real>
					<key>dstPointY</key>
					<real>203.35967576320746</real>
					<key>srcPointX</key>
					<real>360.38339615816494</real>
					<key>srcPointY</key>
					<real>234.3948328033278</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>405.29296875</real>
			<key>y</key>
			<real>237.19140625</real>
		</dict>
		<key>check_ifVisible</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>106.66093979781765</real>
					<key>controlPoint1Y</key>
					<real>264.93715957552104</real>
					<key>controlPoint2X</key>
					<real>110.40670914054795</real>
					<key>controlPoint2Y</key>
					<real>225.67037845956003</real>
					<key>dstPointX</key>
					<real>123.82002940499473</real>
					<key>dstPointY</key>
					<real>210.83518922978001</real>
					<key>srcPointX</key>
					<real>92.919112167719902</real>
					<key>srcPointY</key>
					<real>279.46857978776052</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>486.05078125</real>
					<key>controlPoint1Y</key>
					<real>511.44921875</real>
					<key>controlPoint2X</key>
					<real>842.24982664508957</real>
					<key>controlPoint2Y</key>
					<real>133.29848024376201</real>
					<key>dstPointX</key>
					<real>691.89803339052901</real>
					<key>dstPointY</key>
					<real>99.398937345168278</real>
					<key>srcPointX</key>
					<real>104.97053246991638</real>
					<key>srcPointY</key>
					<real>288.06149473432151</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>62.3671875</real>
			<key>y</key>
			<real>293.85546875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
