<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>GoToGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>343.94140625</real>
					<key>controlPoint1Y</key>
					<real>8.0703125</real>
					<key>controlPoint2X</key>
					<real>692.92276218698044</real>
					<key>controlPoint2Y</key>
					<real>144.60715705058254</real>
					<key>dstPointX</key>
					<real>681.55073801295282</real>
					<key>dstPointY</key>
					<real>203.36438167389016</real>
					<key>srcPointX</key>
					<real>442.18974289444031</real>
					<key>srcPointY</key>
					<real>207.11459284812764</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>447</real>
			<key>y</key>
			<real>227</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>249.68170567799845</real>
					<key>controlPoint1Y</key>
					<real>245.71832900207269</real>
					<key>controlPoint2X</key>
					<real>353.39892027569726</real>
					<key>controlPoint2Y</key>
					<real>239.74443817397042</real>
					<key>dstPointX</key>
					<real>403.37096682242498</real>
					<key>dstPointY</key>
					<real>230.56276847352055</real>
					<key>srcPointX</key>
					<real>199.98337858642026</real>
					<key>srcPointY</key>
					<real>235.15495932876357</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.97555503690000001</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.94478844500000003</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>156.1953125</real>
			<key>y</key>
			<real>230.53515625</real>
		</dict>
		<key>SeekGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>553.09375</real>
					<key>controlPoint1Y</key>
					<real>431.4765625</real>
					<key>controlPoint2X</key>
					<real>266.91015625</real>
					<key>controlPoint2Y</key>
					<real>345.66015625</real>
					<key>dstPointX</key>
					<real>445.00821931026377</real>
					<key>dstPointY</key>
					<real>246.98039933205649</real>
					<key>srcPointX</key>
					<real>688.71194263475979</real>
					<key>srcPointY</key>
					<real>241.74130505827469</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>673</real>
			<key>y</key>
			<real>223.04296875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
