<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>States</key>
    <dict>

        <key>Ping</key>
        <dict>
            <key>Transitions</key>
            <array>
                <dict>
                </dict>
            </array>
            <key>bgColour</key>
            <dict>
                <key>alpha</key>
                <real>1</real>
                <key>blue</key>
                <real>1</real>
                <key>green</key>
                <real>1</real>
                <key>red</key>
                <real>1</real>
            </dict>
            <key>expanded</key>
            <false/>
            <key>h</key>
            <real>50</real>
            <key>strokeColour</key>
            <dict>
                <key>alpha</key>
                <real>1</real>
                <key>blue</key>
                <real>0.0</real>
                <key>green</key>
                <real>0.0</real>
                <key>red</key>
                <real>0.0</real>
            </dict>
            <key>w</key>
            <real>100</real>
            <key>x</key>
            <real>90.000000</real>
            <key>y</key>
            <real>60.000000</real>
        </dict>


        <key>Pong</key>
        <dict>
            <key>Transitions</key>
            <array>
                <dict>
                </dict>
            </array>
            <key>bgColour</key>
            <dict>
                <key>alpha</key>
                <real>1</real>
                <key>blue</key>
                <real>1</real>
                <key>green</key>
                <real>1</real>
                <key>red</key>
                <real>1</real>
            </dict>
            <key>expanded</key>
            <false/>
            <key>h</key>
            <real>50</real>
            <key>strokeColour</key>
            <dict>
                <key>alpha</key>
                <real>1</real>
                <key>blue</key>
                <real>0.0</real>
                <key>green</key>
                <real>0.0</real>
                <key>red</key>
                <real>0.0</real>
            </dict>
            <key>w</key>
            <real>100</real>
            <key>x</key>
            <real>150.000000</real>
            <key>y</key>
            <real>60.000000</real>
        </dict>


    </dict>
    <key>Version</key>
    <string>1.1</string>
</dict>
</plist>
