<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Ping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>167.73813673358245</real>
					<key>controlPoint1Y</key>
					<real>39.447669653312261</real>
					<key>controlPoint2X</key>
					<real>262.76874484177785</real>
					<key>controlPoint2Y</key>
					<real>44.669101088056593</real>
					<key>dstPointX</key>
					<real>302.08568135161539</real>
					<key>dstPointY</key>
					<real>62.673116219792888</real>
					<key>srcPointX</key>
					<real>129.15289564827063</real>
					<key>srcPointY</key>
					<real>58.970610716859824</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>89</real>
			<key>y</key>
			<real>68</real>
		</dict>
		<key>Pong</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>281.15089681463513</real>
					<key>controlPoint1Y</key>
					<real>121.89837013719949</real>
					<key>controlPoint2X</key>
					<real>154.68435347317529</real>
					<key>controlPoint2Y</key>
					<real>116.25911971319371</real>
					<key>dstPointX</key>
					<real>120.74926852130508</real>
					<key>dstPointY</key>
					<real>82.173415897199092</real>
					<key>srcPointX</key>
					<real>313.10454269545346</real>
					<key>srcPointY</key>
					<real>85.948548020176162</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>289</real>
			<key>y</key>
			<real>65</real>
		</dict>
	</dict>
</dict>
</plist>
