<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Ping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>174.95281962172302</real>
					<key>controlPoint1Y</key>
					<real>65.529412926868432</real>
					<key>controlPoint2X</key>
					<real>257.02800092085033</real>
					<key>controlPoint2Y</key>
					<real>68.891810088026247</real>
					<key>dstPointX</key>
					<real>298.02686207387967</real>
					<key>dstPointY</key>
					<real>70.309054671093904</real>
					<key>srcPointX</key>
					<real>133.96310488753295</real>
					<key>srcPointY</key>
					<real>67.190281393464289</real>
				</dict>
			</array>
			<key>x</key>
			<real>89</real>
			<key>y</key>
			<real>68</real>
		</dict>
		<key>Pong</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>257.03219725588599</real>
					<key>controlPoint1Y</key>
					<real>73.108044853478731</real>
					<key>controlPoint2X</key>
					<real>174.97945815358855</real>
					<key>controlPoint2Y</key>
					<real>69.853477502962448</real>
					<key>dstPointX</key>
					<real>133.97923532911486</real>
					<key>dstPointY</key>
					<real>68.607506818837891</real>
					<key>srcPointX</key>
					<real>298.02686207387967</real>
					<key>srcPointY</key>
					<real>71.690945328906096</real>
				</dict>
			</array>
			<key>x</key>
			<real>343</real>
			<key>y</key>
			<real>71</real>
		</dict>
	</dict>
</dict>
</plist>
