<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>AvoidGoal</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>802.2002046943386</real>
		    <key>controlPoint1Y</key>
		    <real>399.6054720697164</real>
		    <key>controlPoint2X</key>
		    <real>809.7997953056614</real>
		    <key>controlPoint2Y</key>
		    <real>355.3945279302836</real>
		    <key>dstPointX</key>
		    <real>823.9813279278803</real>
		    <key>dstPointY</key>
		    <real>340.4894477252985</real>
		    <key>srcPointX</key>
		    <real>788.0186720721197</real>
		    <key>srcPointY</key>
		    <real>414.5105522747015</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>715.4901385127566</real>
		    <key>controlPoint1Y</key>
		    <real>405.1678080424203</real>
		    <key>controlPoint2X</key>
		    <real>706.5098614872434</real>
		    <key>controlPoint2Y</key>
		    <real>360.8321919575797</real>
		    <key>dstPointX</key>
		    <real>686.8198051533947</real>
		    <key>dstPointY</key>
		    <real>341.142135623731</real>
		    <key>srcPointX</key>
		    <real>725.1801948466053</real>
		    <key>srcPointY</key>
		    <real>414.8578643762689</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>757</real>
	    <key>y</key>
	    <real>429</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Dummy_Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1471</real>
		    <key>controlPoint1Y</key>
		    <real>673</real>
		    <key>controlPoint2X</key>
		    <real>1393.815785843454</real>
		    <key>controlPoint2Y</key>
		    <real>674.4166881913259</real>
		    <key>dstPointX</key>
		    <real>1373.81640625</real>
		    <key>dstPointY</key>
		    <real>674.57421875</real>
		    <key>srcPointX</key>
		    <real>1491</real>
		    <key>srcPointY</key>
		    <real>673</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1536</real>
	    <key>y</key>
	    <real>673</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Give_Up</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1223.95348483364</real>
		    <key>controlPoint1Y</key>
		    <real>338.0802762451904</real>
		    <key>controlPoint2X</key>
		    <real>1208.245882005374</real>
		    <key>controlPoint2Y</key>
		    <real>267.2281304710812</real>
		    <key>dstPointX</key>
		    <real>1224.922656346705</real>
		    <key>dstPointY</key>
		    <real>240.8963815110846</real>
		    <key>srcPointX</key>
		    <real>1207.081249903295</real>
		    <key>srcPointY</key>
		    <real>364.2872122389154</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1182.83203125</real>
	    <key>y</key>
	    <real>381.02734375</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>KickGoal</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>424.1917334800112</real>
		    <key>controlPoint1Y</key>
		    <real>216.6410154590102</real>
		    <key>controlPoint2X</key>
		    <real>477.8082665199888</real>
		    <key>controlPoint2Y</key>
		    <real>190.35898454099</real>
		    <key>dstPointX</key>
		    <real>506.4223717047797</real>
		    <key>dstPointY</key>
		    <real>182.988684720665</real>
		    <key>srcPointX</key>
		    <real>395.5776282952203</real>
		    <key>srcPointY</key>
		    <real>224.0113152793351</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>429.9154261419144</real>
		    <key>controlPoint1Y</key>
		    <real>245.3576502253529</real>
		    <key>controlPoint2X</key>
		    <real>485.0845738580855</real>
		    <key>controlPoint2Y</key>
		    <real>269.6423497746472</real>
		    <key>dstPointX</key>
		    <real>509.1819744665258</real>
		    <key>dstPointY</key>
		    <real>271.4462195686605</real>
		    <key>srcPointX</key>
		    <real>395.8180255334742</real>
		    <key>srcPointY</key>
		    <real>233.5537804313395</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>352</real>
	    <key>y</key>
	    <real>229</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>KickLeft</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>622.6676670164391</real>
		    <key>controlPoint1Y</key>
		    <real>189.3577010774631</real>
		    <key>controlPoint2X</key>
		    <real>677.3323329835609</real>
		    <key>controlPoint2Y</key>
		    <real>213.6422989225369</real>
		    <key>dstPointX</key>
		    <real>706.1933565594893</real>
		    <key>dstPointY</key>
		    <real>220.42463946288</real>
		    <key>srcPointX</key>
		    <real>593.8066434405107</real>
		    <key>srcPointY</key>
		    <real>182.57536053712</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>550</real>
	    <key>y</key>
	    <real>178</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>KickRight</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>624.944272045303</real>
		    <key>controlPoint1Y</key>
		    <real>263.640359601504</real>
		    <key>controlPoint2X</key>
		    <real>678.055727954697</real>
		    <key>controlPoint2Y</key>
		    <real>237.3596403984961</real>
		    <key>dstPointX</key>
		    <real>706.4361629715273</real>
		    <key>dstPointY</key>
		    <real>230.012421180941</real>
		    <key>srcPointX</key>
		    <real>596.5638370284727</real>
		    <key>srcPointY</key>
		    <real>270.987578819059</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>553</real>
	    <key>y</key>
	    <real>276</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>PassLeft</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>699.3248166474802</real>
		    <key>controlPoint1Y</key>
		    <real>297.7034088337378</real>
		    <key>controlPoint2X</key>
		    <real>705.6751833525199</real>
		    <key>controlPoint2Y</key>
		    <real>254.2965911662624</real>
		    <key>dstPointX</key>
		    <real>719.3302034603283</real>
		    <key>dstPointY</key>
		    <real>239.635411682089</real>
		    <key>srcPointX</key>
		    <real>685.6697965396717</real>
		    <key>srcPointY</key>
		    <real>312.3645883179111</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>655</real>
	    <key>y</key>
	    <real>327</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>PassRight</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>807.5160048360935</real>
		    <key>controlPoint1Y</key>
		    <real>297.6560658025018</real>
		    <key>controlPoint2X</key>
		    <real>797.4839951639065</real>
		    <key>controlPoint2Y</key>
		    <real>253.3439341974984</real>
		    <key>dstPointX</key>
		    <real>782.4315520541683</real>
		    <key>dstPointY</key>
		    <real>238.8649174919408</real>
		    <key>srcPointX</key>
		    <real>822.5684479458317</real>
		    <key>srcPointY</key>
		    <real>312.1350825080593</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>855</real>
	    <key>y</key>
	    <real>326</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1447.04296875</real>
	    <key>y</key>
	    <real>224</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Stop_Walk</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1243.388574191422</real>
		    <key>controlPoint1Y</key>
		    <real>673.7913706083403</real>
		    <key>controlPoint2X</key>
		    <real>1180.548649684881</real>
		    <key>controlPoint2Y</key>
		    <real>680.4710337096076</real>
		    <key>dstPointX</key>
		    <real>1140.115814271846</real>
		    <key>dstPointY</key>
		    <real>680.1562452318467</real>
		    <key>srcPointX</key>
		    <real>1283.817779478154</real>
		    <key>srcPointY</key>
		    <real>674.4179735181533</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1280.246300028761</real>
		    <key>controlPoint1Y</key>
		    <real>611.7352053524263</real>
		    <key>controlPoint2X</key>
		    <real>1241.38697527921</real>
		    <key>controlPoint2Y</key>
		    <real>454.1346670305917</real>
		    <key>dstPointX</key>
		    <real>1206.088284175949</real>
		    <key>dstPointY</key>
		    <real>398.3515311112239</real>
		    <key>srcPointX</key>
		    <real>1305.732028324051</real>
		    <key>srcPointY</key>
		    <real>657.4062813887761</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1329.18359375</real>
	    <key>y</key>
	    <real>674.73046875</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Wait</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>880.5322380586817</real>
		    <key>controlPoint1Y</key>
		    <real>264.4911352782007</real>
		    <key>controlPoint2X</key>
		    <real>1052.276356078872</real>
		    <key>controlPoint2Y</key>
		    <real>342.2270015902129</real>
		    <key>dstPointX</key>
		    <real>1140.7838211961</real>
		    <key>dstPointY</key>
		    <real>374.2630297532663</real>
		    <key>srcPointX</key>
		    <real>792.2200850538993</real>
		    <key>srcPointY</key>
		    <real>231.9205639967338</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>884.0486313346654</real>
		    <key>controlPoint1Y</key>
		    <real>170.0222928168014</real>
		    <key>controlPoint2X</key>
		    <real>1113.100658784478</real>
		    <key>controlPoint2Y</key>
		    <real>172.2685808795991</real>
		    <key>dstPointX</key>
		    <real>1208.073648598639</real>
		    <key>dstPointY</key>
		    <real>215.6848047946441</real>
		    <key>srcPointX</key>
		    <real>790.3690065147085</real>
		    <key>srcPointY</key>
		    <real>216.163003549019</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>750</real>
	    <key>y</key>
	    <real>225</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>WalkConnect</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1320.96788040627</real>
		    <key>controlPoint1Y</key>
		    <real>224.237213127501</real>
		    <key>controlPoint2X</key>
		    <real>1374.903210731342</real>
		    <key>controlPoint2Y</key>
		    <real>223.7633051113434</real>
		    <key>dstPointX</key>
		    <real>1401.871667660049</real>
		    <key>dstPointY</key>
		    <real>223.8989911872279</real>
		    <key>srcPointX</key>
		    <real>1293.999426089951</real>
		    <key>srcPointY</key>
		    <real>224.1010088127721</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1249</real>
	    <key>y</key>
	    <real>224</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Walk_Disconnect</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1140.230806545087</real>
		    <key>controlPoint1Y</key>
		    <real>614.2374516010588</real>
		    <key>controlPoint2X</key>
		    <real>1148.400678558691</real>
		    <key>controlPoint2Y</key>
		    <real>457.1624090944079</real>
		    <key>dstPointX</key>
		    <real>1165.377933026661</real>
		    <key>dstPointY</key>
		    <real>399.5855532158757</real>
		    <key>srcPointX</key>
		    <real>1112.743160723339</real>
		    <key>srcPointY</key>
		    <real>661.5980405341243</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>846.8185685342755</real>
		    <key>controlPoint1Y</key>
		    <real>683.8489827163028</real>
		    <key>controlPoint2X</key>
		    <real>400.7025941264357</real>
		    <key>controlPoint2Y</key>
		    <real>447.9984537399057</real>
		    <key>dstPointX</key>
		    <real>360.8252260812183</real>
		    <key>dstPointY</key>
		    <real>248.6116135138184</real>
		    <key>srcPointX</key>
		    <real>1050.123828605824</real>
		    <key>srcPointY</key>
		    <real>680.3435918968628</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1094.9609375</real>
	    <key>y</key>
	    <real>680</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>