<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FindLine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>684.40714678355198</real>
					<key>controlPoint1Y</key>
					<real>114.80902792752735</real>
					<key>controlPoint2X</key>
					<real>887.02483803835753</real>
					<key>controlPoint2Y</key>
					<real>118.22066983720822</real>
					<key>dstPointX</key>
					<real>988.52292660003525</real>
					<key>dstPointY</key>
					<real>117.20271295707052</real>
					<key>srcPointX</key>
					<real>582.99660464996475</real>
					<key>srcPointY</key>
					<real>119.14494329292948</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>582.41070540387807</real>
					<key>controlPoint1Y</key>
					<real>186.65204932499486</real>
					<key>controlPoint2X</key>
					<real>610.85345556462153</real>
					<key>controlPoint2Y</key>
					<real>294.80243720008036</real>
					<key>dstPointX</key>
					<real>635.26896332159868</real>
					<key>dstPointY</key>
					<real>344.24253562870007</real>
					<key>srcPointX</key>
					<real>557.65291167840132</real>
					<key>srcPointY</key>
					<real>137.38246437129993</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>538</real>
			<key>y</key>
			<real>120.3046875</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>89.548505749462592</real>
					<key>controlPoint1Y</key>
					<real>72.463631184300141</real>
					<key>controlPoint2X</key>
					<real>133.03977685895202</real>
					<key>controlPoint2Y</key>
					<real>73.810002166593719</real>
					<key>dstPointX</key>
					<real>154.63533573551979</real>
					<key>dstPointY</key>
					<real>74.43204732620606</real>
					<key>srcPointX</key>
					<real>67.981851764480211</real>
					<key>srcPointY</key>
					<real>71.18514017379394</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>23</real>
			<key>y</key>
			<real>69.69140625</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>912.69140625</real>
			<key>y</key>
			<real>231</real>
		</dict>
		<key>SetHead</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>407.01005614653099</real>
					<key>controlPoint1Y</key>
					<real>190.92497458842016</real>
					<key>controlPoint2X</key>
					<real>463.2809968224384</real>
					<key>controlPoint2Y</key>
					<real>141.70953662898839</real>
					<key>dstPointX</key>
					<real>496.98591423087731</real>
					<key>dstPointY</key>
					<real>127.61998848765569</real>
					<key>srcPointX</key>
					<real>373.63127326912263</real>
					<key>srcPointY</key>
					<real>205.77063651234431</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>331.69140625</real>
			<key>y</key>
			<real>214</real>
		</dict>
		<key>SetStiffness</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>253.58042257771245</real>
					<key>controlPoint1Y</key>
					<real>112.86983592635494</real>
					<key>controlPoint2X</key>
					<real>279.12259225796589</real>
					<key>controlPoint2Y</key>
					<real>175.6818376373719</real>
					<key>dstPointX</key>
					<real>301.50685790670565</real>
					<key>dstPointY</key>
					<real>199.54942084054164</real>
					<key>srcPointX</key>
					<real>230.72751709329432</real>
					<key>srcPointY</key>
					<real>89.450579159458357</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>198.69140625</real>
			<key>y</key>
			<real>75</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>742.2939883231636</real>
					<key>controlPoint1Y</key>
					<real>329.7647638562201</real>
					<key>controlPoint2X</key>
					<real>826.62611960080596</real>
					<key>controlPoint2Y</key>
					<real>264.2232784098963</real>
					<key>dstPointX</key>
					<real>873.49314870651335</real>
					<key>dstPointY</key>
					<real>240.05469264762576</real>
					<key>srcPointX</key>
					<real>695.04591379348665</real>
					<key>srcPointY</key>
					<real>353.17968235237424</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>655.0390625</real>
			<key>y</key>
			<real>361.8828125</real>
		</dict>
		<key>Walk</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>784.64453125</real>
					<key>controlPoint1Y</key>
					<real>265.828125</real>
					<key>controlPoint2X</key>
					<real>646.63671875</real>
					<key>controlPoint2Y</key>
					<real>228.26171875</real>
					<key>dstPointX</key>
					<real>582.99660464996475</real>
					<key>dstPointY</key>
					<real>119.14494329292948</real>
					<key>srcPointX</key>
					<real>988.52292660003525</real>
					<key>srcPointY</key>
					<real>117.20271295707052</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1034.48046875</real>
			<key>y</key>
			<real>117.04296875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
