<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FindLine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>640.12474185229712</real>
					<key>controlPoint1Y</key>
					<real>122.97895974407318</real>
					<key>controlPoint2X</key>
					<real>752.87525814770288</real>
					<key>controlPoint2Y</key>
					<real>133.02104025592686</real>
					<key>dstPointX</key>
					<real>809.70648020702254</real>
					<key>dstPointY</key>
					<real>134.48237409803119</real>
					<key>srcPointX</key>
					<real>583.29351979297746</real>
					<key>srcPointY</key>
					<real>121.51762590196881</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>589.88151810201032</real>
					<key>controlPoint1Y</key>
					<real>184.79278856031038</real>
					<key>controlPoint2X</key>
					<real>603.4850459057285</real>
					<key>controlPoint2Y</key>
					<real>298.26546594253409</real>
					<key>dstPointX</key>
					<real>631.78664526969567</real>
					<key>dstPointY</key>
					<real>344.97319496833404</real>
					<key>srcPointX</key>
					<real>561.48288598030433</real>
					<key>srcPointY</key>
					<real>138.14399253166599</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>537.69140625</real>
			<key>y</key>
			<real>121</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>89.53917211536249</real>
					<key>controlPoint1Y</key>
					<real>69.011985459366301</real>
					<key>controlPoint2X</key>
					<real>132.78012961902391</real>
					<key>controlPoint2Y</key>
					<real>76.635163650872599</real>
					<key>dstPointX</key>
					<real>154.34315596708058</real>
					<key>dstPointY</key>
					<real>75.783711333907092</real>
					<key>srcPointX</key>
					<real>67.965437782919423</real>
					<key>srcPointY</key>
					<real>69.524882416092908</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>23</real>
			<key>y</key>
			<real>69.69140625</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>912.69140625</real>
			<key>y</key>
			<real>231</real>
		</dict>
		<key>SetHead</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>406.56248899063365</real>
					<key>controlPoint1Y</key>
					<real>190.87638051138671</real>
					<key>controlPoint2X</key>
					<real>464.13928471998315</real>
					<key>controlPoint2Y</key>
					<real>144.31097368168597</real>
					<key>dstPointX</key>
					<real>497.29450798087731</real>
					<key>dstPointY</key>
					<real>129.22936348765569</real>
					<key>srcPointX</key>
					<real>373.32267951912263</real>
					<key>srcPointY</key>
					<real>205.77063651234431</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>331.69140625</real>
			<key>y</key>
			<real>214</real>
		</dict>
		<key>SetStiffness</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>253.15715667424411</real>
					<key>controlPoint1Y</key>
					<real>112.98118946987879</real>
					<key>controlPoint2X</key>
					<real>278.69432777770402</real>
					<key>controlPoint2Y</key>
					<real>175.79463765812918</real>
					<key>dstPointX</key>
					<real>301.19826415670565</real>
					<key>dstPointY</key>
					<real>199.54942084054164</real>
					<key>srcPointX</key>
					<real>230.41892334329432</real>
					<key>srcPointY</key>
					<real>89.450579159458357</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>198.69140625</real>
			<key>y</key>
			<real>75</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>736.63518668323047</real>
					<key>controlPoint1Y</key>
					<real>321.40930020034182</real>
					<key>controlPoint2X</key>
					<real>831.87942088923887</real>
					<key>controlPoint2Y</key>
					<real>272.07240436867414</real>
					<key>dstPointX</key>
					<real>875.97109879099958</real>
					<key>dstPointY</key>
					<real>242.1635338463274</real>
					<key>srcPointX</key>
					<real>692.29843245900042</real>
					<key>srcPointY</key>
					<real>350.95365365367257</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>655.0390625</real>
			<key>y</key>
			<real>361.8828125</real>
		</dict>
		<key>Walk</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>752.87525814770288</real>
					<key>controlPoint1Y</key>
					<real>133.02104025592686</real>
					<key>controlPoint2X</key>
					<real>640.12474185229712</real>
					<key>controlPoint2Y</key>
					<real>122.97895974407318</real>
					<key>dstPointX</key>
					<real>583.29351979297746</real>
					<key>dstPointY</key>
					<real>121.51762590196881</real>
					<key>srcPointX</key>
					<real>809.70648020702254</real>
					<key>srcPointY</key>
					<real>134.48237409803119</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>855.30859375</real>
			<key>y</key>
			<real>135</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
