<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FindLine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>684.20930038108543</real>
					<key>controlPoint1Y</key>
					<real>112.97077104944978</real>
					<key>controlPoint2X</key>
					<real>886.66281498916646</real>
					<key>controlPoint2Y</key>
					<real>117.95261350087168</real>
					<key>dstPointX</key>
					<real>988.04245785003525</real>
					<key>dstPointY</key>
					<real>117.15974420707052</real>
					<key>srcPointX</key>
					<real>582.99660464996475</real>
					<key>srcPointY</key>
					<real>118.84025579292948</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>582.80485735879154</real>
					<key>controlPoint1Y</key>
					<real>186.25438119766341</real>
					<key>controlPoint2X</key>
					<real>610.60282142751532</real>
					<key>controlPoint2Y</key>
					<real>294.9181844683942</real>
					<key>dstPointX</key>
					<real>635.22990082159868</real>
					<key>dstPointY</key>
					<real>344.35972312870007</real>
					<key>srcPointX</key>
					<real>557.65291167840132</real>
					<key>srcPointY</key>
					<real>137.07777687129993</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>538</real>
			<key>y</key>
			<real>120.3046875</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>89.600165864247799</real>
					<key>controlPoint1Y</key>
					<real>73.108985802686107</real>
					<key>controlPoint2X</key>
					<real>133.27447002706575</real>
					<key>controlPoint2Y</key>
					<real>73.803501443320997</real>
					<key>dstPointX</key>
					<real>154.94392948551979</real>
					<key>dstPointY</key>
					<real>74.43204732620606</real>
					<key>srcPointX</key>
					<real>67.981851764480211</real>
					<key>srcPointY</key>
					<real>71.49373392379394</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>23</real>
			<key>y</key>
			<real>69.69140625</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>912.69140625</real>
			<key>y</key>
			<real>231</real>
		</dict>
		<key>SetHead</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>407.33666896472573</real>
					<key>controlPoint1Y</key>
					<real>191.02625378878486</real>
					<key>controlPoint2X</key>
					<real>463.10558719643353</real>
					<key>controlPoint2Y</key>
					<real>140.91186827987229</real>
					<key>dstPointX</key>
					<real>496.98591423087731</real>
					<key>dstPointY</key>
					<real>127.31530098765569</real>
					<key>srcPointX</key>
					<real>373.93986701912263</real>
					<key>srcPointY</key>
					<real>205.77063651234431</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>331.69140625</real>
			<key>y</key>
			<real>214</real>
		</dict>
		<key>SetStiffness</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>254.00206798510749</real>
					<key>controlPoint1Y</key>
					<real>112.75898299056576</real>
					<key>controlPoint2X</key>
					<real>279.55256907700021</real>
					<key>controlPoint2Y</key>
					<real>175.56857565452228</real>
					<key>dstPointX</key>
					<real>301.81545165670565</real>
					<key>dstPointY</key>
					<real>199.54942084054164</real>
					<key>srcPointX</key>
					<real>231.03611084329432</real>
					<key>srcPointY</key>
					<real>89.450579159458357</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>198.69140625</real>
			<key>y</key>
			<real>75</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>742.44944718777697</real>
					<key>controlPoint1Y</key>
					<real>330.07527367987052</real>
					<key>controlPoint2X</key>
					<real>826.933284321884</real>
					<key>controlPoint2Y</key>
					<real>264.41429170159762</real>
					<key>dstPointX</key>
					<real>873.80174245651335</real>
					<key>dstPointY</key>
					<real>240.05469264762576</real>
					<key>srcPointX</key>
					<real>695.00685129348665</real>
					<key>srcPointY</key>
					<real>353.29686985237424</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>655.0390625</real>
			<key>y</key>
			<real>361.8828125</real>
		</dict>
		<key>Walk</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>886.66281498916646</real>
					<key>controlPoint1Y</key>
					<real>117.95261350087168</real>
					<key>controlPoint2X</key>
					<real>684.20930038108543</real>
					<key>controlPoint2Y</key>
					<real>112.97077104944978</real>
					<key>dstPointX</key>
					<real>582.99660464996475</real>
					<key>dstPointY</key>
					<real>118.84025579292948</real>
					<key>srcPointX</key>
					<real>988.04245785003525</real>
					<key>srcPointY</key>
					<real>117.15974420707052</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1034.48046875</real>
			<key>y</key>
			<real>117.04296875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
