<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>CallFindGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1121.6575032368532</real>
					<key>controlPoint1Y</key>
					<real>191.4352305935117</real>
					<key>controlPoint2X</key>
					<real>858.34179484986066</real>
					<key>controlPoint2Y</key>
					<real>216.07216394810806</real>
					<key>dstPointX</key>
					<real>745.99028991860655</real>
					<key>dstPointY</key>
					<real>260.90729941441919</real>
					<key>srcPointX</key>
					<real>1203.566093675639</real>
					<key>srcPointY</key>
					<real>102.41819376947825</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>150</real>
			<key>x</key>
			<real>1249.703125</real>
			<key>y</key>
			<real>88</real>
		</dict>
		<key>CheckHowFarIsTheGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>760.26195752967135</real>
					<key>controlPoint1Y</key>
					<real>521.4925827453369</real>
					<key>controlPoint2X</key>
					<real>840.51218249640078</real>
					<key>controlPoint2Y</key>
					<real>495.13438375063089</real>
					<key>dstPointX</key>
					<real>881.76865782825098</real>
					<key>dstPointY</key>
					<real>485.6307728742172</real>
					<key>srcPointX</key>
					<real>718.93088040183477</real>
					<key>srcPointY</key>
					<real>530.6663191679005</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>762.69710559245732</real>
					<key>controlPoint1Y</key>
					<real>568.6169619696534</real>
					<key>controlPoint2X</key>
					<real>850.92023575220821</real>
					<key>controlPoint2Y</key>
					<real>644.96333716365564</real>
					<key>dstPointX</key>
					<real>904.50533152729054</real>
					<key>dstPointY</key>
					<real>644.65291734034861</real>
					<key>srcPointX</key>
					<real>715.02971979501979</real>
					<key>srcPointY</key>
					<real>544.1367826212562</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>675</real>
			<key>y</key>
			<real>535</real>
		</dict>
		<key>DetermineOurHalf</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>227.04554087811664</real>
					<key>controlPoint1Y</key>
					<real>149.04142709585608</real>
					<key>controlPoint2X</key>
					<real>283.43216432858424</real>
					<key>controlPoint2Y</key>
					<real>99.958572904143892</real>
					<key>dstPointX</key>
					<real>317.60145252673016</real>
					<key>dstPointY</key>
					<real>89.071621194177979</real>
					<key>srcPointX</key>
					<real>192.87625267997069</real>
					<key>srcPointY</key>
					<real>159.92837880582201</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>197.4782815139327</real>
					<key>controlPoint1Y</key>
					<real>266.26835114345073</real>
					<key>controlPoint2X</key>
					<real>249.33130096677732</real>
					<key>controlPoint2Y</key>
					<real>433.0032112743927</real>
					<key>dstPointX</key>
					<real>276.41645588096191</real>
					<key>dstPointY</key>
					<real>516.1118123146905</real>
					<key>srcPointX</key>
					<real>166.13556389713727</real>
					<key>srcPointY</key>
					<real>184.67007152926658</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>150</real>
			<key>y</key>
			<real>166</real>
		</dict>
		<key>DirectlyLookingAtAGoal</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>225</real>
			<key>x</key>
			<real>672.5</real>
			<key>y</key>
			<real>430</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>127.16990566028304</real>
					<key>controlPoint1Y</key>
					<real>98.09591180826456</real>
					<key>controlPoint2X</key>
					<real>115.55006889979332</real>
					<key>controlPoint2Y</key>
					<real>132.08006783979647</real>
					<key>dstPointX</key>
					<real>126.15004769985691</real>
					<key>dstPointY</key>
					<real>149.04003391989824</real>
					<key>srcPointX</key>
					<real>116.56992686021943</real>
					<key>srcPointY</key>
					<real>81.13594572816281</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>74</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>148</real>
			<key>x</key>
			<real>80</real>
			<key>y</key>
			<real>54</real>
		</dict>
		<key>OurHalfFacingUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>475.44081154325181</real>
					<key>controlPoint1Y</key>
					<real>316.78039646526742</real>
					<key>controlPoint2X</key>
					<real>529.76010962655198</real>
					<key>controlPoint2Y</key>
					<real>404.26032091197214</real>
					<key>dstPointX</key>
					<real>573.23042887540373</real>
					<key>dstPointY</key>
					<real>422.32504075479812</real>
					<key>srcPointX</key>
					<real>432.96539556981116</real>
					<key>srcPointY</key>
					<real>296.48651077326497</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>392.91796875</real>
			<key>y</key>
			<real>288.3046875</real>
		</dict>
		<key>ReadHeadingAgain</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>611.4787772493662</real>
					<key>controlPoint1Y</key>
					<real>233.57914474035894</real>
					<key>controlPoint2X</key>
					<real>527.24465582299069</real>
					<key>controlPoint2Y</key>
					<real>138.53791803912981</real>
					<key>dstPointX</key>
					<real>482.00229037024314</real>
					<key>dstPointY</key>
					<real>96.596878586465039</real>
					<key>srcPointX</key>
					<real>667.28041740812853</real>
					<key>srcPointY</key>
					<real>259.88692643555237</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>706</real>
			<key>y</key>
			<real>267.703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>90.5</real>
			<key>y</key>
			<real>366</real>
		</dict>
		<key>SpinAround</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>868.37204575051203</real>
					<key>controlPoint1Y</key>
					<real>86.746620687636167</real>
					<key>controlPoint2X</key>
					<real>1077.5327474304347</real>
					<key>controlPoint2Y</key>
					<real>83.017419775962068</real>
					<key>dstPointX</key>
					<real>1181.8350500636275</real>
					<key>dstPointY</key>
					<real>87.216021946318378</real>
					<key>srcPointX</key>
					<real>763.99556337504191</real>
					<key>srcPointY</key>
					<real>85.280837042538749</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>719</real>
			<key>y</key>
			<real>85</real>
		</dict>
		<key>StartFindingOponentGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>548.99811001465559</real>
					<key>controlPoint1Y</key>
					<real>83.53560702225694</real>
					<key>controlPoint2X</key>
					<real>630.99656298578714</real>
					<key>controlPoint2Y</key>
					<real>84.968669444379685</real>
					<key>dstPointX</key>
					<real>672.00000628949329</real>
					<key>dstPointY</key>
					<real>84.989425823620238</real>
					<key>srcPointX</key>
					<real>507.99624191376506</real>
					<key>srcPointY</key>
					<real>83.175598932494523</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>397.46338331901677</real>
					<key>controlPoint1Y</key>
					<real>143.75174691666084</real>
					<key>controlPoint2X</key>
					<real>392.86643280010298</real>
					<key>controlPoint2Y</key>
					<real>225.4551700618938</real>
					<key>dstPointX</key>
					<real>392.92768945268443</real>
					<key>dstPointY</key>
					<real>266.47771203530993</real>
					<key>srcPointX</key>
					<real>401.32409484678016</real>
					<key>srcPointY</key>
					<real>102.91123260993878</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>205</real>
			<key>x</key>
			<real>410.5</real>
			<key>y</key>
			<real>83</real>
		</dict>
		<key>StartFindingOurGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>409.07086256523695</real>
					<key>controlPoint1Y</key>
					<real>533.42092105537893</real>
					<key>controlPoint2X</key>
					<real>557.59109944117802</real>
					<key>controlPoint2Y</key>
					<real>551.09531715023923</real>
					<key>dstPointX</key>
					<real>630.12196613692413</real>
					<key>dstPointY</key>
					<real>538.47151230411407</real>
					<key>srcPointX</key>
					<real>335.47769711823059</real>
					<key>srcPointY</key>
					<real>535.4539168543663</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>291.171875</real>
			<key>y</key>
			<real>536.296875</real>
		</dict>
		<key>StopWalkAllTheWay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>296.38491432510574</real>
					<key>controlPoint1Y</key>
					<real>620.38277593042312</real>
					<key>controlPoint2X</key>
					<real>-32.63788444940073</real>
					<key>controlPoint2Y</key>
					<real>249.70138623821992</real>
					<key>dstPointX</key>
					<real>110.10132559020363</real>
					<key>dstPointY</key>
					<real>175.24931261073351</real>
					<key>srcPointX</key>
					<real>359.92716322441885</real>
					<key>srcPointY</key>
					<real>768.30159134949236</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>378.3828125</real>
			<key>y</key>
			<real>787.30859375</real>
		</dict>
		<key>TooCloseSpinAround</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>514.21669716653969</real>
					<key>controlPoint1Y</key>
					<real>673.43773341243821</real>
					<key>controlPoint2X</key>
					<real>334.29581100984535</real>
					<key>controlPoint2Y</key>
					<real>628.36178948640054</real>
					<key>dstPointX</key>
					<real>306.16728926548473</real>
					<key>dstPointY</key>
					<real>553.85548215218694</real>
					<key>srcPointX</key>
					<real>588.57958440814048</real>
					<key>srcPointY</key>
					<real>701.94325163604231</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>630.19140625</real>
			<key>y</key>
			<real>708.5546875</real>
		</dict>
		<key>WalkAllTheWay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1082.1769765642266</real>
					<key>controlPoint1Y</key>
					<real>642.81826824780148</real>
					<key>controlPoint2X</key>
					<real>923.0046264720761</real>
					<key>controlPoint2Y</key>
					<real>800.66370881905073</real>
					<key>dstPointX</key>
					<real>831.11066290839813</real>
					<key>dstPointY</key>
					<real>863.68804894191146</real>
					<key>srcPointX</key>
					<real>1172.0947965898615</real>
					<key>srcPointY</key>
					<real>577.00524803749545</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1209.3046875</real>
			<key>y</key>
			<real>565</real>
		</dict>
		<key>checkDistance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>517.41250557709748</real>
					<key>controlPoint1Y</key>
					<real>802.47786516316603</real>
					<key>controlPoint2X</key>
					<real>452.47017177931309</real>
					<key>controlPoint2Y</key>
					<real>799.61394587364839</real>
					<key>dstPointX</key>
					<real>421.1318677630523</real>
					<key>dstPointY</key>
					<real>791.78747302872262</real>
					<key>srcPointX</key>
					<real>549.64057014054947</real>
					<key>srcPointY</key>
					<real>804.64462087203515</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>594.67201893602453</real>
					<key>controlPoint1Y</key>
					<real>846.06194915905201</real>
					<key>controlPoint2X</key>
					<real>593.87706357239551</real>
					<key>controlPoint2Y</key>
					<real>868.11847400762213</real>
					<key>dstPointX</key>
					<real>594.53247640976554</real>
					<key>dstPointY</key>
					<real>888.10773197315473</real>
					<key>srcPointX</key>
					<real>594.77271847687359</real>
					<key>srcPointY</key>
					<real>826.06220267059689</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>679.28237987920602</real>
					<key>controlPoint1Y</key>
					<real>819.77647456633565</real>
					<key>controlPoint2X</key>
					<real>806.33231365871245</real>
					<key>controlPoint2Y</key>
					<real>813.73153026926559</real>
					<key>dstPointX</key>
					<real>800.38649217069201</real>
					<key>dstPointY</key>
					<real>855.20244325959345</real>
					<key>srcPointX</key>
					<real>638.44494579120385</real>
					<key>srcPointY</key>
					<real>810.42268418345702</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>595.47265625</real>
			<key>y</key>
			<real>805.9375</real>
		</dict>
		<key>checkDistanceRightPost</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>513.28530932003457</real>
					<key>controlPoint1Y</key>
					<real>880.9138781539591</real>
					<key>controlPoint2X</key>
					<real>416.28108906699265</real>
					<key>controlPoint2Y</key>
					<real>846.46293099850573</real>
					<key>dstPointX</key>
					<real>396.75676808857514</real>
					<key>dstPointY</key>
					<real>804.79222925778606</real>
					<key>srcPointX</key>
					<real>555.2354603137137</real>
					<key>srcPointY</key>
					<real>899.83030817761346</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>684.91700757147453</real>
					<key>controlPoint1Y</key>
					<real>905.45067073757332</real>
					<key>controlPoint2X</key>
					<real>836.37839249368039</real>
					<key>controlPoint2Y</key>
					<real>931.04695730424396</real>
					<key>dstPointX</key>
					<real>815.47984370731467</real>
					<key>dstPointY</key>
					<real>892.57448382851908</real>
					<key>srcPointX</key>
					<real>641.16969890542498</real>
					<key>srcPointY</key>
					<real>907.19810920397333</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>595.78515625</real>
			<key>y</key>
			<real>907.90625</real>
		</dict>
		<key>leftVisible</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>830.41659885937702</real>
					<key>controlPoint1Y</key>
					<real>541.90104829313645</real>
					<key>controlPoint2X</key>
					<real>715.48473166381882</real>
					<key>controlPoint2Y</key>
					<real>642.7932401307429</real>
					<key>dstPointX</key>
					<real>660.53742023134589</real>
					<key>dstPointY</key>
					<real>695.88591519307954</real>
					<key>srcPointX</key>
					<real>890.06066812999143</real>
					<key>srcPointY</key>
					<real>494.14516719170359</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1019.2250284795349</real>
					<key>controlPoint1Y</key>
					<real>503.31320396397109</real>
					<key>controlPoint2X</key>
					<real>1115.9051061978132</real>
					<key>controlPoint2Y</key>
					<real>542.33541316666401</real>
					<key>dstPointX</key>
					<real>1165.4300780711933</real>
					<key>dstPointY</key>
					<real>558.62911473655515</real>
					<key>srcPointX</key>
					<real>969.6501880053155</real>
					<key>srcPointY</key>
					<real>487.17186753034662</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>927.3046875</real>
			<key>y</key>
			<real>480.61328125</real>
		</dict>
		<key>readDistance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>722.76119748723806</real>
					<key>controlPoint1Y</key>
					<real>855.47237174633574</real>
					<key>controlPoint2X</key>
					<real>670.33225990509004</real>
					<key>controlPoint2Y</key>
					<real>812.75504491823335</real>
					<key>dstPointX</key>
					<real>638.71681848505159</real>
					<key>dstPointY</key>
					<real>808.57122383212527</real>
					<key>srcPointX</key>
					<real>752.30795415554007</real>
					<key>srcPointY</key>
					<real>867.47360774304047</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>721.9712231609725</real>
					<key>controlPoint1Y</key>
					<real>883.14716997116557</real>
					<key>controlPoint2X</key>
					<real>668.58920335494122</real>
					<key>controlPoint2Y</key>
					<real>901.45388892405776</real>
					<key>dstPointX</key>
					<real>640.7643376666723</real>
					<key>dstPointY</key>
					<real>905.27082474134068</real>
					<key>srcPointX</key>
					<real>749.65060848973474</real>
					<key>srcPointY</key>
					<real>878.38862214379594</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>794</real>
			<key>y</key>
			<real>875</real>
		</dict>
		<key>rightVisible</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>846.41343343399797</real>
					<key>controlPoint1Y</key>
					<real>668.82465790585047</real>
					<key>controlPoint2X</key>
					<real>733.19077124906607</real>
					<key>controlPoint2Y</key>
					<real>710.57196997628751</real>
					<key>dstPointX</key>
					<real>674.37592644482959</real>
					<key>dstPointY</key>
					<real>709.39475915122921</real>
					<key>srcPointX</key>
					<real>902.91081415226427</real>
					<key>srcPointY</key>
					<real>652.43509517073369</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1037.0549190374352</real>
					<key>controlPoint1Y</key>
					<real>621.7993671310503</real>
					<key>controlPoint2X</key>
					<real>1121.6124626775736</real>
					<key>controlPoint2Y</key>
					<real>585.48483212303995</real>
					<key>dstPointX</key>
					<real>1165.3696269500058</real>
					<key>dstPointY</key>
					<real>571.2903698766039</real>
					<key>srcPointX</key>
					<real>993.25823118125868</real>
					<key>srcPointY</key>
					<real>635.8714073690104</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>67</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>105</real>
			<key>x</key>
			<real>948.5</real>
			<key>y</key>
			<real>644.1953125</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
