<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>CallFindGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1120.1209411704976</real>
					<key>controlPoint1Y</key>
					<real>190.44875620347881</real>
					<key>controlPoint2X</key>
					<real>856.07875496121062</real>
					<key>controlPoint2Y</key>
					<real>210.56811732114343</real>
					<key>dstPointX</key>
					<real>745.99028991860655</real>
					<key>dstPointY</key>
					<real>260.01667441441919</real>
					<key>srcPointX</key>
					<real>1202.675468675639</real>
					<key>srcPointY</key>
					<real>102.41819376947825</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>150</real>
			<key>x</key>
			<real>1249.703125</real>
			<key>y</key>
			<real>88</real>
		</dict>
		<key>DetermineOurHalf</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>227.04554087811664</real>
					<key>controlPoint1Y</key>
					<real>149.04142709585608</real>
					<key>controlPoint2X</key>
					<real>283.43216432858424</real>
					<key>controlPoint2Y</key>
					<real>99.958572904143892</real>
					<key>dstPointX</key>
					<real>317.60145252673016</real>
					<key>dstPointY</key>
					<real>89.071621194177979</real>
					<key>srcPointX</key>
					<real>192.87625267997069</real>
					<key>srcPointY</key>
					<real>159.92837880582201</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>150</real>
			<key>y</key>
			<real>166</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>127.16990566028304</real>
					<key>controlPoint1Y</key>
					<real>98.09591180826456</real>
					<key>controlPoint2X</key>
					<real>115.55006889979332</real>
					<key>controlPoint2Y</key>
					<real>132.08006783979647</real>
					<key>dstPointX</key>
					<real>126.15004769985691</real>
					<key>dstPointY</key>
					<real>149.04003391989824</real>
					<key>srcPointX</key>
					<real>116.56992686021943</real>
					<key>srcPointY</key>
					<real>81.13594572816281</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>74</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>148</real>
			<key>x</key>
			<real>80</real>
			<key>y</key>
			<real>54</real>
		</dict>
		<key>OurHalfFacingUp</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>392.91796875</real>
			<key>y</key>
			<real>288.3046875</real>
		</dict>
		<key>ReadHeadingAgain</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>612.74811375227637</real>
					<key>controlPoint1Y</key>
					<real>230.46466756014198</real>
					<key>controlPoint2X</key>
					<real>527.13696996078181</real>
					<key>controlPoint2Y</key>
					<real>138.43808999189571</real>
					<key>dstPointX</key>
					<real>482.00229037024314</real>
					<key>dstPointY</key>
					<real>96.596878586465039</real>
					<key>srcPointX</key>
					<real>667.28041740812853</real>
					<key>srcPointY</key>
					<real>258.99630143555237</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>706</real>
			<key>y</key>
			<real>267.703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>90.5</real>
			<key>y</key>
			<real>366</real>
		</dict>
		<key>SpinAround</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>868.14941384877727</real>
					<key>controlPoint1Y</key>
					<real>86.743494215149141</real>
					<key>controlPoint2X</key>
					<real>1076.8624384388986</real>
					<key>controlPoint2Y</key>
					<real>83.08032433169501</real>
					<key>dstPointX</key>
					<real>1180.9444250636275</real>
					<key>dstPointY</key>
					<real>87.216021946318378</real>
					<key>srcPointX</key>
					<real>763.99556337504191</real>
					<key>srcPointY</key>
					<real>85.280837042538749</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>719</real>
			<key>y</key>
			<real>85</real>
		</dict>
		<key>StartFindingOponentGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>548.99811001465559</real>
					<key>controlPoint1Y</key>
					<real>83.53560702225694</real>
					<key>controlPoint2X</key>
					<real>630.99656298578714</real>
					<key>controlPoint2Y</key>
					<real>84.968669444379685</real>
					<key>dstPointX</key>
					<real>672.00000628949329</real>
					<key>dstPointY</key>
					<real>84.989425823620238</real>
					<key>srcPointX</key>
					<real>507.99624191376506</real>
					<key>srcPointY</key>
					<real>83.175598932494523</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>397.44160403829937</real>
					<key>controlPoint1Y</key>
					<real>143.98213891029533</real>
					<key>controlPoint2X</key>
					<real>392.39831844960145</real>
					<key>controlPoint2Y</key>
					<real>226.1387403049834</real>
					<key>dstPointX</key>
					<real>392.68159570268443</real>
					<key>dstPointY</key>
					<real>267.39177453530993</real>
					<key>srcPointX</key>
					<real>401.32409484678016</real>
					<key>srcPointY</key>
					<real>102.91123260993878</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>205</real>
			<key>x</key>
			<real>410.5</real>
			<key>y</key>
			<real>83</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
