<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>AvoidGoal</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>802.2002046943385</real>
		    <key>controlPoint1Y</key>
		    <real>399.6054720697164</real>
		    <key>controlPoint2X</key>
		    <real>809.7997953056615</real>
		    <key>controlPoint2Y</key>
		    <real>355.3945279302836</real>
		    <key>dstPointX</key>
		    <real>823.9813279278803</real>
		    <key>dstPointY</key>
		    <real>340.4894477252985</real>
		    <key>srcPointX</key>
		    <real>788.0186720721197</real>
		    <key>srcPointY</key>
		    <real>414.5105522747015</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>715.4901385127566</real>
		    <key>controlPoint1Y</key>
		    <real>405.1678080424203</real>
		    <key>controlPoint2X</key>
		    <real>706.5098614872434</real>
		    <key>controlPoint2Y</key>
		    <real>360.8321919575797</real>
		    <key>dstPointX</key>
		    <real>686.8198051533947</real>
		    <key>dstPointY</key>
		    <real>341.142135623731</real>
		    <key>srcPointX</key>
		    <real>725.1801948466053</real>
		    <key>srcPointY</key>
		    <real>414.857864376269</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>757</real>
	    <key>y</key>
	    <real>429</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>CheckGoal</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>387.8112489113756</real>
		    <key>controlPoint1Y</key>
		    <real>517.050888525131</real>
		    <key>controlPoint2X</key>
		    <real>370.1887510886245</real>
		    <key>controlPoint2Y</key>
		    <real>337.9491114748689</real>
		    <key>dstPointX</key>
		    <real>358.0650576639134</real>
		    <key>dstPointY</key>
		    <real>248.8175135191242</real>
		    <key>srcPointX</key>
		    <real>399.9349423360866</real>
		    <key>srcPointY</key>
		    <real>606.1824864808757</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>368.7044785481781</real>
		    <key>controlPoint1Y</key>
		    <real>673.834163582191</real>
		    <key>controlPoint2X</key>
		    <real>354.2955214518219</real>
		    <key>controlPoint2Y</key>
		    <real>737.165836417809</real>
		    <key>dstPointX</key>
		    <real>331.9034288794109</real>
		    <key>dstPointY</key>
		    <real>758.3418141278014</real>
		    <key>srcPointX</key>
		    <real>381.0965711205891</real>
		    <key>srcPointY</key>
		    <real>642.6581858721986</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>406</real>
	    <key>y</key>
	    <real>626</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>DecideHeading</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>757</real>
		    <key>controlPoint1Y</key>
		    <real>531.3332587771489</real>
		    <key>controlPoint2X</key>
		    <real>526.9743545254734</real>
		    <key>controlPoint2Y</key>
		    <real>615.7017901059843</real>
		    <key>dstPointX</key>
		    <real>450.7439119263914</real>
		    <key>dstPointY</key>
		    <real>623.8693375273147</real>
		    <key>srcPointX</key>
		    <real>757</real>
		    <key>srcPointY</key>
		    <real>608</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>651.410231142397</real>
		    <key>controlPoint1Y</key>
		    <real>633</real>
		    <key>controlPoint2X</key>
		    <real>518.2878348500093</real>
		    <key>controlPoint2Y</key>
		    <real>651.7585680865941</real>
		    <key>dstPointX</key>
		    <real>449.6564125065399</real>
		    <key>dstPointY</key>
		    <real>630.8507125007267</real>
		    <key>srcPointX</key>
		    <real>712</real>
		    <key>srcPointY</key>
		    <real>628</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>757</real>
	    <key>y</key>
	    <real>628</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>DisconnectWalk</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>161.7449821920116</real>
		    <key>controlPoint1Y</key>
		    <real>413.7143171980385</real>
		    <key>controlPoint2X</key>
		    <real>261.2550178079884</real>
		    <key>controlPoint2Y</key>
		    <real>294.2856828019615</real>
		    <key>dstPointX</key>
		    <real>318.6218023101486</real>
		    <key>dstPointY</key>
		    <real>242.4138010298934</real>
		    <key>srcPointX</key>
		    <real>104.3781976898514</real>
		    <key>srcPointY</key>
		    <real>465.5861989701066</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>71</real>
	    <key>y</key>
	    <real>479</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Dummy_Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1384</real>
		    <key>controlPoint1Y</key>
		    <real>625</real>
		    <key>controlPoint2X</key>
		    <real>1368.999389676376</real>
		    <key>controlPoint2Y</key>
		    <real>624.7265672681533</real>
		    <key>dstPointX</key>
		    <real>1349</real>
		    <key>dstPointY</key>
		    <real>624.8828125</real>
		    <key>srcPointX</key>
		    <real>1404</real>
		    <key>srcPointY</key>
		    <real>625</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1449</real>
	    <key>y</key>
	    <real>625</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>ExtraDelay</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1054.525878824224</real>
		    <key>controlPoint1Y</key>
		    <real>123.0292535995867</real>
		    <key>controlPoint2X</key>
		    <real>1152.785767497519</real>
		    <key>controlPoint2Y</key>
		    <real>198.1485710032916</real>
		    <key>dstPointX</key>
		    <real>1206.603390367273</real>
		    <key>dstPointY</key>
		    <real>217.2959935818678</real>
		    <key>srcPointX</key>
		    <real>997.449016724098</real>
		    <key>srcPointY</key>
		    <real>125.3078794040595</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>950.515625</real>
	    <key>y</key>
	    <real>126.140625</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Give_Up</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1195.170597431996</real>
		    <key>controlPoint1Y</key>
		    <real>330.8707953533722</real>
		    <key>controlPoint2X</key>
		    <real>1208.154836508253</real>
		    <key>controlPoint2Y</key>
		    <real>267.371886519167</real>
		    <key>dstPointX</key>
		    <real>1224.922656346705</real>
		    <key>dstPointY</key>
		    <real>240.8963815110846</real>
		    <key>srcPointX</key>
		    <real>1178.206249903295</real>
		    <key>srcPointY</key>
		    <real>357.2208059889154</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1153.95703125</real>
	    <key>y</key>
	    <real>373.9609375</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>KickGoal</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>424.1917334800112</real>
		    <key>controlPoint1Y</key>
		    <real>216.6410154590102</real>
		    <key>controlPoint2X</key>
		    <real>477.8082665199888</real>
		    <key>controlPoint2Y</key>
		    <real>190.35898454099</real>
		    <key>dstPointX</key>
		    <real>506.4223717047797</real>
		    <key>dstPointY</key>
		    <real>182.988684720665</real>
		    <key>srcPointX</key>
		    <real>395.5776282952203</real>
		    <key>srcPointY</key>
		    <real>224.0113152793351</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>429.9154261419144</real>
		    <key>controlPoint1Y</key>
		    <real>245.3576502253529</real>
		    <key>controlPoint2X</key>
		    <real>485.0845738580855</real>
		    <key>controlPoint2Y</key>
		    <real>269.6423497746472</real>
		    <key>dstPointX</key>
		    <real>509.1819744665258</real>
		    <key>dstPointY</key>
		    <real>271.4462195686605</real>
		    <key>srcPointX</key>
		    <real>395.8180255334742</real>
		    <key>srcPointY</key>
		    <real>233.5537804313395</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>433.2767296866233</real>
		    <key>controlPoint1Y</key>
		    <real>198.6129472692235</real>
		    <key>controlPoint2X</key>
		    <real>488.7232703133767</real>
		    <key>controlPoint2Y</key>
		    <real>124.3870527307766</real>
		    <key>dstPointX</key>
		    <real>514.5660516818123</real>
		    <key>dstPointY</key>
		    <real>86.32830974033466</real>
		    <key>srcPointX</key>
		    <real>387.4339483181877</real>
		    <key>srcPointY</key>
		    <real>216.6716902596654</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>352</real>
	    <key>y</key>
	    <real>229</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>KickLeft</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>622.6676670164391</real>
		    <key>controlPoint1Y</key>
		    <real>189.3577010774631</real>
		    <key>controlPoint2X</key>
		    <real>677.3323329835609</real>
		    <key>controlPoint2Y</key>
		    <real>213.6422989225369</real>
		    <key>dstPointX</key>
		    <real>706.1933565594893</real>
		    <key>dstPointY</key>
		    <real>220.42463946288</real>
		    <key>srcPointX</key>
		    <real>593.8066434405107</real>
		    <key>srcPointY</key>
		    <real>182.57536053712</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>550</real>
	    <key>y</key>
	    <real>178</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>KickRight</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>624.944272045303</real>
		    <key>controlPoint1Y</key>
		    <real>263.640359601504</real>
		    <key>controlPoint2X</key>
		    <real>678.055727954697</real>
		    <key>controlPoint2Y</key>
		    <real>237.3596403984961</real>
		    <key>dstPointX</key>
		    <real>706.4361629715273</real>
		    <key>dstPointY</key>
		    <real>230.012421180941</real>
		    <key>srcPointX</key>
		    <real>596.5638370284727</real>
		    <key>srcPointY</key>
		    <real>270.987578819059</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>553</real>
	    <key>y</key>
	    <real>276</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>LostBall</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>723.4791353168667</real>
		    <key>controlPoint1Y</key>
		    <real>149.0441448187757</real>
		    <key>controlPoint2X</key>
		    <real>980.2987944182001</real>
		    <key>controlPoint2Y</key>
		    <real>299.784431893018</real>
		    <key>dstPointX</key>
		    <real>1113.826443502883</real>
		    <key>dstPointY</key>
		    <real>365.2203966065967</real>
		    <key>srcPointX</key>
		    <real>590.3024627471167</real>
		    <key>srcPointY</key>
		    <real>82.89679089340324</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>550</real>
	    <key>y</key>
	    <real>74</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>PassLeft</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>699.3248166474802</real>
		    <key>controlPoint1Y</key>
		    <real>297.7034088337378</real>
		    <key>controlPoint2X</key>
		    <real>705.6751833525199</real>
		    <key>controlPoint2Y</key>
		    <real>254.2965911662624</real>
		    <key>dstPointX</key>
		    <real>719.3302034603283</real>
		    <key>dstPointY</key>
		    <real>239.635411682089</real>
		    <key>srcPointX</key>
		    <real>685.6697965396717</real>
		    <key>srcPointY</key>
		    <real>312.3645883179111</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>655</real>
	    <key>y</key>
	    <real>327</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>PassRight</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>807.5160048360937</real>
		    <key>controlPoint1Y</key>
		    <real>297.6560658025018</real>
		    <key>controlPoint2X</key>
		    <real>797.4839951639063</real>
		    <key>controlPoint2Y</key>
		    <real>253.3439341974984</real>
		    <key>dstPointX</key>
		    <real>782.4315520541683</real>
		    <key>dstPointY</key>
		    <real>238.8649174919408</real>
		    <key>srcPointX</key>
		    <real>822.5684479458317</real>
		    <key>srcPointY</key>
		    <real>312.1350825080593</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>855</real>
	    <key>y</key>
	    <real>326</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1447.04296875</real>
	    <key>y</key>
	    <real>225</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Stop</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>128.6002805344281</real>
		    <key>controlPoint1Y</key>
		    <real>577.1451436138998</real>
		    <key>controlPoint2X</key>
		    <real>98.01608158037624</real>
		    <key>controlPoint2Y</key>
		    <real>525.4078835778325</real>
		    <key>dstPointX</key>
		    <real>87.25944804913914</real>
		    <key>dstPointY</key>
		    <real>497.6488293036722</real>
		    <key>srcPointX</key>
		    <real>137.9007082008608</real>
		    <key>srcPointY</key>
		    <real>605.4253894463279</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>152.61328125</real>
	    <key>y</key>
	    <real>625.30859375</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Stop_Walk</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1217.533187268731</real>
		    <key>controlPoint1Y</key>
		    <real>624.0786169759022</real>
		    <key>controlPoint2X</key>
		    <real>1134.587805249306</real>
		    <key>controlPoint2Y</key>
		    <real>623.479124020241</real>
		    <key>dstPointX</key>
		    <real>1093.115814271846</real>
		    <key>dstPointY</key>
		    <real>623.1562452318467</real>
		    <key>srcPointX</key>
		    <real>1259.001373228154</real>
		    <key>srcPointY</key>
		    <real>624.7265672681533</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1255.342789323018</real>
		    <key>controlPoint1Y</key>
		    <real>561.0907274145923</real>
		    <key>controlPoint2X</key>
		    <real>1212.954153291088</real>
		    <key>controlPoint2Y</key>
		    <real>447.8093880458332</real>
		    <key>dstPointX</key>
		    <real>1177.213284175949</real>
		    <key>dstPointY</key>
		    <real>391.2851248612239</real>
		    <key>srcPointX</key>
		    <real>1280.915622074051</real>
		    <key>srcPointY</key>
		    <real>607.7148751387761</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1304</real>
	    <key>y</key>
	    <real>625.0390625</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>TurnToGoal</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>247.6386862674127</real>
		    <key>controlPoint1Y</key>
		    <real>734.6240972489578</real>
		    <key>controlPoint2X</key>
		    <real>215.2875075290372</real>
		    <key>controlPoint2Y</key>
		    <real>662.5064753632445</real>
		    <key>dstPointX</key>
		    <real>186.3958526847315</real>
		    <key>dstPointY</key>
		    <real>638.0290656914422</real>
		    <key>srcPointX</key>
		    <real>274.7643035652685</real>
		    <key>srcPointY</key>
		    <real>761.0451530585577</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>307</real>
	    <key>y</key>
	    <real>775</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Wait</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>873.6419459166718</real>
		    <key>controlPoint1Y</key>
		    <real>261.9499136713703</real>
		    <key>controlPoint2X</key>
		    <real>1030.306886865484</real>
		    <key>controlPoint2Y</key>
		    <real>337.6601108157459</real>
		    <key>dstPointX</key>
		    <real>1111.9088211961</real>
		    <key>dstPointY</key>
		    <real>367.1966235032663</real>
		    <key>srcPointX</key>
		    <real>792.2200850538993</real>
		    <key>srcPointY</key>
		    <real>231.9205639967338</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>828.2516982069762</real>
		    <key>controlPoint1Y</key>
		    <real>204.9670509244692</real>
		    <key>controlPoint2X</key>
		    <real>884.096203696558</real>
		    <key>controlPoint2Y</key>
		    <real>155.3956650035839</real>
		    <key>dstPointX</key>
		    <real>912.0841184852916</real>
		    <key>dstPointY</key>
		    <real>134.415121450981</real>
		    <key>srcPointX</key>
		    <real>790.3690065147085</real>
		    <key>srcPointY</key>
		    <real>216.163003549019</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>750</real>
	    <key>y</key>
	    <real>225</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>WalkConnect</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1320.96788040627</real>
		    <key>controlPoint1Y</key>
		    <real>224.2372131275011</real>
		    <key>controlPoint2X</key>
		    <real>1374.903210731342</real>
		    <key>controlPoint2Y</key>
		    <real>224.7633051113434</real>
		    <key>dstPointX</key>
		    <real>1401.871667660049</real>
		    <key>dstPointY</key>
		    <real>224.8989911872279</real>
		    <key>srcPointX</key>
		    <real>1293.999426089951</real>
		    <key>srcPointY</key>
		    <real>224.1010088127721</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1249</real>
	    <key>y</key>
	    <real>224</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Walk_Disconnect</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>952.8371268386599</real>
		    <key>controlPoint1Y</key>
		    <real>624.2106355860054</real>
		    <key>controlPoint2X</key>
		    <real>852.2801124717762</real>
		    <key>controlPoint2Y</key>
		    <real>626.7923745365116</real>
		    <key>dstPointX</key>
		    <real>801.9933588941756</real>
		    <key>dstPointY</key>
		    <real>627.6564081031372</real>
		    <key>srcPointX</key>
		    <real>1003.123828605824</real>
		    <key>srcPointY</key>
		    <real>623.3435918968628</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1092.799749333161</real>
		    <key>controlPoint1Y</key>
		    <real>558.2411320067023</real>
		    <key>controlPoint2X</key>
		    <real>1119.946952271016</real>
		    <key>controlPoint2Y</key>
		    <real>449.088176899152</real>
		    <key>dstPointX</key>
		    <real>1136.502933026661</real>
		    <key>dstPointY</key>
		    <real>392.5191469658757</real>
		    <key>srcPointX</key>
		    <real>1065.743160723339</real>
		    <key>srcPointY</key>
		    <real>604.5980405341243</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1047.9609375</real>
	    <key>y</key>
	    <real>623</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>