<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>AvoidGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>802.20020469433848</real>
					<key>controlPoint1Y</key>
					<real>399.60547206971643</real>
					<key>controlPoint2X</key>
					<real>809.79979530566152</real>
					<key>controlPoint2Y</key>
					<real>355.39452793028357</real>
					<key>dstPointX</key>
					<real>823.98132792788033</real>
					<key>dstPointY</key>
					<real>340.48944772529848</real>
					<key>srcPointX</key>
					<real>788.01867207211967</real>
					<key>srcPointY</key>
					<real>414.51055227470152</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>715.49013851275663</real>
					<key>controlPoint1Y</key>
					<real>405.16780804242029</real>
					<key>controlPoint2X</key>
					<real>706.50986148724337</real>
					<key>controlPoint2Y</key>
					<real>360.83219195757971</real>
					<key>dstPointX</key>
					<real>686.81980515339467</real>
					<key>dstPointY</key>
					<real>341.14213562373101</real>
					<key>srcPointX</key>
					<real>725.18019484660533</real>
					<key>srcPointY</key>
					<real>414.85786437626899</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>757</real>
			<key>y</key>
			<real>429</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>CheckGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>387.81124891137557</real>
					<key>controlPoint1Y</key>
					<real>517.05088852513097</real>
					<key>controlPoint2X</key>
					<real>370.18875108862449</real>
					<key>controlPoint2Y</key>
					<real>337.94911147486891</real>
					<key>dstPointX</key>
					<real>358.06505766391342</real>
					<key>dstPointY</key>
					<real>248.81751351912419</real>
					<key>srcPointX</key>
					<real>399.93494233608658</real>
					<key>srcPointY</key>
					<real>606.1824864808757</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>368.70447854817809</real>
					<key>controlPoint1Y</key>
					<real>673.83416358219097</real>
					<key>controlPoint2X</key>
					<real>354.29552145182191</real>
					<key>controlPoint2Y</key>
					<real>737.16583641780903</real>
					<key>dstPointX</key>
					<real>331.90342887941091</real>
					<key>dstPointY</key>
					<real>758.3418141278014</real>
					<key>srcPointX</key>
					<real>381.09657112058909</real>
					<key>srcPointY</key>
					<real>642.6581858721986</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>406</real>
			<key>y</key>
			<real>626</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>DecideHeading</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>754.421875</real>
					<key>controlPoint1Y</key>
					<real>557.5793525271489</real>
					<key>controlPoint2X</key>
					<real>526.97435452547336</real>
					<key>controlPoint2Y</key>
					<real>615.70179010598429</real>
					<key>dstPointX</key>
					<real>450.74391192639138</real>
					<key>dstPointY</key>
					<real>623.86933752731466</real>
					<key>srcPointX</key>
					<real>754.421875</real>
					<key>srcPointY</key>
					<real>634.24609375</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>648.83210614239704</real>
					<key>controlPoint1Y</key>
					<real>659.24609375</real>
					<key>controlPoint2X</key>
					<real>518.28783485000929</real>
					<key>controlPoint2Y</key>
					<real>651.7585680865941</real>
					<key>dstPointX</key>
					<real>449.65641250653988</real>
					<key>dstPointY</key>
					<real>630.85071250072667</real>
					<key>srcPointX</key>
					<real>709.421875</real>
					<key>srcPointY</key>
					<real>654.24609375</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>874.65703847784653</real>
					<key>controlPoint1Y</key>
					<real>588.97115134302112</real>
					<key>controlPoint2X</key>
					<real>1049.9969417176771</real>
					<key>controlPoint2Y</key>
					<real>426.67881979384526</real>
					<key>dstPointX</key>
					<real>1141.2830068364094</real>
					<key>dstPointY</key>
					<real>388.7083746771911</real>
					<key>srcPointX</key>
					<real>792.02981248324681</real>
					<key>srcPointY</key>
					<real>643.26334149644572</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>754.578125</real>
			<key>y</key>
			<real>654.24609375</real>
			<key>zoomedInternalHeight</key>
			<real>182.24609375</real>
			<key>zoomedOnEntryHeight</key>
			<real>182.75390625</real>
			<key>zoomedOnExitHeight</key>
			<real>183</real>
		</dict>
		<key>DisconnectWalk</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>161.74498219201161</real>
					<key>controlPoint1Y</key>
					<real>413.71431719803849</real>
					<key>controlPoint2X</key>
					<real>261.25501780798839</real>
					<key>controlPoint2Y</key>
					<real>294.28568280196146</real>
					<key>dstPointX</key>
					<real>318.62180231014861</real>
					<key>dstPointY</key>
					<real>242.41380102989339</real>
					<key>srcPointX</key>
					<real>104.3781976898514</real>
					<key>srcPointY</key>
					<real>465.58619897010658</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>71</real>
			<key>y</key>
			<real>479</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Dummy_Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1384</real>
					<key>controlPoint1Y</key>
					<real>625</real>
					<key>controlPoint2X</key>
					<real>1363.8157959263758</real>
					<key>controlPoint2Y</key>
					<real>641.4179735181533</real>
					<key>dstPointX</key>
					<real>1343.81640625</real>
					<key>dstPointY</key>
					<real>641.57421875</real>
					<key>srcPointX</key>
					<real>1404</real>
					<key>srcPointY</key>
					<real>625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1449</real>
			<key>y</key>
			<real>625</real>
			<key>zoomedInternalHeight</key>
			<real>1.7000000476837158</real>
			<key>zoomedOnEntryHeight</key>
			<real>1.7000000476837158</real>
			<key>zoomedOnExitHeight</key>
			<real>1.7000000476837158</real>
		</dict>
		<key>ExtraDelay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1054.5258788242243</real>
					<key>controlPoint1Y</key>
					<real>123.02925359958665</real>
					<key>controlPoint2X</key>
					<real>1152.7857674975189</real>
					<key>controlPoint2Y</key>
					<real>198.14857100329155</real>
					<key>dstPointX</key>
					<real>1206.6033903672731</real>
					<key>dstPointY</key>
					<real>217.2959935818678</real>
					<key>srcPointX</key>
					<real>997.44901672409799</real>
					<key>srcPointY</key>
					<real>125.30787940405951</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>950.515625</real>
			<key>y</key>
			<real>126.140625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Give_Up</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1224.0455974319957</real>
					<key>controlPoint1Y</key>
					<real>337.93720160337216</real>
					<key>controlPoint2X</key>
					<real>1208.1548365082533</real>
					<key>controlPoint2Y</key>
					<real>267.37188651916705</real>
					<key>dstPointX</key>
					<real>1224.922656346705</real>
					<key>dstPointY</key>
					<real>240.8963815110846</real>
					<key>srcPointX</key>
					<real>1207.081249903295</real>
					<key>srcPointY</key>
					<real>364.2872122389154</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1182.83203125</real>
			<key>y</key>
			<real>381.02734375</real>
			<key>zoomedInternalHeight</key>
			<real>183.02734375</real>
			<key>zoomedOnEntryHeight</key>
			<real>182.97265625</real>
			<key>zoomedOnExitHeight</key>
			<real>182</real>
		</dict>
		<key>KickGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>424.19173348001124</real>
					<key>controlPoint1Y</key>
					<real>216.64101545901022</real>
					<key>controlPoint2X</key>
					<real>477.80826651998876</real>
					<key>controlPoint2Y</key>
					<real>190.35898454099001</real>
					<key>dstPointX</key>
					<real>506.42237170477972</real>
					<key>dstPointY</key>
					<real>182.98868472066499</real>
					<key>srcPointX</key>
					<real>395.57762829522028</real>
					<key>srcPointY</key>
					<real>224.01131527933509</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>429.91542614191439</real>
					<key>controlPoint1Y</key>
					<real>245.3576502253529</real>
					<key>controlPoint2X</key>
					<real>485.08457385808555</real>
					<key>controlPoint2Y</key>
					<real>269.64234977464719</real>
					<key>dstPointX</key>
					<real>509.18197446652579</real>
					<key>dstPointY</key>
					<real>271.44621956866052</real>
					<key>srcPointX</key>
					<real>395.81802553347421</real>
					<key>srcPointY</key>
					<real>233.5537804313395</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>433.2767296866233</real>
					<key>controlPoint1Y</key>
					<real>198.61294726922353</real>
					<key>controlPoint2X</key>
					<real>488.7232703133767</real>
					<key>controlPoint2Y</key>
					<real>124.38705273077665</real>
					<key>dstPointX</key>
					<real>514.56605168181227</real>
					<key>dstPointY</key>
					<real>86.32830974033466</real>
					<key>srcPointX</key>
					<real>387.43394831818767</real>
					<key>srcPointY</key>
					<real>216.67169025966541</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>352</real>
			<key>y</key>
			<real>229</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>KickLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>622.66766701643905</real>
					<key>controlPoint1Y</key>
					<real>189.35770107746313</real>
					<key>controlPoint2X</key>
					<real>677.33233298356095</real>
					<key>controlPoint2Y</key>
					<real>213.64229892253687</real>
					<key>dstPointX</key>
					<real>706.1933565594893</real>
					<key>dstPointY</key>
					<real>220.42463946288001</real>
					<key>srcPointX</key>
					<real>593.8066434405107</real>
					<key>srcPointY</key>
					<real>182.57536053711999</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>178</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>KickRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>624.94427204530302</real>
					<key>controlPoint1Y</key>
					<real>263.64035960150403</real>
					<key>controlPoint2X</key>
					<real>678.05572795469698</real>
					<key>controlPoint2Y</key>
					<real>237.35964039849608</real>
					<key>dstPointX</key>
					<real>706.43616297152732</real>
					<key>dstPointY</key>
					<real>230.012421180941</real>
					<key>srcPointX</key>
					<real>596.56383702847268</real>
					<key>srcPointY</key>
					<real>270.98757881905902</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>553</real>
			<key>y</key>
			<real>276</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>LostBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>723.47913531686675</real>
					<key>controlPoint1Y</key>
					<real>149.04414481877575</real>
					<key>controlPoint2X</key>
					<real>1009.1737944182001</real>
					<key>controlPoint2Y</key>
					<real>306.850838143018</real>
					<key>dstPointX</key>
					<real>1142.701443502883</real>
					<key>dstPointY</key>
					<real>372.28680285659669</real>
					<key>srcPointX</key>
					<real>590.30246274711669</real>
					<key>srcPointY</key>
					<real>82.896790893403235</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>74</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>PassLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>699.32481664748025</real>
					<key>controlPoint1Y</key>
					<real>297.7034088337378</real>
					<key>controlPoint2X</key>
					<real>705.67518335251987</real>
					<key>controlPoint2Y</key>
					<real>254.29659116626237</real>
					<key>dstPointX</key>
					<real>719.33020346032833</real>
					<key>dstPointY</key>
					<real>239.635411682089</real>
					<key>srcPointX</key>
					<real>685.66979653967167</real>
					<key>srcPointY</key>
					<real>312.36458831791111</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>655</real>
			<key>y</key>
			<real>327</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>PassRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>807.51600483609366</real>
					<key>controlPoint1Y</key>
					<real>297.65606580250176</real>
					<key>controlPoint2X</key>
					<real>797.48399516390634</real>
					<key>controlPoint2Y</key>
					<real>253.34393419749841</real>
					<key>dstPointX</key>
					<real>782.43155205416826</real>
					<key>dstPointY</key>
					<real>238.86491749194079</real>
					<key>srcPointX</key>
					<real>822.56844794583174</real>
					<key>srcPointY</key>
					<real>312.13508250805933</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>855</real>
			<key>y</key>
			<real>326</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1447.04296875</real>
			<key>y</key>
			<real>225</real>
			<key>zoomedInternalHeight</key>
			<real>183</real>
			<key>zoomedOnEntryHeight</key>
			<real>183</real>
			<key>zoomedOnExitHeight</key>
			<real>182</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>128.60028053442809</real>
					<key>controlPoint1Y</key>
					<real>577.14514361389979</real>
					<key>controlPoint2X</key>
					<real>98.016081580376252</real>
					<key>controlPoint2Y</key>
					<real>525.40788357783254</real>
					<key>dstPointX</key>
					<real>87.259448049139138</real>
					<key>dstPointY</key>
					<real>497.64882930367219</real>
					<key>srcPointX</key>
					<real>137.90070820086081</real>
					<key>srcPointY</key>
					<real>605.42538944632793</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>152.61328125</real>
			<key>y</key>
			<real>625.30859375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Stop_Walk</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1212.3495935187309</real>
					<key>controlPoint1Y</key>
					<real>640.77002322590215</real>
					<key>controlPoint2X</key>
					<real>1134.587805249306</real>
					<key>controlPoint2Y</key>
					<real>623.47912402024099</real>
					<key>dstPointX</key>
					<real>1093.1158142718459</real>
					<key>dstPointY</key>
					<real>623.1562452318467</real>
					<key>srcPointX</key>
					<real>1253.8177794781541</real>
					<key>srcPointY</key>
					<real>641.4179735181533</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1250.1591955730182</real>
					<key>controlPoint1Y</key>
					<real>577.78213366459227</real>
					<key>controlPoint2X</key>
					<real>1241.8291532910878</real>
					<key>controlPoint2Y</key>
					<real>454.8757942958332</real>
					<key>dstPointX</key>
					<real>1206.088284175949</real>
					<key>dstPointY</key>
					<real>398.35153111122389</real>
					<key>srcPointX</key>
					<real>1275.732028324051</real>
					<key>srcPointY</key>
					<real>624.40628138877605</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1299.18359375</real>
			<key>y</key>
			<real>641.73046875</real>
			<key>zoomedInternalHeight</key>
			<real>182.73046875</real>
			<key>zoomedOnEntryHeight</key>
			<real>182.26953125</real>
			<key>zoomedOnExitHeight</key>
			<real>183</real>
		</dict>
		<key>TurnToGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>247.63868626741268</real>
					<key>controlPoint1Y</key>
					<real>734.62409724895781</real>
					<key>controlPoint2X</key>
					<real>215.28750752903716</real>
					<key>controlPoint2Y</key>
					<real>662.50647536324448</real>
					<key>dstPointX</key>
					<real>186.39585268473149</real>
					<key>dstPointY</key>
					<real>638.02906569144216</real>
					<key>srcPointX</key>
					<real>274.76430356526851</real>
					<key>srcPointY</key>
					<real>761.04515305855773</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>307</real>
			<key>y</key>
			<real>775</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Wait</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>873.64194591667183</real>
					<key>controlPoint1Y</key>
					<real>261.94991367137027</real>
					<key>controlPoint2X</key>
					<real>1059.1818868654836</real>
					<key>controlPoint2Y</key>
					<real>344.7265170657459</real>
					<key>dstPointX</key>
					<real>1140.7838211961</real>
					<key>dstPointY</key>
					<real>374.26302975326632</real>
					<key>srcPointX</key>
					<real>792.22008505389931</real>
					<key>srcPointY</key>
					<real>231.92056399673379</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>828.25169820697624</real>
					<key>controlPoint1Y</key>
					<real>204.96705092446922</real>
					<key>controlPoint2X</key>
					<real>884.09620369655795</real>
					<key>controlPoint2Y</key>
					<real>155.39566500358393</real>
					<key>dstPointX</key>
					<real>912.08411848529158</real>
					<key>dstPointY</key>
					<real>134.41512145098099</real>
					<key>srcPointX</key>
					<real>790.36900651470853</real>
					<key>srcPointY</key>
					<real>216.16300354901901</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>750</real>
			<key>y</key>
			<real>225</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WalkConnect</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1320.9678804062696</real>
					<key>controlPoint1Y</key>
					<real>224.23721312750106</real>
					<key>controlPoint2X</key>
					<real>1374.9032107313419</real>
					<key>controlPoint2Y</key>
					<real>224.76330511134336</real>
					<key>dstPointX</key>
					<real>1401.8716676600491</real>
					<key>dstPointY</key>
					<real>224.89899118722789</real>
					<key>srcPointX</key>
					<real>1293.9994260899509</real>
					<key>srcPointY</key>
					<real>224.10100881277211</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1249</real>
			<key>y</key>
			<real>224</real>
			<key>zoomedInternalHeight</key>
			<real>1.7000000476837158</real>
			<key>zoomedOnEntryHeight</key>
			<real>1.7000000476837158</real>
			<key>zoomedOnExitHeight</key>
			<real>1.7000000476837158</real>
		</dict>
		<key>Walk_Disconnect</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>952.83712683865986</real>
					<key>controlPoint1Y</key>
					<real>624.21063558600542</real>
					<key>controlPoint2X</key>
					<real>849.70198747177619</real>
					<key>controlPoint2Y</key>
					<real>653.0384682865116</real>
					<key>dstPointX</key>
					<real>799.41523389417557</real>
					<key>dstPointY</key>
					<real>653.90250185313721</real>
					<key>srcPointX</key>
					<real>1003.123828605824</real>
					<key>srcPointY</key>
					<real>623.34359189686279</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1092.7997493331607</real>
					<key>controlPoint1Y</key>
					<real>558.24113200670229</real>
					<key>controlPoint2X</key>
					<real>1148.8219522710156</real>
					<key>controlPoint2Y</key>
					<real>456.15458314915202</real>
					<key>dstPointX</key>
					<real>1165.3779330266609</real>
					<key>dstPointY</key>
					<real>399.58555321587568</real>
					<key>srcPointX</key>
					<real>1065.7431607233391</real>
					<key>srcPointY</key>
					<real>604.59804053412427</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1047.9609375</real>
			<key>y</key>
			<real>623</real>
			<key>zoomedInternalHeight</key>
			<real>183</real>
			<key>zoomedOnEntryHeight</key>
			<real>183</real>
			<key>zoomedOnExitHeight</key>
			<real>182</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
