<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Ping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>166.01057928013344</real>
					<key>controlPoint1Y</key>
					<real>32.968367964802511</real>
					<key>controlPoint2X</key>
					<real>247.24211600201545</real>
					<key>controlPoint2Y</key>
					<real>36.710763957162918</real>
					<key>dstPointX</key>
					<real>280.06388987297174</real>
					<key>dstPointY</key>
					<real>51.694298995933515</real>
					<key>srcPointX</key>
					<real>135.74631825515229</real>
					<key>srcPointY</key>
					<real>52.611424420101493</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>98.04296875</real>
			<key>y</key>
			<real>63.5</real>
		</dict>
		<key>Pong</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>258.62198197082148</real>
					<key>controlPoint1Y</key>
					<real>99.392040692713039</real>
					<key>controlPoint2X</key>
					<real>161.33788556952845</real>
					<key>controlPoint2Y</key>
					<real>102.12978638038616</real>
					<key>dstPointX</key>
					<real>131.97073253186971</real>
					<key>dstPointY</key>
					<real>76.616679279005041</real>
					<key>srcPointX</key>
					<real>287.54408420358095</real>
					<key>srcPointY</key>
					<real>73.375501454343464</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>321.04296875</real>
			<key>y</key>
			<real>60</real>
		</dict>
	</dict>
</dict>
</plist>
