<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Ping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>174.72995156557383</real>
					<key>controlPoint1Y</key>
					<real>70.460649719756859</real>
					<key>controlPoint2X</key>
					<real>262.33231628650742</real>
					<key>controlPoint2Y</key>
					<real>107.12370086709538</real>
					<key>dstPointX</key>
					<real>296.39245626141087</real>
					<key>dstPointY</key>
					<real>84.661132062064809</real>
					<key>srcPointX</key>
					<real>133.96313201791421</real>
					<key>srcPointY</key>
					<real>68.809420965372027</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>89</real>
			<key>y</key>
			<real>68</real>
		</dict>
		<key>Pong</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>241.94344664753174</real>
					<key>controlPoint1Y</key>
					<real>64.938542777241452</real>
					<key>controlPoint2X</key>
					<real>150.47727812868388</real>
					<key>controlPoint2Y</key>
					<real>26.154072948837282</real>
					<key>dstPointX</key>
					<real>121.41856430896449</real>
					<key>dstPointY</key>
					<real>54.129084068833521</real>
					<key>srcPointX</key>
					<real>282.11672168003298</real>
					<key>srcPointY</key>
					<real>68.56043029389285</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>343</real>
			<key>y</key>
			<real>71</real>
		</dict>
	</dict>
</dict>
</plist>
