<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Bottom_Scan</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>591.6696591794338</real>
		    <key>controlPoint1Y</key>
		    <real>182.2442695177144</real>
		    <key>controlPoint2X</key>
		    <real>592.3303408205662</real>
		    <key>controlPoint2Y</key>
		    <real>266.7557304822856</real>
		    <key>dstPointX</key>
		    <real>593.1389136709308</real>
		    <key>dstPointY</key>
		    <real>309.0036619138384</real>
		    <key>srcPointX</key>
		    <real>590.8610863290692</real>
		    <key>srcPointY</key>
		    <real>139.9963380861616</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>590</real>
	    <key>y</key>
	    <real>120</real>
	    <key>zoomedInternalHeight</key>
	    <real>276.3333</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>276.3333</real>
	    <key>zoomedOnExitHeight</key>
	    <real>276.3333</real>
	</dict>
	<key>Do_Bottom_Scan</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>479.9993608017573</real>
		    <key>controlPoint1Y</key>
		    <real>327.5409180683065</real>
		    <key>controlPoint2X</key>
		    <real>349.0006391982428</real>
		    <key>controlPoint2Y</key>
		    <real>327.4590819316936</real>
		    <key>dstPointX</key>
		    <real>279.9939544568815</real>
		    <key>dstPointY</key>
		    <real>326.327824804786</real>
		    <key>srcPointX</key>
		    <real>549.0060455431186</real>
		    <key>srcPointY</key>
		    <real>328.672175195214</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>594</real>
	    <key>y</key>
	    <real>329</real>
	    <key>zoomedInternalHeight</key>
	    <real>276.3333</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>276.3333</real>
	    <key>zoomedOnExitHeight</key>
	    <real>276.3333</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>137.9706766751968</real>
		    <key>controlPoint1Y</key>
		    <real>129.7986323585179</real>
		    <key>controlPoint2X</key>
		    <real>164.2910420748032</real>
		    <key>controlPoint2Y</key>
		    <real>127.5060551414821</real>
		    <key>dstPointX</key>
		    <real>184.2820195133253</real>
		    <key>dstPointY</key>
		    <real>126.905371320741</real>
		    <key>srcPointX</key>
		    <real>117.9796992366747</real>
		    <key>srcPointY</key>
		    <real>130.399316179259</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>73</real>
	    <key>y</key>
	    <real>131</real>
	    <key>zoomedInternalHeight</key>
	    <real>276.3333</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>276.3333</real>
	    <key>zoomedOnExitHeight</key>
	    <real>276.3333</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>572</real>
	    <key>y</key>
	    <real>489</real>
	    <key>zoomedInternalHeight</key>
	    <real>276.3333</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>276.3333</real>
	    <key>zoomedOnExitHeight</key>
	    <real>276.3333</real>
	</dict>
	<key>Start</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>341.9470221221048</real>
		    <key>controlPoint1Y</key>
		    <real>124.7721290454317</real>
		    <key>controlPoint2X</key>
		    <real>477.3146966278953</real>
		    <key>controlPoint2Y</key>
		    <real>121.5325584545684</real>
		    <key>dstPointX</key>
		    <real>545.0068710911007</real>
		    <key>dstPointY</key>
		    <real>120.3494902071199</real>
		    <key>srcPointX</key>
		    <real>274.2548476588993</real>
		    <key>srcPointY</key>
		    <real>125.9551972928801</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>229.26171875</real>
	    <key>y</key>
	    <real>126.3046875</real>
	    <key>zoomedInternalHeight</key>
	    <real>276.3333</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>276.3333</real>
	    <key>zoomedOnExitHeight</key>
	    <real>276.3333</real>
	</dict>
	<key>Stop</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>235.4447497625047</real>
		    <key>controlPoint1Y</key>
		    <real>376.7494843270676</real>
		    <key>controlPoint2X</key>
		    <real>228.5122814874952</real>
		    <key>controlPoint2Y</key>
		    <real>435.2505156729324</real>
		    <key>dstPointX</key>
		    <real>228.6928247226467</real>
		    <key>dstPointY</key>
		    <real>466.0003447194601</real>
		    <key>srcPointX</key>
		    <real>235.2642065273533</real>
		    <key>srcPointY</key>
		    <real>345.9996552805399</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>235</real>
	    <key>y</key>
	    <real>326</real>
	    <key>zoomedInternalHeight</key>
	    <real>276.3333</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>276.3333</real>
	    <key>zoomedOnExitHeight</key>
	    <real>276.3333</real>
	</dict>
	<key>SuspendSelf</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>228.95703125</real>
	    <key>y</key>
	    <real>486</real>
	    <key>zoomedInternalHeight</key>
	    <real>276.3333</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>276.3333</real>
	    <key>zoomedOnExitHeight</key>
	    <real>276.3333</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>