<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Bottom_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>362.06799671644944</real>
					<key>controlPoint1Y</key>
					<real>50.838216363529085</real>
					<key>controlPoint2X</key>
					<real>479.74063003018728</real>
					<key>controlPoint2Y</key>
					<real>78.04539336412499</real>
					<key>dstPointX</key>
					<real>539.33488648957155</real>
					<key>dstPointY</key>
					<real>86.962994067847006</real>
					<key>srcPointX</key>
					<real>302.26667601042851</real>
					<key>srcPointY</key>
					<real>43.435443432152994</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>258</real>
			<key>y</key>
			<real>41</real>
		</dict>
		<key>Do_Bottom_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>498.46673236936442</real>
					<key>controlPoint1Y</key>
					<real>141.29588279755595</real>
					<key>controlPoint2X</key>
					<real>377.54397123541742</real>
					<key>controlPoint2Y</key>
					<real>192.0209420102201</real>
					<key>dstPointX</key>
					<real>315.23271392522071</real>
					<key>dstPointY</key>
					<real>207.29120334570911</real>
					<key>srcPointX</key>
					<real>549.32601014970805</real>
					<key>srcPointY</key>
					<real>102.19079959225489</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>585</real>
			<key>y</key>
			<real>90</real>
		</dict>
		<key>Do_High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>470.6357653548306</real>
					<key>controlPoint1Y</key>
					<real>465.93898105537522</real>
					<key>controlPoint2X</key>
					<real>353.6578433623738</real>
					<key>controlPoint2Y</key>
					<real>505.14562939667854</real>
					<key>dstPointX</key>
					<real>293.78062537880345</real>
					<key>dstPointY</key>
					<real>519.37570897919363</real>
					<key>srcPointX</key>
					<real>530.49281212119661</real>
					<key>srcPointY</key>
					<real>451.62429102080642</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>573.9609375</real>
			<key>y</key>
			<real>447</real>
		</dict>
		<key>Do_Mid_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>499.76189190380217</real>
					<key>controlPoint1Y</key>
					<real>300.92830058789332</real>
					<key>controlPoint2X</key>
					<real>371.65049134385424</real>
					<key>controlPoint2Y</key>
					<real>327.46268514380677</real>
					<key>dstPointX</key>
					<real>306.83698851042851</real>
					<key>dstPointY</key>
					<real>335.56455656784698</real>
					<key>srcPointX</key>
					<real>564.33488648957155</real>
					<key>srcPointY</key>
					<real>291.09169343215302</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>610</real>
			<key>y</key>
			<real>288</real>
		</dict>
		<key>High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>369.0383962854371</real>
					<key>controlPoint1Y</key>
					<real>356.87307609510424</real>
					<key>controlPoint2X</key>
					<real>484.27650825164449</real>
					<key>controlPoint2Y</key>
					<real>496.13423129716057</real>
					<key>dstPointX</key>
					<real>536.94184008688626</real>
					<key>dstPointY</key>
					<real>458.70532845770174</real>
					<key>srcPointX</key>
					<real>306.06949050293258</real>
					<key>srcPointY</key>
					<real>342.39976100712767</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>263.0390625</real>
			<key>y</key>
			<real>338</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>96.588235294117638</real>
					<key>controlPoint1Y</key>
					<real>86.29411764705884</real>
					<key>controlPoint2X</key>
					<real>83.411764705882334</real>
					<key>controlPoint2Y</key>
					<real>105.70588235294119</real>
					<key>dstPointX</key>
					<real>92.823529411764696</real>
					<key>dstPointY</key>
					<real>123.35294117647059</real>
					<key>srcPointX</key>
					<real>87.17647058823529</real>
					<key>srcPointY</key>
					<real>68.64705882352942</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>65.95703125</real>
			<key>y</key>
			<real>51.26171875</real>
		</dict>
		<key>Mid_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>379.92476837162383</real>
					<key>controlPoint1Y</key>
					<real>218.91000966942403</real>
					<key>controlPoint2X</key>
					<real>499.14778002711125</real>
					<key>controlPoint2Y</key>
					<real>279.89938151465793</real>
					<key>dstPointX</key>
					<real>563.39118638596301</real>
					<key>dstPointY</key>
					<real>286.02486307946691</real>
					<key>srcPointX</key>
					<real>315.60881361403699</real>
					<key>srcPointY</key>
					<real>213.60013692053309</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>272</real>
			<key>y</key>
			<real>212.0390625</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>117.6953125</real>
			<key>y</key>
			<real>422.9140625</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>169.89364439081322</real>
					<key>controlPoint1Y</key>
					<real>110.48362465630959</real>
					<key>controlPoint2X</key>
					<real>189.32764150348046</real>
					<key>controlPoint2Y</key>
					<real>53.116986278599221</real>
					<key>dstPointX</key>
					<real>214.22031694836642</real>
					<key>dstPointY</key>
					<real>46.316037406418758</real>
					<key>srcPointX</key>
					<real>150.26796430163361</real>
					<key>srcPointY</key>
					<real>127.23865009358124</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>114.26171875</real>
			<key>y</key>
			<real>141.3046875</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>188.84496561069128</real>
					<key>controlPoint1Y</key>
					<real>550.501071097146</real>
					<key>controlPoint2X</key>
					<real>156.51231829883639</real>
					<key>controlPoint2Y</key>
					<real>599.58513333979033</real>
					<key>dstPointX</key>
					<real>132.89161926738586</real>
					<key>dstPointY</key>
					<real>615.00569038631295</real>
					<key>srcPointX</key>
					<real>212.40916198261414</real>
					<key>srcPointY</key>
					<real>534.99430961368705</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>250</real>
			<key>y</key>
			<real>524</real>
		</dict>
		<key>SuspendSelf</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>94.95703125</real>
			<key>y</key>
			<real>626</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
