<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FollowBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>360.45984146554167</real>
					<key>controlPoint1Y</key>
					<real>284.69004561876721</real>
					<key>controlPoint2X</key>
					<real>364.96094190627281</real>
					<key>controlPoint2Y</key>
					<real>218.51941635615009</real>
					<key>dstPointX</key>
					<real>377.71000850037314</real>
					<key>dstPointY</key>
					<real>191.85821727469724</real>
					<key>srcPointX</key>
					<real>375.77477742441386</real>
					<key>srcPointY</key>
					<real>309.96475574682427</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>441.28685471162447</real>
					<key>controlPoint1Y</key>
					<real>367.37935431128352</real>
					<key>controlPoint2X</key>
					<real>446.93258847883368</real>
					<key>controlPoint2Y</key>
					<real>436.99972632469326</real>
					<key>dstPointX</key>
					<real>428.74962354461854</real>
					<key>dstPointY</key>
					<real>459.64210011608895</real>
					<key>srcPointX</key>
					<real>424.74576268158648</real>
					<key>srcPointY</key>
					<real>343.51118347307317</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>398.9609375</real>
			<key>y</key>
			<real>327</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>109.56796421943504</real>
					<key>controlPoint1Y</key>
					<real>265.53879802092212</real>
					<key>controlPoint2X</key>
					<real>283.45005392632152</real>
					<key>controlPoint2Y</key>
					<real>325.49159647585645</real>
					<key>dstPointX</key>
					<real>354.35768086199505</real>
					<key>dstPointY</key>
					<real>326.67020690505774</real>
					<key>srcPointX</key>
					<real>103.10256183660577</real>
					<key>srcPointY</key>
					<real>194.91671045463318</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>175</real>
		</dict>
		<key>Kick</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>348.46558798088034</real>
					<key>controlPoint1Y</key>
					<real>440.27497559660338</real>
					<key>controlPoint2X</key>
					<real>353.31002933034841</real>
					<key>controlPoint2Y</key>
					<real>366.05819200095499</real>
					<key>dstPointX</key>
					<real>371.48998441862375</real>
					<key>dstPointY</key>
					<real>342.70551506068983</real>
					<key>srcPointX</key>
					<real>369.4819707367181</real>
					<key>srcPointY</key>
					<real>461.11172061947644</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>401</real>
			<key>y</key>
			<real>474.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>167.0390625</real>
			<key>y</key>
			<real>419</real>
		</dict>
		<key>SeekBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>434.94151848699352</real>
					<key>controlPoint1Y</key>
					<real>216.83754099918036</real>
					<key>controlPoint2X</key>
					<real>439.77965588927992</real>
					<key>controlPoint2Y</key>
					<real>285.05915033086228</real>
					<key>dstPointX</key>
					<real>423.55087125371386</real>
					<key>dstPointY</key>
					<real>310.13807148476707</real>
					<key>srcPointX</key>
					<real>420.35933994232175</real>
					<key>srcPointY</key>
					<real>190.76675647161633</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>398.3046875</real>
			<key>y</key>
			<real>172.91796875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
