<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Checker</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>427.29101946437214</real>
					<key>controlPoint1Y</key>
					<real>368.41308291710305</real>
					<key>controlPoint2X</key>
					<real>448.04354149481816</real>
					<key>controlPoint2Y</key>
					<real>437.37932999066595</real>
					<key>dstPointX</key>
					<real>428.74962354461854</real>
					<key>dstPointY</key>
					<real>460.32960011608895</real>
					<key>srcPointX</key>
					<real>414.7759141060626</real>
					<key>srcPointY</key>
					<real>341.1671234630972</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>505.40712066208425</real>
					<key>controlPoint1Y</key>
					<real>303.08268760053386</real>
					<key>controlPoint2X</key>
					<real>655.78853282608054</real>
					<key>controlPoint2Y</key>
					<real>270.72123840819006</real>
					<key>dstPointX</key>
					<real>709.24005859647707</real>
					<key>dstPointY</key>
					<real>311.78891385764172</real>
					<key>srcPointX</key>
					<real>439.77486944173666</real>
					<key>srcPointY</key>
					<real>318.44586350117464</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>354.08118973730933</real>
					<key>controlPoint1Y</key>
					<real>283.27595616117554</real>
					<key>controlPoint2X</key>
					<real>359.07280930494625</real>
					<key>controlPoint2Y</key>
					<real>217.99032491770242</real>
					<key>dstPointX</key>
					<real>372.83500850037314</real>
					<key>dstPointY</key>
					<real>193.17071727469724</real>
					<key>srcPointX</key>
					<real>370.28795356050927</real>
					<key>srcPointY</key>
					<real>306.57299152249027</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>396.04296875</real>
			<key>y</key>
			<real>323</real>
		</dict>
		<key>FollowBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>653.33428072042602</real>
					<key>controlPoint1Y</key>
					<real>375.54033061706048</real>
					<key>controlPoint2X</key>
					<real>498.07402793171883</real>
					<key>controlPoint2Y</key>
					<real>360.64593778190988</real>
					<key>dstPointX</key>
					<real>436.63535757096349</real>
					<key>dstPointY</key>
					<real>331.55222177731827</real>
					<key>srcPointX</key>
					<real>708.44133755398184</real>
					<key>srcPointY</key>
					<real>335.73622512784448</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>681.52759237610439</real>
					<key>controlPoint1Y</key>
					<real>406.70832278446943</real>
					<key>controlPoint2X</key>
					<real>522.36196572811605</real>
					<key>controlPoint2Y</key>
					<real>483.70354979859871</real>
					<key>dstPointX</key>
					<real>445.8264741512898</real>
					<key>dstPointY</key>
					<real>476.7976641884531</real>
					<key>srcPointX</key>
					<real>721.53787382674261</real>
					<key>srcPointY</key>
					<real>341.09925248769127</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>745.12109375</real>
			<key>y</key>
			<real>324</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>100.45234842739401</real>
					<key>controlPoint1Y</key>
					<real>135.99020286854682</real>
					<key>controlPoint2X</key>
					<real>94.547651572606</real>
					<key>controlPoint2Y</key>
					<real>216.00979713145315</real>
					<key>dstPointX</key>
					<real>95.701559687552731</real>
					<key>dstPointY</key>
					<real>256.00024999531257</real>
					<key>srcPointX</key>
					<real>99.298440312447283</real>
					<key>srcPointY</key>
					<real>95.999750004687399</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.6953125</real>
			<key>y</key>
			<real>76</real>
		</dict>
		<key>Kick</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>347.40111840910191</real>
					<key>controlPoint1Y</key>
					<real>440.9908118902764</real>
					<key>controlPoint2X</key>
					<real>359.34816721055608</real>
					<key>controlPoint2Y</key>
					<real>366.9940340737088</real>
					<key>dstPointX</key>
					<real>374.10423695630277</real>
					<key>dstPointY</key>
					<real>340.48342640405889</real>
					<key>srcPointX</key>
					<real>369.4819707367181</real>
					<key>srcPointY</key>
					<real>461.79922061947644</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>401</real>
			<key>y</key>
			<real>474.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>98</real>
			<key>y</key>
			<real>473.04296875</real>
		</dict>
		<key>SeekBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>426.31543369632124</real>
					<key>controlPoint1Y</key>
					<real>218.67223834198498</real>
					<key>controlPoint2X</key>
					<real>438.57100259798068</real>
					<key>controlPoint2Y</key>
					<real>283.24650620936018</real>
					<key>dstPointX</key>
					<real>421.98258985582589</real>
					<key>dstPointY</key>
					<real>306.68416478187123</real>
					<key>srcPointX</key>
					<real>415.48433994232175</real>
					<key>srcPointY</key>
					<real>192.07925647161633</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>398.3046875</real>
			<key>y</key>
			<real>172.91796875</real>
		</dict>
		<key>Walk_Halt</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>194.13704133473567</real>
					<key>controlPoint1Y</key>
					<real>288.82425483771567</real>
					<key>controlPoint2X</key>
					<real>303.67076504890633</real>
					<key>controlPoint2Y</key>
					<real>352.10953501445374</real>
					<key>dstPointX</key>
					<real>354.47848446804511</real>
					<key>dstPointY</key>
					<real>330.75590775204353</real>
					<key>srcPointX</key>
					<real>139.84830283714342</real>
					<key>srcPointY</key>
					<real>279.33032929682753</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.3046875</real>
			<key>y</key>
			<real>276</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
