<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Calc_BallAngle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>161.2356227501808</real>
					<key>controlPoint1Y</key>
					<real>211.27407644622929</real>
					<key>controlPoint2X</key>
					<real>121.68472726696196</real>
					<key>controlPoint2Y</key>
					<real>286.60654622343867</real>
					<key>dstPointX</key>
					<real>96.012304408471238</real>
					<key>dstPointY</key>
					<real>320.04646758785321</real>
					<key>srcPointX</key>
					<real>175.10097684152873</real>
					<key>srcPointY</key>
					<real>171.46134491214679</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>277.30997200477009</real>
					<key>controlPoint1Y</key>
					<real>144.84555422257262</real>
					<key>controlPoint2X</key>
					<real>334.72324699417209</real>
					<key>controlPoint2Y</key>
					<real>90.728367365342791</real>
					<key>dstPointX</key>
					<real>369.85521650092983</real>
					<key>dstPointY</key>
					<real>80.119433302189407</real>
					<key>srcPointX</key>
					<real>241.12915849907023</real>
					<key>srcPointY</key>
					<real>150.98994169781059</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>187.95703125</real>
			<key>y</key>
			<real>155</real>
		</dict>
		<key>Decide_Long</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>145.86941195991344</real>
					<key>controlPoint1Y</key>
					<real>336.52571459942271</real>
					<key>controlPoint2X</key>
					<real>192.65102018751006</real>
					<key>controlPoint2Y</key>
					<real>297.86222961447248</real>
					<key>dstPointX</key>
					<real>219.43204610731681</real>
					<key>dstPointY</key>
					<real>299.1657049238575</real>
					<key>srcPointX</key>
					<real>119.06795389268319</real>
					<key>srcPointY</key>
					<real>337.3030450761425</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>141.47144073934282</real>
					<key>controlPoint1Y</key>
					<real>350.4838346380285</real>
					<key>controlPoint2X</key>
					<real>187.63662408957995</real>
					<key>controlPoint2Y</key>
					<real>373.49938223132148</real>
					<key>dstPointX</key>
					<real>211.00382031463624</real>
					<key>dstPointY</key>
					<real>384.12149466691221</real>
					<key>srcPointX</key>
					<real>116.63680468536376</real>
					<key>srcPointY</key>
					<real>343.99569283308779</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>64.9296875</real>
			<key>y</key>
			<real>338.3359375</real>
		</dict>
		<key>Decide_Short</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>431.61872048979552</real>
					<key>controlPoint1Y</key>
					<real>114.64550424576528</real>
					<key>controlPoint2X</key>
					<real>431.67749335829643</real>
					<key>controlPoint2Y</key>
					<real>160.44085898028504</real>
					<key>dstPointX</key>
					<real>439.39689824174053</real>
					<key>dstPointY</key>
					<real>181.27957829992971</real>
					<key>srcPointX</key>
					<real>423.83747675825947</real>
					<key>srcPointY</key>
					<real>93.82979670007029</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>483.84978070759081</real>
					<key>controlPoint1Y</key>
					<real>122.55725323023766</real>
					<key>controlPoint2X</key>
					<real>550.01251243023967</real>
					<key>controlPoint2Y</key>
					<real>209.81140749769077</real>
					<key>dstPointX</key>
					<real>591.460011622548</real>
					<key>dstPointY</key>
					<real>244.24621703005599</real>
					<key>srcPointX</key>
					<real>442.582957127452</real>
					<key>srcPointY</key>
					<real>87.906126719944012</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>506.63775536454835</real>
					<key>controlPoint1Y</key>
					<real>96.81458856297786</real>
					<key>controlPoint2X</key>
					<real>674.34062631248651</real>
					<key>controlPoint2Y</key>
					<real>140.35061170952454</real>
					<key>dstPointX</key>
					<real>685.43901309676255</real>
					<key>dstPointY</key>
					<real>82.748017429486708</real>
					<key>srcPointX</key>
					<real>450.30204893996336</real>
					<key>srcPointY</key>
					<real>80.458512057684317</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>408</real>
			<key>y</key>
			<real>75.390625</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>139.76130473550398</real>
					<key>controlPoint1Y</key>
					<real>68.64808432652579</real>
					<key>controlPoint2X</key>
					<real>129.28332802146997</real>
					<key>controlPoint2Y</key>
					<real>152.81818557100351</real>
					<key>dstPointX</key>
					<real>152.04353123945333</real>
					<key>dstPointY</key>
					<real>154.09999875002345</real>
					<key>srcPointX</key>
					<real>116.99943751054666</real>
					<key>srcPointY</key>
					<real>69.900001249976555</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>72</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>Long_Turn</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>294.85686806563865</real>
					<key>controlPoint1Y</key>
					<real>339.217550954795</real>
					<key>controlPoint2X</key>
					<real>395.05402370048023</real>
					<key>controlPoint2Y</key>
					<real>335.31686188795072</real>
					<key>dstPointX</key>
					<real>417.01952453752619</real>
					<key>dstPointY</key>
					<real>302.12174926025034</real>
					<key>srcPointX</key>
					<real>274.60938171247381</real>
					<key>srcPointY</key>
					<real>373.48762573974966</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>250</real>
			<key>y</key>
			<real>392.5</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>526</real>
		</dict>
		<key>Short_Straight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>387.80460446962292</real>
					<key>controlPoint1Y</key>
					<real>220.32087594239934</real>
					<key>controlPoint2X</key>
					<real>493.2883449415537</real>
					<key>controlPoint2Y</key>
					<real>260.11133683226245</real>
					<key>dstPointX</key>
					<real>474.80957901474085</real>
					<key>dstPointY</key>
					<real>273.8324054727052</real>
					<key>srcPointX</key>
					<real>408.45995223525915</real>
					<key>srcPointY</key>
					<real>210.1675945272948</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>454.765625</real>
			<key>y</key>
			<real>200.5</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>349.9116512836747</real>
					<key>controlPoint1Y</key>
					<real>258.48833252895196</real>
					<key>controlPoint2X</key>
					<real>283.3153624802801</real>
					<key>controlPoint2Y</key>
					<real>180.17891274361207</real>
					<key>dstPointX</key>
					<real>238.00046408862704</real>
					<key>dstPointY</key>
					<real>163.28484948445163</real>
					<key>srcPointX</key>
					<real>395.10109841137296</real>
					<key>srcPointY</key>
					<real>275.71515051554837</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.79395280454554806</real>
				<key>green</key>
				<real>0.81327956208547192</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>443.91796875</real>
			<key>y</key>
			<real>284.5</real>
		</dict>
		<key>TopCamSwitch</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>589.13634522696464</real>
					<key>controlPoint1Y</key>
					<real>35.717997789758513</real>
					<key>controlPoint2X</key>
					<real>347.56253919555212</real>
					<key>controlPoint2Y</key>
					<real>1.7415415658296567</real>
					<key>dstPointX</key>
					<real>383.81253236650815</real>
					<key>dstPointY</key>
					<real>58.244090855350684</real>
					<key>srcPointX</key>
					<real>652.83407207691221</real>
					<key>srcPointY</key>
					<real>56.912328995497916</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>693.5</real>
			<key>y</key>
			<real>63.38671875</real>
		</dict>
		<key>Turn</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>560.21131132912308</real>
					<key>controlPoint1Y</key>
					<real>261.34712435722224</real>
					<key>controlPoint2X</key>
					<real>506.7712363652077</real>
					<key>controlPoint2Y</key>
					<real>296.8863915812737</real>
					<key>dstPointX</key>
					<real>479.75822732902145</real>
					<key>dstPointY</key>
					<real>288.77321798038275</real>
					<key>srcPointX</key>
					<real>588.28474142097855</real>
					<key>srcPointY</key>
					<real>258.62521951961725</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>625.95703125</real>
			<key>y</key>
			<real>256.95703125</real>
		</dict>
		<key>Walk_Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>322.13973679813728</real>
					<key>controlPoint1Y</key>
					<real>275.31333466217291</real>
					<key>controlPoint2X</key>
					<real>378.13419590168866</real>
					<key>controlPoint2Y</key>
					<real>308.2913258531737</real>
					<key>dstPointX</key>
					<real>399.51466149571286</real>
					<key>dstPointY</key>
					<real>295.67071688759671</real>
					<key>srcPointX</key>
					<real>300.97361975428709</real>
					<key>srcPointY</key>
					<real>288.29022061240335</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>257.5</real>
			<key>y</key>
			<real>299.5390625</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
