<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Calc_BallAngle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>152.71257469897736</real>
					<key>controlPoint1Y</key>
					<real>221.99636119709112</real>
					<key>controlPoint2X</key>
					<real>105.23037661809516</real>
					<key>controlPoint2Y</key>
					<real>327.1851037860489</real>
					<key>dstPointX</key>
					<real>77.941991908471238</real>
					<key>dstPointY</key>
					<real>377.88240508785321</real>
					<key>srcPointX</key>
					<real>182.05800809152873</real>
					<key>srcPointY</key>
					<real>172.46134491214679</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>358.09073981527911</real>
					<key>controlPoint1Y</key>
					<real>129.47653128492595</real>
					<key>controlPoint2X</key>
					<real>579.12898695934496</real>
					<key>controlPoint2Y</key>
					<real>88.82582550546293</real>
					<key>dstPointX</key>
					<real>687.91381025092983</real>
					<key>dstPointY</key>
					<real>61.010058302189407</real>
					<key>srcPointX</key>
					<real>248.08618974907023</real>
					<key>srcPointY</key>
					<real>151.98994169781059</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>203.5</real>
			<key>y</key>
			<real>156</real>
		</dict>
		<key>Decide_Long</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>152.00050110230978</real>
					<key>controlPoint1Y</key>
					<real>392.94314994105019</real>
					<key>controlPoint2X</key>
					<real>252.99256326378543</real>
					<key>controlPoint2Y</key>
					<real>415.17642856355002</real>
					<key>dstPointX</key>
					<real>304.00235860731681</real>
					<key>dstPointY</key>
					<real>417.2047674238575</real>
					<key>srcPointX</key>
					<real>100.99764139268319</real>
					<key>srcPointY</key>
					<real>395.1389825761425</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>168.48582684184555</real>
					<key>controlPoint1Y</key>
					<real>423.38434249743602</real>
					<key>controlPoint2X</key>
					<real>292.40264933024639</real>
					<key>controlPoint2Y</key>
					<real>505.58564469670381</real>
					<key>dstPointX</key>
					<real>360.43350781463624</real>
					<key>dstPointY</key>
					<real>532.51211966691221</real>
					<key>srcPointX</key>
					<real>98.566492185363757</real>
					<key>srcPointY</key>
					<real>401.83163033308779</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>125.81746288454865</real>
					<key>controlPoint1Y</key>
					<real>366.95820926387165</real>
					<key>controlPoint2X</key>
					<real>187.91839725579931</real>
					<key>controlPoint2Y</key>
					<real>331.11053471629185</real>
					<key>dstPointX</key>
					<real>219.84624425554239</real>
					<key>dstPointY</key>
					<real>314.85808847424767</real>
					<key>srcPointX</key>
					<real>95.153755744457584</real>
					<key>srcPointY</key>
					<real>385.48566152575233</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>55.5</real>
			<key>y</key>
			<real>396</real>
		</dict>
		<key>Decide_Short</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>686.06297705334885</real>
					<key>controlPoint1Y</key>
					<real>100.8634017015689</real>
					<key>controlPoint2X</key>
					<real>686.83624692662477</real>
					<key>controlPoint2Y</key>
					<real>175.72436697745997</real>
					<key>dstPointX</key>
					<real>666.76468023347297</real>
					<key>dstPointY</key>
					<real>202.89645989524843</real>
					<key>srcPointX</key>
					<real>705.31344476652703</real>
					<key>srcPointY</key>
					<real>73.103540104751573</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>711.42139471897428</real>
					<key>controlPoint1Y</key>
					<real>156.74291785659312</real>
					<key>controlPoint2X</key>
					<real>698.52247909544963</real>
					<key>controlPoint2Y</key>
					<real>321.16195504850793</real>
					<key>dstPointX</key>
					<real>685.28646051662338</real>
					<key>dstPointY</key>
					<real>402.17798915099087</real>
					<key>srcPointX</key>
					<real>724.71353948337662</real>
					<key>srcPointY</key>
					<real>75.73607334900916</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>665.21781633686226</real>
					<key>controlPoint1Y</key>
					<real>78.625298139254227</real>
					<key>controlPoint2X</key>
					<real>625.43452542918112</real>
					<key>controlPoint2Y</key>
					<real>125.55793218228554</real>
					<key>dstPointX</key>
					<real>598.98289240023973</real>
					<key>dstPointY</key>
					<real>137.66385228049316</real>
					<key>srcPointX</key>
					<real>691.09523259976027</real>
					<key>srcPointY</key>
					<real>65.336147719506855</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>731.5</real>
			<key>y</key>
			<real>56</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>140.65622246322906</real>
					<key>controlPoint1Y</key>
					<real>68.598863292180823</real>
					<key>controlPoint2X</key>
					<real>135.33197584525377</real>
					<key>controlPoint2Y</key>
					<real>154.03489755826027</real>
					<key>dstPointX</key>
					<real>159.00056248945333</real>
					<key>dstPointY</key>
					<real>155.09999875002345</real>
					<key>srcPointX</key>
					<real>116.99943751054666</real>
					<key>srcPointY</key>
					<real>69.900001249976555</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>72</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>Long_Left</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>335.6318328081631</real>
					<key>controlPoint1Y</key>
					<real>304.39240665423728</real>
					<key>controlPoint2X</key>
					<real>397.44634555430127</real>
					<key>controlPoint2Y</key>
					<real>318.60930612483662</real>
					<key>dstPointX</key>
					<real>429.09991116403774</real>
					<key>dstPointY</key>
					<real>317.6222666851495</real>
					<key>srcPointX</key>
					<real>303.97821383596226</real>
					<key>srcPointY</key>
					<real>305.3777333148505</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>258.5</real>
			<key>y</key>
			<real>306</real>
		</dict>
		<key>Long_Right</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>442.11674262164388</real>
					<key>controlPoint1Y</key>
					<real>478.88004750949176</real>
					<key>controlPoint2X</key>
					<real>435.02909601171945</real>
					<key>controlPoint2Y</key>
					<real>378.15150594474079</real>
					<key>dstPointX</key>
					<real>455.03905578752619</real>
					<key>dstPointY</key>
					<real>335.12174926025034</real>
					<key>srcPointX</key>
					<real>422.03906921247381</real>
					<key>srcPointY</key>
					<real>521.87825073974966</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>402.5</real>
			<key>y</key>
			<real>540</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>526</real>
		</dict>
		<key>Short_Straight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>575.99199800439044</real>
					<key>controlPoint1Y</key>
					<real>244.15470060005731</real>
					<key>controlPoint2X</key>
					<real>538.19066791267073</real>
					<key>controlPoint2Y</key>
					<real>291.8900445939762</real>
					<key>dstPointX</key>
					<real>512.82911026474085</real>
					<key>dstPointY</key>
					<real>306.8324054727052</real>
					<key>srcPointX</key>
					<real>601.32713973525915</real>
					<key>srcPointY</key>
					<real>229.1675945272948</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>640.4609375</real>
			<key>y</key>
			<real>219</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>378.99112084216381</real>
					<key>controlPoint1Y</key>
					<real>284.03220245594798</real>
					<key>controlPoint2X</key>
					<real>299.1047694643654</real>
					<key>controlPoint2Y</key>
					<real>188.92880116988385</real>
					<key>dstPointX</key>
					<real>244.95749533862704</real>
					<key>dstPointY</key>
					<real>164.28484948445163</real>
					<key>srcPointX</key>
					<real>433.12062966137296</real>
					<key>srcPointY</key>
					<real>308.71515051554837</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.79395280454554806</real>
				<key>green</key>
				<real>0.81327956208547192</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>474.4609375</real>
			<key>y</key>
			<real>317</real>
		</dict>
		<key>Turn_Left</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>522.61513327625437</real>
					<key>controlPoint1Y</key>
					<real>195.87938214099646</real>
					<key>controlPoint2X</key>
					<real>509.64054546488444</real>
					<key>controlPoint2Y</key>
					<real>267.16945990041916</real>
					<key>dstPointX</key>
					<real>493.91879958440597</real>
					<key>dstPointY</key>
					<real>299.04891347125169</real>
					<key>srcPointX</key>
					<real>538.23745041559403</real>
					<key>srcPointY</key>
					<real>163.95108652874831</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>558.4609375</real>
			<key>y</key>
			<real>146</real>
		</dict>
		<key>Turn_Right</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>598.03293851135788</real>
					<key>controlPoint1Y</key>
					<real>408.06718926281906</real>
					<key>controlPoint2X</key>
					<real>554.08638159774819</real>
					<key>controlPoint2Y</key>
					<real>330.68059926686317</real>
					<key>dstPointX</key>
					<real>517.77775857902145</real>
					<key>dstPointY</key>
					<real>321.77321798038275</real>
					<key>srcPointX</key>
					<real>634.30036642097855</real>
					<key>srcPointY</key>
					<real>417.14084451961725</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>677.5</real>
			<key>y</key>
			<real>421.54296875</real>
		</dict>
		<key>Walk_Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>404.62656269801221</real>
					<key>controlPoint1Y</key>
					<real>392.61721333248113</real>
					<key>controlPoint2X</key>
					<real>418.46548319362194</real>
					<key>controlPoint2Y</key>
					<real>342.40213918535005</real>
					<key>dstPointX</key>
					<real>437.53419274571286</real>
					<key>dstPointY</key>
					<real>328.67071688759671</real>
					<key>srcPointX</key>
					<real>385.54393225428709</real>
					<key>srcPointY</key>
					<real>406.32928311240335</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>348.5</real>
			<key>y</key>
			<real>418</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
