<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Calc_BallAngle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>166.40221477896827</real>
					<key>controlPoint1Y</key>
					<real>225.60260122056943</real>
					<key>controlPoint2X</key>
					<real>117.38653788021881</real>
					<key>controlPoint2Y</key>
					<real>330.66451451593355</real>
					<key>dstPointX</key>
					<real>84.441991908471238</real>
					<key>dstPointY</key>
					<real>377.88240508785321</real>
					<key>srcPointX</key>
					<real>188.55800809152873</real>
					<key>srcPointY</key>
					<real>172.46134491214679</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>365.12636093449998</real>
					<key>controlPoint1Y</key>
					<real>132.27382549851995</real>
					<key>controlPoint2X</key>
					<real>586.86202948780044</real>
					<key>controlPoint2Y</key>
					<real>93.266362156905842</real>
					<key>dstPointX</key>
					<real>694.41381025092983</real>
					<key>dstPointY</key>
					<real>61.010058302189407</real>
					<key>srcPointX</key>
					<real>254.58618974907023</real>
					<key>srcPointY</key>
					<real>151.98994169781059</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>203.5</real>
			<key>y</key>
			<real>156</real>
		</dict>
		<key>Decide_Long</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>151.23889859183708</real>
					<key>controlPoint1Y</key>
					<real>393.49348070390874</real>
					<key>controlPoint2X</key>
					<real>236.3192316494187</real>
					<key>controlPoint2Y</key>
					<real>366.19633223252248</real>
					<key>dstPointX</key>
					<real>280.04532735731681</real>
					<key>dstPointY</key>
					<real>368.2047674238575</real>
					<key>srcPointX</key>
					<real>107.49764139268319</real>
					<key>srcPointY</key>
					<real>395.1389825761425</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>160.53147051546833</real>
					<key>controlPoint1Y</key>
					<real>416.66385656747815</real>
					<key>controlPoint2X</key>
					<real>279.28213991637301</real>
					<key>controlPoint2Y</key>
					<real>413.36759109731736</real>
					<key>dstPointX</key>
					<real>331.39053906463624</real>
					<key>dstPointY</key>
					<real>437.47305716691221</real>
					<key>srcPointX</key>
					<real>105.06649218536376</real>
					<key>srcPointY</key>
					<real>401.83163033308779</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>55.5</real>
			<key>y</key>
			<real>396</real>
		</dict>
		<key>Decide_Short</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>695.65889086728873</real>
					<key>controlPoint1Y</key>
					<real>103.90003454931303</real>
					<key>controlPoint2X</key>
					<real>678.13254306019508</real>
					<key>controlPoint2Y</key>
					<real>172.74058049398002</real>
					<key>dstPointX</key>
					<real>660.81155523347297</real>
					<key>dstPointY</key>
					<real>202.89645989524843</real>
					<key>srcPointX</key>
					<real>711.81344476652703</real>
					<key>srcPointY</key>
					<real>73.103540104751573</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>730.39061205707878</real>
					<key>controlPoint1Y</key>
					<real>122.20128086016362</real>
					<key>controlPoint2X</key>
					<real>751.04964294853301</real>
					<key>controlPoint2Y</key>
					<real>219.10309613082302</real>
					<key>dstPointX</key>
					<real>732.28646051662338</real>
					<key>dstPointY</key>
					<real>261.61939540099087</real>
					<key>srcPointX</key>
					<real>731.21353948337662</real>
					<key>srcPointY</key>
					<real>75.73607334900916</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>731.5</real>
			<key>y</key>
			<real>56</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>141.4103797844466</real>
					<key>controlPoint1Y</key>
					<real>68.557384168168483</real>
					<key>controlPoint2X</key>
					<real>141.08647408831263</real>
					<key>controlPoint2Y</key>
					<real>153.81586056846945</real>
					<key>dstPointX</key>
					<real>165.50056248945333</real>
					<key>dstPointY</key>
					<real>155.09999875002345</real>
					<key>srcPointX</key>
					<real>116.99943751054666</real>
					<key>srcPointY</key>
					<real>69.900001249976555</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>72</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>Long_Turn</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>407.054295537146</real>
					<key>controlPoint1Y</key>
					<real>403.85786247846136</real>
					<key>controlPoint2X</key>
					<real>435.03933457169251</real>
					<key>controlPoint2Y</key>
					<real>358.110166283902</real>
					<key>dstPointX</key>
					<real>449.08593078752619</real>
					<key>dstPointY</key>
					<real>335.12174926025034</real>
					<key>srcPointX</key>
					<real>392.99610046247381</real>
					<key>srcPointY</key>
					<real>426.83918823974966</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>368.04296875</real>
			<key>y</key>
			<real>445.0390625</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>526</real>
		</dict>
		<key>Short_Straight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>569.17936319384228</real>
					<key>controlPoint1Y</key>
					<real>242.59603395945476</real>
					<key>controlPoint2X</key>
					<real>531.03785992026644</real>
					<key>controlPoint2Y</key>
					<real>290.01912000881953</real>
					<key>dstPointX</key>
					<real>506.87598526474085</real>
					<key>dstPointY</key>
					<real>306.8324054727052</real>
					<key>srcPointX</key>
					<real>595.37401473525915</real>
					<key>srcPointY</key>
					<real>229.1675945272948</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>640.4609375</real>
			<key>y</key>
			<real>219</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>374.16332082915852</real>
					<key>controlPoint1Y</key>
					<real>287.61769917706943</real>
					<key>controlPoint2X</key>
					<real>304.55677319763845</real>
					<key>controlPoint2Y</key>
					<real>185.14180629867002</real>
					<key>dstPointX</key>
					<real>251.45749533862704</real>
					<key>dstPointY</key>
					<real>164.28484948445163</real>
					<key>srcPointX</key>
					<real>427.16750466137296</real>
					<key>srcPointY</key>
					<real>308.71515051554837</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.79395280454554806</real>
				<key>green</key>
				<real>0.81327956208547192</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>474.4609375</real>
			<key>y</key>
			<real>317</real>
		</dict>
		<key>Turn</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>637.7560719595956</real>
					<key>controlPoint1Y</key>
					<real>280.69423994529404</real>
					<key>controlPoint2X</key>
					<real>553.89950061323771</real>
					<key>controlPoint2Y</key>
					<real>333.71974882299673</real>
					<key>dstPointX</key>
					<real>511.82463357902145</real>
					<key>dstPointY</key>
					<real>321.77321798038275</real>
					<key>srcPointX</key>
					<real>681.30036642097855</real>
					<key>srcPointY</key>
					<real>276.58225076961725</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>719</real>
			<key>y</key>
			<real>275</real>
		</dict>
		<key>Walk_Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>378.610820102182</real>
					<key>controlPoint1Y</key>
					<real>346.83232266909749</real>
					<key>controlPoint2X</key>
					<real>414.57572426118253</real>
					<key>controlPoint2Y</key>
					<real>339.19774367454568</real>
					<key>dstPointX</key>
					<real>431.58106774571286</real>
					<key>dstPointY</key>
					<real>328.67071688759671</real>
					<key>srcPointX</key>
					<real>361.58690100428709</real>
					<key>srcPointY</key>
					<real>357.32928311240335</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>318.95703125</real>
			<key>y</key>
			<real>369</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
