<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>179.33503984754975</real>
					<key>controlPoint1Y</key>
					<real>76.096342987834603</real>
					<key>controlPoint2X</key>
					<real>288.75945763345288</real>
					<key>controlPoint2Y</key>
					<real>68.841737600768639</real>
					<key>dstPointX</key>
					<real>337.25211326098196</real>
					<key>dstPointY</key>
					<real>88.615316518868894</real>
					<key>srcPointX</key>
					<real>128.24057264514931</real>
					<key>srcPointY</key>
					<real>87.580571056942802</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>84</real>
			<key>y</key>
			<real>91.6953125</real>
		</dict>
		<key>Print_Name</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>456.89103568663484</real>
					<key>controlPoint1Y</key>
					<real>59.560369264003683</real>
					<key>controlPoint2X</key>
					<real>609.76754327079436</real>
					<key>controlPoint2Y</key>
					<real>90.562857050186523</real>
					<key>dstPointX</key>
					<real>602.1331580604824</real>
					<key>dstPointY</key>
					<real>138.21269371645943</real>
					<key>srcPointX</key>
					<real>416.08211343687361</real>
					<key>srcPointY</key>
					<real>85.317361259864924</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>316.86970912918969</real>
					<key>controlPoint1Y</key>
					<real>82.404490291570568</real>
					<key>controlPoint2X</key>
					<real>317.77510509677353</real>
					<key>controlPoint2Y</key>
					<real>109.80685615501588</real>
					<key>dstPointX</key>
					<real>336.52425283101036</real>
					<key>dstPointY</key>
					<real>102.84485506052002</real>
					<key>srcPointX</key>
					<real>335.67902939713133</real>
					<key>srcPointY</key>
					<real>89.202245145785284</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>378.4609375</real>
			<key>y</key>
			<real>96</real>
		</dict>
		<key>Restart</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>221.75101220746379</real>
					<key>controlPoint1Y</key>
					<real>559.41371678302289</real>
					<key>controlPoint2X</key>
					<real>269.38481161020184</real>
					<key>controlPoint2Y</key>
					<real>518.64385310451314</real>
					<key>dstPointX</key>
					<real>287.07124845997026</real>
					<key>dstPointY</key>
					<real>498.87090035485852</real>
					<key>srcPointX</key>
					<real>196.02642343200455</real>
					<key>srcPointY</key>
					<real>552.93102897514302</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>203.05097762356621</real>
					<key>controlPoint1Y</key>
					<real>572.75955995577374</real>
					<key>controlPoint2X</key>
					<real>148.81825071550074</real>
					<key>controlPoint2Y</key>
					<real>589.46427862145845</real>
					<key>dstPointX</key>
					<real>149.74864471362613</real>
					<key>dstPointY</key>
					<real>569.48593116707048</real>
					<key>srcPointX</key>
					<real>187.34298450862275</real>
					<key>srcPointY</key>
					<real>560.37977997788687</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>151.73828125</real>
			<key>y</key>
			<real>548.3203125</real>
		</dict>
		<key>Restart_Self</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>357.5078125</real>
			<key>y</key>
			<real>579.52734375</real>
		</dict>
		<key>Resume</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>284.999891827238</real>
					<key>controlPoint1Y</key>
					<real>233.49814757363416</real>
					<key>controlPoint2X</key>
					<real>397.0586865725823</real>
					<key>controlPoint2Y</key>
					<real>214.57782788510161</real>
					<key>dstPointX</key>
					<real>407.55961582262404</real>
					<key>dstPointY</key>
					<real>254.61415947846149</real>
					<key>srcPointX</key>
					<real>243.67684031751477</real>
					<key>srcPointY</key>
					<real>231.13535759299458</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>135.16477385004913</real>
					<key>controlPoint1Y</key>
					<real>222.46150323688914</real>
					<key>controlPoint2X</key>
					<real>211.43915828960542</real>
					<key>controlPoint2Y</key>
					<real>269.16762779553159</real>
					<key>dstPointX</key>
					<real>207.5997534525348</real>
					<key>dstPointY</key>
					<real>249.53961285522041</real>
					<key>srcPointX</key>
					<real>154.80638189618787</real>
					<key>srcPointY</key>
					<real>226.23075161844457</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>199</real>
			<key>y</key>
			<real>230</real>
		</dict>
		<key>Suspend</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>479.5369670011226</real>
					<key>controlPoint1Y</key>
					<real>218.04674166830708</real>
					<key>controlPoint2X</key>
					<real>177.92186466420711</real>
					<key>controlPoint2Y</key>
					<real>118.44536549563973</real>
					<key>dstPointX</key>
					<real>191.84386759839975</real>
					<key>dstPointY</key>
					<real>209.25450940531374</real>
					<key>srcPointX</key>
					<real>557.04899512695465</real>
					<key>srcPointY</key>
					<real>168.73134570388467</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>646.4705383880405</real>
					<key>controlPoint1Y</key>
					<real>182.42839498670764</real>
					<key>controlPoint2X</key>
					<real>618.00210666409464</real>
					<key>controlPoint2Y</key>
					<real>195.89462550398792</real>
					<key>dstPointX</key>
					<real>611.02877741826637</real>
					<key>dstPointY</key>
					<real>177.1496880746638</real>
					<key>srcPointX</key>
					<real>630.63344965325882</real>
					<key>srcPointY</key>
					<real>170.21419749335382</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>595.0390625</real>
			<key>y</key>
			<real>158.04296875</real>
		</dict>
		<key>Suspend_2</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>559.55306448223405</real>
					<key>controlPoint1Y</key>
					<real>279.29836618440203</real>
					<key>controlPoint2X</key>
					<real>247.7150107785121</real>
					<key>controlPoint2Y</key>
					<real>463.61752528393356</real>
					<key>dstPointX</key>
					<real>182.4053132103121</real>
					<key>dstPointY</key>
					<real>533.53343828696745</real>
					<key>srcPointX</key>
					<real>463.97905671546869</real>
					<key>srcPointY</key>
					<real>274.91652560128864</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>469.61671719834618</real>
					<key>controlPoint1Y</key>
					<real>299.0949284303249</real>
					<key>controlPoint2X</key>
					<real>419.22365093219213</real>
					<key>controlPoint2Y</key>
					<real>314.85004129142442</real>
					<key>dstPointX</key>
					<real>419.15680276312833</real>
					<key>dstPointY</key>
					<real>294.85015300867911</real>
					<key>srcPointX</key>
					<real>454.04234267577812</real>
					<key>srcPointY</key>
					<real>286.54746421516245</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>419</real>
			<key>y</key>
			<real>274.04296875</real>
		</dict>
		<key>Wait</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>346.17965581081268</real>
					<key>controlPoint1Y</key>
					<real>519.80135415579844</real>
					<key>controlPoint2X</key>
					<real>375.75893942246023</real>
					<key>controlPoint2Y</key>
					<real>541.4947619003799</real>
					<key>dstPointX</key>
					<real>370.29944193232569</real>
					<key>dstPointY</key>
					<real>560.73518515859371</real>
					<key>srcPointX</key>
					<real>337.21634072379709</real>
					<key>srcPointY</key>
					<real>501.92234460127116</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>316.80859375</real>
			<key>y</key>
			<real>483.98828125</real>
		</dict>
	</dict>
</dict>
</plist>
