<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>179.4317318483964</real>
					<key>controlPoint1Y</key>
					<real>76.278417658523111</real>
					<key>controlPoint2X</key>
					<real>289.22308770150119</real>
					<key>controlPoint2Y</key>
					<real>68.861772045805793</real>
					<key>dstPointX</key>
					<real>337.71305076098196</real>
					<key>dstPointY</key>
					<real>88.615316518868894</real>
					<key>srcPointX</key>
					<real>128.24057264514931</real>
					<key>srcPointY</key>
					<real>87.275883556942802</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>84</real>
			<key>y</key>
			<real>91.6953125</real>
		</dict>
		<key>Print_Name</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>443.07887677720589</real>
					<key>controlPoint1Y</key>
					<real>68.551791022450857</real>
					<key>controlPoint2X</key>
					<real>607.17499481213804</real>
					<key>controlPoint2Y</key>
					<real>107.26846110523476</real>
					<key>dstPointX</key>
					<real>602.1722205604824</real>
					<key>dstPointY</key>
					<real>138.25566246645943</real>
					<key>srcPointX</key>
					<real>416.54305093687361</real>
					<key>srcPointY</key>
					<real>85.317361259864924</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>314.66048949533922</real>
					<key>controlPoint1Y</key>
					<real>88.475255216492741</real>
					<key>controlPoint2X</key>
					<real>318.2339055374556</real>
					<key>controlPoint2Y</key>
					<real>109.80109819823458</real>
					<key>dstPointX</key>
					<real>336.98519033101036</real>
					<key>dstPointY</key>
					<real>102.84485506052002</real>
					<key>srcPointX</key>
					<real>334.3034158044656</real>
					<key>srcPointY</key>
					<real>92.23762760824637</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>378.4609375</real>
			<key>y</key>
			<real>96</real>
		</dict>
		<key>Restart</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>198.69795405358192</real>
					<key>controlPoint1Y</key>
					<real>576.00261961939054</real>
					<key>controlPoint2X</key>
					<real>148.64781815161709</real>
					<key>controlPoint2Y</key>
					<real>589.78863336599852</real>
					<key>dstPointX</key>
					<real>149.48692596362613</real>
					<key>dstPointY</key>
					<real>569.80624366707048</real>
					<key>srcPointX</key>
					<real>184.17550665247978</real>
					<key>srcPointY</key>
					<real>562.25130980969527</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>221.55213583481142</real>
					<key>controlPoint1Y</key>
					<real>559.47935106249622</real>
					<key>controlPoint2X</key>
					<real>269.12310777602534</real>
					<key>controlPoint2Y</key>
					<real>518.56902917208424</real>
					<key>dstPointX</key>
					<real>286.87984220997026</real>
					<key>dstPointY</key>
					<real>498.85918160485852</real>
					<key>srcPointX</key>
					<real>195.76470468200455</real>
					<key>srcPointY</key>
					<real>553.25134147514302</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>151.73828125</real>
			<key>y</key>
			<real>548.3203125</real>
		</dict>
		<key>Restart_Self</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>357.5078125</real>
			<key>y</key>
			<real>579.52734375</real>
		</dict>
		<key>Resume</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>135.43744273290224</real>
					<key>controlPoint1Y</key>
					<real>237.36563981031895</real>
					<key>controlPoint2X</key>
					<real>211.25864210978909</real>
					<key>controlPoint2Y</key>
					<real>269.20207795484146</real>
					<key>dstPointX</key>
					<real>207.5997534525348</real>
					<key>dstPointY</key>
					<real>249.53961285522041</real>
					<key>srcPointX</key>
					<real>154.99515266124001</real>
					<key>srcPointY</key>
					<real>233.18281990515948</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>280.83527352165214</real>
					<key>controlPoint1Y</key>
					<real>233.26002095795306</real>
					<key>controlPoint2X</key>
					<real>398.09736910948112</real>
					<key>controlPoint2Y</key>
					<real>218.66088898405781</real>
					<key>dstPointX</key>
					<real>407.55961582262404</real>
					<key>dstPointY</key>
					<real>254.65712822846149</real>
					<key>srcPointX</key>
					<real>243.67684031751477</real>
					<key>srcPointY</key>
					<real>231.13535759299458</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>199</real>
			<key>y</key>
			<real>230</real>
		</dict>
		<key>Suspend</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>642.35375342799125</real>
					<key>controlPoint1Y</key>
					<real>185.40101176402464</real>
					<key>controlPoint2X</key>
					<real>618.04234986155927</real>
					<key>controlPoint2Y</key>
					<real>195.93715497881314</real>
					<key>dstPointX</key>
					<real>611.06783991826637</real>
					<key>dstPointY</key>
					<real>177.1926568246638</real>
					<key>srcPointX</key>
					<real>627.7833677578401</real>
					<key>srcPointY</key>
					<real>171.70050588201232</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>477.30815529253437</real>
					<key>controlPoint1Y</key>
					<real>219.78834400121755</real>
					<key>controlPoint2X</key>
					<real>176.78487804639627</real>
					<key>controlPoint2Y</key>
					<real>115.76391703999371</real>
					<key>dstPointX</key>
					<real>191.84386759839975</real>
					<key>dstPointY</key>
					<real>209.25450940531374</real>
					<key>srcPointX</key>
					<real>557.08805762695465</real>
					<key>srcPointY</key>
					<real>168.77431445388467</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>595.0390625</real>
			<key>y</key>
			<real>158.04296875</real>
		</dict>
		<key>Suspend_2</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>465.00656230269396</real>
					<key>controlPoint1Y</key>
					<real>302.25678516260757</real>
					<key>controlPoint2X</key>
					<real>419.22351345392019</real>
					<key>controlPoint2Y</key>
					<real>314.89301050046299</real>
					<key>dstPointX</key>
					<real>419.15680276312833</real>
					<key>dstPointY</key>
					<real>294.89312175867911</real>
					<key>srcPointX</key>
					<real>450.85069697878811</real>
					<key>srcPointY</key>
					<real>288.12839258130379</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>559.54344687946389</real>
					<key>controlPoint1Y</key>
					<real>279.54630370870046</real>
					<key>controlPoint2X</key>
					<real>247.2948749374965</real>
					<key>controlPoint2Y</key>
					<real>463.79019292925659</real>
					<key>dstPointX</key>
					<real>182.1435944603121</real>
					<key>dstPointY</key>
					<real>533.85375078696745</real>
					<key>srcPointX</key>
					<real>463.97905671546869</real>
					<key>srcPointY</key>
					<real>274.95949435128864</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>419</real>
			<key>y</key>
			<real>274.04296875</real>
		</dict>
		<key>Wait</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>345.92490535104025</real>
					<key>controlPoint1Y</key>
					<real>519.82125170254233</real>
					<key>controlPoint2X</key>
					<real>375.27714529113712</real>
					<key>controlPoint2Y</key>
					<real>541.02505781718742</real>
					<key>dstPointX</key>
					<real>369.80725443232569</real>
					<key>dstPointY</key>
					<real>560.26252890859371</real>
					<key>srcPointX</key>
					<real>337.02493447379709</real>
					<key>srcPointY</key>
					<real>501.91062585127116</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>316.80859375</real>
			<key>y</key>
			<real>483.98828125</real>
		</dict>
	</dict>
</dict>
</plist>
