<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>BAT_MAN_BEHAVIOR</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>474.28125</real>
					<key>controlPoint1Y</key>
					<real>219.03305559388954</real>
					<key>controlPoint2X</key>
					<real>569.65234375</real>
					<key>controlPoint2Y</key>
					<real>219.96694440611046</real>
					<key>dstPointX</key>
					<real>569.65234375</real>
					<key>dstPointY</key>
					<real>189</real>
					<key>srcPointX</key>
					<real>474.28125</real>
					<key>srcPointY</key>
					<real>250</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>185</real>
			<key>internalHeight</key>
			<real>46</real>
			<key>onEntryHeight</key>
			<real>46</real>
			<key>onExitHeight</key>
			<real>46</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>309</real>
			<key>x</key>
			<real>495.8046875</real>
			<key>y</key>
			<real>337.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>478.79296875</real>
					<key>controlPoint1Y</key>
					<real>217.92698951479778</real>
					<key>controlPoint2X</key>
					<real>395.6328125</real>
					<key>controlPoint2Y</key>
					<real>221.07301048520222</real>
					<key>dstPointX</key>
					<real>395.6328125</real>
					<key>dstPointY</key>
					<real>250</real>
					<key>srcPointX</key>
					<real>478.79296875</real>
					<key>srcPointY</key>
					<real>189</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>164</real>
			<key>internalHeight</key>
			<real>32</real>
			<key>onEntryHeight</key>
			<real>57</real>
			<key>onExitHeight</key>
			<real>28</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>293</real>
			<key>x</key>
			<real>494.5</real>
			<key>y</key>
			<real>113</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>292.14497258295921</real>
					<key>controlPoint1Y</key>
					<real>182.36983170998576</real>
					<key>controlPoint2X</key>
					<real>340.48039018212603</real>
					<key>controlPoint2Y</key>
					<real>279.88067715161299</real>
					<key>dstPointX</key>
					<real>347.69069784589101</real>
					<key>dstPointY</key>
					<real>259.61188048453045</real>
					<key>srcPointX</key>
					<real>281.45932049646916</real>
					<key>srcPointY</key>
					<real>200.75562031864564</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>184</real>
			<key>internalHeight</key>
			<real>45</real>
			<key>onEntryHeight</key>
			<real>64</real>
			<key>onExitHeight</key>
			<real>28</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>267</real>
			<key>x</key>
			<real>156.5</real>
			<key>y</key>
			<real>125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>172</real>
			<key>internalHeight</key>
			<real>41</real>
			<key>onEntryHeight</key>
			<real>42</real>
			<key>onExitHeight</key>
			<real>42</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>283</real>
			<key>x</key>
			<real>157.5</real>
			<key>y</key>
			<real>338</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
