<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Checker</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>693</real>
		    <key>controlPoint1Y</key>
		    <real>380</real>
		    <key>controlPoint2X</key>
		    <real>429.3414192411959</real>
		    <key>controlPoint2Y</key>
		    <real>431.3815699798084</real>
		    <key>dstPointX</key>
		    <real>418.1547485262451</real>
		    <key>dstPointY</key>
		    <real>458.5102852588221</real>
		    <key>srcPointX</key>
		    <real>414.7507577986067</real>
		    <key>srcPointY</key>
		    <real>341.1810324822082</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>353.7403926944711</real>
		    <key>controlPoint1Y</key>
		    <real>283.488478113992</real>
		    <key>controlPoint2X</key>
		    <real>356.4513473745879</real>
		    <key>controlPoint2Y</key>
		    <real>218.1122485692559</real>
		    <key>dstPointX</key>
		    <real>370.7021960003731</real>
		    <key>dstPointY</key>
		    <real>193.7449360246972</real>
		    <key>srcPointX</key>
		    <real>369.9871723105093</real>
		    <key>srcPointY</key>
		    <real>306.5729915224903</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>396.04296875</real>
	    <key>y</key>
	    <real>323</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>FollowBall</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>364.4823719880025</real>
		    <key>controlPoint1Y</key>
		    <real>433.9018924908732</real>
		    <key>controlPoint2X</key>
		    <real>370.189888831498</real>
		    <key>controlPoint2Y</key>
		    <real>369.3884798050118</real>
		    <key>dstPointX</key>
		    <real>380.4005835067195</real>
		    <key>dstPointY</key>
		    <real>341.7598636709315</real>
		    <key>srcPointX</key>
		    <real>378.9290493951445</real>
		    <key>srcPointY</key>
		    <real>459.5707885935289</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>401</real>
	    <key>y</key>
	    <real>477</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>104.4755978463738</real>
		    <key>controlPoint1Y</key>
		    <real>135.9250547265539</real>
		    <key>controlPoint2X</key>
		    <real>90.52440215362624</real>
		    <key>controlPoint2Y</key>
		    <real>216.0749452734461</real>
		    <key>dstPointX</key>
		    <real>93.56874718755272</real>
		    <key>dstPointY</key>
		    <real>256.0002499953126</real>
		    <key>srcPointX</key>
		    <real>101.4312528124473</real>
		    <key>srcPointY</key>
		    <real>95.9997500046874</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.9222992081447964</real>
		<key>green</key>
		<real>0.9222992081447964</real>
		<key>red</key>
		<real>0.9222992081447964</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>97.6953125</real>
	    <key>y</key>
	    <real>76</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>98</real>
	    <key>y</key>
	    <real>473.04296875</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>SeekBall</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>422.6805652529983</real>
		    <key>controlPoint1Y</key>
		    <real>219.5259171868005</real>
		    <key>controlPoint2X</key>
		    <real>790</real>
		    <key>controlPoint2Y</key>
		    <real>247</real>
		    <key>dstPointX</key>
		    <real>420.2381032859356</real>
		    <key>dstPointY</key>
		    <real>306.1613053449483</real>
		    <key>srcPointX</key>
		    <real>413.3515274423218</real>
		    <key>srcPointY</key>
		    <real>192.6534752216163</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>398.3046875</real>
	    <key>y</key>
	    <real>172.91796875</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Walk_Halt</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>53</real>
		    <key>controlPoint1Y</key>
		    <real>421</real>
		    <key>controlPoint2X</key>
		    <real>298.6912155707889</real>
		    <key>controlPoint2Y</key>
		    <real>311.586067719137</real>
		    <key>dstPointX</key>
		    <real>351.5458551244533</real>
		    <key>dstPointY</key>
		    <real>319.8943220971376</real>
		    <key>srcPointX</key>
		    <real>141.4541448755467</real>
		    <key>srcPointY</key>
		    <real>279.1056779028624</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>97.3046875</real>
	    <key>y</key>
	    <real>276</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>