<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Finished</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>103.39918537121019</real>
					<key>controlPoint1Y</key>
					<real>376.87515944436643</real>
					<key>controlPoint2X</key>
					<real>38.773340323198738</real>
					<key>controlPoint2Y</key>
					<real>115.47786098658233</real>
					<key>dstPointX</key>
					<real>130.59148193507514</real>
					<key>dstPointY</key>
					<real>94.878218620604841</real>
					<key>srcPointX</key>
					<real>78.775389538253734</real>
					<key>srcPointY</key>
					<real>467.69688081894532</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>194.20141464118097</real>
					<key>controlPoint1Y</key>
					<real>500.70753120376088</real>
					<key>controlPoint2X</key>
					<real>363.14746124682074</real>
					<key>controlPoint2Y</key>
					<real>513.51573781616139</real>
					<key>dstPointX</key>
					<real>440.32514951423093</real>
					<key>dstPointY</key>
					<real>544.95481971202594</real>
					<key>srcPointX</key>
					<real>111.60232816531011</real>
					<key>srcPointY</key>
					<real>489.6530140226248</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>67</real>
			<key>y</key>
			<real>487</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>129.53187630639871</real>
					<key>controlPoint1Y</key>
					<real>70.917908993746892</real>
					<key>controlPoint2X</key>
					<real>112.06760084597262</real>
					<key>controlPoint2Y</key>
					<real>79.815808266994793</real>
					<key>dstPointX</key>
					<real>131.33760726864702</real>
					<key>dstPointY</key>
					<real>85.169951753126554</real>
					<key>srcPointX</key>
					<real>110.29129898135297</real>
					<key>srcPointY</key>
					<real>65.458954496873446</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>67</real>
			<key>y</key>
			<real>60</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>347.44735519139874</real>
					<key>controlPoint1Y</key>
					<real>128.88536946075192</real>
					<key>controlPoint2X</key>
					<real>624.6266338567367</real>
					<key>controlPoint2Y</key>
					<real>106.21540736898547</real>
					<key>dstPointX</key>
					<real>750.99544054336525</real>
					<key>dstPointY</key>
					<real>63.400425940165682</real>
					<key>srcPointX</key>
					<real>218.26091149482858</real>
					<key>srcPointY</key>
					<real>95.522805063128047</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>260.81881569177074</real>
					<key>controlPoint1Y</key>
					<real>182.17208866285026</real>
					<key>controlPoint2X</key>
					<real>193.99903465967557</real>
					<key>controlPoint2Y</key>
					<real>436.68940787427039</real>
					<key>dstPointX</key>
					<real>107.54386527388738</real>
					<key>dstPointY</key>
					<real>478.32257091435662</real>
					<key>srcPointX</key>
					<real>202.05689004555782</real>
					<key>srcPointY</key>
					<real>106.31134339498016</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>174.45703125</real>
			<key>y</key>
			<real>90.45703125</real>
		</dict>
		<key>OurGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>567.42107319748834</real>
					<key>controlPoint1Y</key>
					<real>187.80714932251024</real>
					<key>controlPoint2X</key>
					<real>689.25132100421422</real>
					<key>controlPoint2Y</key>
					<real>102.64030494739396</real>
					<key>dstPointX</key>
					<real>754.13726233564705</real>
					<key>dstPointY</key>
					<real>66.69230198362051</real>
					<key>srcPointX</key>
					<real>504.08070454020788</real>
					<key>srcPointY</key>
					<real>226.41339231388935</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>465.04296875</real>
			<key>y</key>
			<real>237</real>
		</dict>
		<key>Penalised</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>293.7329255241184</real>
					<key>controlPoint1Y</key>
					<real>371.99369008691735</real>
					<key>controlPoint2X</key>
					<real>388.3189620880587</real>
					<key>controlPoint2Y</key>
					<real>502.99772520017098</real>
					<key>dstPointX</key>
					<real>445.1086089379225</real>
					<key>dstPointY</key>
					<real>541.40976566071947</real>
					<key>srcPointX</key>
					<real>306.57261599959514</real>
					<key>srcPointY</key>
					<real>304.64614974453355</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>315</real>
			<key>y</key>
			<real>285</real>
		</dict>
		<key>Play</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>353.31720737382199</real>
					<key>controlPoint1Y</key>
					<real>522.46874321813539</real>
					<key>controlPoint2X</key>
					<real>117.04930779432769</real>
					<key>controlPoint2Y</key>
					<real>589.48889351292655</real>
					<key>dstPointX</key>
					<real>84.273475842711278</real>
					<key>dstPointY</key>
					<real>506.45019748952524</real>
					<key>srcPointX</key>
					<real>439.14072493270311</real>
					<key>srcPointY</key>
					<real>547.04523668664865</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>489.98770261701435</real>
					<key>controlPoint1Y</key>
					<real>464.1800017688754</real>
					<key>controlPoint2X</key>
					<real>363.57851463718248</real>
					<key>controlPoint2Y</key>
					<real>365.16491361355685</real>
					<key>dstPointX</key>
					<real>334.23136916308289</real>
					<key>dstPointY</key>
					<real>303.08159525417892</real>
					<key>srcPointX</key>
					<real>485.1497236812113</real>
					<key>srcPointY</key>
					<real>532.67954429148324</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>549.8168352666022</real>
					<key>controlPoint1Y</key>
					<real>475.30793926355494</real>
					<key>controlPoint2X</key>
					<real>581.7430556185991</real>
					<key>controlPoint2Y</key>
					<real>251.6732824854829</real>
					<key>dstPointX</key>
					<real>508.66136223336571</real>
					<key>dstPointY</key>
					<real>240.07866585522322</real>
					<key>srcPointX</key>
					<real>507.62243569034308</real>
					<key>srcPointY</key>
					<real>536.09446480380063</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>603.55737986101337</real>
					<key>controlPoint1Y</key>
					<real>441.62828672352748</real>
					<key>controlPoint2X</key>
					<real>676.59923250393308</real>
					<key>controlPoint2Y</key>
					<real>171.50711243161362</real>
					<key>dstPointX</key>
					<real>763.82988465401343</real>
					<key>dstPointY</key>
					<real>72.036970113481928</real>
					<key>srcPointX</key>
					<real>512.8519914700604</real>
					<key>srcPointY</key>
					<real>537.94042720521372</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>603.56534060447802</real>
					<key>controlPoint1Y</key>
					<real>537.43596209582631</real>
					<key>controlPoint2X</key>
					<real>772.03414297815505</real>
					<key>controlPoint2Y</key>
					<real>470.60073361818428</real>
					<key>dstPointX</key>
					<real>844.94844139593135</real>
					<key>dstPointY</key>
					<real>498.37963908573806</real>
					<key>srcPointX</key>
					<real>526.46548024846561</real>
					<key>srcPointY</key>
					<real>549.42654322499664</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>481.9140625</real>
			<key>y</key>
			<real>552.46484375</real>
		</dict>
		<key>Ready</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>616.00083379018872</real>
					<key>controlPoint1Y</key>
					<real>44.282833025279487</real>
					<key>controlPoint2X</key>
					<real>341.00554928537383</real>
					<key>controlPoint2Y</key>
					<real>35.775975728099091</real>
					<key>dstPointX</key>
					<real>216.54781391768049</real>
					<key>dstPointY</key>
					<real>83.355682162169472</real>
					<key>srcPointX</key>
					<real>748.78335751132158</real>
					<key>srcPointY</key>
					<real>55.344376834978391</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>948.15220026974862</real>
					<key>controlPoint1Y</key>
					<real>54.411369881120059</real>
					<key>controlPoint2X</key>
					<real>974.83033154819032</real>
					<key>controlPoint2Y</key>
					<real>398.75003566287324</real>
					<key>dstPointX</key>
					<real>912.55138190428386</real>
					<key>dstPointY</key>
					<real>489.03678619028221</real>
					<key>srcPointX</key>
					<real>838.49103398308364</real>
					<key>srcPointY</key>
					<real>56.600775781181468</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>800.7321734223583</real>
					<key>controlPoint1Y</key>
					<real>211.91705436344031</real>
					<key>controlPoint2X</key>
					<real>621.34256148450118</real>
					<key>controlPoint2Y</key>
					<real>454.31889294777454</real>
					<key>dstPointX</key>
					<real>516.82747701481321</real>
					<key>dstPointY</key>
					<real>539.83491748867004</real>
					<key>srcPointX</key>
					<real>795.30761966014484</real>
					<key>srcPointY</key>
					<real>76.983857738347723</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>793.45703125</real>
			<key>y</key>
			<real>57</real>
		</dict>
		<key>Set</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>819.40715058460955</real>
					<key>controlPoint1Y</key>
					<real>394.96506906659329</real>
					<key>controlPoint2X</key>
					<real>820.52657820795582</real>
					<key>controlPoint2Y</key>
					<real>178.96939425681524</real>
					<key>dstPointX</key>
					<real>801.66096391014798</real>
					<key>dstPointY</key>
					<real>76.668354820488787</real>
					<key>srcPointX</key>
					<real>866.58961728641304</real>
					<key>srcPointY</key>
					<real>487.67552645150579</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>763.0939298347289</real>
					<key>controlPoint1Y</key>
					<real>522.41528431273548</real>
					<key>controlPoint2X</key>
					<real>599.06777054429222</real>
					<key>controlPoint2Y</key>
					<real>589.15594283614746</real>
					<key>dstPointX</key>
					<real>523.91226460289363</real>
					<key>dstPointY</key>
					<real>559.7807824278633</real>
					<key>srcPointX</key>
					<real>842.63950714593375</real>
					<key>srcPointY</key>
					<real>508.85979640019048</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>887</real>
			<key>y</key>
			<real>505.3046875</real>
		</dict>
	</dict>
</dict>
</plist>
