<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Finished</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>102.81966646412988</real>
					<key>controlPoint1Y</key>
					<real>379.01264080862074</real>
					<key>controlPoint2X</key>
					<real>139.20208799711909</real>
					<key>controlPoint2Y</key>
					<real>198.72184240830711</real>
					<key>dstPointX</key>
					<real>162.85351671174627</real>
					<key>dstPointY</key>
					<real>109.9320254310547</real>
					<key>srcPointX</key>
					<real>78.775389538253734</real>
					<key>srcPointY</key>
					<real>467.69688081894532</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>67</real>
			<key>y</key>
			<real>487</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>129.53187630639871</real>
					<key>controlPoint1Y</key>
					<real>70.917908993746892</real>
					<key>controlPoint2X</key>
					<real>112.06760084597262</real>
					<key>controlPoint2Y</key>
					<real>79.815808266994793</real>
					<key>dstPointX</key>
					<real>131.33760726864702</real>
					<key>dstPointY</key>
					<real>85.169951753126554</real>
					<key>srcPointX</key>
					<real>110.29129898135297</real>
					<key>srcPointY</key>
					<real>65.458954496873446</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>67</real>
			<key>y</key>
			<real>60</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>347.44735519139874</real>
					<key>controlPoint1Y</key>
					<real>128.88536946075192</real>
					<key>controlPoint2X</key>
					<real>624.6266338567367</real>
					<key>controlPoint2Y</key>
					<real>106.21540736898547</real>
					<key>dstPointX</key>
					<real>750.99544054336525</real>
					<key>dstPointY</key>
					<real>63.400425940165682</real>
					<key>srcPointX</key>
					<real>218.26091149482858</real>
					<key>srcPointY</key>
					<real>95.522805063128047</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>174.45703125</real>
			<key>y</key>
			<real>90.45703125</real>
		</dict>
		<key>OurGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>570.39140065304787</real>
					<key>controlPoint1Y</key>
					<real>185.99672121885069</real>
					<key>controlPoint2X</key>
					<real>744.32831654315794</real>
					<key>controlPoint2Y</key>
					<real>146.34194170417135</real>
					<key>dstPointX</key>
					<real>775.5178463480089</real>
					<key>dstPointY</key>
					<real>75.223526705478719</real>
					<key>srcPointX</key>
					<real>504.08070454020788</real>
					<key>srcPointY</key>
					<real>226.41339231388935</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>465.04296875</real>
			<key>y</key>
			<real>237</real>
		</dict>
		<key>Penalised</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>293.7329255241184</real>
					<key>controlPoint1Y</key>
					<real>371.99369008691735</real>
					<key>controlPoint2X</key>
					<real>388.3189620880587</real>
					<key>controlPoint2Y</key>
					<real>502.99772520017098</real>
					<key>dstPointX</key>
					<real>445.1086089379225</real>
					<key>dstPointY</key>
					<real>541.40976566071947</real>
					<key>srcPointX</key>
					<real>306.57261599959514</real>
					<key>srcPointY</key>
					<real>304.64614974453355</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>315</real>
			<key>y</key>
			<real>285</real>
		</dict>
		<key>Play</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>353.31720737382199</real>
					<key>controlPoint1Y</key>
					<real>522.46874321813539</real>
					<key>controlPoint2X</key>
					<real>117.04930779432769</real>
					<key>controlPoint2Y</key>
					<real>589.48889351292655</real>
					<key>dstPointX</key>
					<real>84.273475842711278</real>
					<key>dstPointY</key>
					<real>506.45019748952524</real>
					<key>srcPointX</key>
					<real>439.14072493270311</real>
					<key>srcPointY</key>
					<real>547.04523668664865</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>489.98770261701435</real>
					<key>controlPoint1Y</key>
					<real>464.1800017688754</real>
					<key>controlPoint2X</key>
					<real>363.57851463718248</real>
					<key>controlPoint2Y</key>
					<real>365.16491361355685</real>
					<key>dstPointX</key>
					<real>334.23136916308289</real>
					<key>dstPointY</key>
					<real>303.08159525417892</real>
					<key>srcPointX</key>
					<real>485.1497236812113</real>
					<key>srcPointY</key>
					<real>532.67954429148324</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>549.8168352666022</real>
					<key>controlPoint1Y</key>
					<real>475.30793926355494</real>
					<key>controlPoint2X</key>
					<real>581.7430556185991</real>
					<key>controlPoint2Y</key>
					<real>251.6732824854829</real>
					<key>dstPointX</key>
					<real>508.66136223336571</real>
					<key>dstPointY</key>
					<real>240.07866585522322</real>
					<key>srcPointX</key>
					<real>507.62243569034308</real>
					<key>srcPointY</key>
					<real>536.09446480380063</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>635.53569925926763</real>
					<key>controlPoint1Y</key>
					<real>473.38497748045069</real>
					<key>controlPoint2X</key>
					<real>760.45724788019277</real>
					<key>controlPoint2Y</key>
					<real>208.17427087159479</real>
					<key>dstPointX</key>
					<real>785.19794808627807</real>
					<key>dstPointY</key>
					<real>76.6198776845754</real>
					<key>srcPointX</key>
					<real>520.71189795545399</real>
					<key>srcPointY</key>
					<real>542.19017545004158</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>481.9140625</real>
			<key>y</key>
			<real>552.46484375</real>
		</dict>
		<key>Ready</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>616.00083379018872</real>
					<key>controlPoint1Y</key>
					<real>44.282833025279487</real>
					<key>controlPoint2X</key>
					<real>341.00554928537383</real>
					<key>controlPoint2Y</key>
					<real>35.775975728099091</real>
					<key>dstPointX</key>
					<real>216.54781391768049</real>
					<key>dstPointY</key>
					<real>83.355682162169472</real>
					<key>srcPointX</key>
					<real>748.78335751132158</real>
					<key>srcPointY</key>
					<real>55.344376834978391</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>796.06111701469536</real>
					<key>controlPoint1Y</key>
					<real>184.42074374186114</real>
					<key>controlPoint2X</key>
					<real>951.49475770905656</real>
					<key>controlPoint2Y</key>
					<real>400.17823915246186</real>
					<key>dstPointX</key>
					<real>899.63772936960959</real>
					<key>dstPointY</key>
					<real>494.58745410231944</real>
					<key>srcPointX</key>
					<real>794.24733452965143</real>
					<key>srcPointY</key>
					<real>76.722269060259606</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>793.45703125</real>
			<key>y</key>
			<real>57</real>
		</dict>
		<key>Set</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>877.453125</real>
			<key>y</key>
			<real>512.40234375</real>
		</dict>
	</dict>
</dict>
</plist>
