<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Finished</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>102.82385502771383</real>
					<key>controlPoint1Y</key>
					<real>378.99719182758787</real>
					<key>controlPoint2X</key>
					<real>138.67614497228618</real>
					<key>controlPoint2Y</key>
					<real>198.50280817241213</real>
					<key>dstPointX</key>
					<real>162.72461046174627</real>
					<key>dstPointY</key>
					<real>109.8031191810547</real>
					<key>srcPointX</key>
					<real>78.775389538253734</real>
					<key>srcPointY</key>
					<real>467.69688081894532</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>67</real>
			<key>y</key>
			<real>487</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>129.53187630639871</real>
					<key>controlPoint1Y</key>
					<real>70.917908993746892</real>
					<key>controlPoint2X</key>
					<real>111.96812369360126</real>
					<key>controlPoint2Y</key>
					<real>79.582091006253123</real>
					<key>dstPointX</key>
					<real>131.20870101864702</real>
					<key>dstPointY</key>
					<real>85.041045503126554</real>
					<key>srcPointX</key>
					<real>110.29129898135297</real>
					<key>srcPointY</key>
					<real>65.458954496873446</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>67</real>
			<key>y</key>
			<real>60</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>347.49953158192898</real>
					<key>controlPoint1Y</key>
					<real>128.04197572601169</real>
					<key>controlPoint2X</key>
					<real>624.45964635188932</real>
					<key>controlPoint2Y</key>
					<real>106.09881557772793</real>
					<key>dstPointX</key>
					<real>750.86653429336525</real>
					<key>dstPointY</key>
					<real>63.400425940165682</real>
					<key>srcPointX</key>
					<real>218.13200524482858</real>
					<key>srcPointY</key>
					<real>95.393898813128047</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>174.45703125</real>
			<key>y</key>
			<real>90.45703125</real>
		</dict>
		<key>OurGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>570.53122477458044</real>
					<key>controlPoint1Y</key>
					<real>186.12296320793325</real>
					<key>controlPoint2X</key>
					<real>744.03496383299728</real>
					<key>controlPoint2Y</key>
					<real>146.20805552273077</real>
					<key>dstPointX</key>
					<real>775.3889400980089</real>
					<key>dstPointY</key>
					<real>75.223526705478719</real>
					<key>srcPointX</key>
					<real>504.20961079020788</real>
					<key>srcPointY</key>
					<real>226.41339231388935</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>465.04296875</real>
			<key>y</key>
			<real>237</real>
		</dict>
		<key>Penalised</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>293.74327926363651</real>
					<key>controlPoint1Y</key>
					<real>371.93938201062645</real>
					<key>controlPoint2X</key>
					<real>388.15155002611573</real>
					<key>controlPoint2Y</key>
					<real>502.85736665307525</real>
					<key>dstPointX</key>
					<real>444.8507964379225</real>
					<key>dstPointY</key>
					<real>541.30429691071947</real>
					<key>srcPointX</key>
					<real>306.57261599959514</real>
					<key>srcPointY</key>
					<real>304.64614974453355</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>315</real>
			<key>y</key>
			<real>285</real>
		</dict>
		<key>Play</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>353.21032688343422</real>
					<key>controlPoint1Y</key>
					<real>522.08167016160871</real>
					<key>controlPoint2X</key>
					<real>117.02469871517877</real>
					<key>controlPoint2Y</key>
					<real>589.42654556563787</real>
					<key>dstPointX</key>
					<real>84.273475842711278</real>
					<key>dstPointY</key>
					<real>506.45019748952524</real>
					<key>srcPointX</key>
					<real>438.88291243270311</real>
					<key>srcPointY</key>
					<real>546.93976793664865</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>489.30850269833076</real>
					<key>controlPoint1Y</key>
					<real>464.10360992396051</real>
					<key>controlPoint2X</key>
					<real>363.55397653975848</real>
					<key>controlPoint2Y</key>
					<real>365.11300374328857</real>
					<key>dstPointX</key>
					<real>334.23136916308289</real>
					<key>dstPointY</key>
					<real>303.08159525417892</real>
					<key>srcPointX</key>
					<real>484.8919111812113</real>
					<key>srcPointY</key>
					<real>532.57407554148324</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>549.07409588476287</real>
					<key>controlPoint1Y</key>
					<real>474.90009905194353</real>
					<key>controlPoint2X</key>
					<real>581.85163289160778</real>
					<key>controlPoint2Y</key>
					<real>251.63593543571275</real>
					<key>dstPointX</key>
					<real>508.79026848336571</real>
					<key>dstPointY</key>
					<real>240.07866585522322</real>
					<key>srcPointX</key>
					<real>507.36462319034308</real>
					<key>srcPointY</key>
					<real>535.98899605380063</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>634.75522141342685</real>
					<key>controlPoint1Y</key>
					<real>472.42813723034186</real>
					<key>controlPoint2X</key>
					<real>759.95892358155288</real>
					<key>controlPoint2Y</key>
					<real>208.09713546250379</real>
					<key>dstPointX</key>
					<real>785.06904183627807</real>
					<key>dstPointY</key>
					<real>76.6198776845754</real>
					<key>srcPointX</key>
					<real>520.45408545545399</real>
					<key>srcPointY</key>
					<real>542.08470670004158</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>481.9140625</real>
			<key>y</key>
			<real>552.46484375</real>
		</dict>
		<key>Ready</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>615.8704225539492</real>
					<key>controlPoint1Y</key>
					<real>44.314503857033962</real>
					<key>controlPoint2X</key>
					<real>340.53738978419585</real>
					<key>controlPoint2Y</key>
					<real>34.772067423085034</real>
					<key>dstPointX</key>
					<real>216.41890766768049</real>
					<key>dstPointY</key>
					<real>83.226775912169472</real>
					<key>srcPointX</key>
					<real>748.65445126132158</real>
					<key>srcPointY</key>
					<real>55.344376834978391</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>795.61842250452878</real>
					<key>controlPoint1Y</key>
					<real>184.35383119421874</real>
					<key>controlPoint2X</key>
					<real>950.42320580146475</real>
					<key>controlPoint2Y</key>
					<real>399.4612878789485</real>
					<key>dstPointX</key>
					<real>899.49710436960959</real>
					<key>dstPointY</key>
					<real>494.29448535231944</real>
					<key>srcPointX</key>
					<real>794.11842827965143</real>
					<key>srcPointY</key>
					<real>76.722269060259606</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>793.45703125</real>
			<key>y</key>
			<real>57</real>
		</dict>
		<key>Set</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>754.67585055802851</real>
					<key>controlPoint1Y</key>
					<real>517.46095027940362</real>
					<key>controlPoint2X</key>
					<real>601.74073650529476</real>
					<key>controlPoint2Y</key>
					<real>534.53262156245455</real>
					<key>dstPointX</key>
					<real>526.28679112237614</real>
					<key>dstPointY</key>
					<real>548.78270417127635</real>
					<key>srcPointX</key>
					<real>831.3637945717453</real>
					<key>srcPointY</key>
					<real>513.54662132596036</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>877.453125</real>
			<key>y</key>
			<real>512.40234375</real>
		</dict>
	</dict>
</dict>
</plist>
