<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Ping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>146.62750174690737</real>
					<key>controlPoint1Y</key>
					<real>33.424491919754281</real>
					<key>controlPoint2X</key>
					<real>215.93894625439208</real>
					<key>controlPoint2Y</key>
					<real>29.572224478463184</real>
					<key>dstPointX</key>
					<real>234.53026398472522</real>
					<key>dstPointY</key>
					<real>49.789908766245674</real>
					<key>srcPointX</key>
					<real>125.15067835053266</real>
					<key>srcPointY</key>
					<real>50.54576260015584</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>89.546875</real>
			<key>y</key>
			<real>62.58984375</real>
		</dict>
		<key>Pong</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>201.67393995065592</real>
					<key>controlPoint1Y</key>
					<real>78.631037721321292</real>
					<key>controlPoint2X</key>
					<real>151.3807864912591</real>
					<key>controlPoint2Y</key>
					<real>83.020514357691255</real>
					<key>dstPointX</key>
					<real>130.50166282954905</real>
					<key>dstPointY</key>
					<real>72.269169932886214</real>
					<key>srcPointX</key>
					<real>223.95757649832706</real>
					<key>srcPointY</key>
					<real>71.21694613616657</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>266</real>
			<key>y</key>
			<real>64.7421875</real>
		</dict>
	</dict>
</dict>
</plist>
