<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Ping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>148.7630676136628</real>
					<key>controlPoint1Y</key>
					<real>29.442117199637771</real>
					<key>controlPoint2X</key>
					<real>229.24274932848257</real>
					<key>controlPoint2Y</key>
					<real>30.534741634835868</real>
					<key>dstPointX</key>
					<real>251.53026398472522</real>
					<key>dstPointY</key>
					<real>53.246940016245674</real>
					<key>srcPointX</key>
					<real>124.24442835053266</real>
					<key>srcPointY</key>
					<real>49.72545010015584</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>89.546875</real>
			<key>y</key>
			<real>62.58984375</real>
		</dict>
		<key>Pong</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>214.96770466039158</real>
					<key>controlPoint1Y</key>
					<real>84.652331604053629</real>
					<key>controlPoint2X</key>
					<real>154.47418454559519</real>
					<key>controlPoint2Y</key>
					<real>83.942364104385589</real>
					<key>dstPointX</key>
					<real>129.59541282954905</real>
					<key>dstPointY</key>
					<real>71.448857432886214</real>
					<key>srcPointX</key>
					<real>240.95757649832706</real>
					<key>srcPointY</key>
					<real>74.67397738616657</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>283</real>
			<key>y</key>
			<real>67.45703125</real>
		</dict>
	</dict>
</dict>
</plist>
