<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Ping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>148.65171513405153</real>
					<key>controlPoint1Y</key>
					<real>32.249519078150072</real>
					<key>controlPoint2X</key>
					<real>207.41882080020633</real>
					<key>controlPoint2Y</key>
					<real>24.180002078126005</real>
					<key>dstPointX</key>
					<real>227.03026398472522</real>
					<key>dstPointY</key>
					<real>46.547721266245674</real>
					<key>srcPointX</key>
					<real>125.05692835053266</real>
					<key>srcPointY</key>
					<real>50.36607510015584</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>89.546875</real>
			<key>y</key>
			<real>62.58984375</real>
		</dict>
		<key>Pong</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>191.72516749307778</real>
					<key>controlPoint1Y</key>
					<real>75.221223198941729</real>
					<key>controlPoint2X</key>
					<real>153.20361076701641</real>
					<key>controlPoint2Y</key>
					<real>84.112770643947215</real>
					<key>dstPointX</key>
					<real>130.40791282954905</real>
					<key>dstPointY</key>
					<real>72.089482432886214</real>
					<key>srcPointX</key>
					<real>216.45757649832706</real>
					<key>srcPointY</key>
					<real>67.97475863616657</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>258.45703125</real>
			<key>y</key>
			<real>62.5</real>
		</dict>
	</dict>
</dict>
</plist>
