<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Button_Off</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>232.29483180416685</real>
					<key>controlPoint1Y</key>
					<real>228.71382460347027</real>
					<key>controlPoint2X</key>
					<real>332.23559615218966</real>
					<key>controlPoint2Y</key>
					<real>145.20416235329893</real>
					<key>dstPointX</key>
					<real>385.90148675479702</real>
					<key>dstPointY</key>
					<real>109.47681642450458</real>
					<key>srcPointX</key>
					<real>174.47627518266046</real>
					<key>srcPointY</key>
					<real>257.23549305909216</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>134.89194566922771</real>
					<key>controlPoint1Y</key>
					<real>214.39476484764839</real>
					<key>controlPoint2X</key>
					<real>119.28063703322152</real>
					<key>controlPoint2Y</key>
					<real>150.26528667485348</real>
					<key>dstPointX</key>
					<real>127.62521638021816</real>
					<key>dstPointY</key>
					<real>119.78059806610335</real>
					<key>srcPointX</key>
					<real>134.7302357247957</real>
					<key>srcPointY</key>
					<real>246.00049366292259</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>134.54296875</real>
			<key>y</key>
			<real>266</real>
		</dict>
		<key>Button_On</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>423.79503992156788</real>
					<key>controlPoint1Y</key>
					<real>150.41782523062949</real>
					<key>controlPoint2X</key>
					<real>425.66525486246485</real>
					<key>controlPoint2Y</key>
					<real>214.51197570362908</real>
					<key>dstPointX</key>
					<real>427.05205396485906</real>
					<key>dstPointY</key>
					<real>246.51874702704507</real>
					<key>srcPointX</key>
					<real>423.46328592214041</real>
					<key>srcPointY</key>
					<real>118.38274193771908</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>312.14306983511727</real>
					<key>controlPoint1Y</key>
					<real>113.44521252662838</real>
					<key>controlPoint2X</key>
					<real>175.62512801518378</real>
					<key>controlPoint2Y</key>
					<real>184.52379583736752</real>
					<key>dstPointX</key>
					<real>150.93168745305351</real>
					<key>dstPointY</key>
					<real>247.40358863132289</real>
					<key>srcPointX</key>
					<real>378.70583514535332</real>
					<key>srcPointY</key>
					<real>101.91123563829294</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>423</real>
			<key>y</key>
			<real>98.5390625</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>101.99100298360288</real>
					<key>controlPoint1Y</key>
					<real>64.109123204645357</real>
					<key>controlPoint2X</key>
					<real>96.091941972463502</real>
					<key>controlPoint2Y</key>
					<real>70.787375106070684</real>
					<key>dstPointX</key>
					<real>109.46602464140534</real>
					<key>dstPointY</key>
					<real>85.657947144977243</real>
					<key>srcPointX</key>
					<real>88.50272535859466</real>
					<key>srcPointY</key>
					<real>49.342052855022764</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>57.88671875</real>
			<key>y</key>
			<real>34.5</real>
		</dict>
		<key>Long_Press</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>332.94615525951087</real>
					<key>controlPoint1Y</key>
					<real>260.36451108922586</real>
					<key>controlPoint2X</key>
					<real>230.17359602576181</real>
					<key>controlPoint2Y</key>
					<real>269.28210216794554</real>
					<key>dstPointX</key>
					<real>178.98029279725057</real>
					<key>dstPointY</key>
					<real>266.91434352949784</real>
					<key>srcPointX</key>
					<real>384.00419923719915</real>
					<key>srcPointY</key>
					<real>264.77322083116803</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>429</real>
			<key>y</key>
			<real>266.5</real>
		</dict>
		<key>Zero</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>232.98491447857072</real>
					<key>controlPoint1Y</key>
					<real>100.83495015817853</real>
					<key>controlPoint2X</key>
					<real>329.64621621246204</real>
					<key>controlPoint2Y</key>
					<real>97.763865515430538</real>
					<key>dstPointX</key>
					<real>378.0005424188264</real>
					<key>dstPointY</key>
					<real>98.28461401100671</real>
					<key>srcPointX</key>
					<real>184.62836383117363</real>
					<key>srcPointY</key>
					<real>100.59819848899329</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>139.45703125</real>
			<key>y</key>
			<real>100.5</real>
		</dict>
	</dict>
</dict>
</plist>
