<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Button_Off</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>234.13192413687014</real>
					<key>controlPoint1Y</key>
					<real>228.15569080247496</real>
					<key>controlPoint2X</key>
					<real>498.10172798381353</real>
					<key>controlPoint2Y</key>
					<real>169.49029719063401</real>
					<key>dstPointX</key>
					<real>534.10260451955037</real>
					<key>dstPointY</key>
					<real>114.04277973598862</real>
					<key>srcPointX</key>
					<real>174.76143143266046</real>
					<key>srcPointY</key>
					<real>257.23549305909216</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>135.37889266400904</real>
					<key>controlPoint1Y</key>
					<real>214.26323724608369</real>
					<key>controlPoint2X</key>
					<real>118.56275144847751</real>
					<key>controlPoint2Y</key>
					<real>149.78214605837221</real>
					<key>dstPointX</key>
					<real>127.34006013021816</real>
					<key>dstPointY</key>
					<real>119.28059806610335</real>
					<key>srcPointX</key>
					<real>135.0153919747957</real>
					<key>srcPointY</key>
					<real>246.00049366292259</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>134.54296875</real>
			<key>y</key>
			<real>266</real>
		</dict>
		<key>Button_On</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>559.7879823382998</real>
					<key>controlPoint1Y</key>
					<real>149.02148217373178</real>
					<key>controlPoint2X</key>
					<real>561.70754175734191</real>
					<key>controlPoint2Y</key>
					<real>212.71144238981211</real>
					<key>dstPointX</key>
					<real>563.05205396485906</real>
					<key>dstPointY</key>
					<real>244.51874702704507</real>
					<key>srcPointX</key>
					<real>559.46328592214036</real>
					<key>srcPointY</key>
					<real>117.18742943771908</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>448.42270651030145</real>
					<key>controlPoint1Y</key>
					<real>113.22731775220664</real>
					<key>controlPoint2X</key>
					<real>176.24276331757804</real>
					<key>controlPoint2Y</key>
					<real>184.7642121634552</real>
					<key>dstPointX</key>
					<real>151.21684370305351</real>
					<key>dstPointY</key>
					<real>247.40358863132289</real>
					<key>srcPointX</key>
					<real>514.70583514535338</real>
					<key>srcPointY</key>
					<real>100.71592313829294</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>558.8046875</real>
			<key>y</key>
			<real>96.8046875</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>102.94073374477871</real>
					<key>controlPoint1Y</key>
					<real>63.249643013526516</real>
					<key>controlPoint2X</key>
					<real>95.98257819219188</real>
					<key>controlPoint2Y</key>
					<real>70.131133250563508</real>
					<key>dstPointX</key>
					<real>109.18086839140534</real>
					<key>dstPointY</key>
					<real>85.157947144977243</real>
					<key>srcPointX</key>
					<real>89.06913160859466</real>
					<key>srcPointY</key>
					<real>48.842052855022764</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>57.88671875</real>
			<key>y</key>
			<real>34.5</real>
		</dict>
		<key>Long_Press</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>469.14034524213969</real>
					<key>controlPoint1Y</key>
					<real>257.10956379304776</real>
					<key>controlPoint2X</key>
					<real>230.38969469486614</real>
					<key>controlPoint2Y</key>
					<real>269.26384586795945</real>
					<key>dstPointX</key>
					<real>179.26544904725057</real>
					<key>dstPointY</key>
					<real>266.91434352949784</real>
					<key>srcPointX</key>
					<real>520.00419923719915</real>
					<key>srcPointY</key>
					<real>262.77322083116803</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>564.8046875</real>
			<key>y</key>
			<real>264.8046875</real>
		</dict>
		<key>Zero</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>232.75983943891552</real>
					<key>controlPoint1Y</key>
					<real>99.122103713503975</real>
					<key>controlPoint2X</key>
					<real>465.57455511054468</real>
					<key>controlPoint2Y</key>
					<real>97.305529809299998</real>
					<key>dstPointX</key>
					<real>514.0005424188264</real>
					<key>dstPointY</key>
					<real>97.08930151100671</real>
					<key>srcPointX</key>
					<real>184.34320758117363</real>
					<key>srcPointY</key>
					<real>100.09819848899329</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>139.45703125</real>
			<key>y</key>
			<real>100.5</real>
		</dict>
	</dict>
</dict>
</plist>
