<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Button_Off</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>251.19744850905488</real>
					<key>controlPoint1Y</key>
					<real>270.6432480421044</real>
					<key>controlPoint2X</key>
					<real>425.90665013691364</real>
					<key>controlPoint2Y</key>
					<real>151.50196853509885</real>
					<key>dstPointX</key>
					<real>513.54601800479702</real>
					<key>dstPointY</key>
					<real>93.094003924504577</real>
					<key>srcPointX</key>
					<real>156.32002518266046</real>
					<key>srcPointY</key>
					<real>316.36439930909216</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>116</real>
			<key>y</key>
			<real>324.95703125</real>
		</dict>
		<key>Button_On</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>551.23011283926724</real>
					<key>controlPoint1Y</key>
					<real>153.04268538441818</real>
					<key>controlPoint2X</key>
					<real>556.84252464361168</real>
					<key>controlPoint2Y</key>
					<real>255.02368970731027</real>
					<key>dstPointX</key>
					<real>559.05205396485906</real>
					<key>dstPointY</key>
					<real>306.01874702704504</real>
					<key>srcPointX</key>
					<real>551.10781717214036</real>
					<key>srcPointY</key>
					<real>101.99992943771908</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>551.046875</real>
			<key>y</key>
			<real>82</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>245.69676024428742</real>
					<key>controlPoint1Y</key>
					<real>84.739792399572693</real>
					<key>controlPoint2X</key>
					<real>419.52015349704095</real>
					<key>controlPoint2Y</key>
					<real>74.06451066396572</real>
					<key>dstPointX</key>
					<real>506.11264912873855</real>
					<key>dstPointY</key>
					<real>80.514089764457353</real>
					<key>srcPointX</key>
					<real>158.87045601665659</real>
					<key>srcPointY</key>
					<real>85.764616516170307</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>118.79950931686894</real>
					<key>controlPoint1Y</key>
					<real>155.58690099687317</real>
					<key>controlPoint2X</key>
					<real>111.70182438363642</real>
					<key>controlPoint2Y</key>
					<real>255.39234294847958</real>
					<key>dstPointX</key>
					<real>113.96683199269209</real>
					<key>dstPointY</key>
					<real>305.1493303682247</real>
					<key>srcPointX</key>
					<real>116.27013711483633</real>
					<key>srcPointY</key>
					<real>105.84265175315315</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>114</real>
			<key>y</key>
			<real>86.04296875</real>
		</dict>
		<key>Wait_Release</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>427.53729405696043</real>
					<key>controlPoint1Y</key>
					<real>316.63436755120239</real>
					<key>controlPoint2X</key>
					<real>249.49862741965916</real>
					<key>controlPoint2Y</key>
					<real>330.68689421522788</real>
					<key>dstPointX</key>
					<real>160.82404279725057</real>
					<key>dstPointY</key>
					<real>326.04324977949784</real>
					<key>srcPointX</key>
					<real>516.00419923719915</real>
					<key>srcPointY</key>
					<real>324.27322083116803</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>561</real>
			<key>y</key>
			<real>326</real>
		</dict>
	</dict>
</dict>
</plist>
