<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>290.83746742559083</real>
					<key>controlPoint1Y</key>
					<real>406.88522263895004</real>
					<key>controlPoint2X</key>
					<real>431.82758748884362</real>
					<key>controlPoint2Y</key>
					<real>349.52786220484307</real>
					<key>dstPointX</key>
					<real>506.05359693833265</real>
					<key>dstPointY</key>
					<real>336.4431056612338</real>
					<key>srcPointX</key>
					<real>218.564584513678</real>
					<key>srcPointY</key>
					<real>428.27077215730696</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>292.42662772935688</real>
					<key>controlPoint1Y</key>
					<real>429.53893715870043</real>
					<key>controlPoint2X</key>
					<real>435.78550586599903</real>
					<key>controlPoint2Y</key>
					<real>406.36049193436764</real>
					<key>dstPointX</key>
					<real>507.3264052048458</real>
					<key>dstPointY</key>
					<real>395.90244800785024</real>
					<key>srcPointX</key>
					<real>220.20965805615074</real>
					<key>srcPointY</key>
					<real>433.02895896367482</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>292.18590872071229</real>
					<key>controlPoint1Y</key>
					<real>449.49043191175122</real>
					<key>controlPoint2X</key>
					<real>440.12344595209305</real>
					<key>controlPoint2Y</key>
					<real>464.28587265577875</real>
					<key>dstPointX</key>
					<real>513.78543508321548</real>
					<key>dstPointY</key>
					<real>462.47274985473518</real>
					<key>srcPointX</key>
					<real>219.51453469724575</real>
					<key>srcPointY</key>
					<real>437.31474077791034</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>289.78040806566895</real>
					<key>controlPoint1Y</key>
					<real>469.53633567309333</real>
					<key>controlPoint2X</key>
					<real>439.31292939315989</real>
					<key>controlPoint2Y</key>
					<real>521.46015906916966</real>
					<key>dstPointX</key>
					<real>516.98796971537126</real>
					<key>dstPointY</key>
					<real>529.87970586229858</real>
					<key>srcPointX</key>
					<real>216.95303161335352</real>
					<key>srcPointY</key>
					<real>441.24368828315158</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>263.44603489763352</real>
					<key>controlPoint1Y</key>
					<real>514.19340686019655</real>
					<key>controlPoint2X</key>
					<real>432.5212080728067</real>
					<key>controlPoint2Y</key>
					<real>616.6501010201971</real>
					<key>dstPointX</key>
					<real>519.3761819004103</real>
					<key>dstPointY</key>
					<real>604.72339190359753</real>
					<key>srcPointX</key>
					<real>204.96759031369746</real>
					<key>srcPointY</key>
					<real>448.87645356329813</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>175.3046875</real>
			<key>y</key>
			<real>434</real>
		</dict>
		<key>Delay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>208.09754742469323</real>
					<key>controlPoint1Y</key>
					<real>315.02843432533285</real>
					<key>controlPoint2X</key>
					<real>180.59232120515352</real>
					<key>controlPoint2Y</key>
					<real>379.83643919818792</real>
					<key>dstPointX</key>
					<real>178.20228837446518</real>
					<key>dstPointY</key>
					<real>413.78436760958482</real>
					<key>srcPointX</key>
					<real>208.48615259691283</real>
					<key>srcPointY</key>
					<real>280.99869606043842</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>209</real>
			<key>y</key>
			<real>261</real>
		</dict>
		<key>Done</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>743.86900663589142</real>
					<key>controlPoint1Y</key>
					<real>283.20825946716349</real>
					<key>controlPoint2X</key>
					<real>379.93111159920204</real>
					<key>controlPoint2Y</key>
					<real>255.16061758836361</real>
					<key>dstPointX</key>
					<real>253.96402667205984</real>
					<key>dstPointY</key>
					<real>260.20045624932561</real>
					<key>srcPointX</key>
					<real>735.86112008742555</real>
					<key>srcPointY</key>
					<real>409.02153464827177</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>732.9140625</real>
			<key>y</key>
			<real>429</real>
		</dict>
		<key>FallingBack</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>619.15301193986102</real>
					<key>controlPoint1Y</key>
					<real>404.38667810254339</real>
					<key>controlPoint2X</key>
					<real>664.03873537356344</real>
					<key>controlPoint2Y</key>
					<real>427.60172570256077</real>
					<key>dstPointX</key>
					<real>688.41516986409374</real>
					<key>dstPointY</key>
					<real>428.3730193239773</real>
					<key>srcPointX</key>
					<real>595.57905129894039</real>
					<key>srcPointY</key>
					<real>398.13577160653188</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>552</real>
			<key>y</key>
			<real>393</real>
		</dict>
		<key>FallingLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>627.68364343287635</real>
					<key>controlPoint1Y</key>
					<real>505.39376530869299</real>
					<key>controlPoint2X</key>
					<real>677.71638404762359</real>
					<key>controlPoint2Y</key>
					<real>465.06572681609589</real>
					<key>dstPointX</key>
					<real>700.64619188707422</real>
					<key>dstPointY</key>
					<real>442.90018978791437</real>
					<key>srcPointX</key>
					<real>600.25061683696401</real>
					<key>srcPointY</key>
					<real>521.65771842870004</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>560.95703125</real>
			<key>y</key>
			<real>532</real>
		</dict>
		<key>FallingRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>626.11033181585401</real>
					<key>controlPoint1Y</key>
					<real>457.01154299947109</real>
					<key>controlPoint2X</key>
					<real>670.91745782755629</real>
					<key>controlPoint2Y</key>
					<real>446.10281096744393</real>
					<key>dstPointX</key>
					<real>691.92085032785837</real>
					<key>dstPointY</key>
					<real>436.95329996513414</real>
					<key>srcPointX</key>
					<real>603.35072230085325</real>
					<key>srcPointY</key>
					<real>459.62998200540886</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>556.6953125</real>
			<key>y</key>
			<real>462</real>
		</dict>
		<key>Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>625.00067718439504</real>
					<key>controlPoint1Y</key>
					<real>344.69367500027238</real>
					<key>controlPoint2X</key>
					<real>664.27606478529799</real>
					<key>controlPoint2Y</key>
					<real>405.92736492424262</real>
					<key>dstPointX</key>
					<real>693.34836925149693</real>
					<key>dstPointY</key>
					<real>420.29230891121369</real>
					<key>srcPointX</key>
					<real>593.39663274189377</real>
					<key>srcPointY</key>
					<real>337.43179662063852</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>333.0859375</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>179.05891954848869</real>
					<key>controlPoint1Y</key>
					<real>197.97025103815835</real>
					<key>controlPoint2X</key>
					<real>201.19231334225475</real>
					<key>controlPoint2Y</key>
					<real>221.34873140402971</real>
					<key>dstPointX</key>
					<real>203.59954154601002</real>
					<key>dstPointY</key>
					<real>241.203334204767</real>
					<key>srcPointX</key>
					<real>180.94274512285853</real>
					<key>srcPointY</key>
					<real>178.05916866664097</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>185</real>
			<key>y</key>
			<real>159.0859375</real>
		</dict>
		<key>StandingUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>628.31988614062141</real>
					<key>controlPoint1Y</key>
					<real>553.85146334397371</real>
					<key>controlPoint2X</key>
					<real>711.81088933777676</real>
					<key>controlPoint2Y</key>
					<real>494.40470126993091</real>
					<key>dstPointX</key>
					<real>722.60845926031152</real>
					<key>dstPointY</key>
					<real>448.59448152381873</real>
					<key>srcPointX</key>
					<real>595.51044095973714</real>
					<key>srcPointY</key>
					<real>587.59615264972467</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>564.04296875</real>
			<key>y</key>
			<real>602</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
