<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>CheckStance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>467.05629101086134</real>
					<key>controlPoint1Y</key>
					<real>315.11549836025961</real>
					<key>controlPoint2X</key>
					<real>465.55655258655241</real>
					<key>controlPoint2Y</key>
					<real>262.36331193874236</real>
					<key>dstPointX</key>
					<real>466.4598070355799</real>
					<key>dstPointY</key>
					<real>235.98828202714066</real>
					<key>srcPointX</key>
					<real>465.5831617144201</real>
					<key>srcPointY</key>
					<real>341.46484297285934</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>386.51917662137237</real>
					<key>controlPoint1Y</key>
					<real>393.93972323339892</real>
					<key>controlPoint2X</key>
					<real>521.94381191563468</real>
					<key>controlPoint2Y</key>
					<real>465.80856053411725</real>
					<key>dstPointX</key>
					<real>560.36285873331497</real>
					<key>dstPointY</key>
					<real>488.74718284073214</real>
					<key>srcPointX</key>
					<real>425.30869169025152</real>
					<key>srcPointY</key>
					<real>371.63328756057496</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>462.63671875</real>
			<key>y</key>
			<real>362.078125</real>
		</dict>
		<key>ResumeSensing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>706.1698175693416</real>
					<key>controlPoint1Y</key>
					<real>362.00000000000006</real>
					<key>controlPoint2X</key>
					<real>574.84965609392452</real>
					<key>controlPoint2Y</key>
					<real>359.69448357187269</real>
					<key>dstPointX</key>
					<real>509.04296875</real>
					<key>dstPointY</key>
					<real>361.453125</real>
					<key>srcPointX</key>
					<real>772</real>
					<key>srcPointY</key>
					<real>362</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>817</real>
			<key>y</key>
			<real>362</real>
		</dict>
		<key>RunGetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>812.14961727182197</real>
					<key>controlPoint1Y</key>
					<real>260.84322155752204</real>
					<key>controlPoint2X</key>
					<real>813.57773216463806</real>
					<key>controlPoint2Y</key>
					<real>315.10407890050851</real>
					<key>dstPointX</key>
					<real>814.8595682763048</real>
					<key>dstPointY</key>
					<real>342.02263724551125</real>
					<key>srcPointX</key>
					<real>811.3162129736952</real>
					<key>srcPointY</key>
					<real>233.90705025448875</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>810.33203125</real>
			<key>y</key>
			<real>215.3671875</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>819</real>
			<key>y</key>
			<real>527</real>
		</dict>
		<key>StopSensing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>575.877838556548</real>
					<key>controlPoint1Y</key>
					<real>215.75766682623879</real>
					<key>controlPoint2X</key>
					<real>701.37513151978828</real>
					<key>controlPoint2Y</key>
					<real>210.8681015653917</real>
					<key>dstPointX</key>
					<real>764.17597361564867</real>
					<key>dstPointY</key>
					<real>213.98816678217588</real>
					<key>srcPointX</key>
					<real>512.99980763435133</real>
					<key>srcPointY</key>
					<real>215.94152071782412</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>468</real>
			<key>y</key>
			<real>216</real>
		</dict>
		<key>Wait_Unwobble</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>677.17432153234915</real>
					<key>controlPoint1Y</key>
					<real>490.42604712048285</real>
					<key>controlPoint2X</key>
					<real>741.46114384054488</real>
					<key>controlPoint2Y</key>
					<real>540.37254441574134</real>
					<key>dstPointX</key>
					<real>774.2967014324347</real>
					<key>dstPointY</key>
					<real>532.0411552870321</real>
					<key>srcPointX</key>
					<real>643.72785288934676</real>
					<key>srcPointY</key>
					<real>495.80374388554344</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>599</real>
			<key>y</key>
			<real>499</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
