<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>CheckStance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>465.64654249652415</real>
					<key>controlPoint1Y</key>
					<real>315.27314816709981</real>
					<key>controlPoint2X</key>
					<real>465.55447404715824</real>
					<key>controlPoint2Y</key>
					<real>262.42400528905273</real>
					<key>dstPointX</key>
					<real>466.4598070355799</real>
					<key>dstPointY</key>
					<real>235.98828202714066</real>
					<key>srcPointX</key>
					<real>464.4933179644201</real>
					<key>srcPointY</key>
					<real>341.69921797285934</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>391.26049434808164</real>
					<key>controlPoint1Y</key>
					<real>390.98279526105125</real>
					<key>controlPoint2X</key>
					<real>348.15852320793806</real>
					<key>controlPoint2Y</key>
					<real>460.23395033016237</real>
					<key>dstPointX</key>
					<real>314.34568315828102</real>
					<key>dstPointY</key>
					<real>477.79336995154006</real>
					<key>srcPointX</key>
					<real>424.21884794025152</real>
					<key>srcPointY</key>
					<real>371.86766256057496</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>462.63671875</real>
			<key>y</key>
			<real>362.078125</real>
		</dict>
		<key>ResumeSensing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>706.02243491935121</real>
					<key>controlPoint1Y</key>
					<real>362.00000000000006</real>
					<key>controlPoint2X</key>
					<real>573.92279737443459</real>
					<key>controlPoint2Y</key>
					<real>360.66699973982486</real>
					<key>dstPointX</key>
					<real>507.953125</real>
					<key>dstPointY</key>
					<real>361.6875</real>
					<key>srcPointX</key>
					<real>772</real>
					<key>srcPointY</key>
					<real>362</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>817</real>
			<key>y</key>
			<real>362</real>
		</dict>
		<key>RunGetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>813.41768699142722</real>
					<key>controlPoint1Y</key>
					<real>261.7811118255928</real>
					<key>controlPoint2X</key>
					<real>813.58504541105424</real>
					<key>controlPoint2Y</key>
					<real>315.25765707524931</real>
					<key>dstPointX</key>
					<real>814.8595682763048</real>
					<key>dstPointY</key>
					<real>342.02263724551125</real>
					<key>srcPointX</key>
					<real>812.3123067236952</real>
					<key>srcPointY</key>
					<real>235.00861275448875</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>810.33203125</real>
			<key>y</key>
			<real>215.3671875</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>819.0390625</real>
			<key>y</key>
			<real>527</real>
		</dict>
		<key>StopSensing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>576.00109192655441</real>
					<key>controlPoint1Y</key>
					<real>215.75730643626801</real>
					<key>controlPoint2X</key>
					<real>702.18357427450474</real>
					<key>controlPoint2Y</key>
					<real>213.80696060644215</real>
					<key>dstPointX</key>
					<real>765.17206736564867</real>
					<key>dstPointY</key>
					<real>215.08972928217588</real>
					<key>srcPointX</key>
					<real>512.99980763435133</real>
					<key>srcPointY</key>
					<real>215.94152071782412</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>468</real>
			<key>y</key>
			<real>216</real>
		</dict>
		<key>Wait_Unwobble</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>677.44011392145933</real>
					<key>controlPoint1Y</key>
					<real>490.38331164110082</real>
					<key>controlPoint2X</key>
					<real>742.32830162588141</real>
					<key>controlPoint2Y</key>
					<real>540.63329284550639</real>
					<key>dstPointX</key>
					<real>775.3748264324347</real>
					<key>dstPointY</key>
					<real>532.0411552870321</real>
					<key>srcPointX</key>
					<real>643.72785288934676</real>
					<key>srcPointY</key>
					<real>495.80374388554344</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>599</real>
			<key>y</key>
			<real>499</real>
		</dict>
		<key>WalkEngineStance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>381.44939768786418</real>
					<key>controlPoint1Y</key>
					<real>494.76069195875829</real>
					<key>controlPoint2X</key>
					<real>499.70066393116986</real>
					<key>controlPoint2Y</key>
					<real>518.52810778434787</real>
					<key>dstPointX</key>
					<real>556.03326299700439</real>
					<key>dstPointY</key>
					<real>503.94392747601114</real>
					<key>srcPointX</key>
					<real>323.76259746042052</real>
					<key>srcPointY</key>
					<real>487.12569933943371</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>42</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>148</real>
			<key>x</key>
			<real>254.63671875</real>
			<key>y</key>
			<real>484.765625</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
