<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Checker</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>507.5566981688447</real>
		    <key>controlPoint1Y</key>
		    <real>346.6830382513998</real>
		    <key>controlPoint2X</key>
		    <real>633.4360389753306</real>
		    <key>controlPoint2Y</key>
		    <real>347.1819965689738</real>
		    <key>dstPointX</key>
		    <real>701.6212454416641</real>
		    <key>dstPointY</key>
		    <real>329.1210183623001</real>
		    <key>srcPointX</key>
		    <real>439.4760881033761</real>
		    <key>srcPointY</key>
		    <real>328.2317009624095</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>417.3264826394025</real>
		    <key>controlPoint1Y</key>
		    <real>272.1498737379324</real>
		    <key>controlPoint2X</key>
		    <real>417.3216398376778</real>
		    <key>controlPoint2Y</key>
		    <real>224.1804218452793</real>
		    <key>dstPointX</key>
		    <real>409.2952590713286</real>
		    <key>dstPointY</key>
		    <real>192.3122906199994</real>
		    <key>srcPointX</key>
		    <real>408.3434666708677</real>
		    <key>srcPointY</key>
		    <real>303.7616753333354</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>156</real>
		    <key>controlPoint1Y</key>
		    <real>377</real>
		    <key>controlPoint2X</key>
		    <real>376.9162434734495</real>
		    <key>controlPoint2Y</key>
		    <real>439.6373181850302</real>
		    <key>dstPointX</key>
		    <real>387.8912916300685</real>
		    <key>dstPointY</key>
		    <real>476.5782264169476</real>
		    <key>srcPointX</key>
		    <real>385.5734795482136</real>
		    <key>srcPointY</key>
		    <real>342.4511850962894</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>396.04296875</real>
	    <key>y</key>
	    <real>323</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>FollowBall</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>630.7316792643371</real>
		    <key>controlPoint1Y</key>
		    <real>315.9121710068211</real>
		    <key>controlPoint2X</key>
		    <real>510.4897359319983</real>
		    <key>controlPoint2Y</key>
		    <real>315.4250265492361</real>
		    <key>dstPointX</key>
		    <real>440.8827815083319</real>
		    <key>dstPointY</key>
		    <real>321.3139678079469</real>
		    <key>srcPointX</key>
		    <real>700.303751562294</real>
		    <key>srcPointY</key>
		    <real>322.1998167868239</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>632.0338577697673</real>
		    <key>controlPoint1Y</key>
		    <real>369.2369700546135</real>
		    <key>controlPoint2X</key>
		    <real>513.7942672302327</real>
		    <key>controlPoint2Y</key>
		    <real>450.5130299453866</real>
		    <key>dstPointX</key>
		    <real>440.9776074725819</real>
		    <key>dstPointY</key>
		    <real>486.8247334298414</real>
		    <key>srcPointX</key>
		    <real>704.8505175274181</real>
		    <key>srcPointY</key>
		    <real>332.9252665701586</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>745.12109375</real>
	    <key>y</key>
	    <real>324</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>97.51953147759116</real>
		    <key>controlPoint1Y</key>
		    <real>140.9999311569094</real>
		    <key>controlPoint2X</key>
		    <real>97.48046852240886</real>
		    <key>controlPoint2Y</key>
		    <real>211.0000688430906</real>
		    <key>dstPointX</key>
		    <real>97.39257795736242</real>
		    <key>dstPointY</key>
		    <real>256.0000381468635</real>
		    <key>srcPointX</key>
		    <real>97.60742204263758</real>
		    <key>srcPointY</key>
		    <real>95.99996185313648</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.9222992081447964</real>
		<key>green</key>
		<real>0.9222992081447964</real>
		<key>red</key>
		<real>0.9222992081447964</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>97.6953125</real>
	    <key>y</key>
	    <real>76</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Kick</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>405.7208440881043</real>
		    <key>controlPoint1Y</key>
		    <real>437.6218305886038</real>
		    <key>controlPoint2X</key>
		    <real>405.5324987851378</real>
		    <key>controlPoint2Y</key>
		    <real>380.8542075597862</real>
		    <key>dstPointX</key>
		    <real>401.1734355112793</real>
		    <key>dstPointY</key>
		    <real>342.8695911882313</real>
		    <key>srcPointX</key>
		    <real>403.4177239837731</real>
		    <key>srcPointY</key>
		    <real>475.7863186803459</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>400.70703125</real>
	    <key>y</key>
	    <real>495.75</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>98</real>
	    <key>y</key>
	    <real>473.04296875</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>SeekBall</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>390.3813506750592</real>
		    <key>controlPoint1Y</key>
		    <real>225.2036207206721</real>
		    <key>controlPoint2X</key>
		    <real>390.4481314486854</real>
		    <key>controlPoint2Y</key>
		    <real>270.576294607392</real>
		    <key>dstPointX</key>
		    <real>392.7968931185954</real>
		    <key>dstPointY</key>
		    <real>303.0521024691752</real>
		    <key>srcPointX</key>
		    <real>393.7076368260139</real>
		    <key>srcPointY</key>
		    <real>192.8133351692993</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>398.3046875</real>
	    <key>y</key>
	    <real>172.91796875</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Walk_Halt</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>199.4874173003275</real>
		    <key>controlPoint1Y</key>
		    <real>288.1908236866481</real>
		    <key>controlPoint2X</key>
		    <real>293.8602389496725</real>
		    <key>controlPoint2Y</key>
		    <real>310.8091763133519</real>
		    <key>dstPointX</key>
		    <real>351.5897633500032</real>
		    <key>dstPointY</key>
		    <real>319.8916669652444</real>
		    <key>srcPointX</key>
		    <real>141.7578928999968</real>
		    <key>srcPointY</key>
		    <real>279.1083330347556</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>97.3046875</real>
	    <key>y</key>
	    <real>276</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>