<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Checker</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>509.6002065082963</real>
		    <key>controlPoint1Y</key>
		    <real>307.9531764343595</real>
		    <key>controlPoint2X</key>
		    <real>-36.41952589825598</real>
		    <key>controlPoint2Y</key>
		    <real>-22.01357210231168</real>
		    <key>dstPointX</key>
		    <real>12.66583984647707</real>
		    <key>dstPointY</key>
		    <real>12.78891385764172</real>
		    <key>srcPointX</key>
		    <real>439.2592444417367</real>
		    <key>srcPointY</key>
		    <real>318.4458635011746</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>363.4890187126201</real>
		    <key>controlPoint1Y</key>
		    <real>293.6636276579795</real>
		    <key>controlPoint2X</key>
		    <real>367.3030024339669</real>
		    <key>controlPoint2Y</key>
		    <real>228.5978524679428</real>
		    <key>dstPointX</key>
		    <real>371.1787585003731</real>
		    <key>dstPointY</key>
		    <real>194.1550922746972</real>
		    <key>srcPointX</key>
		    <real>369.7723285605093</real>
		    <key>srcPointY</key>
		    <real>306.5729915224903</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>531</real>
		    <key>controlPoint1Y</key>
		    <real>390</real>
		    <key>controlPoint2X</key>
		    <real>442.2146189326212</real>
		    <key>controlPoint2Y</key>
		    <real>448.3368815721983</real>
		    <key>dstPointX</key>
		    <real>423.9478223855359</real>
		    <key>dstPointY</key>
		    <real>478.6237981269511</real>
		    <key>srcPointX</key>
		    <real>385.5734795482136</real>
		    <key>srcPointY</key>
		    <real>342.4511850962894</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>396.04296875</real>
	    <key>y</key>
	    <real>323</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>FollowBall</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>-43.27586557688164</real>
		    <key>controlPoint1Y</key>
		    <real>74.92199897676261</real>
		    <key>controlPoint2X</key>
		    <real>502.8941865827003</real>
		    <key>controlPoint2Y</key>
		    <real>348.5487316758857</real>
		    <key>dstPointX</key>
		    <real>438.7814526829919</real>
		    <key>dstPointY</key>
		    <real>328.839358200961</real>
		    <key>srcPointX</key>
		    <real>11.86711880398184</real>
		    <key>srcPointY</key>
		    <real>36.73622512784448</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>-11.79181924736008</real>
		    <key>controlPoint1Y</key>
		    <real>111.2648346003881</real>
		    <key>controlPoint2X</key>
		    <real>526.1450636804752</real>
		    <key>controlPoint2Y</key>
		    <real>512.0977288432344</real>
		    <key>dstPointX</key>
		    <real>445.1194429012898</real>
		    <key>dstPointY</key>
		    <real>498.1062579384531</real>
		    <key>srcPointX</key>
		    <real>24.96365507674261</real>
		    <key>srcPointY</key>
		    <real>42.09925248769127</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>745.12109375</real>
	    <key>y</key>
	    <real>324</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>103.8470831881286</real>
		    <key>controlPoint1Y</key>
		    <real>135.9325408484234</real>
		    <key>controlPoint2X</key>
		    <real>91.15291681187144</real>
		    <key>controlPoint2Y</key>
		    <real>216.0674591515766</real>
		    <key>dstPointX</key>
		    <real>94.04530968755272</real>
		    <key>dstPointY</key>
		    <real>256.0002499953126</real>
		    <key>srcPointX</key>
		    <real>100.9546903124473</real>
		    <key>srcPointY</key>
		    <real>95.9997500046874</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.9222992081447964</real>
		<key>green</key>
		<real>0.9222992081447964</real>
		<key>red</key>
		<real>0.9222992081447964</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>97.6953125</real>
	    <key>y</key>
	    <real>76</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Kick</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>346.151044748148</real>
		    <key>controlPoint1Y</key>
		    <real>462.6898238343521</real>
		    <key>controlPoint2X</key>
		    <real>358.481045824008</real>
		    <key>controlPoint2Y</key>
		    <real>366.9503188584568</real>
		    <key>dstPointX</key>
		    <real>373.5886119563028</real>
		    <key>dstPointY</key>
		    <real>340.4834264040589</real>
		    <key>srcPointX</key>
		    <real>368.7749394867181</real>
		    <key>srcPointY</key>
		    <real>483.1078143694765</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>400.70703125</real>
	    <key>y</key>
	    <real>495.75</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>98</real>
	    <key>y</key>
	    <real>473.04296875</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>SeekBall</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>423.0026437396745</real>
		    <key>controlPoint1Y</key>
		    <real>219.8529774926607</real>
		    <key>controlPoint2X</key>
		    <real>435.1675318743384</real>
		    <key>controlPoint2Y</key>
		    <real>282.2344895735998</real>
		    <key>dstPointX</key>
		    <real>420.0232595359356</real>
		    <key>dstPointY</key>
		    <real>306.1613053449483</real>
		    <key>srcPointX</key>
		    <real>413.8280899423218</real>
		    <key>srcPointY</key>
		    <real>193.0636314716163</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>398.3046875</real>
	    <key>y</key>
	    <real>172.91796875</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Walk_Halt</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>192.7372358808373</real>
		    <key>controlPoint1Y</key>
		    <real>289.3265761590332</real>
		    <key>controlPoint2X</key>
		    <real>302.7392994768415</real>
		    <key>controlPoint2Y</key>
		    <real>351.9985263860016</real>
		    <key>dstPointX</key>
		    <real>353.9628594680451</real>
		    <key>dstPointY</key>
		    <real>330.7559077520435</real>
		    <key>srcPointX</key>
		    <real>138.1920528371434</real>
		    <key>srcPointY</key>
		    <real>279.3303292968275</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>97.3046875</real>
	    <key>y</key>
	    <real>276</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>