<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Checker</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>426.54796659209558</real>
					<key>controlPoint1Y</key>
					<real>368.67333891787189</real>
					<key>controlPoint2X</key>
					<real>448.54022531214116</real>
					<key>controlPoint2Y</key>
					<real>438.13155107764726</real>
					<key>dstPointX</key>
					<real>428.74962354461854</real>
					<key>dstPointY</key>
					<real>460.84522511608895</real>
					<key>srcPointX</key>
					<real>414.2602891060626</real>
					<key>srcPointY</key>
					<real>341.1671234630972</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>504.62265910800386</real>
					<key>controlPoint1Y</key>
					<real>302.96324674290111</real>
					<key>controlPoint2X</key>
					<real>653.74768472878452</real>
					<key>controlPoint2Y</key>
					<real>271.89095676290373</real>
					<key>dstPointX</key>
					<real>707.78693359647707</real>
					<key>dstPointY</key>
					<real>311.78891385764172</real>
					<key>srcPointX</key>
					<real>439.25924444173666</real>
					<key>srcPointY</key>
					<real>318.44586350117464</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>353.49434302225706</real>
					<key>controlPoint1Y</key>
					<real>283.63359845194049</real>
					<key>controlPoint2X</key>
					<real>357.37034391236801</real>
					<key>controlPoint2Y</key>
					<real>218.66052543133625</real>
					<key>dstPointX</key>
					<real>371.17875850037314</real>
					<key>dstPointY</key>
					<real>194.15509227469724</real>
					<key>srcPointX</key>
					<real>369.77232856050927</real>
					<key>srcPointY</key>
					<real>306.57299152249027</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>396.04296875</real>
			<key>y</key>
			<real>323</real>
		</dict>
		<key>FollowBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>651.88613178112018</real>
					<key>controlPoint1Y</key>
					<real>374.0152315606008</real>
					<key>controlPoint2X</key>
					<real>502.9184090381832</real>
					<key>controlPoint2Y</key>
					<real>348.53637494132698</real>
					<key>dstPointX</key>
					<real>438.78145268299193</real>
					<key>dstPointY</key>
					<real>328.83935820096099</real>
					<key>srcPointX</key>
					<real>706.98821255398184</real>
					<key>srcPointY</key>
					<real>335.73622512784448</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>678.45931664444197</real>
					<key>controlPoint1Y</key>
					<real>405.37588699364358</real>
					<key>controlPoint2X</key>
					<real>521.89324204394848</real>
					<key>controlPoint2Y</key>
					<real>486.14556919644008</real>
					<key>dstPointX</key>
					<real>445.8264741512898</real>
					<key>dstPointY</key>
					<real>477.3132891884531</real>
					<key>srcPointX</key>
					<real>720.08474882674261</real>
					<key>srcPointY</key>
					<real>341.09925248769127</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>745.12109375</real>
			<key>y</key>
			<real>324</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>103.57751011839109</real>
					<key>controlPoint1Y</key>
					<real>135.94485540601639</real>
					<key>controlPoint2X</key>
					<real>91.422489881608954</real>
					<key>controlPoint2Y</key>
					<real>216.05514459398358</real>
					<key>dstPointX</key>
					<real>94.045309687552731</real>
					<key>dstPointY</key>
					<real>256.00024999531257</real>
					<key>srcPointX</key>
					<real>100.95469031244728</real>
					<key>srcPointY</key>
					<real>95.999750004687399</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.6953125</real>
			<key>y</key>
			<real>76</real>
		</dict>
		<key>Kick</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>346.90026079858524</real>
					<key>controlPoint1Y</key>
					<real>441.86565867049904</real>
					<key>controlPoint2X</key>
					<real>358.50800085534001</real>
					<key>controlPoint2Y</key>
					<real>366.9537501539815</real>
					<key>dstPointX</key>
					<real>373.58861195630277</real>
					<key>dstPointY</key>
					<real>340.48342640405889</real>
					<key>srcPointX</key>
					<real>369.4819707367181</real>
					<key>srcPointY</key>
					<real>462.31484561947644</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>401</real>
			<key>y</key>
			<real>474.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>98</real>
			<key>y</key>
			<real>473.04296875</real>
		</dict>
		<key>SeekBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>423.202929359417</real>
					<key>controlPoint1Y</key>
					<real>219.80153722493873</real>
					<key>controlPoint2X</key>
					<real>435.19598219860734</real>
					<key>controlPoint2Y</key>
					<real>282.23241683813467</real>
					<key>dstPointX</key>
					<real>420.02325953593561</real>
					<key>dstPointY</key>
					<real>306.16130534494835</real>
					<key>srcPointX</key>
					<real>413.82808994232175</real>
					<key>srcPointY</key>
					<real>193.06363147161633</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>398.3046875</real>
			<key>y</key>
			<real>172.91796875</real>
		</dict>
		<key>Walk_Halt</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>192.68768507854963</real>
					<key>controlPoint1Y</key>
					<real>289.24362259567101</real>
					<key>controlPoint2X</key>
					<real>302.80576613921727</real>
					<key>controlPoint2Y</key>
					<real>351.99264760459823</real>
					<key>dstPointX</key>
					<real>353.96285946804511</real>
					<key>dstPointY</key>
					<real>330.75590775204353</real>
					<key>srcPointX</key>
					<real>138.19205283714342</real>
					<key>srcPointY</key>
					<real>279.33032929682753</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.3046875</real>
			<key>y</key>
			<real>276</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
