<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>HeadStop</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>562.1785854886733</real>
		    <key>controlPoint1Y</key>
		    <real>359.7105377551639</real>
		    <key>controlPoint2X</key>
		    <real>255</real>
		    <key>controlPoint2Y</key>
		    <real>433</real>
		    <key>dstPointX</key>
		    <real>205.2705095054458</real>
		    <key>dstPointY</key>
		    <real>415.0147765073737</real>
		    <key>srcPointX</key>
		    <real>681.4452833701953</real>
		    <key>srcPointY</key>
		    <real>342.8065963231373</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>866</real>
		    <key>controlPoint1Y</key>
		    <real>449</real>
		    <key>controlPoint2X</key>
		    <real>786.3919786035507</real>
		    <key>controlPoint2Y</key>
		    <real>597.5997145327235</real>
		    <key>dstPointX</key>
		    <real>718.5021358790734</real>
		    <key>dstPointY</key>
		    <real>602.0331909413951</real>
		    <key>srcPointX</key>
		    <real>703.9382442165348</real>
		    <key>srcPointY</key>
		    <real>357.431510742491</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>726</real>
	    <key>y</key>
	    <real>340</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>412.1800783155658</real>
		    <key>controlPoint1Y</key>
		    <real>296.7441790370963</real>
		    <key>controlPoint2X</key>
		    <real>804.7392903017401</real>
		    <key>controlPoint2Y</key>
		    <real>261.0976073589006</real>
		    <key>dstPointX</key>
		    <real>754.111277139949</real>
		    <key>dstPointY</key>
		    <real>324.3826238111394</real>
		    <key>srcPointX</key>
		    <real>446.1423820142214</real>
		    <key>srcPointY</key>
		    <real>223.159187690009</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.9222992081447964</real>
		<key>green</key>
		<real>0.9222992081447964</real>
		<key>red</key>
		<real>0.9222992081447964</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>465</real>
	    <key>y</key>
	    <real>205</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>MoveHead</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>43.94569786842315</real>
		    <key>controlPoint1Y</key>
		    <real>373.6842136679278</real>
		    <key>controlPoint2X</key>
		    <real>577.9147586193646</real>
		    <key>controlPoint2Y</key>
		    <real>255.1440106518739</real>
		    <key>dstPointX</key>
		    <real>688.557736754797</real>
		    <key>dstPointY</key>
		    <real>328.9059960754954</real>
		    <key>srcPointX</key>
		    <real>165.7729199294015</real>
		    <key>srcPointY</key>
		    <real>426.9836233196058</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>207</real>
	    <key>y</key>
	    <real>435</real>
	    <key>zoomedInternalHeight</key>
	    <real>264</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>264</real>
	    <key>zoomedOnExitHeight</key>
	    <real>264</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>229</real>
	    <key>y</key>
	    <real>149</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Walking</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>745.7795681978666</real>
		    <key>controlPoint1Y</key>
		    <real>731.1724575007529</real>
		    <key>controlPoint2X</key>
		    <real>371.8515399998699</real>
		    <key>controlPoint2Y</key>
		    <real>427.2283316016812</real>
		    <key>dstPointX</key>
		    <real>251.9307158942435</real>
		    <key>dstPointY</key>
		    <real>433.8905996075495</real>
		    <key>srcPointX</key>
		    <real>693.5637079624029</real>
		    <key>srcPointY</key>
		    <real>623.0110327272916</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>511</real>
		    <key>controlPoint1Y</key>
		    <real>485</real>
		    <key>controlPoint2X</key>
		    <real>622.3938705500263</real>
		    <key>controlPoint2Y</key>
		    <real>335.9458428907211</real>
		    <key>dstPointX</key>
		    <real>681.2606828595368</real>
		    <key>dstPointY</key>
		    <real>337.8503631403981</real>
		    <key>srcPointX</key>
		    <real>691.5606491581289</real>
		    <key>srcPointY</key>
		    <real>586.5857081744621</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>674</real>
	    <key>y</key>
	    <real>605</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>