<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Dummy</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>220.8199464086422</real>
		    <key>controlPoint1Y</key>
		    <real>502.1641723370975</real>
		    <key>controlPoint2X</key>
		    <real>102.2133325254898</real>
		    <key>controlPoint2Y</key>
		    <real>400.9932860119634</real>
		    <key>dstPointX</key>
		    <real>145.2752319396872</real>
		    <key>dstPointY</key>
		    <real>396.208630521497</real>
		    <key>srcPointX</key>
		    <real>242.4915404968596</real>
		    <key>srcPointY</key>
		    <real>539.6816631779899</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>265</real>
	    <key>y</key>
	    <real>557</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>HeadStop</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>549.190645519144</real>
		    <key>controlPoint1Y</key>
		    <real>361.551348144546</real>
		    <key>controlPoint2X</key>
		    <real>26.81482228465642</real>
		    <key>controlPoint2Y</key>
		    <real>331.6267160000723</real>
		    <key>dstPointX</key>
		    <real>148.8784803120884</real>
		    <key>dstPointY</key>
		    <real>385.877230678931</real>
		    <key>srcPointX</key>
		    <real>681.4452833701953</real>
		    <key>srcPointY</key>
		    <real>342.8065963231373</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>687.8574929303541</real>
		    <key>controlPoint1Y</key>
		    <real>386.0195130290347</real>
		    <key>controlPoint2X</key>
		    <real>818.9396166398546</real>
		    <key>controlPoint2Y</key>
		    <real>593.1675688272779</real>
		    <key>dstPointX</key>
		    <real>786.5021358790734</real>
		    <key>dstPointY</key>
		    <real>598.0331909413951</real>
		    <key>srcPointX</key>
		    <real>703.9382442165348</real>
		    <key>srcPointY</key>
		    <real>357.431510742491</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>726</real>
	    <key>y</key>
	    <real>340</real>
	    <key>zoomedInternalHeight</key>
	    <real>264</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>264</real>
	    <key>zoomedOnExitHeight</key>
	    <real>264</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>412.1800783155658</real>
		    <key>controlPoint1Y</key>
		    <real>296.7441790370963</real>
		    <key>controlPoint2X</key>
		    <real>804.7392903017401</real>
		    <key>controlPoint2Y</key>
		    <real>261.0976073589006</real>
		    <key>dstPointX</key>
		    <real>754.111277139949</real>
		    <key>dstPointY</key>
		    <real>324.3826238111394</real>
		    <key>srcPointX</key>
		    <real>446.1423820142214</real>
		    <key>srcPointY</key>
		    <real>223.159187690009</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.9222992081447964</real>
		<key>green</key>
		<real>0.9222992081447964</real>
		<key>red</key>
		<real>0.9222992081447964</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>465</real>
	    <key>y</key>
	    <real>205</real>
	    <key>zoomedInternalHeight</key>
	    <real>264</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>264</real>
	    <key>zoomedOnExitHeight</key>
	    <real>264</real>
	</dict>
	<key>MoveHead</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>205.3811408165868</real>
		    <key>controlPoint1Y</key>
		    <real>249.704781179238</real>
		    <key>controlPoint2X</key>
		    <real>595.4866923144755</real>
		    <key>controlPoint2Y</key>
		    <real>247.2435202536749</real>
		    <key>dstPointX</key>
		    <real>691.4300424181181</real>
		    <key>dstPointY</key>
		    <real>327.1963120067104</real>
		    <key>srcPointX</key>
		    <real>194.0741085719133</real>
		    <key>srcPointY</key>
		    <real>374.082135870646</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>263.1422042024153</real>
		    <key>controlPoint1Y</key>
		    <real>407.8519004811375</real>
		    <key>controlPoint2X</key>
		    <real>336.1602813248888</real>
		    <key>controlPoint2Y</key>
		    <real>539.0929805428766</real>
		    <key>dstPointX</key>
		    <real>307.134812990607</real>
		    <key>dstPointY</key>
		    <real>549.9775311682322</real>
		    <key>srcPointX</key>
		    <real>233.3083320977775</real>
		    <key>srcPointY</key>
		    <real>399.4322015800816</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>190</real>
	    <key>y</key>
	    <real>394</real>
	    <key>zoomedInternalHeight</key>
	    <real>264</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>264</real>
	    <key>zoomedOnExitHeight</key>
	    <real>264</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>229</real>
	    <key>y</key>
	    <real>149</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Walking</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>799.0327944425815</real>
		    <key>controlPoint1Y</key>
		    <real>696.6255690076619</real>
		    <key>controlPoint2X</key>
		    <real>382.3359211954305</real>
		    <key>controlPoint2Y</key>
		    <real>604.4876207102164</real>
		    <key>dstPointX</key>
		    <real>305.2492235949962</real>
		    <key>dstPointY</key>
		    <real>565.9442719099992</real>
		    <key>srcPointX</key>
		    <real>761.5637079624029</real>
		    <key>srcPointY</key>
		    <real>619.0110327272916</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>460</real>
		    <key>controlPoint1Y</key>
		    <real>572</real>
		    <key>controlPoint2X</key>
		    <real>647.372381419316</real>
		    <key>controlPoint2Y</key>
		    <real>334.1867629846986</real>
		    <key>dstPointX</key>
		    <real>681.2606828595368</real>
		    <key>dstPointY</key>
		    <real>337.8503631403981</real>
		    <key>srcPointX</key>
		    <real>759.5606491581289</real>
		    <key>srcPointY</key>
		    <real>582.5857081744621</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>742</real>
	    <key>y</key>
	    <real>601</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>