<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>HeadStop</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>115.665886743667</real>
		    <key>controlPoint1Y</key>
		    <real>238.0881767486453</real>
		    <key>controlPoint2X</key>
		    <real>268.098627541949</real>
		    <key>controlPoint2Y</key>
		    <real>416.5458454564582</real>
		    <key>dstPointX</key>
		    <real>272.2705095054458</real>
		    <key>dstPointY</key>
		    <real>525.0147765073737</real>
		    <key>srcPointX</key>
		    <real>193.4452833701953</real>
		    <key>srcPointY</key>
		    <real>313.8065963231373</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>61.09547995927687</real>
		    <key>controlPoint1Y</key>
		    <real>180.3414849445468</real>
		    <key>controlPoint2X</key>
		    <real>318.3818469222037</real>
		    <key>controlPoint2Y</key>
		    <real>-5.79876571507441</real>
		    <key>dstPointX</key>
		    <real>94.50213587907342</real>
		    <key>dstPointY</key>
		    <real>22.03319094139511</real>
		    <key>srcPointX</key>
		    <real>215.9382442165348</real>
		    <key>srcPointY</key>
		    <real>328.431510742491</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>915</real>
	    <key>y</key>
	    <real>626</real>
	    <key>zoomedInternalHeight</key>
	    <real>264</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>264</real>
	    <key>zoomedOnExitHeight</key>
	    <real>264</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>476.553120745945</real>
		    <key>controlPoint1Y</key>
		    <real>316.7692537712746</real>
		    <key>controlPoint2X</key>
		    <real>196.1671259681542</real>
		    <key>controlPoint2Y</key>
		    <real>215.1983185791662</real>
		    <key>dstPointX</key>
		    <real>266.111277139949</real>
		    <key>dstPointY</key>
		    <real>295.3826238111394</real>
		    <key>srcPointX</key>
		    <real>521.1423820142214</real>
		    <key>srcPointY</key>
		    <real>220.159187690009</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.9222992081447964</real>
		<key>green</key>
		<real>0.9222992081447964</real>
		<key>red</key>
		<real>0.9222992081447964</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>540</real>
	    <key>y</key>
	    <real>202</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>MoveHead</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>131.6182347612067</real>
		    <key>controlPoint1Y</key>
		    <real>492.7284485585202</real>
		    <key>controlPoint2X</key>
		    <real>123.5303875483326</real>
		    <key>controlPoint2Y</key>
		    <real>220.8011397211842</real>
		    <key>dstPointX</key>
		    <real>200.557736754797</real>
		    <key>dstPointY</key>
		    <real>299.9059960754954</real>
		    <key>srcPointX</key>
		    <real>232.7729199294015</real>
		    <key>srcPointY</key>
		    <real>536.9836233196058</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>274</real>
	    <key>y</key>
	    <real>545</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>229</real>
	    <key>y</key>
	    <real>149</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Walking</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>122.8749496939307</real>
		    <key>controlPoint1Y</key>
		    <real>153.4414620283142</real>
		    <key>controlPoint2X</key>
		    <real>441.3672325715464</real>
		    <key>controlPoint2Y</key>
		    <real>537.0885709032548</real>
		    <key>dstPointX</key>
		    <real>318.9307158942435</real>
		    <key>dstPointY</key>
		    <real>543.8905996075496</real>
		    <key>srcPointX</key>
		    <real>69.56370796240287</real>
		    <key>srcPointY</key>
		    <real>43.01103272729165</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>158.8681137582838</real>
		    <key>controlPoint1Y</key>
		    <real>-192.0459661165289</real>
		    <key>controlPoint2X</key>
		    <real>40.98625605492441</real>
		    <key>controlPoint2Y</key>
		    <real>158.3524792527392</real>
		    <key>dstPointX</key>
		    <real>193.2606828595368</real>
		    <key>dstPointY</key>
		    <real>308.8503631403981</real>
		    <key>srcPointX</key>
		    <real>67.56064915812885</real>
		    <key>srcPointY</key>
		    <real>6.58570817446207</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>719</real>
	    <key>y</key>
	    <real>546</real>
	    <key>zoomedInternalHeight</key>
	    <real>264</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>264</real>
	    <key>zoomedOnExitHeight</key>
	    <real>264</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>