<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FindBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>583.99363203540418</real>
					<key>controlPoint1Y</key>
					<real>150.67946353189143</real>
					<key>controlPoint2X</key>
					<real>375.23926466720656</real>
					<key>controlPoint2Y</key>
					<real>174.77328498605982</real>
					<key>dstPointX</key>
					<real>313.76895831275351</real>
					<key>dstPointY</key>
					<real>132.5344948878523</real>
					<key>srcPointX</key>
					<real>607.69798446946663</real>
					<key>srcPointY</key>
					<real>79.963004146876244</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.49329071306435812</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.74899400640781577</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>622</real>
			<key>y</key>
			<real>61</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>104.19807547507212</real>
					<key>controlPoint1Y</key>
					<real>114.86000305472969</real>
					<key>controlPoint2X</key>
					<real>129.28040895266025</real>
					<key>controlPoint2Y</key>
					<real>170.14075476539665</real>
					<key>dstPointX</key>
					<real>150.20277851068266</real>
					<key>dstPointY</key>
					<real>189.28745725645814</real>
					<key>srcPointX</key>
					<real>101.84999846127403</real>
					<key>srcPointY</key>
					<real>86.596452348193253</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.65234375</real>
			<key>y</key>
			<real>65.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>300</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>238.45486235979584</real>
					<key>controlPoint1Y</key>
					<real>181.48894272782783</real>
					<key>controlPoint2X</key>
					<real>254.2661242381831</real>
					<key>controlPoint2Y</key>
					<real>162.45286172439597</real>
					<key>dstPointX</key>
					<real>260.24236860281792</real>
					<key>dstPointY</key>
					<real>143.36662314016542</real>
					<key>srcPointX</key>
					<real>220.84863285552626</real>
					<key>srcPointY</key>
					<real>190.97686571671153</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.85969001054763794</real>
				<key>green</key>
				<real>0.85969001054763794</real>
				<key>red</key>
				<real>0.85969001054763794</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>178.640625</real>
			<key>y</key>
			<real>200.89453125</real>
		</dict>
		<key>StartTracking</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>307.06793495446004</real>
					<key>controlPoint1Y</key>
					<real>32.81540555182022</real>
					<key>controlPoint2X</key>
					<real>516.49916896491379</real>
					<key>controlPoint2Y</key>
					<real>15.395514872454193</real>
					<key>dstPointX</key>
					<real>582.50030127770071</real>
					<key>dstPointY</key>
					<real>51.418394156625112</real>
					<key>srcPointX</key>
					<real>286.29563290364666</real>
					<key>srcPointY</key>
					<real>105.08094897329971</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.59736641006145352</real>
				<key>red</key>
				<real>0.79928187838033293</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>276.22265625</real>
			<key>y</key>
			<real>120.7734375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
