<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FindBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>583.97305215777362</real>
					<key>controlPoint1Y</key>
					<real>150.74085884250633</real>
					<key>controlPoint2X</key>
					<real>374.56290338957194</real>
					<key>controlPoint2Y</key>
					<real>175.76514429868257</real>
					<key>dstPointX</key>
					<real>313.54630206275351</real>
					<key>dstPointY</key>
					<real>132.7610573878523</real>
					<key>srcPointX</key>
					<real>607.69798446946663</real>
					<key>srcPointY</key>
					<real>79.963004146876244</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.49329071306435812</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.74899400640781577</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>622</real>
			<key>y</key>
			<real>61</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>104.75221110269646</real>
					<key>controlPoint1Y</key>
					<real>114.90050486839797</real>
					<key>controlPoint2X</key>
					<real>129.66198444080601</real>
					<key>controlPoint2Y</key>
					<real>170.199240923232</real>
					<key>dstPointX</key>
					<real>150.56215351068266</real>
					<key>dstPointY</key>
					<real>189.39292600645814</real>
					<key>srcPointX</key>
					<real>102.19765471127403</real>
					<key>srcPointY</key>
					<real>86.639421098193253</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.65234375</real>
			<key>y</key>
			<real>65.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>300</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>238.88907579206239</real>
					<key>controlPoint1Y</key>
					<real>181.73461620910479</real>
					<key>controlPoint2X</key>
					<real>254.0219241526928</real>
					<key>controlPoint2Y</key>
					<real>162.6726651065041</real>
					<key>dstPointX</key>
					<real>260.01971235281792</real>
					<key>dstPointY</key>
					<real>143.59318564016542</real>
					<key>srcPointX</key>
					<real>221.20800785552626</real>
					<key>srcPointY</key>
					<real>191.08233446671153</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.85969001054763794</real>
				<key>green</key>
				<real>0.85969001054763794</real>
				<key>red</key>
				<real>0.85969001054763794</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>178.640625</real>
			<key>y</key>
			<real>200.89453125</real>
		</dict>
		<key>StartTracking</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>306.71902871334549</real>
					<key>controlPoint1Y</key>
					<real>32.938351991511823</real>
					<key>controlPoint2X</key>
					<real>516.44224062624539</real>
					<key>controlPoint2Y</key>
					<real>15.364443849884786</real>
					<key>dstPointX</key>
					<real>582.50030127770071</real>
					<key>dstPointY</key>
					<real>51.418394156625112</real>
					<key>srcPointX</key>
					<real>286.07297665364666</real>
					<key>srcPointY</key>
					<real>105.30751147329971</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.59736641006145352</real>
				<key>red</key>
				<real>0.79928187838033293</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>276.22265625</real>
			<key>y</key>
			<real>120.7734375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
