<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Bottom_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>487.86304245344547</real>
					<key>controlPoint1Y</key>
					<real>86.857672051992211</real>
					<key>controlPoint2X</key>
					<real>658.8218157871521</real>
					<key>controlPoint2Y</key>
					<real>111.79271250285167</real>
					<key>dstPointX</key>
					<real>744.33488648957155</real>
					<key>dstPointY</key>
					<real>124.13486906784701</real>
					<key>srcPointX</key>
					<real>402.09480101042851</real>
					<key>srcPointY</key>
					<real>76.435443432152994</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>356.95703125</real>
			<key>y</key>
			<real>74</real>
		</dict>
		<key>Do_Bottom_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>658.42919570012305</real>
					<key>controlPoint1Y</key>
					<real>140.90958368229337</real>
					<key>controlPoint2X</key>
					<real>488.3103125846996</real>
					<key>controlPoint2Y</key>
					<real>176.82948321467666</real>
					<key>dstPointX</key>
					<real>402.48148807588512</real>
					<key>dstPointY</key>
					<real>189.97264427635122</real>
					<key>srcPointX</key>
					<real>744.51851192411493</real>
					<key>srcPointY</key>
					<real>129.59766822364881</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>789</real>
			<key>y</key>
			<real>127.04296875</real>
		</dict>
		<key>Do_High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>684.82036829246931</real>
					<key>controlPoint1Y</key>
					<real>758.19967415495739</real>
					<key>controlPoint2X</key>
					<real>25.985656297066797</real>
					<key>controlPoint2Y</key>
					<real>340.87303858061944</real>
					<key>dstPointX</key>
					<real>98.80369451059525</real>
					<key>dstPointY</key>
					<real>157.96483740546998</real>
					<key>srcPointX</key>
					<real>764.73365972375211</real>
					<key>srcPointY</key>
					<real>578.27818405715198</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>783</real>
			<key>y</key>
			<real>560</real>
		</dict>
		<key>Do_Low_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>661.84480075692079</real>
					<key>controlPoint1Y</key>
					<real>272.70182883440975</real>
					<key>controlPoint2X</key>
					<real>490.33822596201844</real>
					<key>controlPoint2Y</key>
					<real>311.90325527343708</real>
					<key>dstPointX</key>
					<real>404.23271392522071</real>
					<key>dstPointY</key>
					<real>329.89276584570911</real>
					<key>srcPointX</key>
					<real>748.33759857477924</real>
					<key>srcPointY</key>
					<real>256.67754665429089</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>793.04296875</real>
			<key>y</key>
			<real>253</real>
		</dict>
		<key>Do_Mid_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>666.8469597649671</real>
					<key>controlPoint1Y</key>
					<real>407.41094144129033</real>
					<key>controlPoint2X</key>
					<real>495.86183759122633</real>
					<key>controlPoint2Y</key>
					<real>432.1424743582557</real>
					<key>dstPointX</key>
					<real>410.09480101042851</real>
					<key>dstPointY</key>
					<real>442.56455656784698</real>
					<key>srcPointX</key>
					<real>752.33488648957155</real>
					<key>srcPointY</key>
					<real>394.90419343215302</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>797</real>
			<key>y</key>
			<real>391.953125</real>
		</dict>
		<key>High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>496.84180003000688</real>
					<key>controlPoint1Y</key>
					<real>468.94406896995218</real>
					<key>controlPoint2X</key>
					<real>673.8037718842902</real>
					<key>controlPoint2Y</key>
					<real>624.1863587377361</real>
					<key>dstPointX</key>
					<real>746.51215258688626</real>
					<key>dstPointY</key>
					<real>571.70532845770174</real>
					<key>srcPointX</key>
					<real>409.32730300293258</real>
					<key>srcPointY</key>
					<real>449.39976100712767</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>364.95703125</real>
			<key>y</key>
			<real>445</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>98.374197762817118</real>
					<key>controlPoint1Y</key>
					<real>82.883634154619443</real>
					<key>controlPoint2X</key>
					<real>81.105444752887905</real>
					<key>controlPoint2Y</key>
					<real>102.49669586465023</real>
					<key>dstPointX</key>
					<real>90.206341911764696</real>
					<key>dstPointY</key>
					<real>120.30606617647059</real>
					<key>srcPointX</key>
					<real>87.60615808823529</real>
					<key>srcPointY</key>
					<real>66.02987132352942</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>65.95703125</real>
			<key>y</key>
			<real>51.26171875</real>
		</dict>
		<key>Low_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>489.19175702831319</real>
					<key>controlPoint1Y</key>
					<real>207.67947983410016</real>
					<key>controlPoint2X</key>
					<real>661.36318701381788</real>
					<key>controlPoint2Y</key>
					<real>238.43247595328293</real>
					<key>dstPointX</key>
					<real>747.99236168404366</real>
					<key>dstPointY</key>
					<real>250.26725205725938</real>
					<key>srcPointX</key>
					<real>402.57795081595634</real>
					<key>srcPointY</key>
					<real>195.73274794274062</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>358</real>
			<key>y</key>
			<real>193</real>
		</dict>
		<key>Mid_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>492.04141916334379</real>
					<key>controlPoint1Y</key>
					<real>345.91111955750631</real>
					<key>controlPoint2X</key>
					<real>664.93984548294247</real>
					<key>controlPoint2Y</key>
					<real>380.29816359520083</real>
					<key>dstPointX</key>
					<real>752.39118638596301</real>
					<key>dstPointY</key>
					<real>389.83736307946691</real>
					<key>srcPointX</key>
					<real>404.60881361403699</real>
					<key>srcPointY</key>
					<real>336.20169942053309</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>360</real>
			<key>y</key>
			<real>334.04296875</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>71.95703125</real>
			<key>y</key>
			<real>515.26171875</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>192.84766258312411</real>
					<key>controlPoint1Y</key>
					<real>115.0578230627585</real>
					<key>controlPoint2X</key>
					<real>273.64089612847209</real>
					<key>controlPoint2Y</key>
					<real>90.568668937253975</real>
					<key>dstPointX</key>
					<real>314.04844194836642</real>
					<key>dstPointY</key>
					<real>79.316037406418758</real>
					<key>srcPointX</key>
					<real>154.76405805163361</real>
					<key>srcPointY</key>
					<real>132.63708759358124</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>114.26171875</real>
			<key>y</key>
			<real>141.3046875</real>
		</dict>
	</dict>
</dict>
</plist>
