<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Dummy</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>762.52517690021784</real>
					<key>controlPoint1Y</key>
					<real>146.73264504201188</real>
					<key>controlPoint2X</key>
					<real>634.65551974915661</real>
					<key>controlPoint2Y</key>
					<real>67.603479739438853</real>
					<key>dstPointX</key>
					<real>563.45788015401502</real>
					<key>dstPointY</key>
					<real>47.862452602593521</real>
					<key>srcPointX</key>
					<real>831.31159450238397</real>
					<key>srcPointY</key>
					<real>173.70004739740648</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>693.04813673414264</real>
					<key>controlPoint1Y</key>
					<real>164.09153977103881</real>
					<key>controlPoint2X</key>
					<real>423.57327491543379</real>
					<key>controlPoint2Y</key>
					<real>125.91309204220801</real>
					<key>dstPointX</key>
					<real>288.07876336362523</real>
					<key>dstPointY</key>
					<real>113.7922570981851</real>
					<key>srcPointX</key>
					<real>828.28265241213307</real>
					<key>srcPointY</key>
					<real>178.8327429018149</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>106</real>
			<key>x</key>
			<real>876</real>
			<key>y</key>
			<real>181</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>339.41472995661576</real>
					<key>controlPoint1Y</key>
					<real>146.5582522947845</real>
					<key>controlPoint2X</key>
					<real>439.46789673195065</real>
					<key>controlPoint2Y</key>
					<real>219.94558994342518</real>
					<key>dstPointX</key>
					<real>494.64081082400941</real>
					<key>dstPointY</key>
					<real>247.1541503175911</real>
					<key>srcPointX</key>
					<real>283.70293917599059</real>
					<key>srcPointY</key>
					<real>120.4708496824089</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>327.99963165314557</real>
					<key>controlPoint1Y</key>
					<real>170.50453576424275</real>
					<key>controlPoint2X</key>
					<real>413.46001255256817</real>
					<key>controlPoint2Y</key>
					<real>279.25157462253202</real>
					<key>dstPointX</key>
					<real>462.25454662418292</real>
					<key>dstPointY</key>
					<real>327.49085098122293</real>
					<key>srcPointX</key>
					<real>276.52670337581708</real>
					<key>srcPointY</key>
					<real>125.13414901877709</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>311.50800386110751</real>
					<key>controlPoint1Y</key>
					<real>194.45560797622807</real>
					<key>controlPoint2X</key>
					<real>375.94679858115319</real>
					<key>controlPoint2Y</key>
					<real>340.44398426069608</real>
					<key>dstPointX</key>
					<real>418.71502483758053</real>
					<key>dstPointY</key>
					<real>407.16241722072255</real>
					<key>srcPointX</key>
					<real>267.62872516241941</real>
					<key>srcPointY</key>
					<real>128.46258277927748</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>309.23270464663477</real>
					<key>controlPoint1Y</key>
					<real>218.83760797679554</real>
					<key>controlPoint2X</key>
					<real>378.4887431004617</real>
					<key>controlPoint2Y</key>
					<real>408.0921308615649</real>
					<key>dstPointX</key>
					<real>423.03526453587256</real>
					<key>dstPointY</key>
					<real>498.07610416109452</real>
					<key>srcPointX</key>
					<real>263.30848546412739</real>
					<key>srcPointY</key>
					<real>129.54889583890548</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.91616586538461542</real>
				<key>green</key>
				<real>0.91616586538461542</real>
				<key>red</key>
				<real>0.91616586538461542</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>242.95703125</real>
			<key>y</key>
			<real>112.046875</real>
		</dict>
		<key>Nothing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>427.99694937302422</real>
					<key>controlPoint1Y</key>
					<real>51.002043358698799</real>
					<key>controlPoint2X</key>
					<real>335.58265913788534</real>
					<key>controlPoint2Y</key>
					<real>94.100500150613897</real>
					<key>dstPointX</key>
					<real>287.04552094727126</real>
					<key>dstPointY</key>
					<real>106.85564895949116</real>
					<key>srcPointX</key>
					<real>477.86072905272874</real>
					<key>srcPointY</key>
					<real>45.331851040508852</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>524.3046875</real>
			<key>y</key>
			<real>43.3046875</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>925.9140625</real>
			<key>y</key>
			<real>477.82421875</real>
		</dict>
		<key>UpdateHead</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>642.1477291460784</real>
					<key>controlPoint1Y</key>
					<real>237.80396253431013</real>
					<key>controlPoint2X</key>
					<real>765.92230139767253</real>
					<key>controlPoint2Y</key>
					<real>199.19603746568987</real>
					<key>dstPointX</key>
					<real>829.12048870001558</real>
					<key>dstPointY</key>
					<real>185.29614289772584</real>
					<key>srcPointX</key>
					<real>578.94954184373535</real>
					<key>srcPointY</key>
					<real>251.70385710227416</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>535</real>
			<key>y</key>
			<real>256</real>
		</dict>
		<key>UpdateHead_generic</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>572.51366443765028</real>
					<key>controlPoint1Y</key>
					<real>431.0967788213681</real>
					<key>controlPoint2X</key>
					<real>744.11356559831449</real>
					<key>controlPoint2Y</key>
					<real>265.90322117863184</real>
					<key>dstPointX</key>
					<real>838.03568057543509</real>
					<key>dstPointY</key>
					<real>193.23830543420829</real>
					<key>srcPointX</key>
					<real>478.59154946052968</real>
					<key>srcPointY</key>
					<real>503.76169456579169</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>443</real>
			<key>y</key>
			<real>516</real>
		</dict>
		<key>UpdateHead_left</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>573.11870709725474</real>
					<key>controlPoint1Y</key>
					<real>363.21227192051327</real>
					<key>controlPoint2X</key>
					<real>743.26511533918222</real>
					<key>controlPoint2Y</key>
					<real>241.78772807948678</real>
					<key>dstPointX</key>
					<real>834.14115898299156</real>
					<key>dstPointY</key>
					<real>190.78800843642517</real>
					<key>srcPointX</key>
					<real>482.2426634534454</real>
					<key>srcPointY</key>
					<real>414.21199156357483</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>443</real>
			<key>y</key>
			<real>424</real>
		</dict>
		<key>UpdateHead_rigt</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>613.3698628104105</real>
					<key>controlPoint1Y</key>
					<real>303.13992239591096</real>
					<key>controlPoint2X</key>
					<real>755.91403034941914</real>
					<key>controlPoint2Y</key>
					<real>220.37328701734694</real>
					<key>dstPointX</key>
					<real>831.70943339518863</real>
					<key>dstPointY</key>
					<real>188.70941107133356</real>
					<key>srcPointX</key>
					<real>536.95990619201064</real>
					<key>srcPointY</key>
					<real>333.29058892866641</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>492.6953125</real>
			<key>y</key>
			<real>341</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
