<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Dummy</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>762.80807266541683</real>
					<key>controlPoint1Y</key>
					<real>146.8435530408683</real>
					<key>controlPoint2X</key>
					<real>634.41177283248498</real>
					<key>controlPoint2Y</key>
					<real>71.324818403766415</real>
					<key>dstPointX</key>
					<real>564.37194265401502</real>
					<key>dstPointY</key>
					<real>48.776515102593521</real>
					<key>srcPointX</key>
					<real>831.31159450238397</real>
					<key>srcPointY</key>
					<real>173.70004739740648</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>693.02049821762921</real>
					<key>controlPoint1Y</key>
					<real>164.08852704175064</real>
					<key>controlPoint2X</key>
					<real>423.38082940565448</real>
					<key>controlPoint2Y</key>
					<real>127.03608791590426</real>
					<key>dstPointX</key>
					<real>287.94985711362523</real>
					<key>dstPointY</key>
					<real>113.9328820981851</real>
					<key>srcPointX</key>
					<real>828.28265241213307</real>
					<key>srcPointY</key>
					<real>178.8327429018149</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>106</real>
			<key>x</key>
			<real>876</real>
			<key>y</key>
			<real>181</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>339.09487278687357</real>
					<key>controlPoint1Y</key>
					<real>147.12502565922244</real>
					<key>controlPoint2X</key>
					<real>439.45932601033695</real>
					<key>controlPoint2Y</key>
					<real>219.94136328619101</real>
					<key>dstPointX</key>
					<real>494.64081082400941</real>
					<key>dstPointY</key>
					<real>247.1541503175911</real>
					<key>srcPointX</key>
					<real>283.57403292599059</real>
					<key>srcPointY</key>
					<real>120.6114746824089</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>327.42461619804942</real>
					<key>controlPoint1Y</key>
					<real>170.90896214922432</real>
					<key>controlPoint2X</key>
					<real>411.95914789810968</real>
					<key>controlPoint2Y</key>
					<real>280.0809467049761</real>
					<key>dstPointX</key>
					<real>461.34048412418292</real>
					<key>dstPointY</key>
					<real>327.49085098122293</real>
					<key>srcPointX</key>
					<real>276.39779712581708</real>
					<key>srcPointY</key>
					<real>125.27477401877709</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>310.95234712952754</real>
					<key>controlPoint1Y</key>
					<real>194.85943414081825</real>
					<key>controlPoint2X</key>
					<real>375.95517785176395</real>
					<key>controlPoint2Y</key>
					<real>340.45705592284889</real>
					<key>dstPointX</key>
					<real>418.71502483758053</real>
					<key>dstPointY</key>
					<real>407.16241722072255</real>
					<key>srcPointX</key>
					<real>267.49981891241941</real>
					<key>srcPointY</key>
					<real>128.60320777927748</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>308.5753086232877</real>
					<key>controlPoint1Y</key>
					<real>219.22630249992022</real>
					<key>controlPoint2X</key>
					<real>378.49736138913988</real>
					<key>controlPoint2Y</key>
					<real>408.10953980469492</real>
					<key>dstPointX</key>
					<real>423.03526453587256</real>
					<key>dstPointY</key>
					<real>498.07610416109452</real>
					<key>srcPointX</key>
					<real>263.17957921412739</real>
					<key>srcPointY</key>
					<real>129.68952083890548</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.91616586538461542</real>
				<key>green</key>
				<real>0.91616586538461542</real>
				<key>red</key>
				<real>0.91616586538461542</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>242.95703125</real>
			<key>y</key>
			<real>112.046875</real>
		</dict>
		<key>Nothing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>429.04395180266931</real>
					<key>controlPoint1Y</key>
					<real>54.276822103507456</real>
					<key>controlPoint2X</key>
					<real>335.71377677646495</real>
					<key>controlPoint2Y</key>
					<real>94.486722104599053</real>
					<key>dstPointX</key>
					<real>286.91661469727126</real>
					<key>dstPointY</key>
					<real>106.99627395949116</real>
					<key>srcPointX</key>
					<real>478.77479155272874</real>
					<key>srcPointY</key>
					<real>46.245913540508852</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>524.3046875</real>
			<key>y</key>
			<real>43.3046875</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>925.9140625</real>
			<key>y</key>
			<real>477.82421875</real>
		</dict>
		<key>UpdateHead</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>642.1477291460784</real>
					<key>controlPoint1Y</key>
					<real>237.80396253431013</real>
					<key>controlPoint2X</key>
					<real>765.92230139767253</real>
					<key>controlPoint2Y</key>
					<real>199.19603746568987</real>
					<key>dstPointX</key>
					<real>829.12048870001558</real>
					<key>dstPointY</key>
					<real>185.29614289772584</real>
					<key>srcPointX</key>
					<real>578.94954184373535</real>
					<key>srcPointY</key>
					<real>251.70385710227416</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>535</real>
			<key>y</key>
			<real>256</real>
		</dict>
		<key>UpdateHead_generic</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>572.51366443765028</real>
					<key>controlPoint1Y</key>
					<real>431.0967788213681</real>
					<key>controlPoint2X</key>
					<real>744.11356559831449</real>
					<key>controlPoint2Y</key>
					<real>265.90322117863184</real>
					<key>dstPointX</key>
					<real>838.03568057543509</real>
					<key>dstPointY</key>
					<real>193.23830543420829</real>
					<key>srcPointX</key>
					<real>478.59154946052968</real>
					<key>srcPointY</key>
					<real>503.76169456579169</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>443</real>
			<key>y</key>
			<real>516</real>
		</dict>
		<key>UpdateHead_left</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>573.11870709725474</real>
					<key>controlPoint1Y</key>
					<real>363.21227192051327</real>
					<key>controlPoint2X</key>
					<real>743.26511533918222</real>
					<key>controlPoint2Y</key>
					<real>241.78772807948678</real>
					<key>dstPointX</key>
					<real>834.14115898299156</real>
					<key>dstPointY</key>
					<real>190.78800843642517</real>
					<key>srcPointX</key>
					<real>482.2426634534454</real>
					<key>srcPointY</key>
					<real>414.21199156357483</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>443</real>
			<key>y</key>
			<real>424</real>
		</dict>
		<key>UpdateHead_rigt</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>612.42622474890754</real>
					<key>controlPoint1Y</key>
					<real>302.51160225057458</real>
					<key>controlPoint2X</key>
					<real>755.72462825741786</real>
					<key>controlPoint2Y</key>
					<real>220.45241060669471</real>
					<key>dstPointX</key>
					<real>831.70943339518863</real>
					<key>dstPointY</key>
					<real>188.70941107133356</real>
					<key>srcPointX</key>
					<real>536.04584369201064</real>
					<key>srcPointY</key>
					<real>333.29058892866641</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>492.6953125</real>
			<key>y</key>
			<real>341</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
