<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Dummy</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>762.71379107641224</real>
					<key>controlPoint1Y</key>
					<real>146.80659037245172</real>
					<key>controlPoint2X</key>
					<real>634.49846557954845</real>
					<key>controlPoint2Y</key>
					<real>70.113483352918792</real>
					<key>dstPointX</key>
					<real>564.06725515401502</real>
					<key>dstPointY</key>
					<real>48.471827602593521</real>
					<key>srcPointX</key>
					<real>831.31159450238397</real>
					<key>srcPointY</key>
					<real>173.70004739740648</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>693.02971227551404</real>
					<key>controlPoint1Y</key>
					<real>164.08953141772858</real>
					<key>controlPoint2X</key>
					<real>423.44581317835258</real>
					<key>controlPoint2Y</key>
					<real>126.66130858115091</real>
					<key>dstPointX</key>
					<real>287.99282586362523</real>
					<key>dstPointY</key>
					<real>113.8860070981851</real>
					<key>srcPointX</key>
					<real>828.28265241213307</real>
					<key>srcPointY</key>
					<real>178.8327429018149</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>106</real>
			<key>x</key>
			<real>876</real>
			<key>y</key>
			<real>181</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>339.20183232114147</real>
					<key>controlPoint1Y</key>
					<real>146.93629274945633</real>
					<key>controlPoint2X</key>
					<real>439.46218645375308</real>
					<key>controlPoint2Y</key>
					<real>219.94277391582091</real>
					<key>dstPointX</key>
					<real>494.64081082400941</real>
					<key>dstPointY</key>
					<real>247.1541503175911</real>
					<key>srcPointX</key>
					<real>283.61700167599059</real>
					<key>srcPointY</key>
					<real>120.5645996824089</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>327.61621165668828</real>
					<key>controlPoint1Y</key>
					<real>170.77479740544223</real>
					<key>controlPoint2X</key>
					<real>412.45559519129085</real>
					<key>controlPoint2Y</key>
					<real>279.80613882031383</real>
					<key>dstPointX</key>
					<real>461.64517162418292</real>
					<key>dstPointY</key>
					<real>327.49085098122293</real>
					<key>srcPointX</key>
					<real>276.44076587581708</real>
					<key>srcPointY</key>
					<real>125.22789901877709</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>311.13733767544261</real>
					<key>controlPoint1Y</key>
					<real>194.72539419312105</real>
					<key>controlPoint2X</key>
					<real>375.95238630032821</real>
					<key>controlPoint2Y</key>
					<real>340.45270110260907</real>
					<key>dstPointX</key>
					<real>418.71502483758053</real>
					<key>dstPointY</key>
					<real>407.16241722072255</real>
					<key>srcPointX</key>
					<real>267.54278766241941</real>
					<key>srcPointY</key>
					<real>128.55633277927748</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>308.79400963368084</real>
					<key>controlPoint1Y</key>
					<real>219.09737775758589</real>
					<key>controlPoint2X</key>
					<real>378.49448955779974</real>
					<key>controlPoint2Y</key>
					<real>408.10373870538785</real>
					<key>dstPointX</key>
					<real>423.03526453587256</real>
					<key>dstPointY</key>
					<real>498.07610416109452</real>
					<key>srcPointX</key>
					<real>263.22254796412739</real>
					<key>srcPointY</key>
					<real>129.64264583890548</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.91616586538461542</real>
				<key>green</key>
				<real>0.91616586538461542</real>
				<key>red</key>
				<real>0.91616586538461542</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>242.95703125</real>
			<key>y</key>
			<real>112.046875</real>
		</dict>
		<key>Nothing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>428.68165149656329</real>
					<key>controlPoint1Y</key>
					<real>53.177964732487403</real>
					<key>controlPoint2X</key>
					<real>335.66997956912047</real>
					<key>controlPoint2Y</key>
					<real>94.357429118117906</real>
					<key>dstPointX</key>
					<real>286.95958344727126</real>
					<key>dstPointY</key>
					<real>106.94939895949116</real>
					<key>srcPointX</key>
					<real>478.47010405272874</real>
					<key>srcPointY</key>
					<real>45.941226040508852</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>524.3046875</real>
			<key>y</key>
			<real>43.3046875</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>925.9140625</real>
			<key>y</key>
			<real>477.82421875</real>
		</dict>
		<key>UpdateHead</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>642.1477291460784</real>
					<key>controlPoint1Y</key>
					<real>237.80396253431013</real>
					<key>controlPoint2X</key>
					<real>765.92230139767253</real>
					<key>controlPoint2Y</key>
					<real>199.19603746568987</real>
					<key>dstPointX</key>
					<real>829.12048870001558</real>
					<key>dstPointY</key>
					<real>185.29614289772584</real>
					<key>srcPointX</key>
					<real>578.94954184373535</real>
					<key>srcPointY</key>
					<real>251.70385710227416</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>535</real>
			<key>y</key>
			<real>256</real>
		</dict>
		<key>UpdateHead_generic</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>572.51366443765028</real>
					<key>controlPoint1Y</key>
					<real>431.0967788213681</real>
					<key>controlPoint2X</key>
					<real>744.11356559831449</real>
					<key>controlPoint2Y</key>
					<real>265.90322117863184</real>
					<key>dstPointX</key>
					<real>838.03568057543509</real>
					<key>dstPointY</key>
					<real>193.23830543420829</real>
					<key>srcPointX</key>
					<real>478.59154946052968</real>
					<key>srcPointY</key>
					<real>503.76169456579169</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>443</real>
			<key>y</key>
			<real>516</real>
		</dict>
		<key>UpdateHead_left</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>573.11870709725474</real>
					<key>controlPoint1Y</key>
					<real>363.21227192051327</real>
					<key>controlPoint2X</key>
					<real>743.26511533918222</real>
					<key>controlPoint2Y</key>
					<real>241.78772807948678</real>
					<key>dstPointX</key>
					<real>834.14115898299156</real>
					<key>dstPointY</key>
					<real>190.78800843642517</real>
					<key>srcPointX</key>
					<real>482.2426634534454</real>
					<key>srcPointY</key>
					<real>414.21199156357483</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>443</real>
			<key>y</key>
			<real>424</real>
		</dict>
		<key>UpdateHead_rigt</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>612.74221685735779</real>
					<key>controlPoint1Y</key>
					<real>302.72340774719788</real>
					<key>controlPoint2X</key>
					<real>755.78777485525927</real>
					<key>controlPoint2Y</key>
					<real>220.42603082691761</real>
					<key>dstPointX</key>
					<real>831.70943339518863</real>
					<key>dstPointY</key>
					<real>188.70941107133356</real>
					<key>srcPointX</key>
					<real>536.35053119201064</real>
					<key>srcPointY</key>
					<real>333.29058892866641</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>492.6953125</real>
			<key>y</key>
			<real>341</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
