<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FindBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>584.09639572638321</real>
					<key>controlPoint1Y</key>
					<real>150.37289179998751</real>
					<key>controlPoint2X</key>
					<real>378.50609036773915</real>
					<key>controlPoint2Y</key>
					<real>169.69780333066217</real>
					<key>dstPointX</key>
					<real>314.88223956275351</real>
					<key>dstPointY</key>
					<real>131.4016823878523</real>
					<key>srcPointX</key>
					<real>607.69798446946663</real>
					<key>srcPointY</key>
					<real>79.963004146876244</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.49329071306435812</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.74899400640781577</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>622</real>
			<key>y</key>
			<real>61</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>101.41277254714282</real>
					<key>controlPoint1Y</key>
					<real>114.63567646157345</real>
					<key>controlPoint2X</key>
					<real>127.38429421707335</real>
					<key>controlPoint2Y</key>
					<real>169.83718988133285</real>
					<key>dstPointX</key>
					<real>148.40590351068266</real>
					<key>dstPointY</key>
					<real>188.76011350645814</real>
					<key>srcPointX</key>
					<real>100.11171721127403</real>
					<key>srcPointY</key>
					<real>86.381608598193253</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.65234375</real>
			<key>y</key>
			<real>65.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>300</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>236.25679709159354</real>
					<key>controlPoint1Y</key>
					<real>180.25213872955771</real>
					<key>controlPoint2X</key>
					<real>255.49440399287226</real>
					<key>controlPoint2Y</key>
					<real>161.35567762457021</real>
					<key>dstPointX</key>
					<real>261.35564985281792</real>
					<key>dstPointY</key>
					<real>142.23381064016542</real>
					<key>srcPointX</key>
					<real>219.05175785552626</real>
					<key>srcPointY</key>
					<real>190.44952196671153</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.85969001054763794</real>
				<key>green</key>
				<real>0.85969001054763794</real>
				<key>red</key>
				<real>0.85969001054763794</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>178.640625</real>
			<key>y</key>
			<real>200.89453125</real>
		</dict>
		<key>StartTracking</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>308.74850218124385</real>
					<key>controlPoint1Y</key>
					<real>32.185880206856964</real>
					<key>controlPoint2X</key>
					<real>516.78344127171681</real>
					<key>controlPoint2Y</key>
					<real>15.550668377143616</real>
					<key>dstPointX</key>
					<real>582.50030127770071</real>
					<key>dstPointY</key>
					<real>51.418394156625112</real>
					<key>srcPointX</key>
					<real>287.40891415364666</real>
					<key>srcPointY</key>
					<real>103.94813647329971</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.59736641006145352</real>
				<key>red</key>
				<real>0.79928187838033293</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>276.22265625</real>
			<key>y</key>
			<real>120.7734375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
