<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>BottomSighting</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>803.4817416252773</real>
		    <key>controlPoint1Y</key>
		    <real>315.6296887077942</real>
		    <key>controlPoint2X</key>
		    <real>893.5182583747227</real>
		    <key>controlPoint2Y</key>
		    <real>257.3703112922058</real>
		    <key>dstPointX</key>
		    <real>957.9323508299398</real>
		    <key>dstPointY</key>
		    <real>244.0501131610343</real>
		    <key>srcPointX</key>
		    <real>739.0676491700602</real>
		    <key>srcPointY</key>
		    <real>328.9498868389657</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>695</real>
	    <key>y</key>
	    <real>333</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>94.801508031252</real>
		    <key>controlPoint1Y</key>
		    <real>115.4896746385476</real>
		    <key>controlPoint2X</key>
		    <real>128.6338877141525</real>
		    <key>controlPoint2Y</key>
		    <real>200.6511940447767</real>
		    <key>dstPointX</key>
		    <real>143.1477817684659</real>
		    <key>dstPointY</key>
		    <real>236.6343649227394</real>
		    <key>srcPointX</key>
		    <real>78.68815573153407</real>
		    <key>srcPointY</key>
		    <real>80.19376007726068</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.9161658653846152</real>
		<key>green</key>
		<real>0.9161658653846152</real>
		<key>red</key>
		<real>0.9161658653846152</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>60</real>
	    <key>y</key>
	    <real>62</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Loop</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>262.7501341465149</real>
		    <key>controlPoint1Y</key>
		    <real>251.7186037353031</real>
		    <key>controlPoint2X</key>
		    <real>354.2501114819141</real>
		    <key>controlPoint2Y</key>
		    <real>242.2970683209005</real>
		    <key>dstPointX</key>
		    <real>417.005526639652</real>
		    <key>dstPointY</key>
		    <real>241.3134411240707</real>
		    <key>srcPointX</key>
		    <real>199.994718988777</real>
		    <key>srcPointY</key>
		    <real>252.7022309321328</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>48</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>96</real>
	    <key>x</key>
	    <real>143</real>
	    <key>y</key>
	    <real>246</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Reset</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>852.1041662604965</real>
		    <key>controlPoint1Y</key>
		    <real>67.01059062647533</real>
		    <key>controlPoint2X</key>
		    <real>342.1577846879997</real>
		    <key>controlPoint2Y</key>
		    <real>109.0460589434534</real>
		    <key>dstPointX</key>
		    <real>191.8027287937947</real>
		    <key>dstPointY</key>
		    <real>239.6428748633113</real>
		    <key>srcPointX</key>
		    <real>974.3726723918286</real>
		    <key>srcPointY</key>
		    <real>224.2129556524735</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1002</real>
	    <key>y</key>
	    <real>240</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>120.95703125</real>
	    <key>y</key>
	    <real>340</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>TopSighting</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>159.4970946430046</real>
		    <key>controlPoint1Y</key>
		    <real>36.3647498158137</real>
		    <key>controlPoint2X</key>
		    <real>892.5029053569954</real>
		    <key>controlPoint2Y</key>
		    <real>228.6352501841863</real>
		    <key>dstPointX</key>
		    <real>957.3995089893284</real>
		    <key>dstPointY</key>
		    <real>237.3408921348651</real>
		    <key>srcPointX</key>
		    <real>94.60049101067148</real>
		    <key>srcPointY</key>
		    <real>27.6591078651349</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>676</real>
	    <key>y</key>
	    <real>201</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>UpdateHead</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>543.4866306756473</real>
		    <key>controlPoint1Y</key>
		    <real>258.5932293164723</real>
		    <key>controlPoint2X</key>
		    <real>613.5133693243527</real>
		    <key>controlPoint2Y</key>
		    <real>315.4067706835277</real>
		    <key>dstPointX</key>
		    <real>651.9641793026898</real>
		    <key>dstPointY</key>
		    <real>327.1556292880196</real>
		    <key>srcPointX</key>
		    <real>505.0358206973103</real>
		    <key>srcPointY</key>
		    <real>246.8443707119804</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>536.2548526794226</real>
		    <key>controlPoint1Y</key>
		    <real>225.4547027833228</real>
		    <key>controlPoint2X</key>
		    <real>-27.32550080978911</real>
		    <key>controlPoint2Y</key>
		    <real>19.75504289454611</real>
		    <key>dstPointX</key>
		    <real>5.223326440550522</real>
		    <key>dstPointY</key>
		    <real>23.00992561958</real>
		    <key>srcPointX</key>
		    <real>504.9985614552994</real>
		    <key>srcPointY</key>
		    <real>235.1017062475584</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>462</real>
	    <key>y</key>
	    <real>241</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>