<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>INIT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>158.63226309915049</real>
					<key>controlPoint1Y</key>
					<real>89.109188455660188</real>
					<key>controlPoint2X</key>
					<real>206.86773690084951</real>
					<key>controlPoint2Y</key>
					<real>131.39081154433978</real>
					<key>dstPointX</key>
					<real>235.47377380360382</real>
					<key>dstPointY</key>
					<real>144.28259884184774</real>
					<key>srcPointX</key>
					<real>130.02622619639618</real>
					<key>srcPointY</key>
					<real>76.217401158152242</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>89</real>
			<key>y</key>
			<real>68</real>
		</dict>
		<key>Ping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>359.92845621357532</real>
					<key>controlPoint1Y</key>
					<real>134.12334366784359</real>
					<key>controlPoint2X</key>
					<real>436.07154378642468</real>
					<key>controlPoint2Y</key>
					<real>95.876656332156429</real>
					<key>dstPointX</key>
					<real>476.50143854470059</real>
					<key>dstPointY</key>
					<real>83.398293752441631</real>
					<key>srcPointX</key>
					<real>319.49856145529941</real>
					<key>srcPointY</key>
					<real>146.60170624755838</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>276.27734375</real>
			<key>y</key>
			<real>152.50390625</real>
		</dict>
		<key>Pong</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>436.07154378642468</real>
					<key>controlPoint1Y</key>
					<real>95.876656332156429</real>
					<key>controlPoint2X</key>
					<real>359.92845621357532</real>
					<key>controlPoint2Y</key>
					<real>134.12334366784359</real>
					<key>dstPointX</key>
					<real>319.49856145529941</real>
					<key>dstPointY</key>
					<real>146.60170624755838</real>
					<key>srcPointX</key>
					<real>476.50143854470059</real>
					<key>srcPointY</key>
					<real>83.398293752441631</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>519.45703125</real>
			<key>y</key>
			<real>77.5</real>
		</dict>
	</dict>
</dict>
</plist>
