<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>INIT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>-10.056336680768077</real>
					<key>controlPoint1Y</key>
					<real>-17.287859687163085</real>
					<key>controlPoint2X</key>
					<real>-13.118933735540509</real>
					<key>controlPoint2Y</key>
					<real>-15.096144462825521</real>
					<key>dstPointX</key>
					<real>0.0</real>
					<key>dstPointY</key>
					<real>0.0</real>
					<key>srcPointX</key>
					<real>0.0</real>
					<key>srcPointY</key>
					<real>0.0</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>89</real>
			<key>y</key>
			<real>68</real>
		</dict>
		<key>Ping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>-13.118933735540509</real>
					<key>controlPoint1Y</key>
					<real>-15.096144462825521</real>
					<key>controlPoint2X</key>
					<real>-19.248532919195554</real>
					<key>controlPoint2Y</key>
					<real>-5.4308360736301893</real>
					<key>dstPointX</key>
					<real>0.0</real>
					<key>dstPointY</key>
					<real>0.0</real>
					<key>srcPointX</key>
					<real>0.0</real>
					<key>srcPointY</key>
					<real>0.0</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>350</real>
			<key>y</key>
			<real>179</real>
		</dict>
		<key>Pong</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>-19.248532919195554</real>
					<key>controlPoint1Y</key>
					<real>-5.4308360736301893</real>
					<key>controlPoint2X</key>
					<real>-13.118933735540509</real>
					<key>controlPoint2Y</key>
					<real>-15.096144462825521</real>
					<key>dstPointX</key>
					<real>0.0</real>
					<key>dstPointY</key>
					<real>0.0</real>
					<key>srcPointX</key>
					<real>0.0</real>
					<key>srcPointY</key>
					<real>0.0</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>630</real>
			<key>y</key>
			<real>79</real>
		</dict>
	</dict>
</dict>
</plist>
