<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Back_GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>610.18356348168231</real>
					<key>controlPoint1Y</key>
					<real>134.44254120919504</real>
					<key>controlPoint2X</key>
					<real>829.07800081758751</real>
					<key>controlPoint2Y</key>
					<real>133.60567520626302</real>
					<key>dstPointX</key>
					<real>886.09677587502517</real>
					<key>dstPointY</key>
					<real>209.98339036720969</real>
					<key>srcPointX</key>
					<real>519.75243574345336</real>
					<key>srcPointY</key>
					<real>104.32764093956948</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>477</real>
			<key>y</key>
			<real>97.9140625</real>
		</dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>229.98490333527408</real>
					<key>controlPoint1Y</key>
					<real>229.83432440565218</real>
					<key>controlPoint2X</key>
					<real>355.25115648154099</real>
					<key>controlPoint2Y</key>
					<real>106.61545577414572</real>
					<key>dstPointX</key>
					<real>432.02707739329441</real>
					<key>dstPointY</key>
					<real>99.779645690868364</real>
					<key>srcPointX</key>
					<real>152.91082821119804</real>
					<key>srcPointY</key>
					<real>230.76021592777155</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>222.906137547865</real>
					<key>controlPoint1Y</key>
					<real>228.62793357318785</real>
					<key>controlPoint2X</key>
					<real>363.8902098134613</real>
					<key>controlPoint2Y</key>
					<real>229.38228525383332</real>
					<key>dstPointX</key>
					<real>432.84726610335247</real>
					<key>dstPointY</key>
					<real>217.40767247759914</real>
					<key>srcPointX</key>
					<real>152.94141822587889</real>
					<key>srcPointY</key>
					<real>230.47320144091657</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>223.04147213334281</real>
					<key>controlPoint1Y</key>
					<real>253.79894178457383</real>
					<key>controlPoint2X</key>
					<real>362.46214784070025</real>
					<key>controlPoint2Y</key>
					<real>303.32100990939648</real>
					<key>dstPointX</key>
					<real>434.79108924890181</real>
					<key>dstPointY</key>
					<real>317.22337490943789</real>
					<key>srcPointX</key>
					<real>151.605242439005</real>
					<key>srcPointY</key>
					<real>235.86526940875396</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>108.04296875</real>
			<key>y</key>
			<real>231</real>
		</dict>
		<key>DummyState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>351.97388546413151</real>
					<key>controlPoint1Y</key>
					<real>416.42503283216411</real>
					<key>controlPoint2X</key>
					<real>61.035296459221371</real>
					<key>controlPoint2Y</key>
					<real>347.05373591539569</real>
					<key>dstPointX</key>
					<real>93.661476041495504</real>
					<key>dstPointY</key>
					<real>249.9639663574381</real>
					<key>srcPointX</key>
					<real>439.51000652845767</real>
					<key>srcPointY</key>
					<real>469.60697014140237</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>478.04296875</real>
			<key>y</key>
			<real>480</real>
		</dict>
		<key>Front_GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>608.83924606434732</real>
					<key>controlPoint1Y</key>
					<real>216.85896585264868</real>
					<key>controlPoint2X</key>
					<real>783.01373478146388</real>
					<key>controlPoint2Y</key>
					<real>209.24030599272459</real>
					<key>dstPointX</key>
					<real>868.60485783613103</real>
					<key>dstPointY</key>
					<real>222.86022379011291</real>
					<key>srcPointX</key>
					<real>522.20232334093112</real>
					<key>srcPointY</key>
					<real>214.53816263315645</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>476.78515625</real>
			<key>y</key>
			<real>213.93359375</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>97.973173671642371</real>
					<key>controlPoint1Y</key>
					<real>113.81571015332699</real>
					<key>controlPoint2X</key>
					<real>97.531710773998313</real>
					<key>controlPoint2Y</key>
					<real>179.13154149472706</real>
					<key>dstPointX</key>
					<real>101.90879459141496</real>
					<key>dstPointY</key>
					<real>211.17889012913724</real>
					<key>srcPointX</key>
					<real>102.5837604495575</real>
					<key>srcPointY</key>
					<real>81.801121185116926</real>
				</dict>
			</array>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>109.04296875</real>
			<key>y</key>
			<real>62</real>
		</dict>
		<key>RollToSide</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>610.6636475194349</real>
					<key>controlPoint1Y</key>
					<real>294.13536765509639</real>
					<key>controlPoint2X</key>
					<real>804.31384373172136</real>
					<key>controlPoint2Y</key>
					<real>292.23514366564825</real>
					<key>dstPointX</key>
					<real>876.9774554402627</real>
					<key>dstPointY</key>
					<real>237.95875192813796</real>
					<key>srcPointX</key>
					<real>522.67763647058405</real>
					<key>srcPointY</key>
					<real>316.14420738564201</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>479</real>
			<key>y</key>
			<real>321.04296875</real>
		</dict>
		<key>Standing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1010.7212945546676</real>
					<key>controlPoint1Y</key>
					<real>338.50932575763181</real>
					<key>controlPoint2X</key>
					<real>641.63512728615206</real>
					<key>controlPoint2Y</key>
					<real>464.22669059901949</real>
					<key>dstPointX</key>
					<real>522.66987020429406</real>
					<key>dstPointY</key>
					<real>477.74416388620108</real>
					<key>srcPointX</key>
					<real>939.70680055008722</real>
					<key>srcPointY</key>
					<real>242.11225050171103</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>912.953125</real>
			<key>y</key>
			<real>226</real>
		</dict>
	</dict>
</dict>
</plist>
