<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Back_GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>589.88229580563984</real>
					<key>controlPoint1Y</key>
					<real>127.27880080251531</real>
					<key>controlPoint2X</key>
					<real>841.84173711944413</real>
					<key>controlPoint2Y</key>
					<real>150.86872734176865</real>
					<key>dstPointX</key>
					<real>886.04990087502517</real>
					<key>dstPointY</key>
					<real>209.98339036720969</real>
					<key>srcPointX</key>
					<real>519.75243574345336</real>
					<key>srcPointY</key>
					<real>104.24170343956948</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>477</real>
			<key>y</key>
			<real>97.9140625</real>
		</dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>219.95695599399994</real>
					<key>controlPoint1Y</key>
					<real>229.95607577332416</real>
					<key>controlPoint2X</key>
					<real>365.25837255600584</real>
					<key>controlPoint2Y</key>
					<real>105.35144767885939</real>
					<key>dstPointX</key>
					<real>432.02707739329441</real>
					<key>dstPointY</key>
					<real>99.693708190868364</real>
					<key>srcPointX</key>
					<real>152.95379696119804</real>
					<key>srcPointY</key>
					<real>230.76021592777155</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>222.94915273031825</real>
					<key>controlPoint1Y</key>
					<real>228.62969493580232</real>
					<key>controlPoint2X</key>
					<real>363.62698767211339</real>
					<key>controlPoint2Y</key>
					<real>229.0338684940416</real>
					<key>dstPointX</key>
					<real>432.63242235335247</real>
					<key>dstPointY</key>
					<real>217.34126622759914</real>
					<key>srcPointX</key>
					<real>152.98438697587889</real>
					<key>srcPointY</key>
					<real>230.47320144091657</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>223.08860849834224</real>
					<key>controlPoint1Y</key>
					<real>253.78233250819844</real>
					<key>controlPoint2X</key>
					<real>362.43297736671173</real>
					<key>controlPoint2Y</key>
					<real>303.51661047403041</real>
					<key>dstPointX</key>
					<real>434.79108924890181</real>
					<key>dstPointY</key>
					<real>317.26634365943789</real>
					<key>srcPointX</key>
					<real>151.648211189005</real>
					<key>srcPointY</key>
					<real>235.86526940875396</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>108.04296875</real>
			<key>y</key>
			<real>231</real>
		</dict>
		<key>DummyState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>352.04323207031092</real>
					<key>controlPoint1Y</key>
					<real>416.3816397939417</real>
					<key>controlPoint2X</key>
					<real>61.166156734756406</real>
					<key>controlPoint2Y</key>
					<real>347.08322684313566</real>
					<key>dstPointX</key>
					<real>93.704444791495504</real>
					<key>dstPointY</key>
					<real>249.9639663574381</real>
					<key>srcPointX</key>
					<real>439.55297527845767</real>
					<key>srcPointY</key>
					<real>469.60697014140237</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>478.04296875</real>
			<key>y</key>
			<real>480</real>
		</dict>
		<key>Front_GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>585.90541300660891</real>
					<key>controlPoint1Y</key>
					<real>215.97986063933396</real>
					<key>controlPoint2X</key>
					<real>805.41503907114577</real>
					<key>controlPoint2Y</key>
					<real>212.82303079254535</real>
					<key>dstPointX</key>
					<real>868.55798283613103</real>
					<key>dstPointY</key>
					<real>222.86022379011291</real>
					<key>srcPointX</key>
					<real>521.98747959093112</real>
					<key>srcPointY</key>
					<real>214.47175638315645</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>476.78515625</real>
			<key>y</key>
			<real>213.93359375</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>98.046397725240794</real>
					<key>controlPoint1Y</key>
					<real>113.82005278542968</real>
					<key>controlPoint2X</key>
					<real>97.604996882733687</real>
					<key>controlPoint2Y</key>
					<real>179.12741530201257</real>
					<key>dstPointX</key>
					<real>101.95176334141496</real>
					<key>dstPointY</key>
					<real>211.17889012913724</real>
					<key>srcPointX</key>
					<real>102.6267291995575</real>
					<key>srcPointY</key>
					<real>81.801121185116926</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>109.04296875</real>
			<key>y</key>
			<real>62</real>
		</dict>
		<key>RollToSide</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>589.24893511038874</real>
					<key>controlPoint1Y</key>
					<real>299.68237158356527</real>
					<key>controlPoint2X</key>
					<real>821.95535065893444</real>
					<key>controlPoint2Y</key>
					<real>278.96936624178204</real>
					<key>dstPointX</key>
					<real>876.9305804402627</real>
					<key>dstPointY</key>
					<real>237.95875192813796</real>
					<key>srcPointX</key>
					<real>522.67763647058405</real>
					<key>srcPointY</key>
					<real>316.18717613564201</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>479</real>
			<key>y</key>
			<real>321.04296875</real>
		</dict>
		<key>Standing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>999.14322443006733</real>
					<key>controlPoint1Y</key>
					<real>322.99852580090493</real>
					<key>controlPoint2X</key>
					<real>622.47557678692033</real>
					<key>controlPoint2Y</key>
					<real>466.41947768477775</real>
					<key>dstPointX</key>
					<real>522.71283895429406</real>
					<key>dstPointY</key>
					<real>477.74416388620108</real>
					<key>srcPointX</key>
					<real>939.65992555008722</real>
					<key>srcPointY</key>
					<real>242.11225050171103</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>912.953125</real>
			<key>y</key>
			<real>226</real>
		</dict>
	</dict>
</dict>
</plist>
