<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Align_body</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>574.73226989937257</real>
					<key>controlPoint1Y</key>
					<real>567.43346125104597</real>
					<key>controlPoint2X</key>
					<real>633.42844471346677</real>
					<key>controlPoint2Y</key>
					<real>602.80184482334312</real>
					<key>dstPointX</key>
					<real>665.41272956692751</real>
					<key>dstPointY</key>
					<real>614.23442318216212</real>
					<key>srcPointX</key>
					<real>542.58727043307249</real>
					<key>srcPointY</key>
					<real>556.46088931783788</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>500</real>
			<key>y</key>
			<real>550</real>
		</dict>
		<key>Approach</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>554.68496405618032</real>
					<key>controlPoint1Y</key>
					<real>650.14245986197739</real>
					<key>controlPoint2X</key>
					<real>626.83042255845965</real>
					<key>controlPoint2Y</key>
					<real>629.54552290487538</real>
					<key>dstPointX</key>
					<real>663.61227342755353</real>
					<key>dstPointY</key>
					<real>623.98329224610711</real>
					<key>srcPointX</key>
					<real>518.04397657244647</real>
					<key>srcPointY</key>
					<real>656.56748900389289</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>474.34375</real>
			<key>y</key>
			<real>660.14453125</real>
		</dict>
		<key>Calculate_way</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>281.91156222311429</real>
					<key>controlPoint1Y</key>
					<real>481.91271056669541</real>
					<key>controlPoint2X</key>
					<real>397.12598537051684</real>
					<key>controlPoint2Y</key>
					<real>527.90591063630507</real>
					<key>dstPointX</key>
					<real>456.67082738185206</real>
					<key>dstPointY</key>
					<real>544.6007261535018</real>
					<key>srcPointX</key>
					<real>222.32917261814794</real>
					<key>srcPointY</key>
					<real>465.3523988464982</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>274.90597497962887</real>
					<key>controlPoint1Y</key>
					<real>510.77906755062168</real>
					<key>controlPoint2X</key>
					<real>377.89401892204995</real>
					<key>controlPoint2Y</key>
					<real>608.81744343957223</real>
					<key>dstPointX</key>
					<real>436.40936758078539</real>
					<key>dstPointY</key>
					<real>648.63230267264726</real>
					<key>srcPointX</key>
					<real>216.24688241921459</real>
					<key>srcPointY</key>
					<real>471.1762910773528</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>286.75193098882164</real>
					<key>controlPoint1Y</key>
					<real>415.03787797494653</real>
					<key>controlPoint2X</key>
					<real>418.1349982421537</real>
					<key>controlPoint2Y</key>
					<real>335.42812611837996</real>
					<key>dstPointX</key>
					<real>479.20040663661587</real>
					<key>dstPointY</key>
					<real>289.0770338246399</real>
					<key>srcPointX</key>
					<real>218.88155068035456</real>
					<key>srcPointY</key>
					<real>450.68923609759457</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>179</real>
			<key>y</key>
			<real>460.046875</real>
		</dict>
		<key>Head_Scan</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>515.453125</real>
			<key>y</key>
			<real>277.30078125</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>136.37300158725185</real>
					<key>controlPoint1Y</key>
					<real>290.62377077157163</real>
					<key>controlPoint2X</key>
					<real>151.87015221816006</real>
					<key>controlPoint2Y</key>
					<real>391.95627136084369</real>
					<key>dstPointX</key>
					<real>166.25323000092607</real>
					<key>dstPointY</key>
					<real>440.77227109663158</real>
					<key>srcPointX</key>
					<real>121.74676999907393</real>
					<key>srcPointY</key>
					<real>241.88007265336839</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>109</real>
			<key>y</key>
			<real>223.30078125</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>537.36840875471353</real>
					<key>controlPoint1Y</key>
					<real>518.72071668474905</real>
					<key>controlPoint2X</key>
					<real>281.88101435959453</real>
					<key>controlPoint2Y</key>
					<real>321.28819804569116</real>
					<key>dstPointX</key>
					<real>146.48072464078854</real>
					<key>dstPointY</key>
					<real>233.76753884425622</real>
					<key>srcPointX</key>
					<real>670.51927535921152</real>
					<key>srcPointY</key>
					<real>609.62699240574375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>708</real>
			<key>y</key>
			<real>621.3046875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
