<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>622.12276932106897</real>
					<key>controlPoint1Y</key>
					<real>154.27623097240513</real>
					<key>controlPoint2X</key>
					<real>307.12276932106897</real>
					<key>controlPoint2Y</key>
					<real>275.27623097240513</real>
					<key>dstPointX</key>
					<real>299</real>
					<key>dstPointY</key>
					<real>257</real>
					<key>srcPointX</key>
					<real>614</real>
					<key>srcPointY</key>
					<real>136</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>244</real>
			<key>internalHeight</key>
			<real>28</real>
			<key>onEntryHeight</key>
			<real>141</real>
			<key>onExitHeight</key>
			<real>28</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>346</real>
			<key>x</key>
			<real>736.48046875</real>
			<key>y</key>
			<real>231.51953125</real>
			<key>zoomedInternalHeight</key>
			<real>265</real>
			<key>zoomedOnEntryHeight</key>
			<real>274</real>
			<key>zoomedOnExitHeight</key>
			<real>266</real>
		</dict>
		<key>LIGHT_NXT_OFF</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>355.00221558398346</real>
					<key>controlPoint1Y</key>
					<real>314.38632723115228</real>
					<key>controlPoint2X</key>
					<real>390.70661727472225</real>
					<key>controlPoint2Y</key>
					<real>392.76153429129505</real>
					<key>dstPointX</key>
					<real>428.11257249937734</real>
					<key>dstPointY</key>
					<real>428.70295235070984</real>
					<key>srcPointX</key>
					<real>324.40570261869823</real>
					<key>srcPointY</key>
					<real>272.49546411333546</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>297.86402785439918</real>
			<key>y</key>
			<real>256.34469605786933</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>LIGHT_NXT_ON</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>417.68247500796332</real>
					<key>controlPoint1Y</key>
					<real>377.64512346021229</real>
					<key>controlPoint2X</key>
					<real>378.67668721464378</real>
					<key>controlPoint2Y</key>
					<real>296.63102560065494</real>
					<key>dstPointX</key>
					<real>335.23379178529842</real>
					<key>dstPointY</key>
					<real>267.4868814387317</real>
					<key>srcPointX</key>
					<real>440.73305398276568</real>
					<key>srcPointY</key>
					<real>424.60614039066638</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>460.56126032688172</real>
			<key>y</key>
			<real>442.55994796881305</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
