<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Button_Off</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>251.2824936657334</real>
					<key>controlPoint1Y</key>
					<real>251.872935568</real>
					<key>controlPoint2X</key>
					<real>425.82961855120482</real>
					<key>controlPoint2Y</key>
					<real>151.4490332258892</real>
					<key>dstPointX</key>
					<real>513.49914300479702</real>
					<key>dstPointY</key>
					<real>93.094003924504577</real>
					<key>srcPointX</key>
					<real>156.32002518266046</real>
					<key>srcPointY</key>
					<real>297.40736805909216</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>116</real>
			<key>y</key>
			<real>305.76171875</real>
		</dict>
		<key>Button_On</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>551.13006886493997</real>
					<key>controlPoint1Y</key>
					<real>153.04323970751039</real>
					<key>controlPoint2X</key>
					<real>556.84250496395941</real>
					<key>controlPoint2Y</key>
					<real>255.02323550877057</real>
					<key>dstPointX</key>
					<real>559.05205396485906</real>
					<key>dstPointY</key>
					<real>306.01874702704504</real>
					<key>srcPointX</key>
					<real>551.06094217214036</real>
					<key>srcPointY</key>
					<real>101.99992943771908</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>551.046875</real>
			<key>y</key>
			<real>82</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>245.68247170224339</real>
					<key>controlPoint1Y</key>
					<real>84.509943642173099</real>
					<key>controlPoint2X</key>
					<real>419.4846281061117</real>
					<key>controlPoint2Y</key>
					<real>74.072083269020894</real>
					<key>dstPointX</key>
					<real>506.06577412873855</real>
					<key>dstPointY</key>
					<real>80.514089764457353</real>
					<key>srcPointX</key>
					<real>158.87045601665659</real>
					<key>srcPointY</key>
					<real>85.721647766170307</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>118.80607759867493</real>
					<key>controlPoint1Y</key>
					<real>155.5651086574515</real>
					<key>controlPoint2X</key>
					<real>111.695942070578</real>
					<key>controlPoint2Y</key>
					<real>236.41407452500812</real>
					<key>dstPointX</key>
					<real>113.96683199269209</real>
					<key>dstPointY</key>
					<real>286.1922991182247</real>
					<key>srcPointX</key>
					<real>116.27013711483633</real>
					<key>srcPointY</key>
					<real>105.79968300315315</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>114</real>
			<key>y</key>
			<real>86.04296875</real>
		</dict>
		<key>Wait_Release</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>427.53724137008106</real>
					<key>controlPoint1Y</key>
					<real>316.63436300184753</real>
					<key>controlPoint2X</key>
					<real>249.48848793289238</real>
					<key>controlPoint2Y</key>
					<real>311.92056977736752</real>
					<key>dstPointX</key>
					<real>160.82404279725057</real>
					<key>dstPointY</key>
					<real>307.08621852949784</real>
					<key>srcPointX</key>
					<real>516.00419923719915</real>
					<key>srcPointY</key>
					<real>324.27322083116803</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>561</real>
			<key>y</key>
			<real>326</real>
		</dict>
	</dict>
</dict>
</plist>
