<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Button_Off</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>251.02676801335531</real>
					<key>controlPoint1Y</key>
					<real>270.18538375958701</real>
					<key>controlPoint2X</key>
					<real>426.06097930115976</real>
					<key>controlPoint2Y</key>
					<real>151.60805993569556</real>
					<key>dstPointX</key>
					<real>513.63976800479702</real>
					<key>dstPointY</key>
					<real>93.094003924504577</real>
					<key>srcPointX</key>
					<real>156.32002518266046</real>
					<key>srcPointY</key>
					<real>316.27846180909216</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>116</real>
			<key>y</key>
			<real>324.95703125</real>
		</dict>
		<key>Button_On</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>551.43019661529161</real>
					<key>controlPoint1Y</key>
					<real>153.04141865531642</real>
					<key>controlPoint2X</key>
					<real>556.84256365404372</real>
					<key>controlPoint2Y</key>
					<real>255.02459005255633</real>
					<key>dstPointX</key>
					<real>559.05205396485906</real>
					<key>dstPointY</key>
					<real>306.01874702704504</real>
					<key>srcPointX</key>
					<real>551.20156717214036</real>
					<key>srcPointY</key>
					<real>101.99992943771908</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>551.046875</real>
			<key>y</key>
			<real>82</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>245.72413415667233</real>
					<key>controlPoint1Y</key>
					<real>85.199683650787819</real>
					<key>controlPoint2X</key>
					<real>419.59120551522744</real>
					<key>controlPoint2Y</key>
					<real>74.049317999270002</real>
					<key>dstPointX</key>
					<real>506.20639912873855</real>
					<key>dstPointY</key>
					<real>80.514089764457353</real>
					<key>srcPointX</key>
					<real>158.87045601665659</real>
					<key>srcPointY</key>
					<real>85.850554016170307</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>118.78645741721321</real>
					<key>controlPoint1Y</key>
					<real>155.6304795783428</real>
					<key>controlPoint2X</key>
					<real>111.71351316352198</real>
					<key>controlPoint2Y</key>
					<real>255.34888468383809</real>
					<key>dstPointX</key>
					<real>113.96683199269209</real>
					<key>dstPointY</key>
					<real>305.0633928682247</real>
					<key>srcPointX</key>
					<real>116.27013711483633</real>
					<key>srcPointY</key>
					<real>105.92858925315315</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>114</real>
			<key>y</key>
			<real>86.04296875</real>
		</dict>
		<key>Wait_Release</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>427.53739554662411</real>
					<key>controlPoint1Y</key>
					<real>316.63437631453201</real>
					<key>controlPoint2X</key>
					<real>249.51768579269091</real>
					<key>controlPoint2Y</key>
					<real>330.21935321940646</real>
					<key>dstPointX</key>
					<real>160.82404279725057</real>
					<key>dstPointY</key>
					<real>325.95731227949784</real>
					<key>srcPointX</key>
					<real>516.00419923719915</real>
					<key>srcPointY</key>
					<real>324.27322083116803</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>561</real>
			<key>y</key>
			<real>326</real>
		</dict>
	</dict>
</dict>
</plist>
