<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>HeadSeek</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>303.25618347636646</real>
					<key>controlPoint1Y</key>
					<real>215.97461796370527</real>
					<key>controlPoint2X</key>
					<real>507.19149958088497</real>
					<key>controlPoint2Y</key>
					<real>201.79018373350152</real>
					<key>dstPointX</key>
					<real>565.82873513780885</real>
					<key>dstPointY</key>
					<real>259.84393839527036</real>
					<key>srcPointX</key>
					<real>235.79225377269037</real>
					<key>srcPointY</key>
					<real>263.48442761418141</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>199</real>
			<key>y</key>
			<real>275</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>197.24503076478794</real>
					<key>controlPoint1Y</key>
					<real>76.028319097508557</real>
					<key>controlPoint2X</key>
					<real>301.76110991306399</real>
					<key>controlPoint2Y</key>
					<real>75.511435906099067</real>
					<key>dstPointX</key>
					<real>354.00025167292586</real>
					<key>dstPointY</key>
					<real>74.418451758011258</real>
					<key>srcPointX</key>
					<real>144.99974832707414</real>
					<key>srcPointY</key>
					<real>75.284673241988742</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>74.9609375</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>473.30859375</real>
		</dict>
		<key>WalkSeek</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>509.2574386435129</real>
					<key>controlPoint1Y</key>
					<real>350.46231296203513</real>
					<key>controlPoint2X</key>
					<real>281.32524203309117</real>
					<key>controlPoint2Y</key>
					<real>356.23448393569373</real>
					<key>dstPointX</key>
					<real>227.50237865094897</real>
					<key>dstPointY</key>
					<real>290.47671711281845</real>
					<key>srcPointX</key>
					<real>567.40234498518384</real>
					<key>srcPointY</key>
					<real>288.49333373288619</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>598</real>
			<key>y</key>
			<real>274.04296875</real>
		</dict>
		<key>Walk_Halt</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>328.97149125453836</real>
					<key>controlPoint1Y</key>
					<real>127.96271163689062</real>
					<key>controlPoint2X</key>
					<real>269.50850751919893</real>
					<key>controlPoint2Y</key>
					<real>221.86064833242796</real>
					<key>dstPointX</key>
					<real>230.74035532398128</real>
					<key>dstPointY</key>
					<real>260.8226412886217</real>
					<key>srcPointX</key>
					<real>367.25964467601875</real>
					<key>srcPointY</key>
					<real>88.528921211378304</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>399</real>
			<key>y</key>
			<real>73.9609375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
