<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FocusOnGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>547.07930881255538</real>
					<key>controlPoint1Y</key>
					<real>439.57379444468023</real>
					<key>controlPoint2X</key>
					<real>174.45903327010234</real>
					<key>controlPoint2Y</key>
					<real>561.85351338711712</real>
					<key>dstPointX</key>
					<real>202.33467501955778</real>
					<key>dstPointY</key>
					<real>558.43467722976425</real>
					<key>srcPointX</key>
					<real>518.99679594307895</real>
					<key>srcPointY</key>
					<real>439.23866081388024</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>473.546875</real>
			<key>y</key>
			<real>438.703125</real>
		</dict>
		<key>HeadSeek</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>303.25667642166701</real>
					<key>controlPoint1Y</key>
					<real>215.97427081912744</real>
					<key>controlPoint2X</key>
					<real>507.62995336347524</real>
					<key>controlPoint2Y</key>
					<real>201.13494859599587</real>
					<key>dstPointX</key>
					<real>565.82873513780885</real>
					<key>dstPointY</key>
					<real>259.62909464527036</real>
					<key>srcPointX</key>
					<real>235.79225377269037</real>
					<key>srcPointY</key>
					<real>263.48442761418141</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>232.47585143528181</real>
					<key>controlPoint1Y</key>
					<real>330.53008578332202</real>
					<key>controlPoint2X</key>
					<real>401.12985263837231</real>
					<key>controlPoint2Y</key>
					<real>407.55677232659349</real>
					<key>dstPointX</key>
					<real>435.58673986035944</real>
					<key>dstPointY</key>
					<real>428.58233745376299</real>
					<key>srcPointX</key>
					<real>216.64668572986287</real>
					<key>srcPointY</key>
					<real>293.39803791337584</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>199</real>
			<key>y</key>
			<real>275</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>197.23727199169525</real>
					<key>controlPoint1Y</key>
					<real>76.733656081221454</real>
					<key>controlPoint2X</key>
					<real>301.75392863691945</real>
					<key>controlPoint2Y</key>
					<real>73.165049903756668</real>
					<key>dstPointX</key>
					<real>354.00300477194162</real>
					<key>dstPointY</key>
					<real>73.768880151408126</real>
					<key>srcPointX</key>
					<real>144.99974832707414</real>
					<key>srcPointY</key>
					<real>75.479985741988742</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>95.260795353784289</real>
					<key>controlPoint1Y</key>
					<real>148.04828538272875</real>
					<key>controlPoint2X</key>
					<real>268.21768687070903</real>
					<key>controlPoint2Y</key>
					<real>223.1579230841603</real>
					<key>dstPointX</key>
					<real>230.74035532398128</real>
					<key>dstPointY</key>
					<real>260.8226412886217</real>
					<key>srcPointX</key>
					<real>97.826797654984844</real>
					<key>srcPointY</key>
					<real>94.976663874854395</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>74.9609375</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>473.30859375</real>
		</dict>
		<key>WalkAMeter</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>247</real>
			<key>y</key>
			<real>555</real>
		</dict>
		<key>WalkSeek</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>508.79682975489152</real>
					<key>controlPoint1Y</key>
					<real>349.81248953098657</real>
					<key>controlPoint2X</key>
					<real>281.3254469923678</real>
					<key>controlPoint2Y</key>
					<real>356.23473434348466</real>
					<key>dstPointX</key>
					<real>227.50237865094897</real>
					<key>dstPointY</key>
					<real>290.47671711281845</real>
					<key>srcPointX</key>
					<real>567.40234498518384</real>
					<key>srcPointY</key>
					<real>288.27848998288619</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>598</real>
			<key>y</key>
			<real>274.04296875</real>
		</dict>
		<key>Walk_Halt</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>399</real>
			<key>y</key>
			<real>73.9609375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
