<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FocusOnGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>442.38909408598636</real>
					<key>controlPoint1Y</key>
					<real>552.21063174911012</real>
					<key>controlPoint2X</key>
					<real>305.78625627700552</real>
					<key>controlPoint2Y</key>
					<real>692.71131387667401</real>
					<key>dstPointX</key>
					<real>243.89430611237512</real>
					<key>dstPointY</key>
					<real>678.40627814532252</real>
					<key>srcPointX</key>
					<real>418.16225100204701</real>
					<key>srcPointY</key>
					<real>493.48833941781129</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>501.02508381162033</real>
					<key>controlPoint1Y</key>
					<real>456.90740850047359</real>
					<key>controlPoint2X</key>
					<real>589.91634364378592</real>
					<key>controlPoint2Y</key>
					<real>351.60071215395521</real>
					<key>dstPointX</key>
					<real>594.46286426849849</real>
					<key>dstPointY</key>
					<real>293.93811992977794</real>
					<key>srcPointX</key>
					<real>444.76760742984084</real>
					<key>srcPointY</key>
					<real>470.35143107395243</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>401</real>
			<key>y</key>
			<real>475</real>
		</dict>
		<key>HeadSeek</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>223.57201845101071</real>
					<key>controlPoint1Y</key>
					<real>350.09311169240027</real>
					<key>controlPoint2X</key>
					<real>301.81858182068356</real>
					<key>controlPoint2Y</key>
					<real>455.88614321679148</real>
					<key>dstPointX</key>
					<real>357.39535808470447</real>
					<key>dstPointY</key>
					<real>470.05816141699125</real>
					<key>srcPointX</key>
					<real>209.80297182033843</real>
					<key>srcPointY</key>
					<real>294.41513117361524</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>303.25677844049153</real>
					<key>controlPoint1Y</key>
					<real>215.97419897488481</real>
					<key>controlPoint2X</key>
					<real>507.71724613870077</real>
					<key>controlPoint2Y</key>
					<real>201.00508151812454</real>
					<key>dstPointX</key>
					<real>565.82873513780885</real>
					<key>dstPointY</key>
					<real>259.58612589527036</real>
					<key>srcPointX</key>
					<real>235.79225377269037</real>
					<key>srcPointY</key>
					<real>263.48442761418141</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>199</real>
			<key>y</key>
			<real>275</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>197.23472541992732</real>
					<key>controlPoint1Y</key>
					<real>76.87467947518887</real>
					<key>controlPoint2X</key>
					<real>301.75284898345637</real>
					<key>controlPoint2Y</key>
					<real>73.306157826663224</real>
					<key>dstPointX</key>
					<real>354.00300477194162</real>
					<key>dstPointY</key>
					<real>73.807942651408126</real>
					<key>srcPointX</key>
					<real>144.99974832707414</real>
					<key>srcPointY</key>
					<real>75.519048241988742</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>74.9609375</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>673.69921875</real>
		</dict>
		<key>WalkAMeter</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>167.8992069076269</real>
					<key>controlPoint1Y</key>
					<real>539.90613196576112</real>
					<key>controlPoint2X</key>
					<real>132.10079309237307</real>
					<key>controlPoint2Y</key>
					<real>209.09386803423882</real>
					<key>dstPointX</key>
					<real>108.92718867123227</real>
					<key>dstPointY</key>
					<real>94.602495696127207</real>
					<key>srcPointX</key>
					<real>191.07281132876773</real>
					<key>srcPointY</key>
					<real>654.39750430387278</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>201</real>
			<key>y</key>
			<real>674</real>
		</dict>
		<key>WalkSeek</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>508.70422434913127</real>
					<key>controlPoint1Y</key>
					<real>349.68128464321796</real>
					<key>controlPoint2X</key>
					<real>281.32549056445856</real>
					<key>controlPoint2Y</key>
					<real>356.23478757743038</real>
					<key>dstPointX</key>
					<real>227.50237865094897</real>
					<key>dstPointY</key>
					<real>290.47671711281845</real>
					<key>srcPointX</key>
					<real>567.40234498518384</real>
					<key>srcPointY</key>
					<real>288.23552123288619</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>598</real>
			<key>y</key>
			<real>274.04296875</real>
		</dict>
		<key>Walk_Halt</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>328.44828360058045</real>
					<key>controlPoint1Y</key>
					<real>127.18277659219389</real>
					<key>controlPoint2X</key>
					<real>269.55171639941966</real>
					<key>controlPoint2Y</key>
					<real>221.81722340780615</real>
					<key>dstPointX</key>
					<real>230.74035532398128</real>
					<key>dstPointY</key>
					<real>260.8226412886217</real>
					<key>srcPointX</key>
					<real>367.25964467601875</real>
					<key>srcPointY</key>
					<real>88.177358711378304</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>399</real>
			<key>y</key>
			<real>73.9609375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
