<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Asses</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>484.76508643142898</real>
					<key>controlPoint1Y</key>
					<real>574.60214336495926</real>
					<key>controlPoint2X</key>
					<real>465.74305225621094</real>
					<key>controlPoint2Y</key>
					<real>596.6968951424011</real>
					<key>dstPointX</key>
					<real>445.98188136184615</real>
					<key>dstPointY</key>
					<real>599.77847345289558</real>
					<key>srcPointX</key>
					<real>503.82675915273501</real>
					<key>srcPointY</key>
					<real>568.54800155411453</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>590.85415519389949</real>
					<key>controlPoint1Y</key>
					<real>528.25967938245856</real>
					<key>controlPoint2X</key>
					<real>655.19965451200369</real>
					<key>controlPoint2Y</key>
					<real>509.58049387652687</real>
					<key>dstPointX</key>
					<real>662.96542661638512</real>
					<key>dstPointY</key>
					<real>482.12577499332951</real>
					<key>srcPointX</key>
					<real>568.57971354407834</real>
					<key>srcPointY</key>
					<real>546.08993609741628</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>615.11736008000969</real>
					<key>controlPoint1Y</key>
					<real>579.96916187783324</real>
					<key>controlPoint2X</key>
					<real>689.69921402208297</real>
					<key>controlPoint2Y</key>
					<real>621.03607434427408</real>
					<key>dstPointX</key>
					<real>730.87128094633431</real>
					<key>dstPointY</key>
					<real>625.01746458436025</real>
					<key>srcPointX</key>
					<real>575.40741742984494</real>
					<key>srcPointY</key>
					<real>568.38853073011455</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>58</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>85</real>
			<key>x</key>
			<real>538.5</real>
			<key>y</key>
			<real>561.6953125</real>
		</dict>
		<key>Check_Angle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>324.75882295497161</real>
					<key>controlPoint1Y</key>
					<real>147.60428237720262</real>
					<key>controlPoint2X</key>
					<real>345.19362975139148</real>
					<key>controlPoint2Y</key>
					<real>78.69176773646781</real>
					<key>dstPointX</key>
					<real>364.23294702101862</real>
					<key>dstPointY</key>
					<real>54.306228664189064</real>
					<key>srcPointX</key>
					<real>295.27118393634953</real>
					<key>srcPointY</key>
					<real>156.96533269469333</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>252.703125</real>
			<key>y</key>
			<real>163.1015625</real>
		</dict>
		<key>Continue</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>568.23386896810325</real>
					<key>controlPoint1Y</key>
					<real>649.25934745365726</real>
					<key>controlPoint2X</key>
					<real>539.00058033056143</real>
					<key>controlPoint2Y</key>
					<real>607.99927880781001</real>
					<key>dstPointX</key>
					<real>538.81083866667211</real>
					<key>dstPointY</key>
					<real>585.29966315910895</real>
					<key>srcPointX</key>
					<real>566.92120979205504</real>
					<key>srcPointY</key>
					<real>671.92177182496641</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>564.5</real>
			<key>y</key>
			<real>690.4140625</real>
		</dict>
		<key>Decide</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>751.83963647310441</real>
					<key>controlPoint1Y</key>
					<real>143.18212579997896</real>
					<key>controlPoint2X</key>
					<real>784.23010765169477</real>
					<key>controlPoint2Y</key>
					<real>150.66783044368074</real>
					<key>dstPointX</key>
					<real>795.35716469862894</real>
					<key>dstPointY</key>
					<real>225.21911265813947</real>
					<key>srcPointX</key>
					<real>739.28131301328438</real>
					<key>srcPointY</key>
					<real>68.858552216464233</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>694.41981112118992</real>
					<key>controlPoint1Y</key>
					<real>132.35458979729128</real>
					<key>controlPoint2X</key>
					<real>544.10439870399671</real>
					<key>controlPoint2Y</key>
					<real>195.60179469583548</real>
					<key>dstPointX</key>
					<real>476.64413773509148</real>
					<key>dstPointY</key>
					<real>213.47493519406623</real>
					<key>srcPointX</key>
					<real>713.10726257960664</real>
					<key>srcPointY</key>
					<real>65.115351853575575</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>728.5</real>
			<key>y</key>
			<real>40.5</real>
		</dict>
		<key>GoToLine</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>884</real>
			<key>y</key>
			<real>455.6953125</real>
		</dict>
		<key>HeadAlignedWithGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>783.72120502305211</real>
					<key>controlPoint1Y</key>
					<real>465.86652598966634</real>
					<key>controlPoint2X</key>
					<real>820.65335919504821</real>
					<key>controlPoint2Y</key>
					<real>460.43535866422917</real>
					<key>dstPointX</key>
					<real>840.49653242960323</real>
					<key>dstPointY</key>
					<real>457.93566348612444</real>
					<key>srcPointX</key>
					<real>765.32745044561614</real>
					<key>srcPointY</key>
					<real>458.01351430337331</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>543.39362940254773</real>
					<key>controlPoint1Y</key>
					<real>467.37679746780606</real>
					<key>controlPoint2X</key>
					<real>383.67347951599663</real>
					<key>controlPoint2Y</key>
					<real>384.15895599305867</real>
					<key>dstPointX</key>
					<real>303.97576872631311</real>
					<key>dstPointY</key>
					<real>398.05374725561046</real>
					<key>srcPointX</key>
					<real>622.95634342001551</real>
					<key>srcPointY</key>
					<real>452.72876457869199</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>53.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>153</real>
			<key>x</key>
			<real>694</real>
			<key>y</key>
			<real>448.75</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>77.338627690235626</real>
					<key>controlPoint1Y</key>
					<real>71.637372766304765</real>
					<key>controlPoint2X</key>
					<real>70.084147977258354</real>
					<key>controlPoint2Y</key>
					<real>89.592605947130238</real>
					<key>dstPointX</key>
					<real>74.534010465177175</real>
					<key>dstPointY</key>
					<real>109.09129112943452</real>
					<key>srcPointX</key>
					<real>72.801927034822825</real>
					<key>srcPointY</key>
					<real>52.158708870565484</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>62.375</real>
			<key>y</key>
			<real>32.41796875</real>
		</dict>
		<key>Restart_GoalTrackerMachine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>464.23039844257011</real>
					<key>controlPoint1Y</key>
					<real>506.68367591225649</real>
					<key>controlPoint2X</key>
					<real>495.94597300028147</real>
					<key>controlPoint2Y</key>
					<real>531.53744852438695</real>
					<key>dstPointX</key>
					<real>510.75224724765212</real>
					<key>dstPointY</key>
					<real>545.1605404440885</real>
					<key>srcPointX</key>
					<real>449.24475642214509</real>
					<key>srcPointY</key>
					<real>493.2581433799262</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>185</real>
			<key>x</key>
			<real>384.5</real>
			<key>y</key>
			<real>480.1953125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>90.5</real>
			<key>y</key>
			<real>366</real>
		</dict>
		<key>SearchGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>322.47885411429576</real>
					<key>controlPoint1Y</key>
					<real>400.38771053953025</real>
					<key>controlPoint2X</key>
					<real>286.83292628566335</real>
					<key>controlPoint2Y</key>
					<real>461.64045934597323</real>
					<key>dstPointX</key>
					<real>304.65728022712506</real>
					<key>dstPointY</key>
					<real>470.71197556816549</real>
					<key>srcPointX</key>
					<real>302.48694284499885</real>
					<key>srcPointY</key>
					<real>400.95646690262356</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>259.5</real>
			<key>y</key>
			<real>401.6953125</real>
		</dict>
		<key>SlowSpinLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>412.87679922041707</real>
					<key>controlPoint1Y</key>
					<real>655.26328834033473</real>
					<key>controlPoint2X</key>
					<real>487.61232585131881</real>
					<key>controlPoint2Y</key>
					<real>692.30111124106907</real>
					<key>dstPointX</key>
					<real>520.70327272927875</real>
					<key>dstPointY</key>
					<real>691.1670771423926</real>
					<key>srcPointX</key>
					<real>407.19656348834121</real>
					<key>srcPointY</key>
					<real>622.64378925397568</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>399.5</real>
			<key>y</key>
			<real>603.1953125</real>
		</dict>
		<key>SlowSpinRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>710.1659713309258</real>
					<key>controlPoint1Y</key>
					<real>658.37755443134085</real>
					<key>controlPoint2X</key>
					<real>645.14387671231623</real>
					<key>controlPoint2Y</key>
					<real>691.90164728142156</real>
					<key>dstPointX</key>
					<real>610.6271192794062</real>
					<key>dstPointY</key>
					<real>691.02228809693702</real>
					<key>srcPointX</key>
					<real>738.58928051518069</real>
					<key>srcPointY</key>
					<real>638.77410291702995</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>777</real>
			<key>y</key>
			<real>627.1953125</real>
		</dict>
		<key>StartSpinGoalie</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>690.96567531997403</real>
					<key>controlPoint1Y</key>
					<real>303.4719445340682</real>
					<key>controlPoint2X</key>
					<real>593.88984692118754</real>
					<key>controlPoint2Y</key>
					<real>300.05875568177441</real>
					<key>dstPointX</key>
					<real>504.16937320852935</real>
					<key>dstPointY</key>
					<real>319.40978405811626</real>
					<key>srcPointX</key>
					<real>768.53460378060709</real>
					<key>srcPointY</key>
					<real>254.40783300726105</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>802</real>
			<key>y</key>
			<real>246</real>
		</dict>
		<key>StartSpinPlayers</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>452.57624780088844</real>
					<key>controlPoint1Y</key>
					<real>255.75783348047486</real>
					<key>controlPoint2X</key>
					<real>448.87638444944412</real>
					<key>controlPoint2Y</key>
					<real>284.06349013671019</real>
					<key>dstPointX</key>
					<real>452.73498143483903</real>
					<key>dstPointY</key>
					<real>303.68774118749684</real>
					<key>srcPointX</key>
					<real>448.68068399415023</real>
					<key>srcPointY</key>
					<real>236.1408871679717</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>47.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>94</real>
			<key>x</key>
			<real>440.5</real>
			<key>y</key>
			<real>217.75</real>
		</dict>
		<key>Start_GoalTrackerMachine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>157.55159029338179</real>
					<key>controlPoint1Y</key>
					<real>176.38099444136628</real>
					<key>controlPoint2X</key>
					<real>190.55748407491353</real>
					<key>controlPoint2Y</key>
					<real>88.162205651239802</real>
					<key>dstPointX</key>
					<real>220.95267431117472</real>
					<key>dstPointY</key>
					<real>54.353932095072821</real>
					<key>srcPointX</key>
					<real>127.10841758836528</real>
					<key>srcPointY</key>
					<real>210.14606790492718</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>139.5</real>
			<key>x</key>
			<real>83.75</real>
			<key>y</key>
			<real>225</real>
		</dict>
		<key>StopTurning</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>458.35529062411592</real>
					<key>controlPoint1Y</key>
					<real>393.15001403631777</real>
					<key>controlPoint2X</key>
					<real>274.54274888734926</real>
					<key>controlPoint2Y</key>
					<real>333.62578135754717</real>
					<key>dstPointX</key>
					<real>266.58066132890525</real>
					<key>dstPointY</key>
					<real>382.27265591785715</real>
					<key>srcPointX</key>
					<real>459.98394209062212</real>
					<key>srcPointY</key>
					<real>343.88277606649132</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>461.5</real>
			<key>y</key>
			<real>323.6953125</real>
		</dict>
		<key>Turn_Head_To_Goal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>84.11946594805336</real>
					<key>controlPoint1Y</key>
					<real>168.58499276881204</real>
					<key>controlPoint2X</key>
					<real>84.408658863861248</real>
					<key>controlPoint2Y</key>
					<real>185.00120803139566</real>
					<key>dstPointX</key>
					<real>84.253223143775998</real>
					<key>dstPointY</key>
					<real>205.00060401569783</real>
					<key>srcPointX</key>
					<real>84.236207129808193</real>
					<key>srcPointY</key>
					<real>148.58533348430217</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>84.45703125</real>
			<key>y</key>
			<real>128.45703125</real>
		</dict>
		<key>Walk_Angle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>418.40632649779229</real>
					<key>controlPoint1Y</key>
					<real>91.988220702559332</real>
					<key>controlPoint2X</key>
					<real>445.59685811524594</real>
					<key>controlPoint2Y</key>
					<real>162.55030832279488</real>
					<key>dstPointX</key>
					<real>443.22468312669298</real>
					<key>dstPointY</key>
					<real>199.03949684098177</real>
					<key>srcPointX</key>
					<real>406.55909780916505</real>
					<key>srcPointY</key>
					<real>57.394416845633373</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>318.57882300942236</real>
					<key>controlPoint1Y</key>
					<real>51.894431387269059</real>
					<key>controlPoint2X</key>
					<real>301.70499319039322</real>
					<key>controlPoint2Y</key>
					<real>124.20970671074659</real>
					<key>dstPointX</key>
					<real>281.68185617563688</real>
					<key>dstPointY</key>
					<real>147.75127213713856</real>
					<key>srcPointX</key>
					<real>348.39861602471319</real>
					<key>srcPointY</key>
					<real>43.775856194415923</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>499.03172139628407</real>
					<key>controlPoint1Y</key>
					<real>41.800032593095914</real>
					<key>controlPoint2X</key>
					<real>627.36771293444178</real>
					<key>controlPoint2Y</key>
					<real>68.032023111606989</real>
					<key>dstPointX</key>
					<real>686.09185451485905</real>
					<key>dstPointY</key>
					<real>47.189578355180437</real>
					<key>srcPointX</key>
					<real>436.76874615294258</real>
					<key>srcPointY</key>
					<real>39.299188409898541</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>392.1953125</real>
			<key>y</key>
			<real>38.5</real>
		</dict>
		<key>Walk_Straight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>324.32564792186213</real>
					<key>controlPoint1Y</key>
					<real>42.771310420045118</real>
					<key>controlPoint2X</key>
					<real>242.12749352426377</real>
					<key>controlPoint2Y</key>
					<real>114.84769046823111</real>
					<key>dstPointX</key>
					<real>246.11389629525567</real>
					<key>dstPointY</key>
					<real>142.97424745222648</real>
					<key>srcPointX</key>
					<real>295.98283582441553</real>
					<key>srcPointY</key>
					<real>40.853077578248659</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>250.95703125</real>
			<key>y</key>
			<real>39.5</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
