<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Asses</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>484.79234372762653</real>
					<key>controlPoint1Y</key>
					<real>575.29667858483378</real>
					<key>controlPoint2X</key>
					<real>466.68918312194114</real>
					<key>controlPoint2Y</key>
					<real>595.97870525605617</real>
					<key>dstPointX</key>
					<real>446.98188136184615</real>
					<key>dstPointY</key>
					<real>599.38784845289558</real>
					<key>srcPointX</key>
					<real>503.82675915273501</real>
					<key>srcPointY</key>
					<real>569.15737655411453</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>591.11926493983515</real>
					<key>controlPoint1Y</key>
					<real>528.78489806385596</real>
					<key>controlPoint2X</key>
					<real>656.02552127184151</real>
					<key>controlPoint2Y</key>
					<real>507.80095294359114</real>
					<key>dstPointX</key>
					<real>663.96542661638512</real>
					<key>dstPointY</key>
					<real>480.12577499332951</real>
					<key>srcPointX</key>
					<real>568.57971354407834</real>
					<key>srcPointY</key>
					<real>546.69931109741628</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>615.02678073421521</real>
					<key>controlPoint1Y</key>
					<real>580.73557717931226</real>
					<key>controlPoint2X</key>
					<real>689.82385938217624</real>
					<key>controlPoint2Y</key>
					<real>619.87541215386261</real>
					<key>dstPointX</key>
					<real>730.87128094633431</real>
					<key>dstPointY</key>
					<real>624.62683958436025</real>
					<key>srcPointX</key>
					<real>575.40741742984494</real>
					<key>srcPointY</key>
					<real>568.99790573011455</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>58</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>85</real>
			<key>x</key>
			<real>538.5</real>
			<key>y</key>
			<real>561.6953125</real>
		</dict>
		<key>Check_Angle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>325.2616069704697</real>
					<key>controlPoint1Y</key>
					<real>147.13701458151107</real>
					<key>controlPoint2X</key>
					<real>344.26301044622238</real>
					<key>controlPoint2Y</key>
					<real>77.253238627816472</real>
					<key>dstPointX</key>
					<real>363.84232202101862</real>
					<key>dstPointY</key>
					<real>53.306228664189064</real>
					<key>srcPointX</key>
					<real>295.86493393634953</real>
					<key>srcPointY</key>
					<real>156.76220769469333</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>252.703125</real>
			<key>y</key>
			<real>163.1015625</real>
		</dict>
		<key>Continue</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>569.47196503417854</real>
					<key>controlPoint1Y</key>
					<real>648.51121048487084</real>
					<key>controlPoint2X</key>
					<real>538.99917332969289</real>
					<key>controlPoint2Y</key>
					<real>608.54387420733667</real>
					<key>dstPointX</key>
					<real>538.81083866667211</real>
					<key>dstPointY</key>
					<real>585.90903815910895</real>
					<key>srcPointX</key>
					<real>567.92120979205504</real>
					<key>srcPointY</key>
					<real>671.09364682496641</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>564.5</real>
			<key>y</key>
			<real>690.4140625</real>
		</dict>
		<key>Decide</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>747.65065031312668</real>
					<key>controlPoint1Y</key>
					<real>108.80439800453405</real>
					<key>controlPoint2X</key>
					<real>789.50522674385309</real>
					<key>controlPoint2Y</key>
					<real>184.02901382707697</real>
					<key>dstPointX</key>
					<real>795.35716469862894</real>
					<key>dstPointY</key>
					<real>225.21911265813947</real>
					<key>srcPointX</key>
					<real>740.28131301328438</real>
					<key>srcPointY</key>
					<real>67.858552216464233</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>695.65316281265007</real>
					<key>controlPoint1Y</key>
					<real>131.35020378391545</real>
					<key>controlPoint2X</key>
					<real>544.00103643958664</real>
					<key>controlPoint2Y</key>
					<real>190.0777132569811</real>
					<key>dstPointX</key>
					<real>477.64413773509148</real>
					<key>dstPointY</key>
					<real>211.47493519406623</real>
					<key>srcPointX</key>
					<real>714.10726257960664</real>
					<key>srcPointY</key>
					<real>64.115351853575575</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>728.5</real>
			<key>y</key>
			<real>40.5</real>
		</dict>
		<key>GoToLine</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>884</real>
			<key>y</key>
			<real>455.6953125</real>
		</dict>
		<key>HeadAlignedWithGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>785.03428206780245</real>
					<key>controlPoint1Y</key>
					<real>463.08843131060189</real>
					<key>controlPoint2X</key>
					<real>820.66757601182303</real>
					<key>controlPoint2Y</key>
					<real>461.15511269613683</real>
					<key>dstPointX</key>
					<real>840.49653242960323</real>
					<key>dstPointY</key>
					<real>458.54503848612444</real>
					<key>srcPointX</key>
					<real>766.32745044561614</real>
					<key>srcPointY</key>
					<real>456.01351430337331</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>543.87058364795848</real>
					<key>controlPoint1Y</key>
					<real>461.84557742305924</real>
					<key>controlPoint2X</key>
					<real>384.72585906827561</real>
					<key>controlPoint2Y</key>
					<real>385.35013849789692</real>
					<key>dstPointX</key>
					<real>304.97576872631311</real>
					<key>dstPointY</key>
					<real>398.66312225561046</real>
					<key>srcPointX</key>
					<real>623.95634342001551</real>
					<key>srcPointY</key>
					<real>450.72876457869199</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>53.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>153</real>
			<key>x</key>
			<real>694</real>
			<key>y</key>
			<real>448.75</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>76.5571805231193</real>
					<key>controlPoint1Y</key>
					<real>70.808732753217157</real>
					<key>controlPoint2X</key>
					<real>69.086499473266258</real>
					<key>controlPoint2Y</key>
					<real>88.69780757101519</real>
					<key>dstPointX</key>
					<real>73.619947965177175</real>
					<key>dstPointY</key>
					<real>108.17722862943452</real>
					<key>srcPointX</key>
					<real>72.051927034822825</real>
					<key>srcPointY</key>
					<real>51.322771370565484</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>62.375</real>
			<key>y</key>
			<real>32.41796875</real>
		</dict>
		<key>Restart_GoalTrackerMachine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>464.48893385082442</real>
					<key>controlPoint1Y</key>
					<real>506.12228996907248</real>
					<key>controlPoint2X</key>
					<real>495.84080539954959</real>
					<key>controlPoint2Y</key>
					<real>532.14189954418021</real>
					<key>dstPointX</key>
					<real>510.75224724765212</real>
					<key>dstPointY</key>
					<real>545.7699154440885</real>
					<key>srcPointX</key>
					<real>449.24475642214509</real>
					<key>srcPointY</key>
					<real>492.8675183799262</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>185</real>
			<key>x</key>
			<real>384.5</real>
			<key>y</key>
			<real>480.1953125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>90.5</real>
			<key>y</key>
			<real>366</real>
		</dict>
		<key>SearchGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>323.48189880208821</real>
					<key>controlPoint1Y</key>
					<real>401.11669128862445</real>
					<key>controlPoint2X</key>
					<real>286.98833634073333</real>
					<key>controlPoint2Y</key>
					<real>460.95073575698365</real>
					<key>dstPointX</key>
					<real>304.65728022712506</real>
					<key>dstPointY</key>
					<real>470.32135056816549</real>
					<key>srcPointX</key>
					<real>303.48694284499885</real>
					<key>srcPointY</key>
					<real>401.56584190262356</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>259.5</real>
			<key>y</key>
			<real>401.6953125</real>
		</dict>
		<key>SlowSpinLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>414.35369912437272</real>
					<key>controlPoint1Y</key>
					<real>654.79421316820196</real>
					<key>controlPoint2X</key>
					<real>488.58998261647241</real>
					<key>controlPoint2Y</key>
					<real>690.92222016284268</real>
					<key>dstPointX</key>
					<real>521.70327272927875</real>
					<key>dstPointY</key>
					<real>690.3389521423926</real>
					<key>srcPointX</key>
					<real>408.19656348834121</real>
					<key>srcPointY</key>
					<real>622.25316425397568</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>399.5</real>
			<key>y</key>
			<real>603.1953125</real>
		</dict>
		<key>SlowSpinRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>709.95366339224734</real>
					<key>controlPoint1Y</key>
					<real>657.47812308238815</real>
					<key>controlPoint2X</key>
					<real>646.04368593618733</real>
					<key>controlPoint2Y</key>
					<real>690.51662481793562</real>
					<key>dstPointX</key>
					<real>611.6271192794062</real>
					<key>dstPointY</key>
					<real>690.19416309693702</real>
					<key>srcPointX</key>
					<real>738.58928051518069</real>
					<key>srcPointY</key>
					<real>638.38347791702995</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>777</real>
			<key>y</key>
			<real>627.1953125</real>
		</dict>
		<key>StartSpinGoalie</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>709.3758407430222</real>
					<key>controlPoint1Y</key>
					<real>287.84963790535409</real>
					<key>controlPoint2X</key>
					<real>571.7089364247438</real>
					<key>controlPoint2Y</key>
					<real>306.21336006006356</real>
					<key>dstPointX</key>
					<real>505.16937320852935</real>
					<key>dstPointY</key>
					<real>320.01915905811626</real>
					<key>srcPointX</key>
					<real>768.53460378060709</real>
					<key>srcPointY</key>
					<real>254.40783300726105</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>802</real>
			<key>y</key>
			<real>246</real>
		</dict>
		<key>StartSpinPlayers</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>454.03069914534041</real>
					<key>controlPoint1Y</key>
					<real>253.66209020939351</real>
					<key>controlPoint2X</key>
					<real>450.0694075345591</real>
					<key>controlPoint2Y</key>
					<real>284.63589628685014</real>
					<key>dstPointX</key>
					<real>453.73498143483903</real>
					<key>dstPointY</key>
					<real>304.29711618749684</real>
					<key>srcPointX</key>
					<real>449.68068399415023</real>
					<key>srcPointY</key>
					<real>234.1408871679717</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>47.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>94</real>
			<key>x</key>
			<real>440.5</real>
			<key>y</key>
			<real>217.75</real>
		</dict>
		<key>Start_GoalTrackerMachine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>157.6307355342995</real>
					<key>controlPoint1Y</key>
					<real>176.29321302318849</real>
					<key>controlPoint2X</key>
					<real>190.03857244431902</real>
					<key>controlPoint2Y</key>
					<real>86.769874932140169</real>
					<key>dstPointX</key>
					<real>221.03861181117472</real>
					<key>dstPointY</key>
					<real>53.353932095072821</real>
					<key>srcPointX</key>
					<real>127.10841758836528</real>
					<key>srcPointY</key>
					<real>210.14606790492718</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>139.5</real>
			<key>x</key>
			<real>83.75</real>
			<key>y</key>
			<real>225</real>
		</dict>
		<key>StopTurning</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>459.89792076725911</real>
					<key>controlPoint1Y</key>
					<real>393.77433649347967</real>
					<key>controlPoint2X</key>
					<real>276.13599151717392</real>
					<key>controlPoint2Y</key>
					<real>334.33597476347359</real>
					<key>dstPointX</key>
					<real>267.58066132890525</real>
					<key>dstPointY</key>
					<real>382.88203091785715</real>
					<key>srcPointX</key>
					<real>460.98394209062212</real>
					<key>srcPointY</key>
					<real>344.49215106649132</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>461.5</real>
			<key>y</key>
			<real>323.6953125</real>
		</dict>
		<key>Turn_Head_To_Goal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>83.015876948546719</real>
					<key>controlPoint1Y</key>
					<real>167.66892584949611</real>
					<key>controlPoint2X</key>
					<real>84.408658863861248</real>
					<key>controlPoint2Y</key>
					<real>185.00120803139566</real>
					<key>dstPointX</key>
					<real>84.253223143775998</real>
					<key>dstPointY</key>
					<real>205.00060401569783</real>
					<key>srcPointX</key>
					<real>83.322144629808193</real>
					<key>srcPointY</key>
					<real>147.67127098430217</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>84.45703125</real>
			<key>y</key>
			<real>128.45703125</real>
		</dict>
		<key>Walk_Angle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>417.99074378467543</real>
					<key>controlPoint1Y</key>
					<real>90.928379147556853</real>
					<key>controlPoint2X</key>
					<real>446.88355218386869</real>
					<key>controlPoint2Y</key>
					<real>160.63494961641297</real>
					<key>dstPointX</key>
					<real>444.22468312669298</real>
					<key>dstPointY</key>
					<real>197.03949684098177</real>
					<key>srcPointX</key>
					<real>406.16847280916505</real>
					<key>srcPointY</key>
					<real>56.394416845633373</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>317.987925841025</real>
					<key>controlPoint1Y</key>
					<real>50.108685828903937</real>
					<key>controlPoint2X</key>
					<real>302.18048532510335</real>
					<key>controlPoint2Y</key>
					<real>123.90982041703322</real>
					<key>dstPointX</key>
					<real>282.27560617563688</real>
					<key>dstPointY</key>
					<real>147.54814713713856</real>
					<key>srcPointX</key>
					<real>348.00799102471319</real>
					<key>srcPointY</key>
					<real>42.775856194415923</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>498.90665195925192</real>
					<key>controlPoint1Y</key>
					<real>39.247686797013792</real>
					<key>controlPoint2X</key>
					<real>627.74708717241504</real>
					<key>controlPoint2Y</key>
					<real>65.910516544250569</real>
					<key>dstPointX</key>
					<real>687.09185451485905</real>
					<key>dstPointY</key>
					<real>46.189578355180437</real>
					<key>srcPointX</key>
					<real>436.37812115294258</real>
					<key>srcPointY</key>
					<real>38.299188409898541</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>392.1953125</real>
			<key>y</key>
			<real>38.5</real>
		</dict>
		<key>Walk_Straight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>324.51657144357006</real>
					<key>controlPoint1Y</key>
					<real>41.064634896226693</real>
					<key>controlPoint2X</key>
					<real>242.80831692222452</real>
					<key>controlPoint2Y</key>
					<real>114.56579814273599</real>
					<key>dstPointX</key>
					<real>246.70764629525567</real>
					<key>dstPointY</key>
					<real>142.77112245222648</real>
					<key>srcPointX</key>
					<real>296.06877332441553</real>
					<key>srcPointY</key>
					<real>39.853077578248659</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>250.95703125</real>
			<key>y</key>
			<real>39.5</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
