<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Asses</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>484.77090175946074</real>
					<key>controlPoint1Y</key>
					<real>575.1438602357515</real>
					<key>controlPoint2X</key>
					<real>467.09751053374248</real>
					<key>controlPoint2Y</key>
					<real>594.8997202616747</real>
					<key>dstPointX</key>
					<real>447.48188136184615</real>
					<key>dstPointY</key>
					<real>598.80191095289558</real>
					<key>srcPointX</key>
					<real>503.82675915273501</real>
					<key>srcPointY</key>
					<real>569.07143905411453</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>591.25207604826471</real>
					<key>controlPoint1Y</key>
					<real>528.49219186824905</real>
					<key>controlPoint2X</key>
					<real>656.35078461064518</real>
					<key>controlPoint2Y</key>
					<real>506.99270582364204</real>
					<key>dstPointX</key>
					<real>664.46542661638512</real>
					<key>dstPointY</key>
					<real>479.12577499332951</real>
					<key>srcPointX</key>
					<real>568.57971354407834</real>
					<key>srcPointY</key>
					<real>546.61337359741628</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>615.02527669169626</real>
					<key>controlPoint1Y</key>
					<real>580.50505555986615</real>
					<key>controlPoint2X</key>
					<real>690.01542631995972</real>
					<key>controlPoint2Y</key>
					<real>618.14398856323351</real>
					<key>dstPointX</key>
					<real>730.87128094633431</real>
					<key>dstPointY</key>
					<real>624.04090208436025</real>
					<key>srcPointX</key>
					<real>575.40741742984494</real>
					<key>srcPointY</key>
					<real>568.91196823011455</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>58</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>85</real>
			<key>x</key>
			<real>538.5</real>
			<key>y</key>
			<real>561.6953125</real>
		</dict>
		<key>Check_Angle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>324.97928874558431</real>
					<key>controlPoint1Y</key>
					<real>146.39589895863594</real>
					<key>controlPoint2X</key>
					<real>343.06584256792848</real>
					<key>controlPoint2Y</key>
					<real>76.20718209565301</real>
					<key>dstPointX</key>
					<real>363.25638452101862</real>
					<key>dstPointY</key>
					<real>52.806228664189064</real>
					<key>srcPointX</key>
					<real>295.75555893634953</real>
					<key>srcPointY</key>
					<real>156.45752019469333</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>252.703125</real>
			<key>y</key>
			<real>163.1015625</real>
		</dict>
		<key>Continue</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>570.21323034803845</real>
					<key>controlPoint1Y</key>
					<real>648.28406172793109</real>
					<key>controlPoint2X</key>
					<real>538.99987618120338</real>
					<key>controlPoint2Y</key>
					<real>608.46074710907908</real>
					<key>dstPointX</key>
					<real>538.81083866667211</real>
					<key>dstPointY</key>
					<real>585.82310065910895</real>
					<key>srcPointX</key>
					<real>568.42120979205504</real>
					<key>srcPointY</key>
					<real>670.85145932496641</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>564.5</real>
			<key>y</key>
			<real>690.4140625</real>
		</dict>
		<key>Decide</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>748.61624035706745</real>
					<key>controlPoint1Y</key>
					<real>108.29563659425246</real>
					<key>controlPoint2X</key>
					<real>789.494482657974</real>
					<key>controlPoint2Y</key>
					<real>183.95338931385899</real>
					<key>dstPointX</key>
					<real>795.35716469862894</real>
					<key>dstPointY</key>
					<real>225.21911265813947</real>
					<key>srcPointX</key>
					<real>740.78131301328438</real>
					<key>srcPointY</key>
					<real>67.358552216464233</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>696.39578914289757</real>
					<key>controlPoint1Y</key>
					<real>130.84775288617874</real>
					<key>controlPoint2X</key>
					<real>543.29080085362409</real>
					<key>controlPoint2Y</key>
					<real>185.82202871500863</real>
					<key>dstPointX</key>
					<real>478.14413773509148</real>
					<key>dstPointY</key>
					<real>210.47493519406623</real>
					<key>srcPointX</key>
					<real>714.60726257960664</real>
					<key>srcPointY</key>
					<real>63.615351853575575</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>728.5</real>
			<key>y</key>
			<real>40.5</real>
		</dict>
		<key>GoToLine</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>884</real>
			<key>y</key>
			<real>455.6953125</real>
		</dict>
		<key>HeadAlignedWithGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>785.81926523128823</real>
					<key>controlPoint1Y</key>
					<real>461.28336048543599</real>
					<key>controlPoint2X</key>
					<real>820.65635563359081</real>
					<key>controlPoint2Y</key>
					<real>460.98246871655346</real>
					<key>dstPointX</key>
					<real>840.49653242960323</real>
					<key>dstPointY</key>
					<real>458.45910098612444</real>
					<key>srcPointX</key>
					<real>766.82745044561614</real>
					<key>srcPointY</key>
					<real>455.01351430337331</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>543.98636066796632</real>
					<key>controlPoint1Y</key>
					<real>457.20195427400336</real>
					<key>controlPoint2X</key>
					<real>385.15748178651972</real>
					<key>controlPoint2Y</key>
					<real>385.08306410519009</real>
					<key>dstPointX</key>
					<real>305.47576872631311</real>
					<key>dstPointY</key>
					<real>398.57718475561046</real>
					<key>srcPointX</key>
					<real>624.45634342001551</real>
					<key>srcPointY</key>
					<real>449.72876457869199</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>53.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>153</real>
			<key>x</key>
			<real>694</real>
			<key>y</key>
			<real>448.75</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>76.435234816308267</real>
					<key>controlPoint1Y</key>
					<real>70.554120082905541</real>
					<key>controlPoint2X</key>
					<real>68.64360640709576</real>
					<key>controlPoint2Y</key>
					<real>88.343563296363556</real>
					<key>dstPointX</key>
					<real>73.248854215177175</real>
					<key>dstPointY</key>
					<real>107.80613487943452</real>
					<key>srcPointX</key>
					<real>71.926927034822825</real>
					<key>srcPointY</key>
					<real>51.068865120565484</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>62.375</real>
			<key>y</key>
			<real>32.41796875</real>
		</dict>
		<key>Restart_GoalTrackerMachine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>464.85221099384671</real>
					<key>controlPoint1Y</key>
					<real>505.23426600565506</real>
					<key>controlPoint2X</key>
					<real>495.81684570881322</real>
					<key>controlPoint2Y</key>
					<real>531.9617889405929</real>
					<key>dstPointX</key>
					<real>510.75224724765212</real>
					<key>dstPointY</key>
					<real>545.6839779440885</real>
					<key>srcPointX</key>
					<real>449.24475642214509</real>
					<key>srcPointY</key>
					<real>492.2815808799262</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>185</real>
			<key>x</key>
			<real>384.5</real>
			<key>y</key>
			<real>480.1953125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>90.5</real>
			<key>y</key>
			<real>366</real>
		</dict>
		<key>SearchGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>323.9798690352211</real>
					<key>controlPoint1Y</key>
					<real>400.94801874543191</real>
					<key>controlPoint2X</key>
					<real>287.22539987234069</real>
					<key>controlPoint2Y</key>
					<real>459.93084539302129</real>
					<key>dstPointX</key>
					<real>304.65728022712506</real>
					<key>dstPointY</key>
					<real>469.73541306816549</real>
					<key>srcPointX</key>
					<real>303.98694284499885</real>
					<key>srcPointY</key>
					<real>401.47990440262356</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>259.5</real>
			<key>y</key>
			<real>401.6953125</real>
		</dict>
		<key>SlowSpinLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>415.42046499915455</real>
					<key>controlPoint1Y</key>
					<real>654.14124218197196</real>
					<key>controlPoint2X</key>
					<real>489.04088338059114</real>
					<key>controlPoint2Y</key>
					<real>690.26547217307132</real>
					<key>dstPointX</key>
					<real>522.20327272927875</real>
					<key>dstPointY</key>
					<real>690.0967646423926</real>
					<key>srcPointX</key>
					<real>408.69656348834121</real>
					<key>srcPointY</key>
					<real>621.66722675397568</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>399.5</real>
			<key>y</key>
			<real>603.1953125</real>
		</dict>
		<key>SlowSpinRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>709.57133466982339</real>
					<key>controlPoint1Y</key>
					<real>656.15115384566127</real>
					<key>controlPoint2X</key>
					<real>646.46208847139485</real>
					<key>controlPoint2Y</key>
					<real>689.8732510333333</real>
					<key>dstPointX</key>
					<real>612.1271192794062</real>
					<key>dstPointY</key>
					<real>689.95197559693702</real>
					<key>srcPointX</key>
					<real>738.58928051518069</real>
					<key>srcPointY</key>
					<real>637.79754041702995</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>777</real>
			<key>y</key>
			<real>627.1953125</real>
		</dict>
		<key>StartSpinGoalie</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>709.48596344768896</real>
					<key>controlPoint1Y</key>
					<real>287.78738673891274</real>
					<key>controlPoint2X</key>
					<real>572.05784489676375</real>
					<key>controlPoint2Y</key>
					<real>306.02252928953976</real>
					<key>dstPointX</key>
					<real>505.66937320852935</real>
					<key>dstPointY</key>
					<real>319.93322155811626</real>
					<key>srcPointX</key>
					<real>768.53460378060709</real>
					<key>srcPointY</key>
					<real>254.40783300726105</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>802</real>
			<key>y</key>
			<real>246</real>
		</dict>
		<key>StartSpinPlayers</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>455.03228538271389</real>
					<key>controlPoint1Y</key>
					<real>252.54351492728532</real>
					<key>controlPoint2X</key>
					<real>450.79889502559791</real>
					<key>controlPoint2Y</key>
					<real>284.50855677597883</real>
					<key>dstPointX</key>
					<real>454.23498143483903</real>
					<key>dstPointY</key>
					<real>304.21117868749684</real>
					<key>srcPointX</key>
					<real>450.18068399415023</real>
					<key>srcPointY</key>
					<real>233.1408871679717</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>47.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>94</real>
			<key>x</key>
			<real>440.5</real>
			<key>y</key>
			<real>217.75</real>
		</dict>
		<key>Start_GoalTrackerMachine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>157.71361036973468</real>
					<key>controlPoint1Y</key>
					<real>176.20129504427535</real>
					<key>controlPoint2X</key>
					<real>189.5662735675038</real>
					<key>controlPoint2Y</key>
					<real>85.873422948162329</real>
					<key>dstPointX</key>
					<real>221.16751806117472</real>
					<key>dstPointY</key>
					<real>52.853932095072821</real>
					<key>srcPointX</key>
					<real>127.10841758836528</real>
					<key>srcPointY</key>
					<real>210.14606790492718</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>139.5</real>
			<key>x</key>
			<real>83.75</real>
			<key>y</key>
			<real>225</real>
		</dict>
		<key>StopTurning</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>460.92992718886455</real>
					<key>controlPoint1Y</key>
					<real>393.69725038114444</real>
					<key>controlPoint2X</key>
					<real>277.1422718950198</real>
					<key>controlPoint2Y</key>
					<real>334.34198671137722</real>
					<key>dstPointX</key>
					<real>268.08066132890525</real>
					<key>dstPointY</key>
					<real>382.79609341785715</real>
					<key>srcPointX</key>
					<real>461.48394209062212</real>
					<key>srcPointY</key>
					<real>344.40621356649132</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>461.5</real>
			<key>y</key>
			<real>323.6953125</real>
		</dict>
		<key>Turn_Head_To_Goal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>82.468087790691172</real>
					<key>controlPoint1Y</key>
					<real>167.29434505030667</real>
					<key>controlPoint2X</key>
					<real>84.408658863861248</real>
					<key>controlPoint2Y</key>
					<real>185.00120803139566</real>
					<key>dstPointX</key>
					<real>84.253223143775998</real>
					<key>dstPointY</key>
					<real>205.00060401569783</real>
					<key>srcPointX</key>
					<real>82.951050879808193</real>
					<key>srcPointY</key>
					<real>147.30017723430217</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>84.45703125</real>
			<key>y</key>
			<real>128.45703125</real>
		</dict>
		<key>Walk_Angle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>417.23424421971669</real>
					<key>controlPoint1Y</key>
					<real>90.433344652033398</real>
					<key>controlPoint2X</key>
					<real>447.64190077597669</real>
					<key>controlPoint2Y</key>
					<real>159.70508208391365</real>
					<key>dstPointX</key>
					<real>444.72468312669298</real>
					<key>dstPointY</key>
					<real>196.03949684098177</real>
					<key>srcPointX</key>
					<real>405.58253530916505</real>
					<key>srcPointY</key>
					<real>55.894416845633373</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>317.23669946126535</real>
					<key>controlPoint1Y</key>
					<real>48.790367237558407</real>
					<key>controlPoint2X</key>
					<real>301.78516619521622</real>
					<key>controlPoint2Y</key>
					<real>123.39619893984977</real>
					<key>dstPointX</key>
					<real>282.16623117563688</real>
					<key>dstPointY</key>
					<real>147.24345963713856</real>
					<key>srcPointX</key>
					<real>347.42205352471319</real>
					<key>srcPointY</key>
					<real>42.275856194415923</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>498.59591514925182</real>
					<key>controlPoint1Y</key>
					<real>37.15121059053326</real>
					<key>controlPoint2X</key>
					<real>627.58690169671411</real>
					<key>controlPoint2Y</key>
					<real>64.240432847820443</real>
					<key>dstPointX</key>
					<real>687.59185451485905</real>
					<key>dstPointY</key>
					<real>45.689578355180437</real>
					<key>srcPointX</key>
					<real>435.79218365294258</real>
					<key>srcPointY</key>
					<real>37.799188409898541</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>392.1953125</real>
			<key>y</key>
			<real>38.5</real>
		</dict>
		<key>Walk_Straight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>324.73677746743181</real>
					<key>controlPoint1Y</key>
					<real>39.85469979082206</real>
					<key>controlPoint2X</key>
					<real>242.68059993384958</real>
					<key>controlPoint2Y</key>
					<real>114.193062594205</real>
					<key>dstPointX</key>
					<real>246.59827129525567</real>
					<key>dstPointY</key>
					<real>142.46643495222648</real>
					<key>srcPointX</key>
					<real>296.19767957441553</real>
					<key>srcPointY</key>
					<real>39.353077578248659</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>250.95703125</real>
			<key>y</key>
			<real>39.5</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
