<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Button_Off</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>237.1319241368702</real>
		    <key>controlPoint1Y</key>
		    <real>349.155690802475</real>
		    <key>controlPoint2X</key>
		    <real>622.1017279838136</real>
		    <key>controlPoint2Y</key>
		    <real>172.490297190634</real>
		    <key>dstPointX</key>
		    <real>658.1026045195504</real>
		    <key>dstPointY</key>
		    <real>117.0427797359886</real>
		    <key>srcPointX</key>
		    <real>177.7614314326605</real>
		    <key>srcPointY</key>
		    <real>378.2354930590922</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>138.378892664009</real>
		    <key>controlPoint1Y</key>
		    <real>335.2632372460837</real>
		    <key>controlPoint2X</key>
		    <real>118.5627514484775</real>
		    <key>controlPoint2Y</key>
		    <real>149.7821460583722</real>
		    <key>dstPointX</key>
		    <real>127.3400601302182</real>
		    <key>dstPointY</key>
		    <real>119.2805980661034</real>
		    <key>srcPointX</key>
		    <real>138.0153919747957</real>
		    <key>srcPointY</key>
		    <real>367.0004936629226</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>137.54296875</real>
	    <key>y</key>
	    <real>387</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Button_On</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>683.7879823382998</real>
		    <key>controlPoint1Y</key>
		    <real>152.0214821737318</real>
		    <key>controlPoint2X</key>
		    <real>677.7075417573419</real>
		    <key>controlPoint2Y</key>
		    <real>328.7114423898121</real>
		    <key>dstPointX</key>
		    <real>679.0520539648591</real>
		    <key>dstPointY</key>
		    <real>360.518747027045</real>
		    <key>srcPointX</key>
		    <real>683.4632859221404</real>
		    <key>srcPointY</key>
		    <real>120.1874294377191</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>572.4227065103014</real>
		    <key>controlPoint1Y</key>
		    <real>116.2273177522066</real>
		    <key>controlPoint2X</key>
		    <real>179.242763317578</real>
		    <key>controlPoint2Y</key>
		    <real>305.7642121634552</real>
		    <key>dstPointX</key>
		    <real>154.2168437030535</real>
		    <key>dstPointY</key>
		    <real>368.4035886313229</real>
		    <key>srcPointX</key>
		    <real>638.7058351453534</real>
		    <key>srcPointY</key>
		    <real>103.7159231382929</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>682.8046875</real>
	    <key>y</key>
	    <real>99.8046875</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>102.9407337447787</real>
		    <key>controlPoint1Y</key>
		    <real>63.24964301352651</real>
		    <key>controlPoint2X</key>
		    <real>95.98257819219188</real>
		    <key>controlPoint2Y</key>
		    <real>70.13113325056351</real>
		    <key>dstPointX</key>
		    <real>109.1808683914053</real>
		    <key>dstPointY</key>
		    <real>85.15794714497724</real>
		    <key>srcPointX</key>
		    <real>89.06913160859466</real>
		    <key>srcPointY</key>
		    <real>48.84205285502277</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>57.88671875</real>
	    <key>y</key>
	    <real>34.5</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Long_Press</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>585.1403452421397</real>
		    <key>controlPoint1Y</key>
		    <real>373.1095637930478</real>
		    <key>controlPoint2X</key>
		    <real>233.3896946948662</real>
		    <key>controlPoint2Y</key>
		    <real>390.2638458679594</real>
		    <key>dstPointX</key>
		    <real>182.2654490472506</real>
		    <key>dstPointY</key>
		    <real>387.9143435294978</real>
		    <key>srcPointX</key>
		    <real>636.0041992371991</real>
		    <key>srcPointY</key>
		    <real>378.773220831168</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>680.8046875</real>
	    <key>y</key>
	    <real>380.8046875</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Zero</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>232.7598394389155</real>
		    <key>controlPoint1Y</key>
		    <real>99.12210371350398</real>
		    <key>controlPoint2X</key>
		    <real>589.5745551105447</real>
		    <key>controlPoint2Y</key>
		    <real>100.3055298093</real>
		    <key>dstPointX</key>
		    <real>638.0005424188264</real>
		    <key>dstPointY</key>
		    <real>100.0893015110067</real>
		    <key>srcPointX</key>
		    <real>184.3432075811736</real>
		    <key>srcPointY</key>
		    <real>100.0981984889933</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>139.45703125</real>
	    <key>y</key>
	    <real>100.5</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>