<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Button_Off</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>228.96973834604754</real>
					<key>controlPoint1Y</key>
					<real>223.77302556974803</real>
					<key>controlPoint2X</key>
					<real>326.33363785472795</real>
					<key>controlPoint2Y</key>
					<real>139.00937920680653</real>
					<key>dstPointX</key>
					<real>382.45233471556026</real>
					<key>dstPointY</key>
					<real>108.54244237752471</real>
					<key>srcPointX</key>
					<real>173.80866660357009</real>
					<key>srcPointY</key>
					<real>255.94131028215841</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>137.16083104356844</real>
					<key>controlPoint1Y</key>
					<real>214.63653735737194</real>
					<key>controlPoint2X</key>
					<real>136.83916895643156</real>
					<key>controlPoint2Y</key>
					<real>151.36346264262806</real>
					<key>dstPointX</key>
					<real>137.72704089749834</real>
					<key>dstPointY</key>
					<real>119.99087890791338</real>
					<key>srcPointX</key>
					<real>136.27295910250166</real>
					<key>srcPointY</key>
					<real>246.00912109208662</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>134.54296875</real>
			<key>y</key>
			<real>266</real>
		</dict>
		<key>Button_On</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>423.3767095647309</real>
					<key>controlPoint1Y</key>
					<real>150.87029286809388</real>
					<key>controlPoint2X</key>
					<real>422.77009071691259</real>
					<key>controlPoint2Y</key>
					<real>214.12867517799964</real>
					<key>dstPointX</key>
					<real>423.28009659087365</real>
					<key>dstPointY</key>
					<real>246.00320706982785</real>
					<key>srcPointX</key>
					<real>422.80584090912635</real>
					<key>srcPointY</key>
					<real>118.99679293017216</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>392.57125798925165</real>
					<key>controlPoint1Y</key>
					<real>184.37248192055307</real>
					<key>controlPoint2X</key>
					<real>232.89626797305647</real>
					<key>controlPoint2Y</key>
					<real>221.48319110889813</real>
					<key>dstPointX</key>
					<real>173.80866660357009</real>
					<key>dstPointY</key>
					<real>255.94131028215841</real>
					<key>srcPointX</key>
					<real>410.3220381396057</real>
					<key>srcPointY</key>
					<real>118.31480699468445</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>421.5</real>
			<key>y</key>
			<real>99</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>109.16414271117587</real>
					<key>controlPoint1Y</key>
					<real>59.37963087645339</real>
					<key>controlPoint2X</key>
					<real>88.835857288824087</real>
					<key>controlPoint2Y</key>
					<real>74.620369123546624</real>
					<key>dstPointX</key>
					<real>104.28676745886298</real>
					<key>dstPointY</key>
					<real>87.319557086459398</real>
					<key>srcPointX</key>
					<real>93.713232541136989</real>
					<key>srcPointY</key>
					<real>46.680442913540602</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>59.04296875</real>
			<key>y</key>
			<real>34.5</real>
		</dict>
		<key>Long_Press</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>329.06444513114707</real>
					<key>controlPoint1Y</key>
					<real>265.87910820735806</real>
					<key>controlPoint2X</key>
					<real>229.93555486885293</real>
					<key>controlPoint2Y</key>
					<real>266.12089179264194</real>
					<key>dstPointX</key>
					<real>179.91399561548801</real>
					<key>dstPointY</key>
					<real>266.03448270736817</real>
					<key>srcPointX</key>
					<real>379.08600438451202</real>
					<key>srcPointY</key>
					<real>265.96551729263183</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>424.45703125</real>
			<key>y</key>
			<real>266.5</real>
		</dict>
		<key>Zero</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>232.07527969571257</real>
					<key>controlPoint1Y</key>
					<real>99.638839246158227</real>
					<key>controlPoint2X</key>
					<real>329.01066038985698</real>
					<key>controlPoint2Y</key>
					<real>99.36164730462481</real>
					<key>dstPointX</key>
					<real>377.00063658676328</real>
					<key>dstPointY</key>
					<real>99.106381473790165</real>
					<key>srcPointX</key>
					<real>184.08530091323672</real>
					<key>srcPointY</key>
					<real>99.893618526209849</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>139.45703125</real>
			<key>y</key>
			<real>100.5</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
