<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FInishKick</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>338.52141462658659</real>
					<key>controlPoint1Y</key>
					<real>253.30861125927387</real>
					<key>controlPoint2X</key>
					<real>449.6159275300339</real>
					<key>controlPoint2Y</key>
					<real>264.7714351755854</real>
					<key>dstPointX</key>
					<real>473.09132559209957</real>
					<key>dstPointY</key>
					<real>263.27354568135843</real>
					<key>srcPointX</key>
					<real>314.99886871735544</real>
					<key>srcPointY</key>
					<real>253.14181480408749</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>270</real>
			<key>y</key>
			<real>253</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>181.88385550663725</real>
					<key>controlPoint1Y</key>
					<real>220.74608672633073</real>
					<key>controlPoint2X</key>
					<real>87.757068621928099</real>
					<key>controlPoint2Y</key>
					<real>384.01324355896361</real>
					<key>dstPointX</key>
					<real>134.64940734633558</real>
					<key>dstPointY</key>
					<real>417.47233734881155</real>
					<key>srcPointX</key>
					<real>135.35059265366442</real>
					<key>srcPointY</key>
					<real>186.78938140118845</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>187.86119643822741</real>
					<key>controlPoint1Y</key>
					<real>170.33576370205614</real>
					<key>controlPoint2X</key>
					<real>249.09953863075779</real>
					<key>controlPoint2Y</key>
					<real>82.661460595383573</real>
					<key>dstPointX</key>
					<real>293.08023704987511</real>
					<key>dstPointY</key>
					<real>79.455358908253942</real>
					<key>srcPointX</key>
					<real>143.88070045012489</real>
					<key>srcPointY</key>
					<real>173.54464109174606</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>175</real>
		</dict>
		<key>KickLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>241.84243863240295</real>
					<key>controlPoint1Y</key>
					<real>514.18267368468696</real>
					<key>controlPoint2X</key>
					<real>143.70328757609002</real>
					<key>controlPoint2Y</key>
					<real>264.99866572083846</real>
					<key>dstPointX</key>
					<real>225.31135099029188</real>
					<key>dstPointY</key>
					<real>255.34861239567297</real>
					<key>srcPointX</key>
					<real>196.24201559111708</real>
					<key>srcPointY</key>
					<real>445.81893357451816</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>171</real>
			<key>y</key>
			<real>428.73828125</real>
		</dict>
		<key>KickRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>343.58077032851469</real>
					<key>controlPoint1Y</key>
					<real>129.67656178274245</real>
					<key>controlPoint2X</key>
					<real>266.29423567650559</real>
					<key>controlPoint2Y</key>
					<real>201.24556442100513</real>
					<key>dstPointX</key>
					<real>267.82907113630762</real>
					<key>dstPointY</key>
					<real>233.02328729637389</real>
					<key>srcPointX</key>
					<real>341.26926808201142</real>
					<key>srcPointY</key>
					<real>97.945877132126867</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>338</real>
			<key>y</key>
			<real>78</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>735.9609375</real>
			<key>y</key>
			<real>263.03515625</real>
		</dict>
		<key>WalkConnect</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>580.57561777199089</real>
					<key>controlPoint1Y</key>
					<real>229.02335438926599</real>
					<key>controlPoint2X</key>
					<real>673.81633849787863</real>
					<key>controlPoint2Y</key>
					<real>298.25629812119541</real>
					<key>dstPointX</key>
					<real>700.67412507747645</real>
					<key>dstPointY</key>
					<real>276.00660999739301</real>
					<key>srcPointX</key>
					<real>552.84931242252355</real>
					<key>srcPointY</key>
					<real>250.18089000260699</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>517.9609375</real>
			<key>y</key>
			<real>261.765625</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
