<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>AddMachine</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>731.369008903315</real>
		    <key>controlPoint1Y</key>
		    <real>218.3493079148065</real>
		    <key>controlPoint2X</key>
		    <real>863.1850896148322</real>
		    <key>controlPoint2Y</key>
		    <real>245.8665961490914</real>
		    <key>dstPointX</key>
		    <real>926.4522727852476</real>
		    <key>dstPointY</key>
		    <real>236.8284271247462</real>
		    <key>srcPointX</key>
		    <real>667.7766735594495</real>
		    <key>srcPointY</key>
		    <real>211.99007438042</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>607.9326047366177</real>
		    <key>controlPoint1Y</key>
		    <real>99.24053599639927</real>
		    <key>controlPoint2X</key>
		    <real>1007.283636287351</real>
		    <key>controlPoint2Y</key>
		    <real>126.5716339135029</real>
		    <key>dstPointX</key>
		    <real>982.9668049156616</real>
		    <key>dstPointY</key>
		    <real>214.7201476358785</real>
		    <key>srcPointX</key>
		    <real>618.0305813266319</real>
		    <key>srcPointY</key>
		    <real>190.1223253065276</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>623</real>
	    <key>y</key>
	    <real>210</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>DoNothing</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>563.7061663723523</real>
		    <key>controlPoint1Y</key>
		    <real>288.7735135039094</real>
		    <key>controlPoint2X</key>
		    <real>553.4946270718301</real>
		    <key>controlPoint2Y</key>
		    <real>217.4742541387277</real>
		    <key>dstPointX</key>
		    <real>578.6122734275535</real>
		    <key>dstPointY</key>
		    <real>213.2879797461071</real>
		    <key>srcPointX</key>
		    <real>552.9710397182427</real>
		    <key>srcPointY</key>
		    <real>311.8641632882208</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>534</real>
	    <key>y</key>
	    <real>330</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Initial</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>448.4835509784074</real>
		    <key>controlPoint1Y</key>
		    <real>229.4203929760858</real>
		    <key>controlPoint2X</key>
		    <real>455.4351163746635</real>
		    <key>controlPoint2Y</key>
		    <real>334.126040114446</real>
		    <key>dstPointX</key>
		    <real>489.1325481524289</real>
		    <key>dstPointY</key>
		    <real>331.5339299776948</real>
		    <key>srcPointX</key>
		    <real>416.965564422334</real>
		    <key>srcPointY</key>
		    <real>217.2198820511542</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>375</real>
	    <key>y</key>
	    <real>210</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>InitialPseudoState</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>314.5</real>
		    <key>controlPoint1Y</key>
		    <real>194.75</real>
		    <key>controlPoint2X</key>
		    <real>331.8978171650482</real>
		    <key>controlPoint2Y</key>
		    <real>204.2530422886731</real>
		    <key>dstPointX</key>
		    <real>331.8978171650482</real>
		    <key>dstPointY</key>
		    <real>204.2530422886731</real>
		    <key>srcPointX</key>
		    <real>314.5</real>
		    <key>srcPointY</key>
		    <real>194.75</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>25</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>25</real>
	    <key>x</key>
	    <real>312.5</real>
	    <key>y</key>
	    <real>191.25</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>UnloadMachine</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>971</real>
	    <key>y</key>
	    <real>234</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>