<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Asses</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>871.48075714065828</real>
					<key>controlPoint1Y</key>
					<real>259.04006874566409</real>
					<key>controlPoint2X</key>
					<real>378.79229810972481</real>
					<key>controlPoint2Y</key>
					<real>361.98692070231255</real>
					<key>dstPointX</key>
					<real>363.89037695295656</real>
					<key>dstPointY</key>
					<real>535.1006848893428</real>
					<key>srcPointX</key>
					<real>1028.7701170094581</real>
					<key>srcPointY</key>
					<real>332.86756956499596</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>963.29651323264636</real>
					<key>controlPoint1Y</key>
					<real>373.3988879865783</real>
					<key>controlPoint2X</key>
					<real>838.49987278225206</real>
					<key>controlPoint2Y</key>
					<real>443.54532591636718</real>
					<key>dstPointX</key>
					<real>769.48188136184615</real>
					<key>dstPointY</key>
					<real>446.97378595289558</real>
					<key>srcPointX</key>
					<real>1028.5298841527351</real>
					<key>srcPointY</key>
					<real>350.59878280411453</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>58</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>85</real>
			<key>x</key>
			<real>1062.5</real>
			<key>y</key>
			<real>342.94921875</real>
		</dict>
		<key>Continue</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1197.6862241053636</real>
					<key>controlPoint1Y</key>
					<real>418.8013578650864</real>
					<key>controlPoint2X</key>
					<real>1064.5848025669202</real>
					<key>controlPoint2Y</key>
					<real>407.53217744456464</real>
					<key>dstPointX</key>
					<real>1063.5139636666722</real>
					<key>dstPointY</key>
					<real>367.35044440910895</real>
					<key>srcPointX</key>
					<real>1195.4212097920549</real>
					<key>srcPointY</key>
					<real>458.93349057496641</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1193</real>
			<key>y</key>
			<real>478.30078125</real>
		</dict>
		<key>GoToLine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1239.1957008017134</real>
					<key>controlPoint1Y</key>
					<real>699.33897749866992</real>
					<key>controlPoint2X</key>
					<real>523.30604241057472</real>
					<key>controlPoint2Y</key>
					<real>700.8674201261706</real>
					<key>dstPointX</key>
					<real>406.05748196487002</real>
					<key>dstPointY</key>
					<real>576.43701849213403</real>
					<key>srcPointX</key>
					<real>1088.9968309003971</real>
					<key>srcPointY</key>
					<real>617.66615914540671</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1048.69921875</real>
			<key>y</key>
			<real>608</real>
		</dict>
		<key>HeadAlignedWithGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>569.42895970168126</real>
					<key>controlPoint1Y</key>
					<real>604.71945910865281</real>
					<key>controlPoint2X</key>
					<real>865.70051857301667</real>
					<key>controlPoint2Y</key>
					<real>632.18461092801658</real>
					<key>dstPointX</key>
					<real>1009.5043449296032</real>
					<key>dstPointY</key>
					<real>610.63097598612444</real>
					<key>srcPointX</key>
					<real>429.26495044561614</real>
					<key>srcPointY</key>
					<real>566.01351430337331</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>210.05476774639163</real>
					<key>controlPoint1Y</key>
					<real>564.79737796395864</real>
					<key>controlPoint2X</key>
					<real>183.06977754429874</real>
					<key>controlPoint2Y</key>
					<real>319.9658842498693</real>
					<key>dstPointX</key>
					<real>228.96011682313269</real>
					<key>dstPointY</key>
					<real>258.20121857337449</real>
					<key>srcPointX</key>
					<real>286.89384342001551</real>
					<key>srcPointY</key>
					<real>560.72876457869199</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>57</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>153</real>
			<key>x</key>
			<real>357.5</real>
			<key>y</key>
			<real>559.65625</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>148.86521830854949</real>
					<key>controlPoint1Y</key>
					<real>103.12897784678972</real>
					<key>controlPoint2X</key>
					<real>180.01214845056541</real>
					<key>controlPoint2Y</key>
					<real>193.43752660244718</real>
					<key>dstPointX</key>
					<real>209.25033329550212</real>
					<key>dstPointY</key>
					<real>226.20504676552275</real>
					<key>srcPointX</key>
					<real>110.90131741922448</real>
					<key>srcPointY</key>
					<real>81.053560298535771</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>72</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>Restart_GoalTrackerMachine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>916.30378026913922</real>
					<key>controlPoint1Y</key>
					<real>205.21773369756261</real>
					<key>controlPoint2X</key>
					<real>1108.8484391978004</real>
					<key>controlPoint2Y</key>
					<real>270.60637923996813</real>
					<key>dstPointX</key>
					<real>1079.1028416348095</real>
					<key>dstPointY</key>
					<real>323.94588801750001</real>
					<key>srcPointX</key>
					<real>913.60438466272126</real>
					<key>srcPointY</key>
					<real>144.20448075717377</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>185</real>
			<key>x</key>
			<real>909.5</real>
			<key>y</key>
			<real>123</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>526</real>
		</dict>
		<key>SlowSpinToYaw</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>862.72247565902603</real>
					<key>controlPoint1Y</key>
					<real>458.35663401367862</real>
					<key>controlPoint2X</key>
					<real>1054.6696689795451</real>
					<key>controlPoint2Y</key>
					<real>455.77914301249461</real>
					<key>dstPointX</key>
					<real>1148.1819356519504</real>
					<key>dstPointY</key>
					<real>474.09790296240936</real>
					<key>srcPointX</key>
					<real>767.81806434804957</real>
					<key>srcPointY</key>
					<real>449.79662828759064</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>723</real>
			<key>y</key>
			<real>448</real>
		</dict>
		<key>StartSearchGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>319.99168121448702</real>
					<key>controlPoint1Y</key>
					<real>175.08750407490572</real>
					<key>controlPoint2X</key>
					<real>402.44116152955445</real>
					<key>controlPoint2Y</key>
					<real>96.146757369675996</real>
					<key>dstPointX</key>
					<real>452.02353325023637</real>
					<key>dstPointY</key>
					<real>91.038773533993123</real>
					<key>srcPointX</key>
					<real>301.48431843945212</real>
					<key>srcPointY</key>
					<real>221.36904043041932</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>366.72537442244783</real>
					<key>controlPoint1Y</key>
					<real>221.99685615541102</real>
					<key>controlPoint2X</key>
					<real>432.69019972781967</real>
					<key>controlPoint2Y</key>
					<real>234.68347226070833</real>
					<key>dstPointX</key>
					<real>464.1154341764701</real>
					<key>dstPointY</key>
					<real>232.43161832510702</real>
					<key>srcPointX</key>
					<real>338.13269907216215</real>
					<key>srcPointY</key>
					<real>235.22845177397107</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>158</real>
			<key>x</key>
			<real>268</real>
			<key>y</key>
			<real>244.3984375</real>
		</dict>
		<key>StopHeaadScanLittleSping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>467.00848597042454</real>
					<key>controlPoint1Y</key>
					<real>140.27945990220161</real>
					<key>controlPoint2X</key>
					<real>748.26794295059346</real>
					<key>controlPoint2Y</key>
					<real>154.51464497131548</real>
					<key>dstPointX</key>
					<real>826.2791938997691</real>
					<key>dstPointY</key>
					<real>129.1779750760775</real>
					<key>srcPointX</key>
					<real>508.55568115497874</real>
					<key>srcPointY</key>
					<real>211.00097493357001</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>459.03920842092248</real>
					<key>controlPoint1Y</key>
					<real>276.126159099875</real>
					<key>controlPoint2X</key>
					<real>365.95491790033873</real>
					<key>controlPoint2Y</key>
					<real>269.28218822830632</real>
					<key>dstPointX</key>
					<real>331.31582603762917</real>
					<key>dstPointY</key>
					<real>252.3599265540858</real>
					<key>srcPointX</key>
					<real>485.45029972215752</real>
					<key>srcPointY</key>
					<real>248.04264291115936</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>226</real>
			<key>x</key>
			<real>572</real>
			<key>y</key>
			<real>231</real>
		</dict>
		<key>StopSearchGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>691.24486787828755</real>
					<key>controlPoint1Y</key>
					<real>87.751848259394293</real>
					<key>controlPoint2X</key>
					<real>777.32189549588111</real>
					<key>controlPoint2Y</key>
					<real>125.2189768067697</real>
					<key>dstPointX</key>
					<real>822.05138709967787</real>
					<key>dstPointY</key>
					<real>123.68533710806103</real>
					<key>srcPointX</key>
					<real>646.49737947937422</real>
					<key>srcPointY</key>
					<real>88.613098425541779</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>205</real>
			<key>x</key>
			<real>548.5</real>
			<key>y</key>
			<real>89</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
