<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Asses</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>871.6095954858913</real>
					<key>controlPoint1Y</key>
					<real>258.68005863225824</real>
					<key>controlPoint2X</key>
					<real>378.88893169316839</real>
					<key>controlPoint2Y</key>
					<real>362.13637698440846</real>
					<key>dstPointX</key>
					<real>363.89037695295656</real>
					<key>dstPointY</key>
					<real>535.2569348893428</real>
					<key>srcPointX</key>
					<real>1028.7701170094581</real>
					<key>srcPointY</key>
					<real>332.81678831499596</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>963.24497774436077</real>
					<key>controlPoint1Y</key>
					<real>373.21362998314902</real>
					<key>controlPoint2X</key>
					<real>838.5042970800273</real>
					<key>controlPoint2Y</key>
					<real>443.5451061399321</real>
					<key>dstPointX</key>
					<real>769.48188136184615</real>
					<key>dstPointY</key>
					<real>446.97378595289558</real>
					<key>srcPointX</key>
					<real>1028.5298841527351</real>
					<key>srcPointY</key>
					<real>350.54800155411453</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>58</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>85</real>
			<key>x</key>
			<real>1062.5</real>
			<key>y</key>
			<real>342.94921875</real>
		</dict>
		<key>Continue</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1197.7252909727713</real>
					<key>controlPoint1Y</key>
					<real>419.05396078255495</real>
					<key>controlPoint2X</key>
					<real>1064.5883821383334</real>
					<key>controlPoint2Y</key>
					<real>407.53163813548832</real>
					<key>dstPointX</key>
					<real>1063.5139636666722</real>
					<key>dstPointY</key>
					<real>367.29966315910895</real>
					<key>srcPointX</key>
					<real>1195.4212097920549</real>
					<key>srcPointY</key>
					<real>459.23427182496641</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1193</real>
			<key>y</key>
			<real>478.30078125</real>
		</dict>
		<key>GoToLine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1238.56701754909</real>
					<key>controlPoint1Y</key>
					<real>699.77816876406246</real>
					<key>controlPoint2X</key>
					<real>522.68183612050439</real>
					<key>controlPoint2Y</key>
					<real>701.50303256318819</real>
					<key>dstPointX</key>
					<real>406.05748196487002</real>
					<key>dstPointY</key>
					<real>576.59326849213403</real>
					<key>srcPointX</key>
					<real>1088.6960496503971</real>
					<key>srcPointY</key>
					<real>617.66615914540671</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1048.69921875</real>
			<key>y</key>
			<real>608</real>
		</dict>
		<key>HeadAlignedWithGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>569.11347052630458</real>
					<key>controlPoint1Y</key>
					<real>605.714998526876</real>
					<key>controlPoint2X</key>
					<real>865.45305103967917</real>
					<key>controlPoint2Y</key>
					<real>632.01377828866327</real>
					<key>dstPointX</key>
					<real>1009.2035636796032</real>
					<key>dstPointY</key>
					<real>610.63097598612444</real>
					<key>srcPointX</key>
					<real>429.26495044561614</real>
					<key>srcPointY</key>
					<real>566.16976430337331</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>210.14316414090518</real>
					<key>controlPoint1Y</key>
					<real>565.46571806909662</real>
					<key>controlPoint2X</key>
					<real>183.92337580520714</real>
					<key>controlPoint2Y</key>
					<real>320.91611916906186</real>
					<key>dstPointX</key>
					<real>228.96011682313269</real>
					<key>dstPointY</key>
					<real>258.59965607337449</real>
					<key>srcPointX</key>
					<real>286.89384342001551</real>
					<key>srcPointY</key>
					<real>560.88501457869199</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>57</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>153</real>
			<key>x</key>
			<real>357.5</real>
			<key>y</key>
			<real>559.65625</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>148.93659738230093</real>
					<key>controlPoint1Y</key>
					<real>103.17048366732868</real>
					<key>controlPoint2X</key>
					<real>179.58929120002139</real>
					<key>controlPoint2Y</key>
					<real>194.10635511569194</real>
					<key>dstPointX</key>
					<real>209.25033329550212</real>
					<key>dstPointY</key>
					<real>226.60348426552275</real>
					<key>srcPointX</key>
					<real>110.90131741922448</real>
					<key>srcPointY</key>
					<real>81.053560298535771</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>72</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>Restart_GoalTrackerMachine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>916.303367554793</real>
					<key>controlPoint1Y</key>
					<real>205.20840529651647</real>
					<key>controlPoint2X</key>
					<real>1108.7835345683989</real>
					<key>controlPoint2Y</key>
					<real>270.53013899991402</real>
					<key>dstPointX</key>
					<real>1079.1028416348095</real>
					<key>dstPointY</key>
					<real>323.89510676750001</real>
					<key>srcPointX</key>
					<real>913.60438466272126</real>
					<key>srcPointY</key>
					<real>144.20448075717377</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>185</real>
			<key>x</key>
			<real>909.5</real>
			<key>y</key>
			<real>123</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>526</real>
		</dict>
		<key>SlowSpinToYaw</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>862.72733897565661</real>
					<key>controlPoint1Y</key>
					<real>458.35707266576685</real>
					<key>controlPoint2X</key>
					<real>1054.4076813737511</real>
					<key>controlPoint2Y</key>
					<real>457.44460349837453</real>
					<key>dstPointX</key>
					<real>1148.1819356519504</real>
					<key>dstPointY</key>
					<real>474.39868421240936</real>
					<key>srcPointX</key>
					<real>767.81806434804957</real>
					<key>srcPointY</key>
					<real>449.79662828759064</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>723</real>
			<key>y</key>
			<real>448</real>
		</dict>
		<key>StartSearchGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>320.3012156932167</real>
					<key>controlPoint1Y</key>
					<real>175.54033994468548</real>
					<key>controlPoint2X</key>
					<real>402.3761372457779</real>
					<key>controlPoint2Y</key>
					<real>96.153456181752375</real>
					<key>dstPointX</key>
					<real>452.02353325023637</real>
					<key>dstPointY</key>
					<real>91.038773533993123</real>
					<key>srcPointX</key>
					<real>301.48431843945212</real>
					<key>srcPointY</key>
					<real>221.76747793041932</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>366.95436706202827</real>
					<key>controlPoint1Y</key>
					<real>222.89516817741347</real>
					<key>controlPoint2X</key>
					<real>432.68752368293951</real>
					<key>controlPoint2Y</key>
					<real>234.6836640194112</real>
					<key>dstPointX</key>
					<real>464.1154341764701</real>
					<key>dstPointY</key>
					<real>232.43161832510702</real>
					<key>srcPointX</key>
					<real>338.13269907216215</real>
					<key>srcPointY</key>
					<real>235.62688927397107</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>158</real>
			<key>x</key>
			<real>268</real>
			<key>y</key>
			<real>244.3984375</real>
		</dict>
		<key>StopHeaadScanLittleSping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>467.00848597042454</real>
					<key>controlPoint1Y</key>
					<real>140.27945990220161</real>
					<key>controlPoint2X</key>
					<real>748.26794295059346</real>
					<key>controlPoint2Y</key>
					<real>154.51464497131548</real>
					<key>dstPointX</key>
					<real>826.2791938997691</real>
					<key>dstPointY</key>
					<real>129.1779750760775</real>
					<key>srcPointX</key>
					<real>508.55568115497874</real>
					<key>srcPointY</key>
					<real>211.00097493357001</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>459.03703351244496</real>
					<key>controlPoint1Y</key>
					<real>276.12847172969936</real>
					<key>controlPoint2X</key>
					<real>365.63659206718688</real>
					<key>controlPoint2Y</key>
					<real>270.32422388028931</real>
					<key>dstPointX</key>
					<real>331.31582603762917</real>
					<key>dstPointY</key>
					<real>252.7583640540858</real>
					<key>srcPointX</key>
					<real>485.45029972215752</real>
					<key>srcPointY</key>
					<real>248.04264291115936</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>226</real>
			<key>x</key>
			<real>572</real>
			<key>y</key>
			<real>231</real>
		</dict>
		<key>StopSearchGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>691.24486787828755</real>
					<key>controlPoint1Y</key>
					<real>87.751848259394293</real>
					<key>controlPoint2X</key>
					<real>777.32189549588111</real>
					<key>controlPoint2Y</key>
					<real>125.2189768067697</real>
					<key>dstPointX</key>
					<real>822.05138709967787</real>
					<key>dstPointY</key>
					<real>123.68533710806103</real>
					<key>srcPointX</key>
					<real>646.49737947937422</real>
					<key>srcPointY</key>
					<real>88.613098425541779</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>205</real>
			<key>x</key>
			<real>548.5</real>
			<key>y</key>
			<real>89</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
