<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Get_Data</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>398.48435939987473</real>
					<key>controlPoint1Y</key>
					<real>166.81048910835025</real>
					<key>controlPoint2X</key>
					<real>511.55583572829613</real>
					<key>controlPoint2Y</key>
					<real>167.04570419004571</real>
					<key>dstPointX</key>
					<real>546.73405856236798</real>
					<key>dstPointY</key>
					<real>137.4419851516565</real>
					<key>srcPointX</key>
					<real>362.3583324815441</real>
					<key>srcPointY</key>
					<real>138.37111988602834</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>327</real>
			<key>y</key>
			<real>126</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>166.32522935406948</real>
					<key>controlPoint1Y</key>
					<real>129.1252703939015</real>
					<key>controlPoint2X</key>
					<real>243.5011434585241</real>
					<key>controlPoint2Y</key>
					<real>123.75495162388944</real>
					<key>dstPointX</key>
					<real>282.00304131961803</real>
					<key>dstPointY</key>
					<real>125.23252113287593</real>
					<key>srcPointX</key>
					<real>127.85002794102596</real>
					<key>srcPointY</key>
					<real>127.06657498521929</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>83.04296875</real>
			<key>y</key>
			<real>126</real>
		</dict>
		<key>Wait_State</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>511.43802298725728</real>
					<key>controlPoint1Y</key>
					<real>80.506633773845621</real>
					<key>controlPoint2X</key>
					<real>391.74737700181862</real>
					<key>controlPoint2Y</key>
					<real>78.666330008366572</real>
					<key>dstPointX</key>
					<real>358.74481997303138</real>
					<key>dstPointY</key>
					<real>111.82461598139128</real>
					<key>srcPointX</key>
					<real>546.34518111512477</real>
					<key>srcPointY</key>
					<real>111.65355995514471</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>579.53125</real>
			<key>y</key>
			<real>125.27734375</real>
		</dict>
	</dict>
</dict>
</plist>
