<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Get_Data</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>362.57667138077386</real>
					<key>controlPoint1Y</key>
					<real>166.8831595549058</real>
					<key>controlPoint2X</key>
					<real>511.31296431126646</real>
					<key>controlPoint2Y</key>
					<real>167.1987471538522</real>
					<key>dstPointX</key>
					<real>546.70280856236798</real>
					<key>dstPointY</key>
					<real>137.6646414016565</real>
					<key>srcPointX</key>
					<real>326.3583324815441</real>
					<key>srcPointY</key>
					<real>138.37111988602834</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>290</real>
			<key>y</key>
			<real>127</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>166.29288127438895</real>
					<key>controlPoint1Y</key>
					<real>129.12781345270292</real>
					<key>controlPoint2X</key>
					<real>207.49040993248997</real>
					<key>controlPoint2Y</key>
					<real>123.75453970833013</real>
					<key>dstPointX</key>
					<real>246.00304131961803</real>
					<key>dstPointY</key>
					<real>125.23252113287593</real>
					<key>srcPointX</key>
					<real>127.80705919102596</real>
					<key>srcPointY</key>
					<real>127.06657498521929</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>83.04296875</real>
			<key>y</key>
			<real>126</real>
		</dict>
		<key>Wait_State</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>511.86203243245666</real>
					<key>controlPoint1Y</key>
					<real>80.053473163262368</real>
					<key>controlPoint2X</key>
					<real>355.8300542339324</real>
					<key>controlPoint2Y</key>
					<real>78.583262647752804</real>
					<key>dstPointX</key>
					<real>322.74481997303138</real>
					<key>dstPointY</key>
					<real>111.82461598139128</real>
					<key>srcPointX</key>
					<real>546.31393111512477</real>
					<key>srcPointY</key>
					<real>111.87621620514471</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>579.53125</real>
			<key>y</key>
			<real>125.27734375</real>
		</dict>
	</dict>
</dict>
</plist>
