<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Get_Data</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>398.39212859610183</real>
					<key>controlPoint1Y</key>
					<real>166.73788256658742</real>
					<key>controlPoint2X</key>
					<real>511.29440707649633</real>
					<key>controlPoint2Y</key>
					<real>167.38654543213227</real>
					<key>dstPointX</key>
					<real>546.26530856236798</real>
					<key>dstPointY</key>
					<real>137.7193289016565</real>
					<key>srcPointX</key>
					<real>362.3583324815441</real>
					<key>srcPointY</key>
					<real>138.37111988602834</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>327</real>
			<key>y</key>
			<real>126</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>166.35757707390641</real>
					<key>controlPoint1Y</key>
					<real>129.12273218397587</real>
					<key>controlPoint2X</key>
					<real>243.51187698413446</real>
					<key>controlPoint2Y</key>
					<real>123.75536353943249</real>
					<key>dstPointX</key>
					<real>282.00304131961803</real>
					<key>dstPointY</key>
					<real>125.23252113287593</real>
					<key>srcPointX</key>
					<real>127.89299669102596</real>
					<key>srcPointY</key>
					<real>127.06657498521929</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>83.04296875</real>
			<key>y</key>
			<real>126</real>
		</dict>
		<key>Wait_State</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>510.52543734407135</real>
					<key>controlPoint1Y</key>
					<real>81.467722308125516</real>
					<key>controlPoint2X</key>
					<real>391.66477240131451</real>
					<key>controlPoint2Y</key>
					<real>78.74932439464439</real>
					<key>dstPointX</key>
					<real>358.74481997303138</real>
					<key>dstPointY</key>
					<real>111.82461598139128</real>
					<key>srcPointX</key>
					<real>545.87643111512477</real>
					<key>srcPointY</key>
					<real>111.93090370514471</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>579.53125</real>
			<key>y</key>
			<real>125.27734375</real>
		</dict>
	</dict>
</dict>
</plist>
