<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>BUTTON_RELEASED</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>342.65114776713904</real>
					<key>controlPoint1Y</key>
					<real>153.3494572635953</real>
					<key>controlPoint2X</key>
					<real>319.66960668205741</real>
					<key>controlPoint2Y</key>
					<real>235.23200654888308</real>
					<key>dstPointX</key>
					<real>306.8019670840676</real>
					<key>dstPointY</key>
					<real>283.67326171608909</real>
					<key>srcPointX</key>
					<real>378.01547812934376</real>
					<key>srcPointY</key>
					<real>117.83191949658554</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>409.76643229092645</real>
			<key>y</key>
			<real>103.65924950180151</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>538.12276932106897</real>
					<key>controlPoint1Y</key>
					<real>575.27623097240519</real>
					<key>controlPoint2X</key>
					<real>304.12276932106897</real>
					<key>controlPoint2Y</key>
					<real>322.27623097240513</real>
					<key>dstPointX</key>
					<real>296</real>
					<key>dstPointY</key>
					<real>304</real>
					<key>srcPointX</key>
					<real>530</real>
					<key>srcPointY</key>
					<real>557</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>538.12276932106897</real>
					<key>controlPoint1Y</key>
					<real>575.27623097240519</real>
					<key>controlPoint2X</key>
					<real>419.12276932106897</real>
					<key>controlPoint2Y</key>
					<real>123.27623097240514</real>
					<key>dstPointX</key>
					<real>411</real>
					<key>dstPointY</key>
					<real>105</real>
					<key>srcPointX</key>
					<real>530</real>
					<key>srcPointY</key>
					<real>557</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>293</real>
			<key>internalHeight</key>
			<real>44</real>
			<key>onEntryHeight</key>
			<real>171</real>
			<key>onExitHeight</key>
			<real>31</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>728</real>
			<key>x</key>
			<real>843</real>
			<key>y</key>
			<real>677.5</real>
			<key>zoomedInternalHeight</key>
			<real>265</real>
			<key>zoomedOnEntryHeight</key>
			<real>274</real>
			<key>zoomedOnExitHeight</key>
			<real>266</real>
		</dict>
		<key>POST_BUTTON_PRESSED</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>349.42563936616273</real>
					<key>controlPoint1Y</key>
					<real>245.78349537949219</real>
					<key>controlPoint2X</key>
					<real>369.91047369288736</real>
					<key>controlPoint2Y</key>
					<real>166.93472302019248</real>
					<key>dstPointX</key>
					<real>390.83680686395326</real>
					<key>dstPointY</key>
					<real>121.80363219854337</real>
					<key>srcPointX</key>
					<real>320.98029253988034</real>
					<key>srcPointY</key>
					<real>286.59512390214371</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>295.24908792987378</real>
			<key>y</key>
			<real>303.00292156248832</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
