<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>BUTTON_RELEASED</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>637.99201484279354</real>
					<key>controlPoint1Y</key>
					<real>199.35509304778296</real>
					<key>controlPoint2X</key>
					<real>572.02374743827329</real>
					<key>controlPoint2Y</key>
					<real>235.28400238949791</real>
					<key>dstPointX</key>
					<real>552</real>
					<key>dstPointY</key>
					<real>223</real>
					<key>srcPointX</key>
					<real>684</real>
					<key>srcPointY</key>
					<real>326.30859375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>416</real>
			<key>internalHeight</key>
			<real>163</real>
			<key>onEntryHeight</key>
			<real>155</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>452</real>
			<key>x</key>
			<real>904.6953125</real>
			<key>y</key>
			<real>223</real>
			<key>zoomedInternalHeight</key>
			<real>265</real>
			<key>zoomedOnEntryHeight</key>
			<real>279</real>
			<key>zoomedOnExitHeight</key>
			<real>276</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>519.35905214313175</real>
					<key>controlPoint1Y</key>
					<real>588.12254810093839</real>
					<key>controlPoint2X</key>
					<real>532.99984947776056</real>
					<key>controlPoint2Y</key>
					<real>432.07918480960461</real>
					<key>dstPointX</key>
					<real>548.80950625220066</real>
					<key>dstPointY</key>
					<real>487.83699679603291</real>
					<key>srcPointX</key>
					<real>490.43518691691077</real>
					<key>srcPointY</key>
					<real>541.3032028652209</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>896.23197650333009</real>
					<key>controlPoint1Y</key>
					<real>500.87153256153925</real>
					<key>controlPoint2X</key>
					<real>870.02566980751396</real>
					<key>controlPoint2Y</key>
					<real>460.56957276046819</real>
					<key>dstPointX</key>
					<real>843</real>
					<key>dstPointY</key>
					<real>425</real>
					<key>srcPointX</key>
					<real>904.6953125</real>
					<key>srcPointY</key>
					<real>536</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>293</real>
			<key>internalHeight</key>
			<real>50</real>
			<key>onEntryHeight</key>
			<real>163</real>
			<key>onExitHeight</key>
			<real>33</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>728</real>
			<key>x</key>
			<real>843</real>
			<key>y</key>
			<real>677.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>POST_BUTTON_PRESSED</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>598.92589130208489</real>
					<key>controlPoint1Y</key>
					<real>308.86380809934207</real>
					<key>controlPoint2X</key>
					<real>645.40666981032427</real>
					<key>controlPoint2Y</key>
					<real>285.87021105632959</real>
					<key>dstPointX</key>
					<real>684</real>
					<key>dstPointY</key>
					<real>326.30859375</real>
					<key>srcPointX</key>
					<real>552</real>
					<key>srcPointY</key>
					<real>223</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>354</real>
			<key>internalHeight</key>
			<real>98</real>
			<key>onEntryHeight</key>
			<real>162</real>
			<key>onExitHeight</key>
			<real>47</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>532</real>
			<key>x</key>
			<real>292</real>
			<key>y</key>
			<real>326.30859375</real>
			<key>zoomedInternalHeight</key>
			<real>522</real>
			<key>zoomedOnEntryHeight</key>
			<real>149</real>
			<key>zoomedOnExitHeight</key>
			<real>149</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
