<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Control_State</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>742.60205994698663</real>
					<key>controlPoint1Y</key>
					<real>182.10695986297378</real>
					<key>controlPoint2X</key>
					<real>768.71341135479361</real>
					<key>controlPoint2Y</key>
					<real>226.31100667271213</real>
					<key>dstPointX</key>
					<real>797.41357559183609</real>
					<key>dstPointY</key>
					<real>244.67964099940423</real>
					<key>srcPointX</key>
					<real>713.90189570994426</real>
					<key>srcPointY</key>
					<real>163.73832553628168</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>798.58872136738341</real>
					<key>controlPoint1Y</key>
					<real>141.14283910064009</real>
					<key>controlPoint2X</key>
					<real>930.93225358910672</real>
					<key>controlPoint2Y</key>
					<real>102.90269959395518</real>
					<key>dstPointX</key>
					<real>1006.0273946894437</real>
					<key>dstPointY</key>
					<real>80.10126422966384</real>
					<key>srcPointX</key>
					<real>720.67501649902636</real>
					<key>srcPointY</key>
					<real>150.55773502348637</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>676</real>
			<key>y</key>
			<real>152.95703125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>DecIndex</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1346.0192505122845</real>
					<key>controlPoint1Y</key>
					<real>352.70663638342944</real>
					<key>controlPoint2X</key>
					<real>1251.5895023640908</real>
					<key>controlPoint2Y</key>
					<real>326.59680125769376</real>
					<key>dstPointX</key>
					<real>1194.8411211607986</real>
					<key>dstPointY</key>
					<real>331.2747538783612</real>
					<key>srcPointX</key>
					<real>1397.5037665683126</real>
					<key>srcPointY</key>
					<real>377.02960117787757</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>52</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>104</real>
			<key>x</key>
			<real>1440</real>
			<key>y</key>
			<real>386</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>HelpMessage</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>925.04289773377559</real>
					<key>controlPoint1Y</key>
					<real>68.567064845199184</real>
					<key>controlPoint2X</key>
					<real>786.72004000938648</real>
					<key>controlPoint2Y</key>
					<real>108.11667484801538</real>
					<key>dstPointX</key>
					<real>716.13441614925966</real>
					<key>dstPointY</key>
					<real>143.91142782594409</real>
					<key>srcPointX</key>
					<real>1004.0692176275827</real>
					<key>srcPointY</key>
					<real>72.860711374187602</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>52</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>104</real>
			<key>x</key>
			<real>1051</real>
			<key>y</key>
			<real>74</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>IncIndex</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1056.9226923628216</real>
					<key>controlPoint1Y</key>
					<real>438.26231573457875</real>
					<key>controlPoint2X</key>
					<real>1093.1856259815179</real>
					<key>controlPoint2Y</key>
					<real>381.5570939153418</real>
					<key>dstPointX</key>
					<real>1118.7399894406624</real>
					<key>dstPointY</key>
					<real>349.43412348189776</real>
					<key>srcPointX</key>
					<real>1018.7304792129396</real>
					<key>srcPointY</key>
					<real>453.30444244538546</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>52</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>104</real>
			<key>x</key>
			<real>975</real>
			<key>y</key>
			<real>461</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>167.67513105403813</real>
					<key>controlPoint1Y</key>
					<real>150.37982739275662</real>
					<key>controlPoint2X</key>
					<real>177.43213852886907</real>
					<key>controlPoint2Y</key>
					<real>99.924860107243376</real>
					<key>dstPointX</key>
					<real>202.47127529609716</real>
					<key>dstPointY</key>
					<real>79.603340778141003</real>
					<key>srcPointX</key>
					<real>142.63599428681005</real>
					<key>srcPointY</key>
					<real>170.70134672185901</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>107.6953125</real>
			<key>y</key>
			<real>183.3046875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>PickMachine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1073.3780865421338</real>
					<key>controlPoint1Y</key>
					<real>365.13941708893856</real>
					<key>controlPoint2X</key>
					<real>1040.5484744535438</real>
					<key>controlPoint2Y</key>
					<real>420.24055515702889</real>
					<key>dstPointX</key>
					<real>1010.2024620580876</real>
					<key>dstPointY</key>
					<real>447.08575837159958</real>
					<key>srcPointX</key>
					<real>1107.9246954394921</real>
					<key>srcPointY</key>
					<real>343.97158258397013</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1247.5923669383722</real>
					<key>controlPoint1Y</key>
					<real>353.36692027254719</real>
					<key>controlPoint2X</key>
					<real>1337.1935825315165</real>
					<key>controlPoint2Y</key>
					<real>378.88143927044263</real>
					<key>dstPointX</key>
					<real>1393.1999990678553</real>
					<key>dstPointY</key>
					<real>384.06475103477567</real>
					<key>srcPointX</key>
					<real>1193.3368863571109</real>
					<key>srcPointY</key>
					<real>338.5369424915624</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1145.1878040555164</real>
					<key>controlPoint1Y</key>
					<real>417.48754543990594</real>
					<key>controlPoint2X</key>
					<real>1143.7613033384266</real>
					<key>controlPoint2Y</key>
					<real>524.51213075049884</real>
					<key>dstPointX</key>
					<real>1142.1450836362819</real>
					<key>dstPointY</key>
					<real>588.00647619190477</real>
					<key>srcPointX</key>
					<real>1146.8040237576613</real>
					<key>srcPointY</key>
					<real>353.99319999850007</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>52</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>104</real>
			<key>x</key>
			<real>1148</real>
			<key>y</key>
			<real>333</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Restart_FSMs</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>141.33812728954996</real>
					<key>controlPoint1Y</key>
					<real>270.83569188449735</real>
					<key>controlPoint2X</key>
					<real>142.05249771045004</real>
					<key>controlPoint2Y</key>
					<real>227.77368311550265</real>
					<key>dstPointX</key>
					<real>128.30335903534399</real>
					<key>dstPointY</key>
					<real>201.08417862853204</real>
					<key>srcPointX</key>
					<real>155.08726596465604</real>
					<key>srcPointY</key>
					<real>297.52519637146793</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>175.6953125</real>
			<key>y</key>
			<real>315.3046875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>RunningState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>951.39594603535795</real>
					<key>controlPoint1Y</key>
					<real>625.70279351101419</real>
					<key>controlPoint2X</key>
					<real>685.92395456567579</real>
					<key>controlPoint2Y</key>
					<real>687.56357870289003</real>
					<key>dstPointX</key>
					<real>545.96611661394115</real>
					<key>dstPointY</key>
					<real>728.04806017462261</real>
					<key>srcPointX</key>
					<real>1096.2575663764096</real>
					<key>srcPointY</key>
					<real>610.13678579149519</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>950.07443255499106</real>
					<key>controlPoint1Y</key>
					<real>596.78091492638305</real>
					<key>controlPoint2X</key>
					<real>674.53719176826792</real>
					<key>controlPoint2Y</key>
					<real>660.33024095245298</real>
					<key>dstPointX</key>
					<real>543.13806245109856</real>
					<key>dstPointY</key>
					<real>724.7962964381187</real>
					<key>srcPointX</key>
					<real>1096.102444321649</real>
					<key>srcPointY</key>
					<real>606.65123785260403</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1141</real>
			<key>y</key>
			<real>608</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Spacing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>399.16517589346938</real>
					<key>controlPoint1Y</key>
					<real>620.8264062951522</real>
					<key>controlPoint2X</key>
					<real>279.26841785653062</real>
					<key>controlPoint2Y</key>
					<real>428.08374995484786</real>
					<key>dstPointX</key>
					<real>203.41221191779266</real>
					<key>dstPointY</key>
					<real>331.06068803697883</real>
					<key>srcPointX</key>
					<real>475.02138183220734</real>
					<key>srcPointY</key>
					<real>717.84946821302117</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>502.73828125</real>
			<key>y</key>
			<real>733.60546875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Start_Default_Machines</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>397.78283101830846</real>
					<key>controlPoint1Y</key>
					<real>88.261985216852565</real>
					<key>controlPoint2X</key>
					<real>546.36986271373166</real>
					<key>controlPoint2Y</key>
					<real>131.69504603314743</real>
					<key>dstPointX</key>
					<real>631.89307326046833</real>
					<key>dstPointY</key>
					<real>148.99227257800902</real>
					<key>srcPointX</key>
					<real>312.25962047157179</real>
					<key>srcPointY</key>
					<real>70.964758671990992</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>135</real>
			<key>x</key>
			<real>251</real>
			<key>y</key>
			<real>67</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Wait</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>943.22133732299494</real>
					<key>controlPoint1Y</key>
					<real>276.05054661793002</real>
					<key>controlPoint2X</key>
					<real>1041.7786626770051</real>
					<key>controlPoint2Y</key>
					<real>312.94945338206998</real>
					<key>dstPointX</key>
					<real>1102.3775325386434</real>
					<key>dstPointY</key>
					<real>327.95303209379398</real>
					<key>srcPointX</key>
					<real>882.62246746135656</real>
					<key>srcPointY</key>
					<real>261.04696790620602</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>52</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>104</real>
			<key>x</key>
			<real>837</real>
			<key>y</key>
			<real>256</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
