<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Control_State</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>820.8204107198211</real>
		    <key>controlPoint1Y</key>
		    <real>199.2883667979655</real>
		    <key>controlPoint2X</key>
		    <real>999.310921447317</real>
		    <key>controlPoint2Y</key>
		    <real>285.3122656128014</real>
		    <key>dstPointX</key>
		    <real>1102.086305927744</real>
		    <key>dstPointY</key>
		    <real>324.5156243761037</real>
		    <key>srcPointX</key>
		    <real>718.0450262393942</real>
		    <key>srcPointY</key>
		    <real>160.0850080346631</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>790.16037510968</real>
		    <key>controlPoint1Y</key>
		    <real>145.0266654138152</real>
		    <key>controlPoint2X</key>
		    <real>904.4041095122226</real>
		    <key>controlPoint2Y</key>
		    <real>114.5695769389685</real>
		    <key>dstPointX</key>
		    <real>971.6179259674932</real>
		    <key>dstPointY</key>
		    <real>96.46253979187765</real>
		    <key>srcPointX</key>
		    <real>720.8234335514502</real>
		    <key>srcPointY</key>
		    <real>151.187059238853</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>676</real>
	    <key>y</key>
	    <real>152.95703125</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>DecIndex</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1344.019250512285</real>
		    <key>controlPoint1Y</key>
		    <real>351.7066363834294</real>
		    <key>controlPoint2X</key>
		    <real>1249.589502364091</real>
		    <key>controlPoint2Y</key>
		    <real>325.5968012576938</real>
		    <key>dstPointX</key>
		    <real>1192.841121160799</real>
		    <key>dstPointY</key>
		    <real>330.2747538783612</real>
		    <key>srcPointX</key>
		    <real>1395.503766568313</real>
		    <key>srcPointY</key>
		    <real>376.0296011778776</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>52</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>104</real>
	    <key>x</key>
	    <real>1440</real>
	    <key>y</key>
	    <real>386</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>HelpMessage_2</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>900.1526910338296</real>
		    <key>controlPoint1Y</key>
		    <real>83.16702108164949</real>
		    <key>controlPoint2X</key>
		    <real>780.4133183411382</real>
		    <key>controlPoint2Y</key>
		    <real>114.6928218394053</real>
		    <key>dstPointX</key>
		    <real>716.7581760644816</real>
		    <key>dstPointY</key>
		    <real>144.4802384265207</real>
		    <key>srcPointX</key>
		    <real>970.1733696204848</real>
		    <key>srcPointY</key>
		    <real>89.19793274242583</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>52</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>104</real>
	    <key>x</key>
	    <real>1019</real>
	    <key>y</key>
	    <real>92</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>IncIndex</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1054.922692362822</real>
		    <key>controlPoint1Y</key>
		    <real>437.2623157345787</real>
		    <key>controlPoint2X</key>
		    <real>1091.185625981518</real>
		    <key>controlPoint2Y</key>
		    <real>380.5570939153418</real>
		    <key>dstPointX</key>
		    <real>1116.739989440662</real>
		    <key>dstPointY</key>
		    <real>348.4341234818978</real>
		    <key>srcPointX</key>
		    <real>1016.73047921294</real>
		    <key>srcPointY</key>
		    <real>452.3044424453855</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>52</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>104</real>
	    <key>x</key>
	    <real>975</real>
	    <key>y</key>
	    <real>461</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>167.6751310540381</real>
		    <key>controlPoint1Y</key>
		    <real>150.3798273927566</real>
		    <key>controlPoint2X</key>
		    <real>159.9321385288691</real>
		    <key>controlPoint2Y</key>
		    <real>99.92486010724338</real>
		    <key>dstPointX</key>
		    <real>184.9712752960972</real>
		    <key>dstPointY</key>
		    <real>79.603340778141</real>
		    <key>srcPointX</key>
		    <real>142.63599428681</real>
		    <key>srcPointY</key>
		    <real>170.701346721859</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>107.6953125</real>
	    <key>y</key>
	    <real>183.3046875</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>PickMachine</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1071.378086542134</real>
		    <key>controlPoint1Y</key>
		    <real>364.1394170889386</real>
		    <key>controlPoint2X</key>
		    <real>1038.548474453544</real>
		    <key>controlPoint2Y</key>
		    <real>419.2405551570289</real>
		    <key>dstPointX</key>
		    <real>1008.202462058088</real>
		    <key>dstPointY</key>
		    <real>446.0857583715996</real>
		    <key>srcPointX</key>
		    <real>1105.924695439492</real>
		    <key>srcPointY</key>
		    <real>342.9715825839701</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1245.592366938372</real>
		    <key>controlPoint1Y</key>
		    <real>352.3669202725472</real>
		    <key>controlPoint2X</key>
		    <real>1335.193582531517</real>
		    <key>controlPoint2Y</key>
		    <real>377.8814392704426</real>
		    <key>dstPointX</key>
		    <real>1391.199999067855</real>
		    <key>dstPointY</key>
		    <real>383.0647510347757</real>
		    <key>srcPointX</key>
		    <real>1191.336886357111</real>
		    <key>srcPointY</key>
		    <real>337.5369424915624</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1149.003426717819</real>
		    <key>controlPoint1Y</key>
		    <real>405.982929170939</real>
		    <key>controlPoint2X</key>
		    <real>1148.056632021387</real>
		    <key>controlPoint2Y</key>
		    <real>512.0166198458487</real>
		    <key>dstPointX</key>
		    <real>1149.648678367862</real>
		    <key>dstPointY</key>
		    <real>565.0090196642461</real>
		    <key>srcPointX</key>
		    <real>1147.411380371344</real>
		    <key>srcPointY</key>
		    <real>352.9905293525416</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>52</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>104</real>
	    <key>x</key>
	    <real>1148</real>
	    <key>y</key>
	    <real>333</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Restart_FSMs</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>141.33812728955</real>
		    <key>controlPoint1Y</key>
		    <real>270.8356918844974</real>
		    <key>controlPoint2X</key>
		    <real>142.05249771045</real>
		    <key>controlPoint2Y</key>
		    <real>227.7736831155026</real>
		    <key>dstPointX</key>
		    <real>128.303359035344</real>
		    <key>dstPointY</key>
		    <real>201.084178628532</real>
		    <key>srcPointX</key>
		    <real>155.087265964656</real>
		    <key>srcPointY</key>
		    <real>297.5251963714679</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>175.6953125</real>
	    <key>y</key>
	    <real>315.3046875</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>RunningState</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>956.673099069317</real>
		    <key>controlPoint1Y</key>
		    <real>612.8050640502377</real>
		    <key>controlPoint2X</key>
		    <real>687.5825047350617</real>
		    <key>controlPoint2Y</key>
		    <real>675.7623643567364</real>
		    <key>dstPointX</key>
		    <real>544.2073752360131</real>
		    <key>dstPointY</key>
		    <real>725.9927080817361</real>
		    <key>srcPointX</key>
		    <real>1106.592445840539</real>
		    <key>srcPointY</key>
		    <real>588.2346620736597</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>953.4389892334164</real>
		    <key>controlPoint1Y</key>
		    <real>582.9142524284229</real>
		    <key>controlPoint2X</key>
		    <real>674.0250842140026</real>
		    <key>controlPoint2Y</key>
		    <real>648.1303607693202</real>
		    <key>dstPointX</key>
		    <real>540.9785131321988</real>
		    <key>dstPointY</key>
		    <real>722.8155348738187</real>
		    <key>srcPointX</key>
		    <real>1106.00328672892</real>
		    <key>srcPointY</key>
		    <real>584.7582799087654</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1151</real>
	    <key>y</key>
	    <real>585</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Spacing</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>398.4215563407968</real>
		    <key>controlPoint1Y</key>
		    <real>620.0709011888214</real>
		    <key>controlPoint2X</key>
		    <real>279.0120374092033</real>
		    <key>controlPoint2Y</key>
		    <real>427.8392550611786</real>
		    <key>dstPointX</key>
		    <real>203.4007050287468</real>
		    <key>dstPointY</key>
		    <real>331.0646851488565</real>
		    <key>srcPointX</key>
		    <real>474.0328887212532</real>
		    <key>srcPointY</key>
		    <real>716.8454711011435</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>501.73828125</real>
	    <key>y</key>
	    <real>732.60546875</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Start_Default_Machines</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>380.2828310183085</real>
		    <key>controlPoint1Y</key>
		    <real>88.26198521685257</real>
		    <key>controlPoint2X</key>
		    <real>546.3698627137317</real>
		    <key>controlPoint2Y</key>
		    <real>131.6950460331474</real>
		    <key>dstPointX</key>
		    <real>631.8930732604683</real>
		    <key>dstPointY</key>
		    <real>148.992272578009</real>
		    <key>srcPointX</key>
		    <real>294.7596204715718</real>
		    <key>srcPointY</key>
		    <real>70.96475867199099</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>135</real>
	    <key>x</key>
	    <real>251</real>
	    <key>y</key>
	    <real>67</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>