<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Button_Off</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>232.3791949326259</real>
		    <key>controlPoint1Y</key>
		    <real>227.7757814337317</real>
		    <key>controlPoint2X</key>
		    <real>332.3768445150874</real>
		    <key>controlPoint2Y</key>
		    <real>143.4418651628608</real>
		    <key>dstPointX</key>
		    <real>385.901486754797</real>
		    <key>dstPointY</key>
		    <real>107.5549414245046</real>
		    <key>srcPointX</key>
		    <real>174.5622126826605</real>
		    <key>srcPointY</key>
		    <real>256.2354930590922</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>135.0382488841287</real>
		    <key>controlPoint1Y</key>
		    <real>213.3939020302044</real>
		    <key>controlPoint2X</key>
		    <real>119.1382353367934</real>
		    <key>controlPoint2Y</key>
		    <real>150.2510496482076</real>
		    <key>dstPointX</key>
		    <real>127.5392788802182</real>
		    <key>dstPointY</key>
		    <real>119.7805980661034</real>
		    <key>srcPointX</key>
		    <real>134.8161732247957</real>
		    <key>srcPointY</key>
		    <real>245.0004936629226</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>134.54296875</real>
	    <key>y</key>
	    <real>265</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Button_On</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>423.809943791854</real>
		    <key>controlPoint1Y</key>
		    <real>150.0666390517684</real>
		    <key>controlPoint2X</key>
		    <real>426.5972603357921</real>
		    <key>controlPoint2Y</key>
		    <real>216.9426890905202</real>
		    <key>dstPointX</key>
		    <real>428.0520539648591</real>
		    <key>dstPointY</key>
		    <real>250.5187470270451</real>
		    <key>srcPointX</key>
		    <real>423.4632859221404</real>
		    <key>srcPointY</key>
		    <real>116.4608669377191</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>312.2161516427072</real>
		    <key>controlPoint1Y</key>
		    <real>111.7745380259481</real>
		    <key>controlPoint2X</key>
		    <real>175.8123300624616</real>
		    <key>controlPoint2Y</key>
		    <real>183.5944251527504</real>
		    <key>dstPointX</key>
		    <real>151.0176249530535</real>
		    <key>dstPointY</key>
		    <real>246.4035886313229</real>
		    <key>srcPointX</key>
		    <real>378.7058351453533</real>
		    <key>srcPointY</key>
		    <real>99.98936063829294</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>423</real>
	    <key>y</key>
	    <real>96.5390625</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>101.7095449870823</real>
		    <key>controlPoint1Y</key>
		    <real>64.15907835240343</real>
		    <key>controlPoint2X</key>
		    <real>95.98488923713114</real>
		    <key>controlPoint2Y</key>
		    <real>70.80639257633602</real>
		    <key>dstPointX</key>
		    <real>109.3800871414053</real>
		    <key>dstPointY</key>
		    <real>85.65794714497724</real>
		    <key>srcPointX</key>
		    <real>88.27616285859466</real>
		    <key>srcPointY</key>
		    <real>49.34205285502277</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>57.88671875</real>
	    <key>y</key>
	    <real>34.5</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Long_Press</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>329.2348593799111</real>
		    <key>controlPoint1Y</key>
		    <real>263.957704748375</real>
		    <key>controlPoint2X</key>
		    <real>234.9835401730556</real>
		    <key>controlPoint2Y</key>
		    <real>268.4956066920858</real>
		    <key>dstPointX</key>
		    <real>179.0662302972506</real>
		    <key>dstPointY</key>
		    <real>265.9143435294978</real>
		    <key>srcPointX</key>
		    <real>385.0041992371991</real>
		    <key>srcPointY</key>
		    <real>268.773220831168</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>431</real>
	    <key>y</key>
	    <real>271.5</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Zero</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>232.9202317759357</real>
		    <key>controlPoint1Y</key>
		    <real>100.8355061233835</real>
		    <key>controlPoint2X</key>
		    <real>329.6232942782951</real>
		    <key>controlPoint2Y</key>
		    <real>96.03071956269956</real>
		    <key>dstPointX</key>
		    <real>378.0005424188264</real>
		    <key>dstPointY</key>
		    <real>96.36273901100672</real>
		    <key>srcPointX</key>
		    <real>184.5424263311736</real>
		    <key>srcPointY</key>
		    <real>100.5981984889933</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>139.45703125</real>
	    <key>y</key>
	    <real>100.5</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>