<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Ping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>158.59666237894754</real>
					<key>controlPoint1Y</key>
					<real>44.07297352701039</real>
					<key>controlPoint2X</key>
					<real>240.63171992987267</real>
					<key>controlPoint2Y</key>
					<real>29.422667365934515</real>
					<key>dstPointX</key>
					<real>261.09454539978589</real>
					<key>dstPointY</key>
					<real>55.309879786718106</real>
					<key>srcPointX</key>
					<real>129.15289564827063</real>
					<key>srcPointY</key>
					<real>58.970610716859824</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>89</real>
			<key>y</key>
			<real>68</real>
		</dict>
		<key>Pong</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>335.00438762329713</real>
					<key>controlPoint1Y</key>
					<real>134.7716958196871</real>
					<key>controlPoint2X</key>
					<real>154.68435347317529</real>
					<key>controlPoint2Y</key>
					<real>116.25911971319371</real>
					<key>dstPointX</key>
					<real>120.74926852130508</real>
					<key>dstPointY</key>
					<real>82.173415897199092</real>
					<key>srcPointX</key>
					<real>313.10454269545346</real>
					<key>srcPointY</key>
					<real>91.948548020176162</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>289</real>
			<key>y</key>
			<real>71.1953125</real>
		</dict>
	</dict>
</dict>
</plist>
