<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Done_Suspending</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>34.5</real>
			<key>onEntryHeight</key>
			<real>34.5</real>
			<key>onExitHeight</key>
			<real>34.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>654.29296875</real>
			<key>y</key>
			<real>243.72265625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Error</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>34.5</real>
			<key>onEntryHeight</key>
			<real>34.5</real>
			<key>onExitHeight</key>
			<real>34.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>567.77734375</real>
			<key>y</key>
			<real>487.48046875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>417.30187488610784</real>
					<key>controlPoint1Y</key>
					<real>126.44921875</real>
					<key>controlPoint2X</key>
					<real>554.12109375</real>
					<key>controlPoint2Y</key>
					<real>125.82312511389216</real>
					<key>dstPointX</key>
					<real>554.12109375</real>
					<key>dstPointY</key>
					<real>173.27734375</real>
					<key>srcPointX</key>
					<real>369.84765625</real>
					<key>srcPointY</key>
					<real>126.44921875</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>403.17967825766277</real>
					<key>controlPoint1Y</key>
					<real>264.38577200235733</real>
					<key>controlPoint2X</key>
					<real>531.08203125</real>
					<key>controlPoint2Y</key>
					<real>351.12551033201646</real>
					<key>dstPointX</key>
					<real>531.08203125</real>
					<key>dstPointY</key>
					<real>417.51953125</real>
					<key>srcPointX</key>
					<real>362.19388610270994</real>
					<key>srcPointY</key>
					<real>212.15234539555081</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>34.5</real>
			<key>onEntryHeight</key>
			<real>34</real>
			<key>onExitHeight</key>
			<real>35</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>226.15234375</real>
			<key>y</key>
			<real>147.58203125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>31.84765625</real>
					<key>controlPoint1Y</key>
					<real>53.55859375</real>
					<key>controlPoint2X</key>
					<real>52.12109375</real>
					<key>controlPoint2Y</key>
					<real>66.9609375</real>
					<key>dstPointX</key>
					<real>83.966521912795585</real>
					<key>dstPointY</key>
					<real>86.692890499038</real>
					<key>srcPointX</key>
					<real>31.84765625</real>
					<key>srcPointY</key>
					<real>53.55859375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>31.65234375</real>
			<key>y</key>
			<real>53.44140625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>36</real>
			<key>onEntryHeight</key>
			<real>33.5</real>
			<key>onExitHeight</key>
			<real>34</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>210.01953125</real>
			<key>y</key>
			<real>491.109375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
