<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Bottom_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>362.06799671644944</real>
					<key>controlPoint1Y</key>
					<real>50.838216363529085</real>
					<key>controlPoint2X</key>
					<real>479.74063003018728</real>
					<key>controlPoint2Y</key>
					<real>78.04539336412499</real>
					<key>dstPointX</key>
					<real>539.33488648957155</real>
					<key>dstPointY</key>
					<real>86.962994067847006</real>
					<key>srcPointX</key>
					<real>302.26667601042851</real>
					<key>srcPointY</key>
					<real>43.435443432152994</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>258</real>
			<key>y</key>
			<real>41</real>
		</dict>
		<key>Do_Bottom_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>498.44450533639576</real>
					<key>controlPoint1Y</key>
					<real>141.31297289422224</real>
					<key>controlPoint2X</key>
					<real>377.77129343535006</real>
					<key>controlPoint2Y</key>
					<real>193.12864248080501</real>
					<key>dstPointX</key>
					<real>315.23271392522071</real>
					<key>dstPointY</key>
					<real>207.56464084570911</real>
					<key>srcPointX</key>
					<real>549.32601014970805</real>
					<key>srcPointY</key>
					<real>102.19079959225489</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>585</real>
			<key>y</key>
			<real>90</real>
		</dict>
		<key>Do_High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>470.39695924529639</real>
					<key>controlPoint1Y</key>
					<real>465.84134652680751</real>
					<key>controlPoint2X</key>
					<real>353.60304075470373</real>
					<key>controlPoint2Y</key>
					<real>505.15865347319271</real>
					<key>dstPointX</key>
					<real>293.78062537880345</real>
					<key>dstPointY</key>
					<real>519.37570897919363</real>
					<key>srcPointX</key>
					<real>530.21937462119661</real>
					<key>srcPointY</key>
					<real>451.62429102080642</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>573.9609375</real>
			<key>y</key>
			<real>447</real>
		</dict>
		<key>Do_Mid_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>499.82848442515171</real>
					<key>controlPoint1Y</key>
					<real>300.91815633988023</real>
					<key>controlPoint2X</key>
					<real>371.86324507750982</real>
					<key>controlPoint2Y</key>
					<real>327.52044670787143</real>
					<key>dstPointX</key>
					<real>307.11042601042851</real>
					<key>dstPointY</key>
					<real>335.56455656784698</real>
					<key>srcPointX</key>
					<real>564.33488648957155</real>
					<key>srcPointY</key>
					<real>291.09169343215302</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>610</real>
			<key>y</key>
			<real>288</real>
		</dict>
		<key>High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>369.21271576660718</real>
					<key>controlPoint1Y</key>
					<real>356.75912988959351</real>
					<key>controlPoint2X</key>
					<real>483.97335668426427</real>
					<key>controlPoint2Y</key>
					<real>495.88104399180781</real>
					<key>dstPointX</key>
					<real>536.66840258688626</real>
					<key>dstPointY</key>
					<real>458.70532845770174</real>
					<key>srcPointX</key>
					<real>306.34292800293258</real>
					<key>srcPointY</key>
					<real>342.39976100712767</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>263.0390625</real>
			<key>y</key>
			<real>338</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>100.6842335703636</real>
					<key>controlPoint1Y</key>
					<real>78.997079527051369</real>
					<key>controlPoint2X</key>
					<real>78.730614056339576</real>
					<key>controlPoint2Y</key>
					<real>99.086206197948101</real>
					<key>dstPointX</key>
					<real>87.542279411764696</real>
					<key>dstPointY</key>
					<real>117.04044117647059</real>
					<key>srcPointX</key>
					<real>88.20772058823529</real>
					<key>srcPointY</key>
					<real>63.36580882352942</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>65.95703125</real>
			<key>y</key>
			<real>51.26171875</real>
		</dict>
		<key>Mid_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>379.82511147127872</real>
					<key>controlPoint1Y</key>
					<real>220.08118492218298</real>
					<key>controlPoint2X</key>
					<real>499.16682915050222</real>
					<key>controlPoint2Y</key>
					<real>279.90119781084724</real>
					<key>dstPointX</key>
					<real>563.39118638596301</real>
					<key>dstPointY</key>
					<real>286.02486307946691</real>
					<key>srcPointX</key>
					<real>315.60881361403699</real>
					<key>srcPointY</key>
					<real>213.87357442053309</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>272</real>
			<key>y</key>
			<real>212.0390625</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>117.6953125</real>
			<key>y</key>
			<real>422.9140625</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>173.49257090188561</real>
					<key>controlPoint1Y</key>
					<real>114.68065205866807</real>
					<key>controlPoint2X</key>
					<real>189.1866616462828</real>
					<key>controlPoint2Y</key>
					<real>53.155503504396478</real>
					<key>dstPointX</key>
					<real>214.22031694836642</real>
					<key>dstPointY</key>
					<real>46.316037406418758</real>
					<key>srcPointX</key>
					<real>152.09999555163361</real>
					<key>srcPointY</key>
					<real>129.37146259358124</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>114.26171875</real>
			<key>y</key>
			<real>141.3046875</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>188.80697108635351</real>
					<key>controlPoint1Y</key>
					<real>550.52607394541985</real>
					<key>controlPoint2X</key>
					<real>156.19302891364651</real>
					<key>controlPoint2Y</key>
					<real>599.47392605458015</real>
					<key>dstPointX</key>
					<real>132.59083801738586</real>
					<key>dstPointY</key>
					<real>615.00569038631295</real>
					<key>srcPointX</key>
					<real>212.40916198261414</real>
					<key>srcPointY</key>
					<real>534.99430961368705</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>250</real>
			<key>y</key>
			<real>524</real>
		</dict>
		<key>SuspendSelf</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>94.95703125</real>
			<key>y</key>
			<real>626</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
