<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Bottom_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>362.06799671644944</real>
					<key>controlPoint1Y</key>
					<real>50.838216363529085</real>
					<key>controlPoint2X</key>
					<real>479.74063003018728</real>
					<key>controlPoint2Y</key>
					<real>78.04539336412499</real>
					<key>dstPointX</key>
					<real>539.33488648957155</real>
					<key>dstPointY</key>
					<real>86.962994067847006</real>
					<key>srcPointX</key>
					<real>302.26667601042851</real>
					<key>srcPointY</key>
					<real>43.435443432152994</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>258</real>
			<key>y</key>
			<real>41</real>
		</dict>
		<key>Do_Bottom_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>478.5389951347571</real>
					<key>controlPoint1Y</key>
					<real>99.743678718400886</real>
					<key>controlPoint2X</key>
					<real>363.1585196273129</real>
					<key>controlPoint2Y</key>
					<real>147.4673426985519</real>
					<key>dstPointX</key>
					<real>302.48148807588512</real>
					<key>dstPointY</key>
					<real>156.97264427635122</real>
					<key>srcPointX</key>
					<real>539.51851192411493</real>
					<key>srcPointY</key>
					<real>92.42579322364881</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>585</real>
			<key>y</key>
			<real>90</real>
		</dict>
		<key>Do_High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>496.09320100493858</real>
					<key>controlPoint1Y</key>
					<real>677.12505496500034</real>
					<key>controlPoint2X</key>
					<real>38.480020829294325</real>
					<key>controlPoint2Y</key>
					<real>294.73764317605617</real>
					<key>dstPointX</key>
					<real>98.23338201059525</real>
					<key>dstPointY</key>
					<real>157.13671240546998</real>
					<key>srcPointX</key>
					<real>559.73365972375211</real>
					<key>srcPointY</key>
					<real>541.27818405715198</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>579</real>
			<key>y</key>
			<real>523</real>
		</dict>
		<key>Do_Low_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>481.40234428909679</real>
					<key>controlPoint1Y</key>
					<real>230.8277138385763</real>
					<key>controlPoint2X</key>
					<real>365.49372751619364</real>
					<key>controlPoint2Y</key>
					<real>283.07796363666739</real>
					<key>dstPointX</key>
					<real>304.23271392522071</real>
					<key>dstPointY</key>
					<real>296.72089084570911</real>
					<key>srcPointX</key>
					<real>543.16572357477924</real>
					<key>srcPointY</key>
					<real>219.67754665429089</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>589</real>
			<key>y</key>
			<real>216</real>
		</dict>
		<key>Do_Mid_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>487.3785958741604</real>
					<key>controlPoint1Y</key>
					<real>367.22502356625171</real>
					<key>controlPoint2X</key>
					<real>370.45522523605939</real>
					<key>controlPoint2Y</key>
					<real>402.11384882885483</real>
					<key>dstPointX</key>
					<real>310.26667601042851</real>
					<key>dstPointY</key>
					<real>409.56455656784698</real>
					<key>srcPointX</key>
					<real>547.33488648957155</real>
					<key>srcPointY</key>
					<real>358.09169343215302</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>593</real>
			<key>y</key>
			<real>355</real>
		</dict>
		<key>High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>372.98459074630421</real>
					<key>controlPoint1Y</key>
					<real>430.84765351338234</real>
					<key>controlPoint2X</key>
					<real>488.23688508632574</real>
					<key>controlPoint2Y</key>
					<real>572.13372812710065</real>
					<key>dstPointX</key>
					<real>541.51215258688626</real>
					<key>dstPointY</key>
					<real>534.70532845770174</real>
					<key>srcPointX</key>
					<real>309.49917800293258</real>
					<key>srcPointY</key>
					<real>416.39976100712767</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>266</real>
			<key>y</key>
			<real>412</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>99.019584532058815</real>
					<key>controlPoint1Y</key>
					<real>82.059326217573528</real>
					<key>controlPoint2X</key>
					<real>80.647023591183469</real>
					<key>controlPoint2Y</key>
					<real>101.61183431578164</real>
					<key>dstPointX</key>
					<real>89.636029411764696</real>
					<key>dstPointY</key>
					<real>119.47794117647059</real>
					<key>srcPointX</key>
					<real>87.86397058823529</real>
					<key>srcPointY</key>
					<real>65.45955882352942</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>65.95703125</real>
			<key>y</key>
			<real>51.26171875</real>
		</dict>
		<key>Low_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>363.35097396307651</real>
					<key>controlPoint1Y</key>
					<real>171.30759002358653</real>
					<key>controlPoint2X</key>
					<real>481.9824126284517</real>
					<key>controlPoint2Y</key>
					<real>205.16681970101115</real>
					<key>dstPointX</key>
					<real>542.82048668404366</real>
					<key>dstPointY</key>
					<real>213.26725205725938</real>
					<key>srcPointX</key>
					<real>302.57795081595634</real>
					<key>srcPointY</key>
					<real>162.73274794274062</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>259</real>
			<key>y</key>
			<real>160</real>
		</dict>
		<key>Mid_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>366.24087814293108</real>
					<key>controlPoint1Y</key>
					<real>309.48448538071551</real>
					<key>controlPoint2X</key>
					<real>485.71414646992957</real>
					<key>controlPoint2Y</key>
					<real>347.01513984118958</real>
					<key>dstPointX</key>
					<real>547.39118638596301</real>
					<key>dstPointY</key>
					<real>353.02486307946691</real>
					<key>srcPointX</key>
					<real>304.60881361403699</real>
					<key>srcPointY</key>
					<real>303.02982442053309</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>261</real>
			<key>y</key>
			<real>301</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>117.6953125</real>
			<key>y</key>
			<real>422.9140625</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>177.43795845937692</real>
					<key>controlPoint1Y</key>
					<real>119.84972710512396</real>
					<key>controlPoint2X</key>
					<real>189.00417213813114</real>
					<key>controlPoint2Y</key>
					<real>53.205361616972468</real>
					<key>dstPointX</key>
					<real>214.22031694836642</real>
					<key>dstPointY</key>
					<real>46.316037406418758</real>
					<key>srcPointX</key>
					<real>154.19374555163361</real>
					<key>srcPointY</key>
					<real>131.80896259358124</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>114.26171875</real>
			<key>y</key>
			<real>141.3046875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
