<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Bottom_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>362.06799671644944</real>
					<key>controlPoint1Y</key>
					<real>50.838216363529085</real>
					<key>controlPoint2X</key>
					<real>479.74063003018728</real>
					<key>controlPoint2Y</key>
					<real>78.04539336412499</real>
					<key>dstPointX</key>
					<real>539.33488648957155</real>
					<key>dstPointY</key>
					<real>86.962994067847006</real>
					<key>srcPointX</key>
					<real>302.26667601042851</real>
					<key>srcPointY</key>
					<real>43.435443432152994</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>258</real>
			<key>y</key>
			<real>41</real>
		</dict>
		<key>Do_Bottom_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>498.46038668890253</real>
					<key>controlPoint1Y</key>
					<real>141.30076191447</real>
					<key>controlPoint2X</key>
					<real>377.60991880253198</real>
					<key>controlPoint2Y</key>
					<real>192.33652705667879</real>
					<key>dstPointX</key>
					<real>315.23271392522071</real>
					<key>dstPointY</key>
					<real>207.36932834570911</real>
					<key>srcPointX</key>
					<real>549.32601014970805</real>
					<key>srcPointY</key>
					<real>102.19079959225489</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>585</real>
			<key>y</key>
			<real>90</real>
		</dict>
		<key>Do_High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>470.57010409121494</real>
					<key>controlPoint1Y</key>
					<real>465.91034718880235</real>
					<key>controlPoint2X</key>
					<real>353.63957536918502</real>
					<key>controlPoint2Y</key>
					<real>505.14997086419567</real>
					<key>dstPointX</key>
					<real>293.78062537880345</real>
					<key>dstPointY</key>
					<real>519.37570897919363</real>
					<key>srcPointX</key>
					<real>530.41468712119661</real>
					<key>srcPointY</key>
					<real>451.62429102080642</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>573.9609375</real>
			<key>y</key>
			<real>447</real>
		</dict>
		<key>Do_Mid_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>499.78091854785481</real>
					<key>controlPoint1Y</key>
					<real>300.92540219942242</real>
					<key>controlPoint2X</key>
					<real>371.7112907809136</real>
					<key>controlPoint2Y</key>
					<real>327.47926026705886</real>
					<key>dstPointX</key>
					<real>306.91511351042851</real>
					<key>dstPointY</key>
					<real>335.56455656784698</real>
					<key>srcPointX</key>
					<real>564.33488648957155</real>
					<key>srcPointY</key>
					<real>291.09169343215302</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>610</real>
			<key>y</key>
			<real>288</real>
		</dict>
		<key>High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>369.08824031141489</real>
					<key>controlPoint1Y</key>
					<real>356.84038149170647</real>
					<key>controlPoint2X</key>
					<real>484.18965432178715</real>
					<key>controlPoint2Y</key>
					<real>496.0616812477752</real>
					<key>dstPointX</key>
					<real>536.86371508688626</real>
					<key>dstPointY</key>
					<real>458.70532845770174</real>
					<key>srcPointX</key>
					<real>306.14761550293258</real>
					<key>srcPointY</key>
					<real>342.39976100712767</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>263.0390625</real>
			<key>y</key>
			<real>338</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>101.81231538144353</real>
					<key>controlPoint1Y</key>
					<real>76.913680568421</real>
					<key>controlPoint2X</key>
					<real>77.516685524765251</real>
					<key>controlPoint2Y</key>
					<real>97.516617330295915</real>
					<key>dstPointX</key>
					<real>86.233685661764696</real>
					<key>dstPointY</key>
					<real>115.51700367647059</real>
					<key>srcPointX</key>
					<real>88.42256433823529</real>
					<key>srcPointY</key>
					<real>62.05721507352942</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>65.95703125</real>
			<key>y</key>
			<real>51.26171875</real>
		</dict>
		<key>Mid_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>379.89754828758862</real>
					<key>controlPoint1Y</key>
					<real>219.24502662600727</real>
					<key>controlPoint2X</key>
					<real>499.1532294134883</real>
					<key>controlPoint2Y</key>
					<real>279.89990110285669</real>
					<key>dstPointX</key>
					<real>563.39118638596301</real>
					<key>dstPointY</key>
					<real>286.02486307946691</real>
					<key>srcPointX</key>
					<real>315.60881361403699</real>
					<key>srcPointY</key>
					<real>213.67826192053309</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>272</real>
			<key>y</key>
			<real>212.0390625</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>117.6953125</real>
			<key>y</key>
			<real>422.9140625</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>170.9303951285614</real>
					<key>controlPoint1Y</key>
					<real>111.64989389203542</real>
					<key>controlPoint2X</key>
					<real>189.28916187853247</real>
					<key>controlPoint2Y</key>
					<real>53.127499329414967</real>
					<key>dstPointX</key>
					<real>214.22031694836642</real>
					<key>dstPointY</key>
					<real>46.316037406418758</real>
					<key>srcPointX</key>
					<real>150.79140180163361</real>
					<key>srcPointY</key>
					<real>127.84802509358124</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>114.26171875</real>
			<key>y</key>
			<real>141.3046875</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>188.8323076275438</real>
					<key>controlPoint1Y</key>
					<real>550.50940086670107</real>
					<key>controlPoint2X</key>
					<real>156.42301318244623</real>
					<key>controlPoint2Y</key>
					<real>599.55228381362633</real>
					<key>dstPointX</key>
					<real>132.80568176738586</real>
					<key>dstPointY</key>
					<real>615.00569038631295</real>
					<key>srcPointX</key>
					<real>212.40916198261414</real>
					<key>srcPointY</key>
					<real>534.99430961368705</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>250</real>
			<key>y</key>
			<real>524</real>
		</dict>
		<key>SuspendSelf</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>94.95703125</real>
			<key>y</key>
			<real>626</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
