<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Asses</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>869.10175907416431</real>
					<key>controlPoint1Y</key>
					<real>266.02470365020338</real>
					<key>controlPoint2X</key>
					<real>377.16412668244402</real>
					<key>controlPoint2Y</key>
					<real>359.17044326806649</real>
					<key>dstPointX</key>
					<real>363.89037695295656</real>
					<key>dstPointY</key>
					<real>532.1319348893428</real>
					<key>srcPointX</key>
					<real>1028.7701170094581</real>
					<key>srcPointY</key>
					<real>333.83241331499596</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>876.41527586673828</real>
					<key>controlPoint1Y</key>
					<real>400.01514799246667</real>
					<key>controlPoint2X</key>
					<real>579.36379107570895</real>
					<key>controlPoint2Y</key>
					<real>509.95167552584735</real>
					<key>dstPointX</key>
					<real>427.10235232970683</real>
					<key>dstPointY</key>
					<real>553.02805260183925</real>
					<key>srcPointX</key>
					<real>1026.7188113615714</real>
					<key>srcPointY</key>
					<real>350.5382118631037</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>844.59081624565613</real>
					<key>controlPoint1Y</key>
					<real>400.25887206630046</real>
					<key>controlPoint2X</key>
					<real>144.15565261436313</real>
					<key>controlPoint2Y</key>
					<real>436.02166576346832</real>
					<key>dstPointX</key>
					<real>297.74612598063987</real>
					<key>dstPointY</key>
					<real>545.50103592760763</real>
					<key>srcPointX</key>
					<real>1026.2439063083405</real>
					<key>srcPointY</key>
					<real>349.48564219964823</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>848.07582552454232</real>
					<key>controlPoint1Y</key>
					<real>396.87803497555814</real>
					<key>controlPoint2X</key>
					<real>204.35488926562556</real>
					<key>controlPoint2Y</key>
					<real>391.79530906790376</real>
					<key>dstPointX</key>
					<real>313.8923504638924</real>
					<key>dstPointY</key>
					<real>540.09545725580051</real>
					<key>srcPointX</key>
					<real>1026.1773260196878</real>
					<key>srcPointY</key>
					<real>349.22045551864875</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>958.20892133982682</real>
					<key>controlPoint1Y</key>
					<real>379.26271815987707</real>
					<key>controlPoint2X</key>
					<real>861.0289308869427</real>
					<key>controlPoint2Y</key>
					<real>533.32488490226513</real>
					<key>dstPointX</key>
					<real>785.48188136184615</real>
					<key>dstPointY</key>
					<real>531.10659845289558</real>
					<key>srcPointX</key>
					<real>1028.5298841527351</real>
					<key>srcPointY</key>
					<real>351.56362655411453</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>58</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>85</real>
			<key>x</key>
			<real>1062.5</real>
			<key>y</key>
			<real>342.94921875</real>
		</dict>
		<key>Continue</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1197.1626502557406</real>
					<key>controlPoint1Y</key>
					<real>414.92416069274321</real>
					<key>controlPoint2X</key>
					<real>1064.5219033263727</real>
					<key>controlPoint2Y</key>
					<real>407.63542692954627</real>
					<key>dstPointX</key>
					<real>1063.5139636666722</real>
					<key>dstPointY</key>
					<real>368.31528815910895</real>
					<key>srcPointX</key>
					<real>1195.4212097920549</real>
					<key>srcPointY</key>
					<real>454.21864682496641</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1193</real>
			<key>y</key>
			<real>478.30078125</real>
		</dict>
		<key>GoToLine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1105.5714409116681</real>
					<key>controlPoint1Y</key>
					<real>627.14479867643104</real>
					<key>controlPoint2X</key>
					<real>1048.8551204324315</real>
					<key>controlPoint2Y</key>
					<real>647.91785265675446</real>
					<key>dstPointX</key>
					<real>1048.7455432902468</real>
					<key>dstPointY</key>
					<real>627.91815283775941</real>
					<key>srcPointX</key>
					<real>1088.0109975542318</real>
					<key>srcPointY</key>
					<real>617.57239933821552</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1048.69921875</real>
			<key>y</key>
			<real>608</real>
		</dict>
		<key>HeadAlignedWithGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>209.15803059655559</real>
					<key>controlPoint1Y</key>
					<real>551.93143994945615</real>
					<key>controlPoint2X</key>
					<real>164.37292349027078</real>
					<key>controlPoint2Y</key>
					<real>295.28091563713156</real>
					<key>dstPointX</key>
					<real>228.96011682313269</real>
					<key>dstPointY</key>
					<real>251.63090607337449</real>
					<key>srcPointX</key>
					<real>286.89384342001551</real>
					<key>srcPointY</key>
					<real>557.76001457869199</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>574.4032396195314</real>
					<key>controlPoint1Y</key>
					<real>584.85674744372704</real>
					<key>controlPoint2X</key>
					<real>869.59155665067829</real>
					<key>controlPoint2Y</key>
					<real>635.60563607494282</real>
					<key>dstPointX</key>
					<real>1014.2191886796032</real>
					<key>dstPointY</key>
					<real>610.63097598612444</real>
					<key>srcPointX</key>
					<real>429.26495044561614</real>
					<key>srcPointY</key>
					<real>563.04476430337331</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>57</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>153</real>
			<key>x</key>
			<real>357.5</real>
			<key>y</key>
			<real>559.65625</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>147.60910225635678</real>
					<key>controlPoint1Y</key>
					<real>102.39856591093371</real>
					<key>controlPoint2X</key>
					<real>186.39696309654073</real>
					<key>controlPoint2Y</key>
					<real>183.84654902525494</real>
					<key>dstPointX</key>
					<real>209.25033329550212</real>
					<key>dstPointY</key>
					<real>219.63473426552275</real>
					<key>srcPointX</key>
					<real>110.90131741922448</real>
					<key>srcPointY</key>
					<real>81.053560298535771</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>72</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>Restart_GoalTrackerMachine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>988.24795863133727</real>
					<key>controlPoint1Y</key>
					<real>180.81612408330489</real>
					<key>controlPoint2X</key>
					<real>1011.6901234526058</real>
					<key>controlPoint2Y</key>
					<real>282.94005773207476</real>
					<key>dstPointX</key>
					<real>1041.0891820349784</real>
					<key>dstPointY</key>
					<real>323.90582487271217</real>
					<key>srcPointX</key>
					<real>959.45857525171698</real>
					<key>srcPointY</key>
					<real>139.41962510607317</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>185</real>
			<key>x</key>
			<real>909.5</real>
			<key>y</key>
			<real>123</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>526</real>
		</dict>
		<key>SlowSpinToYaw</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>875.00295530789663</real>
					<key>controlPoint1Y</key>
					<real>549.6285718152667</real>
					<key>controlPoint2X</key>
					<real>1064.0491297947938</real>
					<key>controlPoint2Y</key>
					<real>430.87568286728151</real>
					<key>dstPointX</key>
					<real>1148.1819356519504</real>
					<key>dstPointY</key>
					<real>469.38305921240936</real>
					<key>srcPointX</key>
					<real>783.81806434804957</real>
					<key>srcPointY</key>
					<real>533.92944078759069</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>739</real>
			<key>y</key>
			<real>530.6953125</real>
		</dict>
		<key>StartSearchGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>315.67987088722134</real>
					<key>controlPoint1Y</key>
					<real>168.20927517184174</real>
					<key>controlPoint2X</key>
					<real>403.57583115455611</real>
					<key>controlPoint2Y</key>
					<real>96.029863524097181</real>
					<key>dstPointX</key>
					<real>452.02353325023637</real>
					<key>dstPointY</key>
					<real>91.038773533993123</real>
					<key>srcPointX</key>
					<real>301.48431843945212</real>
					<key>srcPointY</key>
					<real>214.79872793041932</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>362.31078402908878</real>
					<key>controlPoint1Y</key>
					<real>208.45079404934506</real>
					<key>controlPoint2X</key>
					<real>432.68544511319317</real>
					<key>controlPoint2Y</key>
					<real>234.68381296453589</real>
					<key>dstPointX</key>
					<real>464.1154341764701</real>
					<key>dstPointY</key>
					<real>232.43161832510702</real>
					<key>srcPointX</key>
					<real>338.13269907216215</real>
					<key>srcPointY</key>
					<real>228.65813927397107</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>158</real>
			<key>x</key>
			<real>268</real>
			<key>y</key>
			<real>244.3984375</real>
		</dict>
		<key>StopHeaadScanLittleSping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>717.50298645189071</real>
					<key>controlPoint1Y</key>
					<real>211.25930832052791</real>
					<key>controlPoint2X</key>
					<real>783.52170856569546</real>
					<key>controlPoint2Y</key>
					<real>142.74069167947209</real>
					<key>dstPointX</key>
					<real>826.16288712005917</real>
					<key>dstPointY</key>
					<real>129.09551454207568</real>
					<key>srcPointX</key>
					<real>674.861807897527</real>
					<key>srcPointY</key>
					<real>224.90448545792432</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>459.04848067161845</real>
					<key>controlPoint1Y</key>
					<real>276.11629970407961</real>
					<key>controlPoint2X</key>
					<real>369.74496863600956</real>
					<key>controlPoint2Y</key>
					<real>248.68568968456051</real>
					<key>dstPointX</key>
					<real>331.31582603762917</real>
					<key>dstPointY</key>
					<real>245.7896140540858</real>
					<key>srcPointX</key>
					<real>485.45029972215752</real>
					<key>srcPointY</key>
					<real>248.04264291115936</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>226</real>
			<key>x</key>
			<real>572</real>
			<key>y</key>
			<real>231</real>
		</dict>
		<key>StopSearchGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>690.21882019854252</real>
					<key>controlPoint1Y</key>
					<real>95.08046943331972</real>
					<key>controlPoint2X</key>
					<real>777.73712067933991</real>
					<key>controlPoint2Y</key>
					<real>116.91953056668034</real>
					<key>dstPointX</key>
					<real>822.38551731852874</real>
					<key>dstPointY</key>
					<real>121.12464271552354</real>
					<key>srcPointX</key>
					<real>645.57042355935369</real>
					<key>srcPointY</key>
					<real>90.875357284476465</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>205</real>
			<key>x</key>
			<real>548.5</real>
			<key>y</key>
			<real>89</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
