<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Asses</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>871.22410101169532</real>
					<key>controlPoint1Y</key>
					<real>259.76238166085852</real>
					<key>controlPoint2X</key>
					<real>378.60266086612648</real>
					<key>controlPoint2Y</key>
					<real>361.68843282840169</real>
					<key>dstPointX</key>
					<real>363.89037695295656</real>
					<key>dstPointY</key>
					<real>534.7881848893428</real>
					<key>srcPointX</key>
					<real>1028.7701170094581</real>
					<key>srcPointY</key>
					<real>332.96913206499596</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>963.40019914343009</real>
					<key>controlPoint1Y</key>
					<real>373.76846394729478</real>
					<key>controlPoint2X</key>
					<real>838.49103032501046</real>
					<key>controlPoint2Y</key>
					<real>443.54576516431769</real>
					<key>dstPointX</key>
					<real>769.48188136184615</real>
					<key>dstPointY</key>
					<real>446.97378595289558</real>
					<key>srcPointX</key>
					<real>1028.5298841527351</real>
					<key>srcPointY</key>
					<real>350.70034530411453</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>58</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>85</real>
			<key>x</key>
			<real>1062.5</real>
			<key>y</key>
			<real>342.94921875</real>
		</dict>
		<key>Continue</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1197.6116801966641</real>
					<key>controlPoint1Y</key>
					<real>418.29605773445144</real>
					<key>controlPoint2X</key>
					<real>1064.5776982939933</real>
					<key>controlPoint2Y</key>
					<real>407.53364289316818</real>
					<key>dstPointX</key>
					<real>1063.5139636666722</real>
					<key>dstPointY</key>
					<real>367.45200690910895</real>
					<key>srcPointX</key>
					<real>1195.4212097920549</real>
					<key>srcPointY</key>
					<real>458.33192807496641</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1193</real>
			<key>y</key>
			<real>478.30078125</real>
		</dict>
		<key>GoToLine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1240.4404102682956</real>
					<key>controlPoint1Y</key>
					<real>698.47333751274527</real>
					<key>controlPoint2X</key>
					<real>524.56534184602037</real>
					<key>controlPoint2Y</key>
					<real>699.57086827557589</real>
					<key>dstPointX</key>
					<real>406.05748196487002</real>
					<key>dstPointY</key>
					<real>576.12451849213403</real>
					<key>srcPointX</key>
					<real>1089.5983934003971</real>
					<key>srcPointY</key>
					<real>617.66615914540671</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1048.69921875</real>
			<key>y</key>
			<real>608</real>
		</dict>
		<key>HeadAlignedWithGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>570.04714200317835</real>
					<key>controlPoint1Y</key>
					<real>602.71247666901763</real>
					<key>controlPoint2X</key>
					<real>866.19713877882691</real>
					<key>controlPoint2Y</key>
					<real>632.53394636940811</real>
					<key>dstPointX</key>
					<real>1010.1059074296032</real>
					<key>dstPointY</key>
					<real>610.63097598612444</real>
					<key>srcPointX</key>
					<real>429.26495044561614</real>
					<key>srcPointY</key>
					<real>565.70101430337331</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>209.88819509108049</real>
					<key>controlPoint1Y</key>
					<real>563.45672313096634</real>
					<key>controlPoint2X</key>
					<real>181.29330830015272</real>
					<key>controlPoint2Y</key>
					<real>317.96001736205653</real>
					<key>dstPointX</key>
					<real>228.96011682313269</real>
					<key>dstPointY</key>
					<real>257.40434357337449</real>
					<key>srcPointX</key>
					<real>286.89384342001551</real>
					<key>srcPointY</key>
					<real>560.41626457869199</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>57</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>153</real>
			<key>x</key>
			<real>357.5</real>
			<key>y</key>
			<real>559.65625</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>148.72264417719836</real>
					<key>controlPoint1Y</key>
					<real>103.04607320824032</real>
					<key>controlPoint2X</key>
					<real>180.83718437032798</real>
					<key>controlPoint2Y</key>
					<real>192.13932222165022</real>
					<key>dstPointX</key>
					<real>209.25033329550212</real>
					<key>dstPointY</key>
					<real>225.40817176552275</real>
					<key>srcPointX</key>
					<real>110.90131741922448</real>
					<key>srcPointY</key>
					<real>81.053560298535771</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>72</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>Restart_GoalTrackerMachine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>916.30460585840774</real>
					<key>controlPoint1Y</key>
					<real>205.23639412908554</real>
					<key>controlPoint2X</key>
					<real>1108.9789294840411</real>
					<key>controlPoint2Y</key>
					<real>270.75950611009051</real>
					<key>dstPointX</key>
					<real>1079.1028416348095</real>
					<key>dstPointY</key>
					<real>324.04745051750001</real>
					<key>srcPointX</key>
					<real>913.60438466272126</real>
					<key>srcPointY</key>
					<real>144.20448075717377</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>185</real>
			<key>x</key>
			<real>909.5</real>
			<key>y</key>
			<real>123</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>526</real>
		</dict>
		<key>SlowSpinToYaw</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>862.71292559147992</real>
					<key>controlPoint1Y</key>
					<real>458.35577263503717</real>
					<key>controlPoint2X</key>
					<real>1055.2476457163373</real>
					<key>controlPoint2Y</key>
					<real>452.48416788236148</real>
					<key>dstPointX</key>
					<real>1148.1819356519504</real>
					<key>dstPointY</key>
					<real>473.49634046240936</real>
					<key>srcPointX</key>
					<real>767.81806434804957</real>
					<key>srcPointY</key>
					<real>449.79662828759064</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>723</real>
			<key>y</key>
			<real>448</real>
		</dict>
		<key>StartSearchGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>319.39816797914284</real>
					<key>controlPoint1Y</key>
					<real>174.19744211530224</real>
					<key>controlPoint2X</key>
					<real>402.57087100366613</real>
					<key>controlPoint2Y</key>
					<real>96.133394678983635</real>
					<key>dstPointX</key>
					<real>452.02353325023637</real>
					<key>dstPointY</key>
					<real>91.038773533993123</real>
					<key>srcPointX</key>
					<real>301.48431843945212</real>
					<key>srcPointY</key>
					<real>220.57216543041932</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>366.25417029825496</real>
					<key>controlPoint1Y</key>
					<real>220.23578614617779</real>
					<key>controlPoint2X</key>
					<real>432.6946099905789</real>
					<key>controlPoint2Y</key>
					<real>234.68315623227684</real>
					<key>dstPointX</key>
					<real>464.1154341764701</real>
					<key>dstPointY</key>
					<real>232.43161832510702</real>
					<key>srcPointX</key>
					<real>338.13269907216215</real>
					<key>srcPointY</key>
					<real>234.43157677397107</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>158</real>
			<key>x</key>
			<real>268</real>
			<key>y</key>
			<real>244.3984375</real>
		</dict>
		<key>StopHeaadScanLittleSping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>467.00848597042454</real>
					<key>controlPoint1Y</key>
					<real>140.27945990220161</real>
					<key>controlPoint2X</key>
					<real>748.26794295059346</real>
					<key>controlPoint2Y</key>
					<real>154.51464497131548</real>
					<key>dstPointX</key>
					<real>826.2791938997691</real>
					<key>dstPointY</key>
					<real>129.1779750760775</real>
					<key>srcPointX</key>
					<real>508.55568115497874</real>
					<key>srcPointY</key>
					<real>211.00097493357001</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>459.04302973429265</real>
					<key>controlPoint1Y</key>
					<real>276.1220958101506</real>
					<key>controlPoint2X</key>
					<real>366.57205632454088</real>
					<key>controlPoint2Y</key>
					<real>267.14502220207851</real>
					<key>dstPointX</key>
					<real>331.31582603762917</real>
					<key>dstPointY</key>
					<real>251.5630515540858</real>
					<key>srcPointX</key>
					<real>485.45029972215752</real>
					<key>srcPointY</key>
					<real>248.04264291115936</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>226</real>
			<key>x</key>
			<real>572</real>
			<key>y</key>
			<real>231</real>
		</dict>
		<key>StopSearchGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>691.24486787828755</real>
					<key>controlPoint1Y</key>
					<real>87.751848259394293</real>
					<key>controlPoint2X</key>
					<real>777.32189549588111</real>
					<key>controlPoint2Y</key>
					<real>125.2189768067697</real>
					<key>dstPointX</key>
					<real>822.05138709967787</real>
					<key>dstPointY</key>
					<real>123.68533710806103</real>
					<key>srcPointX</key>
					<real>646.49737947937422</real>
					<key>srcPointY</key>
					<real>88.613098425541779</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>205</real>
			<key>x</key>
			<real>548.5</real>
			<key>y</key>
			<real>89</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
