<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Asses</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>870.96883197232137</real>
					<key>controlPoint1Y</key>
					<real>260.48774760474691</real>
					<key>controlPoint2X</key>
					<real>378.41771456915143</real>
					<key>controlPoint2Y</key>
					<real>361.39048560704975</real>
					<key>dstPointX</key>
					<real>363.89037695295656</real>
					<key>dstPointY</key>
					<real>534.4756848893428</real>
					<key>srcPointX</key>
					<real>1028.7701170094581</real>
					<key>srcPointY</key>
					<real>333.07069456499596</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>963.50469338561322</real>
					<key>controlPoint1Y</key>
					<real>374.13678109350803</real>
					<key>controlPoint2X</key>
					<real>838.4821960548029</real>
					<key>controlPoint2Y</key>
					<real>443.54620400557826</real>
					<key>dstPointX</key>
					<real>769.48188136184615</real>
					<key>dstPointY</key>
					<real>446.97378595289558</real>
					<key>srcPointX</key>
					<real>1028.5298841527351</real>
					<key>srcPointY</key>
					<real>350.80190780411453</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>58</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>85</real>
			<key>x</key>
			<real>1062.5</real>
			<key>y</key>
			<real>342.94921875</real>
		</dict>
		<key>Continue</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1197.5415698042068</real>
					<key>controlPoint1Y</key>
					<real>417.79059022677944</real>
					<key>controlPoint2X</key>
					<real>1064.5706665109822</real>
					<key>controlPoint2Y</key>
					<real>407.53562739195422</real>
					<key>dstPointX</key>
					<real>1063.5139636666722</real>
					<key>dstPointY</key>
					<real>367.55356940910895</real>
					<key>srcPointX</key>
					<real>1195.4212097920549</real>
					<key>srcPointY</key>
					<real>457.73036557496641</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1193</real>
			<key>y</key>
			<real>478.30078125</real>
		</dict>
		<key>GoToLine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1106.2827479724181</real>
					<key>controlPoint1Y</key>
					<real>626.90429872259256</real>
					<key>controlPoint2X</key>
					<real>1043.5589941758926</real>
					<key>controlPoint2Y</key>
					<real>647.84790304318437</real>
					<key>dstPointX</key>
					<real>1045.2338245402468</real>
					<key>dstPointY</key>
					<real>627.91815283775941</real>
					<key>srcPointX</key>
					<real>1088.6572870578279</real>
					<key>srcPointY</key>
					<real>617.45214936129628</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1048.69921875</real>
			<key>y</key>
			<real>608</real>
		</dict>
		<key>HeadAlignedWithGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>570.64770604330022</real>
					<key>controlPoint1Y</key>
					<real>600.68471551116113</real>
					<key>controlPoint2X</key>
					<real>866.69612328566666</real>
					<key>controlPoint2Y</key>
					<real>632.89389218987117</real>
					<key>dstPointX</key>
					<real>1010.7074699296032</real>
					<key>dstPointY</key>
					<real>610.63097598612444</real>
					<key>srcPointX</key>
					<real>429.26495044561614</real>
					<key>srcPointY</key>
					<real>565.38851430337331</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>209.73536499959749</real>
					<key>controlPoint1Y</key>
					<real>562.11122454546967</real>
					<key>controlPoint2X</key>
					<real>179.4229074683858</real>
					<key>controlPoint2Y</key>
					<real>315.79805546872728</real>
					<key>dstPointX</key>
					<real>228.96011682313269</real>
					<key>dstPointY</key>
					<real>256.60746857337449</real>
					<key>srcPointX</key>
					<real>286.89384342001551</real>
					<key>srcPointY</key>
					<real>560.10376457869199</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>57</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>153</real>
			<key>x</key>
			<real>357.5</real>
			<key>y</key>
			<real>559.65625</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>148.58031772122197</real>
					<key>controlPoint1Y</key>
					<real>102.96331258906682</real>
					<key>controlPoint2X</key>
					<real>181.63457542507643</real>
					<key>controlPoint2Y</key>
					<real>190.89017243028772</real>
					<key>dstPointX</key>
					<real>209.25033329550212</real>
					<key>dstPointY</key>
					<real>224.61129676552275</real>
					<key>srcPointX</key>
					<real>110.90131741922448</real>
					<key>srcPointY</key>
					<real>81.053560298535771</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>72</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>Restart_GoalTrackerMachine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>916.30543166161419</real>
					<key>controlPoint1Y</key>
					<real>205.25505939615132</real>
					<key>controlPoint2X</key>
					<real>1109.1103338114096</real>
					<key>controlPoint2Y</key>
					<real>270.9135058787914</real>
					<key>dstPointX</key>
					<real>1079.1028416348095</real>
					<key>dstPointY</key>
					<real>324.14901301750001</real>
					<key>srcPointX</key>
					<real>913.60438466272126</real>
					<key>srcPointY</key>
					<real>144.20448075717377</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>185</real>
			<key>x</key>
			<real>909.5</real>
			<key>y</key>
			<real>123</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>526</real>
		</dict>
		<key>SlowSpinToYaw</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>862.70361100394155</real>
					<key>controlPoint1Y</key>
					<real>458.35493249576905</real>
					<key>controlPoint2X</key>
					<real>1055.8941171575852</real>
					<key>controlPoint2Y</key>
					<real>449.24165781604643</real>
					<key>dstPointX</key>
					<real>1148.1819356519504</real>
					<key>dstPointY</key>
					<real>472.89477796240936</real>
					<key>srcPointX</key>
					<real>767.81806434804957</real>
					<key>srcPointY</key>
					<real>449.79662828759064</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>723</real>
			<key>y</key>
			<real>448</real>
		</dict>
		<key>StartSearchGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>318.83665759126092</real>
					<key>controlPoint1Y</key>
					<real>173.32623711782196</real>
					<key>controlPoint2X</key>
					<real>402.70012538201917</real>
					<key>controlPoint2Y</key>
					<real>96.120078872328847</real>
					<key>dstPointX</key>
					<real>452.02353325023637</real>
					<key>dstPointY</key>
					<real>91.038773533993123</real>
					<key>srcPointX</key>
					<real>301.48431843945212</real>
					<key>srcPointY</key>
					<real>219.77529043041932</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>365.76870339212979</real>
					<key>controlPoint1Y</key>
					<real>218.52213527837802</real>
					<key>controlPoint2X</key>
					<real>432.69776405899148</real>
					<key>controlPoint2Y</key>
					<real>234.68293021959968</real>
					<key>dstPointX</key>
					<real>464.1154341764701</real>
					<key>dstPointY</key>
					<real>232.43161832510702</real>
					<key>srcPointX</key>
					<real>338.13269907216215</real>
					<key>srcPointY</key>
					<real>233.63470177397107</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>158</real>
			<key>x</key>
			<real>268</real>
			<key>y</key>
			<real>244.3984375</real>
		</dict>
		<key>StopHeaadScanLittleSping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>467.00848597042454</real>
					<key>controlPoint1Y</key>
					<real>140.27945990220161</real>
					<key>controlPoint2X</key>
					<real>748.26794295059346</real>
					<key>controlPoint2Y</key>
					<real>154.51464497131548</real>
					<key>dstPointX</key>
					<real>826.2791938997691</real>
					<key>dstPointY</key>
					<real>129.1779750760775</real>
					<key>srcPointX</key>
					<real>508.55568115497874</real>
					<key>srcPointY</key>
					<real>211.00097493357001</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>459.04614612713624</real>
					<key>controlPoint1Y</key>
					<real>276.11878207851134</real>
					<key>controlPoint2X</key>
					<real>367.15734400721095</real>
					<key>controlPoint2Y</key>
					<real>264.93778575170825</real>
					<key>dstPointX</key>
					<real>331.31582603762917</real>
					<key>dstPointY</key>
					<real>250.7661765540858</real>
					<key>srcPointX</key>
					<real>485.45029972215752</real>
					<key>srcPointY</key>
					<real>248.04264291115936</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>226</real>
			<key>x</key>
			<real>572</real>
			<key>y</key>
			<real>231</real>
		</dict>
		<key>StopSearchGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>691.24486787828755</real>
					<key>controlPoint1Y</key>
					<real>87.751848259394293</real>
					<key>controlPoint2X</key>
					<real>777.32189549588111</real>
					<key>controlPoint2Y</key>
					<real>125.2189768067697</real>
					<key>dstPointX</key>
					<real>822.05138709967787</real>
					<key>dstPointY</key>
					<real>123.68533710806103</real>
					<key>srcPointX</key>
					<real>646.49737947937422</real>
					<key>srcPointY</key>
					<real>88.613098425541779</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>205</real>
			<key>x</key>
			<real>548.5</real>
			<key>y</key>
			<real>89</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
