<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Extra_Time</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>766.0934460759734</real>
		    <key>controlPoint1Y</key>
		    <real>76.61418723645566</real>
		    <key>controlPoint2X</key>
		    <real>699.2886394796315</real>
		    <key>controlPoint2Y</key>
		    <real>133.1367477815198</real>
		    <key>dstPointX</key>
		    <real>660.6280458551732</real>
		    <key>dstPointY</key>
		    <real>151.7641247096679</real>
		    <key>srcPointX</key>
		    <real>805.5869093492904</real>
		    <key>srcPointY</key>
		    <real>59.82469560335468</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>847</real>
	    <key>y</key>
	    <real>52</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Initial</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>335.9999847922585</real>
		    <key>controlPoint1Y</key>
		    <real>193.3085539505211</real>
		    <key>controlPoint2X</key>
		    <real>362.0000094466613</real>
		    <key>controlPoint2Y</key>
		    <real>193.1602172934718</real>
		    <key>dstPointX</key>
		    <real>385.00013365706</real>
		    <key>dstPointY</key>
		    <real>193.1289883400293</real>
		    <key>srcPointX</key>
		    <real>312.9998605818599</real>
		    <key>srcPointY</key>
		    <real>193.3397829039636</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>149.292386355275</real>
		    <key>controlPoint1Y</key>
		    <real>343.618608978083</real>
		    <key>controlPoint2X</key>
		    <real>149.1054517832895</real>
		    <key>controlPoint2Y</key>
		    <real>388.8025433745624</real>
		    <key>dstPointX</key>
		    <real>152.5619672512281</real>
		    <key>dstPointY</key>
		    <real>421.082948586008</real>
		    <key>srcPointX</key>
		    <real>151.49381666336</real>
		    <key>srcPointY</key>
		    <real>311.2283980433907</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.95</real>
		<key>green</key>
		<real>0.8154972611224902</real>
		<key>red</key>
		<real>0.7811458140956683</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>246</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>312.5</real>
	    <key>x</key>
	    <real>161.75</real>
	    <key>y</key>
	    <real>193.5</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>InitialPseudoState</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>18</real>
		    <key>controlPoint1Y</key>
		    <real>24</real>
		    <key>controlPoint2X</key>
		    <real>45.84116733566164</real>
		    <key>controlPoint2Y</key>
		    <real>82.18682798029538</real>
		    <key>dstPointX</key>
		    <real>63.92164200068561</real>
		    <key>dstPointY</key>
		    <real>103.506065933141</real>
		    <key>srcPointX</key>
		    <real>18</real>
		    <key>srcPointY</key>
		    <real>24</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>25</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>25</real>
	    <key>x</key>
	    <real>18</real>
	    <key>y</key>
	    <real>24</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Quiet</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>802.3724816226902</real>
		    <key>controlPoint1Y</key>
		    <real>225.9072852886567</real>
		    <key>controlPoint2X</key>
		    <real>1046.801135267697</real>
		    <key>controlPoint2Y</key>
		    <real>216.3164902069867</real>
		    <key>dstPointX</key>
		    <real>1174.462739657705</real>
		    <key>dstPointY</key>
		    <real>190.1060753664292</real>
		    <key>srcPointX</key>
		    <real>673.4453241793167</real>
		    <key>srcPointY</key>
		    <real>206.8741784714105</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>794.3548582660269</real>
		    <key>controlPoint1Y</key>
		    <real>265.1469895660134</real>
		    <key>controlPoint2X</key>
		    <real>1057.473677980104</real>
		    <key>controlPoint2Y</key>
		    <real>255.1595394691593</real>
		    <key>dstPointX</key>
		    <real>1181.684516373173</real>
		    <key>dstPointY</key>
		    <real>205.9753186320679</real>
		    <key>srcPointX</key>
		    <real>667.5888279936985</real>
		    <key>srcPointY</key>
		    <real>222.9831007195625</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>512.2456208878956</real>
		    <key>controlPoint1Y</key>
		    <real>342.096352569257</real>
		    <key>controlPoint2X</key>
		    <real>511.6564218470235</real>
		    <key>controlPoint2Y</key>
		    <real>433.3433542254872</real>
		    <key>dstPointX</key>
		    <real>525.7179645235165</real>
		    <key>dstPointY</key>
		    <real>486.1938855506363</real>
		    <key>srcPointX</key>
		    <real>517.1080392965943</real>
		    <key>srcPointY</key>
		    <real>287.6237674368058</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>786.1626399612418</real>
		    <key>controlPoint1Y</key>
		    <real>358.5377214453022</real>
		    <key>controlPoint2X</key>
		    <real>1044.709194015005</real>
		    <key>controlPoint2Y</key>
		    <real>576.062709173088</real>
		    <key>dstPointX</key>
		    <real>1202.276862341666</real>
		    <key>dstPointY</key>
		    <real>657.768265465567</real>
		    <key>srcPointX</key>
		    <real>645.1767995245414</real>
		    <key>srcPointY</key>
		    <real>250.7121176801415</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>477.4180523864817</real>
		    <key>controlPoint1Y</key>
		    <real>339.5916639384802</real>
		    <key>controlPoint2X</key>
		    <real>478.0232439044786</real>
		    <key>controlPoint2Y</key>
		    <real>440.2781910333749</real>
		    <key>dstPointX</key>
		    <real>501.9518903245988</real>
		    <key>dstPointY</key>
		    <real>491.8301850916474</real>
		    <key>srcPointX</key>
		    <real>492.2246288002814</real>
		    <key>srcPointY</key>
		    <real>284.7195079230145</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.9218219739819004</real>
		<key>green</key>
		<real>0.9218219739819004</real>
		<key>red</key>
		<real>0.9218219739819004</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>200</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>300</real>
	    <key>x</key>
	    <real>530</real>
	    <key>y</key>
	    <real>193</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Retry</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>210.9924957525142</real>
		    <key>controlPoint1Y</key>
		    <real>390.2028439431007</real>
		    <key>controlPoint2X</key>
		    <real>213.191074643549</real>
		    <key>controlPoint2Y</key>
		    <real>339.6398896806664</real>
		    <key>dstPointX</key>
		    <real>203.7238180851206</real>
		    <key>dstPointY</key>
		    <real>306.8651873134152</real>
		    <key>srcPointX</key>
		    <real>202.8040292526325</real>
		    <key>srcPointY</key>
		    <real>423.3201970738284</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.95</real>
		<key>green</key>
		<real>0.95</real>
		<key>red</key>
		<real>0.95</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>200</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>300</real>
	    <key>x</key>
	    <real>168</real>
	    <key>y</key>
	    <real>515.54296875</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Start</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1119.957352381651</real>
		    <key>controlPoint1Y</key>
		    <real>508.7331426396042</real>
		    <key>controlPoint2X</key>
		    <real>990.1458674167911</real>
		    <key>controlPoint2Y</key>
		    <real>189.7302745860259</real>
		    <key>dstPointX</key>
		    <real>877.4076082832806</real>
		    <key>dstPointY</key>
		    <real>66.74308280401482</real>
		    <key>srcPointX</key>
		    <real>1232.869127380532</real>
		    <key>srcPointY</key>
		    <real>631.5610526661205</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>0.9980924880955292</real>
		<key>red</key>
		<real>0.7805750696521474</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>200</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>300</real>
	    <key>x</key>
	    <real>1331</real>
	    <key>y</key>
	    <real>701.5</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Stop</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>675.3498103558924</real>
		    <key>controlPoint1Y</key>
		    <real>383.4468303884663</real>
		    <key>controlPoint2X</key>
		    <real>876.4879126730381</real>
		    <key>controlPoint2Y</key>
		    <real>189.5867719492121</real>
		    <key>dstPointX</key>
		    <real>855.0498447189992</real>
		    <key>dstPointY</key>
		    <real>71.67739820199814</real>
		    <key>srcPointX</key>
		    <real>624.510996157388</real>
		    <key>srcPointY</key>
		    <real>491.9716024267071</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.8675147473949424</real>
		<key>green</key>
		<real>0.7826385340160249</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>200</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>300</real>
	    <key>x</key>
	    <real>563</real>
	    <key>y</key>
	    <real>578</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Whistle</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1121.697397010463</real>
		    <key>controlPoint1Y</key>
		    <real>89.46003602429509</real>
		    <key>controlPoint2X</key>
		    <real>968.2987777005906</real>
		    <key>controlPoint2Y</key>
		    <real>56.81649846143221</real>
		    <key>dstPointX</key>
		    <real>891.943855249503</real>
		    <key>dstPointY</key>
		    <real>52.99875233887784</real>
		    <key>srcPointX</key>
		    <real>1188.948235107202</real>
		    <key>srcPointY</key>
		    <real>125.8189983754684</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.8275894838140657</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>0.878468966867994</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>200</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>300</real>
	    <key>x</key>
	    <real>1316.5</real>
	    <key>y</key>
	    <real>171</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>