<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>CheckWhisle</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>77.36096307782941</real>
		    <key>controlPoint1Y</key>
		    <real>80.0305328698057</real>
		    <key>controlPoint2X</key>
		    <real>1097.279342854666</real>
		    <key>controlPoint2Y</key>
		    <real>170.1341984816822</real>
		    <key>dstPointX</key>
		    <real>1109.853443602119</real>
		    <key>dstPointY</key>
		    <real>206.2753263785513</real>
		    <key>srcPointX</key>
		    <real>64.78686233037683</real>
		    <key>srcPointY</key>
		    <real>43.88940497293657</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>173.3255417063717</real>
		    <key>controlPoint1Y</key>
		    <real>73.41369393671326</real>
		    <key>controlPoint2X</key>
		    <real>1323.03411442785</real>
		    <key>controlPoint2Y</key>
		    <real>208.1127921732775</real>
		    <key>dstPointX</key>
		    <real>1405.796501394622</real>
		    <key>dstPointY</key>
		    <real>247.8668824059883</real>
		    <key>srcPointX</key>
		    <real>90.56315473960012</real>
		    <key>srcPointY</key>
		    <real>33.65960370400246</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>1065</real>
	    <key>y</key>
	    <real>63</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Extra_Time</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>817.7364386185824</real>
		    <key>controlPoint1Y</key>
		    <real>475.8496916673926</real>
		    <key>controlPoint2X</key>
		    <real>710.7082530289518</real>
		    <key>controlPoint2Y</key>
		    <real>326.050268683272</real>
		    <key>dstPointX</key>
		    <real>636.4948028889246</real>
		    <key>dstPointY</key>
		    <real>257.4732831108417</real>
		    <key>srcPointX</key>
		    <real>891.9498887586096</real>
		    <key>srcPointY</key>
		    <real>544.4266772398228</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>925</real>
	    <key>y</key>
	    <real>558</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Initial</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>335.9999847922585</real>
		    <key>controlPoint1Y</key>
		    <real>193.3085539505211</real>
		    <key>controlPoint2X</key>
		    <real>362.0000094466613</real>
		    <key>controlPoint2Y</key>
		    <real>193.1602172934718</real>
		    <key>dstPointX</key>
		    <real>385.00013365706</real>
		    <key>dstPointY</key>
		    <real>193.1289883400293</real>
		    <key>srcPointX</key>
		    <real>312.9998605818599</real>
		    <key>srcPointY</key>
		    <real>193.3397829039636</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>146.1079211185877</real>
		    <key>controlPoint1Y</key>
		    <real>333.8961098281345</real>
		    <key>controlPoint2X</key>
		    <real>146.8027114193009</real>
		    <key>controlPoint2Y</key>
		    <real>359.9996695443151</real>
		    <key>dstPointX</key>
		    <real>148.7438677190809</real>
		    <key>dstPointY</key>
		    <real>382.8829400637841</real>
		    <key>srcPointX</key>
		    <real>148.169893569521</real>
		    <key>srcPointY</key>
		    <real>311.0234093522622</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.95</real>
		<key>green</key>
		<real>0.8154972611224902</real>
		<key>red</key>
		<real>0.7811458140956683</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>246</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>312.5</real>
	    <key>x</key>
	    <real>161.75</real>
	    <key>y</key>
	    <real>193.5</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>InitialPseudoState</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>18</real>
		    <key>controlPoint1Y</key>
		    <real>24</real>
		    <key>controlPoint2X</key>
		    <real>45.84116733566164</real>
		    <key>controlPoint2Y</key>
		    <real>82.18682798029538</real>
		    <key>dstPointX</key>
		    <real>63.92164200068561</real>
		    <key>dstPointY</key>
		    <real>103.506065933141</real>
		    <key>srcPointX</key>
		    <real>18</real>
		    <key>srcPointY</key>
		    <real>24</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>25</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>25</real>
	    <key>x</key>
	    <real>18</real>
	    <key>y</key>
	    <real>24</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Quiet</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>418.7521814250201</real>
		    <key>controlPoint1Y</key>
		    <real>363.7382527768373</real>
		    <key>controlPoint2X</key>
		    <real>385.1969052053279</real>
		    <key>controlPoint2Y</key>
		    <real>537.5254906861682</real>
		    <key>dstPointX</key>
		    <real>356.2206331553136</real>
		    <key>dstPointY</key>
		    <real>630.3184174961403</real>
		    <key>srcPointX</key>
		    <real>463.4015614341975</real>
		    <key>srcPointY</key>
		    <real>277.3867358667486</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>562.0293078399945</real>
		    <key>controlPoint1Y</key>
		    <real>327.360058276988</real>
		    <key>controlPoint2X</key>
		    <real>555.9706921600055</real>
		    <key>controlPoint2Y</key>
		    <real>391.139941723012</real>
		    <key>dstPointX</key>
		    <real>563.0830126841342</real>
		    <key>dstPointY</key>
		    <real>431.9131585208193</real>
		    <key>srcPointX</key>
		    <real>554.9169873158658</real>
		    <key>srcPointY</key>
		    <real>286.5868414791807</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>382.1620579329239</real>
		    <key>controlPoint1Y</key>
		    <real>347.019280461818</real>
		    <key>controlPoint2X</key>
		    <real>344.1460256207924</real>
		    <key>controlPoint2Y</key>
		    <real>528.860675296842</real>
		    <key>dstPointX</key>
		    <real>331.5295906770962</real>
		    <key>dstPointY</key>
		    <real>626.7788848563141</real>
		    <key>srcPointX</key>
		    <real>442.0473158790945</real>
		    <key>srcPointY</key>
		    <real>268.527840962075</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>768.9332650576021</real>
		    <key>controlPoint1Y</key>
		    <real>164.228818993517</real>
		    <key>controlPoint2X</key>
		    <real>-84.24558924880876</real>
		    <key>controlPoint2Y</key>
		    <real>62.27734700615252</real>
		    <key>dstPointX</key>
		    <real>7.358723958950463</real>
		    <key>dstPointY</key>
		    <real>31.39014020736872</real>
		    <key>srcPointX</key>
		    <real>673.3571200274116</real>
		    <key>srcPointY</key>
		    <real>178.7398576628925</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>773.0149445780648</real>
		    <key>controlPoint1Y</key>
		    <real>197.6059067887322</real>
		    <key>controlPoint2X</key>
		    <real>-75.58581172621405</real>
		    <key>controlPoint2Y</key>
		    <real>81.58581388829359</real>
		    <key>dstPointX</key>
		    <real>10.50322221104375</real>
		    <key>dstPointY</key>
		    <real>34.58398400923876</real>
		    <key>srcPointX</key>
		    <real>674.9587392616115</real>
		    <key>srcPointY</key>
		    <real>195.2661685197193</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.9218219739819004</real>
		<key>green</key>
		<real>0.9218219739819004</real>
		<key>red</key>
		<real>0.9218219739819004</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>200</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>300</real>
	    <key>x</key>
	    <real>530</real>
	    <key>y</key>
	    <real>193</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Retry</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>205.321736161043</real>
		    <key>controlPoint1Y</key>
		    <real>362.1239376100652</real>
		    <key>controlPoint2X</key>
		    <real>206.8084156943892</real>
		    <key>controlPoint2Y</key>
		    <real>331.3144005636992</real>
		    <key>dstPointX</key>
		    <real>200.5104861745354</real>
		    <key>dstPointY</key>
		    <real>307.559490811193</real>
		    <key>srcPointX</key>
		    <real>198.8984482402271</real>
		    <key>srcPointY</key>
		    <real>385.8452576802692</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.95</real>
		<key>green</key>
		<real>0.95</real>
		<key>red</key>
		<real>0.95</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>200</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>300</real>
	    <key>x</key>
	    <real>161</real>
	    <key>y</key>
	    <real>477.54296875</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>ShortWhistle</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1286.84086510027</real>
		    <key>controlPoint1Y</key>
		    <real>378.6923546016003</real>
		    <key>controlPoint2X</key>
		    <real>1083.124321151412</real>
		    <key>controlPoint2Y</key>
		    <real>498.5073979310625</real>
		    <key>dstPointX</key>
		    <real>966.1906661867434</real>
		    <key>dstPointY</key>
		    <real>549.9467326579565</real>
		    <key>srcPointX</key>
		    <real>1403.774520064938</real>
		    <key>srcPointY</key>
		    <real>327.2530198747063</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.8275889999999999</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>0.8784689999999999</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>200</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>300</real>
	    <key>x</key>
	    <real>1536.5</real>
	    <key>y</key>
	    <real>289</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Start</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>774.4914146155406</real>
		    <key>controlPoint1Y</key>
		    <real>538.6853867556919</real>
		    <key>controlPoint2X</key>
		    <real>838.0467785128851</real>
		    <key>controlPoint2Y</key>
		    <real>552.0141487265199</real>
		    <key>dstPointX</key>
		    <real>880.2078130922084</real>
		    <key>dstPointY</key>
		    <real>556.0801238714101</real>
		    <key>srcPointX</key>
		    <real>732.3303800362173</real>
		    <key>srcPointY</key>
		    <real>534.6194116108016</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>0.9980924880955292</real>
		<key>red</key>
		<real>0.7805750696521474</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>200</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>300</real>
	    <key>x</key>
	    <real>588</real>
	    <key>y</key>
	    <real>525.5</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Stop</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>566.3409630631182</real>
		    <key>controlPoint1Y</key>
		    <real>666.3935917673671</real>
		    <key>controlPoint2X</key>
		    <real>768.2903883591753</real>
		    <key>controlPoint2Y</key>
		    <real>593.3038221029345</real>
		    <key>dstPointX</key>
		    <real>881.5158918599678</real>
		    <key>dstPointY</key>
		    <real>563.1473563012529</real>
		    <key>srcPointX</key>
		    <real>453.1154595623257</real>
		    <key>srcPointY</key>
		    <real>696.5500575690487</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.8675147473949424</real>
		<key>green</key>
		<real>0.7826385340160249</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>200</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>300</real>
	    <key>x</key>
	    <real>313</real>
	    <key>y</key>
	    <real>721</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Whistle</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>1026.073982478309</real>
		    <key>controlPoint1Y</key>
		    <real>407.7528464327341</real>
		    <key>controlPoint2X</key>
		    <real>990.3466414912407</real>
		    <key>controlPoint2Y</key>
		    <real>502.5397177802888</real>
		    <key>dstPointX</key>
		    <real>954.7357192137027</real>
		    <key>dstPointY</key>
		    <real>542.9886495431939</real>
		    <key>srcPointX</key>
		    <real>1061.684904755847</real>
		    <key>srcPointY</key>
		    <real>367.3039146698291</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.8275894838140657</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>0.878468966867994</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>200</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>300</real>
	    <key>x</key>
	    <real>1157.5</real>
	    <key>y</key>
	    <real>296</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>