<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Disconnect</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>72.32233257119876</real>
		    <key>controlPoint1Y</key>
		    <real>857.5177487001284</real>
		    <key>controlPoint2X</key>
		    <real>44.65719916469109</real>
		    <key>controlPoint2Y</key>
		    <real>745.225464273531</real>
		    <key>dstPointX</key>
		    <real>79.865187009393</real>
		    <key>dstPointY</key>
		    <real>732.0224688317678</real>
		    <key>srcPointX</key>
		    <real>86.28741956406532</real>
		    <key>srcPointY</key>
		    <real>892.4304661822948</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>103</real>
	    <key>y</key>
	    <real>911</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>172.2303545668666</real>
		    <key>controlPoint1Y</key>
		    <real>161.5054696539221</real>
		    <key>controlPoint2X</key>
		    <real>433.2070494507428</real>
		    <key>controlPoint2Y</key>
		    <real>490.339349201954</real>
		    <key>dstPointX</key>
		    <real>554.2752319396872</real>
		    <key>dstPointY</key>
		    <real>503.7913694785031</real>
		    <key>srcPointX</key>
		    <real>82.97320084974751</real>
		    <key>srcPointY</key>
		    <real>78.61022147276529</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.9222992081447964</real>
		<key>green</key>
		<real>0.9222992081447964</real>
		<key>red</key>
		<real>0.9222992081447964</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>201</real>
	    <key>y</key>
	    <real>123</real>
	    <key>zoomedInternalHeight</key>
	    <real>264</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>264</real>
	    <key>zoomedOnExitHeight</key>
	    <real>264</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>75</real>
	    <key>y</key>
	    <real>155</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Sit</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>321.4374125528293</real>
		    <key>controlPoint1Y</key>
		    <real>482.5543474326848</real>
		    <key>controlPoint2X</key>
		    <real>484.2161343977159</real>
		    <key>controlPoint2Y</key>
		    <real>469.3712206679389</real>
		    <key>dstPointX</key>
		    <real>557.2185489101633</real>
		    <key>dstPointY</key>
		    <real>498.5721864729179</real>
		    <key>srcPointX</key>
		    <real>242.9313515289853</real>
		    <key>srcPointY</key>
		    <real>486.8956964293951</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>198</real>
	    <key>y</key>
	    <real>488</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Sitting</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>507.2712192459697</real>
		    <key>controlPoint1Y</key>
		    <real>547.3015978891954</real>
		    <key>controlPoint2X</key>
		    <real>546.8747121055125</real>
		    <key>controlPoint2Y</key>
		    <real>735.117576508845</real>
		    <key>dstPointX</key>
		    <real>487.49527010378</real>
		    <key>dstPointY</key>
		    <real>750.8713060195089</real>
		    <key>srcPointX</key>
		    <real>560.2172125342631</real>
		    <key>srcPointY</key>
		    <real>516.1436146321188</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>599</real>
	    <key>y</key>
	    <real>506</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Stand</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>369.6236859524773</real>
		    <key>controlPoint1Y</key>
		    <real>696.894930848484</real>
		    <key>controlPoint2X</key>
		    <real>223.068516897805</real>
		    <key>controlPoint2Y</key>
		    <real>752.2234101158067</real>
		    <key>dstPointX</key>
		    <real>164.4557062843009</real>
		    <key>dstPointY</key>
		    <real>731.6297199002512</real>
		    <key>srcPointX</key>
		    <real>412.75684891168</real>
		    <key>srcPointY</key>
		    <real>741.6061363549745</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>444</real>
	    <key>y</key>
	    <real>756</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Standing</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>196.1129691540342</real>
		    <key>controlPoint1Y</key>
		    <real>676.0028743418915</real>
		    <key>controlPoint2X</key>
		    <real>107.2081657496547</real>
		    <key>controlPoint2Y</key>
		    <real>517.4029422342921</real>
		    <key>dstPointX</key>
		    <real>156.7099968610534</real>
		    <key>dstPointY</key>
		    <real>495.952148752686</real>
		    <key>srcPointX</key>
		    <real>155.7048453120671</real>
		    <key>srcPointY</key>
		    <real>711.7485223559394</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>215.8881040900885</real>
		    <key>controlPoint1Y</key>
		    <real>874.1374915983197</real>
		    <key>controlPoint2X</key>
		    <real>496.2273343208325</real>
		    <key>controlPoint2Y</key>
		    <real>1002.868573621257</real>
		    <key>dstPointX</key>
		    <real>618.1786799928108</real>
		    <key>dstPointY</key>
		    <real>1064.685071343348</real>
		    <key>srcPointX</key>
		    <real>143.2243512651722</real>
		    <key>srcPointY</key>
		    <real>742.6356928386938</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>122</real>
	    <key>y</key>
	    <real>725</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Stop</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>138.9811156671435</real>
		    <key>controlPoint1Y</key>
		    <real>1081.911213078299</real>
		    <key>controlPoint2X</key>
		    <real>16.24508928944451</real>
		    <key>controlPoint2Y</key>
		    <real>930.3416724592328</real>
		    <key>dstPointX</key>
		    <real>59.98994460751224</real>
		    <key>dstPointY</key>
		    <real>916.8817169767505</real>
		    <key>srcPointX</key>
		    <real>145.5456917456498</real>
		    <key>srcPointY</key>
		    <real>1127.206788019993</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>152</real>
	    <key>y</key>
	    <real>1147</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Walk</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>505.6737577739163</real>
		    <key>controlPoint1Y</key>
		    <real>1141.153922993399</real>
		    <key>controlPoint2X</key>
		    <real>291.8818964918903</real>
		    <key>controlPoint2Y</key>
		    <real>1231.632576495583</real>
		    <key>dstPointX</key>
		    <real>188.7211016495745</real>
		    <key>dstPointY</key>
		    <real>1158.560346815607</real>
		    <key>srcPointX</key>
		    <real>618.0120704325311</real>
		    <key>srcPointY</key>
		    <real>1083.172858395405</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>658</real>
	    <key>y</key>
	    <real>1074</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>