<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Action</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>89.52792324224608</real>
		    <key>controlPoint1Y</key>
		    <real>673.5287501419472</real>
		    <key>controlPoint2X</key>
		    <real>212.9911156037263</real>
		    <key>controlPoint2Y</key>
		    <real>706.0611695268399</real>
		    <key>dstPointX</key>
		    <real>253.3435874934601</real>
		    <key>dstPointY</key>
		    <real>716.1492874992733</real>
		    <key>srcPointX</key>
		    <real>107.5271019586853</real>
		    <key>srcPointY</key>
		    <real>636.0304611493655</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>127</real>
	    <key>y</key>
	    <real>618</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Connect</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>374.7749647330597</real>
		    <key>controlPoint1Y</key>
		    <real>238.4053684889514</real>
		    <key>controlPoint2X</key>
		    <real>504.5963711808993</real>
		    <key>controlPoint2Y</key>
		    <real>326.1754147623425</real>
		    <key>dstPointX</key>
		    <real>547.3474955478849</real>
		    <key>dstPointY</key>
		    <real>331.5193053082158</real>
		    <key>srcPointX</key>
		    <real>414.5039969405979</real>
		    <key>srcPointY</key>
		    <real>221.73744118349</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>456</real>
	    <key>y</key>
	    <real>214</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Connected</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>683.5360311657473</real>
		    <key>controlPoint1Y</key>
		    <real>504.6492864886836</real>
		    <key>controlPoint2X</key>
		    <real>-20.96618100204148</real>
		    <key>controlPoint2Y</key>
		    <real>158.9553489168181</real>
		    <key>dstPointX</key>
		    <real>108.8391333651555</real>
		    <key>dstPointY</key>
		    <real>266.9036259559801</real>
		    <key>srcPointX</key>
		    <real>611.263885513257</real>
		    <key>srcPointY</key>
		    <real>352.0747567778708</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>677.7030349617384</real>
		    <key>controlPoint1Y</key>
		    <real>306.3579554838852</real>
		    <key>controlPoint2X</key>
		    <real>527.8301006562681</real>
		    <key>controlPoint2Y</key>
		    <real>172.5936643996131</real>
		    <key>dstPointX</key>
		    <real>488.5862068965517</real>
		    <key>dstPointY</key>
		    <real>200.2068965517241</real>
		    <key>srcPointX</key>
		    <real>631.3506184880509</real>
		    <key>srcPointY</key>
		    <real>324.2979821408212</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>592</real>
	    <key>y</key>
	    <real>334</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Disconnect</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>256.3160631953863</real>
		    <key>controlPoint1Y</key>
		    <real>851.0020752605973</real>
		    <key>controlPoint2X</key>
		    <real>217.1202497013473</real>
		    <key>controlPoint2Y</key>
		    <real>742.1768203222849</real>
		    <key>dstPointX</key>
		    <real>254.865187009393</real>
		    <key>dstPointY</key>
		    <real>728.0224688317678</real>
		    <key>srcPointX</key>
		    <real>271.2874195640653</real>
		    <key>srcPointY</key>
		    <real>888.4304661822948</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>288</real>
	    <key>y</key>
	    <real>907</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>241.2493708347207</real>
		    <key>controlPoint1Y</key>
		    <real>182.125036211263</real>
		    <key>controlPoint2X</key>
		    <real>380.8698532802242</real>
		    <key>controlPoint2Y</key>
		    <real>156.5475228098879</real>
		    <key>dstPointX</key>
		    <real>424.1801948466053</real>
		    <key>dstPointY</key>
		    <real>199.857864376269</real>
		    <key>srcPointX</key>
		    <real>180.5761737291625</real>
		    <key>srcPointY</key>
		    <real>173.7384680106653</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.9222992081447964</real>
		<key>green</key>
		<real>0.9222992081447964</real>
		<key>red</key>
		<real>0.9222992081447964</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>136</real>
	    <key>y</key>
	    <real>171</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <true/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>262</real>
	    <key>y</key>
	    <real>77</real>
	    <key>zoomedInternalHeight</key>
	    <real>264</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>264</real>
	    <key>zoomedOnExitHeight</key>
	    <real>264</real>
	</dict>
	<key>Sit</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>518.1208236543735</real>
		    <key>controlPoint1Y</key>
		    <real>477.6317624869772</real>
		    <key>controlPoint2X</key>
		    <real>715.7023093906686</real>
		    <key>controlPoint2Y</key>
		    <real>441.1656906651199</real>
		    <key>dstPointX</key>
		    <real>804.2185489101633</real>
		    <key>dstPointY</key>
		    <real>476.5721864729179</real>
		    <key>srcPointX</key>
		    <real>422.9313515289853</real>
		    <key>srcPointY</key>
		    <real>482.8956964293951</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>378</real>
	    <key>y</key>
	    <real>484</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Sitting</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>744.996836054522</real>
		    <key>controlPoint1Y</key>
		    <real>530.7594438611349</real>
		    <key>controlPoint2X</key>
		    <real>737.2760222824656</real>
		    <key>controlPoint2Y</key>
		    <real>728.3580452374085</real>
		    <key>dstPointX</key>
		    <real>667.4952701037801</real>
		    <key>dstPointY</key>
		    <real>746.8713060195089</real>
		    <key>srcPointX</key>
		    <real>807.2172125342631</real>
		    <key>srcPointY</key>
		    <real>494.1436146321188</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>846</real>
	    <key>y</key>
	    <real>484</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Stand</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>548.7565065123569</real>
		    <key>controlPoint1Y</key>
		    <real>691.996025331286</real>
		    <key>controlPoint2X</key>
		    <real>399.2469100599243</real>
		    <key>controlPoint2Y</key>
		    <real>748.6374401457405</real>
		    <key>dstPointX</key>
		    <real>339.4557062843009</real>
		    <key>dstPointY</key>
		    <real>727.6297199002512</real>
		    <key>srcPointX</key>
		    <real>592.75684891168</real>
		    <key>srcPointY</key>
		    <real>737.6061363549745</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>624</real>
	    <key>y</key>
	    <real>752</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Standing</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>371.1281734419909</real>
		    <key>controlPoint1Y</key>
		    <real>671.9894243948528</real>
		    <key>controlPoint2X</key>
		    <real>287.1895397897476</real>
		    <key>controlPoint2Y</key>
		    <real>513.4110134835853</real>
		    <key>dstPointX</key>
		    <real>336.7099968610534</real>
		    <key>dstPointY</key>
		    <real>491.952148752686</real>
		    <key>srcPointX</key>
		    <real>330.7048453120671</real>
		    <key>srcPointY</key>
		    <real>707.7485223559394</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>391.8020658403191</real>
		    <key>controlPoint1Y</key>
		    <real>871.8462026965771</real>
		    <key>controlPoint2X</key>
		    <real>679.5125510101176</real>
		    <key>controlPoint2Y</key>
		    <real>996.9660560893024</real>
		    <key>dstPointX</key>
		    <real>803.1786799928108</real>
		    <key>dstPointY</key>
		    <real>1059.685071343348</real>
		    <key>srcPointX</key>
		    <real>318.2243512651722</real>
		    <key>srcPointY</key>
		    <real>738.6356928386938</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>231.9074256575772</real>
		    <key>controlPoint1Y</key>
		    <real>704.2669191835106</real>
		    <key>controlPoint2X</key>
		    <real>174.6430521418135</real>
		    <key>controlPoint2Y</key>
		    <real>575.074575491371</real>
		    <key>dstPointX</key>
		    <real>147.1246117974981</real>
		    <key>dstPointY</key>
		    <real>600.1114561800017</real>
		    <key>srcPointX</key>
		    <real>256.8542407819957</real>
		    <key>srcPointY</key>
		    <real>711.9643447913893</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>297</real>
	    <key>y</key>
	    <real>721</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>StartHeadTracking</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>-77.18789188145047</real>
		    <key>controlPoint1Y</key>
		    <real>163.3330724971052</real>
		    <key>controlPoint2X</key>
		    <real>1044.818020400765</real>
		    <key>controlPoint2Y</key>
		    <real>302.8596491288984</real>
		    <key>dstPointX</key>
		    <real>877.8198051533947</real>
		    <key>dstPointY</key>
		    <real>469.857864376269</real>
		    <key>srcPointX</key>
		    <real>112.6671675193004</real>
		    <key>srcPointY</key>
		    <real>303.803226663574</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>983</real>
	    <key>y</key>
	    <real>590</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Stop</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>321.4838638309427</real>
		    <key>controlPoint1Y</key>
		    <real>1065.580175408515</real>
		    <key>controlPoint2X</key>
		    <real>191.2677405366809</real>
		    <key>controlPoint2Y</key>
		    <real>929.4116259216217</real>
		    <key>dstPointX</key>
		    <real>244.9899446075123</real>
		    <key>dstPointY</key>
		    <real>912.8817169767505</real>
		    <key>srcPointX</key>
		    <real>329.5456917456498</real>
		    <key>srcPointY</key>
		    <real>1121.206788019993</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>336</real>
	    <key>y</key>
	    <real>1141</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Walk</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>706.0027793396913</real>
		    <key>controlPoint1Y</key>
		    <real>1128.242169927193</real>
		    <key>controlPoint2X</key>
		    <real>461.8051847142626</real>
		    <key>controlPoint2Y</key>
		    <real>1215.661572319763</real>
		    <key>dstPointX</key>
		    <real>372.7211016495745</real>
		    <key>dstPointY</key>
		    <real>1152.560346815607</real>
		    <key>srcPointX</key>
		    <real>803.0120704325311</real>
		    <key>srcPointY</key>
		    <real>1078.172858395405</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>843</real>
	    <key>y</key>
	    <real>1069</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>