<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>GetUp</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>139.8100385340343</real>
		    <key>controlPoint1Y</key>
		    <real>42.189885875437</real>
		    <key>controlPoint2X</key>
		    <real>737.6525269677225</real>
		    <key>controlPoint2Y</key>
		    <real>309.0621475457439</real>
		    <key>dstPointX</key>
		    <real>691.7191260109424</real>
		    <key>dstPointY</key>
		    <real>320.2621717567971</real>
		    <key>srcPointX</key>
		    <real>94.08779324081661</real>
		    <key>srcPointY</key>
		    <real>30.15684174141501</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>649.6953125</real>
	    <key>y</key>
	    <real>126</real>
	    <key>zoomedInternalHeight</key>
	    <real>264</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>264</real>
	    <key>zoomedOnExitHeight</key>
	    <real>264</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>114.6400130690779</real>
		    <key>controlPoint1Y</key>
		    <real>233.7037746998848</real>
		    <key>controlPoint2X</key>
		    <real>467.7667152611974</real>
		    <key>controlPoint2Y</key>
		    <real>353.8115861082676</real>
		    <key>dstPointX</key>
		    <real>603.751666023398</real>
		    <key>dstPointY</key>
		    <real>328.6402398590105</real>
		    <key>srcPointX</key>
		    <real>101.8687528124473</real>
		    <key>srcPointY</key>
		    <real>95.9997500046874</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.9222992081447964</real>
		<key>green</key>
		<real>0.9222992081447964</real>
		<key>red</key>
		<real>0.9222992081447964</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>97.6953125</real>
	    <key>y</key>
	    <real>76</real>
	    <key>zoomedInternalHeight</key>
	    <real>264</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>264</real>
	    <key>zoomedOnExitHeight</key>
	    <real>264</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>98</real>
	    <key>y</key>
	    <real>473.04296875</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Teleoperation</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>565.8754833874461</real>
		    <key>controlPoint1Y</key>
		    <real>297.3489723726312</real>
		    <key>controlPoint2X</key>
		    <real>-31.69967738958235</real>
		    <key>controlPoint2Y</key>
		    <real>52.4262821539441</real>
		    <key>dstPointX</key>
		    <real>9.660751062331883</real>
		    <key>dstPointY</key>
		    <real>33.29350717468671</real>
		    <key>srcPointX</key>
		    <real>607.196775058665</real>
		    <key>srcPointY</key>
		    <real>316.5661255112953</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>648</real>
	    <key>y</key>
	    <real>325</real>
	    <key>zoomedInternalHeight</key>
	    <real>264</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>264</real>
	    <key>zoomedOnExitHeight</key>
	    <real>264</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>