<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Action</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>183.5067657709313</real>
		    <key>controlPoint1Y</key>
		    <real>658.899914583676</real>
		    <key>controlPoint2X</key>
		    <real>221.5900945235246</real>
		    <key>controlPoint2Y</key>
		    <real>705.1829498224807</real>
		    <key>dstPointX</key>
		    <real>256.7891804835845</real>
		    <key>dstPointY</key>
		    <real>715.4165132939627</real>
		    <key>srcPointX</key>
		    <real>158.1402448752682</real>
		    <key>srcPointY</key>
		    <real>632.4378456661022</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>127</real>
	    <key>y</key>
	    <real>618</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Connect</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>559.3752826080618</real>
		    <key>controlPoint1Y</key>
		    <real>249.4327213241984</real>
		    <key>controlPoint2X</key>
		    <real>664.2933871155653</real>
		    <key>controlPoint2Y</key>
		    <real>301.0832205260601</real>
		    <key>dstPointX</key>
		    <real>730.291222186748</real>
		    <key>dstPointY</key>
		    <real>317.2433492004361</real>
		    <key>srcPointX</key>
		    <real>497.1862798431085</real>
		    <key>srcPointY</key>
		    <real>222.0576975259245</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>456</real>
	    <key>y</key>
	    <real>214</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Connected</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>846.036289364397</real>
		    <key>controlPoint1Y</key>
		    <real>399.4725863759634</real>
		    <key>controlPoint2X</key>
		    <real>904.963710635603</real>
		    <key>controlPoint2Y</key>
		    <real>519.5274136240366</real>
		    <key>dstPointX</key>
		    <real>950.2746175505472</real>
		    <key>dstPointY</key>
		    <real>580.9091840753158</real>
		    <key>srcPointX</key>
		    <real>800.7253824494528</real>
		    <key>srcPointY</key>
		    <real>338.0908159246842</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>679.5699536170745</real>
		    <key>controlPoint1Y</key>
		    <real>272.7756302505927</real>
		    <key>controlPoint2X</key>
		    <real>569.3372009168297</real>
		    <key>controlPoint2Y</key>
		    <real>219.8068530526899</real>
		    <key>dstPointX</key>
		    <real>500.9032066872485</real>
		    <key>dstPointY</key>
		    <real>215.31107564564</real>
		    <key>srcPointX</key>
		    <real>736.5876423988045</real>
		    <key>srcPointY</key>
		    <real>310.8860848096485</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>774</real>
	    <key>y</key>
	    <real>322</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Disconnect</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>292.1820517893747</real>
		    <key>controlPoint1Y</key>
		    <real>845.5417145883075</real>
		    <key>controlPoint2X</key>
		    <real>295.8179482106254</real>
		    <key>controlPoint2Y</key>
		    <real>782.4582854116925</real>
		    <key>dstPointX</key>
		    <real>297.8251251859505</real>
		    <key>dstPointY</key>
		    <real>740.97662792164</real>
		    <key>srcPointX</key>
		    <real>290.1748748140495</real>
		    <key>srcPointY</key>
		    <real>887.02337207836</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>288</real>
	    <key>y</key>
	    <real>907</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>243.497841371214</real>
		    <key>controlPoint1Y</key>
		    <real>182.1155722953143</real>
		    <key>controlPoint2X</key>
		    <real>348.502158628786</real>
		    <key>controlPoint2Y</key>
		    <real>202.8844277046857</real>
		    <key>dstPointX</key>
		    <real>411.4008539527691</real>
		    <key>dstPointY</key>
		    <real>211.3364398888459</real>
		    <key>srcPointX</key>
		    <real>180.599146047231</real>
		    <key>srcPointY</key>
		    <real>173.6635601111541</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.9222992081447963</real>
		<key>green</key>
		<real>0.9222992081447963</real>
		<key>red</key>
		<real>0.9222992081447963</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>136</real>
	    <key>y</key>
	    <real>171</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>ReadyConnect</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>675.4403787631392</real>
		    <key>controlPoint1Y</key>
		    <real>902.4448080000884</real>
		    <key>controlPoint2X</key>
		    <real>820.0475448526389</real>
		    <key>controlPoint2Y</key>
		    <real>978.7522411554677</real>
		    <key>dstPointX</key>
		    <real>834.1747739187817</real>
		    <key>dstPointY</key>
		    <real>1049.388386486182</real>
		    <key>srcPointX</key>
		    <real>618.5433541370824</real>
		    <key>srcPointY</key>
		    <real>858.2659418198559</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>583</real>
	    <key>y</key>
	    <real>846</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Restart</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>936</real>
	    <key>y</key>
	    <real>796</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <true/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>262</real>
	    <key>y</key>
	    <real>77</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Sit</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>522.5</real>
		    <key>controlPoint1Y</key>
		    <real>484</real>
		    <key>controlPoint2X</key>
		    <real>701.5</real>
		    <key>controlPoint2Y</key>
		    <real>484</real>
		    <key>dstPointX</key>
		    <real>801</real>
		    <key>dstPointY</key>
		    <real>484</real>
		    <key>srcPointX</key>
		    <real>423</real>
		    <key>srcPointY</key>
		    <real>484</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>378</real>
	    <key>y</key>
	    <real>484</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Sitting</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>879.342145170799</real>
		    <key>controlPoint1Y</key>
		    <real>575.5655134792474</real>
		    <key>controlPoint2X</key>
		    <real>902.657854829201</real>
		    <key>controlPoint2Y</key>
		    <real>704.4344865207526</real>
		    <key>dstPointX</key>
		    <real>923.5277706914019</real>
		    <key>dstPointY</key>
		    <real>776.7835281763821</real>
		    <key>srcPointX</key>
		    <real>858.4722293085981</real>
		    <key>srcPointY</key>
		    <real>503.2164718236179</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>768.061195203851</real>
		    <key>controlPoint1Y</key>
		    <real>558.8357312559629</real>
		    <key>controlPoint2X</key>
		    <real>701.938804796149</real>
		    <key>controlPoint2Y</key>
		    <real>677.1642687440371</real>
		    <key>dstPointX</key>
		    <real>652.7064224767895</real>
		    <key>dstPointY</key>
		    <real>736.5979555079488</real>
		    <key>srcPointX</key>
		    <real>817.2935775232105</real>
		    <key>srcPointY</key>
		    <real>499.4020444920512</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>846</real>
	    <key>y</key>
	    <real>484</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Stand</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>514.750410591765</real>
		    <key>controlPoint1Y</key>
		    <real>744.0024570646045</real>
		    <key>controlPoint2X</key>
		    <real>409.249589408235</real>
		    <key>controlPoint2Y</key>
		    <real>728.9975429353955</real>
		    <key>dstPointX</key>
		    <real>344.7991392647012</real>
		    <key>dstPointY</key>
		    <real>722.8875614233174</real>
		    <key>srcPointX</key>
		    <real>579.2008607352988</real>
		    <key>srcPointY</key>
		    <real>750.1124385766826</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>624</real>
	    <key>y</key>
	    <real>752</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Standing</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>341.068313707077</real>
		    <key>controlPoint1Y</key>
		    <real>651.0503673180484</real>
		    <key>controlPoint2X</key>
		    <real>353.6721468725408</real>
		    <key>controlPoint2Y</key>
		    <real>558.2617236754998</real>
		    <key>dstPointX</key>
		    <real>367.2133744523659</real>
		    <key>dstPointY</key>
		    <real>503.4169263529676</real>
		    <key>srcPointX</key>
		    <real>318.2091086915926</real>
		    <key>srcPointY</key>
		    <real>702.7105394410514</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>356.7464834805608</real>
		    <key>controlPoint1Y</key>
		    <real>657.2113932911042</real>
		    <key>controlPoint2X</key>
		    <real>371.129331310323</real>
		    <key>controlPoint2Y</key>
		    <real>560.6495963771401</real>
		    <key>dstPointX</key>
		    <real>374.9636037552935</real>
		    <key>dstPointY</key>
		    <real>503.9544186651905</real>
		    <key>srcPointX</key>
		    <real>325.0783172822108</real>
		    <key>srcPointY</key>
		    <real>704.3937212392404</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>234.5526542841715</real>
		    <key>controlPoint1Y</key>
		    <real>687.8495946579696</real>
		    <key>controlPoint2X</key>
		    <real>199.7741692967386</real>
		    <key>controlPoint2Y</key>
		    <real>642.7846542799379</real>
		    <key>dstPointX</key>
		    <real>167.3728349178327</real>
		    <key>dstPointY</key>
		    <real>626.8335410256218</real>
		    <key>srcPointX</key>
		    <real>263.6918578400883</real>
		    <key>srcPointY</key>
		    <real>709.1848073288697</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>386.3582731752329</real>
		    <key>controlPoint1Y</key>
		    <real>762.6046624064202</real>
		    <key>controlPoint2X</key>
		    <real>487.9169051543049</real>
		    <key>controlPoint2Y</key>
		    <real>817.2515289705744</real>
		    <key>dstPointX</key>
		    <real>541.2185489101633</real>
		    <key>dstPointY</key>
		    <real>838.5721864729179</real>
		    <key>srcPointX</key>
		    <real>337.9475865055638</real>
		    <key>srcPointY</key>
		    <real>731.7494994741036</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>300</real>
	    <key>y</key>
	    <real>721</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>StartHeadTracking</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>918.8413313901775</real>
		    <key>controlPoint1Y</key>
		    <real>563.1618058047394</real>
		    <key>controlPoint2X</key>
		    <real>904.1586686098225</real>
		    <key>controlPoint2Y</key>
		    <real>517.8381941952607</real>
		    <key>dstPointX</key>
		    <real>880.0745752565967</real>
		    <key>dstPointY</key>
		    <real>497.0633655775927</real>
		    <key>srcPointX</key>
		    <real>942.9254247434033</real>
		    <key>srcPointY</key>
		    <real>583.9366344224073</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>977</real>
	    <key>y</key>
	    <real>597</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Stop</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>316.051304462623</real>
		    <key>controlPoint1Y</key>
		    <real>1068.240176771325</real>
		    <key>controlPoint2X</key>
		    <real>307.9486955373769</real>
		    <key>controlPoint2Y</key>
		    <real>979.7598232286754</real>
		    <key>dstPointX</key>
		    <real>297.0424864674599</real>
		    <key>dstPointY</key>
		    <real>926.5920540128297</real>
		    <key>srcPointX</key>
		    <real>326.9575135325401</real>
		    <key>srcPointY</key>
		    <real>1121.40794598717</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>336</real>
	    <key>y</key>
	    <real>1141</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Walk</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>688.7643522499977</real>
		    <key>controlPoint1Y</key>
		    <real>1087.388258894025</real>
		    <key>controlPoint2X</key>
		    <real>490.2356477500023</real>
		    <key>controlPoint2Y</key>
		    <real>1122.611741105975</real>
		    <key>dstPointX</key>
		    <real>380.5529844682329</real>
		    <key>dstPointY</key>
		    <real>1138.18797731167</real>
		    <key>srcPointX</key>
		    <real>798.4470155317672</real>
		    <key>srcPointY</key>
		    <real>1071.81202268833</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>843</real>
	    <key>y</key>
	    <real>1069</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>