<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Action</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>89.527923242246075</real>
					<key>controlPoint1Y</key>
					<real>673.52875014194717</real>
					<key>controlPoint2X</key>
					<real>212.99111560372631</real>
					<key>controlPoint2Y</key>
					<real>706.06116952683988</real>
					<key>dstPointX</key>
					<real>253.34358749346009</real>
					<key>dstPointY</key>
					<real>716.14928749927333</real>
					<key>srcPointX</key>
					<real>107.52710195868529</real>
					<key>srcPointY</key>
					<real>636.03046114936546</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>127</real>
			<key>y</key>
			<real>618</real>
			<key>zoomedInternalHeight</key>
			<real>321</real>
			<key>zoomedOnEntryHeight</key>
			<real>332</real>
			<key>zoomedOnExitHeight</key>
			<real>322</real>
		</dict>
		<key>Connect</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>338.50217486192099</real>
					<key>controlPoint1Y</key>
					<real>253.62326309006119</real>
					<key>controlPoint2X</key>
					<real>647.56439721239269</real>
					<key>controlPoint2Y</key>
					<real>309.29641801627912</real>
					<key>dstPointX</key>
					<real>729.34749554788493</real>
					<key>dstPointY</key>
					<real>319.51930530821579</real>
					<key>srcPointX</key>
					<real>414.50399694059791</real>
					<key>srcPointY</key>
					<real>221.73744118349001</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>456</real>
			<key>y</key>
			<real>214</real>
			<key>zoomedInternalHeight</key>
			<real>321</real>
			<key>zoomedOnEntryHeight</key>
			<real>332</real>
			<key>zoomedOnExitHeight</key>
			<real>322</real>
		</dict>
		<key>Connected</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>867.49282305443319</real>
					<key>controlPoint1Y</key>
					<real>496.78029158702037</real>
					<key>controlPoint2X</key>
					<real>-30.480702177092439</real>
					<key>controlPoint2Y</key>
					<real>163.03261414810754</real>
					<key>dstPointX</key>
					<real>102.83913336515548</real>
					<key>dstPointY</key>
					<real>273.90362595598009</real>
					<key>srcPointX</key>
					<real>793.26388551325704</real>
					<key>srcPointY</key>
					<real>340.07475677787079</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>893.45874253076829</real>
					<key>controlPoint1Y</key>
					<real>275.6321615039854</real>
					<key>controlPoint2X</key>
					<real>555.78316754689183</real>
					<key>controlPoint2Y</key>
					<real>145.9716959323523</real>
					<key>dstPointX</key>
					<real>488.58620689655169</real>
					<key>dstPointY</key>
					<real>200.2068965517241</real>
					<key>srcPointX</key>
					<real>813.35061848805094</real>
					<key>srcPointY</key>
					<real>312.2979821408212</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>774</real>
			<key>y</key>
			<real>322</real>
			<key>zoomedInternalHeight</key>
			<real>321</real>
			<key>zoomedOnEntryHeight</key>
			<real>332</real>
			<key>zoomedOnExitHeight</key>
			<real>322</real>
		</dict>
		<key>Disconnect</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>256.31606319538628</real>
					<key>controlPoint1Y</key>
					<real>851.00207526059728</real>
					<key>controlPoint2X</key>
					<real>217.12024970134729</real>
					<key>controlPoint2Y</key>
					<real>742.17682032228493</real>
					<key>dstPointX</key>
					<real>254.865187009393</real>
					<key>dstPointY</key>
					<real>728.02246883176781</real>
					<key>srcPointX</key>
					<real>271.28741956406532</real>
					<key>srcPointY</key>
					<real>888.43046618229482</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>288</real>
			<key>y</key>
			<real>907</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>241.24937083472071</real>
					<key>controlPoint1Y</key>
					<real>182.12503621126299</real>
					<key>controlPoint2X</key>
					<real>380.86985328022422</real>
					<key>controlPoint2Y</key>
					<real>156.54752280988791</real>
					<key>dstPointX</key>
					<real>424.18019484660527</real>
					<key>dstPointY</key>
					<real>199.85786437626899</real>
					<key>srcPointX</key>
					<real>180.57617372916249</real>
					<key>srcPointY</key>
					<real>173.73846801066529</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>136</real>
			<key>y</key>
			<real>171</real>
			<key>zoomedInternalHeight</key>
			<real>321</real>
			<key>zoomedOnEntryHeight</key>
			<real>332</real>
			<key>zoomedOnExitHeight</key>
			<real>322</real>
		</dict>
		<key>Restart</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>936</real>
			<key>y</key>
			<real>796</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>77</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Sit</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>518.12082365437345</real>
					<key>controlPoint1Y</key>
					<real>477.63176248697721</real>
					<key>controlPoint2X</key>
					<real>715.70230939066857</real>
					<key>controlPoint2Y</key>
					<real>441.16569066511988</real>
					<key>dstPointX</key>
					<real>804.21854891016335</real>
					<key>dstPointY</key>
					<real>476.57218647291791</real>
					<key>srcPointX</key>
					<real>422.93135152898532</real>
					<key>srcPointY</key>
					<real>482.89569642939512</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>378</real>
			<key>y</key>
			<real>484</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Sitting</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>835.95812420503921</real>
					<key>controlPoint1Y</key>
					<real>600.60531032537119</real>
					<key>controlPoint2X</key>
					<real>-86.43870812528462</real>
					<key>controlPoint2Y</key>
					<real>302.8855401616388</real>
					<key>dstPointX</key>
					<real>6.731422356162966</real>
					<key>dstPointY</key>
					<real>329.50557744205241</real>
					<key>srcPointX</key>
					<real>842.81543684710755</real>
					<key>srcPointY</key>
					<real>503.9498559419298</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>749.99683605452196</real>
					<key>controlPoint1Y</key>
					<real>535.75944386113486</real>
					<key>controlPoint2X</key>
					<real>742.27602228246565</real>
					<key>controlPoint2Y</key>
					<real>733.35804523740853</real>
					<key>dstPointX</key>
					<real>667.49527010378006</real>
					<key>dstPointY</key>
					<real>746.87130601950889</real>
					<key>srcPointX</key>
					<real>807.21721253426313</real>
					<key>srcPointY</key>
					<real>494.14361463211878</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>846</real>
			<key>y</key>
			<real>484</real>
			<key>zoomedInternalHeight</key>
			<real>321</real>
			<key>zoomedOnEntryHeight</key>
			<real>332</real>
			<key>zoomedOnExitHeight</key>
			<real>322</real>
		</dict>
		<key>Stand</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>548.75650651235685</real>
					<key>controlPoint1Y</key>
					<real>691.99602533128598</real>
					<key>controlPoint2X</key>
					<real>399.24691005992429</real>
					<key>controlPoint2Y</key>
					<real>748.63744014574047</real>
					<key>dstPointX</key>
					<real>339.4557062843009</real>
					<key>dstPointY</key>
					<real>727.62971990025119</real>
					<key>srcPointX</key>
					<real>592.75684891167998</real>
					<key>srcPointY</key>
					<real>737.60613635497452</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>624</real>
			<key>y</key>
			<real>752</real>
			<key>zoomedInternalHeight</key>
			<real>321</real>
			<key>zoomedOnEntryHeight</key>
			<real>332</real>
			<key>zoomedOnExitHeight</key>
			<real>322</real>
		</dict>
		<key>Standing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>397.59435780392369</real>
					<key>controlPoint1Y</key>
					<real>706.99852114146381</real>
					<key>controlPoint2X</key>
					<real>448.54267552342822</real>
					<key>controlPoint2Y</key>
					<real>539.9663610237377</real>
					<key>dstPointX</key>
					<real>409.0344827586207</real>
					<key>dstPointY</key>
					<real>498.48275862068971</real>
					<key>srcPointX</key>
					<real>341.2553934865083</real>
					<key>srcPointY</key>
					<real>717.37675141046134</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>376.1281734419909</real>
					<key>controlPoint1Y</key>
					<real>676.98942439485279</real>
					<key>controlPoint2X</key>
					<real>292.18953978974758</real>
					<key>controlPoint2Y</key>
					<real>518.41101348358529</real>
					<key>dstPointX</key>
					<real>336.70999686105341</real>
					<key>dstPointY</key>
					<real>491.95214875268601</real>
					<key>srcPointX</key>
					<real>330.70484531206711</real>
					<key>srcPointY</key>
					<real>707.74852235593937</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>396.80206584031907</real>
					<key>controlPoint1Y</key>
					<real>876.84620269657705</real>
					<key>controlPoint2X</key>
					<real>684.51255101011759</real>
					<key>controlPoint2Y</key>
					<real>1001.966056089302</real>
					<key>dstPointX</key>
					<real>803.17867999281077</real>
					<key>dstPointY</key>
					<real>1059.685071343348</real>
					<key>srcPointX</key>
					<real>318.22435126517217</real>
					<key>srcPointY</key>
					<real>738.63569283869379</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>236.90742565757719</real>
					<key>controlPoint1Y</key>
					<real>709.26691918351059</real>
					<key>controlPoint2X</key>
					<real>179.64305214181351</real>
					<key>controlPoint2Y</key>
					<real>580.07457549137098</real>
					<key>dstPointX</key>
					<real>147.12461179749809</real>
					<key>dstPointY</key>
					<real>600.11145618000171</real>
					<key>srcPointX</key>
					<real>256.85424078199571</real>
					<key>srcPointY</key>
					<real>711.96434479138929</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>297</real>
			<key>y</key>
			<real>721</real>
			<key>zoomedInternalHeight</key>
			<real>321</real>
			<key>zoomedOnEntryHeight</key>
			<real>332</real>
			<key>zoomedOnExitHeight</key>
			<real>322</real>
		</dict>
		<key>StartHeadTracking</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>-51.575051219198713</real>
					<key>controlPoint1Y</key>
					<real>193.7228131523334</real>
					<key>controlPoint2X</key>
					<real>1017.011081854282</real>
					<key>controlPoint2Y</key>
					<real>330.66658767538132</real>
					<key>dstPointX</key>
					<real>877.81980515339467</real>
					<key>dstPointY</key>
					<real>469.85786437626899</real>
					<key>srcPointX</key>
					<real>106.66716751930039</real>
					<key>srcPointY</key>
					<real>310.80322666357398</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>977</real>
			<key>y</key>
			<real>597</real>
			<key>zoomedInternalHeight</key>
			<real>321</real>
			<key>zoomedOnEntryHeight</key>
			<real>332</real>
			<key>zoomedOnExitHeight</key>
			<real>322</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>321.48386383094271</real>
					<key>controlPoint1Y</key>
					<real>1065.5801754085151</real>
					<key>controlPoint2X</key>
					<real>191.26774053668089</real>
					<key>controlPoint2Y</key>
					<real>929.41162592162175</real>
					<key>dstPointX</key>
					<real>244.98994460751231</real>
					<key>dstPointY</key>
					<real>912.88171697675045</real>
					<key>srcPointX</key>
					<real>329.54569174564978</real>
					<key>srcPointY</key>
					<real>1121.2067880199929</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>336</real>
			<key>y</key>
			<real>1141</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Walk</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>706.0027793396913</real>
					<key>controlPoint1Y</key>
					<real>1128.2421699271929</real>
					<key>controlPoint2X</key>
					<real>461.80518471426262</real>
					<key>controlPoint2Y</key>
					<real>1215.6615723197631</real>
					<key>dstPointX</key>
					<real>372.72110164957451</real>
					<key>dstPointY</key>
					<real>1152.5603468156071</real>
					<key>srcPointX</key>
					<real>803.01207043253112</real>
					<key>srcPointY</key>
					<real>1078.172858395405</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>843</real>
			<key>y</key>
			<real>1069</real>
			<key>zoomedInternalHeight</key>
			<real>321</real>
			<key>zoomedOnEntryHeight</key>
			<real>332</real>
			<key>zoomedOnExitHeight</key>
			<real>322</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
