<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>CheckStance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>108.24609375</real>
					<key>controlPoint1Y</key>
					<real>412.53236116784797</real>
					<key>controlPoint2X</key>
					<real>156.0444793737523</real>
					<key>controlPoint2Y</key>
					<real>481.88088626189733</real>
					<key>dstPointX</key>
					<real>171.37701847980543</real>
					<key>dstPointY</key>
					<real>504.54163311416039</real>
					<key>srcPointX</key>
					<real>108.24609375</real>
					<key>srcPointY</key>
					<real>385.171875</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>355.43437743655073</real>
					<key>controlPoint1Y</key>
					<real>235.28544894438286</real>
					<key>controlPoint2X</key>
					<real>438.125</real>
					<key>controlPoint2Y</key>
					<real>221.29366727577664</real>
					<key>dstPointX</key>
					<real>438.125</real>
					<key>dstPointY</key>
					<real>190</real>
					<key>srcPointX</key>
					<real>325.88512949411353</real>
					<key>srcPointY</key>
					<real>245.58766024115715</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>164</real>
			<key>internalHeight</key>
			<real>39</real>
			<key>onEntryHeight</key>
			<real>39</real>
			<key>onExitHeight</key>
			<real>39</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>289</real>
			<key>x</key>
			<real>188.5</real>
			<key>y</key>
			<real>308.95703125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>GET_UP_FINISHED</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>367.00387461636865</real>
					<key>controlPoint1Y</key>
					<real>309.13173154894491</real>
					<key>controlPoint2X</key>
					<real>401.00398713547543</real>
					<key>controlPoint2Y</key>
					<real>285.375</real>
					<key>dstPointX</key>
					<real>327</real>
					<key>dstPointY</key>
					<real>285.375</real>
					<key>srcPointX</key>
					<real>441.00518069058796</real>
					<key>srcPointY</key>
					<real>309.76166111431257</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>66</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>152</real>
			<key>x</key>
			<real>512</real>
			<key>y</key>
			<real>310</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INITAIL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>177.46366777761824</real>
					<key>controlPoint1Y</key>
					<real>214.23133485557167</real>
					<key>controlPoint2X</key>
					<real>255.23836604013121</real>
					<key>controlPoint2Y</key>
					<real>209.70105207165648</real>
					<key>dstPointX</key>
					<real>277.796875</real>
					<key>dstPointY</key>
					<real>232.171875</real>
					<key>srcPointX</key>
					<real>186.2265625</real>
					<key>srcPointY</key>
					<real>191</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>170</real>
			<key>internalHeight</key>
			<real>41</real>
			<key>onEntryHeight</key>
			<real>41</real>
			<key>onExitHeight</key>
			<real>41</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>236</real>
			<key>x</key>
			<real>170.3046875</real>
			<key>y</key>
			<real>112</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>RunGetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>514.15234375</real>
					<key>controlPoint1Y</key>
					<real>221.03544147854683</real>
					<key>controlPoint2X</key>
					<real>603.72895688722394</real>
					<key>controlPoint2Y</key>
					<real>284.14443463053209</real>
					<key>dstPointX</key>
					<real>575.82837026644529</real>
					<key>dstPointY</key>
					<real>297.73692866160434</real>
					<key>srcPointX</key>
					<real>514.15234375</real>
					<key>srcPointY</key>
					<real>190</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>166</real>
			<key>internalHeight</key>
			<real>39</real>
			<key>onEntryHeight</key>
			<real>40</real>
			<key>onExitHeight</key>
			<real>40</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>189</real>
			<key>x</key>
			<real>457.5</real>
			<key>y</key>
			<real>113</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>159</real>
			<key>internalHeight</key>
			<real>37</real>
			<key>onEntryHeight</key>
			<real>38</real>
			<key>onExitHeight</key>
			<real>37</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>246</real>
			<key>x</key>
			<real>483</real>
			<key>y</key>
			<real>459.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Wait_Unwobble</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>200.93992391151625</real>
					<key>controlPoint1Y</key>
					<real>471.67921587563171</real>
					<key>controlPoint2X</key>
					<real>274.94986640124523</real>
					<key>controlPoint2Y</key>
					<real>403.19291872256167</real>
					<key>dstPointX</key>
					<real>243.35546875</real>
					<key>dstPointY</key>
					<real>385.171875</real>
					<key>srcPointX</key>
					<real>178.31097181062185</real>
					<key>srcPointY</key>
					<real>504.13396342270278</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>293.96223367250599</real>
					<key>controlPoint1Y</key>
					<real>510.91454236504637</real>
					<key>controlPoint2X</key>
					<real>314.80723324969136</real>
					<key>controlPoint2Y</key>
					<real>450.203125</real>
					<key>dstPointX</key>
					<real>365</real>
					<key>dstPointY</key>
					<real>450.203125</real>
					<key>srcPointX</key>
					<real>244.65568124028584</real>
					<key>srcPointY</key>
					<real>520.30484168400392</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>201</real>
			<key>y</key>
			<real>524</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
