<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Button_Off</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>221.3791949326259</real>
		    <key>controlPoint1Y</key>
		    <real>319.7757814337317</real>
		    <key>controlPoint2X</key>
		    <real>473.3768445150874</real>
		    <key>controlPoint2Y</key>
		    <real>151.4418651628608</real>
		    <key>dstPointX</key>
		    <real>526.901486754797</real>
		    <key>dstPointY</key>
		    <real>115.5549414245046</real>
		    <key>srcPointX</key>
		    <real>163.5622126826605</real>
		    <key>srcPointY</key>
		    <real>348.2354930590922</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>124.0382488841287</real>
		    <key>controlPoint1Y</key>
		    <real>305.3939020302043</real>
		    <key>controlPoint2X</key>
		    <real>119.1382353367934</real>
		    <key>controlPoint2Y</key>
		    <real>150.2510496482076</real>
		    <key>dstPointX</key>
		    <real>127.5392788802182</real>
		    <key>dstPointY</key>
		    <real>119.7805980661034</real>
		    <key>srcPointX</key>
		    <real>123.8161732247957</real>
		    <key>srcPointY</key>
		    <real>337.0004936629226</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>123.54296875</real>
	    <key>y</key>
	    <real>357</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Button_On</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>564.809943791854</real>
		    <key>controlPoint1Y</key>
		    <real>158.0666390517684</real>
		    <key>controlPoint2X</key>
		    <real>575.597260335792</real>
		    <key>controlPoint2Y</key>
		    <real>304.9426890905202</real>
		    <key>dstPointX</key>
		    <real>577.0520539648591</real>
		    <key>dstPointY</key>
		    <real>338.518747027045</real>
		    <key>srcPointX</key>
		    <real>564.4632859221404</real>
		    <key>srcPointY</key>
		    <real>124.4608669377191</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>453.2161516427072</real>
		    <key>controlPoint1Y</key>
		    <real>119.7745380259481</real>
		    <key>controlPoint2X</key>
		    <real>164.8123300624616</real>
		    <key>controlPoint2Y</key>
		    <real>275.5944251527504</real>
		    <key>dstPointX</key>
		    <real>140.0176249530535</real>
		    <key>dstPointY</key>
		    <real>338.4035886313229</real>
		    <key>srcPointX</key>
		    <real>519.7058351453533</real>
		    <key>srcPointY</key>
		    <real>107.9893606382929</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>564</real>
	    <key>y</key>
	    <real>104.5390625</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>101.7095449870823</real>
		    <key>controlPoint1Y</key>
		    <real>64.15907835240343</real>
		    <key>controlPoint2X</key>
		    <real>95.98488923713114</real>
		    <key>controlPoint2Y</key>
		    <real>70.80639257633602</real>
		    <key>dstPointX</key>
		    <real>109.3800871414053</real>
		    <key>dstPointY</key>
		    <real>85.65794714497724</real>
		    <key>srcPointX</key>
		    <real>88.27616285859466</real>
		    <key>srcPointY</key>
		    <real>49.34205285502277</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>57.88671875</real>
	    <key>y</key>
	    <real>34.5</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Long_Press</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>478.2348593799111</real>
		    <key>controlPoint1Y</key>
		    <real>351.957704748375</real>
		    <key>controlPoint2X</key>
		    <real>223.9835401730556</real>
		    <key>controlPoint2Y</key>
		    <real>360.4956066920858</real>
		    <key>dstPointX</key>
		    <real>168.0662302972506</real>
		    <key>dstPointY</key>
		    <real>357.9143435294978</real>
		    <key>srcPointX</key>
		    <real>534.0041992371991</real>
		    <key>srcPointY</key>
		    <real>356.773220831168</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>579</real>
	    <key>y</key>
	    <real>358.5</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Zero</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>232.9202317759357</real>
		    <key>controlPoint1Y</key>
		    <real>100.8355061233835</real>
		    <key>controlPoint2X</key>
		    <real>470.6232942782951</real>
		    <key>controlPoint2Y</key>
		    <real>104.0307195626995</real>
		    <key>dstPointX</key>
		    <real>519.0005424188264</real>
		    <key>dstPointY</key>
		    <real>104.3627390110067</real>
		    <key>srcPointX</key>
		    <real>184.5424263311736</real>
		    <key>srcPointY</key>
		    <real>100.5981984889933</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>139.45703125</real>
	    <key>y</key>
	    <real>100.5</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>