<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check_Restart</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>558.35694307736969</real>
					<key>controlPoint1Y</key>
					<real>692.20319898407843</real>
					<key>controlPoint2X</key>
					<real>638.4765625</real>
					<key>controlPoint2Y</key>
					<real>722.55078125</real>
					<key>dstPointX</key>
					<real>658.4765625</real>
					<key>dstPointY</key>
					<real>722.55078125</real>
					<key>srcPointX</key>
					<real>539.47788366894827</real>
					<key>srcPointY</key>
					<real>685.60159949203921</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>536.46695971470069</real>
					<key>controlPoint1Y</key>
					<real>587.13696077097131</real>
					<key>controlPoint2X</key>
					<real>755.84375</real>
					<key>controlPoint2Y</key>
					<real>549.07629066525431</real>
					<key>dstPointX</key>
					<real>755.84375</real>
					<key>dstPointY</key>
					<real>472</real>
					<key>srcPointX</key>
					<real>511.54838754915596</real>
					<key>srcPointY</key>
					<real>660.07405245925645</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>497</real>
			<key>y</key>
			<real>679</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Check_Resume</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>167.73836102823381</real>
					<key>controlPoint1Y</key>
					<real>571.49495061961841</real>
					<key>controlPoint2X</key>
					<real>140.55078125</real>
					<key>controlPoint2Y</key>
					<real>598.66358652028566</real>
					<key>dstPointX</key>
					<real>140.55078125</real>
					<key>dstPointY</key>
					<real>624.171875</real>
					<key>srcPointX</key>
					<real>168.3558970867812</real>
					<key>srcPointY</key>
					<real>545.99413827215153</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>303.84421045668012</real>
					<key>controlPoint1Y</key>
					<real>495.80351321831455</real>
					<key>controlPoint2X</key>
					<real>453.65440783582153</real>
					<key>controlPoint2Y</key>
					<real>385.90625</real>
					<key>dstPointX</key>
					<real>548</real>
					<key>dstPointY</key>
					<real>385.90625</real>
					<key>srcPointX</key>
					<real>212.8478364989281</real>
					<key>srcPointY</key>
					<real>520.71838201890125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>168.77734375</real>
			<key>y</key>
			<real>526</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Check_Suspend_Restart</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>438.54632569821047</real>
					<key>controlPoint1Y</key>
					<real>701.84765625</real>
					<key>controlPoint2X</key>
					<real>460.45367430178953</real>
					<key>controlPoint2Y</key>
					<real>413.1484375</real>
					<key>dstPointX</key>
					<real>548</real>
					<key>dstPointY</key>
					<real>413.1484375</real>
					<key>srcPointX</key>
					<real>350.2578125</real>
					<key>srcPointY</key>
					<real>701.84765625</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>326.046875</real>
					<key>controlPoint1Y</key>
					<real>544.49530696332499</real>
					<key>controlPoint2X</key>
					<real>467.49530696332505</real>
					<key>controlPoint2Y</key>
					<real>391.69140625</real>
					<key>dstPointX</key>
					<real>548</real>
					<key>dstPointY</key>
					<real>391.69140625</real>
					<key>srcPointX</key>
					<real>326.046875</real>
					<key>srcPointY</key>
					<real>625</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>387.84492734236858</real>
					<key>controlPoint1Y</key>
					<real>765.234375</real>
					<key>controlPoint2X</key>
					<real>469.018301301728</real>
					<key>controlPoint2Y</key>
					<real>732.41951740473837</real>
					<key>dstPointX</key>
					<real>481.61509488358473</real>
					<key>dstPointY</key>
					<real>697.79482300434677</real>
					<key>srcPointX</key>
					<real>351</real>
					<key>srcPointY</key>
					<real>765.234375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.85688170673223663</real>
				<key>red</key>
				<real>0.84255647934107369</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>207</real>
			<key>y</key>
			<real>720.4140625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Check_Suspend_Resume</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>416</real>
					<key>controlPoint1Y</key>
					<real>324.3828125</real>
					<key>controlPoint2X</key>
					<real>504</real>
					<key>controlPoint2Y</key>
					<real>324.3828125</real>
					<key>dstPointX</key>
					<real>548</real>
					<key>dstPointY</key>
					<real>324.3828125</real>
					<key>srcPointX</key>
					<real>372</real>
					<key>srcPointY</key>
					<real>324.3828125</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>416</real>
					<key>controlPoint1Y</key>
					<real>356.31640625</real>
					<key>controlPoint2X</key>
					<real>504</real>
					<key>controlPoint2Y</key>
					<real>355.28515625</real>
					<key>dstPointX</key>
					<real>548</real>
					<key>dstPointY</key>
					<real>355.28515625</real>
					<key>srcPointX</key>
					<real>372</real>
					<key>srcPointY</key>
					<real>356.31640625</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>252.05859375</real>
					<key>controlPoint1Y</key>
					<real>448.515625</real>
					<key>controlPoint2X</key>
					<real>145.43033371656185</real>
					<key>controlPoint2Y</key>
					<real>488.83015388165495</real>
					<key>dstPointX</key>
					<real>152.81955795761974</real>
					<key>dstPointY</key>
					<real>507.41507694082748</real>
					<key>srcPointX</key>
					<real>252.05859375</real>
					<key>srcPointY</key>
					<real>429.03125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.89846413976327566</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.77964651504421822</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>228</real>
			<key>y</key>
			<real>333.7421875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Do_Nothing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>400.04246550208677</real>
					<key>controlPoint1Y</key>
					<real>67.638517429835503</real>
					<key>controlPoint2X</key>
					<real>345.45180302795177</real>
					<key>controlPoint2Y</key>
					<real>143.12304823297933</real>
					<key>dstPointX</key>
					<real>394</real>
					<key>dstPointY</key>
					<real>146.7734375</real>
					<key>srcPointX</key>
					<real>351.73207134898263</real>
					<key>srcPointY</key>
					<real>68.44118665658273</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>306.70703125</real>
			<key>y</key>
			<real>68.515625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Error</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0010751677499337032</real>
				<key>green</key>
				<real>0.40151649531643008</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>693</real>
			<key>y</key>
			<real>378.2578125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Exit</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.69960775167308487</real>
				<key>red</key>
				<real>0.9156706098627726</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>539</real>
			<key>y</key>
			<real>141</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>233.3627629302415</real>
					<key>controlPoint1Y</key>
					<real>68.628551825605143</real>
					<key>controlPoint2X</key>
					<real>192.9614558197585</real>
					<key>controlPoint2Y</key>
					<real>53.402698174394857</real>
					<key>dstPointX</key>
					<real>262.39271803582142</real>
					<key>dstPointY</key>
					<real>65.37493316034913</real>
					<key>srcPointX</key>
					<real>163.93150071417858</real>
					<key>srcPointY</key>
					<real>56.65631683965087</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>140.98228308834345</real>
					<key>controlPoint1Y</key>
					<real>113.44059118101615</real>
					<key>controlPoint2X</key>
					<real>173.23046875</real>
					<key>controlPoint2Y</key>
					<real>197.02148702870781</real>
					<key>dstPointX</key>
					<real>173.23046875</real>
					<key>dstPointY</key>
					<real>240.03125</real>
					<key>srcPointX</key>
					<real>131.53778427090961</real>
					<key>srcPointY</key>
					<real>71.480596508301659</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>119.5859375</real>
			<key>y</key>
			<real>53.2578125</real>
			<key>zoomedInternalHeight</key>
			<real>279</real>
			<key>zoomedOnEntryHeight</key>
			<real>295</real>
			<key>zoomedOnExitHeight</key>
			<real>292</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>33.27734375</real>
					<key>controlPoint1Y</key>
					<real>29.7265625</real>
					<key>controlPoint2X</key>
					<real>67.157309598716154</real>
					<key>controlPoint2Y</key>
					<real>30.308623961496409</real>
					<key>dstPointX</key>
					<real>84.05361818372657</real>
					<key>dstPointY</key>
					<real>41.009780730748204</real>
					<key>srcPointX</key>
					<real>33.27734375</real>
					<key>srcPointY</key>
					<real>29.7265625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>31.0859375</real>
			<key>y</key>
			<real>30.7578125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>OK</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.32557428722028087</real>
				<key>green</key>
				<real>0.74782196969696968</real>
				<key>red</key>
				<real>0.3854391195053754</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>804.26171875</real>
			<key>y</key>
			<real>739.22265625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>854</real>
			<key>y</key>
			<real>140</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
