<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Build_classifier</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>659.75164920898351</real>
					<key>controlPoint1Y</key>
					<real>125.31033613743509</real>
					<key>controlPoint2X</key>
					<real>759.24835079101649</real>
					<key>controlPoint2Y</key>
					<real>121.68966386256493</real>
					<key>dstPointX</key>
					<real>809.01319446758316</real>
					<key>dstPointY</key>
					<real>120.48428702610829</real>
					<key>srcPointX</key>
					<real>609.98680553241684</real>
					<key>srcPointY</key>
					<real>126.51571297389171</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>565</real>
			<key>y</key>
			<real>127</real>
		</dict>
		<key>Classifier_result</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>854</real>
			<key>y</key>
			<real>120</real>
		</dict>
		<key>First_head</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>150.00475974137652</real>
					<key>controlPoint1Y</key>
					<real>369.67682021892392</real>
					<key>controlPoint2X</key>
					<real>200.99524025862345</real>
					<key>controlPoint2Y</key>
					<real>402.32317978107608</real>
					<key>dstPointX</key>
					<real>229.28717221636856</real>
					<key>dstPointY</key>
					<real>411.7049603266496</real>
					<key>srcPointX</key>
					<real>121.71282778363143</real>
					<key>srcPointY</key>
					<real>360.2950396733504</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>79</real>
			<key>y</key>
			<real>354</real>
		</dict>
		<key>First_motion</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>223.6401860846224</real>
					<key>controlPoint1Y</key>
					<real>186.80532625677347</real>
					<key>controlPoint2X</key>
					<real>154.35981391537766</real>
					<key>controlPoint2Y</key>
					<real>294.19467374322653</real>
					<key>dstPointX</key>
					<real>110.31766858211907</real>
					<key>dstPointY</key>
					<real>339.63816006436156</real>
					<key>srcPointX</key>
					<real>267.68233141788096</real>
					<key>srcPointY</key>
					<real>141.36183993563844</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>299</real>
			<key>y</key>
			<real>127</real>
		</dict>
		<key>First_shot</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>350.95465850121798</real>
					<key>controlPoint1Y</key>
					<real>399.84332660176074</real>
					<key>controlPoint2X</key>
					<real>418.04534149878202</real>
					<key>controlPoint2Y</key>
					<real>362.15667339823926</real>
					<key>dstPointX</key>
					<real>454.25259748546864</real>
					<key>dstPointY</key>
					<real>350.24850920706234</real>
					<key>srcPointX</key>
					<real>314.74740251453136</real>
					<key>srcPointY</key>
					<real>411.75149079293766</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>365.77762155575425</real>
					<key>controlPoint1Y</key>
					<real>342.47952498502502</real>
					<key>controlPoint2X</key>
					<real>397.95703125</real>
					<key>controlPoint2Y</key>
					<real>199.37109375</real>
					<key>dstPointX</key>
					<real>533.07141014430817</real>
					<key>dstPointY</key>
					<real>141.09362100569788</real>
					<key>srcPointX</key>
					<real>303.92858985569188</real>
					<key>srcPointY</key>
					<real>403.90637899430209</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>272</real>
			<key>y</key>
			<real>418</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>159.50007994118803</real>
					<key>controlPoint1Y</key>
					<real>126.23842753636696</real>
					<key>controlPoint2X</key>
					<real>222.49992005881197</real>
					<key>controlPoint2Y</key>
					<real>126.76157246363306</real>
					<key>dstPointX</key>
					<real>254.0004822453343</real>
					<key>dstPointY</key>
					<real>126.90740839968176</real>
					<key>srcPointX</key>
					<real>127.9995177546657</real>
					<key>srcPointY</key>
					<real>126.09259160031824</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>83</real>
			<key>y</key>
			<real>126</real>
		</dict>
		<key>Second_head</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>572.97394315824317</real>
					<key>controlPoint1Y</key>
					<real>365.57848350015092</real>
					<key>controlPoint2X</key>
					<real>634.02605684175683</real>
					<key>controlPoint2Y</key>
					<real>409.42151649984908</real>
					<key>dstPointX</key>
					<real>668.34104684341332</real>
					<key>dstPointY</key>
					<real>423.43749833151162</real>
					<key>srcPointX</key>
					<real>538.65895315658668</real>
					<key>srcPointY</key>
					<real>351.56250166848838</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>497</real>
			<key>y</key>
			<real>344</real>
		</dict>
		<key>Second_shot</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>508.80078125</real>
					<key>controlPoint1Y</key>
					<real>395.484375</real>
					<key>controlPoint2X</key>
					<real>615.39102793550205</real>
					<key>controlPoint2Y</key>
					<real>210.08274818297548</real>
					<key>dstPointX</key>
					<real>584.37293819259901</real>
					<key>dstPointY</key>
					<real>145.05171865302711</real>
					<key>srcPointX</key>
					<real>690.62706180740099</real>
					<key>srcPointY</key>
					<real>412.94828134697286</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>660.7578125</real>
					<key>controlPoint1Y</key>
					<real>350.37109375</real>
					<key>controlPoint2X</key>
					<real>809.83793267315059</real>
					<key>controlPoint2Y</key>
					<real>371.46123687883477</real>
					<key>dstPointX</key>
					<real>831.83282548090449</real>
					<key>dstPointY</key>
					<real>378.01683573363806</real>
					<key>srcPointX</key>
					<real>753.63756111703037</real>
					<key>srcPointY</key>
					<real>426.1158960839067</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>710</real>
			<key>y</key>
			<real>431</real>
		</dict>
		<key>Third_head</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>875.58272136054802</real>
					<key>controlPoint1Y</key>
					<real>344.00950966884545</real>
					<key>controlPoint2X</key>
					<real>885.52801822025492</real>
					<key>controlPoint2Y</key>
					<real>320.25000437992435</real>
					<key>dstPointX</key>
					<real>881.67324338325341</real>
					<key>dstPointY</key>
					<real>300.62500218996217</real>
					<key>srcPointX</key>
					<real>876.01880709576403</real>
					<key>srcPointY</key>
					<real>364.00475483442273</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>877</real>
			<key>y</key>
			<real>384</real>
		</dict>
		<key>Third_shot</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>683.68359375</real>
					<key>controlPoint1Y</key>
					<real>298.328125</real>
					<key>controlPoint2X</key>
					<real>664.45676479759072</real>
					<key>controlPoint2Y</key>
					<real>165.70222383606961</real>
					<key>dstPointX</key>
					<real>605.21877640468654</real>
					<key>dstPointY</key>
					<real>135.97128505057839</real>
					<key>srcPointX</key>
					<real>832.74749679185607</real>
					<key>srcPointY</key>
					<real>272.05864389572929</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>873</real>
			<key>y</key>
			<real>281</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
