<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Build_classifier</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>652.40572031348609</real>
					<key>controlPoint1Y</key>
					<real>108.89496525072416</real>
					<key>controlPoint2X</key>
					<real>736.59427968651391</real>
					<key>controlPoint2Y</key>
					<real>71.105034749275887</real>
					<key>dstPointX</key>
					<real>780.73142235616297</real>
					<key>dstPointY</key>
					<real>58.494422557947566</real>
					<key>srcPointX</key>
					<real>608.26857764383703</real>
					<key>srcPointY</key>
					<real>121.50557744205244</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>565</real>
			<key>y</key>
			<real>127</real>
		</dict>
		<key>Classifier_result</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>870.19703558542562</real>
					<key>controlPoint1Y</key>
					<real>81.138853700384828</real>
					<key>controlPoint2X</key>
					<real>875.80296441457438</real>
					<key>controlPoint2Y</key>
					<real>121.86114629961516</real>
					<key>dstPointX</key>
					<real>890.01743690239766</real>
					<key>dstPointY</key>
					<real>135.93057314980757</real>
					<key>srcPointX</key>
					<real>855.98256309760234</real>
					<key>srcPointY</key>
					<real>67.069426850192414</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>824</real>
			<key>y</key>
			<real>53</real>
		</dict>
		<key>First_empty</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>205.89385759565266</real>
					<key>controlPoint1Y</key>
					<real>515.91237121555548</real>
					<key>controlPoint2X</key>
					<real>220.20513584828117</real>
					<key>controlPoint2Y</key>
					<real>450.06479105184968</real>
					<key>dstPointX</key>
					<real>239.40522330738594</real>
					<key>dstPointY</key>
					<real>431.78910310413693</real>
					<key>srcPointX</key>
					<real>222.61447060024463</real>
					<key>srcPointY</key>
					<real>536.48092073053385</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>250.99609375</real>
			<key>y</key>
			<real>552</real>
		</dict>
		<key>First_head</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>150.00475974137652</real>
					<key>controlPoint1Y</key>
					<real>369.67682021892392</real>
					<key>controlPoint2X</key>
					<real>200.99524025862345</real>
					<key>controlPoint2Y</key>
					<real>402.32317978107608</real>
					<key>dstPointX</key>
					<real>229.28717221636856</real>
					<key>dstPointY</key>
					<real>411.7049603266496</real>
					<key>srcPointX</key>
					<real>121.71282778363143</real>
					<key>srcPointY</key>
					<real>360.2950396733504</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>79</real>
			<key>y</key>
			<real>354</real>
		</dict>
		<key>First_motion</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>466.77099795636684</real>
					<key>controlPoint1Y</key>
					<real>193.34147084484903</real>
					<key>controlPoint2X</key>
					<real>710.22900204363316</real>
					<key>controlPoint2Y</key>
					<real>320.65852915515103</real>
					<key>dstPointX</key>
					<real>835.81398170791022</real>
					<key>dstPointY</key>
					<real>375.94203840077734</real>
					<key>srcPointX</key>
					<real>341.18601829208978</real>
					<key>srcPointY</key>
					<real>138.05796159922266</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>224.28012391285694</real>
					<key>controlPoint1Y</key>
					<real>188.95130728726966</real>
					<key>controlPoint2X</key>
					<real>154.71987608714312</real>
					<key>controlPoint2Y</key>
					<real>295.04869271273043</real>
					<key>dstPointX</key>
					<real>110.60457142616173</real>
					<key>dstPointY</key>
					<real>339.76284766322732</real>
					<key>srcPointX</key>
					<real>268.39542857383827</real>
					<key>srcPointY</key>
					<real>144.23715233677271</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>300</real>
			<key>y</key>
			<real>130</real>
		</dict>
		<key>First_shot</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>350.95465850121798</real>
					<key>controlPoint1Y</key>
					<real>399.84332660176074</real>
					<key>controlPoint2X</key>
					<real>418.04534149878202</real>
					<key>controlPoint2Y</key>
					<real>362.15667339823926</real>
					<key>dstPointX</key>
					<real>454.25259748546864</real>
					<key>dstPointY</key>
					<real>350.24850920706234</real>
					<key>srcPointX</key>
					<real>314.74740251453136</real>
					<key>srcPointY</key>
					<real>411.75149079293766</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>365.77762155575425</real>
					<key>controlPoint1Y</key>
					<real>342.47952498502502</real>
					<key>controlPoint2X</key>
					<real>471.22237844424581</real>
					<key>controlPoint2Y</key>
					<real>202.52047501497492</real>
					<key>dstPointX</key>
					<real>533.07141014430817</real>
					<key>dstPointY</key>
					<real>141.09362100569788</real>
					<key>srcPointX</key>
					<real>303.92858985569188</real>
					<key>srcPointY</key>
					<real>403.90637899430209</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>311.40695644521389</real>
					<key>controlPoint1Y</key>
					<real>457.56184929292914</real>
					<key>controlPoint2X</key>
					<real>316.36276264167356</real>
					<key>controlPoint2Y</key>
					<real>531.93146188223091</real>
					<key>dstPointX</key>
					<real>291.73206918232449</real>
					<key>dstPointY</key>
					<real>543.49845573793982</real>
					<key>srcPointX</key>
					<real>296.55720675380257</real>
					<key>srcPointY</key>
					<real>434.75940772960399</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>272</real>
			<key>y</key>
			<real>418</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>159.75125854092471</real>
					<key>controlPoint1Y</key>
					<real>126.95401852046642</real>
					<key>controlPoint2X</key>
					<real>223.24874145907529</real>
					<key>controlPoint2Y</key>
					<real>129.04598147953357</real>
					<key>dstPointX</key>
					<real>255.00764314988209</real>
					<key>dstPointY</key>
					<real>129.63139902222125</real>
					<key>srcPointX</key>
					<real>127.9923568501179</real>
					<key>srcPointY</key>
					<real>126.36860097777874</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>83</real>
			<key>y</key>
			<real>126</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>922</real>
			<key>y</key>
			<real>150</real>
		</dict>
		<key>Second_empty</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>627.44352531154868</real>
					<key>controlPoint1Y</key>
					<real>576.42107011007874</real>
					<key>controlPoint2X</key>
					<real>628.23356480360883</real>
					<key>controlPoint2Y</key>
					<real>493.70337253795731</real>
					<key>dstPointX</key>
					<real>647.47325760144929</real>
					<key>dstPointY</key>
					<real>468.82171318109874</real>
					<key>srcPointX</key>
					<real>653.17923406222462</real>
					<key>srcPointY</key>
					<real>594.5024430227312</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>690.04296875</real>
			<key>y</key>
			<real>606.140625</real>
		</dict>
		<key>Second_head</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>563.99196103629754</real>
					<key>controlPoint1Y</key>
					<real>371.96754274701385</real>
					<key>controlPoint2X</key>
					<real>608.00803896370246</real>
					<key>controlPoint2Y</key>
					<real>425.03245725298615</real>
					<key>dstPointX</key>
					<real>636.62365083322629</real>
					<key>dstPointY</key>
					<real>442.55550047645858</real>
					<key>srcPointX</key>
					<real>535.37634916677371</real>
					<key>srcPointY</key>
					<real>354.44449952354142</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>497</real>
			<key>y</key>
			<real>344</real>
		</dict>
		<key>Second_shot</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>636.68788104134751</real>
					<key>controlPoint1Y</key>
					<real>363.14466839825189</real>
					<key>controlPoint2X</key>
					<real>603.31211895865249</real>
					<key>controlPoint2Y</key>
					<real>216.85533160174816</real>
					<key>dstPointX</key>
					<real>579.38710352083183</real>
					<key>dstPointY</key>
					<real>145.95028584966136</real>
					<key>srcPointX</key>
					<real>660.61289647916817</real>
					<key>srcPointY</key>
					<real>434.04971415033867</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>748.24234450343249</real>
					<key>controlPoint1Y</key>
					<real>436.06272993288553</real>
					<key>controlPoint2X</key>
					<real>803.75765549656751</real>
					<key>controlPoint2Y</key>
					<real>400.93727006711447</real>
					<key>dstPointX</key>
					<real>834.41582911705086</real>
					<key>dstPointY</key>
					<real>390.46492363239491</real>
					<key>srcPointX</key>
					<real>717.58417088294914</real>
					<key>srcPointY</key>
					<real>446.53507636760509</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>724.86662018443849</real>
					<key>controlPoint1Y</key>
					<real>490.08173550805395</real>
					<key>controlPoint2X</key>
					<real>712.95990283248875</real>
					<key>controlPoint2Y</key>
					<real>558.63704930869881</real>
					<key>dstPointX</key>
					<real>703.81876245859019</real>
					<key>dstPointY</key>
					<real>586.96634920618612</real>
					<key>srcPointX</key>
					<real>705.012974530816</real>
					<key>srcPointY</key>
					<real>467.90196016479388</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>675</real>
			<key>y</key>
			<real>453</real>
		</dict>
		<key>Third_head</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>874.47762949962203</real>
					<key>controlPoint1Y</key>
					<real>344.03012899401233</real>
					<key>controlPoint2X</key>
					<real>875.52237050037775</real>
					<key>controlPoint2Y</key>
					<real>320.96987100598767</real>
					<key>dstPointX</key>
					<real>874.74625650026155</real>
					<key>dstPointY</key>
					<real>300.98493550299384</real>
					<key>srcPointX</key>
					<real>875.25374349973833</real>
					<key>srcPointY</key>
					<real>364.01506449700616</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>877</real>
			<key>y</key>
			<real>384</real>
		</dict>
		<key>Third_shot</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>773.47038966773403</real>
					<key>controlPoint1Y</key>
					<real>242.4155347213661</real>
					<key>controlPoint2X</key>
					<real>664.52961033226597</real>
					<key>controlPoint2Y</key>
					<real>165.58446527863393</real>
					<key>dstPointX</key>
					<real>605.24922359499624</real>
					<key>dstPointY</key>
					<real>135.94427190999915</real>
					<key>srcPointX</key>
					<real>832.75077640500376</real>
					<key>srcPointY</key>
					<real>272.05572809000085</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>873</real>
			<key>y</key>
			<real>281</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
