<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Build_classifier</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>659.75164920898351</real>
					<key>controlPoint1Y</key>
					<real>125.31033613743509</real>
					<key>controlPoint2X</key>
					<real>759.24835079101649</real>
					<key>controlPoint2Y</key>
					<real>121.68966386256493</real>
					<key>dstPointX</key>
					<real>809.01319446758316</real>
					<key>dstPointY</key>
					<real>120.48428702610829</real>
					<key>srcPointX</key>
					<real>609.98680553241684</real>
					<key>srcPointY</key>
					<real>126.51571297389171</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>565</real>
			<key>y</key>
			<real>127</real>
		</dict>
		<key>Classifier_result</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>854</real>
			<key>y</key>
			<real>120</real>
		</dict>
		<key>First_head</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>150.00475974137652</real>
					<key>controlPoint1Y</key>
					<real>369.67682021892392</real>
					<key>controlPoint2X</key>
					<real>200.99524025862345</real>
					<key>controlPoint2Y</key>
					<real>402.32317978107608</real>
					<key>dstPointX</key>
					<real>229.28717221636856</real>
					<key>dstPointY</key>
					<real>411.7049603266496</real>
					<key>srcPointX</key>
					<real>121.71282778363143</real>
					<key>srcPointY</key>
					<real>360.2950396733504</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>79</real>
			<key>y</key>
			<real>354</real>
		</dict>
		<key>First_motion</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>223.6401860846224</real>
					<key>controlPoint1Y</key>
					<real>186.80532625677347</real>
					<key>controlPoint2X</key>
					<real>154.35981391537766</real>
					<key>controlPoint2Y</key>
					<real>294.19467374322653</real>
					<key>dstPointX</key>
					<real>110.31766858211907</real>
					<key>dstPointY</key>
					<real>339.63816006436156</real>
					<key>srcPointX</key>
					<real>267.68233141788096</real>
					<key>srcPointY</key>
					<real>141.36183993563844</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>466.86072782761158</real>
					<key>controlPoint1Y</key>
					<real>190.79074571975886</real>
					<key>controlPoint2X</key>
					<real>727.31133981182688</real>
					<key>controlPoint2Y</key>
					<real>292.4918507656181</real>
					<key>dstPointX</key>
					<real>840.26987726395578</real>
					<key>dstPointY</key>
					<real>372.44531555595279</real>
					<key>srcPointX</key>
					<real>340.18912633675257</real>
					<key>srcPointY</key>
					<real>135.05482291368787</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>299</real>
			<key>y</key>
			<real>127</real>
		</dict>
		<key>First_shot</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>350.95465850121798</real>
					<key>controlPoint1Y</key>
					<real>399.84332660176074</real>
					<key>controlPoint2X</key>
					<real>418.04534149878202</real>
					<key>controlPoint2Y</key>
					<real>362.15667339823926</real>
					<key>dstPointX</key>
					<real>454.25259748546864</real>
					<key>dstPointY</key>
					<real>350.24850920706234</real>
					<key>srcPointX</key>
					<real>314.74740251453136</real>
					<key>srcPointY</key>
					<real>411.75149079293766</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>365.77762155575425</real>
					<key>controlPoint1Y</key>
					<real>342.47952498502502</real>
					<key>controlPoint2X</key>
					<real>471.22237844424581</real>
					<key>controlPoint2Y</key>
					<real>202.52047501497492</real>
					<key>dstPointX</key>
					<real>533.07141014430817</real>
					<key>dstPointY</key>
					<real>141.09362100569788</real>
					<key>srcPointX</key>
					<real>303.92858985569188</real>
					<key>srcPointY</key>
					<real>403.90637899430209</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>272</real>
			<key>y</key>
			<real>418</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>159.50007994118803</real>
					<key>controlPoint1Y</key>
					<real>126.23842753636696</real>
					<key>controlPoint2X</key>
					<real>222.49992005881197</real>
					<key>controlPoint2Y</key>
					<real>126.76157246363306</real>
					<key>dstPointX</key>
					<real>254.0004822453343</real>
					<key>dstPointY</key>
					<real>126.90740839968176</real>
					<key>srcPointX</key>
					<real>127.9995177546657</real>
					<key>srcPointY</key>
					<real>126.09259160031824</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>83</real>
			<key>y</key>
			<real>126</real>
		</dict>
		<key>Second_head</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>572.97394315824317</real>
					<key>controlPoint1Y</key>
					<real>365.57848350015092</real>
					<key>controlPoint2X</key>
					<real>634.02605684175683</real>
					<key>controlPoint2Y</key>
					<real>409.42151649984908</real>
					<key>dstPointX</key>
					<real>668.34104684341332</real>
					<key>dstPointY</key>
					<real>423.43749833151162</real>
					<key>srcPointX</key>
					<real>538.65895315658668</real>
					<key>srcPointY</key>
					<real>351.56250166848838</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>497</real>
			<key>y</key>
			<real>344</real>
		</dict>
		<key>Second_shot</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>659.60897206449795</real>
					<key>controlPoint1Y</key>
					<real>347.91725181702452</real>
					<key>controlPoint2X</key>
					<real>615.39102793550205</real>
					<key>controlPoint2Y</key>
					<real>210.08274818297548</real>
					<key>dstPointX</key>
					<real>584.37293819259901</real>
					<key>dstPointY</key>
					<real>145.05171865302711</real>
					<key>srcPointX</key>
					<real>690.62706180740099</real>
					<key>srcPointY</key>
					<real>412.94828134697286</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>774.52512072709669</real>
					<key>controlPoint1Y</key>
					<real>419.61304790613281</real>
					<key>controlPoint2X</key>
					<real>812.47487927290331</real>
					<key>controlPoint2Y</key>
					<real>395.38695209386719</real>
					<key>dstPointX</key>
					<real>833.68282097668282</real>
					<key>dstPointY</key>
					<real>389.41824993771365</real>
					<key>srcPointX</key>
					<real>753.31717902331718</real>
					<key>srcPointY</key>
					<real>425.58175006228635</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>710</real>
			<key>y</key>
			<real>431</real>
		</dict>
		<key>Third_head</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>874.47762949962203</real>
					<key>controlPoint1Y</key>
					<real>344.03012899401233</real>
					<key>controlPoint2X</key>
					<real>875.52237050037775</real>
					<key>controlPoint2Y</key>
					<real>320.96987100598767</real>
					<key>dstPointX</key>
					<real>874.74625650026155</real>
					<key>dstPointY</key>
					<real>300.98493550299384</real>
					<key>srcPointX</key>
					<real>875.25374349973833</real>
					<key>srcPointY</key>
					<real>364.01506449700616</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>877</real>
			<key>y</key>
			<real>384</real>
		</dict>
		<key>Third_shot</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>773.47038966773403</real>
					<key>controlPoint1Y</key>
					<real>242.4155347213661</real>
					<key>controlPoint2X</key>
					<real>664.52961033226597</real>
					<key>controlPoint2Y</key>
					<real>165.58446527863393</real>
					<key>dstPointX</key>
					<real>605.24922359499624</real>
					<key>dstPointY</key>
					<real>135.94427190999915</real>
					<key>srcPointX</key>
					<real>832.75077640500376</real>
					<key>srcPointY</key>
					<real>272.05572809000085</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>873</real>
			<key>y</key>
			<real>281</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
