<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Ping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>159.09761035978497</real>
					<key>controlPoint1Y</key>
					<real>66.471822689708631</real>
					<key>controlPoint2X</key>
					<real>188.91276873810801</real>
					<key>controlPoint2Y</key>
					<real>66.429470006295972</real>
					<key>dstPointX</key>
					<real>213.63036230350798</real>
					<key>dstPointY</key>
					<real>64.253712177722676</real>
					<key>srcPointX</key>
					<real>134.37771619879808</real>
					<key>srcPointY</key>
					<real>64.322360789021062</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.81739210920779171</real>
				<key>red</key>
				<real>0.71265238078022308</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>89.546875</real>
			<key>y</key>
			<real>62.58984375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Pong</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>190.35515006538083</real>
					<key>controlPoint1Y</key>
					<real>50.748605456028201</real>
					<key>controlPoint2X</key>
					<real>157.62934679976939</real>
					<key>controlPoint2Y</key>
					<real>50.79170131454687</real>
					<key>dstPointX</key>
					<real>133.0073360416358</real>
					<key>dstPointY</key>
					<real>57.403188012632512</real>
					<key>srcPointX</key>
					<real>214.98418022322107</real>
					<key>srcPointY</key>
					<real>57.333895397769936</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.88764002519564011</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.84471532989924014</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>258.45703125</real>
			<key>y</key>
			<real>62.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
