<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Do_Suspend</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>842.19140625</real>
					<key>controlPoint1Y</key>
					<real>266</real>
					<key>controlPoint2X</key>
					<real>842.19140625</real>
					<key>controlPoint2Y</key>
					<real>412</real>
					<key>dstPointX</key>
					<real>842.19140625</real>
					<key>dstPointY</key>
					<real>485</real>
					<key>srcPointX</key>
					<real>842.19140625</real>
					<key>srcPointY</key>
					<real>193</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>806.7578125</real>
					<key>controlPoint1Y</key>
					<real>266.20452531529139</real>
					<key>controlPoint2X</key>
					<real>534.7578125</real>
					<key>controlPoint2Y</key>
					<real>227.96734968470861</real>
					<key>dstPointX</key>
					<real>534.7578125</real>
					<key>dstPointY</key>
					<real>301.140625</real>
					<key>srcPointX</key>
					<real>806.7578125</real>
					<key>srcPointY</key>
					<real>193.03125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>34.5</real>
			<key>onEntryHeight</key>
			<real>34.5</real>
			<key>onExitHeight</key>
			<real>34.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>723.078125</real>
			<key>y</key>
			<real>123.96875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Done</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>34</real>
			<key>onEntryHeight</key>
			<real>56.5</real>
			<key>onExitHeight</key>
			<real>12.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>815.109375</real>
			<key>y</key>
			<real>554.78515625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Done_Suspending</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>34</real>
			<key>onEntryHeight</key>
			<real>35</real>
			<key>onExitHeight</key>
			<real>34.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>638.0390625</real>
			<key>y</key>
			<real>370.859375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Error</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>34</real>
			<key>onEntryHeight</key>
			<real>35</real>
			<key>onExitHeight</key>
			<real>34.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>415.12890625</real>
			<key>y</key>
			<real>538.2890625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>433.31961473345689</real>
					<key>controlPoint1Y</key>
					<real>97.429396502221621</real>
					<key>controlPoint2X</key>
					<real>525.88593609638042</real>
					<key>controlPoint2Y</key>
					<real>89.4375</real>
					<key>dstPointX</key>
					<real>577.921875</real>
					<key>dstPointY</key>
					<real>89.4375</real>
					<key>srcPointX</key>
					<real>381.31014072443344</real>
					<key>srcPointY</key>
					<real>99.088779184410299</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>414.19530325766277</real>
					<key>controlPoint1Y</key>
					<real>266.94827200235733</real>
					<key>controlPoint2X</key>
					<real>378.3984375</real>
					<key>controlPoint2Y</key>
					<real>401.87551033201646</real>
					<key>dstPointX</key>
					<real>378.3984375</real>
					<key>dstPointY</key>
					<real>468.26953125</real>
					<key>srcPointX</key>
					<real>373.20951110270994</real>
					<key>srcPointY</key>
					<real>214.71484539555081</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>35.5</real>
			<key>onEntryHeight</key>
			<real>34</real>
			<key>onExitHeight</key>
			<real>34</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>237.6796875</real>
			<key>y</key>
			<real>149.2734375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>42.86328125</real>
					<key>controlPoint1Y</key>
					<real>55.90234375</real>
					<key>controlPoint2X</key>
					<real>63.13671875</real>
					<key>controlPoint2Y</key>
					<real>69.5234375</real>
					<key>dstPointX</key>
					<real>94.982146912795599</real>
					<key>dstPointY</key>
					<real>89.255390499038</real>
					<key>srcPointX</key>
					<real>42.86328125</real>
					<key>srcPointY</key>
					<real>55.90234375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>43.1796875</real>
			<key>y</key>
			<real>55.2734375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>35</real>
			<key>onEntryHeight</key>
			<real>34.5</real>
			<key>onExitHeight</key>
			<real>34</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>209.25</real>
			<key>y</key>
			<real>335.1953125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
