<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>DOOR_CLOSED</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>528.36029861479051</real>
					<key>controlPoint1Y</key>
					<real>151.34969140173718</real>
					<key>controlPoint2X</key>
					<real>453.70382785658472</real>
					<key>controlPoint2Y</key>
					<real>123.19749427473717</real>
					<key>dstPointX</key>
					<real>405.66672908683472</real>
					<key>dstPointY</key>
					<real>124.85505567601619</real>
					<key>srcPointX</key>
					<real>570.79042717413563</real>
					<key>srcPointY</key>
					<real>173.932750504772</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>610.51431052025418</real>
			<key>y</key>
			<real>183.32949900366251</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>DOOR_OPEN</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>448.56916866451502</real>
					<key>controlPoint1Y</key>
					<real>146.40228883335482</real>
					<key>controlPoint2X</key>
					<real>519.0085774285152</real>
					<key>controlPoint2Y</key>
					<real>173.92012138297889</real>
					<key>dstPointX</key>
					<real>565.95484661707837</real>
					<key>dstPointY</key>
					<real>180.53782968009253</real>
					<key>srcPointX</key>
					<real>403.48527177874502</real>
					<key>srcPointY</key>
					<real>131.73298430232893</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>360.69349491087468</real>
			<key>y</key>
			<real>125.54476239547451</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>223.12276932106897</real>
					<key>controlPoint1Y</key>
					<real>457.27623097240513</real>
					<key>controlPoint2X</key>
					<real>370.12276932106897</real>
					<key>controlPoint2Y</key>
					<real>145.27623097240513</real>
					<key>dstPointX</key>
					<real>362</real>
					<key>dstPointY</key>
					<real>127</real>
					<key>srcPointX</key>
					<real>215</real>
					<key>srcPointY</key>
					<real>439</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>223.12276932106897</real>
					<key>controlPoint1Y</key>
					<real>457.27623097240513</real>
					<key>controlPoint2X</key>
					<real>620.12276932106897</real>
					<key>controlPoint2Y</key>
					<real>202.27623097240513</real>
					<key>dstPointX</key>
					<real>612</real>
					<key>dstPointY</key>
					<real>184</real>
					<key>srcPointX</key>
					<real>215</real>
					<key>srcPointY</key>
					<real>439</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>239</real>
			<key>internalHeight</key>
			<real>28</real>
			<key>onEntryHeight</key>
			<real>136</real>
			<key>onExitHeight</key>
			<real>28</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>474</real>
			<key>x</key>
			<real>401</real>
			<key>y</key>
			<real>532.5</real>
			<key>zoomedInternalHeight</key>
			<real>265</real>
			<key>zoomedOnEntryHeight</key>
			<real>274</real>
			<key>zoomedOnExitHeight</key>
			<real>266</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
