<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>DOOR_CLOSED</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>627.84598809453632</real>
					<key>controlPoint1Y</key>
					<real>37.02019239807467</real>
					<key>controlPoint2X</key>
					<real>179.01033294571005</real>
					<key>controlPoint2Y</key>
					<real>126.65273187926266</real>
					<key>dstPointX</key>
					<real>130.97323417596004</real>
					<key>dstPointY</key>
					<real>128.31029328054169</real>
					<key>srcPointX</key>
					<real>670.27611665388145</real>
					<key>srcPointY</key>
					<real>59.603251501109497</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>275</real>
			<key>internalHeight</key>
			<real>71</real>
			<key>onEntryHeight</key>
			<real>122</real>
			<key>onExitHeight</key>
			<real>35</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>506</real>
			<key>x</key>
			<real>912.73828125</real>
			<key>y</key>
			<real>181.5</real>
			<key>zoomedInternalHeight</key>
			<real>270</real>
			<key>zoomedOnEntryHeight</key>
			<real>279</real>
			<key>zoomedOnExitHeight</key>
			<real>271</real>
		</dict>
		<key>DOOR_OPEN</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>173.87567375364034</real>
					<key>controlPoint1Y</key>
					<real>149.85752643788032</real>
					<key>controlPoint2X</key>
					<real>618.49426690826101</real>
					<key>controlPoint2Y</key>
					<real>59.590622379316386</real>
					<key>dstPointX</key>
					<real>665.44053609682419</real>
					<key>dstPointY</key>
					<real>66.208330676430023</real>
					<key>srcPointX</key>
					<real>128.79177686787034</real>
					<key>srcPointY</key>
					<real>135.18822190685444</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>328</real>
			<key>internalHeight</key>
			<real>73</real>
			<key>onEntryHeight</key>
			<real>171</real>
			<key>onExitHeight</key>
			<real>37</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>564</real>
			<key>x</key>
			<real>318.26171875</real>
			<key>y</key>
			<real>268</real>
			<key>zoomedInternalHeight</key>
			<real>270</real>
			<key>zoomedOnEntryHeight</key>
			<real>279</real>
			<key>zoomedOnExitHeight</key>
			<real>271</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>678.12276932106897</real>
					<key>controlPoint1Y</key>
					<real>444.27623097240513</real>
					<key>controlPoint2X</key>
					<real>95.429274410194296</real>
					<key>controlPoint2Y</key>
					<real>148.73146857693064</real>
					<key>dstPointX</key>
					<real>87.306505089125324</real>
					<key>dstPointY</key>
					<real>130.45523760452551</real>
					<key>srcPointX</key>
					<real>670</real>
					<key>srcPointY</key>
					<real>426</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>678.12276932106897</real>
					<key>controlPoint1Y</key>
					<real>444.27623097240513</real>
					<key>controlPoint2X</key>
					<real>719.60845880081479</real>
					<key>controlPoint2Y</key>
					<real>87.946731968742625</real>
					<key>dstPointX</key>
					<real>711.48568947974582</real>
					<key>dstPointY</key>
					<real>69.670500996337495</real>
					<key>srcPointX</key>
					<real>670</real>
					<key>srcPointY</key>
					<real>426</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>377</real>
			<key>internalHeight</key>
			<real>45</real>
			<key>onEntryHeight</key>
			<real>222</real>
			<key>onExitHeight</key>
			<real>63</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>474</real>
			<key>x</key>
			<real>856</real>
			<key>y</key>
			<real>588.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
