<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Checker</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>426.97819166788764</real>
					<key>controlPoint1Y</key>
					<real>367.85683903696651</real>
					<key>controlPoint2X</key>
					<real>429.34141924119581</real>
					<key>controlPoint2Y</key>
					<real>431.38156997980838</real>
					<key>dstPointX</key>
					<real>418.15474852624516</real>
					<key>dstPointY</key>
					<real>458.51028525882208</real>
					<key>srcPointX</key>
					<real>414.75075779860674</real>
					<key>srcPointY</key>
					<real>341.1810324822082</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>353.7403926944711</real>
					<key>controlPoint1Y</key>
					<real>283.48847811399202</real>
					<key>controlPoint2X</key>
					<real>356.4513473745879</real>
					<key>controlPoint2Y</key>
					<real>218.11224856925585</real>
					<key>dstPointX</key>
					<real>370.70219600037314</real>
					<key>dstPointY</key>
					<real>193.74493602469724</real>
					<key>srcPointX</key>
					<real>369.98717231050927</real>
					<key>srcPointY</key>
					<real>306.57299152249027</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>396.04296875</real>
			<key>y</key>
			<real>323</real>
		</dict>
		<key>FollowBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>364.48237198800246</real>
					<key>controlPoint1Y</key>
					<real>433.90189249087319</real>
					<key>controlPoint2X</key>
					<real>370.18988883149797</real>
					<key>controlPoint2Y</key>
					<real>369.3884798050118</real>
					<key>dstPointX</key>
					<real>380.4005835067195</real>
					<key>dstPointY</key>
					<real>341.75986367093145</real>
					<key>srcPointX</key>
					<real>378.92904939514455</real>
					<key>srcPointY</key>
					<real>459.5707885935289</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>401</real>
			<key>y</key>
			<real>477</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>104.4755978463738</real>
					<key>controlPoint1Y</key>
					<real>135.9250547265539</real>
					<key>controlPoint2X</key>
					<real>90.524402153626241</real>
					<key>controlPoint2Y</key>
					<real>216.07494527344608</real>
					<key>dstPointX</key>
					<real>93.568747187552731</real>
					<key>dstPointY</key>
					<real>256.00024999531257</real>
					<key>srcPointX</key>
					<real>101.43125281244728</real>
					<key>srcPointY</key>
					<real>95.999750004687399</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.6953125</real>
			<key>y</key>
			<real>76</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>98</real>
			<key>y</key>
			<real>473.04296875</real>
		</dict>
		<key>SeekBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>422.68056525299835</real>
					<key>controlPoint1Y</key>
					<real>219.52591718680048</real>
					<key>controlPoint2X</key>
					<real>435.56755955407618</real>
					<key>controlPoint2Y</key>
					<real>282.19952631733042</real>
					<key>dstPointX</key>
					<real>420.23810328593561</real>
					<key>dstPointY</key>
					<real>306.16130534494835</real>
					<key>srcPointX</key>
					<real>413.35152744232175</real>
					<key>srcPointY</key>
					<real>192.65347522161633</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>398.3046875</real>
			<key>y</key>
			<real>172.91796875</real>
		</dict>
		<key>Walk_Halt</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>194.3087844292111</real>
					<key>controlPoint1Y</key>
					<real>287.41393228086309</real>
					<key>controlPoint2X</key>
					<real>298.69121557078887</real>
					<key>controlPoint2Y</key>
					<real>311.58606771913696</real>
					<key>dstPointX</key>
					<real>351.54585512445334</real>
					<key>dstPointY</key>
					<real>319.8943220971376</real>
					<key>srcPointX</key>
					<real>141.45414487554666</real>
					<key>srcPointY</key>
					<real>279.1056779028624</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.3046875</real>
			<key>y</key>
			<real>276</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
