<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Do_High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>440.90149805408629</real>
					<key>controlPoint1Y</key>
					<real>425.42070966381448</real>
					<key>controlPoint2X</key>
					<real>255.38221976763958</real>
					<key>controlPoint2Y</key>
					<real>229.80523134759338</real>
					<key>dstPointX</key>
					<real>146.93934028566156</real>
					<key>dstPointY</key>
					<real>151.56268468195719</real>
					<key>srcPointX</key>
					<real>544.22862846433839</real>
					<key>srcPointY</key>
					<real>510.30450281804281</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>579</real>
			<key>y</key>
			<real>523</real>
		</dict>
		<key>High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>366.89000611218751</real>
					<key>controlPoint1Y</key>
					<real>439.42295153278644</real>
					<key>controlPoint2X</key>
					<real>478.10999388781249</real>
					<key>controlPoint2Y</key>
					<real>495.57704846721361</real>
					<key>dstPointX</key>
					<real>536.58799704825935</real>
					<key>dstPointY</key>
					<real>516.3152540608545</real>
					<key>srcPointX</key>
					<real>308.41200295174065</real>
					<key>srcPointY</key>
					<real>418.6847459391455</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>266</real>
			<key>y</key>
			<real>412</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>97.81205449149526</real>
					<key>controlPoint1Y</key>
					<real>83.937873543699524</real>
					<key>controlPoint2X</key>
					<real>81.806559723466989</real>
					<key>controlPoint2Y</key>
					<real>103.4539555971414</real>
					<key>dstPointX</key>
					<real>90.991498161764696</real>
					<key>dstPointY</key>
					<real>121.22012867647059</real>
					<key>srcPointX</key>
					<real>87.47725183823529</real>
					<key>srcPointY</key>
					<real>66.81502757352942</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>65.95703125</real>
			<key>y</key>
			<real>51.26171875</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>117.6953125</real>
			<key>y</key>
			<real>422.9140625</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>167.28381410392461</real>
					<key>controlPoint1Y</key>
					<real>212.8148713564629</real>
					<key>controlPoint2X</key>
					<real>211.95098476499973</real>
					<key>controlPoint2Y</key>
					<real>337.44070853980804</real>
					<key>dstPointX</key>
					<real>243.98639303275061</real>
					<key>dstPointY</key>
					<real>394.55646933296907</real>
					<key>srcPointX</key>
					<real>134.18157571724936</real>
					<key>srcPointY</key>
					<real>156.31071816703093</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>114.26171875</real>
			<key>y</key>
			<real>141.3046875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
