<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Do_High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>440.59361859323121</real>
					<key>controlPoint1Y</key>
					<real>425.16778503145611</real>
					<key>controlPoint2X</key>
					<real>257.8718365675029</real>
					<key>controlPoint2Y</key>
					<real>224.1619297358796</real>
					<key>dstPointX</key>
					<real>145.89246528566156</real>
					<key>dstPointY</key>
					<real>150.34393468195719</real>
					<key>srcPointX</key>
					<real>544.22862846433839</real>
					<key>srcPointY</key>
					<real>510.30450281804281</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>579</real>
			<key>y</key>
			<real>523</real>
		</dict>
		<key>High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>366.89000611218751</real>
					<key>controlPoint1Y</key>
					<real>439.42295153278644</real>
					<key>controlPoint2X</key>
					<real>478.10999388781249</real>
					<key>controlPoint2Y</key>
					<real>495.57704846721361</real>
					<key>dstPointX</key>
					<real>536.58799704825935</real>
					<key>dstPointY</key>
					<real>516.3152540608545</real>
					<key>srcPointX</key>
					<real>308.41200295174065</real>
					<key>srcPointY</key>
					<real>418.6847459391455</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>266</real>
			<key>y</key>
			<real>412</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>98.566863030003915</real>
					<key>controlPoint1Y</key>
					<real>82.525331227674798</real>
					<key>controlPoint2X</key>
					<real>80.870240178931851</real>
					<key>controlPoint2Y</key>
					<real>102.17848403275815</real>
					<key>dstPointX</key>
					<real>89.944623161764696</real>
					<key>dstPointY</key>
					<real>120.00137867647059</real>
					<key>srcPointX</key>
					<real>87.64912683823529</real>
					<key>srcPointY</key>
					<real>65.76815257352942</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>65.95703125</real>
			<key>y</key>
			<real>51.26171875</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>117.6953125</real>
			<key>y</key>
			<real>422.9140625</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>167.17043266092048</real>
					<key>controlPoint1Y</key>
					<real>211.49047321308774</real>
					<key>controlPoint2X</key>
					<real>211.76200708402735</real>
					<key>controlPoint2Y</key>
					<real>337.10378122702178</real>
					<key>dstPointX</key>
					<real>243.98639303275061</real>
					<key>dstPointY</key>
					<real>394.55646933296907</real>
					<key>srcPointX</key>
					<real>133.13470071724936</real>
					<key>srcPointY</key>
					<real>155.09196816703093</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>114.26171875</real>
			<key>y</key>
			<real>141.3046875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
