<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>164.04340148302674</real>
					<key>controlPoint1Y</key>
					<real>129.00733494849587</real>
					<key>controlPoint2X</key>
					<real>236.78663516572266</real>
					<key>controlPoint2Y</key>
					<real>129.51527763197791</real>
					<key>dstPointX</key>
					<real>273.00304131961803</real>
					<key>dstPointY</key>
					<real>127.23252113287593</real>
					<key>srcPointX</key>
					<real>127.80705919102596</real>
					<key>srcPointY</key>
					<real>127.06657498521929</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>83.04296875</real>
			<key>y</key>
			<real>126</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>389.48703886384658</real>
					<key>controlPoint1Y</key>
					<real>172.50192332081656</real>
					<key>controlPoint2X</key>
					<real>510.08168028427747</real>
					<key>controlPoint2Y</key>
					<real>168.14356632788935</real>
					<key>dstPointX</key>
					<real>547.20280856236798</real>
					<key>dstPointY</key>
					<real>137.1646414016565</real>
					<key>srcPointX</key>
					<real>353.3583324815441</real>
					<key>srcPointY</key>
					<real>140.37111988602834</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>317</real>
			<key>y</key>
			<real>126</real>
		</dict>
		<key>Ready</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>510.70703961065101</real>
					<key>controlPoint1Y</key>
					<real>78.024779148758711</real>
					<key>controlPoint2X</key>
					<real>387.44446190215757</real>
					<key>controlPoint2Y</key>
					<real>82.284752851415803</real>
					<key>dstPointX</key>
					<real>349.74481997303138</real>
					<key>dstPointY</key>
					<real>113.82461598139128</real>
					<key>srcPointX</key>
					<real>546.81393111512477</real>
					<key>srcPointY</key>
					<real>111.37621620514471</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>579.53125</real>
			<key>y</key>
			<real>125.27734375</real>
		</dict>
	</dict>
</dict>
</plist>
