<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Finished</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>173.0975283239539</real>
					<key>controlPoint1Y</key>
					<real>401.27504308532764</real>
					<key>controlPoint2X</key>
					<real>133.56069613051136</real>
					<key>controlPoint2Y</key>
					<real>146.63058154419502</real>
					<key>dstPointX</key>
					<real>205.85714757984789</real>
					<key>dstPointY</key>
					<real>71.788689001259229</real>
					<key>srcPointX</key>
					<real>98.260848678782352</real>
					<key>srcPointY</key>
					<real>473.57689058081422</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>67</real>
			<key>y</key>
			<real>487</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>132.94738638505387</real>
					<key>controlPoint1Y</key>
					<real>62.212417437583944</real>
					<key>controlPoint2X</key>
					<real>176.04952658991076</real>
					<key>controlPoint2Y</key>
					<real>64.588107474756441</real>
					<key>dstPointX</key>
					<real>197.00304131961803</real>
					<key>dstPointY</key>
					<real>60.529396132875931</real>
					<key>srcPointX</key>
					<real>111.63518419102596</real>
					<key>srcPointY</key>
					<real>61.06657498521929</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>67</real>
			<key>y</key>
			<real>60</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>365.45550845218611</real>
					<key>controlPoint1Y</key>
					<real>157.61228745207433</real>
					<key>controlPoint2X</key>
					<real>669.54557070489125</real>
					<key>controlPoint2Y</key>
					<real>144.52110494855083</real>
					<key>dstPointX</key>
					<real>764.20671481236798</real>
					<key>dstPointY</key>
					<real>68.055266401656496</real>
					<key>srcPointX</key>
					<real>277.3583324815441</real>
					<key>srcPointY</key>
					<real>73.667994886028339</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>238</real>
			<key>y</key>
			<real>56.703125</real>
		</dict>
		<key>OurGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>564.94229461243071</real>
					<key>controlPoint1Y</key>
					<real>191.56192285380428</real>
					<key>controlPoint2X</key>
					<real>746.52759257124501</real>
					<key>controlPoint2Y</key>
					<real>142.16802386681525</real>
					<key>dstPointX</key>
					<real>776.5881588480089</real>
					<key>dstPointY</key>
					<real>75.223526705478719</real>
					<key>srcPointX</key>
					<real>501.25257954020788</real>
					<key>srcPointY</key>
					<real>228.01495481388935</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>462</real>
			<key>y</key>
			<real>238.30078125</real>
		</dict>
		<key>Penalized</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>189.85747189385765</real>
					<key>controlPoint1Y</key>
					<real>271.12397027382042</real>
					<key>controlPoint2X</key>
					<real>391.08315308623099</real>
					<key>controlPoint2Y</key>
					<real>493.19459490305195</real>
					<key>dstPointX</key>
					<real>456.7648589379225</real>
					<key>dstPointY</key>
					<real>537.76914066071947</real>
					<key>srcPointX</key>
					<real>268.47222957799448</real>
					<key>srcPointY</key>
					<real>282.1101655822506</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>315</real>
			<key>y</key>
			<real>285</real>
		</dict>
		<key>Play</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>362.37916706868759</real>
					<key>controlPoint1Y</key>
					<real>517.63912586479728</real>
					<key>controlPoint2X</key>
					<real>118.08551606020926</real>
					<key>controlPoint2Y</key>
					<real>592.11416274589362</real>
					<key>dstPointX</key>
					<real>84.273475842711278</real>
					<key>dstPointY</key>
					<real>506.45019748952524</real>
					<key>srcPointX</key>
					<real>450.79697493270311</real>
					<key>srcPointY</key>
					<real>543.40461168664865</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>529.93496306125257</real>
					<key>controlPoint1Y</key>
					<real>462.03272116410977</real>
					<key>controlPoint2X</key>
					<real>364.75837397488129</real>
					<key>controlPoint2Y</key>
					<real>367.66088321122311</real>
					<key>dstPointX</key>
					<real>334.23136916308289</real>
					<key>dstPointY</key>
					<real>303.08159525417892</real>
					<key>srcPointX</key>
					<real>507.88868818023599</real>
					<key>srcPointY</key>
					<real>529.97640534217783</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>595.27003018273842</real>
					<key>controlPoint1Y</key>
					<real>502.16937034986501</real>
					<key>controlPoint2X</key>
					<real>577.02682571977755</real>
					<key>controlPoint2Y</key>
					<real>255.12937172424819</real>
					<key>dstPointX</key>
					<real>505.83323723336571</real>
					<key>dstPointY</key>
					<real>241.68022835522322</real>
					<key>srcPointX</key>
					<real>532.79985680336756</real>
					<key>srcPointY</key>
					<real>538.86928774601847</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>587.42498287354283</real>
					<key>controlPoint1Y</key>
					<real>419.70935891368964</real>
					<key>controlPoint2X</key>
					<real>760.62274004582457</real>
					<key>controlPoint2Y</key>
					<real>206.27496617508325</real>
					<key>dstPointX</key>
					<real>786.26826058627807</real>
					<key>dstPointY</key>
					<real>76.6198776845754</real>
					<key>srcPointX</key>
					<real>517.7297156978367</real>
					<key>srcPointY</key>
					<real>532.00675170879947</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>494</real>
			<key>y</key>
			<real>549</real>
		</dict>
		<key>Ready</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>679.89153923764252</real>
					<key>controlPoint1Y</key>
					<real>-46.95480312640133</real>
					<key>controlPoint2X</key>
					<real>377.76591289192356</real>
					<key>controlPoint2Y</key>
					<real>-17.560326885511074</real>
					<key>dstPointX</key>
					<real>273.74481997303138</real>
					<key>dstPointY</key>
					<real>47.121490981391275</real>
					<key>srcPointX</key>
					<real>763.81783736512477</real>
					<key>srcPointY</key>
					<real>42.266841205144715</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>796.08926907291186</real>
					<key>controlPoint1Y</key>
					<real>184.51741993919978</real>
					<key>controlPoint2X</key>
					<real>953.97777284398967</real>
					<key>controlPoint2Y</key>
					<real>401.27450578329149</real>
					<key>dstPointX</key>
					<real>899.85647936960959</real>
					<key>dstPointY</key>
					<real>494.50151660231944</real>
					<key>srcPointX</key>
					<real>795.31764702965143</real>
					<key>srcPointY</key>
					<real>76.722269060259606</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>794.87109375</real>
			<key>y</key>
			<real>57</real>
		</dict>
		<key>Set</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>758.09845595173022</real>
					<key>controlPoint1Y</key>
					<real>520.16979029615743</real>
					<key>controlPoint2X</key>
					<real>610.79216783053721</real>
					<key>controlPoint2Y</key>
					<real>531.38153261745549</real>
					<key>dstPointX</key>
					<real>538.20085362237614</real>
					<key>dstPointY</key>
					<real>545.24754792127635</real>
					<key>srcPointX</key>
					<real>831.7231695717453</real>
					<key>srcPointY</key>
					<real>513.75365257596036</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>877.453125</real>
			<key>y</key>
			<real>512.40234375</real>
		</dict>
	</dict>
</dict>
</plist>
