<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Finished</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>172.99440831060886</real>
					<key>controlPoint1Y</key>
					<real>401.3746702669979</real>
					<key>controlPoint2X</key>
					<real>135.14290747293649</real>
					<key>controlPoint2Y</key>
					<real>148.02547413639635</real>
					<key>dstPointX</key>
					<real>205.85714757984789</real>
					<key>dstPointY</key>
					<real>71.882439001259229</real>
					<key>srcPointX</key>
					<real>98.260848678782352</real>
					<key>srcPointY</key>
					<real>473.57689058081422</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>67</real>
			<key>y</key>
			<real>487</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>132.94645371046016</real>
					<key>controlPoint1Y</key>
					<real>62.212367292688825</real>
					<key>controlPoint2X</key>
					<real>176.18728314799324</real>
					<key>controlPoint2Y</key>
					<real>65.333481607367901</real>
					<key>dstPointX</key>
					<real>197.00304131961803</real>
					<key>dstPointY</key>
					<real>60.623146132875931</real>
					<key>srcPointX</key>
					<real>111.63518419102596</real>
					<key>srcPointY</key>
					<real>61.06657498521929</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>67</real>
			<key>y</key>
			<real>60</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>364.02084423650604</real>
					<key>controlPoint1Y</key>
					<real>159.28058342029914</real>
					<key>controlPoint2X</key>
					<real>670.06742320573051</real>
					<key>controlPoint2Y</key>
					<real>144.95162147919089</real>
					<key>dstPointX</key>
					<real>764.46452731236798</real>
					<key>dstPointY</key>
					<real>68.055266401656496</real>
					<key>srcPointX</key>
					<real>277.3583324815441</real>
					<key>srcPointY</key>
					<real>73.761744886028339</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>238</real>
			<key>y</key>
			<real>56.703125</real>
		</dict>
		<key>OurGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>568.54541624188244</real>
					<key>controlPoint1Y</key>
					<real>187.07769542900331</real>
					<key>controlPoint2X</key>
					<real>744.97912708233901</real>
					<key>controlPoint2Y</key>
					<real>147.19841293658067</real>
					<key>dstPointX</key>
					<real>776.8459713480089</real>
					<key>dstPointY</key>
					<real>75.223526705478719</real>
					<key>srcPointX</key>
					<real>501.25257954020788</real>
					<key>srcPointY</key>
					<real>227.91339231388935</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>462</real>
			<key>y</key>
			<real>238.30078125</real>
		</dict>
		<key>Penalized</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>189.85747189385765</real>
					<key>controlPoint1Y</key>
					<real>271.12397027382042</real>
					<key>controlPoint2X</key>
					<real>391.08315308623099</real>
					<key>controlPoint2Y</key>
					<real>493.19459490305195</real>
					<key>dstPointX</key>
					<real>456.7648589379225</real>
					<key>dstPointY</key>
					<real>537.76914066071947</real>
					<key>srcPointX</key>
					<real>268.47222957799448</real>
					<key>srcPointY</key>
					<real>282.1101655822506</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>315</real>
			<key>y</key>
			<real>285</real>
		</dict>
		<key>Play</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>362.37916706868759</real>
					<key>controlPoint1Y</key>
					<real>517.63912586479728</real>
					<key>controlPoint2X</key>
					<real>118.08551606020926</real>
					<key>controlPoint2Y</key>
					<real>592.11416274589362</real>
					<key>dstPointX</key>
					<real>84.273475842711278</real>
					<key>dstPointY</key>
					<real>506.45019748952524</real>
					<key>srcPointX</key>
					<real>450.79697493270311</real>
					<key>srcPointY</key>
					<real>543.40461168664865</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>529.93496306125257</real>
					<key>controlPoint1Y</key>
					<real>462.03272116410977</real>
					<key>controlPoint2X</key>
					<real>364.75837397488129</real>
					<key>controlPoint2Y</key>
					<real>367.66088321122311</real>
					<key>dstPointX</key>
					<real>334.23136916308289</real>
					<key>dstPointY</key>
					<real>303.08159525417892</real>
					<key>srcPointX</key>
					<real>507.88868818023599</real>
					<key>srcPointY</key>
					<real>529.97640534217783</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>560.19992973595151</real>
					<key>controlPoint1Y</key>
					<real>472.18760198090609</real>
					<key>controlPoint2X</key>
					<real>577.78649949595365</real>
					<key>controlPoint2Y</key>
					<real>252.94949191743896</real>
					<key>dstPointX</key>
					<real>505.83323723336571</real>
					<key>dstPointY</key>
					<real>241.57866585522322</real>
					<key>srcPointX</key>
					<real>519.27868569034308</real>
					<key>srcPointY</key>
					<real>532.45383980380063</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>644.73811009806218</real>
					<key>controlPoint1Y</key>
					<real>469.68481403515659</real>
					<key>controlPoint2X</key>
					<real>761.68099860616837</real>
					<key>controlPoint2Y</key>
					<real>206.04971422739345</real>
					<key>dstPointX</key>
					<real>786.52607308627807</real>
					<key>dstPointY</key>
					<real>76.6198776845754</real>
					<key>srcPointX</key>
					<real>532.36814795545399</real>
					<key>srcPointY</key>
					<real>538.54955045004158</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>494</real>
			<key>y</key>
			<real>549</real>
		</dict>
		<key>Ready</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>680.47468699196168</real>
					<key>controlPoint1Y</key>
					<real>-47.349887233526644</real>
					<key>controlPoint2X</key>
					<real>379.55617718861822</real>
					<key>controlPoint2Y</key>
					<real>-14.625164042881075</real>
					<key>dstPointX</key>
					<real>273.74481997303138</real>
					<key>dstPointY</key>
					<real>47.215240981391275</real>
					<key>srcPointX</key>
					<real>764.07564986512477</real>
					<key>srcPointY</key>
					<real>42.266841205144715</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>796.96982643659328</real>
					<key>controlPoint1Y</key>
					<real>184.24534453907387</real>
					<key>controlPoint2X</key>
					<real>950.02922206709741</real>
					<key>controlPoint2Y</key>
					<real>399.30256416917695</real>
					<key>dstPointX</key>
					<real>899.45022936960959</real>
					<key>dstPointY</key>
					<real>494.19682910231944</real>
					<key>srcPointX</key>
					<real>795.57545952965143</real>
					<key>srcPointY</key>
					<real>76.722269060259606</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>794.87109375</real>
			<key>y</key>
			<real>57</real>
		</dict>
		<key>Set</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>757.695609746184</real>
					<key>controlPoint1Y</key>
					<real>516.85268165900118</real>
					<key>controlPoint2X</key>
					<real>610.59197977880149</real>
					<key>controlPoint2Y</key>
					<real>531.41977149795082</real>
					<key>dstPointX</key>
					<real>538.20085362237614</real>
					<key>dstPointY</key>
					<real>545.24754792127635</real>
					<key>srcPointX</key>
					<real>831.3169195717453</real>
					<key>srcPointY</key>
					<real>513.44896507596036</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>877.453125</real>
			<key>y</key>
			<real>512.40234375</real>
		</dict>
	</dict>
</dict>
</plist>
