<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>120.98716688082024</real>
					<key>controlPoint1Y</key>
					<real>110.33883386322935</real>
					<key>controlPoint2X</key>
					<real>250.4930003256847</real>
					<key>controlPoint2Y</key>
					<real>116.09040268875526</real>
					<key>dstPointX</key>
					<real>306.77873280861104</real>
					<key>dstPointY</key>
					<real>121.91880981815159</real>
					<key>srcPointX</key>
					<real>87.86397058823529</real>
					<key>srcPointY</key>
					<real>64.45955882352942</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>65.95703125</real>
			<key>y</key>
			<real>51.26171875</real>
		</dict>
		<key>Loop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>480.43778669492627</real>
					<key>controlPoint1Y</key>
					<real>125.61827214024086</real>
					<key>controlPoint2X</key>
					<real>-78.265363487163086</real>
					<key>controlPoint2Y</key>
					<real>19.398751800824428</real>
					<key>dstPointX</key>
					<real>5.1516306269089682</real>
					<key>dstPointY</key>
					<real>23.919710524858971</real>
					<key>srcPointX</key>
					<real>396.90858274751787</real>
					<key>srcPointY</key>
					<real>124.31210877993026</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>352.04296875</real>
			<key>y</key>
			<real>124</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>71.95703125</real>
			<key>y</key>
			<real>515.26171875</real>
		</dict>
		<key>UpdateHead</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>-21.904408750778543</real>
					<key>controlPoint1Y</key>
					<real>124.31427587744668</real>
					<key>controlPoint2X</key>
					<real>409.85680644527912</real>
					<key>controlPoint2Y</key>
					<real>229.34196544715229</real>
					<key>dstPointX</key>
					<real>370.50721354159606</real>
					<key>dstPointY</key>
					<real>142.21297724473985</real>
					<key>srcPointX</key>
					<real>27.002231033583485</real>
					<key>srcPointY</key>
					<real>42.168115700209142</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>775.95703125</real>
			<key>y</key>
			<real>126</real>
		</dict>
	</dict>
</dict>
</plist>
