<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>145.74302172896802</real>
					<key>controlPoint1Y</key>
					<real>79.702567261155522</real>
					<key>controlPoint2X</key>
					<real>58.132238439217616</real>
					<key>controlPoint2Y</key>
					<real>231.57490236349526</real>
					<key>dstPointX</key>
					<real>100.15183187817058</real>
					<key>dstPointY</key>
					<real>242.79587603279947</real>
					<key>srcPointX</key>
					<real>103.60207437182939</real>
					<key>srcPointY</key>
					<real>68.946311467200545</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>60</real>
			<key>y</key>
			<real>64</real>
		</dict>
		<key>Loop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>221.29749972142287</real>
					<key>controlPoint1Y</key>
					<real>167.61548903266186</real>
					<key>controlPoint2X</key>
					<real>433.98100693237126</real>
					<key>controlPoint2Y</key>
					<real>178.05902010700993</real>
					<key>dstPointX</key>
					<real>497.08780918308423</real>
					<key>dstPointY</key>
					<real>229.38107294683934</real>
					<key>srcPointX</key>
					<real>171.65187926659982</real>
					<key>srcPointY</key>
					<real>232.0494394599055</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>144.08203125</real>
			<key>y</key>
			<real>248.0859375</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>66</real>
			<key>y</key>
			<real>528</real>
		</dict>
		<key>UpdateHead</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>444.0212871992336</real>
					<key>controlPoint1Y</key>
					<real>314.46706178994623</real>
					<key>controlPoint2X</key>
					<real>234.5907038513499</real>
					<key>controlPoint2Y</key>
					<real>317.84139989432521</real>
					<key>dstPointX</key>
					<real>176.0510973711971</real>
					<key>dstPointY</key>
					<real>261.66891955793466</real>
					<key>srcPointX</key>
					<real>500.61165571096956</real>
					<key>srcPointY</key>
					<real>256.33133038748383</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>532</real>
			<key>y</key>
			<real>242</real>
		</dict>
	</dict>
</dict>
</plist>
