<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>154.12528173839158</real>
					<key>controlPoint1Y</key>
					<real>81.842095165658748</real>
					<key>controlPoint2X</key>
					<real>49.874718261608393</real>
					<key>controlPoint2Y</key>
					<real>230.15790483434134</real>
					<key>dstPointX</key>
					<real>100.39792562817058</real>
					<key>dstPointY</key>
					<real>243.05368853279947</real>
					<key>srcPointX</key>
					<real>103.60207437182939</real>
					<key>srcPointY</key>
					<real>68.946311467200545</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>60</real>
			<key>y</key>
			<real>64</real>
		</dict>
		<key>Loop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>222.30077610455115</real>
					<key>controlPoint1Y</key>
					<real>168.51564243931654</real>
					<key>controlPoint2X</key>
					<real>434.01253564737073</real>
					<key>controlPoint2Y</key>
					<real>178.08466105726353</real>
					<key>dstPointX</key>
					<real>497.08780918308423</real>
					<key>dstPointY</key>
					<real>229.38107294683934</real>
					<key>srcPointX</key>
					<real>171.89797301659982</real>
					<key>srcPointY</key>
					<real>232.3072519599055</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>144.08203125</real>
			<key>y</key>
			<real>248.0859375</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>66</real>
			<key>y</key>
			<real>528</real>
		</dict>
		<key>UpdateHead</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>444.04938328618397</real>
					<key>controlPoint1Y</key>
					<real>314.43819845847543</real>
					<key>controlPoint2X</key>
					<real>234.49721932054828</real>
					<key>controlPoint2Y</key>
					<real>318.39314239602862</real>
					<key>dstPointX</key>
					<real>176.2971911211971</real>
					<key>dstPointY</key>
					<real>261.92673205793466</real>
					<key>srcPointX</key>
					<real>500.61165571096956</real>
					<key>srcPointY</key>
					<real>256.33133038748383</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>532</real>
			<key>y</key>
			<real>242</real>
		</dict>
	</dict>
</dict>
</plist>
