<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>94.760027520767053</real>
					<key>controlPoint1Y</key>
					<real>117.39881256796149</real>
					<key>controlPoint2X</key>
					<real>109.2399724792329</real>
					<key>controlPoint2Y</key>
					<real>194.60118743203856</real>
					<key>dstPointX</key>
					<real>125.31184426846592</real>
					<key>dstPointY</key>
					<real>229.80623992273934</real>
					<key>srcPointX</key>
					<real>78.688155731534067</real>
					<key>srcPointY</key>
					<real>82.193760077260677</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.91616586538461542</real>
				<key>green</key>
				<real>0.91616586538461542</real>
				<key>red</key>
				<real>0.91616586538461542</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>60</real>
			<key>y</key>
			<real>64</real>
		</dict>
		<key>Loop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>267.06327947551932</real>
					<key>controlPoint1Y</key>
					<real>244.33453395828332</real>
					<key>controlPoint2X</key>
					<real>451.41962946438593</real>
					<key>controlPoint2Y</key>
					<real>316.68473864972214</real>
					<key>dstPointX</key>
					<real>502.64666100047958</real>
					<key>dstPointY</key>
					<real>257.15927937033939</real>
					<key>srcPointX</key>
					<real>188.58446422802768</real>
					<key>srcPointY</key>
					<real>247.26107112214413</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>144.08203125</real>
			<key>y</key>
			<real>248.0859375</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>120.95703125</real>
			<key>y</key>
			<real>340</real>
		</dict>
		<key>UpdateHead</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>424.78979121189712</real>
					<key>controlPoint1Y</key>
					<real>190.87107921979316</real>
					<key>controlPoint2X</key>
					<real>226.60296319207654</real>
					<key>controlPoint2Y</key>
					<real>172.80130983488232</real>
					<key>dstPointX</key>
					<real>173.9667912937947</real>
					<key>dstPointY</key>
					<real>232.81474986331131</real>
					<key>srcPointX</key>
					<real>493.35050401560517</real>
					<key>srcPointY</key>
					<real>231.75638508875767</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>532</real>
			<key>y</key>
			<real>242</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
