<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>94.748955327147215</real>
					<key>controlPoint1Y</key>
					<real>117.37455919146089</real>
					<key>controlPoint2X</key>
					<real>111.09577839200294</real>
					<key>controlPoint2Y</key>
					<real>194.44955147195947</real>
					<key>dstPointX</key>
					<real>127.14778176846592</real>
					<key>dstPointY</key>
					<real>229.63436492273934</real>
					<key>srcPointX</key>
					<real>78.688155731534067</real>
					<key>srcPointY</key>
					<real>82.193760077260677</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.91616586538461542</real>
				<key>green</key>
				<real>0.91616586538461542</real>
				<key>red</key>
				<real>0.91616586538461542</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>60</real>
			<key>y</key>
			<real>64</real>
		</dict>
		<key>Loop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>268.91262692654055</real>
					<key>controlPoint1Y</key>
					<real>243.46800415403379</real>
					<key>controlPoint2X</key>
					<real>451.3920054741601</real>
					<key>controlPoint2Y</key>
					<real>316.71683753689194</real>
					<key>dstPointX</key>
					<real>502.64666100047958</real>
					<key>dstPointY</key>
					<real>257.15927937033939</real>
					<key>srcPointX</key>
					<real>190.42040172802768</real>
					<key>srcPointY</key>
					<real>247.08919612214413</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>48</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>96</real>
			<key>x</key>
			<real>143</real>
			<key>y</key>
			<real>247</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>120.95703125</real>
			<key>y</key>
			<real>340</real>
		</dict>
		<key>UpdateHead</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>424.75468629514944</real>
					<key>controlPoint1Y</key>
					<real>190.85014485082235</real>
					<key>controlPoint2X</key>
					<real>227.9661930088086</real>
					<key>controlPoint2Y</key>
					<real>172.16412074063919</real>
					<key>dstPointX</key>
					<real>175.8027287937947</real>
					<key>dstPointY</key>
					<real>232.64287486331131</real>
					<key>srcPointX</key>
					<real>493.35050401560517</real>
					<key>srcPointY</key>
					<real>231.75638508875767</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>532</real>
			<key>y</key>
			<real>242</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
