<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>ChangeKickoff</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>371.61362960198551</real>
					<key>controlPoint1Y</key>
					<real>106.00270313342071</real>
					<key>controlPoint2X</key>
					<real>421.03256277483013</real>
					<key>controlPoint2Y</key>
					<real>130.16636929668732</real>
					<key>dstPointX</key>
					<real>408.78910849739941</real>
					<key>dstPointY</key>
					<real>165.80691766755157</real>
					<key>srcPointX</key>
					<real>384.79394864019355</real>
					<key>srcPointY</key>
					<real>70.697886877412486</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>400.5</real>
			<key>y</key>
			<real>51.9609375</real>
		</dict>
		<key>ChangeTeam</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>247.0899766816724</real>
					<key>controlPoint1Y</key>
					<real>114.77165666620533</real>
					<key>controlPoint2X</key>
					<real>330.82614602555645</real>
					<key>controlPoint2Y</key>
					<real>144.19256889252043</real>
					<key>dstPointX</key>
					<real>362.14950417284143</real>
					<key>dstPointY</key>
					<real>170.53470715728136</real>
					<key>srcPointX</key>
					<real>225.80200687670822</real>
					<key>srcPointY</key>
					<real>79.816208513366547</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>205.5</real>
			<key>y</key>
			<real>65.0390625</real>
		</dict>
		<key>Finished</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>43.615707739656216</real>
					<key>controlPoint1Y</key>
					<real>407.01015530477218</real>
					<key>controlPoint2X</key>
					<real>79.404603251571388</real>
					<key>controlPoint2Y</key>
					<real>393.17900119460813</real>
					<key>dstPointX</key>
					<real>102.60896654156262</real>
					<key>dstPointY</key>
					<real>295.45038933647487</real>
					<key>srcPointX</key>
					<real>127.89256010520569</real>
					<key>srcPointY</key>
					<real>461.66119561295795</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>302.96954616065642</real>
					<key>controlPoint1Y</key>
					<real>506.96423573280867</real>
					<key>controlPoint2X</key>
					<real>491.53045383934358</real>
					<key>controlPoint2Y</key>
					<real>575.53576426719133</real>
					<key>dstPointX</key>
					<real>587.77883439538323</real>
					<key>dstPointY</key>
					<real>603.43235371177605</real>
					<key>srcPointX</key>
					<real>206.72116560461677</real>
					<key>srcPointY</key>
					<real>479.06764628822395</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>248.12501304218938</real>
					<key>controlPoint1Y</key>
					<real>473.38003005302318</real>
					<key>controlPoint2X</key>
					<real>327.37498695781062</real>
					<key>controlPoint2Y</key>
					<real>473.11996994697688</real>
					<key>dstPointX</key>
					<real>367.00009108952179</real>
					<key>dstPointY</key>
					<real>473.04024136723496</real>
					<key>srcPointX</key>
					<real>208.49990891047824</real>
					<key>srcPointY</key>
					<real>473.45975863276504</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>163.5</real>
			<key>y</key>
			<real>473.5</real>
		</dict>
		<key>GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>192.33787858337618</real>
					<key>controlPoint1Y</key>
					<real>276.19689091115617</real>
					<key>controlPoint2X</key>
					<real>157.32655791228217</real>
					<key>controlPoint2Y</key>
					<real>213.71292856959616</real>
					<key>dstPointX</key>
					<real>191.54856786030967</real>
					<key>dstPointY</key>
					<real>215.15697965132989</real>
					<key>srcPointX</key>
					<real>158.08564044131379</real>
					<key>srcPointY</key>
					<real>276.07267066725785</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>112.95703125</real>
			<key>y</key>
			<real>276</real>
		</dict>
		<key>GetUpPlay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>606.76068565261437</real>
					<key>controlPoint1Y</key>
					<real>724.8523592014152</real>
					<key>controlPoint2X</key>
					<real>710.34207687207686</real>
					<key>controlPoint2Y</key>
					<real>630.33216570106754</real>
					<key>dstPointX</key>
					<real>674.15327173294907</real>
					<key>dstPointY</key>
					<real>616.38936351238692</real>
					<key>srcPointX</key>
					<real>568.24506217879207</real>
					<key>srcPointY</key>
					<real>720.31605027309161</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>524</real>
			<key>y</key>
			<real>718.1953125</real>
		</dict>
		<key>GetUpReady</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>662.91769400300382</real>
					<key>controlPoint1Y</key>
					<real>57.485906600694705</real>
					<key>controlPoint2X</key>
					<real>875.29599736953469</real>
					<key>controlPoint2Y</key>
					<real>128.68140104959858</real>
					<key>dstPointX</key>
					<real>842.47091412713849</real>
					<key>dstPointY</key>
					<real>154.22987492769414</real>
					<key>srcPointX</key>
					<real>621.59074721523939</real>
					<key>srcPointY</key>
					<real>52.764246238993167</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>576.95703125</real>
			<key>y</key>
			<real>50.5</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>111.50089382360342</real>
					<key>controlPoint1Y</key>
					<real>138.05384909125931</real>
					<key>controlPoint2X</key>
					<real>118.52199068326041</real>
					<key>controlPoint2Y</key>
					<real>218.83289121317409</real>
					<key>dstPointX</key>
					<real>116.01971847413508</real>
					<key>dstPointY</key>
					<real>256.04254931445809</real>
					<key>srcPointX</key>
					<real>87.055085576660844</real>
					<key>srcPointY</key>
					<real>109.88964341496293</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.68684601239999998</real>
				<key>green</key>
				<real>0.68684601239999998</real>
				<key>red</key>
				<real>0.68684601239999998</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>57</real>
			<key>y</key>
			<real>94.30859375</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>563.85692111642243</real>
					<key>controlPoint1Y</key>
					<real>236.71575039344992</real>
					<key>controlPoint2X</key>
					<real>640.53175063338301</real>
					<key>controlPoint2Y</key>
					<real>216.51043751164343</real>
					<key>dstPointX</key>
					<real>767.38215929336525</real>
					<key>dstPointY</key>
					<real>172.59573844016569</real>
					<key>srcPointX</key>
					<real>438.00700524482863</real>
					<key>srcPointY</key>
					<real>190.01108631312803</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>470.58047513183544</real>
					<key>controlPoint1Y</key>
					<real>275.06866378632367</real>
					<key>controlPoint2X</key>
					<real>288.01414484943712</real>
					<key>controlPoint2Y</key>
					<real>422.94597145979094</real>
					<key>dstPointX</key>
					<real>208.62980277388738</real>
					<key>dstPointY</key>
					<real>462.86163341435667</real>
					<key>srcPointX</key>
					<real>421.80298379555779</real>
					<key>srcPointY</key>
					<real>200.79962464498016</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>483.24171493263543</real>
					<key>controlPoint1Y</key>
					<real>237.21404492232836</real>
					<key>controlPoint2X</key>
					<real>415.55769962557974</real>
					<key>controlPoint2Y</key>
					<real>386.88201130322864</real>
					<key>dstPointX</key>
					<real>413.44024915364764</real>
					<key>dstPointY</key>
					<real>453.00949211940372</real>
					<key>srcPointX</key>
					<real>431.60312201923932</real>
					<key>srcPointY</key>
					<real>195.85243183096969</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>427.68785915844512</real>
					<key>controlPoint1Y</key>
					<real>122.02872480196234</real>
					<key>controlPoint2X</key>
					<real>488.35917886341747</real>
					<key>controlPoint2Y</key>
					<real>72.287985842498387</real>
					<key>dstPointX</key>
					<real>443.25367490604879</real>
					<key>dstPointY</key>
					<real>58.013446922560931</real>
					<key>srcPointX</key>
					<real>410.42389225893305</real>
					<key>srcPointY</key>
					<real>166.07670313828964</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>360.67709968789814</real>
					<key>controlPoint1Y</key>
					<real>128.86504740035187</real>
					<key>controlPoint2X</key>
					<real>285.05137269219944</real>
					<key>controlPoint2Y</key>
					<real>79.99057506209445</real>
					<key>dstPointX</key>
					<real>245.46100027007367</real>
					<key>dstPointY</key>
					<real>69.642292671125432</real>
					<key>srcPointX</key>
					<real>377.84015088586352</real>
					<key>srcPointY</key>
					<real>166.01224393712803</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.23476385750000001</real>
				<key>green</key>
				<real>0.23476385750000001</real>
				<key>red</key>
				<real>0.23476385750000001</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>395.5</real>
			<key>y</key>
			<real>183.0390625</real>
		</dict>
		<key>OurGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>723.22521108586523</real>
					<key>controlPoint1Y</key>
					<real>311.04158394077706</real>
					<key>controlPoint2X</key>
					<real>721.12190052235655</real>
					<key>controlPoint2Y</key>
					<real>225.81934759991231</real>
					<key>dstPointX</key>
					<real>774.90034465730628</real>
					<key>dstPointY</key>
					<real>178.93707545843952</real>
					<key>srcPointX</key>
					<real>663.10804829020788</real>
					<key>srcPointY</key>
					<real>349.46026731388935</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>626</real>
			<key>y</key>
			<real>360.1953125</real>
		</dict>
		<key>Penalised</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>474.87959629001944</real>
					<key>controlPoint1Y</key>
					<real>458.91033140859281</real>
					<key>controlPoint2X</key>
					<real>504.42842614034316</real>
					<key>controlPoint2Y</key>
					<real>429.01118166645659</real>
					<key>dstPointX</key>
					<real>522.70351184199217</real>
					<key>dstPointY</key>
					<real>420.41966777388819</real>
					<key>srcPointX</key>
					<real>455.91682948871517</real>
					<key>srcPointY</key>
					<real>465.85341023632941</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.67240410110000004</real>
				<key>green</key>
				<real>0.68004945729999999</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>412</real>
			<key>y</key>
			<real>473.1953125</real>
		</dict>
		<key>Play</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>498.79767674510776</real>
					<key>controlPoint1Y</key>
					<real>577.77166175656441</real>
					<key>controlPoint2X</key>
					<real>226.01959777846497</real>
					<key>controlPoint2Y</key>
					<real>576.1628546790115</real>
					<key>dstPointX</key>
					<real>185.35941334271126</real>
					<key>dstPointY</key>
					<real>490.98925998952518</real>
					<key>srcPointX</key>
					<real>589.53916243270305</real>
					<key>srcPointY</key>
					<real>603.72883043664865</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>586.63479936626209</real>
					<key>controlPoint1Y</key>
					<real>546.30354928427198</real>
					<key>controlPoint2X</key>
					<real>456.56792023914181</real>
					<key>controlPoint2Y</key>
					<real>536.25281170751555</real>
					<key>dstPointX</key>
					<real>433.12590041308295</real>
					<key>dstPointY</key>
					<real>491.08940775417886</real>
					<key>srcPointX</key>
					<real>610.24079234625265</real>
					<key>srcPointY</key>
					<real>591.38146456000584</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>692.2121921900233</real>
					<key>controlPoint1Y</key>
					<real>546.59296547903045</real>
					<key>controlPoint2X</key>
					<real>724.35212642773729</real>
					<key>controlPoint2Y</key>
					<real>372.68409204290077</real>
					<key>dstPointX</key>
					<real>667.68870598336571</real>
					<key>dstPointY</key>
					<real>363.12554085522322</real>
					<key>srcPointX</key>
					<real>658.02087319034308</real>
					<key>srcPointY</key>
					<real>592.77805855380063</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>748.11413431732194</real>
					<key>controlPoint1Y</key>
					<real>509.50895428579372</real>
					<key>controlPoint2X</key>
					<real>704.67711961655721</real>
					<key>controlPoint2Y</key>
					<real>274.72136993671609</real>
					<key>dstPointX</key>
					<real>780.21660340401331</real>
					<key>dstPointY</key>
					<real>181.23228261348191</real>
					<key>srcPointX</key>
					<real>663.2504289700604</real>
					<key>srcPointY</key>
					<real>594.62402095521372</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>749.14194516694783</real>
					<key>controlPoint1Y</key>
					<real>595.86317987398365</real>
					<key>controlPoint2X</key>
					<real>793.72981853300166</real>
					<key>controlPoint2Y</key>
					<real>577.11981169762521</real>
					<key>dstPointX</key>
					<real>860.64766014593124</real>
					<key>dstPointY</key>
					<real>606.29370158573806</real>
					<key>srcPointX</key>
					<real>676.86391774846561</real>
					<key>srcPointY</key>
					<real>606.11013697499664</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>559.91435244523905</real>
					<key>controlPoint1Y</key>
					<real>560.63369302944864</real>
					<key>controlPoint2X</key>
					<real>422.94613967616397</real>
					<key>controlPoint2Y</key>
					<real>544.73469697181883</real>
					<key>dstPointX</key>
					<real>417.08400717872053</real>
					<key>dstPointY</key>
					<real>492.957513414495</real>
					<key>srcPointX</key>
					<real>598.39506484909703</real>
					<key>srcPointY</key>
					<real>595.76880520285658</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>578.02327006777557</real>
					<key>controlPoint1Y</key>
					<real>649.63357162777379</real>
					<key>controlPoint2X</key>
					<real>467.40978379694707</real>
					<key>controlPoint2Y</key>
					<real>679.39134095313182</real>
					<key>dstPointX</key>
					<real>492.19265339099002</real>
					<key>dstPointY</key>
					<real>703.97629571721222</real>
					<key>srcPointX</key>
					<real>601.35334214916611</real>
					<key>srcPointY</key>
					<real>623.66593094279165</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.80660056020000004</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.85832498049999995</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>631</real>
			<key>y</key>
			<real>609.1953125</real>
		</dict>
		<key>Ready</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>631.85785286258283</real>
					<key>controlPoint1Y</key>
					<real>150.48276459343379</real>
					<key>controlPoint2X</key>
					<real>565.2326794668412</real>
					<key>controlPoint2Y</key>
					<real>141.17600508846866</real>
					<key>dstPointX</key>
					<real>436.29390766768051</real>
					<key>dstPointY</key>
					<real>177.84396341216947</real>
					<key>srcPointX</key>
					<real>765.17007626132158</real>
					<key>srcPointY</key>
					<real>164.53968933497839</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>964.15632929239928</real>
					<key>controlPoint1Y</key>
					<real>162.18114085579407</real>
					<key>controlPoint2X</key>
					<real>987.15644662846489</real>
					<key>controlPoint2Y</key>
					<real>504.83691679187382</real>
					<key>dstPointX</key>
					<real>928.25060065428397</real>
					<key>dstPointY</key>
					<real>596.95084869028221</real>
					<key>srcPointX</key>
					<real>854.87775273308353</real>
					<key>srcPointY</key>
					<real>165.79608828118148</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>824.65198601146562</real>
					<key>controlPoint1Y</key>
					<real>308.39883022039061</real>
					<key>controlPoint2X</key>
					<real>764.36084459177505</real>
					<key>controlPoint2Y</key>
					<real>521.21677635540243</real>
					<key>dstPointX</key>
					<real>667.22591451481321</real>
					<key>dstPointY</key>
					<real>596.51851123867004</real>
					<key>srcPointX</key>
					<real>811.69433841014484</real>
					<key>srcPointY</key>
					<real>186.17917023834772</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>660.7977093449158</real>
					<key>controlPoint1Y</key>
					<real>247.96456706048349</real>
					<key>controlPoint2X</key>
					<real>525.58358087497163</real>
					<key>controlPoint2Y</key>
					<real>355.99429661562095</real>
					<key>dstPointX</key>
					<real>441.50335788351492</real>
					<key>dstPointY</key>
					<real>457.21437618921505</real>
					<key>srcPointX</key>
					<real>771.41054236175933</real>
					<key>srcPointY</key>
					<real>176.69192448869663</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>788.08516731744112</real>
					<key>controlPoint1Y</key>
					<real>114.99207349652403</real>
					<key>controlPoint2X</key>
					<real>527.37961415218228</real>
					<key>controlPoint2Y</key>
					<real>91.555070549711843</real>
					<key>dstPointX</key>
					<real>548.51001894127739</real>
					<key>dstPointY</key>
					<real>65.88348025926031</real>
					<key>srcPointX</key>
					<real>796.1578431207347</real>
					<key>srcPointY</key>
					<real>147.24663069340295</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.85811410830000001</real>
				<key>red</key>
				<real>0.77118627299999998</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>807</real>
			<key>y</key>
			<real>166.6953125</real>
		</dict>
		<key>Set</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>836.90999146724653</real>
					<key>controlPoint1Y</key>
					<real>502.36458422752571</real>
					<key>controlPoint2X</key>
					<real>843.53219793466019</real>
					<key>controlPoint2Y</key>
					<real>286.3658091953854</real>
					<key>dstPointX</key>
					<real>818.04768266014798</real>
					<key>dstPointY</key>
					<real>185.86366732048879</real>
					<key>srcPointX</key>
					<real>882.28883603641316</real>
					<key>srcPointY</key>
					<real>595.58958895150579</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>785.75285327930396</real>
					<key>controlPoint1Y</key>
					<real>625.08895022984814</real>
					<key>controlPoint2X</key>
					<real>742.42909087645921</real>
					<key>controlPoint2Y</key>
					<real>642.87904555363855</real>
					<key>dstPointX</key>
					<real>674.31070210289363</real>
					<key>dstPointY</key>
					<real>616.4643761778633</real>
					<key>srcPointX</key>
					<real>858.33872589593375</real>
					<key>srcPointY</key>
					<real>616.77385890019048</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>826.27165865496045</real>
					<key>controlPoint1Y</key>
					<real>772.62286223310491</real>
					<key>controlPoint2X</key>
					<real>319.59839505924958</real>
					<key>controlPoint2Y</key>
					<real>626.89273319190204</real>
					<key>dstPointX</key>
					<real>391.48793063817698</real>
					<key>dstPointY</key>
					<real>490.31919992030646</real>
					<key>srcPointX</key>
					<real>887.2133548623392</real>
					<key>srcPointY</key>
					<real>630.82531296158527</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.76952280900000003</real>
				<key>green</key>
				<real>0.98405000149999999</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>903</real>
			<key>y</key>
			<real>614.6953125</real>
		</dict>
		<key>Wait_Chest_Release</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>564.01701518375421</real>
					<key>controlPoint1Y</key>
					<real>539.78671898532718</real>
					<key>controlPoint2X</key>
					<real>601.90614957230821</real>
					<key>controlPoint2Y</key>
					<real>570.04478599678805</real>
					<key>dstPointX</key>
					<real>611.83537911876033</real>
					<key>dstPointY</key>
					<real>591.01289145358066</real>
					<key>srcPointX</key>
					<real>552.54743338123967</real>
					<key>srcPointY</key>
					<real>519.61992104641934</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>530</real>
			<key>y</key>
			<real>502.1953125</real>
		</dict>
		<key>Wait_Unpenalise</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>612.35224555431046</real>
					<key>controlPoint1Y</key>
					<real>466.32741512927828</real>
					<key>controlPoint2X</key>
					<real>654.39608609091738</real>
					<key>controlPoint2Y</key>
					<real>549.36039889774122</real>
					<key>dstPointX</key>
					<real>643.14678751277484</real>
					<key>dstPointY</key>
					<real>589.6600677080686</real>
					<key>srcPointX</key>
					<real>589.9880311436732</real>
					<key>srcPointY</key>
					<real>430.96568527174281</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>544.92561871202599</real>
					<key>controlPoint1Y</key>
					<real>452.28527982516653</real>
					<key>controlPoint2X</key>
					<real>555.73104534293577</real>
					<key>controlPoint2Y</key>
					<real>464.45937647071128</real>
					<key>dstPointX</key>
					<real>548.00187766060571</real>
					<key>dstPointY</key>
					<real>482.90551338168598</real>
					<key>srcPointX</key>
					<real>550.16999733939429</real>
					<key>srcPointY</key>
					<real>432.98511161831397</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>563</real>
			<key>y</key>
			<real>412.1953125</real>
		</dict>
		<key>WalkStance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>300.27256598616407</real>
					<key>controlPoint1Y</key>
					<real>208.38144020365138</real>
					<key>controlPoint2X</key>
					<real>332.36265159543495</real>
					<key>controlPoint2Y</key>
					<real>192.40850284304742</real>
					<key>dstPointX</key>
					<real>351.80104325101206</real>
					<key>dstPointY</key>
					<real>187.70223788616389</real>
					<key>srcPointX</key>
					<real>280.63898837779448</real>
					<key>srcPointY</key>
					<real>212.19229710153257</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>236.5</real>
			<key>y</key>
			<real>216.0390625</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
