<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>ChangeKickoff</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>381.68986155460283</real>
					<key>controlPoint1Y</key>
					<real>94.586008197263865</real>
					<key>controlPoint2X</key>
					<real>421.7264714061883</real>
					<key>controlPoint2Y</key>
					<real>142.91185459778526</real>
					<key>dstPointX</key>
					<real>412.28910849739941</real>
					<key>dstPointY</key>
					<real>165.29910516755157</real>
					<key>srcPointX</key>
					<real>388.29394864019355</real>
					<key>srcPointY</key>
					<real>71.205699377412486</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>400.5</real>
			<key>y</key>
			<real>51.9609375</real>
		</dict>
		<key>ChangeTeam</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>253.64211838116955</real>
					<key>controlPoint1Y</key>
					<real>112.23011145918898</real>
					<key>controlPoint2X</key>
					<real>336.37655778599424</real>
					<key>controlPoint2Y</key>
					<real>141.40216783276676</real>
					<key>dstPointX</key>
					<real>365.64950417284143</real>
					<key>dstPointY</key>
					<real>170.02689465728136</real>
					<key>srcPointX</key>
					<real>229.30200687670822</real>
					<key>srcPointY</key>
					<real>79.308396013366547</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>205.5</real>
			<key>y</key>
			<real>65.0390625</real>
		</dict>
		<key>Finished</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>111.31992858523732</real>
					<key>controlPoint1Y</key>
					<real>436.58510978330736</real>
					<key>controlPoint2X</key>
					<real>73.483118838618552</real>
					<key>controlPoint2Y</key>
					<real>380.86290618840411</real>
					<key>dstPointX</key>
					<real>79.995685291562623</real>
					<key>dstPointY</key>
					<real>352.12226433647487</real>
					<key>srcPointX</key>
					<real>131.39256010520569</real>
					<key>srcPointY</key>
					<real>458.16119561295795</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>322.39150085729057</real>
					<key>controlPoint1Y</key>
					<real>486.73687317390755</real>
					<key>controlPoint2X</key>
					<real>568.9553937804825</real>
					<key>controlPoint2Y</key>
					<real>538.12099140228713</real>
					<key>dstPointX</key>
					<real>674.51320939538323</real>
					<key>dstPointY</key>
					<real>577.67454121177605</real>
					<key>srcPointX</key>
					<real>210.22116560461677</real>
					<key>srcPointY</key>
					<real>475.56764628822395</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>235.36225942866005</real>
					<key>controlPoint1Y</key>
					<real>466.12276566522786</real>
					<key>controlPoint2X</key>
					<real>277.74096936143559</real>
					<key>controlPoint2Y</key>
					<real>436.24190722909759</real>
					<key>dstPointX</key>
					<real>301.32821608952179</real>
					<key>dstPointY</key>
					<real>438.28242886723496</real>
					<key>srcPointX</key>
					<real>211.99990891047824</real>
					<key>srcPointY</key>
					<real>469.95975863276504</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.23476385750000001</real>
				<key>green</key>
				<real>0.23476385750000001</real>
				<key>red</key>
				<real>0.23476385750000001</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.54102667950466043</real>
				<key>green</key>
				<real>0.57799092703633326</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>163.5</real>
			<key>y</key>
			<real>473.5</real>
		</dict>
		<key>GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>168.51959461151574</real>
					<key>controlPoint1Y</key>
					<real>333.14442608596306</real>
					<key>controlPoint2X</key>
					<real>162.08740014664676</real>
					<key>controlPoint2Y</key>
					<real>212.23233115786635</real>
					<key>dstPointX</key>
					<real>195.04856786030967</real>
					<key>dstPointY</key>
					<real>214.64916715132989</real>
					<key>srcPointX</key>
					<real>135.47235919131379</real>
					<key>srcPointY</key>
					<real>332.74454566725785</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>90</real>
			<key>y</key>
			<real>332.45703125</real>
		</dict>
		<key>GetUpPlay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>758.07793508621774</real>
					<key>controlPoint1Y</key>
					<real>640.13838355151245</real>
					<key>controlPoint2X</key>
					<real>780.04980010046825</real>
					<key>controlPoint2Y</key>
					<real>596.35971636611691</real>
					<key>dstPointX</key>
					<real>760.88764673294907</real>
					<key>dstPointY</key>
					<real>590.63155101238692</real>
					<key>srcPointX</key>
					<real>738.24506217879207</real>
					<key>srcPointY</key>
					<real>637.55823777309161</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>695</real>
			<key>y</key>
			<real>635</real>
		</dict>
		<key>GetUpReady</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>683.1802578205286</real>
					<key>controlPoint1Y</key>
					<real>45.505760229766807</real>
					<key>controlPoint2X</key>
					<real>892.15538071751075</real>
					<key>controlPoint2Y</key>
					<real>119.54880338065864</real>
					<key>dstPointX</key>
					<real>842.47091412713849</real>
					<key>dstPointY</key>
					<real>155.19081242769414</real>
					<key>srcPointX</key>
					<real>622.14934096523939</real>
					<key>srcPointY</key>
					<real>49.264246238993167</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>576.95703125</real>
			<key>y</key>
			<real>50.5</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>69.763631500148904</real>
					<key>controlPoint1Y</key>
					<real>164.39034367562755</real>
					<key>controlPoint2X</key>
					<real>76.927994541434543</real>
					<key>controlPoint2Y</key>
					<real>263.5893052481461</real>
					<key>dstPointX</key>
					<real>83.81963120744399</real>
					<key>dstPointY</key>
					<real>312.86139994776664</real>
					<key>srcPointX</key>
					<real>63.180368792555996</real>
					<key>srcPointY</key>
					<real>115.07610005223336</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.68684601239999998</real>
				<key>green</key>
				<real>0.68684601239999998</real>
				<key>red</key>
				<real>0.68684601239999998</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>57</real>
			<key>y</key>
			<real>94.30859375</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>519.23483784449434</real>
					<key>controlPoint1Y</key>
					<real>214.22433737975095</real>
					<key>controlPoint2X</key>
					<real>691.67157931688075</real>
					<key>controlPoint2Y</key>
					<real>203.89897354814204</real>
					<key>dstPointX</key>
					<real>767.38215929336525</real>
					<key>dstPointY</key>
					<real>173.55667594016569</real>
					<key>srcPointX</key>
					<real>441.50700524482863</real>
					<key>srcPointY</key>
					<real>189.50327381312803</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>476.30315875414487</real>
					<key>controlPoint1Y</key>
					<real>266.87045622598077</real>
					<key>controlPoint2X</key>
					<real>282.31437142103141</real>
					<key>controlPoint2Y</key>
					<real>413.45019674237506</real>
					<key>dstPointX</key>
					<real>212.12980277388738</real>
					<key>dstPointY</key>
					<real>459.36163341435667</real>
					<key>srcPointX</key>
					<real>425.30298379555779</real>
					<key>srcPointY</key>
					<real>200.29181214498016</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>484.10298093384455</real>
					<key>controlPoint1Y</key>
					<real>229.71035347374456</real>
					<key>controlPoint2X</key>
					<real>349.92982165944557</real>
					<key>controlPoint2Y</key>
					<real>358.44099494264401</real>
					<key>dstPointX</key>
					<real>347.76837415364764</real>
					<key>dstPointY</key>
					<real>418.25167961940372</real>
					<key>srcPointX</key>
					<real>435.10312201923932</real>
					<key>srcPointY</key>
					<real>195.34461933096969</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>425.83358547531401</real>
					<key>controlPoint1Y</key>
					<real>140.21604366635714</real>
					<key>controlPoint2X</key>
					<real>473.45330390159154</real>
					<key>controlPoint2Y</key>
					<real>66.991055972119256</real>
					<key>dstPointX</key>
					<real>446.75367490604879</real>
					<key>dstPointY</key>
					<real>58.521259422560931</real>
					<key>srcPointX</key>
					<real>413.92389225893305</real>
					<key>srcPointY</key>
					<real>165.56889063828964</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>367.48452482310648</real>
					<key>controlPoint1Y</key>
					<real>126.98515619138706</real>
					<key>controlPoint2X</key>
					<real>288.98978305061644</real>
					<key>controlPoint2Y</key>
					<real>77.702413886802006</real>
					<key>dstPointX</key>
					<real>248.96100027007367</real>
					<key>dstPointY</key>
					<real>69.134480171125432</real>
					<key>srcPointX</key>
					<real>381.34015088586352</real>
					<key>srcPointY</key>
					<real>165.50443143712803</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.23476385750000001</real>
				<key>green</key>
				<real>0.23476385750000001</real>
				<key>red</key>
				<real>0.23476385750000001</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.54160859747863899</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.58140735301418844</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>395.5</real>
			<key>y</key>
			<real>183.0390625</real>
		</dict>
		<key>OurGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>702.47719378555257</real>
					<key>controlPoint1Y</key>
					<real>315.70082858289874</real>
					<key>controlPoint2X</key>
					<real>738.27383313946802</real>
					<key>controlPoint2Y</key>
					<real>214.29481750583733</real>
					<key>dstPointX</key>
					<real>774.90034465730628</real>
					<key>dstPointY</key>
					<real>179.89801295843952</real>
					<key>srcPointX</key>
					<real>663.10804829020788</real>
					<key>srcPointY</key>
					<real>346.92120481388935</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>626</real>
			<key>y</key>
			<real>360.1953125</real>
		</dict>
		<key>Penalised</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>409.97247282711993</real>
					<key>controlPoint1Y</key>
					<real>422.16262532845252</real>
					<key>controlPoint2X</key>
					<real>447.38771920505854</real>
					<key>controlPoint2Y</key>
					<real>399.78707354349768</real>
					<key>dstPointX</key>
					<real>467.65663684199217</real>
					<key>dstPointY</key>
					<real>392.16185527388819</real>
					<key>srcPointX</key>
					<real>390.24495448871517</real>
					<key>srcPointY</key>
					<real>431.09559773632941</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.67240410110000004</real>
				<key>green</key>
				<real>0.68004945729999999</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>345.91796875</real>
			<key>y</key>
			<real>440</real>
		</dict>
		<key>Play</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>566.07974166540282</real>
					<key>controlPoint1Y</key>
					<real>536.69978953124485</real>
					<key>controlPoint2X</key>
					<real>262.68348414612183</real>
					<key>controlPoint2Y</key>
					<real>579.118913976155</real>
					<key>dstPointX</key>
					<real>188.85941334271126</real>
					<key>dstPointY</key>
					<real>487.48925998952518</real>
					<key>srcPointX</key>
					<real>676.27353743270305</real>
					<key>srcPointY</key>
					<real>577.97101793664865</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>661.01798347609235</real>
					<key>controlPoint1Y</key>
					<real>492.79532568735578</real>
					<key>controlPoint2X</key>
					<real>408.40581876786797</real>
					<key>controlPoint2Y</key>
					<real>526.47312942004055</real>
					<key>dstPointX</key>
					<real>367.45402541308295</real>
					<key>dstPointY</key>
					<real>456.33159525417886</real>
					<key>srcPointX</key>
					<real>696.97516734625265</real>
					<key>srcPointY</key>
					<real>565.62365206000584</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>775.07210140264704</real>
					<key>controlPoint1Y</key>
					<real>520.30762297120089</real>
					<key>controlPoint2X</key>
					<real>723.34907541336952</real>
					<key>controlPoint2Y</key>
					<real>362.34830095381295</real>
					<key>dstPointX</key>
					<real>667.68870598336571</real>
					<key>dstPointY</key>
					<real>360.58647835522322</real>
					<key>srcPointX</key>
					<real>744.75524819034308</real>
					<key>srcPointY</key>
					<real>567.02024605380063</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>815.7835728392073</real>
					<key>controlPoint1Y</key>
					<real>493.00220913802849</real>
					<key>controlPoint2X</key>
					<real>719.52691893757401</real>
					<key>controlPoint2Y</key>
					<real>262.20313560185951</real>
					<key>dstPointX</key>
					<real>780.21660340401331</real>
					<key>dstPointY</key>
					<real>182.19322011348191</real>
					<key>srcPointX</key>
					<real>749.9848039700604</real>
					<key>srcPointY</key>
					<real>568.86620845521372</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>794.25769981003748</real>
					<key>controlPoint1Y</key>
					<real>573.24310423547729</real>
					<key>controlPoint2X</key>
					<real>831.27556653848706</real>
					<key>controlPoint2Y</key>
					<real>595.94887193367379</real>
					<key>dstPointX</key>
					<real>860.64766014593124</real>
					<key>dstPointY</key>
					<real>607.25463908573806</real>
					<key>srcPointX</key>
					<real>763.59829274846561</real>
					<key>srcPointY</key>
					<real>580.35232447499664</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>627.15219590763309</real>
					<key>controlPoint1Y</key>
					<real>511.41749024744342</real>
					<key>controlPoint2X</key>
					<real>362.21258324049921</real>
					<key>controlPoint2Y</key>
					<real>539.91817864078803</real>
					<key>dstPointX</key>
					<real>351.41213217872053</real>
					<key>dstPointY</key>
					<real>458.199700914495</real>
					<key>srcPointX</key>
					<real>685.12943984909703</real>
					<key>srcPointY</key>
					<real>570.01099270285658</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>656.03770813735025</real>
					<key>controlPoint1Y</key>
					<real>597.55035390064995</real>
					<key>controlPoint2X</key>
					<real>636.59514638843768</real>
					<key>controlPoint2Y</key>
					<real>616.23649235466632</real>
					<key>dstPointX</key>
					<real>654.25817826891841</real>
					<key>dstPointY</key>
					<real>625.61824617733316</real>
					<key>srcPointX</key>
					<real>675.04430355779812</real>
					<key>srcPointY</key>
					<real>591.32545787554147</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.80660056020000004</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.85832498049999995</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>718.5390625</real>
			<key>y</key>
			<real>585</real>
		</dict>
		<key>Ready</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>683.89099760820091</real>
					<key>controlPoint1Y</key>
					<real>161.1314270766932</real>
					<key>controlPoint2X</key>
					<real>518.01721824433139</real>
					<key>controlPoint2Y</key>
					<real>154.83076898568794</real>
					<key>dstPointX</key>
					<real>439.79390766768051</real>
					<key>dstPointY</key>
					<real>177.33615091216947</real>
					<key>srcPointX</key>
					<real>765.17007626132158</real>
					<key>srcPointY</key>
					<real>165.50062683497839</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>964.20812909540052</real>
					<key>controlPoint1Y</key>
					<real>168.07761057310171</real>
					<key>controlPoint2X</key>
					<real>989.51783752569258</real>
					<key>controlPoint2Y</key>
					<real>507.35130460001432</real>
					<key>dstPointX</key>
					<real>928.25060065428397</real>
					<key>dstPointY</key>
					<real>597.91178619028221</real>
					<key>srcPointX</key>
					<real>854.87775273308353</real>
					<key>srcPointY</key>
					<real>166.75702578118148</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>821.84181539452186</real>
					<key>controlPoint1Y</key>
					<real>287.52726559619708</real>
					<key>controlPoint2X</key>
					<real>828.82722912679321</real>
					<key>controlPoint2Y</key>
					<real>503.11830001522605</real>
					<key>dstPointX</key>
					<real>753.96028951481321</real>
					<key>dstPointY</key>
					<real>570.76069873867004</real>
					<key>srcPointX</key>
					<real>811.69433841014484</real>
					<key>srcPointY</key>
					<real>187.14010773834772</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>676.36852873690668</real>
					<key>controlPoint1Y</key>
					<real>244.66648612666097</real>
					<key>controlPoint2X</key>
					<real>445.94753155236276</real>
					<key>controlPoint2Y</key>
					<real>329.67968136910912</real>
					<key>dstPointX</key>
					<real>375.83148288351492</real>
					<key>dstPointY</key>
					<real>422.45656368921505</real>
					<key>srcPointX</key>
					<real>771.41054236175933</real>
					<key>srcPointY</key>
					<real>177.65286198869663</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>779.49325491654292</real>
					<key>controlPoint1Y</key>
					<real>84.947032943296307</real>
					<key>controlPoint2X</key>
					<real>501.81196084315059</real>
					<key>controlPoint2Y</key>
					<real>107.62077324027547</real>
					<key>dstPointX</key>
					<real>549.06861269127739</real>
					<key>dstPointY</key>
					<real>62.38348025926031</real>
					<key>srcPointX</key>
					<real>796.1578431207347</real>
					<key>srcPointY</key>
					<real>148.20756819340295</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.85811410830000001</real>
				<key>red</key>
				<real>0.77118627299999998</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>807</real>
			<key>y</key>
			<real>166.6953125</real>
		</dict>
		<key>Set</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>834.97618732670708</real>
					<key>controlPoint1Y</key>
					<real>504.29189914603023</real>
					<key>controlPoint2X</key>
					<real>842.3952986179944</real>
					<key>controlPoint2Y</key>
					<real>287.60820783897543</real>
					<key>dstPointX</key>
					<real>818.04768266014798</real>
					<key>dstPointY</key>
					<real>186.82460482048879</real>
					<key>srcPointX</key>
					<real>882.28883603641316</real>
					<key>srcPointY</key>
					<real>596.55052645150579</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>827.21189937437885</real>
					<key>controlPoint1Y</key>
					<real>622.8074266352794</real>
					<key>controlPoint2X</key>
					<real>791.23754512700577</real>
					<key>controlPoint2Y</key>
					<real>599.81841208627509</real>
					<key>dstPointX</key>
					<real>761.04507710289363</real>
					<key>dstPointY</key>
					<real>590.7065636778633</real>
					<key>srcPointX</key>
					<real>858.33872589593375</real>
					<key>srcPointY</key>
					<real>617.73479640019048</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>831.87714507410976</real>
					<key>controlPoint1Y</key>
					<real>768.11984387038569</real>
					<key>controlPoint2X</key>
					<real>252.33251791290837</real>
					<key>controlPoint2Y</key>
					<real>583.03340195236797</real>
					<key>dstPointX</key>
					<real>325.81605563817698</real>
					<key>dstPointY</key>
					<real>455.56138742030646</real>
					<key>srcPointX</key>
					<real>887.2133548623392</real>
					<key>srcPointY</key>
					<real>631.78625046158527</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.76952280900000003</real>
				<key>green</key>
				<real>0.98405000149999999</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>903</real>
			<key>y</key>
			<real>614.6953125</real>
		</dict>
		<key>Unpenalise</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>619.15354353786608</real>
					<key>controlPoint1Y</key>
					<real>508.78406572803749</real>
					<key>controlPoint2X</key>
					<real>707.05036015764813</real>
					<key>controlPoint2Y</key>
					<real>535.29829944185644</real>
					<key>dstPointX</key>
					<real>711.64512143001298</real>
					<key>dstPointY</key>
					<real>565.18395217757029</real>
					<key>srcPointX</key>
					<real>610.84787781132172</real>
					<key>srcPointY</key>
					<real>479.71036648923047</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.49384898190045246</real>
				<key>red</key>
				<real>0.0049709780451328012</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>598.54296875</real>
			<key>y</key>
			<real>460.5</real>
		</dict>
		<key>Wait_Chest_Release</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>502.52942193874799</real>
					<key>controlPoint1Y</key>
					<real>501.53664876720688</real>
					<key>controlPoint2X</key>
					<real>566.49983058346857</real>
					<key>controlPoint2Y</key>
					<real>496.92244716819539</real>
					<key>dstPointX</key>
					<real>576.83219615087489</real>
					<key>dstPointY</key>
					<real>478.07059857838192</real>
					<key>srcPointX</key>
					<real>491.04743338123967</real>
					<key>srcPointY</key>
					<real>483.36210854641934</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>468.5</real>
			<key>y</key>
			<real>467.5</real>
		</dict>
		<key>Wait_Unpenalise</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>546.50602326975809</real>
					<key>controlPoint1Y</key>
					<real>419.02515956691809</real>
					<key>controlPoint2X</key>
					<real>580.23383200332796</real>
					<key>controlPoint2Y</key>
					<real>422.08901505559402</real>
					<key>dstPointX</key>
					<real>585.85004731137542</real>
					<key>dstPointY</key>
					<real>441.28427815912175</real>
					<key>srcPointX</key>
					<real>534.9411561436732</real>
					<key>srcPointY</key>
					<real>402.70787277174281</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>489.62193169078478</real>
					<key>controlPoint1Y</key>
					<real>423.9558430425858</real>
					<key>controlPoint2X</key>
					<real>493.66641660261899</real>
					<key>controlPoint2Y</key>
					<real>427.97501008072277</real>
					<key>dstPointX</key>
					<real>486.50187766060571</real>
					<key>dstPointY</key>
					<real>446.64770088168598</real>
					<key>srcPointX</key>
					<real>495.12312233939429</real>
					<key>srcPointY</key>
					<real>404.72729911831397</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.020020871525449426</real>
				<key>red</key>
				<real>0.56633554864253388</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>507.38671875</real>
			<key>y</key>
			<real>385.5</real>
		</dict>
		<key>WalkStance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>250.26313690353376</real>
					<key>controlPoint1Y</key>
					<real>267.74099770237916</real>
					<key>controlPoint2X</key>
					<real>351.8388126063096</real>
					<key>controlPoint2Y</key>
					<real>226.44637317230686</real>
					<key>dstPointX</key>
					<real>370.29337027848584</real>
					<key>dstPointY</key>
					<real>199.41161011399882</real>
					<key>srcPointX</key>
					<real>244.44163269156462</real>
					<key>srcPointY</key>
					<real>235.52983191775468</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>236.5</real>
			<key>y</key>
			<real>216.0390625</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
