<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>ChangeKickoff</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>381.77698219828443</real>
					<key>controlPoint1Y</key>
					<real>94.707518964640684</real>
					<key>controlPoint2X</key>
					<real>421.6023872602388</real>
					<key>controlPoint2Y</key>
					<real>142.76711961855807</real>
					<key>dstPointX</key>
					<real>412.28910849739941</real>
					<key>dstPointY</key>
					<real>165.10379266755157</real>
					<key>srcPointX</key>
					<real>388.29394864019355</real>
					<key>srcPointY</key>
					<real>71.401011877412486</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>400.5</real>
			<key>y</key>
			<real>51.9609375</real>
		</dict>
		<key>ChangeTeam</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>253.85832169014705</real>
					<key>controlPoint1Y</key>
					<real>111.87384935802591</real>
					<key>controlPoint2X</key>
					<real>336.59121622114435</real>
					<key>controlPoint2Y</key>
					<real>140.98896997908969</real>
					<key>dstPointX</key>
					<real>365.64950417284143</real>
					<key>dstPointY</key>
					<real>169.83158215728136</real>
					<key>srcPointX</key>
					<real>229.30200687670822</real>
					<key>srcPointY</key>
					<real>79.113083513366547</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>205.5</real>
			<key>y</key>
			<real>65.0390625</real>
		</dict>
		<key>Finished</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>111.35284600329342</real>
					<key>controlPoint1Y</key>
					<real>436.6204927392771</real>
					<key>controlPoint2X</key>
					<real>73.560830767353522</real>
					<key>controlPoint2Y</key>
					<real>381.04572471686737</real>
					<key>dstPointX</key>
					<real>79.995685291562623</real>
					<key>dstPointY</key>
					<real>352.33710808647487</real>
					<key>srcPointX</key>
					<real>131.39256010520569</real>
					<key>srcPointY</key>
					<real>458.16119561295795</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>328.44515029204933</real>
					<key>controlPoint1Y</key>
					<real>487.33965807127731</real>
					<key>controlPoint2X</key>
					<real>563.0028308375588</real>
					<key>controlPoint2Y</key>
					<real>536.14808114910261</real>
					<key>dstPointX</key>
					<real>674.31789689538323</real>
					<key>dstPointY</key>
					<real>577.67454121177605</real>
					<key>srcPointX</key>
					<real>210.22116560461677</real>
					<key>srcPointY</key>
					<real>475.56764628822395</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>235.4576388245944</real>
					<key>controlPoint1Y</key>
					<real>466.10710071442753</real>
					<key>controlPoint2X</key>
					<real>278.05646570125867</real>
					<key>controlPoint2Y</key>
					<real>436.21473359569768</real>
					<key>dstPointX</key>
					<real>301.73837233952179</real>
					<key>dstPointY</key>
					<real>438.28242886723496</real>
					<key>srcPointX</key>
					<real>211.99990891047824</real>
					<key>srcPointY</key>
					<real>469.95975863276504</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.23476385750000001</real>
				<key>green</key>
				<real>0.23476385750000001</real>
				<key>red</key>
				<real>0.23476385750000001</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.54102667950466043</real>
				<key>green</key>
				<real>0.57799092703633326</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>163.5</real>
			<key>y</key>
			<real>473.5</real>
		</dict>
		<key>GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>168.60502381953168</real>
					<key>controlPoint1Y</key>
					<real>333.71252363933257</real>
					<key>controlPoint2X</key>
					<real>162.02344626559744</real>
					<key>controlPoint2Y</key>
					<real>211.68220889891248</real>
					<key>dstPointX</key>
					<real>195.04856786030967</real>
					<key>dstPointY</key>
					<real>214.45385465132989</real>
					<key>srcPointX</key>
					<real>135.47235919131379</real>
					<key>srcPointY</key>
					<real>332.95938941725785</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.3261279628</real>
				<key>red</key>
				<real>0.54600890840000005</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>90</real>
			<key>y</key>
			<real>332.45703125</real>
		</dict>
		<key>GetUpPlay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>758.07021865309218</real>
					<key>controlPoint1Y</key>
					<real>640.19701983486129</real>
					<key>controlPoint2X</key>
					<real>779.84719859829409</real>
					<key>controlPoint2Y</key>
					<real>596.38404361518405</real>
					<key>dstPointX</key>
					<real>760.69233423294907</real>
					<key>dstPointY</key>
					<real>590.63155101238692</real>
					<key>srcPointX</key>
					<real>738.24506217879207</real>
					<key>srcPointY</key>
					<real>637.55823777309161</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.3261279628</real>
				<key>red</key>
				<real>0.54600890840000005</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>695</real>
			<key>y</key>
			<real>635</real>
		</dict>
		<key>GetUpReady</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>683.24247610079021</real>
					<key>controlPoint1Y</key>
					<real>45.532915001914716</real>
					<key>controlPoint2X</key>
					<real>890.57969596878183</real>
					<key>controlPoint2Y</key>
					<real>116.72246009927976</real>
					<key>dstPointX</key>
					<real>842.47091412713849</real>
					<key>dstPointY</key>
					<real>154.21424992769414</real>
					<key>srcPointX</key>
					<real>622.36418471523939</real>
					<key>srcPointY</key>
					<real>49.264246238993167</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.32612796280242817</real>
				<key>red</key>
				<real>0.54600890837104066</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>576.95703125</real>
			<key>y</key>
			<real>50.5</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>69.452481510627777</real>
					<key>controlPoint1Y</key>
					<real>165.20188162704716</real>
					<key>controlPoint2X</key>
					<real>76.879093711812857</real>
					<key>controlPoint2Y</key>
					<real>263.99738525827343</real>
					<key>dstPointX</key>
					<real>83.81963120744399</real>
					<key>dstPointY</key>
					<real>313.07624369776664</real>
					<key>srcPointX</key>
					<real>63.180368792555996</real>
					<key>srcPointY</key>
					<real>116.03313130223336</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.68684601239999998</real>
				<key>green</key>
				<real>0.68684601239999998</real>
				<key>red</key>
				<real>0.68684601239999998</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>57</real>
			<key>y</key>
			<real>94.30859375</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>469.87215804276525</real>
					<key>controlPoint1Y</key>
					<real>178.20131399310105</real>
					<key>controlPoint2X</key>
					<real>528.65339822650856</real>
					<key>controlPoint2Y</key>
					<real>169.72281371995467</real>
					<key>dstPointX</key>
					<real>558.17779110711729</real>
					<key>dstPointY</key>
					<real>166.60421252775012</real>
					<key>srcPointX</key>
					<real>440.32220889288271</real>
					<key>srcPointY</key>
					<real>181.06766247224991</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>476.69111361535846</real>
					<key>controlPoint1Y</key>
					<real>266.42387095135842</real>
					<key>controlPoint2X</key>
					<real>282.3459275110971</real>
					<key>controlPoint2Y</key>
					<real>413.42955423564473</real>
					<key>dstPointX</key>
					<real>212.12980277388738</real>
					<key>dstPointY</key>
					<real>459.36163341435667</real>
					<key>srcPointX</key>
					<real>425.30298379555779</real>
					<key>srcPointY</key>
					<real>200.09649964498016</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>484.36523612385804</real>
					<key>controlPoint1Y</key>
					<real>229.15233853625099</real>
					<key>controlPoint2X</key>
					<real>350.84076622301882</real>
					<key>controlPoint2Y</key>
					<real>358.45306298282173</real>
					<key>dstPointX</key>
					<real>348.17853040364764</real>
					<key>dstPointY</key>
					<real>418.25167961940372</real>
					<key>srcPointX</key>
					<real>435.10312201923932</real>
					<key>srcPointY</key>
					<real>195.14930683096969</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>425.68581878308646</real>
					<key>controlPoint1Y</key>
					<real>140.05474101138159</real>
					<key>controlPoint2X</key>
					<real>473.29066450152447</real>
					<key>controlPoint2Y</key>
					<real>67.386901341221844</real>
					<key>dstPointX</key>
					<real>446.75367490604879</real>
					<key>dstPointY</key>
					<real>58.716571922560931</real>
					<key>srcPointX</key>
					<real>413.92389225893305</real>
					<key>srcPointY</key>
					<real>165.37357813828964</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>367.6202264963265</real>
					<key>controlPoint1Y</key>
					<real>126.74130056748865</real>
					<key>controlPoint2X</key>
					<real>289.07091122889688</real>
					<key>controlPoint2Y</key>
					<real>77.118897613084457</real>
					<key>dstPointX</key>
					<real>248.96100027007367</real>
					<key>dstPointY</key>
					<real>68.939167671125432</real>
					<key>srcPointX</key>
					<real>381.34015088586352</real>
					<key>srcPointY</key>
					<real>165.30911893712803</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.23476385750000001</real>
				<key>green</key>
				<real>0.23476385750000001</real>
				<key>red</key>
				<real>0.23476385750000001</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.54160859747863899</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.58140735301418844</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>395.5</real>
			<key>y</key>
			<real>183.0390625</real>
		</dict>
		<key>OurGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>701.35021104159659</real>
					<key>controlPoint1Y</key>
					<real>313.35356228983181</real>
					<key>controlPoint2X</key>
					<real>737.00534900076821</real>
					<key>controlPoint2Y</key>
					<real>211.91555316224378</real>
					<key>dstPointX</key>
					<real>774.90034465730628</real>
					<key>dstPointY</key>
					<real>178.92145045843952</real>
					<key>srcPointX</key>
					<real>663.10804829020788</real>
					<key>srcPointY</key>
					<real>345.94464231388935</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>626</real>
			<key>y</key>
			<real>360.1953125</real>
		</dict>
		<key>Penalised</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>410.44523430598599</real>
					<key>controlPoint1Y</key>
					<real>422.21658610932695</real>
					<key>controlPoint2X</key>
					<real>447.95791974803694</real>
					<key>controlPoint2Y</key>
					<real>399.89558749931291</real>
					<key>dstPointX</key>
					<real>468.22304309199217</real>
					<key>dstPointY</key>
					<real>392.16185527388819</real>
					<key>srcPointX</key>
					<real>390.65511073871517</real>
					<key>srcPointY</key>
					<real>431.09559773632941</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.67240410110000004</real>
				<key>green</key>
				<real>0.68004945729999999</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>345.91796875</real>
			<key>y</key>
			<real>440</real>
		</dict>
		<key>Play</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>559.98649652543531</real>
					<key>controlPoint1Y</key>
					<real>534.6910038492324</real>
					<key>controlPoint2X</key>
					<real>266.59082820061695</real>
					<key>controlPoint2Y</key>
					<real>583.96866799031011</real>
					<key>dstPointX</key>
					<real>188.85941334271126</real>
					<key>dstPointY</key>
					<real>487.48925998952518</real>
					<key>srcPointX</key>
					<real>676.07822493270305</real>
					<key>srcPointY</key>
					<real>577.97101793664865</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>658.12759109366357</real>
					<key>controlPoint1Y</key>
					<real>488.04063693125579</real>
					<key>controlPoint2X</key>
					<real>412.18600612313543</real>
					<key>controlPoint2Y</key>
					<real>530.82117577521456</real>
					<key>dstPointX</key>
					<real>367.86418166308295</real>
					<key>dstPointY</key>
					<real>456.33159525417886</real>
					<key>srcPointX</key>
					<real>696.77985484625265</real>
					<key>srcPointY</key>
					<real>565.62365206000584</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>774.48400163489839</real>
					<key>controlPoint1Y</key>
					<real>520.56727181861379</real>
					<key>controlPoint2X</key>
					<real>722.93339588174035</real>
					<key>controlPoint2Y</key>
					<real>358.44682687262457</real>
					<key>dstPointX</key>
					<real>667.68870598336571</real>
					<key>dstPointY</key>
					<real>359.60991585522322</real>
					<key>srcPointX</key>
					<real>744.55993569034308</real>
					<key>srcPointY</key>
					<real>567.02024605380063</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>813.22453634017347</real>
					<key>controlPoint1Y</key>
					<real>495.27097182496379</real>
					<key>controlPoint2X</key>
					<real>719.1133102106478</real>
					<key>controlPoint2Y</key>
					<real>256.7590386539373</real>
					<key>dstPointX</key>
					<real>780.21660340401331</real>
					<key>dstPointY</key>
					<real>181.21665761348191</real>
					<key>srcPointX</key>
					<real>749.7894914700604</real>
					<key>srcPointY</key>
					<real>568.86620845521372</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>787.9106753278586</real>
					<key>controlPoint1Y</key>
					<real>574.64482841526853</real>
					<key>controlPoint2X</key>
					<real>837.58796040664265</real>
					<key>controlPoint2Y</key>
					<real>596.20569467726341</real>
					<key>dstPointX</key>
					<real>860.64766014593124</real>
					<key>dstPointY</key>
					<real>606.27807658573806</real>
					<key>srcPointX</key>
					<real>763.40298024846561</real>
					<key>srcPointY</key>
					<real>580.35232447499664</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>622.94605780662903</real>
					<key>controlPoint1Y</key>
					<real>507.72856132276542</real>
					<key>controlPoint2X</key>
					<real>364.19187443026885</real>
					<key>controlPoint2Y</key>
					<real>545.19749034829567</real>
					<key>dstPointX</key>
					<real>351.82228842872053</real>
					<key>dstPointY</key>
					<real>458.199700914495</real>
					<key>srcPointX</key>
					<real>684.93412734909703</real>
					<key>srcPointY</key>
					<real>570.01099270285658</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>655.83417030511146</real>
					<key>controlPoint1Y</key>
					<real>597.52518301002897</real>
					<key>controlPoint2X</key>
					<real>636.5001597787799</real>
					<key>controlPoint2Y</key>
					<real>616.417551676161</real>
					<key>dstPointX</key>
					<real>654.25817826891841</real>
					<key>dstPointY</key>
					<real>625.61824617733316</real>
					<key>srcPointX</key>
					<real>674.84899105779812</real>
					<key>srcPointY</key>
					<real>591.32545787554147</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.80660056020000004</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.85832498049999995</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>718.5390625</real>
			<key>y</key>
			<real>585</real>
		</dict>
		<key>Ready</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>685.25467032682184</real>
					<key>controlPoint1Y</key>
					<real>192.57311110340925</real>
					<key>controlPoint2X</key>
					<real>516.57693498305196</real>
					<key>controlPoint2Y</key>
					<real>212.06437958362085</real>
					<key>dstPointX</key>
					<real>438.51537244158231</real>
					<key>dstPointY</key>
					<real>188.71778129853681</real>
					<key>srcPointX</key>
					<real>763.98556576125077</real>
					<key>srcPointY</key>
					<real>171.59413824976656</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>964.15364843722182</real>
					<key>controlPoint1Y</key>
					<real>162.08536412462058</real>
					<key>controlPoint2X</key>
					<real>987.11924091935407</real>
					<key>controlPoint2Y</key>
					<real>504.79750973415941</real>
					<key>dstPointX</key>
					<real>928.25060065428397</real>
					<key>dstPointY</key>
					<real>596.93522369028221</real>
					<key>srcPointX</key>
					<real>854.87775273308353</real>
					<key>srcPointY</key>
					<real>165.78046328118148</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>821.94836403002614</real>
					<key>controlPoint1Y</key>
					<real>282.80519691091104</real>
					<key>controlPoint2X</key>
					<real>825.69635794248563</real>
					<key>controlPoint2Y</key>
					<real>505.41063892804459</real>
					<key>dstPointX</key>
					<real>753.76497701481321</real>
					<key>dstPointY</key>
					<real>570.76069873867004</real>
					<key>srcPointX</key>
					<real>811.69433841014484</real>
					<key>srcPointY</key>
					<real>186.16354523834772</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>673.57559546641005</real>
					<key>controlPoint1Y</key>
					<real>239.61895213945212</real>
					<key>controlPoint2X</key>
					<real>446.9919000879737</real>
					<key>controlPoint2Y</key>
					<real>330.11017809884424</real>
					<key>dstPointX</key>
					<real>376.24163913351492</real>
					<key>dstPointY</key>
					<real>422.45656368921505</real>
					<key>srcPointX</key>
					<real>771.41054236175933</real>
					<key>srcPointY</key>
					<real>176.67629948869663</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>780.31856314678828</real>
					<key>controlPoint1Y</key>
					<real>83.893447693290938</real>
					<key>controlPoint2X</key>
					<real>502.29568601663721</real>
					<key>controlPoint2Y</key>
					<real>107.71204160894271</real>
					<key>dstPointX</key>
					<real>549.28345644127739</real>
					<key>dstPointY</key>
					<real>62.38348025926031</real>
					<key>srcPointX</key>
					<real>796.1578431207347</real>
					<key>srcPointY</key>
					<real>147.23100569340295</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.85811410830000001</real>
				<key>red</key>
				<real>0.77118627299999998</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>807</real>
			<key>y</key>
			<real>166.6953125</real>
		</dict>
		<key>ReadyFromInitial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>676.48979321120521</real>
					<key>controlPoint1Y</key>
					<real>165.77099551985251</real>
					<key>controlPoint2X</key>
					<real>733.53439309821488</real>
					<key>controlPoint2Y</key>
					<real>164.13150953097332</real>
					<key>dstPointX</key>
					<real>762.00216247387141</real>
					<key>dstPointY</key>
					<real>165.52268099117157</real>
					<key>srcPointX</key>
					<real>647.99783752612859</real>
					<key>srcPointY</key>
					<real>165.02419400882846</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>603</real>
			<key>y</key>
			<real>164.41796875</real>
		</dict>
		<key>Set</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>836.9402862240845</real>
					<key>controlPoint1Y</key>
					<real>502.33421883099703</real>
					<key>controlPoint2X</key>
					<real>843.55153381978664</real>
					<key>controlPoint2Y</key>
					<real>286.34527917924868</real>
					<key>dstPointX</key>
					<real>818.04768266014798</real>
					<key>dstPointY</key>
					<real>185.84804232048879</real>
					<key>srcPointX</key>
					<real>882.28883603641316</real>
					<key>srcPointY</key>
					<real>595.57396395150579</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>833.26977075355228</real>
					<key>controlPoint1Y</key>
					<real>619.61028016020487</real>
					<key>controlPoint2X</key>
					<real>784.9951011986617</real>
					<key>controlPoint2Y</key>
					<real>598.02704183690844</real>
					<key>dstPointX</key>
					<real>760.84976460289363</real>
					<key>dstPointY</key>
					<real>590.7065636778633</real>
					<key>srcPointX</key>
					<real>858.33872589593375</real>
					<key>srcPointY</key>
					<real>616.75823390019048</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>829.13632546640588</real>
					<key>controlPoint1Y</key>
					<real>765.81246990659361</real>
					<key>controlPoint2X</key>
					<real>253.95602898451926</real>
					<key>controlPoint2Y</key>
					<real>583.52901277695457</real>
					<key>dstPointX</key>
					<real>326.22621188817698</real>
					<key>dstPointY</key>
					<real>455.56138742030646</real>
					<key>srcPointX</key>
					<real>887.2133548623392</real>
					<key>srcPointY</key>
					<real>630.80968796158527</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.76952280900000003</real>
				<key>green</key>
				<real>0.98405000149999999</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>903</real>
			<key>y</key>
			<real>614.6953125</real>
		</dict>
		<key>Unpenalise</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>619.56311269837954</real>
					<key>controlPoint1Y</key>
					<real>511.52332322281518</real>
					<key>controlPoint2X</key>
					<real>706.2890655037362</real>
					<key>controlPoint2Y</key>
					<real>532.54689888097028</real>
					<key>dstPointX</key>
					<real>711.44980893001298</real>
					<key>dstPointY</key>
					<real>565.18395217757029</real>
					<key>srcPointX</key>
					<real>610.63303406132172</real>
					<key>srcPointY</key>
					<real>479.71036648923047</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.49384898190045246</real>
				<key>red</key>
				<real>0.0049709780451328012</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>598.54296875</real>
			<key>y</key>
			<real>460.5</real>
		</dict>
		<key>Wait_Chest_Release</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>502.50078922645719</real>
					<key>controlPoint1Y</key>
					<real>501.49132679370445</real>
					<key>controlPoint2X</key>
					<real>566.23243603738865</real>
					<key>controlPoint2Y</key>
					<real>496.83229963394376</real>
					<key>dstPointX</key>
					<real>576.61735240087489</real>
					<key>dstPointY</key>
					<real>478.07059857838192</real>
					<key>srcPointX</key>
					<real>491.04743338123967</real>
					<key>srcPointY</key>
					<real>483.36210854641934</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>468.5</real>
			<key>y</key>
			<real>467.5</real>
		</dict>
		<key>Wait_Unpenalise</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>547.22968433739754</real>
					<key>controlPoint1Y</key>
					<real>418.91255904258605</real>
					<key>controlPoint2X</key>
					<real>579.93130242248969</real>
					<key>controlPoint2Y</key>
					<real>422.11488818975084</real>
					<key>dstPointX</key>
					<real>585.63520356137542</real>
					<key>dstPointY</key>
					<real>441.28427815912175</real>
					<key>srcPointX</key>
					<real>535.5075623936732</real>
					<key>srcPointY</key>
					<real>402.70787277174281</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>490.42224023055502</real>
					<key>controlPoint1Y</key>
					<real>424.02122752454676</real>
					<key>controlPoint2X</key>
					<real>493.66641660261899</real>
					<key>controlPoint2Y</key>
					<real>427.97501008072277</real>
					<key>dstPointX</key>
					<real>486.50187766060571</real>
					<key>dstPointY</key>
					<real>446.64770088168598</real>
					<key>srcPointX</key>
					<real>495.68952858939429</real>
					<key>srcPointY</key>
					<real>404.72729911831397</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.020020871525449426</real>
				<key>red</key>
				<real>0.56633554864253388</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>507.38671875</real>
			<key>y</key>
			<real>385.5</real>
		</dict>
		<key>WalkStance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>250.32005684216645</real>
					<key>controlPoint1Y</key>
					<real>267.53534614627449</real>
					<key>controlPoint2X</key>
					<real>351.68806154409367</real>
					<key>controlPoint2Y</key>
					<real>226.14753597008797</real>
					<key>dstPointX</key>
					<real>370.29337027848584</real>
					<key>dstPointY</key>
					<real>199.21629761399882</real>
					<key>srcPointX</key>
					<real>244.44163269156462</real>
					<key>srcPointY</key>
					<real>235.33451941775468</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>236.5</real>
			<key>y</key>
			<real>216.0390625</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
