<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>END</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>900.90667543207439</real>
			<key>y</key>
			<real>160.11360793267934</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>GAME_OVER</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>662.30151235792732</real>
					<key>controlPoint1Y</key>
					<real>146.32909624800695</real>
					<key>controlPoint2X</key>
					<real>784.71993964470278</real>
					<key>controlPoint2Y</key>
					<real>155.10543968485541</real>
					<key>dstPointX</key>
					<real>855.97433647154878</real>
					<key>dstPointY</key>
					<real>159.01726919648451</real>
					<key>srcPointX</key>
					<real>591.04711553108132</real>
					<key>srcPointY</key>
					<real>142.41726673637783</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>75</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>546.1147765705557</real>
			<key>y</key>
			<real>140.63571629006123</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>203.67816806017555</real>
					<key>controlPoint1Y</key>
					<real>226.00520067279376</real>
					<key>controlPoint2X</key>
					<real>198.53443650005653</real>
					<key>controlPoint2Y</key>
					<real>287.6971569480533</real>
					<key>dstPointX</key>
					<real>192.84765625</real>
					<key>dstPointY</key>
					<real>329</real>
					<key>srcPointX</key>
					<real>209.5</real>
					<key>srcPointY</key>
					<real>184</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>166</real>
			<key>internalHeight</key>
			<real>39</real>
			<key>onEntryHeight</key>
			<real>41</real>
			<key>onExitHeight</key>
			<real>39</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>328</real>
			<key>x</key>
			<real>192.84765625</real>
			<key>y</key>
			<real>106.69140625</real>
			<key>zoomedInternalHeight</key>
			<real>41.139999389648438</real>
			<key>zoomedOnEntryHeight</key>
			<real>41.139999389648438</real>
			<key>zoomedOnExitHeight</key>
			<real>41.139999389648438</real>
		</dict>
		<key>SONAR_VALUES</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>493.72796416368169</real>
					<key>controlPoint1Y</key>
					<real>510.21617043504017</real>
					<key>controlPoint2X</key>
					<real>757.00611181096644</real>
					<key>controlPoint2Y</key>
					<real>668.63842051914912</real>
					<key>dstPointX</key>
					<real>893.71628369005009</real>
					<key>dstPointY</key>
					<real>729.55507480406436</real>
					<key>srcPointX</key>
					<real>368.29041993166067</real>
					<key>srcPointY</key>
					<real>487.09076873501584</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>181</real>
			<key>internalHeight</key>
			<real>44</real>
			<key>onEntryHeight</key>
			<real>46</real>
			<key>onExitHeight</key>
			<real>44</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>333</real>
			<key>x</key>
			<real>209.5</real>
			<key>y</key>
			<real>414.5</real>
			<key>zoomedInternalHeight</key>
			<real>46.240001678466797</real>
			<key>zoomedOnEntryHeight</key>
			<real>46.240001678466797</real>
			<key>zoomedOnExitHeight</key>
			<real>46.240001678466797</real>
		</dict>
		<key>TURN_LEFT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>880.06612880297496</real>
					<key>controlPoint1Y</key>
					<real>452.04752182966297</real>
					<key>controlPoint2X</key>
					<real>689.09942901758075</real>
					<key>controlPoint2Y</key>
					<real>258.61165020427023</real>
					<key>dstPointX</key>
					<real>579.84735864638162</real>
					<key>dstPointY</key>
					<real>162.14670122412829</real>
					<key>srcPointX</key>
					<real>989.31819917417408</real>
					<key>srcPointY</key>
					<real>548.51247080980488</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>964.96327282418019</real>
					<key>controlPoint1Y</key>
					<real>608.41595005407544</real>
					<key>controlPoint2X</key>
					<real>952.44978135085023</real>
					<key>controlPoint2Y</key>
					<real>676.54198575347141</real>
					<key>dstPointX</key>
					<real>943.89357246787529</real>
					<key>dstPointY</key>
					<real>718.10606902401173</real>
					<key>srcPointX</key>
					<real>993.1552087121928</real>
					<key>srcPointY</key>
					<real>576.69850249826334</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1023.05078125</real>
			<key>y</key>
			<real>561.75</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TURN_RIGHT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>889.66426508855716</real>
					<key>controlPoint1Y</key>
					<real>322.69025075357411</real>
					<key>controlPoint2X</key>
					<real>695.75129273199855</real>
					<key>controlPoint2Y</key>
					<real>209.51331850128332</real>
					<key>dstPointX</key>
					<real>586.40407059734207</real>
					<key>dstPointY</key>
					<real>155.11213399853131</real>
					<key>srcPointX</key>
					<real>999.01148722321363</real>
					<key>srcPointY</key>
					<real>377.09143525632612</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>970.68630873492475</real>
					<key>controlPoint1Y</key>
					<real>476.46387267716767</real>
					<key>controlPoint2X</key>
					<real>938.35743528771741</real>
					<key>controlPoint2Y</key>
					<real>631.58374992240692</real>
					<key>dstPointX</key>
					<real>936.03396337684717</real>
					<key>dstPointY</key>
					<real>717.70258764270307</real>
					<key>srcPointX</key>
					<real>1015.7579132948659</real>
					<key>srcPointY</key>
					<real>403.04450742243688</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1039.30078125</real>
			<key>y</key>
			<real>386</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WALK_ABOUT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>819.0167493964675</real>
					<key>controlPoint1Y</key>
					<real>580.76988298029482</real>
					<key>controlPoint2X</key>
					<real>661.9183396740882</real>
					<key>controlPoint2Y</key>
					<real>308.03674326219141</real>
					<key>dstPointX</key>
					<real>570.66663352417754</real>
					<key>dstPointY</key>
					<real>167.87226966636635</real>
					<key>srcPointX</key>
					<real>910.26845554637816</real>
					<key>srcPointY</key>
					<real>720.93435657611997</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>980.49075863427788</real>
					<key>controlPoint1Y</key>
					<real>684.83820321350674</real>
					<key>controlPoint2X</key>
					<real>990.94895524153367</real>
					<key>controlPoint2Y</key>
					<real>619.45787473430482</real>
					<key>dstPointX</key>
					<real>1006.461682517713</real>
					<key>dstPointY</key>
					<real>580.3413921579438</real>
					<key>srcPointX</key>
					<real>958.42119862620723</real>
					<key>srcPointY</key>
					<real>720.66666170312135</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>982.86305083818092</real>
					<key>controlPoint1Y</key>
					<real>639.26806271020484</real>
					<key>controlPoint2X</key>
					<real>1013.1175019580872</real>
					<key>controlPoint2Y</key>
					<real>489.68019195936182</real>
					<key>dstPointX</key>
					<real>1030.2942429213824</real>
					<key>dstPointY</key>
					<real>405.59532454860005</real>
					<key>srcPointX</key>
					<real>951.3460791708012</real>
					<key>srcPointY</key>
					<real>719.09278228079347</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>934.8203125</real>
			<key>y</key>
			<real>737.6953125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
