<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>END</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>988.49690458443229</real>
					<key>controlPoint1Y</key>
					<real>36.0390625</real>
					<key>controlPoint2X</key>
					<real>544.50309541556771</real>
					<key>controlPoint2Y</key>
					<real>36.55078125</real>
					<key>dstPointX</key>
					<real>339</real>
					<key>dstPointY</key>
					<real>36.55078125</real>
					<key>srcPointX</key>
					<real>1194</real>
					<key>srcPointY</key>
					<real>36.0390625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>189</real>
			<key>internalHeight</key>
			<real>47</real>
			<key>onEntryHeight</key>
			<real>48</real>
			<key>onExitHeight</key>
			<real>47</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>292</real>
			<key>x</key>
			<real>1335</real>
			<key>y</key>
			<real>101.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>GAME_OVER</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1487.90625</real>
					<key>controlPoint1Y</key>
					<real>275.71166360303823</real>
					<key>controlPoint2X</key>
					<real>1504.310166420204</real>
					<key>controlPoint2Y</key>
					<real>114.91829765238603</real>
					<key>dstPointX</key>
					<real>1471.634019241171</real>
					<key>dstPointY</key>
					<real>93.104476749687677</real>
					<key>srcPointX</key>
					<real>1525.3125</real>
					<key>srcPointY</key>
					<real>315</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>422</real>
			<key>internalHeight</key>
			<real>61</real>
			<key>onEntryHeight</key>
			<real>280</real>
			<key>onExitHeight</key>
			<real>34</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>332</real>
			<key>x</key>
			<real>1441</real>
			<key>y</key>
			<real>521</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>191.98285556017555</real>
					<key>controlPoint1Y</key>
					<real>207.62238817279376</real>
					<key>controlPoint2X</key>
					<real>163.58912400005653</real>
					<key>controlPoint2Y</key>
					<real>203.6971569480533</real>
					<key>dstPointX</key>
					<real>157.90234375</real>
					<key>dstPointY</key>
					<real>245</real>
					<key>srcPointX</key>
					<real>197.8046875</real>
					<key>srcPointY</key>
					<real>165.6171875</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>184</real>
			<key>internalHeight</key>
			<real>28</real>
			<key>onEntryHeight</key>
			<real>81</real>
			<key>onExitHeight</key>
			<real>28</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>328</real>
			<key>x</key>
			<real>181</real>
			<key>y</key>
			<real>96.6953125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SONAR_VALUES</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>64.39453125</real>
					<key>controlPoint1Y</key>
					<real>636.12201933606786</real>
					<key>controlPoint2X</key>
					<real>56.877980663932135</real>
					<key>controlPoint2Y</key>
					<real>890.8515625</real>
					<key>dstPointX</key>
					<real>142</real>
					<key>dstPointY</key>
					<real>890.8515625</real>
					<key>srcPointX</key>
					<real>64.39453125</real>
					<key>srcPointY</key>
					<real>551</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>317</real>
			<key>internalHeight</key>
			<real>111</real>
			<key>onEntryHeight</key>
			<real>131</real>
			<key>onExitHeight</key>
			<real>28</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>496</real>
			<key>x</key>
			<real>256</real>
			<key>y</key>
			<real>398.23828125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TURN_LEFT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>999.59375</real>
					<key>controlPoint1Y</key>
					<real>390.06568438797086</real>
					<key>controlPoint2X</key>
					<real>1205.1516218879708</real>
					<key>controlPoint2Y</key>
					<real>354.55078125</real>
					<key>dstPointX</key>
					<real>1280</real>
					<key>dstPointY</key>
					<real>354.55078125</real>
					<key>srcPointX</key>
					<real>999.59375</real>
					<key>srcPointY</key>
					<real>464.9140625</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>827.90782821934749</real>
					<key>controlPoint1Y</key>
					<real>505.1484375</real>
					<key>controlPoint2X</key>
					<real>691.17810928065251</real>
					<key>controlPoint2Y</key>
					<real>794.1328125</real>
					<key>dstPointX</key>
					<real>635.11328125</real>
					<key>dstPointY</key>
					<real>794.1328125</real>
					<key>srcPointX</key>
					<real>884.0859375</real>
					<key>srcPointY</key>
					<real>505.1484375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>306</real>
			<key>internalHeight</key>
			<real>86</real>
			<key>onEntryHeight</key>
			<real>86</real>
			<key>onExitHeight</key>
			<real>87</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>379</real>
			<key>x</key>
			<real>1068.45703125</real>
			<key>y</key>
			<real>613.04296875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TURN_RIGHT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>982.41162008738615</real>
					<key>controlPoint1Y</key>
					<real>190.6640625</real>
					<key>controlPoint2X</key>
					<real>1359.03125</real>
					<key>controlPoint2Y</key>
					<real>211.58837991261379</real>
					<key>dstPointX</key>
					<real>1359.03125</real>
					<key>dstPointY</key>
					<real>315</real>
					<key>srcPointX</key>
					<real>879</real>
					<key>srcPointY</key>
					<real>190.6640625</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>625.9765625</real>
					<key>controlPoint1Y</key>
					<real>441.80650687902448</real>
					<key>controlPoint2X</key>
					<real>497.28515625</real>
					<key>controlPoint2Y</key>
					<real>557.19349312097552</real>
					<key>dstPointX</key>
					<real>516.46484375</real>
					<key>dstPointY</key>
					<real>609</real>
					<key>srcPointX</key>
					<real>634.51953125</real>
					<key>srcPointY</key>
					<real>376</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>312</real>
			<key>internalHeight</key>
			<real>98</real>
			<key>onEntryHeight</key>
			<real>122</real>
			<key>onExitHeight</key>
			<real>45</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>397</real>
			<key>x</key>
			<real>712.45703125</real>
			<key>y</key>
			<real>225.95703125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WALK_ABOUT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>659.3143033024628</real>
					<key>controlPoint1Y</key>
					<real>858.96484375</real>
					<key>controlPoint2X</key>
					<real>859.7833529475372</real>
					<key>controlPoint2Y</key>
					<real>710.01953125</real>
					<key>dstPointX</key>
					<real>883.984375</real>
					<key>dstPointY</key>
					<real>710.01953125</real>
					<key>srcPointX</key>
					<real>635.11328125</real>
					<key>srcPointY</key>
					<real>858.96484375</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>637.67788316699205</real>
					<key>controlPoint1Y</key>
					<real>559.46593078983528</real>
					<key>controlPoint2X</key>
					<real>729.484375</real>
					<key>controlPoint2Y</key>
					<real>443.1387254869793</real>
					<key>dstPointX</key>
					<real>733.04296875</real>
					<key>dstPointY</key>
					<real>376</real>
					<key>srcPointX</key>
					<real>621.2013339762201</real>
					<key>srcPointY</key>
					<real>609.9857038806224</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>839.91703573687278</real>
					<key>controlPoint1Y</key>
					<real>1009.078125</real>
					<key>controlPoint2X</key>
					<real>1483.6953125</real>
					<key>controlPoint2Y</key>
					<real>930.91703573687278</real>
					<key>dstPointX</key>
					<real>1483.6953125</real>
					<key>dstPointY</key>
					<real>726</real>
					<key>srcPointX</key>
					<real>635</real>
					<key>srcPointY</key>
					<real>931.48828125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>314</real>
			<key>internalHeight</key>
			<real>107</real>
			<key>onEntryHeight</key>
			<real>119</real>
			<key>onExitHeight</key>
			<real>41</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>504</real>
			<key>x</key>
			<real>389</real>
			<key>y</key>
			<real>761</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
