<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>END</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1021.1646283632195</real>
					<key>controlPoint1Y</key>
					<real>-7.6127632824311746</real>
					<key>controlPoint2X</key>
					<real>351.0546875</real>
					<key>controlPoint2Y</key>
					<real>-6.6551875739654918</real>
					<key>dstPointX</key>
					<real>351.0546875</real>
					<key>dstPointY</key>
					<real>133.23046875</real>
					<key>srcPointX</key>
					<real>1230.8337172500301</real>
					<key>srcPointY</key>
					<real>61.144672451288798</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>54</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>164</real>
			<key>x</key>
			<real>1304</real>
			<key>y</key>
			<real>68</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>GAME_OVER</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1328.1867357873716</real>
					<key>controlPoint1Y</key>
					<real>519.49416120794569</real>
					<key>controlPoint2X</key>
					<real>1155.8132642126284</real>
					<key>controlPoint2Y</key>
					<real>60.991831752176068</real>
					<key>dstPointX</key>
					<real>1227.0676610394744</real>
					<key>dstPointY</key>
					<real>64.903661263805162</real>
					<key>srcPointX</key>
					<real>1256.9323389605256</real>
					<key>srcPointY</key>
					<real>515.5823316963166</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>377</real>
			<key>internalHeight</key>
			<real>108</real>
			<key>onEntryHeight</key>
			<real>113</real>
			<key>onExitHeight</key>
			<real>109</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>332</real>
			<key>x</key>
			<real>1328</real>
			<key>y</key>
			<real>664.19921875</real>
			<key>zoomedInternalHeight</key>
			<real>112.87999725341797</real>
			<key>zoomedOnEntryHeight</key>
			<real>112.87999725341797</real>
			<key>zoomedOnExitHeight</key>
			<real>112.87999725341797</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>203.98285556017555</real>
					<key>controlPoint1Y</key>
					<real>226.62238817279376</real>
					<key>controlPoint2X</key>
					<real>188.58912400005653</real>
					<key>controlPoint2Y</key>
					<real>172.6971569480533</real>
					<key>dstPointX</key>
					<real>182.90234375</real>
					<key>dstPointY</key>
					<real>214</real>
					<key>srcPointX</key>
					<real>209.8046875</real>
					<key>srcPointY</key>
					<real>184.6171875</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>166</real>
			<key>internalHeight</key>
			<real>28</real>
			<key>onEntryHeight</key>
			<real>63</real>
			<key>onExitHeight</key>
			<real>28</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>328</real>
			<key>x</key>
			<real>192.84765625</real>
			<key>y</key>
			<real>106.69140625</real>
			<key>zoomedInternalHeight</key>
			<real>41.139999389648438</real>
			<key>zoomedOnEntryHeight</key>
			<real>41.139999389648438</real>
			<key>zoomedOnExitHeight</key>
			<real>41.139999389648438</real>
		</dict>
		<key>SONAR_VALUES</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>196.76953125</real>
					<key>controlPoint1Y</key>
					<real>472.32671897763782</real>
					<key>controlPoint2X</key>
					<real>103.78656227236212</real>
					<key>controlPoint2Y</key>
					<real>774.28515625</real>
					<key>dstPointX</key>
					<real>192.11328125</real>
					<key>dstPointY</key>
					<real>774.28515625</real>
					<key>srcPointX</key>
					<real>196.76953125</real>
					<key>srcPointY</key>
					<real>384</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>317</real>
			<key>internalHeight</key>
			<real>109</real>
			<key>onEntryHeight</key>
			<real>133</real>
			<key>onExitHeight</key>
			<real>28</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>516</real>
			<key>x</key>
			<real>290.9453125</real>
			<key>y</key>
			<real>367.5</real>
			<key>zoomedInternalHeight</key>
			<real>92.480003356933594</real>
			<key>zoomedOnEntryHeight</key>
			<real>92.480003356933594</real>
			<key>zoomedOnExitHeight</key>
			<real>92.480003356933594</real>
		</dict>
		<key>TURN_LEFT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>629.91378505297496</real>
					<key>controlPoint1Y</key>
					<real>420.45377182966297</real>
					<key>controlPoint2X</key>
					<real>1354.9846524470249</real>
					<key>controlPoint2Y</key>
					<real>631.77671516420901</real>
					<key>dstPointX</key>
					<real>1245.732582075826</real>
					<key>dstPointY</key>
					<real>535.3117661840671</real>
					<key>srcPointX</key>
					<real>739.16585542417408</real>
					<key>srcPointY</key>
					<real>516.91872080980488</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>676.05263375353297</real>
					<key>controlPoint1Y</key>
					<real>545.10475249826334</real>
					<key>controlPoint2X</key>
					<real>736.95908499646703</real>
					<key>controlPoint2Y</key>
					<real>740.1328125</real>
					<key>dstPointX</key>
					<real>685.11328125</real>
					<key>dstPointY</key>
					<real>740.1328125</real>
					<key>srcPointX</key>
					<real>743.0028649621928</real>
					<key>srcPointY</key>
					<real>545.10475249826334</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>368</real>
			<key>internalHeight</key>
			<real>105</real>
			<key>onEntryHeight</key>
			<real>110</real>
			<key>onExitHeight</key>
			<real>106</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>379</real>
			<key>x</key>
			<real>912.6015625</real>
			<key>y</key>
			<real>688.84375</real>
			<key>zoomedInternalHeight</key>
			<real>109.81999969482422</real>
			<key>zoomedOnEntryHeight</key>
			<real>109.81999969482422</real>
			<key>zoomedOnExitHeight</key>
			<real>109.81999969482422</real>
		</dict>
		<key>TURN_RIGHT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>782.9140625</real>
					<key>controlPoint1Y</key>
					<real>45.020353667807967</real>
					<key>controlPoint2X</key>
					<real>1252.2892940267864</real>
					<key>controlPoint2Y</key>
					<real>459.32113491780797</real>
					<key>dstPointX</key>
					<real>1252.2892940267864</real>
					<key>dstPointY</key>
					<real>528.27719895847008</real>
					<key>srcPointX</key>
					<real>782.9140625</real>
					<key>srcPointY</key>
					<real>67</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>594.2223914605197</real>
					<key>controlPoint1Y</key>
					<real>425.15533704107554</real>
					<key>controlPoint2X</key>
					<real>424.71875</real>
					<key>controlPoint2Y</key>
					<real>495.01217685187555</real>
					<key>dstPointX</key>
					<real>424.71875</real>
					<key>dstPointY</key>
					<real>555</real>
					<key>srcPointX</key>
					<real>631.03517503260832</real>
					<key>srcPointY</key>
					<real>377.7912378548225</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>326</real>
			<key>internalHeight</key>
			<real>91</real>
			<key>onEntryHeight</key>
			<real>142</real>
			<key>onExitHeight</key>
			<real>46</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>359</real>
			<key>x</key>
			<real>797.19140625</real>
			<key>y</key>
			<real>225</real>
			<key>zoomedInternalHeight</key>
			<real>95.540000915527344</real>
			<key>zoomedOnEntryHeight</key>
			<real>95.540000915527344</real>
			<key>zoomedOnExitHeight</key>
			<real>95.540000915527344</real>
		</dict>
		<key>WALK_ABOUT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>709.3143033024628</real>
					<key>controlPoint1Y</key>
					<real>804.96484375</real>
					<key>controlPoint2X</key>
					<real>703.6974154475372</real>
					<key>controlPoint2Y</key>
					<real>755.10546875</real>
					<key>dstPointX</key>
					<real>727.8984375</real>
					<key>dstPointY</key>
					<real>755.10546875</real>
					<key>srcPointX</key>
					<real>685.11328125</real>
					<key>srcPointY</key>
					<real>804.96484375</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>626.4375</real>
					<key>controlPoint1Y</key>
					<real>509.74889328766193</real>
					<key>controlPoint2X</key>
					<real>738.2265625</real>
					<key>controlPoint2Y</key>
					<real>427.25110671233807</real>
					<key>dstPointX</key>
					<real>738.2265625</real>
					<key>dstPointY</key>
					<real>382</real>
					<key>srcPointX</key>
					<real>626.4375</real>
					<key>srcPointY</key>
					<real>555</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>879.68021448306752</real>
					<key>controlPoint1Y</key>
					<real>952.03125</real>
					<key>controlPoint2X</key>
					<real>1370.1953125</real>
					<key>controlPoint2Y</key>
					<real>1041.8677144830676</real>
					<key>dstPointX</key>
					<real>1370.1953125</real>
					<key>dstPointY</key>
					<real>847.30078125</real>
					<key>srcPointX</key>
					<real>685.11328125</real>
					<key>srcPointY</key>
					<real>952.03125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>444</real>
			<key>internalHeight</key>
			<real>130</real>
			<key>onEntryHeight</key>
			<real>222</real>
			<key>onExitHeight</key>
			<real>45</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>504</real>
			<key>x</key>
			<real>438.88671875</real>
			<key>y</key>
			<real>772</real>
			<key>zoomedInternalHeight</key>
			<real>135.66000366210938</real>
			<key>zoomedOnEntryHeight</key>
			<real>135.66000366210938</real>
			<key>zoomedOnExitHeight</key>
			<real>135.66000366210938</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
