<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>AvoidGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>802.20020469433848</real>
					<key>controlPoint1Y</key>
					<real>399.60547206971637</real>
					<key>controlPoint2X</key>
					<real>809.79979530566152</real>
					<key>controlPoint2Y</key>
					<real>355.39452793028363</real>
					<key>dstPointX</key>
					<real>823.98132792788033</real>
					<key>dstPointY</key>
					<real>340.48944772529853</real>
					<key>srcPointX</key>
					<real>788.01867207211967</real>
					<key>srcPointY</key>
					<real>414.51055227470147</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>710.49013851275663</real>
					<key>controlPoint1Y</key>
					<real>400.16780804242035</real>
					<key>controlPoint2X</key>
					<real>701.50986148724337</real>
					<key>controlPoint2Y</key>
					<real>355.83219195757965</real>
					<key>dstPointX</key>
					<real>686.81980515339467</real>
					<key>dstPointY</key>
					<real>341.14213562373095</real>
					<key>srcPointX</key>
					<real>725.18019484660533</real>
					<key>srcPointY</key>
					<real>414.85786437626905</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>757</real>
			<key>y</key>
			<real>429</real>
		</dict>
		<key>CheckGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>321.38219036413989</real>
					<key>controlPoint1Y</key>
					<real>587.92573172689151</real>
					<key>controlPoint2X</key>
					<real>241.61780963586003</real>
					<key>controlPoint2Y</key>
					<real>514.07426827310871</real>
					<key>dstPointX</key>
					<real>195.5461437444996</real>
					<key>dstPointY</key>
					<real>486.32025267590353</real>
					<key>srcPointX</key>
					<real>367.4538562555004</real>
					<key>srcPointY</key>
					<real>615.67974732409652</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>363.70447854817809</real>
					<key>controlPoint1Y</key>
					<real>668.83416358219097</real>
					<key>controlPoint2X</key>
					<real>349.29552145182191</real>
					<key>controlPoint2Y</key>
					<real>732.16583641780903</real>
					<key>dstPointX</key>
					<real>331.90342887941091</real>
					<key>dstPointY</key>
					<real>758.3418141278014</real>
					<key>srcPointX</key>
					<real>381.09657112058909</real>
					<key>srcPointY</key>
					<real>642.6581858721986</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>406</real>
			<key>y</key>
			<real>626</real>
		</dict>
		<key>DecideHeading</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>757</real>
					<key>controlPoint1Y</key>
					<real>568.25</real>
					<key>controlPoint2X</key>
					<real>757</real>
					<key>controlPoint2Y</key>
					<real>488.75</real>
					<key>dstPointX</key>
					<real>757</real>
					<key>dstPointY</key>
					<real>449</real>
					<key>srcPointX</key>
					<real>757</real>
					<key>srcPointY</key>
					<real>608</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>683.75</real>
					<key>controlPoint1Y</key>
					<real>628</real>
					<key>controlPoint2X</key>
					<real>627.25</real>
					<key>controlPoint2Y</key>
					<real>628</real>
					<key>dstPointX</key>
					<real>599</real>
					<key>dstPointY</key>
					<real>628</real>
					<key>srcPointX</key>
					<real>712</real>
					<key>srcPointY</key>
					<real>628</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>757</real>
			<key>y</key>
			<real>628</real>
		</dict>
		<key>Dummy_Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1384</real>
					<key>controlPoint1Y</key>
					<real>625</real>
					<key>controlPoint2X</key>
					<real>1368.9998474138556</real>
					<key>controlPoint2Y</key>
					<real>624.84375059603963</real>
					<key>dstPointX</key>
					<real>1349</real>
					<key>dstPointY</key>
					<real>624.921875</real>
					<key>srcPointX</key>
					<real>1404</real>
					<key>srcPointY</key>
					<real>625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1449</real>
			<key>y</key>
			<real>625</real>
		</dict>
		<key>FinishKick</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1045</real>
			<key>y</key>
			<real>124</real>
		</dict>
		<key>Give_Up</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1121.0219008410311</real>
					<key>controlPoint1Y</key>
					<real>333.23505029684645</real>
					<key>controlPoint2X</key>
					<real>1176.7938625656986</real>
					<key>controlPoint2Y</key>
					<real>262.0495085878843</real>
					<key>dstPointX</key>
					<real>1212.6773349794582</real>
					<key>dstPointY</key>
					<real>235.80637204647792</real>
					<key>srcPointX</key>
					<real>1084.9320400205418</real>
					<key>srcPointY</key>
					<real>359.19362795352208</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1047.6953125</real>
			<key>y</key>
			<real>371</real>
		</dict>
		<key>KickGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>424.19173348001124</real>
					<key>controlPoint1Y</key>
					<real>216.64101545901013</real>
					<key>controlPoint2X</key>
					<real>477.80826651998876</real>
					<key>controlPoint2Y</key>
					<real>190.35898454098995</real>
					<key>dstPointX</key>
					<real>506.42237170477972</real>
					<key>dstPointY</key>
					<real>182.98868472066496</real>
					<key>srcPointX</key>
					<real>395.57762829522028</real>
					<key>srcPointY</key>
					<real>224.01131527933507</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>424.91542614191439</real>
					<key>controlPoint1Y</key>
					<real>240.3576502253529</real>
					<key>controlPoint2X</key>
					<real>480.08457385808561</real>
					<key>controlPoint2Y</key>
					<real>264.64234977464719</real>
					<key>dstPointX</key>
					<real>509.18197446652584</real>
					<key>dstPointY</key>
					<real>271.44621956866052</real>
					<key>srcPointX</key>
					<real>395.81802553347416</real>
					<key>srcPointY</key>
					<real>233.5537804313395</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>352</real>
			<key>y</key>
			<real>229</real>
		</dict>
		<key>KickLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>622.66766701643905</real>
					<key>controlPoint1Y</key>
					<real>189.35770107746313</real>
					<key>controlPoint2X</key>
					<real>677.33233298356095</real>
					<key>controlPoint2Y</key>
					<real>213.64229892253687</real>
					<key>dstPointX</key>
					<real>706.1933565594893</real>
					<key>dstPointY</key>
					<real>220.42463946288001</real>
					<key>srcPointX</key>
					<real>593.8066434405107</real>
					<key>srcPointY</key>
					<real>182.57536053711999</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>178</real>
		</dict>
		<key>KickRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>624.94427204530302</real>
					<key>controlPoint1Y</key>
					<real>263.64035960150386</real>
					<key>controlPoint2X</key>
					<real>678.05572795469698</real>
					<key>controlPoint2Y</key>
					<real>237.35964039849608</real>
					<key>dstPointX</key>
					<real>706.43616297152732</real>
					<key>dstPointY</key>
					<real>230.012421180941</real>
					<key>srcPointX</key>
					<real>596.56383702847268</real>
					<key>srcPointY</key>
					<real>270.98757881905897</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>553</real>
			<key>y</key>
			<real>276</real>
		</dict>
		<key>PassLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>699.32481664748013</real>
					<key>controlPoint1Y</key>
					<real>297.70340883373768</real>
					<key>controlPoint2X</key>
					<real>705.67518335251987</real>
					<key>controlPoint2Y</key>
					<real>254.29659116626232</real>
					<key>dstPointX</key>
					<real>719.33020346032833</real>
					<key>dstPointY</key>
					<real>239.63541168208894</real>
					<key>srcPointX</key>
					<real>685.66979653967167</real>
					<key>srcPointY</key>
					<real>312.36458831791106</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>655</real>
			<key>y</key>
			<real>327</real>
		</dict>
		<key>PassRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>807.51600483609354</real>
					<key>controlPoint1Y</key>
					<real>297.65606580250176</real>
					<key>controlPoint2X</key>
					<real>797.48399516390646</real>
					<key>controlPoint2Y</key>
					<real>253.34393419749833</real>
					<key>dstPointX</key>
					<real>782.43155205416838</real>
					<key>dstPointY</key>
					<real>238.86491749194076</real>
					<key>srcPointX</key>
					<real>822.56844794583162</real>
					<key>srcPointY</key>
					<real>312.13508250805927</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>855</real>
			<key>y</key>
			<real>326</real>
		</dict>
		<key>RevertCamera</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>224.64243671673432</real>
					<key>controlPoint1Y</key>
					<real>409.94164929713878</real>
					<key>controlPoint2X</key>
					<real>284.35756328326568</real>
					<key>controlPoint2Y</key>
					<real>295.05835070286116</real>
					<key>dstPointX</key>
					<real>324.11600701394406</real>
					<key>dstPointY</key>
					<real>244.69765531066852</real>
					<key>srcPointX</key>
					<real>184.88399298605594</real>
					<key>srcPointY</key>
					<real>460.30234468933145</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>157</real>
			<key>y</key>
			<real>476</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1447.04296875</real>
			<key>y</key>
			<real>225</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>155.44978280398391</real>
					<key>controlPoint1Y</key>
					<real>578.50586130030524</real>
					<key>controlPoint2X</key>
					<real>155.55021719601609</real>
					<key>controlPoint2Y</key>
					<real>523.49413869969476</real>
					<key>dstPointX</key>
					<real>156.10017994601799</real>
					<key>dstPointY</key>
					<real>495.99600119960013</real>
					<key>srcPointX</key>
					<real>154.89982005398201</real>
					<key>srcPointY</key>
					<real>606.00399880039981</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>154</real>
			<key>y</key>
			<real>626</real>
		</dict>
		<key>Stop_Walk</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1217.5112544842252</real>
					<key>controlPoint1Y</key>
					<real>624.27941249319076</real>
					<key>controlPoint2X</key>
					<real>1134.5684575544381</real>
					<key>controlPoint2Y</key>
					<real>623.47983737421509</real>
					<key>dstPointX</key>
					<real>1093.0767517718455</real>
					<key>dstPointY</key>
					<real>623.1562452318467</real>
					<key>srcPointX</key>
					<real>1259.0013732281545</real>
					<key>srcPointY</key>
					<real>624.7656297681533</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1219.6232971447348</real>
					<key>controlPoint1Y</key>
					<real>558.52405370241922</real>
					<key>controlPoint2X</key>
					<real>1133.6209782833985</real>
					<key>controlPoint2Y</key>
					<real>436.75363166461761</real>
					<key>dstPointX</key>
					<real>1080.5537180727179</real>
					<key>dstPointY</key>
					<real>385.08656795220543</real>
					<key>srcPointX</key>
					<real>1272.0556569272821</real>
					<key>srcPointY</key>
					<real>610.83530704779457</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1304</real>
			<key>y</key>
			<real>625.0390625</real>
		</dict>
		<key>TopCamSwitch</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>489.00593417630307</real>
					<key>controlPoint1Y</key>
					<real>627.45950880811893</real>
					<key>controlPoint2X</key>
					<real>470.99406582369693</real>
					<key>controlPoint2Y</key>
					<real>626.54049119188107</real>
					<key>dstPointX</key>
					<real>450.99589172409787</real>
					<key>dstPointY</key>
					<real>626.27024559594054</real>
					<key>srcPointX</key>
					<real>509.00410827590213</real>
					<key>srcPointY</key>
					<real>627.72975440405946</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>554</real>
			<key>y</key>
			<real>628</real>
		</dict>
		<key>TurnToGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>247.89632021977204</real>
					<key>controlPoint1Y</key>
					<real>734.88351280812321</real>
					<key>controlPoint2X</key>
					<real>213.10367978022796</real>
					<key>controlPoint2Y</key>
					<real>666.1164871918769</real>
					<key>dstPointX</key>
					<real>186.23843184170664</real>
					<key>dstPointY</key>
					<real>639.95359867658476</real>
					<key>srcPointX</key>
					<real>274.76156815829336</real>
					<key>srcPointY</key>
					<real>761.04640132341524</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>307</real>
			<key>y</key>
			<real>775</real>
		</dict>
		<key>Wait</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>847.11097333754947</real>
					<key>controlPoint1Y</key>
					<real>261.57869325315625</real>
					<key>controlPoint2X</key>
					<real>951.66697341714053</real>
					<key>controlPoint2Y</key>
					<real>334.07984569990231</real>
					<key>dstPointX</key>
					<real>1008.1987398485273</real>
					<key>dstPointY</key>
					<real>362.20066706619684</real>
					<key>srcPointX</key>
					<real>790.41063515147266</real>
					<key>srcPointY</key>
					<real>233.79933293380316</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>846.39988720270298</real>
					<key>controlPoint1Y</key>
					<real>200.09315115768004</real>
					<key>controlPoint2X</key>
					<real>948.60011279729702</real>
					<key>controlPoint2Y</key>
					<real>148.90684884231999</real>
					<key>dstPointX</key>
					<real>1002.4261113051533</real>
					<key>dstPointY</key>
					<real>130.47828664132507</real>
					<key>srcPointX</key>
					<real>792.57388869484669</real>
					<key>srcPointY</key>
					<real>218.52171335867493</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>750</real>
			<key>y</key>
			<real>225</real>
		</dict>
		<key>WalkConnect</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1320.9893639199258</real>
					<key>controlPoint1Y</key>
					<real>224.23732163009515</real>
					<key>controlPoint2X</key>
					<real>1374.9246972691019</real>
					<key>controlPoint2Y</key>
					<real>224.76293819002967</real>
					<key>dstPointX</key>
					<real>1401.9146364100493</real>
					<key>dstPointY</key>
					<real>224.89899118722795</real>
					<key>srcPointX</key>
					<real>1293.9994260899507</real>
					<key>srcPointY</key>
					<real>224.10100881277205</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1249</real>
			<key>y</key>
			<real>224</real>
		</dict>
		<key>Walk_Disconnect</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>952.81756223367893</real>
					<key>controlPoint1Y</key>
					<real>624.20879186288107</real>
					<key>controlPoint2X</key>
					<real>852.26058859393913</real>
					<key>controlPoint2Y</key>
					<real>626.79270999833011</real>
					<key>dstPointX</key>
					<real>801.99335889417546</real>
					<key>dstPointY</key>
					<real>627.65640810313721</real>
					<key>srcPointX</key>
					<real>1003.0847661058245</real>
					<key>srcPointY</key>
					<real>623.34359189686279</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1048.1701388224458</real>
					<key>controlPoint1Y</key>
					<real>550.00003827127307</real>
					<key>controlPoint2X</key>
					<real>1049.3270181001822</real>
					<key>controlPoint2Y</key>
					<real>443.99518278269073</real>
					<key>dstPointX</key>
					<real>1048.609375</real>
					<key>dstPointY</key>
					<real>391</real>
					<key>srcPointX</key>
					<real>1048.078125</real>
					<key>srcPointY</key>
					<real>603</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1047.9609375</real>
			<key>y</key>
			<real>623</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
