<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>AvoidGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>802.20020469433848</real>
					<key>controlPoint1Y</key>
					<real>399.60547206971637</real>
					<key>controlPoint2X</key>
					<real>809.79979530566152</real>
					<key>controlPoint2Y</key>
					<real>355.39452793028363</real>
					<key>dstPointX</key>
					<real>823.98132792788033</real>
					<key>dstPointY</key>
					<real>340.48944772529853</real>
					<key>srcPointX</key>
					<real>788.01867207211967</real>
					<key>srcPointY</key>
					<real>414.51055227470147</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>710.49013851275663</real>
					<key>controlPoint1Y</key>
					<real>400.16780804242035</real>
					<key>controlPoint2X</key>
					<real>701.50986148724337</real>
					<key>controlPoint2Y</key>
					<real>355.83219195757965</real>
					<key>dstPointX</key>
					<real>686.81980515339467</real>
					<key>dstPointY</key>
					<real>341.14213562373095</real>
					<key>srcPointX</key>
					<real>725.18019484660533</real>
					<key>srcPointY</key>
					<real>414.85786437626905</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>757</real>
			<key>y</key>
			<real>429</real>
		</dict>
		<key>CheckGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>387.81124891137574</real>
					<key>controlPoint1Y</key>
					<real>517.05088852513097</real>
					<key>controlPoint2X</key>
					<real>370.18875108862426</real>
					<key>controlPoint2Y</key>
					<real>337.94911147486903</real>
					<key>dstPointX</key>
					<real>358.06505766391336</real>
					<key>dstPointY</key>
					<real>248.81751351912425</real>
					<key>srcPointX</key>
					<real>399.93494233608664</real>
					<key>srcPointY</key>
					<real>606.1824864808757</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>363.70447854817809</real>
					<key>controlPoint1Y</key>
					<real>668.83416358219097</real>
					<key>controlPoint2X</key>
					<real>349.29552145182191</real>
					<key>controlPoint2Y</key>
					<real>732.16583641780903</real>
					<key>dstPointX</key>
					<real>331.90342887941091</real>
					<key>dstPointY</key>
					<real>758.3418141278014</real>
					<key>srcPointX</key>
					<real>381.09657112058909</real>
					<key>srcPointY</key>
					<real>642.6581858721986</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>406</real>
			<key>y</key>
			<real>626</real>
		</dict>
		<key>DecideHeading</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>757</real>
					<key>controlPoint1Y</key>
					<real>568.25</real>
					<key>controlPoint2X</key>
					<real>757</real>
					<key>controlPoint2Y</key>
					<real>488.75</real>
					<key>dstPointX</key>
					<real>757</real>
					<key>dstPointY</key>
					<real>449</real>
					<key>srcPointX</key>
					<real>757</real>
					<key>srcPointY</key>
					<real>608</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>683.75</real>
					<key>controlPoint1Y</key>
					<real>628</real>
					<key>controlPoint2X</key>
					<real>627.25</real>
					<key>controlPoint2Y</key>
					<real>628</real>
					<key>dstPointX</key>
					<real>599</real>
					<key>dstPointY</key>
					<real>628</real>
					<key>srcPointX</key>
					<real>712</real>
					<key>srcPointY</key>
					<real>628</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>757</real>
			<key>y</key>
			<real>628</real>
		</dict>
		<key>Dummy_Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1384</real>
					<key>controlPoint1Y</key>
					<real>625</real>
					<key>controlPoint2X</key>
					<real>1368.9999618531365</real>
					<key>controlPoint2Y</key>
					<real>624.92187507450558</real>
					<key>dstPointX</key>
					<real>1349</real>
					<key>dstPointY</key>
					<real>624.9609375</real>
					<key>srcPointX</key>
					<real>1404</real>
					<key>srcPointY</key>
					<real>625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1449</real>
			<key>y</key>
			<real>625</real>
		</dict>
		<key>FinishKick</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1118.6748147836474</real>
					<key>controlPoint1Y</key>
					<real>149.11117486052598</real>
					<key>controlPoint2X</key>
					<real>1175.3251852163526</real>
					<key>controlPoint2Y</key>
					<real>198.88882513947402</real>
					<key>dstPointX</key>
					<real>1208.5935674772859</real>
					<key>dstPointY</key>
					<real>215.19685565953941</real>
					<key>srcPointX</key>
					<real>1085.4064325227141</real>
					<key>srcPointY</key>
					<real>132.80314434046059</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1085.5147312932756</real>
					<key>controlPoint1Y</key>
					<real>194.00715754699326</real>
					<key>controlPoint2X</key>
					<real>1113.5331412057983</real>
					<key>controlPoint2Y</key>
					<real>304.02976719530801</real>
					<key>dstPointX</key>
					<real>1136.058069664984</real>
					<key>dstPointY</key>
					<real>355.70583203617122</real>
					<key>srcPointX</key>
					<real>1062.984899085016</real>
					<key>srcPointY</key>
					<real>142.33323046382878</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1045</real>
			<key>y</key>
			<real>124</real>
		</dict>
		<key>Give_Up</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1194.9290545269519</real>
					<key>controlPoint1Y</key>
					<real>330.71108973563037</real>
					<key>controlPoint2X</key>
					<real>1208.1629424402872</real>
					<key>controlPoint2Y</key>
					<real>267.35908767911201</real>
					<key>dstPointX</key>
					<real>1224.9226563467046</real>
					<key>dstPointY</key>
					<real>240.89638151108457</real>
					<key>srcPointX</key>
					<real>1178.1203124032954</real>
					<key>srcPointY</key>
					<real>357.1426809889154</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1153.95703125</real>
			<key>y</key>
			<real>373.9609375</real>
		</dict>
		<key>KickGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>424.19173348001124</real>
					<key>controlPoint1Y</key>
					<real>216.64101545901013</real>
					<key>controlPoint2X</key>
					<real>477.80826651998876</real>
					<key>controlPoint2Y</key>
					<real>190.35898454098995</real>
					<key>dstPointX</key>
					<real>506.42237170477972</real>
					<key>dstPointY</key>
					<real>182.98868472066496</real>
					<key>srcPointX</key>
					<real>395.57762829522028</real>
					<key>srcPointY</key>
					<real>224.01131527933507</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>424.91542614191439</real>
					<key>controlPoint1Y</key>
					<real>240.3576502253529</real>
					<key>controlPoint2X</key>
					<real>480.08457385808561</real>
					<key>controlPoint2Y</key>
					<real>264.64234977464719</real>
					<key>dstPointX</key>
					<real>509.18197446652584</real>
					<key>dstPointY</key>
					<real>271.44621956866052</real>
					<key>srcPointX</key>
					<real>395.81802553347416</real>
					<key>srcPointY</key>
					<real>233.5537804313395</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>423.27672968662324</real>
					<key>controlPoint1Y</key>
					<real>188.61294726922338</real>
					<key>controlPoint2X</key>
					<real>478.7232703133767</real>
					<key>controlPoint2Y</key>
					<real>114.38705273077663</real>
					<key>dstPointX</key>
					<real>514.56605168181227</real>
					<key>dstPointY</key>
					<real>86.32830974033466</real>
					<key>srcPointX</key>
					<real>387.43394831818767</real>
					<key>srcPointY</key>
					<real>216.67169025966535</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>352</real>
			<key>y</key>
			<real>229</real>
		</dict>
		<key>KickLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>622.66766701643905</real>
					<key>controlPoint1Y</key>
					<real>189.35770107746313</real>
					<key>controlPoint2X</key>
					<real>677.33233298356095</real>
					<key>controlPoint2Y</key>
					<real>213.64229892253687</real>
					<key>dstPointX</key>
					<real>706.1933565594893</real>
					<key>dstPointY</key>
					<real>220.42463946288001</real>
					<key>srcPointX</key>
					<real>593.8066434405107</real>
					<key>srcPointY</key>
					<real>182.57536053711999</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>178</real>
		</dict>
		<key>KickRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>624.94427204530302</real>
					<key>controlPoint1Y</key>
					<real>263.64035960150386</real>
					<key>controlPoint2X</key>
					<real>678.05572795469698</real>
					<key>controlPoint2Y</key>
					<real>237.35964039849608</real>
					<key>dstPointX</key>
					<real>706.43616297152732</real>
					<key>dstPointY</key>
					<real>230.012421180941</real>
					<key>srcPointX</key>
					<real>596.56383702847268</real>
					<key>srcPointY</key>
					<real>270.98757881905897</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>553</real>
			<key>y</key>
			<real>276</real>
		</dict>
		<key>LostBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>723.44127746306458</real>
					<key>controlPoint1Y</key>
					<real>149.02534124900643</real>
					<key>controlPoint2X</key>
					<real>980.51407142046014</real>
					<key>controlPoint2Y</key>
					<real>299.19042337960354</real>
					<key>dstPointX</key>
					<real>1113.7405060028834</real>
					<key>dstPointY</key>
					<real>365.14227160659675</real>
					<key>srcPointX</key>
					<real>590.30246274711669</real>
					<key>srcPointY</key>
					<real>82.896790893403235</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>74</real>
		</dict>
		<key>PassLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>699.32481664748013</real>
					<key>controlPoint1Y</key>
					<real>297.70340883373768</real>
					<key>controlPoint2X</key>
					<real>705.67518335251987</real>
					<key>controlPoint2Y</key>
					<real>254.29659116626232</real>
					<key>dstPointX</key>
					<real>719.33020346032833</real>
					<key>dstPointY</key>
					<real>239.63541168208894</real>
					<key>srcPointX</key>
					<real>685.66979653967167</real>
					<key>srcPointY</key>
					<real>312.36458831791106</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>655</real>
			<key>y</key>
			<real>327</real>
		</dict>
		<key>PassRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>807.51600483609354</real>
					<key>controlPoint1Y</key>
					<real>297.65606580250176</real>
					<key>controlPoint2X</key>
					<real>797.48399516390646</real>
					<key>controlPoint2Y</key>
					<real>253.34393419749833</real>
					<key>dstPointX</key>
					<real>782.43155205416838</real>
					<key>dstPointY</key>
					<real>238.86491749194076</real>
					<key>srcPointX</key>
					<real>822.56844794583162</real>
					<key>srcPointY</key>
					<real>312.13508250805927</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>855</real>
			<key>y</key>
			<real>326</real>
		</dict>
		<key>RevertCamera</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>177.31109525289514</real>
					<key>controlPoint1Y</key>
					<real>403.72350232306326</real>
					<key>controlPoint2X</key>
					<real>265.68890474710491</real>
					<key>controlPoint2Y</key>
					<real>290.27649767693686</real>
					<key>dstPointX</key>
					<real>318.62180231014861</real>
					<key>dstPointY</key>
					<real>242.41380102989345</real>
					<key>srcPointX</key>
					<real>124.37819768985138</real>
					<key>srcPointY</key>
					<real>451.58619897010658</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>91</real>
			<key>y</key>
			<real>465</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1447.04296875</real>
			<key>y</key>
			<real>225</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>126.12436802252498</real>
					<key>controlPoint1Y</key>
					<real>576.47488111020357</real>
					<key>controlPoint2X</key>
					<real>118.65861239557813</real>
					<key>controlPoint2Y</key>
					<real>513.06602761706313</real>
					<key>dstPointX</key>
					<real>107.25944804913914</real>
					<key>dstPointY</key>
					<real>483.64882930367213</real>
					<key>srcPointX</key>
					<real>137.12727070086083</real>
					<key>srcPointY</key>
					<real>606.04257694632793</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>152.61328125</real>
			<key>y</key>
			<real>625.30859375</real>
		</dict>
		<key>Stop_Walk</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1217.5005212530564</real>
					<key>controlPoint1Y</key>
					<real>624.39940803697823</real>
					<key>controlPoint2X</key>
					<real>1134.5392558267497</real>
					<key>controlPoint2Y</key>
					<real>623.4801950055745</real>
					<key>dstPointX</key>
					<real>1093.0376892718455</real>
					<key>dstPointY</key>
					<real>623.1562452318467</real>
					<key>srcPointX</key>
					<real>1259.0013732281545</real>
					<key>srcPointY</key>
					<real>624.8046922681533</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1250.1548543561501</real>
					<key>controlPoint1Y</key>
					<real>556.20286472383282</real>
					<key>controlPoint2X</key>
					<real>1207.9303237275478</real>
					<key>controlPoint2Y</key>
					<real>442.77194442131736</real>
					<key>dstPointX</key>
					<real>1177.1273466759485</real>
					<key>dstPointY</key>
					<real>391.20699986122395</real>
					<key>srcPointX</key>
					<real>1280.9156220740515</real>
					<key>srcPointY</key>
					<real>607.79300013877605</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1304</real>
			<key>y</key>
			<real>625.0390625</real>
		</dict>
		<key>TopCamSwitch</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>489.00593417630307</real>
					<key>controlPoint1Y</key>
					<real>627.45950880811893</real>
					<key>controlPoint2X</key>
					<real>470.99406582369693</real>
					<key>controlPoint2Y</key>
					<real>626.54049119188107</real>
					<key>dstPointX</key>
					<real>450.99589172409787</real>
					<key>dstPointY</key>
					<real>626.27024559594054</real>
					<key>srcPointX</key>
					<real>509.00410827590213</real>
					<key>srcPointY</key>
					<real>627.72975440405946</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>554</real>
			<key>y</key>
			<real>628</real>
		</dict>
		<key>TurnToGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>247.65082384370544</real>
					<key>controlPoint1Y</key>
					<real>734.635919563529</real>
					<key>controlPoint2X</key>
					<real>213.18419537355388</real>
					<key>controlPoint2Y</key>
					<real>664.58727609397249</real>
					<key>dstPointX</key>
					<real>185.62241518473152</real>
					<key>dstPointY</key>
					<real>638.64625319144216</real>
					<key>srcPointX</key>
					<real>274.76430356526851</real>
					<key>srcPointY</key>
					<real>761.04515305855784</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>307</real>
			<key>y</key>
			<real>775</real>
		</dict>
		<key>Wait</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>873.60339003864829</real>
					<key>controlPoint1Y</key>
					<real>261.93569380546546</real>
					<key>controlPoint2X</key>
					<real>1030.3945153592701</real>
					<key>controlPoint2Y</key>
					<real>337.22583756990059</real>
					<key>dstPointX</key>
					<real>1111.8228836961005</real>
					<key>dstPointY</key>
					<real>367.11849850326621</real>
					<key>srcPointX</key>
					<real>792.22008505389942</real>
					<key>srcPointY</key>
					<real>231.92056399673379</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>846.39988720270298</real>
					<key>controlPoint1Y</key>
					<real>200.09315115768004</real>
					<key>controlPoint2X</key>
					<real>948.60011279729702</real>
					<key>controlPoint2Y</key>
					<real>148.90684884231999</real>
					<key>dstPointX</key>
					<real>1002.4261113051533</real>
					<key>dstPointY</key>
					<real>130.47828664132507</real>
					<key>srcPointX</key>
					<real>792.57388869484669</real>
					<key>srcPointY</key>
					<real>218.52171335867493</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>750</real>
			<key>y</key>
			<real>225</real>
		</dict>
		<key>WalkConnect</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1321.0001056771046</real>
					<key>controlPoint1Y</key>
					<real>224.23737588139403</real>
					<key>controlPoint2X</key>
					<real>1374.9569249162103</real>
					<key>controlPoint2Y</key>
					<real>224.76275420434533</real>
					<key>dstPointX</key>
					<real>1401.9576051600493</real>
					<key>dstPointY</key>
					<real>224.89899118722795</real>
					<key>srcPointX</key>
					<real>1293.9994260899507</real>
					<key>srcPointY</key>
					<real>224.10100881277205</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1249</real>
			<key>y</key>
			<real>224</real>
		</dict>
		<key>Walk_Disconnect</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>952.78824873814858</real>
					<key>controlPoint1Y</key>
					<real>624.20787240346124</real>
					<key>controlPoint2X</key>
					<real>852.25082665632885</real>
					<key>controlPoint2Y</key>
					<real>626.79287772921691</real>
					<key>dstPointX</key>
					<real>801.99335889417546</real>
					<key>dstPointY</key>
					<real>627.65640810313721</real>
					<key>srcPointX</key>
					<real>1003.0457036058245</real>
					<key>srcPointY</key>
					<real>623.34359189686279</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1087.6092574967195</real>
					<key>controlPoint1Y</key>
					<real>553.16380947488858</real>
					<key>controlPoint2X</key>
					<real>1114.5983214556175</real>
					<key>controlPoint2Y</key>
					<real>443.92863655109147</real>
					<key>dstPointX</key>
					<real>1136.4169955266611</real>
					<key>dstPointY</key>
					<real>392.44102196587568</real>
					<key>srcPointX</key>
					<real>1065.6650357233389</real>
					<key>srcPointY</key>
					<real>604.59804053412427</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1047.9609375</real>
			<key>y</key>
			<real>623</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
