<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check_Suspended</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>411.10642982220622</real>
					<key>controlPoint1Y</key>
					<real>486.74873542510159</real>
					<key>controlPoint2X</key>
					<real>513.19805375333476</real>
					<key>controlPoint2Y</key>
					<real>554.01171875</real>
					<key>dstPointX</key>
					<real>588.8203125</real>
					<key>dstPointY</key>
					<real>554.01171875</real>
					<key>srcPointX</key>
					<real>343.62137237221032</real>
					<key>srcPointY</key>
					<real>520.87340449189753</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>414.2734375</real>
					<key>controlPoint1Y</key>
					<real>586.94140625</real>
					<key>controlPoint2X</key>
					<real>516.484375</real>
					<key>controlPoint2Y</key>
					<real>756.58984375</real>
					<key>dstPointX</key>
					<real>584.984375</real>
					<key>dstPointY</key>
					<real>756.58984375</real>
					<key>srcPointX</key>
					<real>345.7734375</real>
					<key>srcPointY</key>
					<real>586.94140625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.89846413979999995</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.77964651500000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>204.37109375</real>
			<key>y</key>
			<real>602.68359375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Delete_Testfile</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>529.67550667721184</real>
					<key>controlPoint1Y</key>
					<real>251.89513888350001</real>
					<key>controlPoint2X</key>
					<real>706.7578125</real>
					<key>controlPoint2Y</key>
					<real>274.75060763350001</real>
					<key>dstPointX</key>
					<real>706.7578125</real>
					<key>dstPointY</key>
					<real>230.08203125</real>
					<key>srcPointX</key>
					<real>529.67550667721184</real>
					<key>srcPointY</key>
					<real>207.2265625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.85688170669999997</real>
				<key>red</key>
				<real>0.84255647929999999</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>464.73828125</real>
			<key>y</key>
			<real>112.7734375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Error</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.00107516775</real>
				<key>green</key>
				<real>0.4015164953</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>727.5234375</real>
			<key>y</key>
			<real>761.171875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>206.23487257898378</real>
					<key>controlPoint1Y</key>
					<real>52.604655243702808</real>
					<key>controlPoint2X</key>
					<real>282.8037317255924</real>
					<key>controlPoint2Y</key>
					<real>58.98046875</real>
					<key>dstPointX</key>
					<real>321.5703125</real>
					<key>dstPointY</key>
					<real>58.98046875</real>
					<key>srcPointX</key>
					<real>167.4757349935991</real>
					<key>srcPointY</key>
					<real>51.845024691466918</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>141.81040808834345</real>
					<key>controlPoint1Y</key>
					<real>112.92496618101615</real>
					<key>controlPoint2X</key>
					<real>173.23046875</real>
					<key>controlPoint2Y</key>
					<real>197.53711202870781</real>
					<key>dstPointX</key>
					<real>173.23046875</real>
					<key>dstPointY</key>
					<real>240.546875</real>
					<key>srcPointX</key>
					<real>132.36590927090961</real>
					<key>srcPointY</key>
					<real>70.964971508301659</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>119.5859375</real>
			<key>y</key>
			<real>53.2578125</real>
			<key>zoomedInternalHeight</key>
			<real>281</real>
			<key>zoomedOnEntryHeight</key>
			<real>295</real>
			<key>zoomedOnExitHeight</key>
			<real>290</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>29.10546875</real>
					<key>controlPoint1Y</key>
					<real>29.2109375</real>
					<key>controlPoint2X</key>
					<real>67.985434598716154</real>
					<key>controlPoint2Y</key>
					<real>29.792998961496409</real>
					<key>dstPointX</key>
					<real>84.88174318372657</real>
					<key>dstPointY</key>
					<real>40.494155730748204</real>
					<key>srcPointX</key>
					<real>29.10546875</real>
					<key>srcPointY</key>
					<real>29.2109375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>31.0859375</real>
			<key>y</key>
			<real>30.7578125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>OK</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.32557428719999998</real>
				<key>green</key>
				<real>0.74782196970000003</real>
				<key>red</key>
				<real>0.38543911949999998</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>734.95703125</real>
			<key>y</key>
			<real>495.5625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Suspend_All</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>252.05859375</real>
					<key>controlPoint1Y</key>
					<real>449.546875</real>
					<key>controlPoint2X</key>
					<real>249.83203125</real>
					<key>controlPoint2Y</key>
					<real>489.8984375</real>
					<key>dstPointX</key>
					<real>249.83203125</real>
					<key>dstPointY</key>
					<real>509.8984375</real>
					<key>srcPointX</key>
					<real>252.05859375</real>
					<key>srcPointY</key>
					<real>429.546875</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>228</real>
			<key>y</key>
			<real>333.7421875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Suspend_Self_Accepting</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.6996077517</real>
				<key>red</key>
				<real>0.91567060990000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>822.84375</real>
			<key>y</key>
			<real>135.91796875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
