<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lqfsm2gu.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>qfsm2gu.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>qfsm2gu_mk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>syntax_checker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>syntaxchecker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1084F8C1411E83B004806EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F134EAEC194BE10100B561CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F134EAF1194BE16400B561CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F134EAF5194BE1BA00B561CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F19EFBA619EE3C6300F9554D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1AE8BAC1332ADF800E8F7AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1FABD4A19026F23001AD476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
