<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>179.38617809028528</real>
					<key>controlPoint1Y</key>
					<real>76.682082897405735</real>
					<key>controlPoint2X</key>
					<real>288.82871247294798</real>
					<key>controlPoint2Y</key>
					<real>69.075086796463268</real>
					<key>dstPointX</key>
					<real>337.29117576098196</real>
					<key>dstPointY</key>
					<real>88.615316518868894</real>
					<key>srcPointX</key>
					<real>128.24057264514931</real>
					<key>srcPointY</key>
					<real>87.385258556942802</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>84</real>
			<key>y</key>
			<real>91.6953125</real>
		</dict>
		<key>Print_Name</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>456.87053958381267</real>
					<key>controlPoint1Y</key>
					<real>59.282844269024125</real>
					<key>controlPoint2X</key>
					<real>609.68712951297198</real>
					<key>controlPoint2Y</key>
					<real>90.413546853327304</real>
					<key>dstPointX</key>
					<real>602.0940955604824</real>
					<key>dstPointY</key>
					<real>138.16972496645943</real>
					<key>srcPointX</key>
					<real>416.12117593687361</real>
					<key>srcPointY</key>
					<real>85.317361259864924</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>319.13267324895378</real>
					<key>controlPoint1Y</key>
					<real>79.712401180996409</real>
					<key>controlPoint2X</key>
					<real>317.7892842804215</real>
					<key>controlPoint2Y</key>
					<real>109.73947311459133</real>
					<key>dstPointX</key>
					<real>336.56331533101036</real>
					<key>dstPointY</key>
					<real>102.84485506052002</real>
					<key>srcPointX</key>
					<real>337.39954301850645</real>
					<key>srcPointY</key>
					<real>87.856200590498204</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>378.4609375</real>
			<key>y</key>
			<real>96</real>
		</dict>
		<key>Restart</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>210.06177641069681</real>
					<key>controlPoint1Y</key>
					<real>533.64796610320172</real>
					<key>controlPoint2X</key>
					<real>269.68530622768537</real>
					<key>controlPoint2Y</key>
					<real>518.675684172155</real>
					<key>dstPointX</key>
					<real>287.26265470997026</real>
					<key>dstPointY</key>
					<real>498.88261910485852</real>
					<key>srcPointX</key>
					<real>184.28814218200455</real>
					<key>srcPointY</key>
					<real>527.61071647514302</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>194.06980115791106</real>
					<key>controlPoint1Y</key>
					<real>545.20043479711921</real>
					<key>controlPoint2X</key>
					<real>137.17550749393459</real>
					<key>controlPoint2Y</key>
					<real>564.14818645776916</real>
					<key>dstPointX</key>
					<real>138.01036346362613</real>
					<key>dstPointY</key>
					<real>544.16561866707048</real>
					<key>srcPointX</key>
					<real>177.43293926316917</real>
					<key>srcPointY</key>
					<real>534.10021739855961</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>140</real>
			<key>y</key>
			<real>524</real>
		</dict>
		<key>Restart_Self</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>357.5078125</real>
			<key>y</key>
			<real>579.52734375</real>
		</dict>
		<key>Resume</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>284.99836951427056</real>
					<key>controlPoint1Y</key>
					<real>233.49806053006657</real>
					<key>controlPoint2X</key>
					<real>397.08080629417464</real>
					<key>controlPoint2Y</key>
					<real>214.53064014291547</real>
					<key>dstPointX</key>
					<real>407.55961582262404</real>
					<key>dstPointY</key>
					<real>254.57119072846149</real>
					<key>srcPointX</key>
					<real>243.67684031751477</real>
					<key>srcPointY</key>
					<real>231.13535759299458</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>137.87159551818081</real>
					<key>controlPoint1Y</key>
					<real>216.40127864685206</real>
					<key>controlPoint2X</key>
					<real>211.43915828960542</real>
					<key>controlPoint2Y</key>
					<real>269.16762779553159</real>
					<key>dstPointX</key>
					<real>207.5997534525348</real>
					<key>dstPointY</key>
					<real>249.53961285522041</real>
					<key>srcPointX</key>
					<real>156.68033535874056</real>
					<key>srcPointY</key>
					<real>223.20063932342603</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>199</real>
			<key>y</key>
			<real>230</real>
		</dict>
		<key>Suspend</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>479.39284039700306</real>
					<key>controlPoint1Y</key>
					<real>217.82231626127427</real>
					<key>controlPoint2X</key>
					<real>177.92315610735258</real>
					<key>controlPoint2Y</key>
					<real>118.45378920069157</real>
					<key>dstPointX</key>
					<real>191.84386759839975</real>
					<key>dstPointY</key>
					<real>209.25450940531374</real>
					<key>srcPointX</key>
					<real>557.00993262695465</real>
					<key>srcPointY</key>
					<real>168.68837695388467</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>648.96488485029192</real>
					<key>controlPoint1Y</key>
					<real>180.29689884744943</real>
					<key>controlPoint2X</key>
					<real>617.96185807256688</real>
					<key>controlPoint2Y</key>
					<real>195.85209795076628</real>
					<key>dstPointX</key>
					<real>610.98971491826637</real>
					<key>dstPointY</key>
					<real>177.1067193246638</real>
					<key>srcPointX</key>
					<real>632.36030489635596</real>
					<key>srcPointY</key>
					<real>169.14844942372471</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>595.0390625</real>
			<key>y</key>
			<real>158.04296875</real>
		</dict>
		<key>Suspend_2</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>559.46724417040593</real>
					<key>controlPoint1Y</key>
					<real>279.04621685205609</real>
					<key>controlPoint2X</key>
					<real>235.44618617891859</real>
					<key>controlPoint2Y</key>
					<real>437.93463538177139</real>
					<key>dstPointX</key>
					<real>170.6670319603121</real>
					<key>dstPointY</key>
					<real>508.21312578696745</real>
					<key>srcPointX</key>
					<real>463.97905671546869</real>
					<key>srcPointY</key>
					<real>274.87355685128864</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>472.47910657005406</real>
					<key>controlPoint1Y</key>
					<real>296.73581881566963</real>
					<key>controlPoint2X</key>
					<real>419.22378897826502</real>
					<key>controlPoint2Y</key>
					<real>314.80707207953907</real>
					<key>dstPointX</key>
					<real>419.15680276312833</real>
					<key>dstPointY</key>
					<real>294.80718425867911</real>
					<key>srcPointX</key>
					<real>456.02399685619127</real>
					<key>srcPointY</key>
					<real>285.36790940783482</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>419</real>
			<key>y</key>
			<real>274.04296875</real>
		</dict>
		<key>Wait</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>346.43398840245254</real>
					<key>controlPoint1Y</key>
					<real>519.7813871190416</real>
					<key>controlPoint2X</key>
					<real>376.08298329370228</real>
					<key>controlPoint2Y</key>
					<real>541.56469066342333</real>
					<key>dstPointX</key>
					<real>370.29162943232569</real>
					<key>dstPointY</key>
					<real>560.70784140859371</real>
					<key>srcPointX</key>
					<real>337.40774697379709</real>
					<key>srcPointY</key>
					<real>501.93406335127116</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>316.80859375</real>
			<key>y</key>
			<real>483.98828125</real>
		</dict>
	</dict>
</dict>
</plist>
