<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Button_Off</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>238.14078989921603</real>
					<key>controlPoint1Y</key>
					<real>226.10333086022459</real>
					<key>controlPoint2X</key>
					<real>349.13519280113388</real>
					<key>controlPoint2Y</key>
					<real>152.4854755320975</real>
					<key>dstPointX</key>
					<real>407.81554925479702</real>
					<key>dstPointY</key>
					<real>113.09400392450458</real>
					<key>srcPointX</key>
					<real>174.69111893266046</real>
					<key>srcPointY</key>
					<real>257.23549305909216</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>134.54296875</real>
			<key>y</key>
			<real>266</real>
		</dict>
		<key>Button_On</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>445.64781653640711</real>
					<key>controlPoint1Y</key>
					<real>154.25399885202404</real>
					<key>controlPoint2X</key>
					<real>444.65580072956965</real>
					<key>controlPoint2Y</key>
					<real>218.79377807924652</real>
					<key>dstPointX</key>
					<real>446.05205396485906</real>
					<key>dstPointY</key>
					<real>251.01874702704507</real>
					<key>srcPointX</key>
					<real>445.37734842214041</real>
					<key>srcPointY</key>
					<real>121.99992943771908</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>444.95703125</real>
			<key>y</key>
			<real>102</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>229.63085011075316</real>
					<key>controlPoint1Y</key>
					<real>98.588902461885823</real>
					<key>controlPoint2X</key>
					<real>343.65110806320109</real>
					<key>controlPoint2Y</key>
					<real>96.263122686265731</real>
					<key>dstPointX</key>
					<real>400.38218037873855</real>
					<key>dstPointY</key>
					<real>100.51408976445735</real>
					<key>srcPointX</key>
					<real>172.74154976665659</real>
					<key>srcPointY</key>
					<real>98.893522766170307</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>131.72477321380464</real>
					<key>controlPoint1Y</key>
					<real>152.20387726518487</real>
					<key>controlPoint2X</key>
					<real>132.15350373064916</real>
					<key>controlPoint2Y</key>
					<real>212.75080806082062</real>
					<key>dstPointX</key>
					<real>133.15083341631998</real>
					<key>dstPointY</key>
					<real>246.00588261197237</real>
					<key>srcPointX</key>
					<real>130.14123086483633</real>
					<key>srcPointY</key>
					<real>118.97155800315315</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>128.04296875</real>
			<key>y</key>
			<real>99</real>
		</dict>
		<key>Wait_Release</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>345.64391572640722</real>
					<key>controlPoint1Y</key>
					<real>264.32033151121868</real>
					<key>controlPoint2X</key>
					<real>236.70796345741016</real>
					<key>controlPoint2Y</key>
					<real>269.56160208432721</real>
					<key>dstPointX</key>
					<real>179.19513654725057</real>
					<key>dstPointY</key>
					<real>266.91434352949784</real>
					<key>srcPointX</key>
					<real>403.00419923719915</real>
					<key>srcPointY</key>
					<real>269.27322083116803</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>448</real>
			<key>y</key>
			<real>271</real>
		</dict>
	</dict>
</dict>
</plist>
