<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Button_Off</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>232.37919493262595</real>
					<key>controlPoint1Y</key>
					<real>228.77578143373165</real>
					<key>controlPoint2X</key>
					<real>332.37684451508738</real>
					<key>controlPoint2Y</key>
					<real>145.44186516286081</real>
					<key>dstPointX</key>
					<real>385.90148675479702</real>
					<key>dstPointY</key>
					<real>109.55494142450458</real>
					<key>srcPointX</key>
					<real>174.56221268266046</real>
					<key>srcPointY</key>
					<real>257.23549305909216</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>135.03824888412871</real>
					<key>controlPoint1Y</key>
					<real>214.39390203020437</real>
					<key>controlPoint2X</key>
					<real>119.13823533679336</real>
					<key>controlPoint2Y</key>
					<real>150.25104964820764</real>
					<key>dstPointX</key>
					<real>127.53927888021816</real>
					<key>dstPointY</key>
					<real>119.78059806610335</real>
					<key>srcPointX</key>
					<real>134.8161732247957</real>
					<key>srcPointY</key>
					<real>246.00049366292259</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>134.54296875</real>
			<key>y</key>
			<real>266</real>
		</dict>
		<key>Button_On</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>423.80994379185398</real>
					<key>controlPoint1Y</key>
					<real>152.06663905176839</real>
					<key>controlPoint2X</key>
					<real>424.5972603357921</real>
					<key>controlPoint2Y</key>
					<real>211.94268909052016</real>
					<key>dstPointX</key>
					<real>426.05205396485906</real>
					<key>dstPointY</key>
					<real>245.51874702704507</real>
					<key>srcPointX</key>
					<real>423.46328592214041</real>
					<key>srcPointY</key>
					<real>118.46086693771908</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>312.21615164270719</real>
					<key>controlPoint1Y</key>
					<real>113.77453802594808</real>
					<key>controlPoint2X</key>
					<real>175.81233006246165</real>
					<key>controlPoint2Y</key>
					<real>184.59442515275043</real>
					<key>dstPointX</key>
					<real>151.01762495305351</real>
					<key>dstPointY</key>
					<real>247.40358863132289</real>
					<key>srcPointX</key>
					<real>378.70583514535332</real>
					<key>srcPointY</key>
					<real>101.98936063829294</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>423</real>
			<key>y</key>
			<real>98.5390625</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>101.70954498708231</real>
					<key>controlPoint1Y</key>
					<real>64.159078352403426</real>
					<key>controlPoint2X</key>
					<real>95.984889237131142</real>
					<key>controlPoint2Y</key>
					<real>70.806392576336023</real>
					<key>dstPointX</key>
					<real>109.38008714140534</real>
					<key>dstPointY</key>
					<real>85.657947144977243</real>
					<key>srcPointX</key>
					<real>88.27616285859466</real>
					<key>srcPointY</key>
					<real>49.342052855022764</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>57.88671875</real>
			<key>y</key>
			<real>34.5</real>
		</dict>
		<key>Long_Press</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>327.23485937991109</real>
					<key>controlPoint1Y</key>
					<real>258.95770474837502</real>
					<key>controlPoint2X</key>
					<real>234.98354017305562</real>
					<key>controlPoint2Y</key>
					<real>269.4956066920858</real>
					<key>dstPointX</key>
					<real>179.06623029725057</real>
					<key>dstPointY</key>
					<real>266.91434352949784</real>
					<key>srcPointX</key>
					<real>383.00419923719915</real>
					<key>srcPointY</key>
					<real>263.77322083116803</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>429</real>
			<key>y</key>
			<real>266.5</real>
		</dict>
		<key>Zero</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>232.92023177593569</real>
					<key>controlPoint1Y</key>
					<real>100.8355061233835</real>
					<key>controlPoint2X</key>
					<real>329.62329427829513</real>
					<key>controlPoint2Y</key>
					<real>98.030719562699545</real>
					<key>dstPointX</key>
					<real>378.0005424188264</real>
					<key>dstPointY</key>
					<real>98.36273901100671</real>
					<key>srcPointX</key>
					<real>184.54242633117363</real>
					<key>srcPointY</key>
					<real>100.59819848899329</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>139.45703125</real>
			<key>y</key>
			<real>100.5</real>
		</dict>
	</dict>
</dict>
</plist>
