<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Button_Off</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>231.72028816231736</real>
					<key>controlPoint1Y</key>
					<real>232.17290900456487</real>
					<key>controlPoint2X</key>
					<real>349.0374744743076</real>
					<key>controlPoint2Y</key>
					<real>152.40253737330801</real>
					<key>dstPointX</key>
					<real>407.72961175479702</real>
					<key>dstPointY</key>
					<real>113.09400392450458</real>
					<key>srcPointX</key>
					<real>168.27705643266046</real>
					<key>srcPointY</key>
					<real>263.23549305909216</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>128.04296875</real>
			<key>y</key>
			<real>272</real>
		</dict>
		<key>Button_On</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>445.50028629005368</real>
					<key>controlPoint1Y</key>
					<real>154.25458319240232</real>
					<key>controlPoint2X</key>
					<real>444.65579524670659</real>
					<key>controlPoint2Y</key>
					<real>218.79365153694906</real>
					<key>dstPointX</key>
					<real>446.05205396485906</real>
					<key>dstPointY</key>
					<real>251.01874702704507</real>
					<key>srcPointX</key>
					<real>445.29141092214041</real>
					<key>srcPointY</key>
					<real>121.99992943771908</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>444.95703125</real>
			<key>y</key>
			<real>102</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>229.67382368868579</real>
					<key>controlPoint1Y</key>
					<real>98.589716055033009</real>
					<key>controlPoint2X</key>
					<real>343.60741021435643</real>
					<key>controlPoint2Y</key>
					<real>96.274453662863564</real>
					<key>dstPointX</key>
					<real>400.29624287873855</real>
					<key>dstPointY</key>
					<real>100.51408976445735</real>
					<key>srcPointX</key>
					<real>172.82748726665659</real>
					<key>srcPointY</key>
					<real>98.893522766170307</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>131.87411285126052</real>
					<key>controlPoint1Y</key>
					<real>152.20079548708014</real>
					<key>controlPoint2X</key>
					<real>125.80291611912925</real>
					<key>controlPoint2Y</key>
					<real>218.74896505904294</real>
					<key>dstPointX</key>
					<real>126.73677091631998</real>
					<key>dstPointY</key>
					<real>252.00588261197237</real>
					<key>srcPointX</key>
					<real>130.22716836483633</real>
					<key>srcPointY</key>
					<real>118.97155800315315</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>128.04296875</real>
			<key>y</key>
			<real>99</real>
		</dict>
		<key>Wait_Release</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>345.66531777830181</real>
					<key>controlPoint1Y</key>
					<real>264.3221795145368</real>
					<key>controlPoint2X</key>
					<real>230.27267502386294</real>
					<key>controlPoint2Y</key>
					<real>275.55554670654618</real>
					<key>dstPointX</key>
					<real>172.78107404725057</real>
					<key>dstPointY</key>
					<real>272.91434352949784</real>
					<key>srcPointX</key>
					<real>403.00419923719915</real>
					<key>srcPointY</key>
					<real>269.27322083116803</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>448</real>
			<key>y</key>
			<real>271</real>
		</dict>
	</dict>
</dict>
</plist>
