<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>483.56259271136736</real>
					<key>controlPoint1Y</key>
					<real>190.26629537182643</real>
					<key>controlPoint2X</key>
					<real>672.90083039071123</real>
					<key>controlPoint2Y</key>
					<real>136.89066249165859</real>
					<key>dstPointX</key>
					<real>664.72376364970705</real>
					<key>dstPointY</key>
					<real>180.37942149688627</real>
					<key>srcPointX</key>
					<real>490.96594364646216</real>
					<key>srcPointY</key>
					<real>146.63915960481279</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>498.62109375</real>
			<key>y</key>
			<real>126.58984375</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>359.77994876861283</real>
					<key>controlPoint1Y</key>
					<real>186.06036917519688</real>
					<key>controlPoint2X</key>
					<real>383.76528588488884</real>
					<key>controlPoint2Y</key>
					<real>130.67352298510696</real>
					<key>dstPointX</key>
					<real>453.93009278877418</real>
					<key>dstPointY</key>
					<real>127.49082161334788</real>
					<key>srcPointX</key>
					<real>289.56801512138213</real>
					<key>srcPointY</key>
					<real>187.93495963665211</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>56.9921875</real>
			<key>w</key>
			<real>144.9178466796875</real>
			<key>x</key>
			<real>267.04296875</real>
			<key>y</key>
			<real>219.9296875</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>656</real>
			<key>y</key>
			<real>201</real>
		</dict>
	</dict>
</dict>
</plist>
