<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>DCM_ON</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>99.545523398365816</real>
					<key>controlPoint1Y</key>
					<real>276.75592965301672</real>
					<key>controlPoint2X</key>
					<real>99.45447660163417</real>
					<key>controlPoint2Y</key>
					<real>222.24407034698331</real>
					<key>dstPointX</key>
					<real>98.905856675735379</real>
					<key>dstPointY</key>
					<real>194.99594736067706</real>
					<key>srcPointX</key>
					<real>100.09414332426461</real>
					<key>srcPointY</key>
					<real>304.00405263932294</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>101</real>
			<key>y</key>
			<real>324</real>
		</dict>
		<key>Decide</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>459.23867304390296</real>
					<key>controlPoint1Y</key>
					<real>214.82582786367448</real>
					<key>controlPoint2X</key>
					<real>493.43605953249732</real>
					<key>controlPoint2Y</key>
					<real>284.25716494740573</real>
					<key>dstPointX</key>
					<real>520.10206984660533</real>
					<key>dstPointY</key>
					<real>310.85786437626905</real>
					<key>srcPointX</key>
					<real>432.66355515339467</real>
					<key>srcPointY</key>
					<real>188.13432312373095</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>342.94850354382947</real>
					<key>controlPoint1Y</key>
					<real>215.05258662520748</real>
					<key>controlPoint2X</key>
					<real>309.82158482088141</real>
					<key>controlPoint2Y</key>
					<real>284.86719441789364</real>
					<key>dstPointX</key>
					<real>283.50109967021189</real>
					<key>dstPointY</key>
					<real>311.71762222260344</real>
					<key>srcPointX</key>
					<real>369.34265032978811</real>
					<key>srcPointY</key>
					<real>188.27456527739659</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>401.078125</real>
			<key>y</key>
			<real>174.00390625</real>
		</dict>
		<key>INIT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>100.34284873213478</real>
					<key>controlPoint1Y</key>
					<real>427.25030248298475</real>
					<key>controlPoint2X</key>
					<real>100.51821954329897</real>
					<key>controlPoint2Y</key>
					<real>371.7493971653933</real>
					<key>dstPointX</key>
					<real>100.70199328984349</real>
					<key>dstPointY</key>
					<real>343.99956143717031</real>
					<key>srcPointX</key>
					<real>100.21206921015651</real>
					<key>srcPointY</key>
					<real>455.00043856282969</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.89111990950226239</real>
				<key>green</key>
				<real>0.89111990950226239</real>
				<key>red</key>
				<real>0.89111990950226239</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100.04296875</real>
			<key>y</key>
			<real>475</real>
		</dict>
		<key>Main</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>196.23050260220225</real>
					<key>controlPoint1Y</key>
					<real>174.75831472358644</real>
					<key>controlPoint2X</key>
					<real>302.61318127789929</real>
					<key>controlPoint2Y</key>
					<real>174.21254365463275</real>
					<key>dstPointX</key>
					<real>355.84399507201033</real>
					<key>dstPointY</key>
					<real>174.05819374118516</real>
					<key>srcPointX</key>
					<real>142.99975492798967</real>
					<key>srcPointY</key>
					<real>174.93399375881484</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>98</real>
			<key>y</key>
			<real>175</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>624.6953125</real>
		</dict>
		<key>Spin</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>309.69912587130182</real>
					<key>controlPoint1Y</key>
					<real>366.0214563416381</real>
					<key>controlPoint2X</key>
					<real>342.26945261599411</real>
					<key>controlPoint2Y</key>
					<real>433.84598680349006</real>
					<key>dstPointX</key>
					<real>368.10206984660533</real>
					<key>dstPointY</key>
					<real>459.77192687626905</real>
					<key>srcPointX</key>
					<real>283.81980515339467</real>
					<key>srcPointY</key>
					<real>340.14213562373095</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>252</real>
			<key>y</key>
			<real>326</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>400</real>
			<key>y</key>
			<real>624</real>
		</dict>
		<key>Wait</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>399.87390725299252</real>
					<key>controlPoint1Y</key>
					<real>521.42476460245041</real>
					<key>controlPoint2X</key>
					<real>400</real>
					<key>controlPoint2Y</key>
					<real>576.48925607922376</real>
					<key>dstPointX</key>
					<real>400</real>
					<key>dstPointY</key>
					<real>604</real>
					<key>srcPointX</key>
					<real>399.921875</real>
					<key>srcPointY</key>
					<real>493.9140625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>400.0390625</real>
			<key>y</key>
			<real>474.04296875</real>
		</dict>
		<key>WalkForward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>493.07861751868444</real>
					<key>controlPoint1Y</key>
					<real>365.11777213385164</real>
					<key>controlPoint2X</key>
					<real>458.62134610414415</real>
					<key>controlPoint2Y</key>
					<real>433.65005754699922</real>
					<key>dstPointX</key>
					<real>432.05722499914231</real>
					<key>dstPointY</key>
					<real>459.91357375768359</real>
					<key>srcPointX</key>
					<real>519.78652500085764</real>
					<key>srcPointY</key>
					<real>339.00048874231641</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>552.0390625</real>
			<key>y</key>
			<real>325</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
