<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>ALTERNATE1</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>385.07633757905614</real>
					<key>controlPoint1Y</key>
					<real>208.40373410225689</real>
					<key>controlPoint2X</key>
					<real>411.92366242094386</real>
					<key>controlPoint2Y</key>
					<real>160.59626589774311</real>
					<key>dstPointX</key>
					<real>433.24357099214529</real>
					<key>dstPointY</key>
					<real>145.5381486551463</real>
					<key>srcPointX</key>
					<real>363.75642900785471</real>
					<key>srcPointY</key>
					<real>223.4618513448537</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>384.08394995138667</real>
					<key>controlPoint1Y</key>
					<real>263.44746153535857</real>
					<key>controlPoint2X</key>
					<real>409.91605004861333</real>
					<key>controlPoint2Y</key>
					<real>313.55253846464143</real>
					<key>dstPointX</key>
					<real>431.24664996517106</real>
					<key>dstPointY</key>
					<real>329.85521125801051</real>
					<key>srcPointX</key>
					<real>362.75335003482894</real>
					<key>srcPointY</key>
					<real>247.14478874198949</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>326.5</real>
			<key>y</key>
			<real>235.5</real>
		</dict>
		<key>ALTERNATE2</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>830.61492346188561</real>
					<key>controlPoint1Y</key>
					<real>205.32675451407343</real>
					<key>controlPoint2X</key>
					<real>840.38507653811462</real>
					<key>controlPoint2Y</key>
					<real>159.6732454859266</real>
					<key>dstPointX</key>
					<real>855.48761122661369</real>
					<key>dstPointY</key>
					<real>144.2774576966799</real>
					<key>srcPointX</key>
					<real>815.51238877338642</real>
					<key>srcPointY</key>
					<real>220.7225423033201</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>838.56005865099485</real>
					<key>controlPoint1Y</key>
					<real>256.74146095045944</real>
					<key>controlPoint2X</key>
					<real>851.43994134900515</real>
					<key>controlPoint2Y</key>
					<real>292.25853904954056</real>
					<key>dstPointX</key>
					<real>868.22765170315745</real>
					<key>dstPointY</key>
					<real>303.12926952477028</real>
					<key>srcPointX</key>
					<real>821.77234829684255</real>
					<key>srcPointY</key>
					<real>245.87073047522972</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>783.5</real>
			<key>y</key>
			<real>235.5</real>
		</dict>
		<key>BACK</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>234.95696411982121</real>
					<key>controlPoint1Y</key>
					<real>220.50501917734377</real>
					<key>controlPoint2X</key>
					<real>262.00601517676654</real>
					<key>controlPoint2Y</key>
					<real>235.54416732452734</real>
					<key>dstPointX</key>
					<real>282.00416435314605</real>
					<key>dstPointY</key>
					<real>235.27208366226367</real>
					<key>srcPointX</key>
					<real>214.99583564685395</real>
					<key>srcPointY</key>
					<real>221.75135383773633</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>170</real>
			<key>y</key>
			<real>223.1953125</real>
		</dict>
		<key>Continue</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>983.02721318668523</real>
					<key>controlPoint1Y</key>
					<real>-22.172598357194516</real>
					<key>controlPoint2X</key>
					<real>279.10335980679093</real>
					<key>controlPoint2Y</key>
					<real>-88.688976498201242</real>
					<key>dstPointX</key>
					<real>108.38650546484834</real>
					<key>dstPointY</key>
					<real>65.590283582817108</real>
					<key>srcPointX</key>
					<real>1018.1342400358124</real>
					<key>srcPointY</key>
					<real>205.23415421046607</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1024.5</real>
			<key>y</key>
			<real>225.5</real>
		</dict>
		<key>DCM_ON</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>75.455990975651304</real>
					<key>controlPoint1Y</key>
					<real>236.37538605637684</real>
					<key>controlPoint2X</key>
					<real>75.529966495636089</real>
					<key>controlPoint2Y</key>
					<real>144.62469822476498</real>
					<key>dstPointX</key>
					<real>75.263153395042153</real>
					<key>dstPointY</key>
					<real>98.999658023203096</real>
					<key>srcPointX</key>
					<real>75.736846604957819</real>
					<key>srcPointY</key>
					<real>282.0003419767969</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>76</real>
			<key>y</key>
			<real>301</real>
		</dict>
		<key>Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>670.75128494732598</real>
					<key>controlPoint1Y</key>
					<real>232.70864173813936</real>
					<key>controlPoint2X</key>
					<real>716.24871505267402</real>
					<key>controlPoint2Y</key>
					<real>234.29135826186064</real>
					<key>dstPointX</key>
					<real>739.00617985674808</real>
					<key>dstPointY</key>
					<real>234.66855381109943</real>
					<key>srcPointX</key>
					<real>647.99382014325192</real>
					<key>srcPointY</key>
					<real>232.33144618890057</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>602.5</real>
			<key>y</key>
			<real>232.5</real>
		</dict>
		<key>INIT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>79.121933207595106</real>
					<key>controlPoint1Y</key>
					<real>384.88196655428067</real>
					<key>controlPoint2X</key>
					<real>77.849497567301768</real>
					<key>controlPoint2Y</key>
					<real>343.1188257392231</real>
					<key>dstPointX</key>
					<real>77.277893516036372</real>
					<key>dstPointY</key>
					<real>321.99193411754675</real>
					<key>srcPointX</key>
					<real>79.722106483963643</real>
					<key>srcPointY</key>
					<real>406.00806588245325</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>80.5</real>
			<key>y</key>
			<real>426.5</real>
		</dict>
		<key>LeftWalk1</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>522.88508380122551</real>
					<key>controlPoint1Y</key>
					<real>312.52056051419959</real>
					<key>controlPoint2X</key>
					<real>547.11491619877449</real>
					<key>controlPoint2Y</key>
					<real>261.47943948580041</real>
					<key>dstPointX</key>
					<real>568.01200175892075</real>
					<key>dstPointY</key>
					<real>244.57738498862329</real>
					<key>srcPointX</key>
					<real>501.98799824107925</real>
					<key>srcPointY</key>
					<real>329.42261501137671</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>466.5</real>
			<key>y</key>
			<real>342.5</real>
		</dict>
		<key>LeftWalk2</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>943.93439221241545</real>
					<key>controlPoint1Y</key>
					<real>155.01808188405371</real>
					<key>controlPoint2X</key>
					<real>968.06560778758444</real>
					<key>controlPoint2Y</key>
					<real>199.98191811594631</real>
					<key>dstPointX</key>
					<real>987.93379443869344</real>
					<key>dstPointY</key>
					<real>213.65929298446338</real>
					<key>srcPointX</key>
					<real>924.06620556130645</real>
					<key>srcPointY</key>
					<real>141.34070701553662</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>886.5</real>
			<key>y</key>
			<real>130.5</real>
		</dict>
		<key>Main</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>116.31203692605875</real>
					<key>controlPoint1Y</key>
					<real>120.34327013806227</real>
					<key>controlPoint2X</key>
					<real>129.33435952486315</real>
					<key>controlPoint2Y</key>
					<real>180.26259462860727</real>
					<key>dstPointX</key>
					<real>145.09325793875104</real>
					<key>dstPointY</key>
					<real>205.3662301108896</real>
					<key>srcPointX</key>
					<real>99.906742061248963</real>
					<key>srcPointY</key>
					<real>95.657207389110411</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>74.5</real>
			<key>y</key>
			<real>79.5</real>
		</dict>
		<key>RightWalk1</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>525.51321049413093</real>
					<key>controlPoint1Y</key>
					<real>160.07449493916604</real>
					<key>controlPoint2X</key>
					<real>547.48678950586907</real>
					<key>controlPoint2Y</key>
					<real>205.92550506083396</real>
					<key>dstPointX</key>
					<real>566.77248731909845</real>
					<key>dstPointY</key>
					<real>220.13601923900299</real>
					<key>srcPointX</key>
					<real>506.22751268090155</real>
					<key>srcPointY</key>
					<real>145.86398076099701</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>469.5</real>
			<key>y</key>
			<real>134.5</real>
		</dict>
		<key>RightWalk2</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>958.09341075064071</real>
					<key>controlPoint1Y</key>
					<real>290.01245041381526</real>
					<key>controlPoint2X</key>
					<real>972.90658924935906</real>
					<key>controlPoint2Y</key>
					<real>248.98754958618471</real>
					<key>dstPointX</key>
					<real>988.96369347312475</real>
					<key>dstPointY</key>
					<real>236.9784548305953</real>
					<key>srcPointX</key>
					<real>942.03630652687514</real>
					<key>srcPointY</key>
					<real>302.0215451694047</real>
				</dict>
			</array>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>905.5</real>
			<key>y</key>
			<real>314.5</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IwABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>220</real>
			<key>y</key>
			<real>352.8046875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
