<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>ALTERNATE1</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>362.36823674162349</real>
					<key>controlPoint1Y</key>
					<real>225.61333445922071</real>
					<key>controlPoint2X</key>
					<real>389.20983538429738</real>
					<key>controlPoint2Y</key>
					<real>177.7888648122514</real>
					<key>dstPointX</key>
					<real>410.74357099214529</real>
					<key>dstPointY</key>
					<real>163.0381486551463</real>
					<key>srcPointX</key>
					<real>341.25642900785471</real>
					<key>srcPointY</key>
					<real>240.9618513448537</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>362.01273768315781</real>
					<key>controlPoint1Y</key>
					<real>280.37058545241592</real>
					<key>controlPoint2X</key>
					<real>387.85442927729105</real>
					<key>controlPoint2Y</key>
					<real>330.49440618420613</real>
					<key>dstPointX</key>
					<real>408.74664996517106</real>
					<key>dstPointY</key>
					<real>347.35521125801051</real>
					<key>srcPointX</key>
					<real>340.25335003482894</real>
					<key>srcPointY</key>
					<real>264.64478874198949</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>304.04296875</real>
			<key>y</key>
			<real>253</real>
		</dict>
		<key>ALTERNATE2</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>784.97054103391372</real>
					<key>controlPoint1Y</key>
					<real>221.68643865344319</real>
					<key>controlPoint2X</key>
					<real>794.73452166425579</real>
					<key>controlPoint2Y</key>
					<real>176.02409976867483</real>
					<key>dstPointX</key>
					<real>809.98761122661369</real>
					<key>dstPointY</key>
					<real>160.7774576966799</real>
					<key>srcPointX</key>
					<real>770.01238877338642</real>
					<key>srcPointY</key>
					<real>237.2225423033201</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>793.34879817919182</real>
					<key>controlPoint1Y</key>
					<real>272.78201567042117</real>
					<key>controlPoint2X</key>
					<real>806.23843343453723</real>
					<key>controlPoint2Y</key>
					<real>308.31089150979835</real>
					<key>dstPointX</key>
					<real>822.72765170315745</real>
					<key>dstPointY</key>
					<real>319.62926952477028</real>
					<key>srcPointX</key>
					<real>776.27234829684255</real>
					<key>srcPointY</key>
					<real>262.37073047522972</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>737.8046875</real>
			<key>y</key>
			<real>252</real>
		</dict>
		<key>BACK</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>234.9439035557869</real>
					<key>controlPoint1Y</key>
					<real>220.11569877410804</real>
					<key>controlPoint2X</key>
					<real>239.50549246286914</real>
					<key>controlPoint2Y</key>
					<real>252.54160020288458</real>
					<key>dstPointX</key>
					<real>259.50416435314605</real>
					<key>dstPointY</key>
					<real>252.77208366226367</real>
					<key>srcPointX</key>
					<real>214.99583564685395</real>
					<key>srcPointY</key>
					<real>221.55604133773633</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>170</real>
			<key>y</key>
			<real>223.1953125</real>
		</dict>
		<key>Continue</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>939.96840427426207</real>
					<key>controlPoint1Y</key>
					<real>7.8752343645353733</real>
					<key>controlPoint2X</key>
					<real>326.32939621484013</real>
					<key>controlPoint2Y</key>
					<real>55.01248544833841</real>
					<key>dstPointX</key>
					<real>113.89412294244468</real>
					<key>dstPointY</key>
					<real>90.229122950067634</real>
					<key>srcPointX</key>
					<real>965.13424003581235</real>
					<key>srcPointY</key>
					<real>221.73415421046607</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>970.5</real>
			<key>y</key>
			<real>242</real>
		</dict>
		<key>DCM_ON</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>75.455224575779241</real>
					<key>controlPoint1Y</key>
					<real>236.25088450920558</real>
					<key>controlPoint2X</key>
					<real>72.058819421653965</real>
					<key>controlPoint2Y</key>
					<real>157.74306284969543</real>
					<key>dstPointX</key>
					<real>71.263153395042153</real>
					<key>dstPointY</key>
					<real>111.9996580232031</real>
					<key>srcPointX</key>
					<real>75.736846604957819</real>
					<key>srcPointY</key>
					<real>282.0003419767969</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>76</real>
			<key>y</key>
			<real>301</real>
		</dict>
		<key>Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>629.75361985970051</real>
					<key>controlPoint1Y</key>
					<real>250.14171570061728</real>
					<key>controlPoint2X</key>
					<real>670.7656808264519</real>
					<key>controlPoint2Y</key>
					<real>250.21242377593916</real>
					<key>dstPointX</key>
					<real>693.50617985674808</real>
					<key>dstPointY</key>
					<real>251.16855381109943</real>
					<key>srcPointX</key>
					<real>606.99382014325192</real>
					<key>srcPointY</key>
					<real>250.33144618890057</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>561.45703125</real>
			<key>y</key>
			<real>250.5</real>
		</dict>
		<key>INIT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>79.367636653689758</real>
					<key>controlPoint1Y</key>
					<real>384.99813639661022</real>
					<key>controlPoint2X</key>
					<real>77.846205996915472</real>
					<key>controlPoint2Y</key>
					<real>342.99716696045391</real>
					<key>dstPointX</key>
					<real>77.277893516036372</real>
					<key>dstPointY</key>
					<real>321.99193411754675</real>
					<key>srcPointX</key>
					<real>79.722106483963643</real>
					<key>srcPointY</key>
					<real>406.00806588245325</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.89111990950226239</real>
				<key>green</key>
				<real>0.89111990950226239</real>
				<key>red</key>
				<real>0.89111990950226239</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>80.5</real>
			<key>y</key>
			<real>426.5</real>
		</dict>
		<key>LeftWalk1</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>500.1781237599721</real>
					<key>controlPoint1Y</key>
					<real>329.76783908319629</real>
					<key>controlPoint2X</key>
					<real>505.90094435825074</real>
					<key>controlPoint2Y</key>
					<real>279.21141296020107</real>
					<key>dstPointX</key>
					<real>527.01200175892075</real>
					<key>dstPointY</key>
					<real>262.57738498862329</real>
					<key>srcPointX</key>
					<real>479.48799824107925</real>
					<key>srcPointY</key>
					<real>346.92261501137671</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>444.04296875</real>
			<key>y</key>
			<real>360</real>
		</dict>
		<key>LeftWalk2</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>898.79668307786926</real>
					<key>controlPoint1Y</key>
					<real>170.97627718013536</real>
					<key>controlPoint2X</key>
					<real>915.43856923083479</real>
					<key>controlPoint2Y</key>
					<real>215.95536331017539</real>
					<key>dstPointX</key>
					<real>934.93379443869344</real>
					<key>dstPointY</key>
					<real>230.15929298446338</real>
					<key>srcPointX</key>
					<real>878.56620556130645</real>
					<key>srcPointY</key>
					<real>157.84070701553662</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>840.8046875</real>
			<key>y</key>
			<real>147</real>
		</dict>
		<key>Main</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>112.89876513583657</real>
					<key>controlPoint1Y</key>
					<real>132.97056446017132</real>
					<key>controlPoint2X</key>
					<real>129.44691517750212</real>
					<key>controlPoint2Y</key>
					<real>179.97051804203875</real>
					<key>dstPointX</key>
					<real>145.09325793875104</real>
					<key>dstPointY</key>
					<real>205.1709176108896</real>
					<key>srcPointX</key>
					<real>95.906742061248963</real>
					<key>srcPointY</key>
					<real>108.65720738911041</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>69.5</real>
			<key>y</key>
			<real>93.5</real>
		</dict>
		<key>RightWalk1</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>503.3880282791016</real>
					<key>controlPoint1Y</key>
					<real>177.05123686892739</real>
					<key>controlPoint2X</key>
					<real>506.87090394399581</real>
					<key>controlPoint2Y</key>
					<real>223.41844473553303</real>
					<key>dstPointX</key>
					<real>525.77248731909845</real>
					<key>dstPointY</key>
					<real>238.13601923900299</real>
					<key>srcPointX</key>
					<real>483.72751268090155</real>
					<key>srcPointY</key>
					<real>163.36398076099701</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>447.04296875</real>
			<key>y</key>
			<real>152</real>
		</dict>
		<key>RightWalk2</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>912.43529108175687</real>
					<key>controlPoint1Y</key>
					<real>306.30388405832326</real>
					<key>controlPoint2X</key>
					<real>919.74367725337481</real>
					<key>controlPoint2Y</key>
					<real>265.26658558710818</real>
					<key>dstPointX</key>
					<real>935.96369347312475</real>
					<key>dstPointY</key>
					<real>253.4784548305953</real>
					<key>srcPointX</key>
					<real>896.53630652687514</real>
					<key>srcPointY</key>
					<real>318.5215451694047</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>859.8046875</real>
			<key>y</key>
			<real>331</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>220</real>
			<key>y</key>
			<real>352.8046875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
