<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>739.48393862000762</real>
					<key>controlPoint1Y</key>
					<real>143.26794959678034</real>
					<key>controlPoint2X</key>
					<real>737.65177891415203</real>
					<key>controlPoint2Y</key>
					<real>309.06232994499862</real>
					<key>dstPointX</key>
					<real>691.71912601094243</real>
					<key>dstPointY</key>
					<real>320.2621717567971</real>
					<key>srcPointX</key>
					<real>693.78310574081661</real>
					<key>srcPointY</key>
					<real>131.15684174141498</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>649.6953125</real>
			<key>y</key>
			<real>126</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>113.72065869175188</real>
					<key>controlPoint1Y</key>
					<real>233.85531324478899</real>
					<key>controlPoint2X</key>
					<real>467.69875761327688</real>
					<key>controlPoint2Y</key>
					<real>353.82416533469308</real>
					<key>dstPointX</key>
					<real>603.751666023398</real>
					<key>dstPointY</key>
					<real>328.64023985901048</real>
					<key>srcPointX</key>
					<real>101.86875281244728</real>
					<key>srcPointY</key>
					<real>95.999750004687399</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.6953125</real>
			<key>y</key>
			<real>76</real>
		</dict>
		<key>LeapWalk</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>565.87624382600688</real>
					<key>controlPoint1Y</key>
					<real>297.34932602721659</real>
					<key>controlPoint2X</key>
					<real>567.94184112268317</real>
					<key>controlPoint2Y</key>
					<real>153.30755102337017</real>
					<key>dstPointX</key>
					<real>609.35606356233188</real>
					<key>dstPointY</key>
					<real>134.29350717468674</real>
					<key>srcPointX</key>
					<real>607.19677505866503</real>
					<key>srcPointY</key>
					<real>316.5661255112953</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>648</real>
			<key>y</key>
			<real>325</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>98</real>
			<key>y</key>
			<real>473.04296875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
