<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FollowBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>361.01076193216289</real>
					<key>controlPoint1Y</key>
					<real>284.74417024623347</real>
					<key>controlPoint2X</key>
					<real>361.76531535480927</real>
					<key>controlPoint2Y</key>
					<real>218.60919826984502</real>
					<key>dstPointX</key>
					<real>375.27250850037314</real>
					<key>dstPointY</key>
					<real>192.51446727469724</real>
					<key>srcPointX</key>
					<real>376.08727742441386</real>
					<key>srcPointY</key>
					<real>309.96475574682427</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>441.78201159407678</real>
					<key>controlPoint1Y</key>
					<real>367.35352486620928</real>
					<key>controlPoint2X</key>
					<real>447.23515373255361</real>
					<key>controlPoint2Y</key>
					<real>437.48193502413636</real>
					<key>dstPointX</key>
					<real>428.74962354461854</real>
					<key>dstPointY</key>
					<real>459.98585011608895</real>
					<key>srcPointX</key>
					<real>425.05826268158648</real>
					<key>srcPointY</key>
					<real>343.51118347307317</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>398.9609375</real>
			<key>y</key>
			<real>327</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>109.5742727081239</real>
					<key>controlPoint1Y</key>
					<real>265.60770612813883</real>
					<key>controlPoint2X</key>
					<real>283.69350589552045</real>
					<key>controlPoint2Y</key>
					<real>325.48213215171114</real>
					<key>dstPointX</key>
					<real>354.67018086199505</real>
					<key>dstPointY</key>
					<real>326.67020690505774</real>
					<key>srcPointX</key>
					<real>103.10256183660577</real>
					<key>srcPointY</key>
					<real>194.91671045463318</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>175</real>
		</dict>
		<key>Kick</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>318.29129271328952</real>
					<key>controlPoint1Y</key>
					<real>462.68160538981635</real>
					<key>controlPoint2X</key>
					<real>236.43216197233849</real>
					<key>controlPoint2Y</key>
					<real>452.95003701401691</real>
					<key>dstPointX</key>
					<real>203.9173694650884</real>
					<key>dstPointY</key>
					<real>430.38622420238102</real>
					<key>srcPointX</key>
					<real>357.01252401470595</real>
					<key>srcPointY</key>
					<real>470.86717970627569</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>401</real>
			<key>y</key>
			<real>474.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>167.0390625</real>
			<key>y</key>
			<real>419</real>
		</dict>
		<key>SeekBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>430.80102874818556</real>
					<key>controlPoint1Y</key>
					<real>218.22098816732091</real>
					<key>controlPoint2X</key>
					<real>440.16042202659378</real>
					<key>controlPoint2Y</key>
					<real>285.27019133050823</real>
					<key>dstPointX</key>
					<real>423.86337125371386</real>
					<key>dstPointY</key>
					<real>310.13807148476707</real>
					<key>srcPointX</key>
					<real>417.92183994232175</real>
					<key>srcPointY</key>
					<real>191.42300647161633</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>398.3046875</real>
			<key>y</key>
			<real>172.91796875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
