<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Button_Off</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>228.52818727580143</real>
					<key>controlPoint1Y</key>
					<real>223.79958514036258</real>
					<key>controlPoint2X</key>
					<real>325.83363785472795</real>
					<key>controlPoint2Y</key>
					<real>139.00937920680653</real>
					<key>dstPointX</key>
					<real>381.95233471556026</real>
					<key>dstPointY</key>
					<real>108.54244237752471</real>
					<key>srcPointX</key>
					<real>173.35163535357009</real>
					<key>srcPointY</key>
					<real>255.94131028215841</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>136.73373307295006</real>
					<key>controlPoint1Y</key>
					<real>214.63779687902445</real>
					<key>controlPoint2X</key>
					<real>137.26626692704994</real>
					<key>controlPoint2Y</key>
					<real>151.86220312097555</real>
					<key>dstPointX</key>
					<real>138.18407214749834</real>
					<key>dstPointY</key>
					<real>120.49087890791338</real>
					<key>srcPointX</key>
					<real>135.81592785250166</real>
					<key>srcPointY</key>
					<real>246.00912109208662</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>134.54296875</real>
			<key>y</key>
			<real>266</real>
		</dict>
		<key>Button_On</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>422.87670743791824</real>
					<key>controlPoint1Y</key>
					<real>150.87017412105388</real>
					<key>controlPoint2X</key>
					<real>423.19669185059615</real>
					<key>controlPoint2Y</key>
					<real>214.62929538529562</real>
					<key>dstPointX</key>
					<real>423.73712784087365</real>
					<key>dstPointY</key>
					<real>246.50320706982785</real>
					<key>srcPointX</key>
					<real>422.30584090912635</real>
					<key>srcPointY</key>
					<real>118.99679293017216</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>392.07125798925165</real>
					<key>controlPoint1Y</key>
					<real>184.37248192055307</real>
					<key>controlPoint2X</key>
					<real>232.45581882818118</real>
					<key>controlPoint2Y</key>
					<real>221.51164126897379</real>
					<key>dstPointX</key>
					<real>173.35163535357009</real>
					<key>dstPointY</key>
					<real>255.94131028215841</real>
					<key>srcPointX</key>
					<real>409.8220381396057</real>
					<key>srcPointY</key>
					<real>118.31480699468445</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>421.5</real>
			<key>y</key>
			<real>99</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>109.2148137980042</real>
					<key>controlPoint1Y</key>
					<real>59.870253761718303</real>
					<key>controlPoint2X</key>
					<real>89.285186201995757</real>
					<key>controlPoint2Y</key>
					<real>75.129746238281712</real>
					<key>dstPointX</key>
					<real>104.74379870886298</real>
					<key>dstPointY</key>
					<real>87.819557086459398</real>
					<key>srcPointX</key>
					<real>93.756201291136989</real>
					<key>srcPointY</key>
					<real>47.180442913540602</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>59.04296875</real>
			<key>y</key>
			<real>34.5</real>
		</dict>
		<key>Long_Press</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>329.54296053168372</real>
					<key>controlPoint1Y</key>
					<real>266.37922787205804</real>
					<key>controlPoint2X</key>
					<real>229.45703946831634</real>
					<key>controlPoint2Y</key>
					<real>266.12077212794196</real>
					<key>dstPointX</key>
					<real>179.45696436548801</real>
					<key>dstPointY</key>
					<real>266.03448270736817</real>
					<key>srcPointX</key>
					<real>379.54303563451202</real>
					<key>srcPointY</key>
					<real>266.46551729263183</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>424.45703125</real>
			<key>y</key>
			<real>266.5</real>
		</dict>
		<key>Zero</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>232.54305144914289</real>
					<key>controlPoint1Y</key>
					<real>100.13853912013555</real>
					<key>controlPoint2X</key>
					<real>328.49991859578154</real>
					<key>controlPoint2Y</key>
					<real>99.361704441827342</real>
					<key>dstPointX</key>
					<real>376.50063658676328</real>
					<key>dstPointY</key>
					<real>99.106381473790165</real>
					<key>srcPointX</key>
					<real>184.54233216323672</real>
					<key>srcPointY</key>
					<real>100.39361852620985</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>139.45703125</real>
			<key>y</key>
			<real>100.5</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
