<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Accurate_Left</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>716.65389277979125</real>
					<key>controlPoint1Y</key>
					<real>290.14110003072545</real>
					<key>controlPoint2X</key>
					<real>684.34610722020875</real>
					<key>controlPoint2Y</key>
					<real>349.85889996927455</real>
					<key>dstPointX</key>
					<real>659.32650089988203</real>
					<key>dstPointY</key>
					<real>371.06757287657132</real>
					<key>srcPointX</key>
					<real>741.67349910011797</real>
					<key>srcPointY</key>
					<real>268.93242712342868</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>775.51953125</real>
			<key>y</key>
			<real>256.04296875</real>
		</dict>
		<key>Accurate_Right</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>527.09703323320366</real>
					<key>controlPoint1Y</key>
					<real>280.59320870333033</real>
					<key>controlPoint2X</key>
					<real>563.90296676679634</real>
					<key>controlPoint2Y</key>
					<real>346.40679129666967</real>
					<key>dstPointX</key>
					<real>591.33155529295084</real>
					<key>dstPointY</key>
					<real>370.73025659344813</real>
					<key>srcPointX</key>
					<real>499.66844470704922</real>
					<key>srcPointY</key>
					<real>256.26974340655187</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>466</real>
			<key>y</key>
			<real>243</real>
		</dict>
		<key>Calc_BallAngle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>117.71830633615558</real>
					<key>controlPoint1Y</key>
					<real>229.19727952025079</real>
					<key>controlPoint2X</key>
					<real>111.28169366384442</real>
					<key>controlPoint2Y</key>
					<real>311.80272047974921</real>
					<key>dstPointX</key>
					<real>103.49005833717808</real>
					<key>dstPointY</key>
					<real>352.35918128265354</real>
					<key>srcPointX</key>
					<real>125.50994166282192</real>
					<key>srcPointY</key>
					<real>188.64081871734646</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>278.75000850261699</real>
					<key>controlPoint1Y</key>
					<real>168.75511235014883</real>
					<key>controlPoint2X</key>
					<real>478.24999149738301</real>
					<key>controlPoint2Y</key>
					<real>168.24488764985122</real>
					<key>dstPointX</key>
					<real>578.00009409432641</real>
					<key>dstPointY</key>
					<real>168.04089970998015</real>
					<key>srcPointX</key>
					<real>178.99990590567359</real>
					<key>srcPointY</key>
					<real>168.95910029001985</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>134.046875</real>
			<key>y</key>
			<real>169</real>
		</dict>
		<key>Decide_Long</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>167</real>
					<key>controlPoint1Y</key>
					<real>372</real>
					<key>controlPoint2X</key>
					<real>221</real>
					<key>controlPoint2Y</key>
					<real>372</real>
					<key>dstPointX</key>
					<real>248</real>
					<key>dstPointY</key>
					<real>372</real>
					<key>srcPointX</key>
					<real>140</real>
					<key>srcPointY</key>
					<real>372</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>95.21484375</real>
			<key>y</key>
			<real>372</real>
		</dict>
		<key>Goal_Approach</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>560.89949054733518</real>
					<key>controlPoint1Y</key>
					<real>186.88963045711876</real>
					<key>controlPoint2X</key>
					<real>528.10050945266482</real>
					<key>controlPoint2Y</key>
					<real>224.11036954288124</real>
					<key>dstPointX</key>
					<real>506.60478945237321</real>
					<key>dstPointY</key>
					<real>234.37902559397597</real>
					<key>srcPointX</key>
					<real>582.39521054762679</real>
					<key>srcPointY</key>
					<real>176.62097440602403</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>683.95300988437953</real>
					<key>controlPoint1Y</key>
					<real>190.59350113222925</real>
					<key>controlPoint2X</key>
					<real>715.04699011562036</real>
					<key>controlPoint2Y</key>
					<real>233.40649886777078</real>
					<key>dstPointX</key>
					<real>736.99197097875242</real>
					<key>dstPointY</key>
					<real>246.02844864525844</real>
					<key>srcPointX</key>
					<real>662.00802902124758</real>
					<key>srcPointY</key>
					<real>177.97155135474156</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>622.6953125</real>
			<key>y</key>
			<real>168</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>106.75171131929008</real>
					<key>controlPoint1Y</key>
					<real>104.80315344208861</real>
					<key>controlPoint2X</key>
					<real>99.248288680709877</real>
					<key>controlPoint2Y</key>
					<real>135.19684655791139</real>
					<key>dstPointX</key>
					<real>109.94112293279915</real>
					<key>dstPointY</key>
					<real>152.09842327895569</real>
					<key>srcPointX</key>
					<real>96.058877067200825</real>
					<key>srcPointY</key>
					<real>87.901576721044307</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>72</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>83</real>
			<key>y</key>
			<real>559</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>244.69277578731746</real>
					<key>controlPoint1Y</key>
					<real>220.20883075364742</real>
					<key>controlPoint2X</key>
					<real>201.30722421268251</real>
					<key>controlPoint2Y</key>
					<real>185.79116924635261</real>
					<key>dstPointX</key>
					<real>176.03696495736727</real>
					<key>dstPointY</key>
					<real>176.13736233982766</real>
					<key>srcPointX</key>
					<real>269.96303504263273</real>
					<key>srcPointY</key>
					<real>229.86263766017234</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.79395280454554806</real>
				<key>green</key>
				<real>0.81327956208547192</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>312</real>
			<key>y</key>
			<real>237</real>
		</dict>
		<key>Stop_acurating</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>624.1759483295649</real>
					<key>controlPoint1Y</key>
					<real>320.00134798840315</real>
					<key>controlPoint2X</key>
					<real>623.8240516704351</real>
					<key>controlPoint2Y</key>
					<real>231.99865201159679</real>
					<key>dstPointX</key>
					<real>623.41664880658971</real>
					<key>dstPointY</key>
					<real>187.999142716303</real>
					<key>srcPointX</key>
					<real>624.58335119341029</real>
					<key>srcPointY</key>
					<real>364.00085728369697</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>625</real>
			<key>y</key>
			<real>384</real>
		</dict>
		<key>Walk_Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>302.60270292924747</real>
					<key>controlPoint1Y</key>
					<real>328.52628785569874</real>
					<key>controlPoint2X</key>
					<real>302.39729707075253</real>
					<key>controlPoint2Y</key>
					<real>280.47371214430126</real>
					<key>dstPointX</key>
					<real>305.72847513724417</real>
					<key>dstPointY</key>
					<real>256.804815356071</real>
					<key>srcPointX</key>
					<real>299.27152486275583</real>
					<key>srcPointY</key>
					<real>352.195184643929</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>293</real>
			<key>y</key>
			<real>372</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
