<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Back_GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>833.23828125</real>
					<key>controlPoint1Y</key>
					<real>224</real>
					<key>controlPoint2X</key>
					<real>746.09600024996041</real>
					<key>controlPoint2Y</key>
					<real>286.80635775682333</real>
					<key>dstPointX</key>
					<real>765.19956990309993</real>
					<key>dstPointY</key>
					<real>292.72696807229318</real>
					<key>srcPointX</key>
					<real>833.23828125</real>
					<key>srcPointY</key>
					<real>204</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>196</real>
			<key>internalHeight</key>
			<real>49</real>
			<key>onEntryHeight</key>
			<real>50</real>
			<key>onExitHeight</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>508</real>
			<key>x</key>
			<real>636</real>
			<key>y</key>
			<real>112</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>419.03409813159811</real>
					<key>controlPoint1Y</key>
					<real>282.30859375</real>
					<key>controlPoint2X</key>
					<real>644.32421875</real>
					<key>controlPoint2Y</key>
					<real>294.03409813159811</real>
					<key>dstPointX</key>
					<real>644.32421875</real>
					<key>dstPointY</key>
					<real>204</real>
					<key>srcPointX</key>
					<real>329</real>
					<key>srcPointY</key>
					<real>282.30859375</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>393.18496958596347</real>
					<key>controlPoint1Y</key>
					<real>241.88798685299028</real>
					<key>controlPoint2X</key>
					<real>544.0703125</real>
					<key>controlPoint2Y</key>
					<real>268.30529553042624</real>
					<key>dstPointX</key>
					<real>544.0703125</real>
					<key>dstPointY</key>
					<real>204</real>
					<key>srcPointX</key>
					<real>328.97145471261189</real>
					<key>srcPointY</key>
					<real>245.32245054697654</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>388.51072988905463</real>
					<key>controlPoint1Y</key>
					<real>331.67503323101801</real>
					<key>controlPoint2X</key>
					<real>491.30078125</real>
					<key>controlPoint2Y</key>
					<real>281.48927011094537</real>
					<key>dstPointX</key>
					<real>491.30078125</real>
					<key>dstPointY</key>
					<real>341</real>
					<key>srcPointX</key>
					<real>327.62625557442709</real>
					<key>srcPointY</key>
					<real>331.67503323101801</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>429.65540532939372</real>
					<key>controlPoint1Y</key>
					<real>306.12890625</real>
					<key>controlPoint2X</key>
					<real>718.29296875</real>
					<key>controlPoint2Y</key>
					<real>304.65540532939372</real>
					<key>dstPointX</key>
					<real>718.29296875</real>
					<key>dstPointY</key>
					<real>204</real>
					<key>srcPointX</key>
					<real>329</real>
					<key>srcPointY</key>
					<real>306.12890625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>146</real>
			<key>internalHeight</key>
			<real>33</real>
			<key>onEntryHeight</key>
			<real>33</real>
			<key>onExitHeight</key>
			<real>33</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>320</real>
			<key>x</key>
			<real>175</real>
			<key>y</key>
			<real>295.3046875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Front_GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>668.6015625</real>
					<key>controlPoint1Y</key>
					<real>305.67930334894015</real>
					<key>controlPoint2X</key>
					<real>726.82868028723988</real>
					<key>controlPoint2Y</key>
					<real>301.39815587902149</real>
					<key>dstPointX</key>
					<real>762.09998484772404</real>
					<key>dstPointY</key>
					<real>299.53088875357855</real>
					<key>srcPointX</key>
					<real>668.6015625</real>
					<key>srcPointY</key>
					<real>341</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>209</real>
			<key>internalHeight</key>
			<real>54</real>
			<key>onEntryHeight</key>
			<real>54</real>
			<key>onExitHeight</key>
			<real>54</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>535</real>
			<key>x</key>
			<real>623.4140625</real>
			<key>y</key>
			<real>440.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>50.65625</real>
					<key>controlPoint1Y</key>
					<real>232.57338535638621</real>
					<key>controlPoint2X</key>
					<real>221.5</real>
					<key>controlPoint2Y</key>
					<real>181.81723964361379</real>
					<key>dstPointX</key>
					<real>221.5</real>
					<key>dstPointY</key>
					<real>226.390625</real>
					<key>srcPointX</key>
					<real>50.65625</real>
					<key>srcPointY</key>
					<real>188</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>178</real>
			<key>internalHeight</key>
			<real>43</real>
			<key>onEntryHeight</key>
			<real>44</real>
			<key>onExitHeight</key>
			<real>44</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>366</real>
			<key>x</key>
			<real>190</real>
			<key>y</key>
			<real>105</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>49</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>153</real>
			<key>x</key>
			<real>833.5</real>
			<key>y</key>
			<real>298.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
