<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FindBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>584.07586115987135</real>
					<key>controlPoint1Y</key>
					<real>150.43415193534724</real>
					<key>controlPoint2X</key>
					<real>377.86902207275091</real>
					<key>controlPoint2Y</key>
					<real>170.7275317346016</real>
					<key>dstPointX</key>
					<real>314.65958331275351</real>
					<key>dstPointY</key>
					<real>131.6282448878523</real>
					<key>srcPointX</key>
					<real>607.69798446946663</real>
					<key>srcPointY</key>
					<real>79.963004146876244</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.49329071306435812</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.74899400640781577</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>622</real>
			<key>y</key>
			<real>61</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>101.97169771605064</real>
					<key>controlPoint1Y</key>
					<real>114.68352803548461</real>
					<key>controlPoint2X</key>
					<real>127.76203625075875</real>
					<key>controlPoint2Y</key>
					<real>169.89931659425417</real>
					<key>dstPointX</key>
					<real>148.76527851068266</real>
					<key>dstPointY</key>
					<real>188.86558225645814</real>
					<key>srcPointX</key>
					<real>100.45937346127403</real>
					<key>srcPointY</key>
					<real>86.424577348193253</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.65234375</real>
			<key>y</key>
			<real>65.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>300</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>236.70008184420089</real>
					<key>controlPoint1Y</key>
					<real>180.50052688878884</real>
					<key>controlPoint2X</key>
					<real>255.24772376983424</real>
					<key>controlPoint2Y</key>
					<real>161.57485976662159</real>
					<key>dstPointX</key>
					<real>261.13299360281792</real>
					<key>dstPointY</key>
					<real>142.46037314016542</real>
					<key>srcPointX</key>
					<real>219.41113285552626</real>
					<key>srcPointY</key>
					<real>190.55499071671153</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.85969001054763794</real>
				<key>green</key>
				<real>0.85969001054763794</real>
				<key>red</key>
				<real>0.85969001054763794</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>178.640625</real>
			<key>y</key>
			<real>200.89453125</real>
		</dict>
		<key>StartTracking</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>308.42031340963513</real>
					<key>controlPoint1Y</key>
					<real>32.313661733467782</real>
					<key>controlPoint2X</key>
					<real>516.72663627480483</real>
					<key>controlPoint2Y</key>
					<real>15.519664673498042</real>
					<key>dstPointX</key>
					<real>582.50030127770071</real>
					<key>dstPointY</key>
					<real>51.418394156625112</real>
					<key>srcPointX</key>
					<real>287.18625790364666</real>
					<key>srcPointY</key>
					<real>104.17469897329971</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.59736641006145352</real>
				<key>red</key>
				<real>0.79928187838033293</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>276.22265625</real>
			<key>y</key>
			<real>120.7734375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
