<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FindBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>584.03476472197781</real>
					<key>controlPoint1Y</key>
					<real>150.55675366383795</real>
					<key>controlPoint2X</key>
					<real>376.56987019738762</real>
					<key>controlPoint2Y</key>
					<real>172.76557646810275</real>
					<key>dstPointX</key>
					<real>314.21427081275351</real>
					<key>dstPointY</key>
					<real>132.0813698878523</real>
					<key>srcPointX</key>
					<real>607.69798446946663</real>
					<key>srcPointY</key>
					<real>79.963004146876244</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.49329071306435812</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.74899400640781577</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>622</real>
			<key>y</key>
			<real>61</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>103.08680381881379</real>
					<key>controlPoint1Y</key>
					<real>114.77470599336522</real>
					<key>controlPoint2X</key>
					<real>128.51969098701434</real>
					<key>controlPoint2Y</key>
					<real>170.02149069061954</real>
					<key>dstPointX</key>
					<real>149.48402851068266</real>
					<key>dstPointY</key>
					<real>189.07651975645814</real>
					<key>srcPointX</key>
					<real>101.15468596127403</real>
					<key>srcPointY</key>
					<real>86.510514848193253</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.65234375</real>
			<key>y</key>
			<real>65.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>300</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>237.58110153465969</real>
					<key>controlPoint1Y</key>
					<real>180.99582245407697</real>
					<key>controlPoint2X</key>
					<real>254.75593298874364</real>
					<key>controlPoint2Y</key>
					<real>162.01361238880739</real>
					<key>dstPointX</key>
					<real>260.68768110281792</real>
					<key>dstPointY</key>
					<real>142.91349814016542</real>
					<key>srcPointX</key>
					<real>220.12988285552626</real>
					<key>srcPointY</key>
					<real>190.76592821671153</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.85969001054763794</real>
				<key>green</key>
				<real>0.85969001054763794</real>
				<key>red</key>
				<real>0.85969001054763794</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>178.640625</real>
			<key>y</key>
			<real>200.89453125</real>
		</dict>
		<key>StartTracking</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>307.75239550762439</real>
					<key>controlPoint1Y</key>
					<real>32.566466225967645</real>
					<key>controlPoint2X</key>
					<real>516.61295195627258</real>
					<key>controlPoint2Y</key>
					<real>15.457616700387803</real>
					<key>dstPointX</key>
					<real>582.50030127770071</real>
					<key>dstPointY</key>
					<real>51.418394156625112</real>
					<key>srcPointX</key>
					<real>286.74094540364666</real>
					<key>srcPointY</key>
					<real>104.62782397329971</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.59736641006145352</real>
				<key>red</key>
				<real>0.79928187838033293</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>276.22265625</real>
			<key>y</key>
			<real>120.7734375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
