<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Calc_BallAngle</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>147.2657727473339</real>
		    <key>controlPoint1Y</key>
		    <real>231.6228731634322</real>
		    <key>controlPoint2X</key>
		    <real>111.7342272526661</real>
		    <key>controlPoint2Y</key>
		    <real>325.3771268365679</real>
		    <key>dstPointX</key>
		    <real>78.97808256414481</real>
		    <key>dstPointY</key>
		    <real>378.9378499083392</real>
		    <key>srcPointX</key>
		    <real>180.0219174358552</real>
		    <key>srcPointY</key>
		    <real>178.0621500916608</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>362.9695480164477</real>
		    <key>controlPoint1Y</key>
		    <real>135.9637187234106</real>
		    <key>controlPoint2X</key>
		    <real>572.0304519835522</real>
		    <key>controlPoint2Y</key>
		    <real>81.03628127658945</real>
		    <key>dstPointX</key>
		    <real>687.2556475017268</real>
		    <key>dstPointY</key>
		    <real>59.64978665389796</real>
		    <key>srcPointX</key>
		    <real>247.7443524982732</real>
		    <key>srcPointY</key>
		    <real>157.350213346102</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>203.5</real>
	    <key>y</key>
	    <real>161</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Decide_Long</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>148.8684460501602</real>
		    <key>controlPoint1Y</key>
		    <real>388.9800124419427</real>
		    <key>controlPoint2X</key>
		    <real>225.5885851998398</real>
		    <key>controlPoint2Y</key>
		    <real>376.0199875580573</real>
		    <key>dstPointX</key>
		    <real>274.1915004568932</real>
		    <key>dstPointY</key>
		    <real>371.0389904454952</real>
		    <key>srcPointX</key>
		    <real>100.2655307931068</real>
		    <key>srcPointY</key>
		    <real>393.9610095545048</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>161.1318729429266</real>
		    <key>controlPoint1Y</key>
		    <real>408.698827921872</real>
		    <key>controlPoint2X</key>
		    <real>262.4110958070734</real>
		    <key>controlPoint2Y</key>
		    <real>432.340234578128</real>
		    <key>dstPointX</key>
		    <real>323.5868669718031</real>
		    <key>dstPointY</key>
		    <real>441.9389226485436</real>
		    <key>srcPointX</key>
		    <real>99.95610177819684</real>
		    <key>srcPointY</key>
		    <real>399.1001398514564</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>55.5</real>
	    <key>y</key>
	    <real>396</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Decide_Short</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>690.4811055103416</real>
		    <key>controlPoint1Y</key>
		    <real>107.6154884837537</real>
		    <key>controlPoint2X</key>
		    <real>91.01889448965835</real>
		    <key>controlPoint2Y</key>
		    <real>-26.61548848375369</real>
		    <key>dstPointX</key>
		    <real>71.94292893001773</real>
		    <key>dstPointY</key>
		    <real>7.538887680010305</real>
		    <key>srcPointX</key>
		    <real>709.5570710699823</real>
		    <key>srcPointY</key>
		    <real>73.46111231998972</real>
		</dict>
		<dict>
		    <key>controlPoint1X</key>
		    <real>726.0975963616661</real>
		    <key>controlPoint1Y</key>
		    <real>125.69073570204</real>
		    <key>controlPoint2X</key>
		    <real>723.4024036383339</real>
		    <key>controlPoint2Y</key>
		    <real>201.30926429796</real>
		    <key>dstPointX</key>
		    <real>720.5643194563257</real>
		    <key>dstPointY</key>
		    <real>251.0324991667433</real>
		    <key>srcPointX</key>
		    <real>728.9356805436743</real>
		    <key>srcPointY</key>
		    <real>75.96750083325666</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>731.5</real>
	    <key>y</key>
	    <real>56</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Init</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>131.8036829320488</real>
		    <key>controlPoint1Y</key>
		    <real>88.40303575353306</real>
		    <key>controlPoint2X</key>
		    <real>143.6963170679512</real>
		    <key>controlPoint2Y</key>
		    <real>136.5969642464669</real>
		    <key>dstPointX</key>
		    <real>165.4461244917252</real>
		    <key>dstPointY</key>
		    <real>150.3249795785828</real>
		    <key>srcPointX</key>
		    <real>110.0538755082748</real>
		    <key>srcPointY</key>
		    <real>74.67502042141717</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.9362980769230768</real>
		<key>green</key>
		<real>0.9362980769230768</real>
		<key>red</key>
		<real>0.9362980769230768</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>72</real>
	    <key>y</key>
	    <real>64</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Long_Turn</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>417.3997377657332</real>
		    <key>controlPoint1Y</key>
		    <real>404.8806926507581</real>
		    <key>controlPoint2X</key>
		    <real>425.1041684842668</real>
		    <key>controlPoint2Y</key>
		    <real>355.1583698492419</real>
		    <key>dstPointX</key>
		    <real>445.6975270115428</real>
		    <key>dstPointY</key>
		    <real>330.3810286677622</real>
		    <key>srcPointX</key>
		    <real>396.8063792384572</real>
		    <key>srcPointY</key>
		    <real>429.6580338322378</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>368.04296875</real>
	    <key>y</key>
	    <real>445.0390625</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>SUSPENDED</key>
	<dict>
	    <key>Transitions</key>
	    <array>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.45</real>
		<key>green</key>
		<real>0.42</real>
		<key>red</key>
		<real>0.24</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>118</real>
	    <key>y</key>
	    <real>526</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Short_Straight</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>-18.40502960281071</real>
		    <key>controlPoint1Y</key>
		    <real>52.67419901603489</real>
		    <key>controlPoint2X</key>
		    <real>542.8659671028107</real>
		    <key>controlPoint2Y</key>
		    <real>287.3258009839651</real>
		    <key>dstPointX</key>
		    <real>513.2119227647408</real>
		    <key>dstPointY</key>
		    <real>304.8324054727052</real>
		    <key>srcPointX</key>
		    <real>11.24901473525915</real>
		    <key>srcPointY</key>
		    <real>35.1675945272948</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>640.4609375</real>
	    <key>y</key>
	    <real>219</real>
	    <key>zoomedInternalHeight</key>
	    <real>326</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>326</real>
	    <key>zoomedOnExitHeight</key>
	    <real>326</real>
	</dict>
	<key>Stop</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>380.0920198254354</real>
		    <key>controlPoint1Y</key>
		    <real>271.1181779511788</real>
		    <key>controlPoint2X</key>
		    <real>297.8689176745646</real>
		    <key>controlPoint2Y</key>
		    <real>204.8818220488212</real>
		    <key>dstPointX</key>
		    <real>242.0605711099085</real>
		    <key>dstPointY</key>
		    <real>171.309600997442</real>
		    <key>srcPointX</key>
		    <real>435.9003663900914</real>
		    <key>srcPointY</key>
		    <real>304.690399002558</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.793952804545548</real>
		<key>green</key>
		<real>0.813279562085472</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>474.4609375</real>
	    <key>y</key>
	    <real>315</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Turn</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>629.3553938676522</real>
		    <key>controlPoint1Y</key>
		    <real>281.9930323646114</real>
		    <key>controlPoint2X</key>
		    <real>563.1055436323478</real>
		    <key>controlPoint2Y</key>
		    <real>304.0069676353886</real>
		    <key>dstPointX</key>
		    <real>518.8115501750449</real>
		    <key>dstPointY</key>
		    <real>311.6145363656676</real>
		    <key>srcPointX</key>
		    <real>673.6493873249551</real>
		    <key>srcPointY</key>
		    <real>274.3854636343324</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>718</real>
	    <key>y</key>
	    <real>271</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
	<key>Walk_Forward</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>385.4421092641397</real>
		    <key>controlPoint1Y</key>
		    <real>354.6959885480061</real>
		    <key>controlPoint2X</key>
		    <real>407.9758594858603</real>
		    <key>controlPoint2Y</key>
		    <real>329.3040114519939</real>
		    <key>dstPointX</key>
		    <real>431.7838236225028</real>
		    <key>dstPointY</key>
		    <real>321.3427057526047</real>
		    <key>srcPointX</key>
		    <real>361.6341451274972</real>
		    <key>srcPointY</key>
		    <real>362.6572942473953</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>318.95703125</real>
	    <key>y</key>
	    <real>369</real>
	    <key>zoomedInternalHeight</key>
	    <real>0</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>0</real>
	    <key>zoomedOnExitHeight</key>
	    <real>0</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>