<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>848.64453125</real>
					<key>controlPoint1Y</key>
					<real>312.2421875</real>
					<key>controlPoint2X</key>
					<real>839.76663435197588</real>
					<key>controlPoint2Y</key>
					<real>271.20501857146928</real>
					<key>dstPointX</key>
					<real>920.04296875</real>
					<key>dstPointY</key>
					<real>261</real>
					<key>srcPointX</key>
					<real>384</real>
					<key>srcPointY</key>
					<real>319</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>382.77256536709592</real>
					<key>controlPoint1Y</key>
					<real>373.35087142464408</real>
					<key>controlPoint2X</key>
					<real>484.92718652262346</real>
					<key>controlPoint2Y</key>
					<real>479.26787813795283</real>
					<key>dstPointX</key>
					<real>489.57495539530549</real>
					<key>dstPointY</key>
					<real>458.04025257110573</real>
					<key>srcPointX</key>
					<real>380.11730584253002</real>
					<key>srcPointY</key>
					<real>392.8419783979852</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>514.62307008368452</real>
					<key>controlPoint1Y</key>
					<real>361.43896932871945</real>
					<key>controlPoint2X</key>
					<real>784.47576643829757</real>
					<key>controlPoint2Y</key>
					<real>441.23698968210817</real>
					<key>dstPointX</key>
					<real>915.38166455938949</real>
					<key>dstPointY</key>
					<real>425.11143798561886</real>
					<key>srcPointX</key>
					<real>383.63960237007365</real>
					<key>srcPointY</key>
					<real>384.77968500610797</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>192.07479222463601</real>
					<key>controlPoint1Y</key>
					<real>420.14731947247964</real>
					<key>controlPoint2X</key>
					<real>202.07265602148834</real>
					<key>controlPoint2Y</key>
					<real>432.87221492230481</real>
					<key>dstPointX</key>
					<real>208.5</real>
					<key>dstPointY</key>
					<real>451</real>
					<key>srcPointX</key>
					<real>187.5</real>
					<key>srcPointY</key>
					<real>401</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>271.91796875</real>
					<key>controlPoint1Y</key>
					<real>141.5315690292604</real>
					<key>controlPoint2X</key>
					<real>448.53156902926037</real>
					<key>controlPoint2Y</key>
					<real>100.296875</real>
					<key>dstPointX</key>
					<real>515</real>
					<key>dstPointY</key>
					<real>100.296875</real>
					<key>srcPointX</key>
					<real>271.91796875</real>
					<key>srcPointY</key>
					<real>208</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>204</real>
			<key>internalHeight</key>
			<real>52</real>
			<key>onEntryHeight</key>
			<real>52</real>
			<key>onExitHeight</key>
			<real>53</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>363</real>
			<key>x</key>
			<real>208.5</real>
			<key>y</key>
			<real>305</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Delay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>254.19012793163253</real>
					<key>controlPoint1Y</key>
					<real>112.75715751821863</real>
					<key>controlPoint2X</key>
					<real>148.40234375</real>
					<key>controlPoint2Y</key>
					<real>160.60855865850931</real>
					<key>dstPointX</key>
					<real>148.40234375</real>
					<key>dstPointY</key>
					<real>208</real>
					<key>srcPointX</key>
					<real>293.58912954608996</real>
					<key>srcPointY</key>
					<real>86.419591491572703</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>331</real>
			<key>y</key>
			<real>74.6953125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Done</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>760.90625</real>
					<key>controlPoint1Y</key>
					<real>26.515625</real>
					<key>controlPoint2X</key>
					<real>497.71484375</real>
					<key>controlPoint2Y</key>
					<real>14.78515625</real>
					<key>dstPointX</key>
					<real>375.98087932331885</real>
					<key>dstPointY</key>
					<real>74.417032656437939</real>
					<key>srcPointX</key>
					<real>903.01912067668115</real>
					<key>srcPointY</key>
					<real>57.582967343562053</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>948</real>
			<key>y</key>
			<real>56.703125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>FallingBack</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1118.1122439018154</real>
					<key>controlPoint1Y</key>
					<real>163.41116184755322</real>
					<key>controlPoint2X</key>
					<real>975.328125</real>
					<key>controlPoint2Y</key>
					<real>116.25390625</real>
					<key>dstPointX</key>
					<real>926.28635157636029</real>
					<key>dstPointY</key>
					<real>74.517638220282578</real>
					<key>srcPointX</key>
					<real>1140.5903806535534</real>
					<key>srcPointY</key>
					<real>194.52383392504007</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>216</real>
			<key>internalHeight</key>
			<real>56</real>
			<key>onEntryHeight</key>
			<real>56</real>
			<key>onExitHeight</key>
			<real>57</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>281</real>
			<key>x</key>
			<real>1055.45703125</real>
			<key>y</key>
			<real>297</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>FallingLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1219.9609375</real>
					<key>controlPoint1Y</key>
					<real>67.64453125</real>
					<key>controlPoint2X</key>
					<real>1142.91796875</real>
					<key>controlPoint2Y</key>
					<real>25.171875</real>
					<key>dstPointX</key>
					<real>958.72689567762279</real>
					<key>dstPointY</key>
					<real>76.423461486633769</real>
					<key>srcPointX</key>
					<real>1191.4994055403297</real>
					<key>srcPointY</key>
					<real>410.08551540162057</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>221</real>
			<key>internalHeight</key>
			<real>58</real>
			<key>onEntryHeight</key>
			<real>58</real>
			<key>onExitHeight</key>
			<real>58</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>301</real>
			<key>x</key>
			<real>1060.5</real>
			<key>y</key>
			<real>514.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>FallingRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>858.734375</real>
					<key>controlPoint1Y</key>
					<real>509.4296875</real>
					<key>controlPoint2X</key>
					<real>928.11328125</real>
					<key>controlPoint2Y</key>
					<real>173.98828125</real>
					<key>dstPointX</key>
					<real>922.32652625854291</real>
					<key>dstPointY</key>
					<real>73.425651399882497</real>
					<key>srcPointX</key>
					<real>792.3046875</real>
					<key>srcPointY</key>
					<real>473.57421875</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>211</real>
			<key>internalHeight</key>
			<real>54</real>
			<key>onEntryHeight</key>
			<real>55</real>
			<key>onExitHeight</key>
			<real>55</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>317</real>
			<key>x</key>
			<real>639.1953125</real>
			<key>y</key>
			<real>549.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>790.28721777052044</real>
					<key>controlPoint1Y</key>
					<real>105.62195561905268</real>
					<key>controlPoint2X</key>
					<real>882.76705496081786</real>
					<key>controlPoint2Y</key>
					<real>71.878205017750332</real>
					<key>dstPointX</key>
					<real>905.61832620105611</real>
					<key>dstPointY</key>
					<real>63.722635080066212</real>
					<key>srcPointX</key>
					<real>773.58656747635666</real>
					<key>srcPointY</key>
					<real>76.954462397390301</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>223</real>
			<key>internalHeight</key>
			<real>58</real>
			<key>onEntryHeight</key>
			<real>59</real>
			<key>onExitHeight</key>
			<real>59</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>314</real>
			<key>x</key>
			<real>667</real>
			<key>y</key>
			<real>167.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>216.97282669748105</real>
					<key>controlPoint1Y</key>
					<real>79.058751188766337</real>
					<key>controlPoint2X</key>
					<real>263.29768144362953</real>
					<key>controlPoint2Y</key>
					<real>76.778491540527199</real>
					<key>dstPointX</key>
					<real>286.0389385101272</real>
					<key>dstPointY</key>
					<real>75.831829719502494</real>
					<key>srcPointX</key>
					<real>193.3046875</real>
					<key>srcPointY</key>
					<real>74.6953125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>154</real>
			<key>internalHeight</key>
			<real>35</real>
			<key>onEntryHeight</key>
			<real>36</real>
			<key>onExitHeight</key>
			<real>36</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>179</real>
			<key>x</key>
			<real>109.1953125</real>
			<key>y</key>
			<real>83</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>StandingUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>459.0703125</real>
					<key>controlPoint1Y</key>
					<real>378.10546875</real>
					<key>controlPoint2X</key>
					<real>970.0625</real>
					<key>controlPoint2Y</key>
					<real>391.53125</real>
					<key>dstPointX</key>
					<real>910.32608920135669</real>
					<key>dstPointY</key>
					<real>67.937997606133251</real>
					<key>srcPointX</key>
					<real>341</real>
					<key>srcPointY</key>
					<real>521.828125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>215</real>
			<key>internalHeight</key>
			<real>56</real>
			<key>onEntryHeight</key>
			<real>56</real>
			<key>onExitHeight</key>
			<real>56</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>319</real>
			<key>x</key>
			<real>187.5</real>
			<key>y</key>
			<real>553.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
