<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Button_Off</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>617.0201941132359</real>
					<key>controlPoint1Y</key>
					<real>396.2133489609547</real>
					<key>controlPoint2X</key>
					<real>596.86346396738224</real>
					<key>controlPoint2Y</key>
					<real>327.78067201633746</real>
					<key>dstPointX</key>
					<real>493.23248409587961</real>
					<key>dstPointY</key>
					<real>305.998648732981</real>
					<key>srcPointX</key>
					<real>609.84307523585323</real>
					<key>srcPointY</key>
					<real>369.56499851006214</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>323.7450189935563</real>
					<key>controlPoint1Y</key>
					<real>354.87985076682094</real>
					<key>controlPoint2X</key>
					<real>301.83664400950795</real>
					<key>controlPoint2Y</key>
					<real>264.78843353569033</real>
					<key>dstPointX</key>
					<real>326.62042921585333</real>
					<key>dstPointY</key>
					<real>250.04683352099372</real>
					<key>srcPointX</key>
					<real>279.14723315377034</real>
					<key>srcPointY</key>
					<real>364.87553607957403</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>261</real>
			<key>internalHeight</key>
			<real>71</real>
			<key>onEntryHeight</key>
			<real>71</real>
			<key>onExitHeight</key>
			<real>72</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>362</real>
			<key>x</key>
			<real>441</real>
			<key>y</key>
			<real>489.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Button_On</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>861.27477200051396</real>
					<key>controlPoint1Y</key>
					<real>322.85056619514114</real>
					<key>controlPoint2X</key>
					<real>808.61542677236446</real>
					<key>controlPoint2Y</key>
					<real>338.76879838467107</real>
					<key>dstPointX</key>
					<real>769.81024156090666</real>
					<key>dstPointY</key>
					<real>357.68507293972203</real>
					<key>srcPointX</key>
					<real>904.30078125</real>
					<key>srcPointY</key>
					<real>306</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>516.75235327859605</real>
					<key>controlPoint1Y</key>
					<real>291.1932013731215</real>
					<key>controlPoint2X</key>
					<real>564.6091034768873</real>
					<key>controlPoint2Y</key>
					<real>355.8969269797692</real>
					<key>dstPointX</key>
					<real>604.07117436962062</real>
					<key>dstPointY</key>
					<real>365.70092504263727</real>
					<key>srcPointX</key>
					<real>486.37852288337427</real>
					<key>srcPointY</key>
					<real>304.87209688386537</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>298</real>
			<key>internalHeight</key>
			<real>84</real>
			<key>onEntryHeight</key>
			<real>83</real>
			<key>onExitHeight</key>
			<real>84</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>499</real>
			<key>x</key>
			<real>717.5</real>
			<key>y</key>
			<real>163</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>172.20549878992824</real>
					<key>controlPoint1Y</key>
					<real>333.56805443635142</real>
					<key>controlPoint2X</key>
					<real>173.18233768335088</real>
					<key>controlPoint2Y</key>
					<real>288.99644012745023</real>
					<key>dstPointX</key>
					<real>136.5</real>
					<key>dstPointY</key>
					<real>252</real>
					<key>srcPointX</key>
					<real>211.3984375</real>
					<key>srcPointY</key>
					<real>370</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>196</real>
			<key>internalHeight</key>
			<real>49</real>
			<key>onEntryHeight</key>
			<real>50</real>
			<key>onExitHeight</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>243</real>
			<key>x</key>
			<real>136.5</real>
			<key>y</key>
			<real>463</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Long_Press</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>715.53425120627708</real>
					<key>controlPoint1Y</key>
					<real>485.65326746703835</real>
					<key>controlPoint2X</key>
					<real>656.76426615237585</real>
					<key>controlPoint2Y</key>
					<real>487.35968199723158</real>
					<key>dstPointX</key>
					<real>616</real>
					<key>dstPointY</key>
					<real>483.5</real>
					<key>srcPointX</key>
					<real>755</real>
					<key>srcPointY</key>
					<real>489.5</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>263</real>
			<key>internalHeight</key>
			<real>72</real>
			<key>onEntryHeight</key>
			<real>72</real>
			<key>onExitHeight</key>
			<real>72</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>308</real>
			<key>x</key>
			<real>904.30078125</real>
			<key>y</key>
			<real>483.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Zero</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>377.87517784076198</real>
					<key>controlPoint1Y</key>
					<real>149.22129568334435</real>
					<key>controlPoint2X</key>
					<real>434.11000906598019</real>
					<key>controlPoint2Y</key>
					<real>155.95041126102768</real>
					<key>dstPointX</key>
					<real>473</real>
					<key>dstPointY</key>
					<real>143.5</real>
					<key>srcPointX</key>
					<real>338</real>
					<key>srcPointY</key>
					<real>163</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>229</real>
			<key>internalHeight</key>
			<real>60</real>
			<key>onEntryHeight</key>
			<real>61</real>
			<key>onExitHeight</key>
			<real>61</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>265</real>
			<key>x</key>
			<real>211.3984375</real>
			<key>y</key>
			<real>143.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
