<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>169.03818079140285</real>
					<key>controlPoint1Y</key>
					<real>172.182494206619</real>
					<key>controlPoint2X</key>
					<real>140.56446077755174</real>
					<key>controlPoint2Y</key>
					<real>335.08025108806748</real>
					<key>dstPointX</key>
					<real>136.9500739406094</real>
					<key>dstPointY</key>
					<real>362.17560241084004</real>
					<key>srcPointX</key>
					<real>150.12887202812487</real>
					<key>srcPointY</key>
					<real>152.44268930366835</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>119.35546875</real>
			<key>y</key>
			<real>138.34375</real>
		</dict>
		<key>Loop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>261.06470409146152</real>
					<key>controlPoint1Y</key>
					<real>383.44191544485591</real>
					<key>controlPoint2X</key>
					<real>655.91245884792647</real>
					<key>controlPoint2Y</key>
					<real>321.53213709427195</real>
					<key>dstPointX</key>
					<real>604.29969144067161</real>
					<key>dstPointY</key>
					<real>253.89923111577767</real>
					<key>srcPointX</key>
					<real>175.99576291066819</real>
					<key>srcPointY</key>
					<real>382.27444942395402</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>131.41015625</real>
			<key>y</key>
			<real>382.3359375</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>85.07421875</real>
		</dict>
		<key>Update_Head</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>463.9733598823376</real>
					<key>controlPoint1Y</key>
					<real>237.01310769057258</real>
					<key>controlPoint2X</key>
					<real>233.81584045465161</real>
					<key>controlPoint2Y</key>
					<real>345.42388759840429</real>
					<key>dstPointX</key>
					<real>171.93213848165141</real>
					<key>dstPointY</key>
					<real>373.69043342552766</real>
					<key>srcPointX</key>
					<real>532.00282772621517</real>
					<key>srcPointY</key>
					<real>237.77579226417009</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>576.92578125</real>
			<key>y</key>
			<real>237.75390625</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
