<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>186.14552537926411</real>
					<key>controlPoint1Y</key>
					<real>188.63422452320248</real>
					<key>controlPoint2X</key>
					<real>140.98348640072467</real>
					<key>controlPoint2Y</key>
					<real>308.88987293352534</real>
					<key>dstPointX</key>
					<real>135.7196051906094</real>
					<key>dstPointY</key>
					<real>361.16778991084004</real>
					<key>srcPointX</key>
					<real>149.06246577812487</real>
					<key>srcPointY</key>
					<real>151.41143930366835</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>119.35546875</real>
			<key>y</key>
			<real>138.34375</real>
		</dict>
		<key>Loop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>286.61708415506132</real>
					<key>controlPoint1Y</key>
					<real>377.04952968691816</real>
					<key>controlPoint2X</key>
					<real>670.82474660769753</real>
					<key>controlPoint2Y</key>
					<real>344.81843505037898</real>
					<key>dstPointX</key>
					<real>604.52234769067161</real>
					<key>dstPointY</key>
					<real>254.63751236577767</real>
					<key>srcPointX</key>
					<real>174.76529416066819</real>
					<key>srcPointY</key>
					<real>381.26663692395402</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>131.41015625</real>
			<key>y</key>
			<real>382.3359375</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>85.07421875</real>
		</dict>
		<key>Update_Head</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>435.91603644159238</real>
					<key>controlPoint1Y</key>
					<real>241.00204694664913</real>
					<key>controlPoint2X</key>
					<real>255.89543964647618</real>
					<key>controlPoint2Y</key>
					<real>327.69683134787459</real>
					<key>dstPointX</key>
					<real>170.70166973165141</real>
					<key>dstPointY</key>
					<real>372.68262092552766</real>
					<key>srcPointX</key>
					<real>532.22548397621517</real>
					<key>srcPointY</key>
					<real>238.51407351417009</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>576.92578125</real>
			<key>y</key>
			<real>237.75390625</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
