<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Dummy</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>766.00789230516034</real>
					<key>controlPoint1Y</key>
					<real>147.27899587188853</real>
					<key>controlPoint2X</key>
					<real>634.75013250023551</real>
					<key>controlPoint2Y</key>
					<real>76.487555305480342</real>
					<key>dstPointX</key>
					<real>565.67663015401502</real>
					<key>dstPointY</key>
					<real>50.081202602593521</real>
					<key>srcPointX</key>
					<real>834.97961984598498</real>
					<key>srcPointY</key>
					<real>173.95004739740648</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>695.81635389312146</real>
					<key>controlPoint1Y</key>
					<real>165.67470393677615</real>
					<key>controlPoint2X</key>
					<real>424.21933838233696</real>
					<key>controlPoint2Y</key>
					<real>127.50101159255823</real>
					<key>dstPointX</key>
					<real>287.90688836362523</real>
					<key>dstPointY</key>
					<real>113.9797570981851</real>
					<key>srcPointX</key>
					<real>832.13998663637472</real>
					<key>srcPointY</key>
					<real>179.0827429018149</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>875.78125</real>
			<key>y</key>
			<real>180.9375</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>338.98757479352076</real>
					<key>controlPoint1Y</key>
					<real>147.31356363799929</real>
					<key>controlPoint2X</key>
					<real>439.45646203144213</real>
					<key>controlPoint2Y</key>
					<real>219.93995091303739</real>
					<key>dstPointX</key>
					<real>494.64081082400941</real>
					<key>dstPointY</key>
					<real>247.1541503175911</real>
					<key>srcPointX</key>
					<real>283.53106417599059</real>
					<key>srcPointY</key>
					<real>120.6583496824089</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>327.10795388370161</real>
					<key>controlPoint1Y</key>
					<real>170.93002281279129</real>
					<key>controlPoint2X</key>
					<real>409.87159299922018</real>
					<key>controlPoint2Y</key>
					<real>281.23551416884118</real>
					<key>dstPointX</key>
					<real>460.03579662418292</real>
					<key>dstPointY</key>
					<real>327.49085098122293</real>
					<key>srcPointX</key>
					<real>276.35482837581708</real>
					<key>srcPointY</key>
					<real>125.32164901877709</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>310.76758724070618</real>
					<key>controlPoint1Y</key>
					<real>194.99290876835136</real>
					<key>controlPoint2X</key>
					<real>375.95796786403002</real>
					<key>controlPoint2Y</key>
					<real>340.46140834198388</real>
					<key>dstPointX</key>
					<real>418.71502483758053</real>
					<key>dstPointY</key>
					<real>407.16241722072255</real>
					<key>srcPointX</key>
					<real>267.45685016241941</real>
					<key>srcPointY</key>
					<real>128.65008277927748</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>308.35703948111575</real>
					<key>controlPoint1Y</key>
					<real>219.3545924355131</real>
					<key>controlPoint2X</key>
					<real>378.50023228868713</real>
					<key>controlPoint2Y</key>
					<real>408.1153390217803</real>
					<key>dstPointX</key>
					<real>423.03526453587256</real>
					<key>dstPointY</key>
					<real>498.07610416109452</real>
					<key>srcPointX</key>
					<real>263.13661046412739</real>
					<key>srcPointY</key>
					<real>129.73639583890548</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.91616586538461542</real>
				<key>green</key>
				<real>0.91616586538461542</real>
				<key>red</key>
				<real>0.91616586538461542</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>242.95703125</real>
			<key>y</key>
			<real>112.046875</real>
		</dict>
		<key>Nothing</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>430.79723661598621</real>
					<key>controlPoint1Y</key>
					<real>59.039390163846036</real>
					<key>controlPoint2X</key>
					<real>335.91750734008917</real>
					<key>controlPoint2Y</key>
					<real>94.575937771882266</real>
					<key>dstPointX</key>
					<real>286.87364594727126</real>
					<key>dstPointY</key>
					<real>107.04314895949116</real>
					<key>srcPointX</key>
					<real>480.07947905272874</real>
					<key>srcPointY</key>
					<real>47.550601040508852</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>524.3046875</real>
			<key>y</key>
			<real>43.3046875</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>925.9140625</real>
			<key>y</key>
			<real>477.82421875</real>
		</dict>
		<key>UpdateHead</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>642.98286456385756</real>
					<key>controlPoint1Y</key>
					<real>237.62028172394815</real>
					<key>controlPoint2X</key>
					<real>769.13556838991894</real>
					<key>controlPoint2Y</key>
					<real>200.69419483894151</real>
					<key>dstPointX</key>
					<real>832.92545815626465</real>
					<key>dstPointY</key>
					<real>185.54614289772584</real>
					<key>srcPointX</key>
					<real>578.94954184373535</real>
					<key>srcPointY</key>
					<real>251.70385710227416</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>535</real>
			<key>y</key>
			<real>256</real>
		</dict>
		<key>UpdateHead_generic</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>572.94358619217985</real>
					<key>controlPoint1Y</key>
					<real>430.76416037386832</real>
					<key>controlPoint2X</key>
					<real>748.55639064627803</real>
					<key>controlPoint2Y</key>
					<real>268.53921613538506</real>
					<key>dstPointX</key>
					<real>841.28345053947032</real>
					<key>dstPointY</key>
					<real>193.48830543420829</real>
					<key>srcPointX</key>
					<real>478.59154946052968</real>
					<key>srcPointY</key>
					<real>503.76169456579169</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>443</real>
			<key>y</key>
			<real>516</real>
		</dict>
		<key>UpdateHead_left</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>573.70004280326202</real>
					<key>controlPoint1Y</key>
					<real>362.88602578527133</real>
					<key>controlPoint2X</key>
					<real>747.25360538764858</real>
					<key>controlPoint2Y</key>
					<real>244.24037637919665</real>
					<key>dstPointX</key>
					<real>837.6323365465546</real>
					<key>dstPointY</key>
					<real>191.03800843642517</real>
					<key>srcPointX</key>
					<real>482.2426634534454</real>
					<key>srcPointY</key>
					<real>414.21199156357483</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>443</real>
			<key>y</key>
			<real>424</real>
		</dict>
		<key>UpdateHead_rigt</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>611.74875397930384</real>
					<key>controlPoint1Y</key>
					<real>301.2889056376909</real>
					<key>controlPoint2X</key>
					<real>759.03884840748924</real>
					<key>controlPoint2Y</key>
					<real>222.58217290573782</real>
					<key>dstPointX</key>
					<real>835.35259380798936</real>
					<key>dstPointY</key>
					<real>188.95941107133356</real>
					<key>srcPointX</key>
					<real>534.74115619201064</real>
					<key>srcPointY</key>
					<real>333.29058892866641</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>492.6953125</real>
			<key>y</key>
			<real>341</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
