<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>States</key>
    <dict>
	<key>Ping</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>120.550735359785</real>
		    <key>controlPoint1Y</key>
		    <real>28.88197893970863</real>
		    <key>controlPoint2X</key>
		    <real>188.912768738108</real>
		    <key>controlPoint2Y</key>
		    <real>66.42947000629597</real>
		    <key>dstPointX</key>
		    <real>213.630362303508</real>
		    <key>dstPointY</key>
		    <real>64.25371217772268</real>
		    <key>srcPointX</key>
		    <real>95.83084119879811</real>
		    <key>srcPointY</key>
		    <real>26.73251703902106</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>0.8173921092077917</real>
		<key>red</key>
		<real>0.7126523807802231</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>89.546875</real>
	    <key>y</key>
	    <real>62.58984375</real>
	    <key>zoomedInternalHeight</key>
	    <real>294</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>294</real>
	    <key>zoomedOnExitHeight</key>
	    <real>294</real>
	</dict>
	<key>Pong</key>
	<dict>
	    <key>Transitions</key>
	    <array>
		<dict>
		    <key>controlPoint1X</key>
		    <real>190.3551500653808</real>
		    <key>controlPoint1Y</key>
		    <real>50.7486054560282</real>
		    <key>controlPoint2X</key>
		    <real>119.0824717997694</real>
		    <key>controlPoint2Y</key>
		    <real>13.20185756454687</real>
		    <key>dstPointX</key>
		    <real>94.4604610416358</real>
		    <key>dstPointY</key>
		    <real>19.81334426263251</real>
		    <key>srcPointX</key>
		    <real>214.9841802232211</real>
		    <key>srcPointY</key>
		    <real>57.33389539776994</real>
		</dict>
	    </array>
	    <key>bgColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.8876400251956401</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>0.8447153298992401</real>
	    </dict>
	    <key>expanded</key>
	    <false/>
	    <key>h</key>
	    <real>50</real>
	    <key>internalHeight</key>
	    <real>0</real>
	    <key>onEntryHeight</key>
	    <real>0</real>
	    <key>onExitHeight</key>
	    <real>0</real>
	    <key>strokeColour</key>
	    <dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>red</key>
		<real>0</real>
	    </dict>
	    <key>w</key>
	    <real>100</real>
	    <key>x</key>
	    <real>258.45703125</real>
	    <key>y</key>
	    <real>62.5</real>
	    <key>zoomedInternalHeight</key>
	    <real>294</real>
	    <key>zoomedOnEntryHeight</key>
	    <real>294</real>
	    <key>zoomedOnExitHeight</key>
	    <real>294</real>
	</dict>
    </dict>
    <key>Version</key>
    <string>1.2</string>
</dict>
</plist>
