<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>INCREMENT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>384.12276932106897</real>
					<key>controlPoint1Y</key>
					<real>138.27623097240513</real>
					<key>controlPoint2X</key>
					<real>535.12276932106897</real>
					<key>controlPoint2Y</key>
					<real>345.27623097240513</real>
					<key>dstPointX</key>
					<real>527</real>
					<key>dstPointY</key>
					<real>327</real>
					<key>srcPointX</key>
					<real>376</real>
					<key>srcPointY</key>
					<real>120</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>283.77757500005208</real>
					<key>controlPoint1Y</key>
					<real>145.66197640331544</real>
					<key>controlPoint2X</key>
					<real>227.39531135418082</real>
					<key>controlPoint2Y</key>
					<real>216.35473511008652</real>
					<key>dstPointX</key>
					<real>194.71832589684152</real>
					<key>dstPointY</key>
					<real>257.59902928815046</real>
					<key>srcPointX</key>
					<real>332.69882161423459</real>
					<key>srcPointY</key>
					<real>126.28186261262307</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>374.53559502349714</real>
			<key>y</key>
			<real>118.91581583861043</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>535.12276932106897</real>
					<key>controlPoint1Y</key>
					<real>345.27623097240513</real>
					<key>controlPoint2X</key>
					<real>176.12276932106897</real>
					<key>controlPoint2Y</key>
					<real>292.27623097240513</real>
					<key>dstPointX</key>
					<real>168</real>
					<key>dstPointY</key>
					<real>274</real>
					<key>srcPointX</key>
					<real>527</real>
					<key>srcPointY</key>
					<real>327</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>493</real>
			<key>internalHeight</key>
			<real>86</real>
			<key>onEntryHeight</key>
			<real>305</real>
			<key>onExitHeight</key>
			<real>55</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>733</real>
			<key>x</key>
			<real>842.5</real>
			<key>y</key>
			<real>547.5</real>
			<key>zoomedInternalHeight</key>
			<real>265</real>
			<key>zoomedOnEntryHeight</key>
			<real>274</real>
			<key>zoomedOnExitHeight</key>
			<real>266</real>
		</dict>
		<key>PLAY_ITH_NOTE</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>249.46663923140446</real>
					<key>controlPoint1Y</key>
					<real>235.48398488359015</real>
					<key>controlPoint2X</key>
					<real>301.93649691168184</real>
					<key>controlPoint2Y</key>
					<real>166.79541116984717</real>
					<key>dstPointX</key>
					<real>340.89039461345158</real>
					<key>dstPointY</key>
					<real>132.19719974216707</real>
					<key>srcPointX</key>
					<real>205.09662239970535</real>
					<key>srcPointY</key>
					<real>262.79229838898874</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>166.77341993281107</real>
			<key>y</key>
			<real>273.27527367752373</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
