<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>HeadStandBy</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>202.70070439771354</real>
					<key>controlPoint1Y</key>
					<real>524.11447675227942</real>
					<key>controlPoint2X</key>
					<real>336.7946662660645</real>
					<key>controlPoint2Y</key>
					<real>678.98041037281359</real>
					<key>dstPointX</key>
					<real>433.03764541004864</real>
					<key>dstPointY</key>
					<real>728.80515210684962</real>
					<key>srcPointX</key>
					<real>144.26421039014539</real>
					<key>srcPointY</key>
					<real>432.84349510161343</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>354.67304478029166</real>
					<key>controlPoint1Y</key>
					<real>466.49742105921956</real>
					<key>controlPoint2X</key>
					<real>714.32695521970834</real>
					<key>controlPoint2Y</key>
					<real>564.50257894078038</real>
					<key>dstPointX</key>
					<real>905.24305057420588</real>
					<key>dstPointY</key>
					<real>610.33165370018332</real>
					<key>srcPointX</key>
					<real>163.75694942579409</real>
					<key>srcPointY</key>
					<real>420.66834629981668</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>120</real>
			<key>y</key>
			<real>416</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>HeadStop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>802.57317995812537</real>
					<key>controlPoint1Y</key>
					<real>646.58254270687848</real>
					<key>controlPoint2X</key>
					<real>619.42682004187463</real>
					<key>controlPoint2Y</key>
					<real>706.41745729312152</real>
					<key>dstPointX</key>
					<real>516.5689054147773</real>
					<key>dstPointY</key>
					<real>732.99628817365306</real>
					<key>srcPointX</key>
					<real>905.4310945852227</real>
					<key>srcPointY</key>
					<real>620.00371182634694</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>866.49515866592037</real>
					<key>controlPoint1Y</key>
					<real>591.41195915143146</real>
					<key>controlPoint2X</key>
					<real>805.95252077473833</real>
					<key>controlPoint2Y</key>
					<real>558.93644577862347</real>
					<key>dstPointX</key>
					<real>763.06514684406773</real>
					<key>dstPointY</key>
					<real>550.05548757594772</real>
					<key>srcPointX</key>
					<real>907.18881481134758</real>
					<key>srcPointY</key>
					<real>607.60530997158503</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>949</real>
			<key>y</key>
			<real>615</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>666.14760603508194</real>
					<key>controlPoint1Y</key>
					<real>311.6178415168722</real>
					<key>controlPoint2X</key>
					<real>822.85239396491806</real>
					<key>controlPoint2Y</key>
					<real>505.3821584831278</real>
					<key>dstPointX</key>
					<real>917.33541064949486</real>
					<key>dstPointY</key>
					<real>600.7892144506834</real>
					<key>srcPointX</key>
					<real>571.66458935050514</real>
					<key>srcPointY</key>
					<real>216.21078554931663</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>540</real>
			<key>y</key>
			<real>202</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>MoveHead</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>369.46247592361937</real>
					<key>controlPoint1Y</key>
					<real>643.91384003425492</real>
					<key>controlPoint2X</key>
					<real>241.49648052994394</real>
					<key>controlPoint2Y</key>
					<real>493.61778006764899</real>
					<key>dstPointX</key>
					<real>155.76273232252419</real>
					<key>dstPointY</key>
					<real>428.13933084842012</real>
					<key>srcPointX</key>
					<real>442.52352246970707</real>
					<key>srcPointY</key>
					<real>723.28503362134154</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>473</real>
			<key>y</key>
			<real>738</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>229</real>
			<key>y</key>
			<real>149</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Walking</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>631.85114157976739</real>
					<key>controlPoint1Y</key>
					<real>598.63684982096061</real>
					<key>controlPoint2X</key>
					<real>560.14885842023261</real>
					<key>controlPoint2Y</key>
					<real>685.36315017903939</real>
					<key>dstPointX</key>
					<real>508.4742102568282</real>
					<key>dstPointY</key>
					<real>725.6945828919404</real>
					<key>srcPointX</key>
					<real>683.5257897431718</real>
					<key>srcPointY</key>
					<real>558.3054171080596</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>795.09345493019021</real>
					<key>controlPoint1Y</key>
					<real>579.85837833966752</real>
					<key>controlPoint2X</key>
					<real>859.60369044498123</real>
					<key>controlPoint2Y</key>
					<real>613.08928618400932</real>
					<key>dstPointX</key>
					<real>904.01978868933372</real>
					<key>dstPointY</key>
					<real>614.4069388143389</real>
					<key>srcPointX</key>
					<real>757.28681182876039</real>
					<key>srcPointY</key>
					<real>556.50920856626249</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>719</real>
			<key>y</key>
			<real>546</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
