<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Calc_BallAngle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>227.27357158725988</real>
					<key>controlPoint1Y</key>
					<real>307.5821264907363</real>
					<key>controlPoint2X</key>
					<real>184.72642841274009</real>
					<key>controlPoint2Y</key>
					<real>427.4178735092637</real>
					<key>dstPointX</key>
					<real>153.94199190847124</real>
					<key>dstPointY</key>
					<real>482.53865508785321</real>
					<key>srcPointX</key>
					<real>258.05800809152873</real>
					<key>srcPointY</key>
					<real>252.46134491214679</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>452.80788707825036</real>
					<key>controlPoint1Y</key>
					<real>204.64590048069059</real>
					<key>controlPoint2X</key>
					<real>708.19211292174964</real>
					<key>controlPoint2Y</key>
					<real>142.35409951930953</real>
					<key>dstPointX</key>
					<real>836.91381025092983</real>
					<key>dstPointY</key>
					<real>116.01005830218941</real>
					<key>srcPointX</key>
					<real>324.08618974907023</real>
					<key>srcPointY</key>
					<real>230.98994169781059</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>280</real>
			<key>y</key>
			<real>235</real>
		</dict>
		<key>Decide_Long</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>227.75029225609543</real>
					<key>controlPoint1Y</key>
					<real>499.2755808608174</real>
					<key>controlPoint2X</key>
					<real>329.24970774390454</real>
					<key>controlPoint2Y</key>
					<real>497.7244191391826</real>
					<key>dstPointX</key>
					<real>380.00235860731681</real>
					<key>dstPointY</key>
					<real>497.2047674238575</real>
					<key>srcPointX</key>
					<real>176.99764139268319</real>
					<key>srcPointY</key>
					<real>499.7952325761425</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>241.37609712049453</real>
					<key>controlPoint1Y</key>
					<real>529.39953159326228</real>
					<key>controlPoint2X</key>
					<real>369.62390287950547</real>
					<key>controlPoint2Y</key>
					<real>589.6004684067376</real>
					<key>dstPointX</key>
					<real>436.43350781463624</real>
					<key>dstPointY</key>
					<real>612.51211966691221</real>
					<key>srcPointX</key>
					<real>174.56649218536376</real>
					<key>srcPointY</key>
					<real>506.48788033308779</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>205.28944285484084</real>
					<key>controlPoint1Y</key>
					<real>470.80396069967315</real>
					<key>controlPoint2X</key>
					<real>261.71055714515916</real>
					<key>controlPoint2Y</key>
					<real>414.19603930032685</real>
					<key>dstPointX</key>
					<real>295.84624425554239</real>
					<key>dstPointY</key>
					<real>394.85808847424767</real>
					<key>srcPointX</key>
					<real>171.15375574445758</real>
					<key>srcPointY</key>
					<real>490.14191152575233</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>132</real>
			<key>y</key>
			<real>500</real>
		</dict>
		<key>Decide_Short</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>831.82058367062587</real>
					<key>controlPoint1Y</key>
					<real>158.64262793414591</real>
					<key>controlPoint2X</key>
					<real>807.17941632937413</real>
					<key>controlPoint2Y</key>
					<real>232.35737206585409</real>
					<key>dstPointX</key>
					<real>784.68655523347297</real>
					<key>dstPointY</key>
					<real>262.89645989524843</real>
					<key>srcPointX</key>
					<real>854.31344476652703</real>
					<key>srcPointY</key>
					<real>128.10354010475157</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>862.13130359522052</real>
					<key>controlPoint1Y</key>
					<real>202.3221524409789</real>
					<key>controlPoint2X</key>
					<real>846.86869640477948</real>
					<key>controlPoint2Y</key>
					<real>344.67784755902113</real>
					<key>dstPointX</key>
					<real>835.28646051662338</real>
					<key>dstPointY</key>
					<real>415.26392665099087</real>
					<key>srcPointX</key>
					<real>873.71353948337662</real>
					<key>srcPointY</key>
					<real>131.73607334900916</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>807.04209389251935</real>
					<key>controlPoint1Y</key>
					<real>135.49222107794907</real>
					<key>controlPoint2X</key>
					<real>749.95790610748065</real>
					<key>controlPoint2Y</key>
					<real>182.50777892205099</real>
					<key>dstPointX</key>
					<real>716.90476740023973</real>
					<key>dstPointY</key>
					<real>197.66385228049316</real>
					<key>srcPointX</key>
					<real>840.09523259976027</real>
					<key>srcPointY</key>
					<real>120.33614771950685</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>881</real>
			<key>y</key>
			<real>112</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>152.50010225933082</real>
					<key>controlPoint1Y</key>
					<real>235.76249792623261</real>
					<key>controlPoint2X</key>
					<real>207.49989774066916</real>
					<key>controlPoint2Y</key>
					<real>235.23750207376739</real>
					<key>dstPointX</key>
					<real>235.00056248945333</real>
					<key>dstPointY</key>
					<real>235.09999875002345</real>
					<key>srcPointX</key>
					<real>124.99943751054666</real>
					<key>srcPointY</key>
					<real>235.90000124997655</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>80</real>
			<key>y</key>
			<real>236</real>
		</dict>
		<key>Long_Left</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>421.75300846617108</real>
					<key>controlPoint1Y</key>
					<real>383.0773506026261</real>
					<key>controlPoint2X</key>
					<real>505.24699153382892</real>
					<key>controlPoint2Y</key>
					<real>378.9226493973739</real>
					<key>dstPointX</key>
					<real>547.02178616403774</real>
					<key>dstPointY</key>
					<real>377.6222666851495</real>
					<key>srcPointX</key>
					<real>379.97821383596226</real>
					<key>srcPointY</key>
					<real>384.3777333148505</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>335</real>
			<key>y</key>
			<real>385</real>
		</dict>
		<key>Long_Right</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>521.20037764036829</real>
					<key>controlPoint1Y</key>
					<real>551.27615658443597</real>
					<key>controlPoint2X</key>
					<real>549.79962235963171</real>
					<key>controlPoint2Y</key>
					<real>444.72384341556403</real>
					<key>dstPointX</key>
					<real>572.96093078752619</real>
					<key>dstPointY</key>
					<real>395.12174926025034</real>
					<key>srcPointX</key>
					<real>498.03906921247381</real>
					<key>srcPointY</key>
					<real>600.87825073974966</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>479</real>
			<key>y</key>
			<real>619</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>105</real>
			<key>y</key>
			<real>788.6953125</real>
		</dict>
		<key>Short_Straight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>693.90063542660482</real>
					<key>controlPoint1Y</key>
					<real>304.13230038421119</real>
					<key>controlPoint2X</key>
					<real>656.09936457339518</real>
					<key>controlPoint2Y</key>
					<real>351.86769961578881</real>
					<key>dstPointX</key>
					<real>630.75098526474085</real>
					<key>dstPointY</key>
					<real>366.8324054727052</real>
					<key>srcPointX</key>
					<real>719.24901473525915</real>
					<key>srcPointY</key>
					<real>289.1675945272948</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>758</real>
			<key>y</key>
			<real>279</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>491.41449290659506</real>
					<key>controlPoint1Y</key>
					<real>341.57676055023279</real>
					<key>controlPoint2X</key>
					<real>380.58550709340494</real>
					<key>controlPoint2Y</key>
					<real>270.42323944976721</real>
					<key>dstPointX</key>
					<real>320.95749533862704</real>
					<key>dstPointY</key>
					<real>243.28484948445163</real>
					<key>srcPointX</key>
					<real>551.04250466137296</real>
					<key>srcPointY</key>
					<real>368.71515051554837</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>592</real>
			<key>y</key>
			<real>377</real>
		</dict>
		<key>Turn_Left</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>640.48723682439675</real>
					<key>controlPoint1Y</key>
					<real>255.85498116082849</real>
					<key>controlPoint2X</key>
					<real>627.51276317560325</real>
					<key>controlPoint2Y</key>
					<real>327.14501883917148</real>
					<key>dstPointX</key>
					<real>611.84067458440597</real>
					<key>dstPointY</key>
					<real>359.04891347125169</real>
					<key>srcPointX</key>
					<real>656.15932541559403</real>
					<key>srcPointY</key>
					<real>223.95108652874831</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>676</real>
			<key>y</key>
			<real>206</real>
		</dict>
		<key>Turn_Right</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>746.35433490156936</real>
					<key>controlPoint1Y</key>
					<real>420.90106240891504</real>
					<key>controlPoint2X</key>
					<real>673.64566509843064</real>
					<key>controlPoint2Y</key>
					<real>391.09893759108502</real>
					<key>dstPointX</key>
					<real>635.69963357902145</real>
					<key>dstPointY</key>
					<real>381.77321798038275</real>
					<key>srcPointX</key>
					<real>784.30036642097855</real>
					<key>srcPointY</key>
					<real>430.22678201961725</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>828</real>
			<key>y</key>
			<real>435</real>
		</dict>
		<key>Walk_Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>488.9047455725194</real>
					<key>controlPoint1Y</key>
					<real>465.66881845259576</real>
					<key>controlPoint2X</key>
					<real>528.09525442748054</real>
					<key>controlPoint2Y</key>
					<real>408.33118154740441</real>
					<key>dstPointX</key>
					<real>555.45606774571286</real>
					<key>dstPointY</key>
					<real>388.67071688759671</real>
					<key>srcPointX</key>
					<real>461.54393225428709</real>
					<key>srcPointY</key>
					<real>485.32928311240335</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>425</real>
			<key>y</key>
			<real>497</real>
		</dict>
	</dict>
</dict>
</plist>
