<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FindBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>461.77584140911085</real>
					<key>controlPoint1Y</key>
					<real>127.74914060646276</real>
					<key>controlPoint2X</key>
					<real>354.29086154573861</real>
					<key>controlPoint2Y</key>
					<real>147.4719027219495</real>
					<key>dstPointX</key>
					<real>316.66348956275351</real>
					<key>dstPointY</key>
					<real>129.5891823878523</real>
					<key>srcPointX</key>
					<real>478.19250704691746</real>
					<key>srcPointY</key>
					<real>89.459404406928471</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>496.48828125</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>96.912311644812959</real>
					<key>controlPoint1Y</key>
					<real>114.19573237411549</real>
					<key>controlPoint2X</key>
					<real>124.38549517250541</real>
					<key>controlPoint2Y</key>
					<real>169.31764269371737</real>
					<key>dstPointX</key>
					<real>145.53090351068266</real>
					<key>dstPointY</key>
					<real>187.91636350645814</real>
					<key>srcPointX</key>
					<real>97.330467211274026</real>
					<key>srcPointY</key>
					<real>86.037858598193253</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>2.2700515904029803e-05</real>
				<key>green</key>
				<real>0.29786481900452488</real>
				<key>red</key>
				<real>0.048546843441653449</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.65234375</real>
			<key>y</key>
			<real>65.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>300</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>232.64145449568059</real>
					<key>controlPoint1Y</key>
					<real>178.25175221387991</real>
					<key>controlPoint2X</key>
					<real>257.48922446917322</real>
					<key>controlPoint2Y</key>
					<real>159.60734104671315</real>
					<key>dstPointX</key>
					<real>263.13689985281792</real>
					<key>dstPointY</key>
					<real>140.42131064016542</real>
					<key>srcPointX</key>
					<real>216.17675785552626</real>
					<key>srcPointY</key>
					<real>189.60577196671153</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>178.640625</real>
			<key>y</key>
			<real>200.89453125</real>
		</dict>
		<key>StartTracking</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>302.25066858972951</real>
					<key>controlPoint1Y</key>
					<real>60.108052398349187</real>
					<key>controlPoint2X</key>
					<real>424.71944190159934</real>
					<key>controlPoint2Y</key>
					<real>31.492261371328681</real>
					<key>dstPointX</key>
					<real>459.51416334804014</real>
					<key>dstPointY</key>
					<real>58.440767058408355</real>
					<key>srcPointX</key>
					<real>289.19016415364666</real>
					<key>srcPointY</key>
					<real>102.13563647329971</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>276.22265625</real>
			<key>y</key>
			<real>120.7734375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
