<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FindBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>460.93024683382987</real>
					<key>controlPoint1Y</key>
					<real>127.53840177271063</real>
					<key>controlPoint2X</key>
					<real>353.79895002731831</real>
					<key>controlPoint2Y</key>
					<real>148.13915958539994</real>
					<key>dstPointX</key>
					<real>316.44083331275351</real>
					<key>dstPointY</key>
					<real>129.8157448878523</real>
					<key>srcPointX</key>
					<real>477.70422579691746</real>
					<key>srcPointY</key>
					<real>89.459404406928471</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>496.48828125</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>97.477399603836488</real>
					<key>controlPoint1Y</key>
					<real>114.25646751475112</real>
					<key>controlPoint2X</key>
					<real>124.75828056996102</real>
					<key>controlPoint2Y</key>
					<real>169.38462077255772</real>
					<key>dstPointX</key>
					<real>145.89027851068266</real>
					<key>dstPointY</key>
					<real>188.02183225645814</real>
					<key>srcPointX</key>
					<real>97.678123461274026</real>
					<key>srcPointY</key>
					<real>86.080827348193253</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.088456988200437986</real>
				<key>green</key>
				<real>0.62521210407239813</real>
				<key>red</key>
				<real>0.30408065614047963</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.65234375</real>
			<key>y</key>
			<real>65.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>300</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>233.10024070220425</real>
					<key>controlPoint1Y</key>
					<real>178.50274700686714</real>
					<key>controlPoint2X</key>
					<real>257.2375920116209</real>
					<key>controlPoint2Y</key>
					<real>159.82535020864762</real>
					<key>dstPointX</key>
					<real>262.91424360281792</real>
					<key>dstPointY</key>
					<real>140.64787314016542</real>
					<key>srcPointX</key>
					<real>216.53613285552626</real>
					<key>srcPointY</key>
					<real>189.71124071671153</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>178.640625</real>
			<key>y</key>
			<real>200.89453125</real>
		</dict>
		<key>StartTracking</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>301.95439926587062</real>
					<key>controlPoint1Y</key>
					<real>60.364463350792008</real>
					<key>controlPoint2X</key>
					<real>424.0987091016471</real>
					<key>controlPoint2Y</key>
					<real>31.746915122947751</real>
					<key>dstPointX</key>
					<real>459.02588209804014</real>
					<key>dstPointY</key>
					<real>58.440767058408355</real>
					<key>srcPointX</key>
					<real>288.96750790364666</real>
					<key>srcPointY</key>
					<real>102.36219897329971</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>276.22265625</real>
			<key>y</key>
			<real>120.7734375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
