<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FindBall</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>459.25629071956348</real>
					<key>controlPoint1Y</key>
					<real>127.11182082461715</real>
					<key>controlPoint2X</key>
					<real>352.80093379180425</real>
					<key>controlPoint2Y</key>
					<real>149.46040180349866</real>
					<key>dstPointX</key>
					<real>315.99552081275351</real>
					<key>dstPointY</key>
					<real>130.2688698878523</real>
					<key>srcPointX</key>
					<real>476.72766329691746</real>
					<key>srcPointY</key>
					<real>89.459404406928471</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>496.48828125</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>98.605571306842151</real>
					<key>controlPoint1Y</key>
					<real>114.37291979340547</real>
					<key>controlPoint2X</key>
					<real>125.50552798389508</real>
					<key>controlPoint2Y</key>
					<real>169.51691206497475</real>
					<key>dstPointX</key>
					<real>146.60902851068266</real>
					<key>dstPointY</key>
					<real>188.23276975645814</real>
					<key>srcPointX</key>
					<real>98.373435961274026</real>
					<key>srcPointY</key>
					<real>86.166764848193253</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.088456988200437986</real>
				<key>green</key>
				<real>0.62521210407239813</real>
				<key>red</key>
				<real>0.30408065614047963</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.65234375</real>
			<key>y</key>
			<real>65.95703125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>99</real>
			<key>y</key>
			<real>300</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>234.01185086733256</real>
					<key>controlPoint1Y</key>
					<real>179.00411872560687</real>
					<key>controlPoint2X</key>
					<real>256.73639679487394</real>
					<key>controlPoint2Y</key>
					<real>160.26184494838986</real>
					<key>dstPointX</key>
					<real>262.46893110281792</real>
					<key>dstPointY</key>
					<real>141.10099814016542</real>
					<key>srcPointX</key>
					<real>217.25488285552626</real>
					<key>srcPointY</key>
					<real>189.92217821671153</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>178.640625</real>
			<key>y</key>
			<real>200.89453125</real>
		</dict>
		<key>StartTracking</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>301.35774641130001</real>
					<key>controlPoint1Y</key>
					<real>60.875932305734999</real>
					<key>controlPoint2X</key>
					<real>422.8707600570873</real>
					<key>controlPoint2Y</key>
					<real>32.246628558753471</real>
					<key>dstPointX</key>
					<real>458.04931959804014</real>
					<key>dstPointY</key>
					<real>58.440767058408355</real>
					<key>srcPointX</key>
					<real>288.52219540364666</real>
					<key>srcPointY</key>
					<real>102.81532397329971</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>276.22265625</real>
			<key>y</key>
			<real>120.7734375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
