<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>315.89299011185915</real>
					<key>controlPoint1Y</key>
					<real>132.48608845110667</real>
					<key>controlPoint2X</key>
					<real>435.25367671844327</real>
					<key>controlPoint2Y</key>
					<real>136.97882722736423</real>
					<key>dstPointX</key>
					<real>489.03124106597869</real>
					<key>dstPointY</key>
					<real>157.78378679330049</real>
					<key>srcPointX</key>
					<real>258.6630449348541</real>
					<key>srcPointY</key>
					<real>125.44292547339933</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>297.45852197726305</real>
					<key>controlPoint1Y</key>
					<real>115.2470881919722</real>
					<key>controlPoint2X</key>
					<real>387.76745602456231</real>
					<key>controlPoint2Y</key>
					<real>100.63270731071769</real>
					<key>dstPointX</key>
					<real>414.42994786819133</real>
					<key>dstPointY</key>
					<real>69.700142498267184</real>
					<key>srcPointX</key>
					<real>256.96218927932591</real>
					<key>srcPointY</key>
					<real>120.51577637842098</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>213.90625</real>
			<key>y</key>
			<real>123</real>
		</dict>
		<key>Delay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>359.80651334373533</real>
					<key>controlPoint1Y</key>
					<real>17.058722955278093</real>
					<key>controlPoint2X</key>
					<real>204.88485245270195</real>
					<key>controlPoint2Y</key>
					<real>52.595711057589135</real>
					<key>dstPointX</key>
					<real>209.52179621828191</real>
					<key>dstPointY</key>
					<real>101.85602350382794</real>
					<key>srcPointX</key>
					<real>401.10755016001082</real>
					<key>srcPointY</key>
					<real>44.303979197179686</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>441</real>
			<key>y</key>
			<real>56</real>
		</dict>
		<key>FoundConstDir</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>464.90610197899315</real>
					<key>controlPoint1Y</key>
					<real>216.69193331087439</real>
					<key>controlPoint2X</key>
					<real>351.3762430735199</real>
					<key>controlPoint2Y</key>
					<real>218.90716446908516</real>
					<key>dstPointX</key>
					<real>300.6311596008656</real>
					<key>dstPointY</key>
					<real>225.44455680702816</real>
					<key>srcPointX</key>
					<real>500.07146668646794</real>
					<key>srcPointY</key>
					<real>179.52745941150195</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>439.80306870417564</real>
					<key>controlPoint1Y</key>
					<real>204.56855981760469</real>
					<key>controlPoint2X</key>
					<real>312.85760055624075</real>
					<key>controlPoint2Y</key>
					<real>149.84663201349159</real>
					<key>dstPointX</key>
					<real>256.38720252857763</real>
					<key>dstPointY</key>
					<real>129.71574618159241</real>
					<key>srcPointX</key>
					<real>491.89746488817786</real>
					<key>srcPointY</key>
					<real>174.89816541503782</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>530.76953125</real>
			<key>y</key>
			<real>164.58203125</real>
		</dict>
		<key>HoldPos</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>237.94061706336683</real>
					<key>controlPoint1Y</key>
					<real>439.53706466124436</real>
					<key>controlPoint2X</key>
					<real>176.75715433216328</real>
					<key>controlPoint2Y</key>
					<real>426.64394081416384</real>
					<key>dstPointX</key>
					<real>158.21169742990745</real>
					<key>dstPointY</key>
					<real>415.34603849777471</real>
					<key>srcPointX</key>
					<real>232.44647137734705</real>
					<key>srcPointY</key>
					<real>460.54637049568095</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>221</real>
			<key>y</key>
			<real>480</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>125.15495006477212</real>
					<key>controlPoint1Y</key>
					<real>60.793591241670249</real>
					<key>controlPoint2X</key>
					<real>151.28652009464261</real>
					<key>controlPoint2Y</key>
					<real>101.94208817628218</real>
					<key>dstPointX</key>
					<real>171.75750311807391</real>
					<key>dstPointY</key>
					<real>112.92620017320198</real>
					<key>srcPointX</key>
					<real>103.32452813192609</real>
					<key>srcPointY</key>
					<real>52.847237326798023</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.99858597285067874</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.56979972678863444</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.99858597285067874</real>
				<key>green</key>
				<real>0.99858597285067874</real>
				<key>red</key>
				<real>0.99858597285067874</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>60.7109375</real>
			<key>y</key>
			<real>46.29296875</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>61</real>
			<key>y</key>
			<real>117.48828125</real>
		</dict>
		<key>SaveFinished</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>395.35895110300777</real>
					<key>controlPoint1Y</key>
					<real>537.74267864164017</real>
					<key>controlPoint2X</key>
					<real>309.78294966533844</real>
					<key>controlPoint2Y</key>
					<real>490.30863016935052</real>
					<key>dstPointX</key>
					<real>265.42912501846132</real>
					<key>dstPointY</key>
					<real>483.17561231871929</real>
					<key>srcPointX</key>
					<real>439.26127992038585</real>
					<key>srcPointY</key>
					<real>528.21759444914289</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>483</real>
			<key>y</key>
			<real>524.484375</real>
		</dict>
		<key>SaveLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>439.87621826002481</real>
					<key>controlPoint1Y</key>
					<real>317.99658537147099</real>
					<key>controlPoint2X</key>
					<real>436.56483875623826</real>
					<key>controlPoint2Y</key>
					<real>359.89583839746911</real>
					<key>dstPointX</key>
					<real>417.68968587877265</real>
					<key>dstPointY</key>
					<real>366.50859908059545</real>
					<key>srcPointX</key>
					<real>440.22196657887082</real>
					<key>srcPointY</key>
					<real>297.99957414228936</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>441.484375</real>
			<key>y</key>
			<real>278</real>
		</dict>
		<key>SaveRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>302.65094569146254</real>
					<key>controlPoint1Y</key>
					<real>362.21229226886612</real>
					<key>controlPoint2X</key>
					<real>318.05898344336134</real>
					<key>controlPoint2Y</key>
					<real>392.29497099883997</real>
					<key>dstPointX</key>
					<real>335.63283500392549</real>
					<key>dstPointY</key>
					<real>382.74720993525773</real>
					<key>srcPointX</key>
					<real>284.16943399487326</real>
					<key>srcPointY</key>
					<real>354.56809673180442</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>243.484375</real>
			<key>y</key>
			<real>347</real>
		</dict>
		<key>Stabalize</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>112.75567883542779</real>
					<key>controlPoint1Y</key>
					<real>183.81441267179926</real>
					<key>controlPoint2X</key>
					<real>143.69771048272665</real>
					<key>controlPoint2Y</key>
					<real>131.83778295196637</real>
					<key>dstPointX</key>
					<real>169.8166291775733</real>
					<key>dstPointY</key>
					<real>126.79290416807937</real>
					<key>srcPointX</key>
					<real>104.30142038339618</real>
					<key>srcPointY</key>
					<real>209.03690719074754</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>89.80078125</real>
			<key>y</key>
			<real>228.3046875</real>
		</dict>
		<key>StartKneel</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>86.626780404290372</real>
					<key>controlPoint1Y</key>
					<real>354.22259147050261</real>
					<key>controlPoint2X</key>
					<real>64.622393869786308</real>
					<key>controlPoint2Y</key>
					<real>280.63373398674742</real>
					<key>dstPointX</key>
					<real>75.807502096638302</real>
					<key>dstPointY</key>
					<real>246.97925054531504</real>
					<key>srcPointX</key>
					<real>101.23105516933239</real>
					<key>srcPointY</key>
					<real>386.54048218668629</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>119.87109375</real>
			<key>y</key>
			<real>405.30859375</real>
		</dict>
		<key>TryToSave</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>325.39759003562705</real>
					<key>controlPoint1Y</key>
					<real>240.07450999864733</real>
					<key>controlPoint2X</key>
					<real>390.02221915885309</real>
					<key>controlPoint2Y</key>
					<real>241.688706725462</real>
					<key>dstPointX</key>
					<real>410.10801671671942</real>
					<key>dstPointY</key>
					<real>263.25691719598518</real>
					<key>srcPointX</key>
					<real>296.86361497992965</real>
					<key>srcPointY</key>
					<real>232.69621521209842</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>207.56947824033122</real>
					<key>controlPoint1Y</key>
					<real>256.52311370153598</real>
					<key>controlPoint2X</key>
					<real>195.43889249909412</real>
					<key>controlPoint2Y</key>
					<real>315.71905093042375</real>
					<key>dstPointX</key>
					<real>211.56711584401475</real>
					<key>dstPointY</key>
					<real>332.48094632188349</real>
					<key>srcPointX</key>
					<real>224.69737725265361</real>
					<key>srcPointY</key>
					<real>240.7841238736732</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>190.43145156073052</real>
					<key>controlPoint1Y</key>
					<real>212.55162101010785</real>
					<key>controlPoint2X</key>
					<real>162.49366356564727</real>
					<key>controlPoint2Y</key>
					<real>149.91872943530583</real>
					<key>dstPointX</key>
					<real>179.62633207756741</real>
					<key>dstPointY</key>
					<real>135.68880835805101</real>
					<key>srcPointX</key>
					<real>211.25408589907437</real>
					<key>srcPointY</key>
					<real>220.45332230893359</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>256</real>
			<key>y</key>
			<real>227.515625</real>
		</dict>
		<key>Waiting</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>419.97365916948075</real>
					<key>controlPoint1Y</key>
					<real>419.62366214248323</real>
					<key>controlPoint2X</key>
					<real>484.24601982376419</real>
					<key>controlPoint2Y</key>
					<real>468.26139742371032</real>
					<key>dstPointX</key>
					<real>483.70594119378796</real>
					<key>dstPointY</key>
					<real>503.51808615374841</real>
					<key>srcPointX</key>
					<real>400.80773068281991</real>
					<key>srcPointY</key>
					<real>390.02648372329008</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>376.484375</real>
			<key>y</key>
			<real>372.515625</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
