<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>290.96006650558468</real>
					<key>controlPoint1Y</key>
					<real>154.50032111092364</real>
					<key>controlPoint2X</key>
					<real>334.08420303568511</real>
					<key>controlPoint2Y</key>
					<real>263.13686405264525</real>
					<key>dstPointX</key>
					<real>305.07090911494276</real>
					<key>dstPointY</key>
					<real>293.53267721732976</real>
					<key>srcPointX</key>
					<real>254.76355674155823</real>
					<key>srcPointY</key>
					<real>133.15812434075653</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>287.79850259123748</real>
					<key>controlPoint1Y</key>
					<real>119.92825827520703</real>
					<key>controlPoint2X</key>
					<real>335.5158751911282</real>
					<key>controlPoint2Y</key>
					<real>84.894423071148253</real>
					<key>dstPointX</key>
					<real>351.42994786819133</real>
					<key>dstPointY</key>
					<real>63.141548748267176</real>
					<key>srcPointX</key>
					<real>260.90359552932591</real>
					<key>srcPointY</key>
					<real>121.69155762842098</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>216.27734375</real>
			<key>y</key>
			<real>123.16796875</real>
		</dict>
		<key>Delay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>306.92334528228014</real>
					<key>controlPoint1Y</key>
					<real>21.467993503751661</real>
					<key>controlPoint2X</key>
					<real>211.48017023336715</real>
					<key>controlPoint2Y</key>
					<real>67.910931964394791</real>
					<key>dstPointX</key>
					<real>213.46320246828191</real>
					<key>dstPointY</key>
					<real>103.03180475382794</real>
					<key>srcPointX</key>
					<real>338.10755016001082</real>
					<key>srcPointY</key>
					<real>37.745385447179686</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>378</real>
			<key>y</key>
			<real>47.48828125</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>122.58894957805531</real>
					<key>controlPoint1Y</key>
					<real>65.473277537133185</real>
					<key>controlPoint2X</key>
					<real>154.41105042194471</real>
					<key>controlPoint2Y</key>
					<real>103.52672246286681</real>
					<key>dstPointX</key>
					<real>175.69890936807391</real>
					<key>dstPointY</key>
					<real>114.10198142320198</real>
					<key>srcPointX</key>
					<real>101.30109063192609</real>
					<key>srcPointY</key>
					<real>54.898018576798023</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.99858597285067874</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.56979972678863444</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.99858597285067874</real>
				<key>green</key>
				<real>0.99858597285067874</real>
				<key>red</key>
				<real>0.99858597285067874</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>60.7109375</real>
			<key>y</key>
			<real>46.29296875</real>
		</dict>
		<key>MotionFin</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>128.0234375</real>
					<key>controlPoint1Y</key>
					<real>716.64453125</real>
					<key>controlPoint2X</key>
					<real>52.405955365810613</real>
					<key>controlPoint2Y</key>
					<real>160.12746806929647</real>
					<key>dstPointX</key>
					<real>172.51512875868741</real>
					<key>dstPointY</key>
					<real>128.14608273652431</real>
					<key>srcPointX</key>
					<real>418.30400928006276</real>
					<key>srcPointY</key>
					<real>560.31756128042753</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>461.0234375</real>
			<key>y</key>
			<real>553.64453125</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>61</real>
			<key>y</key>
			<real>117.48828125</real>
		</dict>
		<key>SaveLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>462.49583732923912</real>
					<key>controlPoint1Y</key>
					<real>437.25640333885332</real>
					<key>controlPoint2X</key>
					<real>465.07936069725338</real>
					<key>controlPoint2Y</key>
					<real>501.81538344408767</real>
					<key>dstPointX</key>
					<real>463.3760954371412</real>
					<key>dstPointY</key>
					<real>534.02790010002605</real>
					<key>srcPointX</key>
					<real>462.70634157887082</real>
					<key>srcPointY</key>
					<real>404.99957414228936</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>463</real>
			<key>y</key>
			<real>385</real>
		</dict>
		<key>SaveRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>344.1021327178139</real>
					<key>controlPoint1Y</key>
					<real>489.60667082096649</real>
					<key>controlPoint2X</key>
					<real>397.91986663694422</real>
					<key>controlPoint2Y</key>
					<real>524.43328720284603</real>
					<key>dstPointX</key>
					<real>424.04572414298963</real>
					<key>dstPointY</key>
					<real>542.5873667929867</real>
					<key>srcPointX</key>
					<real>314.65380899487326</real>
					<key>srcPointY</key>
					<real>477.56809673180442</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>273</real>
			<key>y</key>
			<real>470</real>
		</dict>
		<key>TryToSave</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>346.52566975146442</real>
					<key>controlPoint1Y</key>
					<real>325.90874574664758</real>
					<key>controlPoint2X</key>
					<real>410.82731959678068</real>
					<key>controlPoint2Y</key>
					<real>346.51320215605205</real>
					<key>dstPointX</key>
					<real>432.59239171671942</real>
					<key>dstPointY</key>
					<real>370.25691719598518</real>
					<key>srcPointX</key>
					<real>316.26986497992965</real>
					<key>srcPointY</key>
					<real>314.86027771209842</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>222.08849532602136</real>
					<key>controlPoint1Y</key>
					<real>347.7152097911345</real>
					<key>controlPoint2X</key>
					<real>219.26158526718928</real>
					<key>controlPoint2Y</key>
					<real>431.42493487967891</real>
					<key>dstPointX</key>
					<real>242.05149084401475</real>
					<key>dstPointY</key>
					<real>455.48094632188349</real>
					<key>srcPointX</key>
					<real>244.10362725265361</real>
					<key>srcPointY</key>
					<real>322.9481863736732</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>189.17156381408202</real>
					<key>controlPoint1Y</key>
					<real>291.02371596282791</real>
					<key>controlPoint2X</key>
					<real>152.52055001537994</real>
					<key>controlPoint2Y</key>
					<real>166.72766822264083</real>
					<key>dstPointX</key>
					<real>183.56773832756741</real>
					<key>dstPointY</key>
					<real>136.86458960805101</real>
					<key>srcPointX</key>
					<real>230.66033589907437</real>
					<key>srcPointY</key>
					<real>302.61738480893359</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>274.234375</real>
			<key>y</key>
			<real>308.44140625</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
