<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>300.42403920927399</real>
					<key>controlPoint1Y</key>
					<real>160.36046827355904</real>
					<key>controlPoint2X</key>
					<real>474.37739741287379</real>
					<key>controlPoint2Y</key>
					<real>134.02658111362697</real>
					<key>dstPointX</key>
					<real>528.48813398440006</real>
					<key>dstPointY</key>
					<real>142.06216561462253</real>
					<key>srcPointX</key>
					<real>253.04479626822763</real>
					<key>srcPointY</key>
					<real>133.01545467109304</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>276.1057041945802</real>
					<key>controlPoint1Y</key>
					<real>76.382341727609713</real>
					<key>controlPoint2X</key>
					<real>368.52423190256548</real>
					<key>controlPoint2Y</key>
					<real>45.029900127673258</real>
					<key>dstPointX</key>
					<real>413.08494265108925</real>
					<key>dstPointY</key>
					<real>47.771722205864286</real>
					<key>srcPointX</key>
					<real>245.17582922067183</real>
					<key>srcPointY</key>
					<real>108.57733147478088</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.5055887873944177</real>
				<key>red</key>
				<real>0.85410103374230717</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>213.90625</real>
			<key>y</key>
			<real>123</real>
		</dict>
		<key>Delay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>416.40714958669827</real>
					<key>controlPoint1Y</key>
					<real>108.86553634181465</real>
					<key>controlPoint2X</key>
					<real>305.37816461163584</real>
					<key>controlPoint2Y</key>
					<real>131.37180893905548</real>
					<key>dstPointX</key>
					<real>258.64835524570583</real>
					<key>dstPointY</key>
					<real>125.49540313587178</real>
					<key>srcPointX</key>
					<real>437.67728539058305</real>
					<key>srcPointY</key>
					<real>66.8442494573777</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.50718227701045859</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.73488919463358782</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>457.953125</real>
			<key>y</key>
			<real>48.953125</real>
		</dict>
		<key>FoundConstDir</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>641.29498382689678</real>
					<key>controlPoint1Y</key>
					<real>94.065646986370353</real>
					<key>controlPoint2X</key>
					<real>810.808708740611</real>
					<key>controlPoint2Y</key>
					<real>101.15875116145033</real>
					<key>dstPointX</key>
					<real>810.91111128452587</real>
					<key>dstPointY</key>
					<real>153.00003901832815</real>
					<key>srcPointX</key>
					<real>604.73513209693886</real>
					<key>srcPointY</key>
					<real>130.82033178197381</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>476.32358333437998</real>
					<key>controlPoint1Y</key>
					<real>176.3923719980952</real>
					<key>controlPoint2X</key>
					<real>262.08097131295585</real>
					<key>controlPoint2Y</key>
					<real>194.236403867658</real>
					<key>dstPointX</key>
					<real>234.60042439678978</real>
					<key>dstPointY</key>
					<real>140.80262877070311</real>
					<key>srcPointX</key>
					<real>531.60122772502655</real>
					<key>srcPointY</key>
					<real>152.83964794025459</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>573</real>
			<key>y</key>
			<real>145</real>
		</dict>
		<key>HoldPos</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>489.68138045189306</real>
					<key>controlPoint1Y</key>
					<real>516.90453723352368</real>
					<key>controlPoint2X</key>
					<real>383.58762233329543</real>
					<key>controlPoint2Y</key>
					<real>510.34798945398154</real>
					<key>dstPointX</key>
					<real>366.87028522190622</real>
					<key>dstPointY</key>
					<real>474.15658822382829</real>
					<key>srcPointX</key>
					<real>524.59265957593834</real>
					<key>srcPointY</key>
					<real>497.65643413163934</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.5</real>
				<key>green</key>
				<real>0.5</real>
				<key>red</key>
				<real>0.5</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>564</real>
			<key>y</key>
			<real>488</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>126.35904340120103</real>
					<key>controlPoint1Y</key>
					<real>58.100636841054552</real>
					<key>controlPoint2X</key>
					<real>152.08022501267556</real>
					<key>controlPoint2Y</key>
					<real>102.07038207597512</real>
					<key>dstPointX</key>
					<real>172.13250311807391</real>
					<key>dstPointY</key>
					<real>112.92620017320198</real>
					<key>srcPointX</key>
					<real>104.48077813192609</real>
					<key>srcPointY</key>
					<real>51.675362326798023</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>60.7109375</real>
			<key>y</key>
			<real>46.29296875</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>61</real>
			<key>y</key>
			<real>117.48828125</real>
		</dict>
		<key>SaveFinished</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>701.69829593893337</real>
					<key>controlPoint1Y</key>
					<real>509.3936877231942</real>
					<key>controlPoint2X</key>
					<real>618.86410464473749</real>
					<key>controlPoint2Y</key>
					<real>522.55505621542284</real>
					<key>dstPointX</key>
					<real>595.86643610146882</real>
					<key>dstPointY</key>
					<real>501.16984588554152</real>
					<key>srcPointX</key>
					<real>720.3185047900165</real>
					<key>srcPointY</key>
					<real>484.10519623751338</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.62276333570480347</real>
				<key>green</key>
				<real>0.62276333570480347</real>
				<key>red</key>
				<real>0.62276333570480347</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>747</real>
			<key>y</key>
			<real>468</real>
		</dict>
		<key>SaveLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>923.37750333906524</real>
					<key>controlPoint1Y</key>
					<real>275.18029251522466</real>
					<key>controlPoint2X</key>
					<real>902.74232363956742</real>
					<key>controlPoint2Y</key>
					<real>295.85553505442658</real>
					<key>dstPointX</key>
					<real>888.0523779043159</real>
					<key>dstPointY</key>
					<real>309.42776752721329</real>
					<key>srcPointX</key>
					<real>930.66489417359981</real>
					<key>srcPointY</key>
					<real>256.55520366108112</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.41104056054798188</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.67990663869650547</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>947</real>
			<key>y</key>
			<real>238</real>
		</dict>
		<key>SaveRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>748.19225726471154</real>
					<key>controlPoint1Y</key>
					<real>323.81807599971523</real>
					<key>controlPoint2X</key>
					<real>790.25369410322207</real>
					<key>controlPoint2Y</key>
					<real>326.53060654404328</real>
					<key>dstPointX</key>
					<real>810.17563437915373</real>
					<key>dstPointY</key>
					<real>324.76530327202164</real>
					<key>srcPointX</key>
					<real>746.28694733710802</real>
					<key>srcPointY</key>
					<real>303.90903799985762</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.47910093927174391</real>
				<key>red</key>
				<real>0.80908463471291348</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>742</real>
			<key>y</key>
			<real>284.13671875</real>
		</dict>
		<key>Stabalize</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>140.95248448990534</real>
					<key>controlPoint1Y</key>
					<real>367.4390638050815</real>
					<key>controlPoint2X</key>
					<real>86.42538354936741</real>
					<key>controlPoint2Y</key>
					<real>323.87190728848674</real>
					<key>dstPointX</key>
					<real>82.482908467109567</real>
					<key>dstPointY</key>
					<real>296.79136560859939</real>
					<key>srcPointX</key>
					<real>168.19805615564698</real>
					<key>srcPointY</key>
					<real>364.87436654082666</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.25</real>
				<key>green</key>
				<real>0.25</real>
				<key>red</key>
				<real>0.25</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>213</real>
			<key>y</key>
			<real>363</real>
		</dict>
		<key>StartFaceGoal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>80.900794650333822</real>
					<key>controlPoint1Y</key>
					<real>217.80944904229753</real>
					<key>controlPoint2X</key>
					<real>138.47383176634168</real>
					<key>controlPoint2Y</key>
					<real>149.32611865903675</real>
					<key>dstPointX</key>
					<real>173.67916368647946</real>
					<key>dstPointY</key>
					<real>131.8803309801323</real>
					<key>srcPointX</key>
					<real>78.616366532602996</real>
					<key>srcPointY</key>
					<real>257.03383293190637</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.14049899578094482</real>
				<key>green</key>
				<real>0.14049899578094482</real>
				<key>red</key>
				<real>0.14049899578094482</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>76.35546875</real>
			<key>y</key>
			<real>277.33984375</real>
		</dict>
		<key>StartKneel</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>370.68685164138776</real>
					<key>controlPoint1Y</key>
					<real>393.66980315291028</real>
					<key>controlPoint2X</key>
					<real>168.87956353029648</real>
					<key>controlPoint2Y</key>
					<real>419.05144538883081</real>
					<key>dstPointX</key>
					<real>190.80109967123366</real>
					<key>dstPointY</key>
					<real>380.39708404227628</real>
					<key>srcPointX</key>
					<real>359.41473654066186</real>
					<key>srcPointY</key>
					<real>436.65413540367825</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.37906375527381897</real>
				<key>green</key>
				<real>0.37906375527381897</real>
				<key>red</key>
				<real>0.37906375527381897</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>348.09375</real>
			<key>y</key>
			<real>456</real>
		</dict>
		<key>TryToSave</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>879.98779283082229</real>
					<key>controlPoint1Y</key>
					<real>170.38684255359368</real>
					<key>controlPoint2X</key>
					<real>937.12454473646596</real>
					<key>controlPoint2Y</key>
					<real>194.18481787644049</real>
					<key>dstPointX</key>
					<real>940.55228740141752</real>
					<key>dstPointY</key>
					<real>218.04907934678454</real>
					<key>srcPointX</key>
					<real>855.92096174597771</real>
					<key>srcPointY</key>
					<real>171.81514113429665</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>768.29492598680554</real>
					<key>controlPoint1Y</key>
					<real>207.46023588320213</real>
					<key>controlPoint2X</key>
					<real>743.862929135846</real>
					<key>controlPoint2Y</key>
					<real>240.10719467592997</real>
					<key>dstPointX</key>
					<real>743.2165608049911</real>
					<key>dstPointY</key>
					<real>264.00731007762096</real>
					<key>srcPointX</key>
					<real>783.11202604595917</real>
					<key>srcPointY</key>
					<real>188.6962583179228</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>660.17823360304897</real>
					<key>controlPoint1Y</key>
					<real>221.31251460393861</real>
					<key>controlPoint2X</key>
					<real>189.40016341315066</real>
					<key>controlPoint2Y</key>
					<real>257.69398322201204</real>
					<key>dstPointX</key>
					<real>207.1384309463775</real>
					<key>dstPointY</key>
					<real>142.75965980045186</real>
					<key>srcPointX</key>
					<real>768.92196741522355</real>
					<key>srcPointY</key>
					<real>180.08939982546707</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.86170613765716553</real>
				<key>green</key>
				<real>0.86170613765716553</real>
				<key>red</key>
				<real>0.86170613765716553</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>811</real>
			<key>y</key>
			<real>173</real>
		</dict>
		<key>Waiting</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>849.81538694367873</real>
					<key>controlPoint1Y</key>
					<real>376.25276587572205</real>
					<key>controlPoint2X</key>
					<real>797.70963593010413</real>
					<key>controlPoint2Y</key>
					<real>427.30872295338014</real>
					<key>dstPointX</key>
					<real>776.1175558895535</real>
					<key>dstPointY</key>
					<real>452.75116396901075</real>
					<key>srcPointX</key>
					<real>852.02298670333141</real>
					<key>srcPointY</key>
					<real>342.95618604216304</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.75</real>
				<key>green</key>
				<real>0.75</real>
				<key>red</key>
				<real>0.75</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>855</real>
			<key>y</key>
			<real>323</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
