<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Back_GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>560.5499850478584</real>
					<key>controlPoint1Y</key>
					<real>221.94831811896731</real>
					<key>controlPoint2X</key>
					<real>688.74974043003283</real>
					<key>controlPoint2Y</key>
					<real>223.92175573802191</real>
					<key>dstPointX</key>
					<real>753.00018686194426</real>
					<key>dstPointY</key>
					<real>223.9814258517284</real>
					<key>srcPointX</key>
					<real>496.30450063805569</real>
					<key>srcPointY</key>
					<real>222.7490428982716</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>450.6953125</real>
			<key>y</key>
			<real>223.30859375</real>
		</dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>210.20629070624267</real>
					<key>controlPoint1Y</key>
					<real>232.99185009384524</real>
					<key>controlPoint2X</key>
					<real>342.24956879236174</real>
					<key>controlPoint2Y</key>
					<real>209.6200928817245</real>
					<key>dstPointX</key>
					<real>406.75344526940552</real>
					<key>dstPointY</key>
					<real>219.87393638561457</real>
					<key>srcPointX</key>
					<real>145.25436723059448</real>
					<key>srcPointY</key>
					<real>226.12606361438543</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>204.77676958049543</real>
					<key>controlPoint1Y</key>
					<real>260.69592117563747</real>
					<key>controlPoint2X</key>
					<real>335.4887150794371</real>
					<key>controlPoint2Y</key>
					<real>323.63197187936811</real>
					<key>dstPointX</key>
					<real>405.30969569878516</real>
					<key>dstPointY</key>
					<real>323.13996414099927</real>
					<key>srcPointX</key>
					<real>141.04832913113393</real>
					<key>srcPointY</key>
					<real>232.16703609132026</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>207.01696095363758</real>
					<key>controlPoint1Y</key>
					<real>180.51123069230638</real>
					<key>controlPoint2X</key>
					<real>416.39394910791333</real>
					<key>controlPoint2Y</key>
					<real>132.63883836031877</real>
					<key>dstPointX</key>
					<real>437.82539548587891</real>
					<key>dstPointY</key>
					<real>203.60973027837647</real>
					<key>srcPointX</key>
					<real>141.15559580940982</real>
					<key>srcPointY</key>
					<real>214.54731411615151</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>188.20808793413957</real>
					<key>controlPoint1Y</key>
					<real>284.72872340257499</real>
					<key>controlPoint2X</key>
					<real>380.21028102300727</real>
					<key>controlPoint2Y</key>
					<real>296.41084226858516</real>
					<key>dstPointX</key>
					<real>424.18666191611561</real>
					<key>dstPointY</key>
					<real>238.65192970087821</real>
					<key>srcPointX</key>
					<real>133.51141147952194</real>
					<key>srcPointY</key>
					<real>236.9973119183266</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>223.69140625</real>
		</dict>
		<key>Front_GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>559.96065514482643</real>
					<key>controlPoint1Y</key>
					<real>298.78018788236301</real>
					<key>controlPoint2X</key>
					<real>688.4185499832131</real>
					<key>controlPoint2Y</key>
					<real>248.50707796719814</real>
					<key>dstPointX</key>
					<real>754.71737018948761</real>
					<key>dstPointY</key>
					<real>229.51157891282341</real>
					<key>srcPointX</key>
					<real>493.59122356051239</real>
					<key>srcPointY</key>
					<real>317.52748358717662</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>449.69140625</real>
			<key>y</key>
			<real>323</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>100.51510887318715</real>
					<key>controlPoint1Y</key>
					<real>122.24934091379927</real>
					<key>controlPoint2X</key>
					<real>100.487757133614</real>
					<key>controlPoint2Y</key>
					<real>177.05927222186926</real>
					<key>dstPointX</key>
					<real>100.30200662125084</real>
					<key>dstPointY</key>
					<real>204.30904416494482</real>
					<key>srcPointX</key>
					<real>100.69799337874917</real>
					<key>srcPointY</key>
					<real>94.999549585055178</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>101</real>
			<key>y</key>
			<real>75</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>798</real>
			<key>y</key>
			<real>223.9609375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
