<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>142.35614641674795</real>
					<key>controlPoint1Y</key>
					<real>77.101351709943629</real>
					<key>controlPoint2X</key>
					<real>182.73888352077927</real>
					<key>controlPoint2Y</key>
					<real>70.878833951857786</real>
					<key>dstPointX</key>
					<real>202.47096297021955</real>
					<key>dstPointY</key>
					<real>74.43413740445078</real>
					<key>srcPointX</key>
					<real>122.30639367437368</real>
					<key>srcPointY</key>
					<real>77.05078483640736</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>77</real>
			<key>y</key>
			<real>77.046875</real>
		</dict>
		<key>Left_High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>488.42224204409416</real>
					<key>controlPoint1Y</key>
					<real>367.60884592801665</real>
					<key>controlPoint2X</key>
					<real>652.82691317945023</real>
					<key>controlPoint2Y</key>
					<real>426.72403612544304</real>
					<key>dstPointX</key>
					<real>684.40560711367095</real>
					<key>dstPointY</key>
					<real>369.87722761154208</real>
					<key>srcPointX</key>
					<real>424.65230633982253</real>
					<key>srcPointY</key>
					<real>354.87429257580317</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>380.6953125</real>
			<key>y</key>
			<real>351</real>
		</dict>
		<key>Left_Mid_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>505.95482035359601</real>
					<key>controlPoint1Y</key>
					<real>175.67548772131062</real>
					<key>controlPoint2X</key>
					<real>625.87306331866932</real>
					<key>controlPoint2Y</key>
					<real>236.20871946737853</real>
					<key>dstPointX</key>
					<real>689.29126007829211</real>
					<key>dstPointY</key>
					<real>246.86158316994874</real>
					<key>srcPointX</key>
					<real>441.69828321304772</real>
					<key>srcPointY</key>
					<real>178.21490104196164</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>397</real>
			<key>y</key>
			<real>179.3046875</real>
		</dict>
		<key>Right_High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>334.2265625</real>
					<key>controlPoint1Y</key>
					<real>595.4375</real>
					<key>controlPoint2X</key>
					<real>121.97863907171552</real>
					<key>controlPoint2Y</key>
					<real>200.0468837920175</real>
					<key>dstPointX</key>
					<real>217.74720809056714</real>
					<key>dstPointY</key>
					<real>92.588247721851502</real>
					<key>srcPointX</key>
					<real>722.29265458740895</real>
					<key>srcPointY</key>
					<real>369.96439822323362</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>707.6484375</real>
			<key>y</key>
			<real>350.58984375</real>
		</dict>
		<key>Right_Long_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>620.99887000175988</real>
					<key>controlPoint1Y</key>
					<real>265.98503414276308</real>
					<key>controlPoint2X</key>
					<real>495.66837331339639</real>
					<key>controlPoint2Y</key>
					<real>357.62584738626674</real>
					<key>dstPointX</key>
					<real>424.69885088787885</real>
					<key>dstPointY</key>
					<real>352.4236479669579</real>
					<key>srcPointX</key>
					<real>691.01331275866733</real>
					<key>srcPointY</key>
					<real>253.26836014583947</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>46</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>736.3046875</real>
			<key>y</key>
			<real>250.3046875</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>74</real>
			<key>y</key>
			<real>316.08984375</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>324.11437174085938</real>
					<key>controlPoint1Y</key>
					<real>74.017271828648362</real>
					<key>controlPoint2X</key>
					<real>385.65430681849267</real>
					<key>controlPoint2Y</key>
					<real>126.73261017712538</real>
					<key>dstPointX</key>
					<real>390.24046757031186</real>
					<key>dstPointY</key>
					<real>158.31286079862602</real>
					<key>srcPointX</key>
					<real>292.29622066381421</real>
					<key>srcPointY</key>
					<real>76.456608172133798</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>247</real>
			<key>y</key>
			<real>78.3046875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
