<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>142.35231647936351</real>
					<key>controlPoint1Y</key>
					<real>77.288421854576896</real>
					<key>controlPoint2X</key>
					<real>182.64453360061913</real>
					<key>controlPoint2Y</key>
					<real>72.081684754189183</real>
					<key>dstPointX</key>
					<real>202.47096297021955</real>
					<key>dstPointY</key>
					<real>75.04351240445078</real>
					<key>srcPointX</key>
					<real>122.30639367437368</real>
					<key>srcPointY</key>
					<real>77.14453483640736</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>77</real>
			<key>y</key>
			<real>77.046875</real>
		</dict>
		<key>Left_High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>487.65954002334007</real>
					<key>controlPoint1Y</key>
					<real>364.52176565633653</real>
					<key>controlPoint2X</key>
					<real>650.35772885037738</real>
					<key>controlPoint2Y</key>
					<real>424.81292316519216</real>
					<key>dstPointX</key>
					<real>683.70248211367095</real>
					<key>dstPointY</key>
					<real>369.05691511154208</real>
					<key>srcPointX</key>
					<real>423.65621258982253</real>
					<key>srcPointY</key>
					<real>353.37819882580317</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>380.30859375</real>
			<key>y</key>
			<real>349.50390625</real>
		</dict>
		<key>Left_Mid_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>506.14928947247756</real>
					<key>controlPoint1Y</key>
					<real>178.25417431797973</real>
					<key>controlPoint2X</key>
					<real>626.04489113175885</real>
					<key>controlPoint2Y</key>
					<real>238.71303667774947</real>
					<key>dstPointX</key>
					<real>689.90063507829211</real>
					<key>dstPointY</key>
					<real>247.47095816994874</real>
					<key>srcPointX</key>
					<real>441.69828321304772</real>
					<key>srcPointY</key>
					<real>178.82427604196164</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>397</real>
			<key>y</key>
			<real>179.3046875</real>
		</dict>
		<key>Right_High_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>822.22823192797182</real>
					<key>controlPoint1Y</key>
					<real>487.81486813619648</real>
					<key>controlPoint2X</key>
					<real>55.3203125</real>
					<key>controlPoint2Y</key>
					<real>500.56640625</real>
					<key>dstPointX</key>
					<real>217.74720809056714</real>
					<key>dstPointY</key>
					<real>93.197622721851502</real>
					<key>srcPointX</key>
					<real>736.49687130705365</real>
					<key>srcPointY</key>
					<real>368.61033854024839</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>707.6484375</real>
			<key>y</key>
			<real>350.58984375</real>
		</dict>
		<key>Right_Long_Scan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>622.09232570557117</real>
					<key>controlPoint1Y</key>
					<real>269.06682136009607</real>
					<key>controlPoint2X</key>
					<real>494.79181984341778</real>
					<key>controlPoint2Y</key>
					<real>354.32236656916643</real>
					<key>dstPointX</key>
					<real>423.70275713787885</real>
					<key>dstPointY</key>
					<real>350.9275542169579</real>
					<key>srcPointX</key>
					<real>691.62268775866733</real>
					<key>srcPointY</key>
					<real>253.87773514583947</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>46</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>736.3046875</real>
			<key>y</key>
			<real>250.3046875</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>74</real>
			<key>y</key>
			<real>316.08984375</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>324.17345051759696</real>
					<key>controlPoint1Y</key>
					<real>75.587025225666551</real>
					<key>controlPoint2X</key>
					<real>385.51811768159752</real>
					<key>controlPoint2Y</key>
					<real>127.36206293333775</real>
					<key>dstPointX</key>
					<real>390.24046757031186</real>
					<key>dstPointY</key>
					<real>158.92223579862602</real>
					<key>srcPointX</key>
					<real>292.29622066381421</real>
					<key>srcPointY</key>
					<real>77.065983172133798</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>247</real>
			<key>y</key>
			<real>78.3046875</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
