<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Ping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>165.87352538034636</real>
					<key>controlPoint1Y</key>
					<real>86.61981493552716</real>
					<key>controlPoint2X</key>
					<real>242.53345616353988</real>
					<key>controlPoint2Y</key>
					<real>88.399476061514079</real>
					<key>dstPointX</key>
					<real>277.19223665391468</real>
					<key>dstPointY</key>
					<real>77.166342691078142</real>
					<key>srcPointX</key>
					<real>131.48006325167074</real>
					<key>srcPointY</key>
					<real>74.598828569952033</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>89</real>
			<key>y</key>
			<real>68</real>
		</dict>
		<key>Pong</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>247.19174986674111</real>
					<key>controlPoint1Y</key>
					<real>43.038847784572425</real>
					<key>controlPoint2X</key>
					<real>161.5574743834548</real>
					<key>controlPoint2Y</key>
					<real>39.72208608361214</real>
					<key>dstPointX</key>
					<real>128.30440184084733</real>
					<key>dstPointY</key>
					<real>58.261046818408879</real>
					<key>srcPointX</key>
					<real>280.55975287338447</real>
					<key>srcPointY</key>
					<real>61.370139992130774</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>319.9609375</real>
			<key>y</key>
			<real>71</real>
		</dict>
	</dict>
</dict>
</plist>
