<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>GetUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>641.10797201495666</real>
					<key>controlPoint1Y</key>
					<real>190.49210822463141</real>
					<key>controlPoint2X</key>
					<real>640.93663769735679</real>
					<key>controlPoint2Y</key>
					<real>260.41168429226354</real>
					<key>dstPointX</key>
					<real>644.46002334729712</real>
					<key>dstPointY</key>
					<real>305.06197966512866</real>
					<key>srcPointX</key>
					<real>645.39155693383168</real>
					<key>srcPointY</key>
					<real>145.90832166981869</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>649.6953125</real>
			<key>y</key>
			<real>126</real>
			<key>zoomedInternalHeight</key>
			<real>321</real>
			<key>zoomedOnEntryHeight</key>
			<real>332</real>
			<key>zoomedOnExitHeight</key>
			<real>322</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>262.33826422979564</real>
					<key>controlPoint1Y</key>
					<real>140.19107944085158</real>
					<key>controlPoint2X</key>
					<real>483.3570482702043</real>
					<key>controlPoint2Y</key>
					<real>260.80892055914842</real>
					<key>dstPointX</key>
					<real>607.00161637060035</real>
					<key>dstPointY</key>
					<real>316.75519569786167</real>
					<key>srcPointX</key>
					<real>138.6936961293996</real>
					<key>srcPointY</key>
					<real>84.244804302138334</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92229920814479638</real>
				<key>green</key>
				<real>0.92229920814479638</real>
				<key>red</key>
				<real>0.92229920814479638</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>97.6953125</real>
			<key>y</key>
			<real>76</real>
			<key>zoomedInternalHeight</key>
			<real>321</real>
			<key>zoomedOnEntryHeight</key>
			<real>332</real>
			<key>zoomedOnExitHeight</key>
			<real>322</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>98</real>
			<key>y</key>
			<real>473.04296875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Teleoperation</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>672.05795554157692</real>
					<key>controlPoint1Y</key>
					<real>262.2719451329416</real>
					<key>controlPoint2X</key>
					<real>672.27061347448546</real>
					<key>controlPoint2Y</key>
					<real>189.01508894065432</real>
					<key>dstPointX</key>
					<real>660.97146097229643</real>
					<key>dstPointY</key>
					<real>145.36191234117396</real>
					<key>srcPointX</key>
					<real>660.01672034996693</real>
					<key>srcPointY</key>
					<real>305.72628127507448</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>648</real>
			<key>y</key>
			<real>325</real>
			<key>zoomedInternalHeight</key>
			<real>321</real>
			<key>zoomedOnEntryHeight</key>
			<real>332</real>
			<key>zoomedOnExitHeight</key>
			<real>322</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
