<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Calc_BallAngle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>173.25626836677796</real>
					<key>controlPoint1Y</key>
					<real>211.3521894120274</real>
					<key>controlPoint2X</key>
					<real>150.88557956769145</real>
					<key>controlPoint2Y</key>
					<real>308.09847768178372</real>
					<key>dstPointX</key>
					<real>131.19094827278045</real>
					<key>dstPointY</key>
					<real>353.40228258708049</real>
					<key>srcPointX</key>
					<real>193.50436422721955</real>
					<key>srcPointY</key>
					<real>166.29302991291951</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>371.97233314711497</real>
					<key>controlPoint1Y</key>
					<real>120.98552531827913</real>
					<key>controlPoint2X</key>
					<real>602.6924816275332</real>
					<key>controlPoint2Y</key>
					<real>65.860841088869904</real>
					<key>dstPointX</key>
					<real>718.85547786479913</real>
					<key>dstPointY</key>
					<real>42.881228403094894</real>
					<key>srcPointX</key>
					<real>255.83983463520082</real>
					<key>srcPointY</key>
					<real>144.11877159690511</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>212.3046875</real>
			<key>y</key>
			<real>148</real>
		</dict>
		<key>Check_Line</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>768.76953125</real>
			<key>y</key>
			<real>190.45703125</real>
		</dict>
		<key>Decide_Long</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>187.75385141650511</real>
					<key>controlPoint1Y</key>
					<real>371.95612093329845</real>
					<key>controlPoint2X</key>
					<real>247.24920224729132</real>
					<key>controlPoint2Y</key>
					<real>374.28583675341713</real>
					<key>dstPointX</key>
					<real>277.0046351666208</real>
					<key>dstPointY</key>
					<real>374.71294823072805</real>
					<key>srcPointX</key>
					<real>157.9953648333792</real>
					<key>srcPointY</key>
					<real>371.98236426927195</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>113</real>
			<key>y</key>
			<real>372.3046875</real>
		</dict>
		<key>Goal_Approach</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>766.32892138172622</real>
					<key>controlPoint1Y</key>
					<real>86.760575995120689</real>
					<key>controlPoint2X</key>
					<real>773.11836924167358</real>
					<key>controlPoint2Y</key>
					<real>142.26597017723063</real>
					<key>dstPointX</key>
					<real>771.54532562541772</real>
					<key>dstPointY</key>
					<real>170.03201912463032</real>
					<key>srcPointX</key>
					<real>765.05741360249317</real>
					<key>srcPointY</key>
					<real>58.979085604297737</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>763</real>
			<key>y</key>
			<real>39</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>129.84868127098841</real>
					<key>controlPoint1Y</key>
					<real>90.768805954739733</real>
					<key>controlPoint2X</key>
					<real>153.8138677441074</real>
					<key>controlPoint2Y</key>
					<real>128.29099349572186</real>
					<key>dstPointX</key>
					<real>172.26559660955087</real>
					<key>dstPointY</key>
					<real>138.36162500455688</real>
					<key>srcPointX</key>
					<real>111.42971589044912</real>
					<key>srcPointY</key>
					<real>80.638374995443115</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>72</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>83</real>
			<key>y</key>
			<real>559</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>394.4283598083735</real>
					<key>controlPoint1Y</key>
					<real>219.47118270813746</real>
					<key>controlPoint2X</key>
					<real>302.57164019162656</real>
					<key>controlPoint2Y</key>
					<real>171.52881729186254</real>
					<key>dstPointX</key>
					<real>254.19556770579973</real>
					<key>dstPointY</key>
					<real>154.57309604322504</real>
					<key>srcPointX</key>
					<real>442.8044322942003</real>
					<key>srcPointY</key>
					<real>236.42690395677496</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.79395280454554806</real>
				<key>green</key>
				<real>0.81327956208547192</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>484.6953125</real>
			<key>y</key>
			<real>243</real>
		</dict>
		<key>Walk_Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>384.49606038028094</real>
					<key>controlPoint1Y</key>
					<real>340.12307772591123</real>
					<key>controlPoint2X</key>
					<real>422.90436259010562</real>
					<key>controlPoint2Y</key>
					<real>277.99462472369822</real>
					<key>dstPointX</key>
					<real>450.3336651429006</real>
					<key>dstPointY</key>
					<real>255.58670743323006</real>
					<key>srcPointX</key>
					<real>356.9710223570994</real>
					<key>srcPointY</key>
					<real>362.41329256676994</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>322</real>
			<key>y</key>
			<real>375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
