<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Calc_BallAngle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>173.83962427455094</real>
					<key>controlPoint1Y</key>
					<real>211.47638091693739</real>
					<key>controlPoint2X</key>
					<real>151.16037572544906</real>
					<key>controlPoint2Y</key>
					<real>308.52361908306261</real>
					<key>dstPointX</key>
					<real>131.19094827278045</real>
					<key>dstPointY</key>
					<real>353.70697008708049</real>
					<key>srcPointX</key>
					<real>193.80905172721955</real>
					<key>srcPointY</key>
					<real>166.29302991291951</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>372.3075183724668</real>
					<key>controlPoint1Y</key>
					<real>121.13915891113012</real>
					<key>controlPoint2X</key>
					<real>602.6924816275332</real>
					<key>controlPoint2Y</key>
					<real>65.860841088869904</real>
					<key>dstPointX</key>
					<real>718.85547786479913</real>
					<key>dstPointY</key>
					<real>42.881228403094894</real>
					<key>srcPointX</key>
					<real>256.14452213520082</real>
					<key>srcPointY</key>
					<real>144.11877159690511</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>212.3046875</real>
			<key>y</key>
			<real>148</real>
		</dict>
		<key>Decide_Long</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>187.75079775270868</real>
					<key>controlPoint1Y</key>
					<real>372.71416324658293</real>
					<key>controlPoint2X</key>
					<real>247.24920224729132</real>
					<key>controlPoint2Y</key>
					<real>374.28583675341713</real>
					<key>dstPointX</key>
					<real>277.0046351666208</real>
					<key>dstPointY</key>
					<real>374.71294823072805</real>
					<key>srcPointX</key>
					<real>157.9953648333792</real>
					<key>srcPointY</key>
					<real>372.28705176927195</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>113</real>
			<key>y</key>
			<real>372.3046875</real>
		</dict>
		<key>Goal_Approach</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>763</real>
			<key>y</key>
			<real>39</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>129.84868127098841</real>
					<key>controlPoint1Y</key>
					<real>90.768805954739733</real>
					<key>controlPoint2X</key>
					<real>154.15131872901156</real>
					<key>controlPoint2Y</key>
					<real>128.23119404526028</real>
					<key>dstPointX</key>
					<real>172.57028410955087</real>
					<key>dstPointY</key>
					<real>138.36162500455688</real>
					<key>srcPointX</key>
					<real>111.42971589044912</real>
					<key>srcPointY</key>
					<real>80.638374995443115</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>72</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>83</real>
			<key>y</key>
			<real>559</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>394.08581988752178</real>
					<key>controlPoint1Y</key>
					<real>219.57956745078795</real>
					<key>controlPoint2X</key>
					<real>302.91418011247822</real>
					<key>controlPoint2Y</key>
					<real>171.42043254921208</real>
					<key>dstPointX</key>
					<real>254.50025520579973</real>
					<key>dstPointY</key>
					<real>154.57309604322504</real>
					<key>srcPointX</key>
					<real>442.4997447942003</real>
					<key>srcPointY</key>
					<real>236.42690395677496</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.79395280454554806</real>
				<key>green</key>
				<real>0.81327956208547192</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>484.6953125</real>
			<key>y</key>
			<real>243</real>
		</dict>
		<key>Walk_Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>384.49606038028094</real>
					<key>controlPoint1Y</key>
					<real>340.12307772591123</real>
					<key>controlPoint2X</key>
					<real>422.50393961971906</real>
					<key>controlPoint2Y</key>
					<real>277.87692227408877</real>
					<key>dstPointX</key>
					<real>450.0289776429006</real>
					<key>dstPointY</key>
					<real>255.58670743323006</real>
					<key>srcPointX</key>
					<real>356.9710223570994</real>
					<key>srcPointY</key>
					<real>362.41329256676994</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>322</real>
			<key>y</key>
			<real>375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
