<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Extra_Time</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>817.73643861858238</real>
					<key>controlPoint1Y</key>
					<real>475.84969166739256</real>
					<key>controlPoint2X</key>
					<real>710.70825302895184</real>
					<key>controlPoint2Y</key>
					<real>326.05026868327195</real>
					<key>dstPointX</key>
					<real>636.4948028889246</real>
					<key>dstPointY</key>
					<real>257.47328311084175</real>
					<key>srcPointX</key>
					<real>891.94988875860963</real>
					<key>srcPointY</key>
					<real>544.42667723982277</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>925</real>
			<key>y</key>
			<real>558</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>335.93748517626665</real>
					<key>controlPoint1Y</key>
					<real>193.30863881082794</real>
					<key>controlPoint2X</key>
					<real>362.06250906265319</real>
					<key>controlPoint2Y</key>
					<real>193.16013243316499</real>
					<key>dstPointX</key>
					<real>385.00013365705996</real>
					<key>dstPointY</key>
					<real>193.12898834002931</real>
					<key>srcPointX</key>
					<real>313.24986035141666</real>
					<key>srcPointY</key>
					<real>193.3397829039636</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>146.10791701560973</real>
					<key>controlPoint1Y</key>
					<real>333.89615534095719</real>
					<key>controlPoint2X</key>
					<real>146.80270755672666</real>
					<key>controlPoint2Y</key>
					<real>359.9996240104598</real>
					<key>dstPointX</key>
					<real>148.74386771908092</real>
					<key>dstPointY</key>
					<real>382.88294006378413</real>
					<key>srcPointX</key>
					<real>148.14744711261113</real>
					<key>srcPointY</key>
					<real>311.02340935226221</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.81549726112249021</real>
				<key>red</key>
				<real>0.7811458140956683</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>246</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>312.5</real>
			<key>x</key>
			<real>161.75</real>
			<key>y</key>
			<real>193.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>17.5</real>
					<key>controlPoint1Y</key>
					<real>23.5</real>
					<key>controlPoint2X</key>
					<real>45.743794910992605</real>
					<key>controlPoint2Y</key>
					<real>82.07201319085955</real>
					<key>dstPointX</key>
					<real>63.759942235397489</real>
					<key>dstPointY</key>
					<real>103.50606593314102</real>
					<key>srcPointX</key>
					<real>17.5</real>
					<key>srcPointY</key>
					<real>23.5</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>18</real>
			<key>y</key>
			<real>24</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Quiet</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>418.75218142502007</real>
					<key>controlPoint1Y</key>
					<real>363.73825277683733</real>
					<key>controlPoint2X</key>
					<real>385.19690520532788</real>
					<key>controlPoint2Y</key>
					<real>537.52549068616815</real>
					<key>dstPointX</key>
					<real>356.22063315531364</real>
					<key>dstPointY</key>
					<real>630.31841749614034</real>
					<key>srcPointX</key>
					<real>463.4015614341975</real>
					<key>srcPointY</key>
					<real>277.38673586674855</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>562.02930783999454</real>
					<key>controlPoint1Y</key>
					<real>327.36005827698801</real>
					<key>controlPoint2X</key>
					<real>555.97069216000546</real>
					<key>controlPoint2Y</key>
					<real>391.13994172301199</real>
					<key>dstPointX</key>
					<real>563.08301268413425</real>
					<key>dstPointY</key>
					<real>431.91315852081931</real>
					<key>srcPointX</key>
					<real>554.91698731586575</real>
					<key>srcPointY</key>
					<real>286.58684147918069</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>382.16205793292386</real>
					<key>controlPoint1Y</key>
					<real>347.01928046181803</real>
					<key>controlPoint2X</key>
					<real>344.14602562079239</real>
					<key>controlPoint2Y</key>
					<real>528.86067529684203</real>
					<key>dstPointX</key>
					<real>331.52959067709617</real>
					<key>dstPointY</key>
					<real>626.77888485631411</real>
					<key>srcPointX</key>
					<real>442.04731587909453</real>
					<key>srcPointY</key>
					<real>268.527840962075</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92182197398190036</real>
				<key>green</key>
				<real>0.92182197398190036</real>
				<key>red</key>
				<real>0.92182197398190036</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>530</real>
			<key>y</key>
			<real>193</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Retry</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>205.32182405709185</real>
					<key>controlPoint1Y</key>
					<real>362.1236130083451</real>
					<key>controlPoint2X</key>
					<real>206.80850187503802</real>
					<key>controlPoint2Y</key>
					<real>331.3147256250594</real>
					<key>dstPointX</key>
					<real>200.57455309383218</real>
					<key>dstPointY</key>
					<real>307.55949081119297</real>
					<key>srcPointX</key>
					<real>198.89844824022711</real>
					<key>srcPointY</key>
					<real>385.84525768026924</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>161</real>
			<key>y</key>
			<real>477.54296875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>774.49141461554063</real>
					<key>controlPoint1Y</key>
					<real>538.68538675569187</real>
					<key>controlPoint2X</key>
					<real>838.04677851288511</real>
					<key>controlPoint2Y</key>
					<real>552.01414872651992</real>
					<key>dstPointX</key>
					<real>880.20781309220843</real>
					<key>dstPointY</key>
					<real>556.08012387141014</real>
					<key>srcPointX</key>
					<real>732.33038003621732</real>
					<key>srcPointY</key>
					<real>534.61941161080165</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.9980924880955292</real>
				<key>red</key>
				<real>0.7805750696521474</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>588</real>
			<key>y</key>
			<real>525.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>566.34096306311824</real>
					<key>controlPoint1Y</key>
					<real>666.39359176736707</real>
					<key>controlPoint2X</key>
					<real>768.29038835917527</real>
					<key>controlPoint2Y</key>
					<real>593.30382210293453</real>
					<key>dstPointX</key>
					<real>881.51589185996784</real>
					<key>dstPointY</key>
					<real>563.1473563012529</real>
					<key>srcPointX</key>
					<real>453.11545956232573</real>
					<key>srcPointY</key>
					<real>696.5500575690487</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.86751474739494239</real>
				<key>green</key>
				<real>0.7826385340160249</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>313</real>
			<key>y</key>
			<real>721</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
