<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>126.64968152866243</real>
					<key>controlPoint1Y</key>
					<real>92.656050955414003</real>
					<key>controlPoint2X</key>
					<real>157.23281733635901</real>
					<key>controlPoint2Y</key>
					<real>56.336712322511644</real>
					<key>dstPointX</key>
					<real>175.99359699615957</real>
					<key>dstPointY</key>
					<real>63.267307286612024</real>
					<key>srcPointX</key>
					<real>109.83439490445861</real>
					<key>srcPointY</key>
					<real>81.828025477707001</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>72</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>526</real>
		</dict>
		<key>StartSpinGoalie</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>934.50185359538875</real>
					<key>controlPoint1Y</key>
					<real>481.53784173182316</real>
					<key>controlPoint2X</key>
					<real>749.35134053433262</real>
					<key>controlPoint2Y</key>
					<real>442.08020710234206</real>
					<key>dstPointX</key>
					<real>668.66937320852935</real>
					<key>dstPointY</key>
					<real>469.66759655811626</real>
					<key>srcPointX</key>
					<real>1008.7455412806071</real>
					<key>srcPointY</key>
					<real>439.60314550726105</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1046.6953125</real>
			<key>y</key>
			<real>430</real>
		</dict>
		<key>StartSpinPlayers</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>504.71654419883123</real>
					<key>controlPoint1Y</key>
					<real>359.2199359026468</real>
					<key>controlPoint2X</key>
					<real>547.00613140386611</real>
					<key>controlPoint2Y</key>
					<real>448.06346212885506</real>
					<key>dstPointX</key>
					<real>587.5778700581169</real>
					<key>dstPointY</key>
					<real>467.57424748255801</real>
					<key>srcPointX</key>
					<real>469.1661492997589</real>
					<key>srcPointY</key>
					<real>331.59918020938034</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>69</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>94</real>
			<key>x</key>
			<real>436</real>
			<key>y</key>
			<real>313.5</real>
		</dict>
		<key>Start_GoalTrackerMachine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>523.49465457200313</real>
					<key>controlPoint1Y</key>
					<real>62.449251493478982</real>
					<key>controlPoint2X</key>
					<real>555.04120505486276</real>
					<key>controlPoint2Y</key>
					<real>82.559338400718133</real>
					<key>dstPointX</key>
					<real>575.00400624603276</real>
					<key>dstPointY</key>
					<real>83.778587596666199</real>
					<key>srcPointX</key>
					<real>503.49591602993752</real>
					<key>srcPointY</key>
					<real>62.224625746739491</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>139.5</real>
			<key>x</key>
			<real>438.75</real>
			<key>y</key>
			<real>62</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>849.83966084041629</real>
					<key>controlPoint1Y</key>
					<real>164.44747333053806</real>
					<key>controlPoint2X</key>
					<real>1020.1198586141176</real>
					<key>controlPoint2Y</key>
					<real>174.31576441112026</real>
					<key>dstPointX</key>
					<real>1027.180793107354</real>
					<key>dstPointY</key>
					<real>228.2461209921384</real>
					<key>srcPointX</key>
					<real>844.62115676328438</real>
					<key>srcPointY</key>
					<real>110.30777096646423</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>773.13167294623031</real>
					<key>controlPoint1Y</key>
					<real>195.38751189957912</real>
					<key>controlPoint2X</key>
					<real>557.19033265368387</real>
					<key>controlPoint2Y</key>
					<real>248.14102763193372</real>
					<key>dstPointX</key>
					<real>472.14413773509148</real>
					<key>dstPointY</key>
					<real>298.47493519406623</real>
					<key>srcPointX</key>
					<real>818.44710632960664</real>
					<key>srcPointY</key>
					<real>107.56457060357558</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>839.65234375</real>
			<key>y</key>
			<real>88.66015625</real>
		</dict>
		<key>StopTurning</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>627</real>
			<key>y</key>
			<real>475.6953125</real>
		</dict>
		<key>Turn_Head_To_Goal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>291.46971182889064</real>
					<key>controlPoint1Y</key>
					<real>69.048626916810193</real>
					<key>controlPoint2X</key>
					<real>348.4732865039648</real>
					<key>controlPoint2Y</key>
					<real>74.667291029577356</real>
					<key>dstPointX</key>
					<real>375.60721255564994</real>
					<key>dstPointY</key>
					<real>67.297397410086049</real>
					<key>srcPointX</key>
					<real>263.35807946605422</real>
					<key>srcPointY</key>
					<real>69.597626768963508</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>216.8046875</real>
			<key>y</key>
			<real>70</real>
		</dict>
		<key>Walk_1m</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1124.0690480521678</real>
					<key>controlPoint1Y</key>
					<real>245.11319824467094</real>
					<key>controlPoint2X</key>
					<real>1136.6976541224324</real>
					<key>controlPoint2Y</key>
					<real>418.40154499331675</real>
					<key>dstPointX</key>
					<real>1092.4682788074431</real>
					<key>dstPointY</key>
					<real>426.36263016420878</real>
					<key>srcPointX</key>
					<real>1079.17259768231</real>
					<key>srcPointY</key>
					<real>247.09442565192816</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1007.6118111832762</real>
					<key>controlPoint1Y</key>
					<real>404.10177919927833</real>
					<key>controlPoint2X</key>
					<real>614.72420427921713</real>
					<key>controlPoint2Y</key>
					<real>331.04818422709974</real>
					<key>dstPointX</key>
					<real>477.76808661300197</real>
					<key>dstPointY</key>
					<real>316.5958145190736</real>
					<key>srcPointX</key>
					<real>1026.7667861396294</real>
					<key>srcPointY</key>
					<real>267.72386276556421</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1032.6953125</real>
			<key>y</key>
			<real>248</real>
		</dict>
		<key>Walk_2m</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>697.78253168699462</real>
					<key>controlPoint1Y</key>
					<real>93.342469651894504</real>
					<key>controlPoint2X</key>
					<real>771.71893249672894</real>
					<key>controlPoint2Y</key>
					<real>116.90203422657054</real>
					<key>dstPointX</key>
					<real>801.2244899300606</real>
					<key>dstPointY</key>
					<real>99.287985908143398</real>
					<key>srcPointX</key>
					<real>663.83062066970672</real>
					<key>srcPointY</key>
					<real>88.041492771197639</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>620</real>
			<key>y</key>
			<real>85.33984375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
