<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>126.64968152866243</real>
					<key>controlPoint1Y</key>
					<real>92.656050955414003</real>
					<key>controlPoint2X</key>
					<real>158.26476419045224</real>
					<key>controlPoint2Y</key>
					<real>56.188593670620641</real>
					<key>dstPointX</key>
					<real>176.97015949615957</real>
					<key>dstPointY</key>
					<real>63.267307286612024</real>
					<key>srcPointX</key>
					<real>109.83439490445861</real>
					<key>srcPointY</key>
					<real>81.828025477707001</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.93629807692307687</real>
				<key>green</key>
				<real>0.93629807692307687</real>
				<key>red</key>
				<real>0.93629807692307687</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>72</real>
			<key>y</key>
			<real>71</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>526</real>
		</dict>
		<key>StartSpinGoalie</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>936.41776354225931</real>
					<key>controlPoint1Y</key>
					<real>483.04623176310429</real>
					<key>controlPoint2X</key>
					<real>751.60048418757106</real>
					<key>controlPoint2Y</key>
					<real>449.65653691062596</real>
					<key>dstPointX</key>
					<real>668.66937320852935</real>
					<key>dstPointY</key>
					<real>471.19103405811626</real>
					<key>srcPointX</key>
					<real>1010.2689787806071</real>
					<key>srcPointY</key>
					<real>439.60314550726105</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1046.6953125</real>
			<key>y</key>
			<real>430</real>
		</dict>
		<key>StartSpinPlayers</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>504.94367872223188</real>
					<key>controlPoint1Y</key>
					<real>359.39640728076137</real>
					<key>controlPoint2X</key>
					<real>545.42402854193551</real>
					<key>controlPoint2Y</key>
					<real>452.49132807134777</real>
					<key>dstPointX</key>
					<real>587.5778700581169</real>
					<key>dstPointY</key>
					<real>469.09768498255801</real>
					<key>srcPointX</key>
					<real>469.1661492997589</real>
					<key>srcPointY</key>
					<real>331.59918020938034</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>69</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>94</real>
			<key>x</key>
			<real>436</real>
			<key>y</key>
			<real>313.5</real>
		</dict>
		<key>Start_GoalTrackerMachine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>523.49465457200313</real>
					<key>controlPoint1Y</key>
					<real>62.449251493478982</real>
					<key>controlPoint2X</key>
					<real>555.21394396317692</real>
					<key>controlPoint2Y</key>
					<real>79.189137914597609</real>
					<key>dstPointX</key>
					<real>575.00400624603276</real>
					<key>dstPointY</key>
					<real>82.079368846666199</real>
					<key>srcPointX</key>
					<real>503.49591602993752</real>
					<key>srcPointY</key>
					<real>62.224625746739491</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>139.5</real>
			<key>x</key>
			<real>438.75</real>
			<key>y</key>
			<real>62</real>
		</dict>
		<key>Stop</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>852.95795091936156</real>
					<key>controlPoint1Y</key>
					<real>165.71878250037679</real>
					<key>controlPoint2X</key>
					<real>1023.4981677954432</real>
					<key>controlPoint2Y</key>
					<real>174.38153182047509</real>
					<key>dstPointX</key>
					<real>1028.704230607354</real>
					<key>dstPointY</key>
					<real>228.2461209921384</real>
					<key>srcPointX</key>
					<real>846.35943801328438</real>
					<key>srcPointY</key>
					<real>112.00698971646423</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>780.72545149298332</real>
					<key>controlPoint1Y</key>
					<real>200.06130714248457</real>
					<key>controlPoint2X</key>
					<real>557.34223250402044</real>
					<key>controlPoint2Y</key>
					<real>248.05112692523119</real>
					<key>dstPointX</key>
					<real>472.14413773509148</real>
					<key>dstPointY</key>
					<real>298.47493519406623</real>
					<key>srcPointX</key>
					<real>820.18538757960664</real>
					<key>srcPointY</key>
					<real>109.26378935357558</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>839.65234375</real>
			<key>y</key>
			<real>88.66015625</real>
		</dict>
		<key>StopTurning</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>627</real>
			<key>y</key>
			<real>475.6953125</real>
		</dict>
		<key>Turn_Head_To_Goal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>292.20244868633654</real>
					<key>controlPoint1Y</key>
					<real>69.064616849083706</real>
					<key>controlPoint2X</key>
					<real>348.70884142150328</real>
					<key>controlPoint2Y</key>
					<real>74.603311542034703</real>
					<key>dstPointX</key>
					<real>375.60721255564994</real>
					<key>dstPointY</key>
					<real>67.297397410086049</real>
					<key>srcPointX</key>
					<real>264.33464196605422</real>
					<key>srcPointY</key>
					<real>69.597626768963508</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>216.8046875</real>
			<key>y</key>
			<real>70</real>
		</dict>
		<key>Walk_1m</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1125.5952284025857</real>
					<key>controlPoint1Y</key>
					<real>245.17636256101349</real>
					<key>controlPoint2X</key>
					<real>1138.2654264417358</real>
					<key>controlPoint2Y</key>
					<real>418.65191626749271</real>
					<key>dstPointX</key>
					<real>1093.9917163074431</real>
					<key>dstPointY</key>
					<real>426.36263016420878</real>
					<key>srcPointX</key>
					<real>1080.69603518231</real>
					<key>srcPointY</key>
					<real>247.09442565192816</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1013.7163639694604</real>
					<key>controlPoint1Y</key>
					<real>405.04860363115165</real>
					<key>controlPoint2X</key>
					<real>615.1014712252462</real>
					<key>controlPoint2Y</key>
					<real>331.08799552925655</real>
					<key>dstPointX</key>
					<real>477.76808661300197</real>
					<key>dstPointY</key>
					<real>316.5958145190736</real>
					<key>srcPointX</key>
					<real>1028.2902236396294</real>
					<key>srcPointY</key>
					<real>267.72386276556421</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1032.6953125</real>
			<key>y</key>
			<real>248</real>
		</dict>
		<key>Walk_2m</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>698.61947165129845</real>
					<key>controlPoint1Y</key>
					<real>88.739374106011311</real>
					<key>controlPoint2X</key>
					<real>774.77375413996106</real>
					<key>controlPoint2Y</key>
					<real>121.514979982055</real>
					<key>dstPointX</key>
					<real>802.9627711800606</real>
					<key>dstPointY</key>
					<real>100.9872046581434</real>
					<key>srcPointX</key>
					<real>663.83062066970672</real>
					<key>srcPointY</key>
					<real>86.342274021197639</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>620</real>
			<key>y</key>
			<real>85.33984375</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
