<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Button_Off</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>238.79963092709033</real>
					<key>controlPoint1Y</key>
					<real>227.24226684080134</real>
					<key>controlPoint2X</key>
					<real>348.93999332219585</real>
					<key>controlPoint2Y</key>
					<real>152.31982232953698</real>
					<key>dstPointX</key>
					<real>407.64367425479702</real>
					<key>dstPointY</key>
					<real>113.09400392450458</real>
					<key>srcPointX</key>
					<real>175.36299393266046</real>
					<key>srcPointY</key>
					<real>258.23549305909216</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>135.04296875</real>
			<key>y</key>
			<real>266.9609375</real>
		</dict>
		<key>Button_On</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>445.35275334014949</real>
					<key>controlPoint1Y</key>
					<real>154.25506423059349</real>
					<key>controlPoint2X</key>
					<real>444.6557891444146</real>
					<key>controlPoint2Y</key>
					<real>218.79351069847897</real>
					<key>dstPointX</key>
					<real>446.05205396485906</real>
					<key>dstPointY</key>
					<real>251.01874702704507</real>
					<key>srcPointX</key>
					<real>445.20547342214041</real>
					<key>srcPointY</key>
					<real>121.99992943771908</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>444.95703125</real>
			<key>y</key>
			<real>102</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>229.71679724566215</real>
					<key>controlPoint1Y</key>
					<real>98.590526534828186</real>
					<key>controlPoint2X</key>
					<real>343.56371675646812</real>
					<key>controlPoint2Y</key>
					<real>96.285741485978335</real>
					<key>dstPointX</key>
					<real>400.21030537873855</real>
					<key>dstPointY</key>
					<real>100.51408976445735</real>
					<key>srcPointX</key>
					<real>172.91342476665659</real>
					<key>srcPointY</key>
					<real>98.893522766170307</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>132.02343450648115</real>
					<key>controlPoint1Y</key>
					<real>152.19759336463059</real>
					<key>controlPoint2X</key>
					<real>132.95233871488756</real>
					<key>controlPoint2Y</key>
					<real>213.74724303535396</real>
					<key>dstPointX</key>
					<real>133.82270841631998</real>
					<key>dstPointY</key>
					<real>247.00588261197237</real>
					<key>srcPointX</key>
					<real>130.31310586483633</real>
					<key>srcPointY</key>
					<real>118.97155800315315</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>128.04296875</real>
			<key>y</key>
			<real>99</real>
		</dict>
		<key>Wait_Release</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>345.68671982819751</real>
					<key>controlPoint1Y</key>
					<real>264.32402751768228</real>
					<key>controlPoint2X</key>
					<real>237.33738508389521</real>
					<key>controlPoint2Y</key>
					<real>270.54951445642399</real>
					<key>dstPointX</key>
					<real>179.86701154725057</real>
					<key>dstPointY</key>
					<real>267.91434352949784</real>
					<key>srcPointX</key>
					<real>403.00419923719915</real>
					<key>srcPointY</key>
					<real>269.27322083116803</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>448</real>
			<key>y</key>
			<real>271</real>
		</dict>
	</dict>
</dict>
</plist>
