<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Button_Off</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>231.83924434100518</real>
					<key>controlPoint1Y</key>
					<real>232.276863415061</real>
					<key>controlPoint2X</key>
					<real>348.8913412304567</real>
					<key>controlPoint2Y</key>
					<real>152.27854829962766</real>
					<key>dstPointX</key>
					<real>407.60070550479702</real>
					<key>dstPointY</key>
					<real>113.09400392450458</real>
					<key>srcPointX</key>
					<real>168.40596268266046</real>
					<key>srcPointY</key>
					<real>263.23549305909216</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>128.04296875</real>
			<key>y</key>
			<real>272</real>
		</dict>
		<key>Button_On</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>445.27898603630052</real>
					<key>controlPoint1Y</key>
					<real>154.25526600734409</real>
					<key>controlPoint2X</key>
					<real>444.6557858609853</real>
					<key>controlPoint2Y</key>
					<real>218.79343491823704</real>
					<key>dstPointX</key>
					<real>446.05205396485906</real>
					<key>dstPointY</key>
					<real>251.01874702704507</real>
					<key>srcPointX</key>
					<real>445.16250467214041</real>
					<key>srcPointY</key>
					<real>121.99992943771908</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>444.95703125</real>
			<key>y</key>
			<real>102</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>229.7382840163483</real>
					<key>controlPoint1Y</key>
					<real>98.590930612797905</real>
					<key>controlPoint2X</key>
					<real>343.54187166341165</real>
					<key>controlPoint2Y</key>
					<real>96.291369291728955</real>
					<key>dstPointX</key>
					<real>400.16733662873855</real>
					<key>dstPointY</key>
					<real>100.51408976445735</real>
					<key>srcPointX</key>
					<real>172.95639351665659</real>
					<key>srcPointY</key>
					<real>98.893522766170307</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>132.09808837669351</real>
					<key>controlPoint1Y</key>
					<real>152.19594720684026</real>
					<key>controlPoint2X</key>
					<real>126.02705362428608</real>
					<key>controlPoint2Y</key>
					<real>218.74642740808594</real>
					<key>dstPointX</key>
					<real>126.86567716631998</real>
					<key>dstPointY</key>
					<real>252.00588261197237</real>
					<key>srcPointX</key>
					<real>130.35607461483633</real>
					<key>srcPointY</key>
					<real>118.97155800315315</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>128.04296875</real>
			<key>y</key>
			<real>99</real>
		</dict>
		<key>Wait_Release</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>345.69742085239506</real>
					<key>controlPoint1Y</key>
					<real>264.32495151919022</real>
					<key>controlPoint2X</key>
					<real>230.36973955265216</real>
					<key>controlPoint2Y</key>
					<real>275.54650696291213</real>
					<key>dstPointX</key>
					<real>172.90998029725057</real>
					<key>dstPointY</key>
					<real>272.91434352949784</real>
					<key>srcPointX</key>
					<real>403.00419923719915</real>
					<key>srcPointY</key>
					<real>269.27322083116803</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>448</real>
			<key>y</key>
			<real>271</real>
		</dict>
	</dict>
</dict>
</plist>
