<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Button_Off</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>200.77177422520941</real>
					<key>controlPoint1Y</key>
					<real>247.47707911748304</real>
					<key>controlPoint2X</key>
					<real>377.63753006931904</real>
					<key>controlPoint2Y</key>
					<real>133.04080838148994</real>
					<key>dstPointX</key>
					<real>407.55773675479702</real>
					<key>dstPointY</key>
					<real>113.09400392450458</real>
					<key>srcPointX</key>
					<real>168.44893143266046</real>
					<key>srcPointY</key>
					<real>263.23549305909216</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>128.04296875</real>
			<key>y</key>
			<real>272</real>
		</dict>
		<key>Button_On</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>445.17266299864724</real>
					<key>controlPoint1Y</key>
					<real>141.99985887543815</real>
					<key>controlPoint2X</key>
					<real>445.18630017146307</real>
					<key>controlPoint2Y</key>
					<real>231.03749405409013</real>
					<key>dstPointX</key>
					<real>446.05205396485906</real>
					<key>dstPointY</key>
					<real>251.01874702704507</real>
					<key>srcPointX</key>
					<real>445.11953592214041</real>
					<key>srcPointY</key>
					<real>121.99992943771908</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>444.95703125</real>
			<key>y</key>
			<real>102</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>201.28311460160606</real>
					<key>controlPoint1Y</key>
					<real>98.742941846612311</real>
					<key>controlPoint2X</key>
					<real>371.91838448566841</real>
					<key>controlPoint2Y</key>
					<real>98.41270412922826</real>
					<key>dstPointX</key>
					<real>400.12436787873855</real>
					<key>dstPointY</key>
					<real>100.51408976445735</real>
					<key>srcPointX</key>
					<real>172.99936226665659</real>
					<key>srcPointY</key>
					<real>98.893522766170307</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>131.46528486031914</real>
					<key>controlPoint1Y</key>
					<real>138.9431160063063</real>
					<key>controlPoint2X</key>
					<real>126.42359965690665</real>
					<key>controlPoint2Y</key>
					<real>232.01176522394474</real>
					<key>dstPointX</key>
					<real>126.90864591631998</real>
					<key>dstPointY</key>
					<real>252.00588261197237</real>
					<key>srcPointX</key>
					<real>130.39904336483633</real>
					<key>srcPointY</key>
					<real>118.97155800315315</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>128.04296875</real>
			<key>y</key>
			<real>99</real>
		</dict>
		<key>Wait_Release</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>375.74345965210006</real>
					<key>controlPoint1Y</key>
					<real>269.64566568275893</real>
					<key>controlPoint2X</key>
					<real>200.18772688839613</real>
					<key>controlPoint2Y</key>
					<real>274.16074388151742</real>
					<key>dstPointX</key>
					<real>172.95294904725057</real>
					<key>dstPointY</key>
					<real>272.91434352949784</real>
					<key>srcPointX</key>
					<real>403.00419923719915</real>
					<key>srcPointY</key>
					<real>269.27322083116803</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>448</real>
			<key>y</key>
			<real>271</real>
		</dict>
	</dict>
</dict>
</plist>
